[2022-05-12 20:23] dwaite commented on #875
The reality is that there are several decisions (including those as part of privacy considerations) which will prevent a full fidelity expression of the data model being exchanged between parties.

Likewise, Presentation Exchange shows that the presentation data model may need extension for usage within an abstractly defined exchange protocol.

If the working group can agree to these two points, w

[2022-05-12 21:55] mwherman2000 commented on #875
Here's a real-life example: a Universal Business Language 2.2 (UBL) schema for an Invoice: https://github.com/mwherman2000/VCTPSPrototypes/blob/main/VCTPSPrototype6/VCTPS.UBL22.Invoice/UBL22CommonAggregateComponents.tsl#L330-L335

A UBL Invoice has between 2 and 6 parties ...what some people think of as _credentialsubjects_.

My position is that there is only one credential subject ...and that's t

[2022-05-14 08:22] vdods opened #877 "VPs and timestamps?"
There's currently no specification for timestamps in VPs, meaning that presenters can't mitigate the risk of replay attack by limiting their presentation validity to a short window during which the verifier verifies the VP.

What's the intended workflow regarding timestamp verification here?  For example, is validFrom and validUntil only for the credential, and the presentation doesn't have any ti

[2022-05-16 18:01] David-Chadwick commented on #875
@mwherman2000 extending your invoice example to the marriage certificate, then the subjectID would be that of the marriage VC and the two spouses would be a set of claims on the certificate. Furthermore, the marriage VC is not the actual marriage certificate - but only a temporary time limited virtual copy of it, with an expiry date. So different marriage certificate VCs could be given to the diff

[2022-05-16 18:15] David-Chadwick commented on #877
The fact that the VCDM does not define timestamps for VPs does not mean that they cannot have them, as VPs are as infinitely extensible as VCs. Our implementation has taken the pragmatic approach of using the same start and end time properties for VPs as for VCs. It might not be standardised yet, but it has a fair chance of being so I would suggest.

[2022-05-16 19:01] msporny commented on #877
There are two mechanisms that can be used to mitigate replay attacks at the digital signature layer. For Data Integrity (was: Linked Data Signatures), all proofs are required to contain a `created` timestamp:

https://w3c-ccg.github.io/data-integrity-spec/#signatures

How much time is allowed to pass before a signature is seen as invalid by a verifier is up to the verifier to determine. Our implem

[2022-05-16 19:18] brentzundel commented on #875
I think the complexity of multiple credential subjects might be somewhat
mitigated if we successfully address credential holders as a separate
entity.

On Mon, May 16, 2022, 12:01 David Chadwick ***@***.***> wrote:

[2022-06-11 22:27] msporny opened #879 "Migrate Appendix C. "Subject-Holder Relationships" to VC Implementation Guide"
The creation of Appendix C. "Subject-Holder Relationships" predated the creation of the VC Implementation Guide and contains material more suited for the Implementation Guide rather than the core specification.

Given that the VC2WG is going to focus on modularizing the specification a bit, and (ideally) reducing the size of the core specification to aid readability, and for the additional reason

[2022-06-11 22:49] msporny opened #880 "Migrate Section 6.3.1 JSON Web Token to separate normative specification"
The VC2WG is focusing on standardizing a variety of cryptosuites. The [VC2WG charter](https://www.w3.org/TR/vc-data-model/#json-web-token) specifically calls out "Cryptosuites for VC-JSON Web Token (JWT)". We should migrate Section 6.3.1 JSON Web Token to a separate normative specification and reduce the section on [proof formats](https://www.w3.org/TR/vc-data-model/#proof-formats) to a series of

[2022-06-11 22:53] msporny commented on #871
Agree that this should be fixed.

[2022-06-15 19:19] OR13 opened #881 "`proof` in `@context` and the use of `@container`"
I've been using [Neo4j](https://neo4j.com/) a lot lately.

One of my favorite features is the ability to preview (framed) JSON-LD.

For example:

[code]

For simple cases this works fine... but when I attempt to apply this to spec compliant verifiable credentials, I get a weird blank node issue with the proof block.

Here is a picture of what I mean:

<img width="2171" alt="Screen Shot 2022-06-15

[2022-06-16 00:51] msporny commented on #881
This states that `proof` will be contained in a separate graph than the default graph. RDF Dataset Canonicalization does this to separate the data you're signing (which is in the default graph) from the proof data (which is in a different graph). Both graphs together constitute an RDF Dataset. We did this to ensure that the signature information didn't pollute the data being signed.

URDNA2012 did

[2022-06-16 11:24] VladimirAlexiev commented on #881
@OR13 can you give the JSONLD you use to make that neo4j graph?
I'll try it in GraphDB.

[2022-06-16 12:15] OR13 commented on #881
Here is the example: https://v.jsld.org/2MSdzhMeTHEeoaL1RUjCULnetM3fLnCvckiBMek9DfNYKke6yYGn3ZFL51tmaXqH4VtVkQCqKUy8GCtorQzxd1Y1Na6oLdgR9pKW4oRoMAEj3dXSRn2c8rCkyfPXJxwNfUMfezVvcCAUVB2BGr6GQYouQZH7tYzb8cq9qk2DGQYtDtbyMFBTSHVxCFEzHRhAmtrNzoi9g8mo4vrooak8uCCWkBENYiHzFpLjNdP3rv3m34nd5CGvaMWxKSahsFV4tauACbDEnLXqpAuVJf2ti6U7pxkeYXEQXAGAuhZYBrCoS81FizGFYkYN3sGEfTrQCZFhw1qycxzRDhVdot8L1A1EXA8xiLsaq7CgiWfN

[2022-06-16 12:22] OR13 commented on #881
@msporny thanks, I figured that is what was happening.

- uri: bnode://genid-95f535e97a5e46e58b107eb7ce611f1c-b1
- uri: bnode://genid-95f535e97a5e46e58b107eb7ce611f1c-b6

^ these are the URIs that neo4j assigns to the blank nodes, so it is possible to query over the gap, between the graphs, you just have to do some string magic.

[2022-06-16 13:07] msporny commented on #881
Hrm, that feels a bit weird. It looks like they're sharing some part of the bnode ID space, but then tacking something on at the end to give them different IDs. We'd have to talk to their core engineering team to understand why they decided to do it that way vs. just use a universal bnode space for graph names in a dataset.

[2022-06-16 15:19] OR13 commented on #881
^ exactly, I suspect that with an updated graph config in neo4j the link would be imported as `_:c14n0` -> `_:c14n1`, but its not clear what the edge should be... I think most folks would expect that edge to exist when importing credential...

[2022-06-17 15:21] TallTed commented on #881
@msporny

I fear I've missed something important along the way...

Are you saying that, in RDF Dataset Canonicalization, "the data being signed" is *always* in the default graph, and not in a named graph?

This is (or will be) problematic for systems (such as Virtuoso) where the default graph is the union of all named graphs (plus, at least in Virtuoso's case, a special not-really-named graph whic

[2022-06-17 15:32] dlongley commented on #881
@TallTed,

No, this is unrelated to RDF Dataset Canonicalization.

As for Data Integrity proofs, the above separation of concerns and process may have been better described by just saying that a proof always exists in its *own named graph* so as to isolate it from other data.

So, whenever you create a proof (when using proof sets as opposed to proof chains), you remove any existing proof named gr

[2022-06-17 15:42] TallTed commented on #881
@dlongley --

"The default graph" seems not to be the correct label for all of the above instances, and even if it were, in Virtuoso (for instance), you cannot "remove any existing proof named graphs from the default graph" unless you are dropping those "existing proof named graphs" from the quad store, because all existing named graphs are part of the default graph (except when specific SPARQL cl

[2022-06-17 15:48] sbutterfield commented on #881
@dlongley,

Sorry to potentially add to the confusion. I think I follow but want to check (this also feels like we're diverging into a separate topic so I can take this elsewhere if you want):

If the proof graph(s) are always decoupled during signing, then the metadata about the signature generation is not part of the signature?
So, if I were to somehow gain control over the DID or become a middl

[2022-06-17 16:00] dlongley commented on #881
@sbutterfield,

I think responding to individual concerns without a comprehensive response (i.e., what the spec says or should say) on the entire process is leading to more confusion here. But at risk of introducing more confusion in just responding to your particular query, a Data Integrity signs over a hash of both the canonicalized dataset (with any existing proofs in the default graph removed)

[2022-06-17 16:05] sbutterfield commented on #881
@dlongley, thank you. That's how I originally had thought about it. Crystal clear now.

[2022-06-17 16:43] TallTed commented on #881
@dlongley --

Still trying to parse this...  It appears that the "both" is misplaced in the sentence and/or the "over a hash of both" is missing one of the things being hashed.  Maybe --

-- or --

-- or --

-- or something I'm not seeing yet...

[2022-06-17 17:04] dlongley commented on #881
@TallTed,

The canonicalized meta data is hashed producing `hash1`. The canonicalized dataset (with any existing proofs in the default graph removed when using "proof sets") is hashed producing `hash2`. The signature is over the concatenation `hash1 + hash2`.

[2022-06-17 21:34] OR13 commented on #881
AFAIK, the "Data Integrity Proofs" or what used to be called. "Linked Data Proofs" have not changed in this regard since 2017...

here is an example where I tested them against Mastodon:

- (javascript) https://github.com/transmute-industries/RsaSignature2017/blob/master/src/common.js
- (ruby) https://github.com/tootsuite/mastodon/blob/cabdbb7f9c1df8007749d07a2e186bb3ad35f62b/app/lib/activitypub/l

[2022-06-18 10:04] peacekeeper commented on #881
I was also working on LD signatures back then when the signatures/proofs still used to be in the same graph as the data, and I remember it felt like the right decision to move the signatures/proofs into their own named graphs as it is now.

[2022-06-20 06:11] VladimirAlexiev commented on #881
@OR13 The example doesn't parse in rdf4j, probably because it doesn't yet support JSON-LD 1.1: https://github.com/eclipse/rdf4j/issues/3654

Jena 4.4.0 2022-01-30 also gave error
[code]
- but jena 4.5.0 (2022-05-01) works ok:
[code]

@TallTed should we post an issue to SPARQL 1.2 "FROM should allow the exclusion of graphs"?

Maybe no, because to fulfill the goal "separate the data you're signing",

[2022-06-20 15:16] TallTed commented on #881
@VladimirAlexiev -- I think there are some scenarios where a `NOT FROM` could be useful, but I don't think signing scenarios are among them.  I don't think I have a strong enough handle on an example scenario of this sort to make the case for `NOT FROM` in the [SPARQL 1.2 wishlist](https://github.com/w3c/sparql-12/issues/), but if you do, I encourage you to add it soon, as action on items in that

[2022-06-20 17:26] OR13 commented on #881
Seems related: https://github.com/search?q=org%3Aneo4j-labs+bnode%3A%2F%2F&type=code

[2022-06-20 17:35] OR13 commented on #881
A simpler one liner to reproduce the issue  (beware it deletes everything, so don't run this outside of a new database):

[code]

[2022-06-20 18:09] OR13 commented on #881
Here is a snippet of CQL that adds a link relationship between the proof node and "similar blank nodes"...

This is an incredibly expensive hacky work around:

[code]

<img width="1099" alt="Screen Shot 2022-06-20 at 1 08 52 PM" src="https://user-images.githubusercontent.com/8295856/174657837-3e8e0c37-4726-4e02-a2a5-d0de12fa0808.png">

[2022-06-20 18:17] OR13 commented on #881
@VladimirAlexiev I had the same issue with JSON-LD v1.1 before... Its a major reason to convert from the standard JSON representation of a credential to the n-quad or framed versions... which seem to be better supported by graph databases.

I suppose the next step should be to create 3 or for VCs and import them all, and then look at the graph again.

I would expect to be able to see that they are

[2022-06-20 19:35] OR13 commented on #881
A much smarter way to join the graphs after import:

[code]

[2022-06-20 20:23] OR13 commented on #881
Importing objects that might contain blank nodes 1 at a time seems to work:
<img width="1732" alt="Screen Shot 2022-06-20 at 3 20 56 PM" src="https://user-images.githubusercontent.com/8295856/174672921-fe3b8f9b-c9ee-46d9-a98a-19abea0fef39.png">

Left hand side:

[code]

Right hand side:

[code]

It's now possible to join by looking at the middle component of the `uri`.

[2022-06-20 20:50] OR13 commented on #881
Unfortunately, this won't help you with Verifiable Presentations...

Because the proofs on the credentials will have a similar blank node identifier as the proof on the presentation:

<img width="1045" alt="Screen Shot 2022-06-20 at 3 47 11 PM" src="https://user-images.githubusercontent.com/8295856/174675865-efc1f7e5-cf20-4da2-8781-178cdca1b77f.png">

Left:

[code]

Right:

[code]

Same problem as

[2022-06-20 21:06] TallTed commented on #881
Blank nodes are extremely useful, just like other forms of pronoun.  However, they are not appropriate for use in all cases; sometimes, a proper noun (a/k/a a URI, URN, IRI, such as a DID) is more appropriate.  I submit that these are such cases.

[2022-06-22 13:55] awoie opened #882 "Add extension mechanism to allow different methods for VP-to-VC / holder binding to next version of standard to allow verification of rightfulness of presentation"
A very common use case in the VC ecosystem is the presentment of VCs as VPs. Usually, the verifier is interested in whether the holder is the legitimate subject of the presented VCs, so they can answer questions such as "does the VP at the time of presentment authenticate the subject of the VC and can we assume the issuer made the same VCs about the `holder` in the VP?". Note, such a decision is s

[2022-06-23 09:13] awoie commented on #882
@peacekeeper Thanks for your feedback. The Data Integrity Proof extension cannot be used (in a satisfactory manner) for the following reasons:
- We would need to define a new suite and we cannot reuse existing Data Integrity Proof suites. This doesn't scale well regarding implementation and specification efforts. I want to allow existing suite such as `Ed25519Signature2020`, `JsonWebSignature2020

[2022-06-23 09:23] awoie commented on #882
Let's use this simple example...

We have a VC with a `vc.credentialSubject.id = "did:example:1"`, and a VP that has a `vp.holder = "did:example:2"' containing the VC. The `proof` of the VP was made by `did:example:2#key-1`. Further, let's assume there is a relationship between `did:example:1` and `did:example:2` in form of a VC that says, both are essentially the same (I know this is a bit sloppy

[2022-06-23 11:44] peacekeeper commented on #882
Hmm I don't really get it.

You say you cannot use a Data Integrity Proof extension because you would have to define a new suite and that this doesn't scale well, and then you say "If we had a holder binding property in the proof (+ some external specification for the corresponding type)". So you would still have to write an extension specification for your holder binding type, no? How does that s

[2022-06-23 11:50] peacekeeper commented on #882
As a side note, if you want to express equivalence between `did:example:1` and `did:example:2`, then that could be expressed via DID document properties and metadata, e.g. [alsoKnownAs](https://www.w3.org/TR/did-core/#also-known-as), [equivalentId](https://www.w3.org/TR/did-core/#dfn-equivalentid), [canonicalId](https://www.w3.org/TR/did-core/#dfn-canonicalid). But doing something similar with a V

[2022-06-23 16:20] awoie commented on #882
I want to allow people to reuse existing Data Integrity Proof specifications, meaning that the `type` in the VP proof stays the same. Also note, this approach would be backwards compatible. Furthermore, since you said the VP proof is there for protecting against tampering and verifying the authorship of the VP (not the VC and not the binding between the VC and VP). This binding would give us a dif

[2022-06-23 16:40] peacekeeper commented on #882
I think I said the opposite, i.e. that holder binding is part of "verifying the authorship", not orthogonal to it. In your initial message you also explain that in VPs with traditional signatures, holder binding is also done via the VP's `proof`, i.e. in cases when _"the `credentialSubject.id` is the same as the `holder` property and the `proof` of the VP authenticates the `holder`"_.

With your p

[2022-06-23 18:04] bumblefudge commented on #882
Over the years, I have actually heard about many different solutions (variously elegant) to what I have come to call the "VP Containing VCs With Different `credentialSubject`s Problem".  I think an extension-registry for properties (or values of one property) in `VP.proof` would be a good idea for allowing interoperability-- however you solve the problem in your own system with only 1 or 2 DID met

[2022-06-23 18:35] OR13 commented on #882
We support the `holder` as an object with an `id` member use case... its very useful when you want to provide a presentation over a name / address, etc... instead of just over a DID.

[2022-06-23 20:23] decentralgabe commented on #882
I'm generally in favor of the idea, though I really dislike having OR types in a specification, it makes it really hard to implement properly in a number of programming languages.

It also encourages the *any* spec, which I refer to as a specification that is so broad, and flexible, that it really ends up defining little: multiple documents that vary wildly can still be 'compliant'. This causes im

[2022-06-23 21:08] bumblefudge commented on #882
Just spitballing here, but what about this upgrade path:

V1: `holder` = string
V2: `holder` = string OR object, but string is deprecated
V2 Implementation Guide: be warned that if `holder` is a string, some implementations MAY infer an implicit `id` or `type`.
V3: holder = object

makes V2 a little hellish to implement if you're working with production VCs and backwards compatibility issues, but

[2022-06-24 08:29] bertvannuffelen opened #883 "usage of json-ld to connect json with RDF"
Hi,

Can someone explain the rationale behind example 2 in the spec?
When pasting this in the json-ld playground zero triples are returned.

That is really odd, as I expected to get an RDF graph out of it.

kr,

Bert

[2022-06-24 08:39] bertvannuffelen commented on #883
My mistake I missed joining lines issue.

[2022-06-24 08:39] #883 closed

[2022-06-24 08:42] peacekeeper commented on #882
Whatever the decision is, I think the `issuer` in a VC and the `holder` in a VP should have the same rules, e.g. string / string OR object / object, etc.

[2022-06-24 08:46] bertvannuffelen opened #884 "example 2 > sec: prefix"
Hi

after investigating the RDF result from example 2 (obtained via json-ld playground), there is a prefix sec: introduced.

`
_:b5 <sec:proofPurpose> <https://w3id.org/security#assertionMethod> _:b4 .
`
This seems odd to me, as sec:proofPurpose is not a valid URI. Can one add  the prefix expansion the contexts?

A quick search on prefixes in the spec did not resulted in any answer.

kr,

Bert

[2022-06-24 09:25] bertvannuffelen opened #885 "vc:credentialSubject semantics"
Hi,

I have encountered implementations of VC were vc:credentialSubject is interpreted as "The person about which claims are made and who owns the credential."

In my understanding of this property this is not the intentional semantics.
But vc:credentialSubject is  a collection of statements (claims) which trust is  cryptographic  proven.
_Subject_ in this property stands for anything in the world

[2022-06-24 09:45] awoie commented on #882
Existing implementations of VP verification only verify the `proof` against the `holder` (if present). They don't verify `vp.holder.id equals vc.credentialSubject.id` which is fine since there is no normative reference in the W3C VC spec to do so. See here for example:
https://github.com/digitalbazaar/vc-js/blob/f473944cb5261b0859457e234f8d22d1df41d269/lib/index.js#L428

A verifier application wou

[2022-06-24 10:31] bertvannuffelen commented on #885
Thanks a lot for the confirmation.

[2022-06-24 10:37] awoie commented on #885
That is one of the reasons why I started this thread https://github.com/w3c/vc-data-model/issues/882 . IMO, it is still a common use case if someone presents VCs as a VP and the verifier needs to check whether at the time of presentment, the original subject (defined by an id or not) of the VC presented the VP.

[2022-06-24 11:01] awoie commented on #882
Upgrade path might be the following...

1. If no `holderBinding` is present -> do exactly what you did before
2. If `holderBinding` is present -> verify binding according to `type` of the `holderBinding` after verifying the VP - VP verification just verifies the `proof` of the VP and the `proof` of the VCs individually but without verifying the correlation between them)
3. If `holder` being a Stri

[2022-06-24 11:52] bertvannuffelen commented on #882
Hi,

I tried to understand the proposed solutions, but maybe this one could also work, or it is a variant of the one being proposed.

----
E.g. lets agree for a VC implementation that the URI: <https://system.com/agent/holder> is the name for the holder of the credential. (This is called skolemization: one gives a name to a concrete item without knowing the real identity.)

Then
[code]

represents

[2022-06-24 14:14] jose-gataca commented on #882
Hi,

I think that part of the premise ```vp.holder.id equals vc.credentialSubject.id``` may be wrong. That may be true in most use cases, but we should consider the cases of Identity Delegation, in which the holder is not the subject of the credentials, but has been properly authorized by him to use them in his name.

In fact, I think the problem that should need to be solved would be ```vp.holder

[2022-06-24 15:25] samu-gataca commented on #882
Hi,
In addition to that it's necessary to ensure the claims shared by any user belongs to him. Till now, I saw 3 different ways to do that:

1.  The user has a unique DID (universal DID) and then all the credentials attached to him have the same DID (holder) so there is no problem to ensure you are the owner for that credentials, but it's a big privacy problem. Although, I heard it in some forums,

[2022-06-24 17:11] awoie commented on #882
We could make the holder binding property a top-level property, so we won't need to change the holder property itself. This would be 100% backward compatible with existing VPs. Further, you demonstrated three options of how other people approach that and one how you would approach it (based on the data agreement specification). These could be all different types of bindings without changing your s

[2022-06-25 10:38] peacekeeper commented on #882
I think @awoie 's explanations here in this thread are really good, so I wouldn't oppose adding some new construct if really needed.

Maybe the idea I mentioned earlier (using DID Resolution and checking alsoKnownAs, equivalentId, canonicalId) would also be "one method out of many" that could be specified as some kind of extension.

I would support aligning the "holder" property with the "issuer"

[2022-06-27 14:22] bertvannuffelen commented on #885
After rereading #882, I am still confused with the above definition.

Consider a diploma (as the examples in the VC spec) then the CredentialSubject is for me the "Diploma" and not the person who has got the diploma.

The holders of this claim are the university that issued the credential and the person that has got the diploma.
The issuer could be the central diploma system of a country.

But the

[2022-06-27 22:24] bertvannuffelen commented on #885
In the practice is must be split then always because the Diploma is always historic information and the personal information on it is historic: people do change name, gender, haircolor, id, residence, etc.

Universally, one cannot rely on that the identification properties of a person when the Diploma was registered are still valid today.
Despite in the real world they are the same person, digital

[2022-06-28 01:49] lemoustachiste commented on #885
If you're going this way then the whole Self Sovereign Identity technology is void by essence. You would need, for it to work,  at any given point in time, and regardless to the fact that you changed gender/family name (the rest does not apply to identity - or anymore because maybe in the 70s you could change haircut, grow a beard and be unrecognizable, ie [Jacques Mesrine](https://www.theguardian

[2022-06-28 12:55] martyr280 opened #886 "id property optional"
Looking for clarification from the group.  I am sure there was a robust discussion around id property, if there is an issue where I can consume more information regarding the decision to make it optional please direct me.

The 1edtech OB 3.0 and CLR 2.0 currently require id for the AchievementCredential, OpenBadgeCredential = VerifiableCredential.  Does this break compliance with the spec and is t

[2022-06-28 19:42] brentzundel commented on #886
The `id` property was made optional so that the data model could be more easily used with ZKP signatures and other cases that support selective disclosure of the signed properties. In these use cases the originally issued VC may have an `id` property, but the VC contained in the Verifiable Presentation may leave it out. In both cases, the VC is still valid according to the data model.

An implemen

[2022-06-28 20:30] #886 closed

[2022-06-28 20:57] msporny opened #887 "What is the action associated with issuing/creating a Verifiable Presentation?"
To create a Verifiable Credential you "Issue a Verifiable Credential".

To create a Verifiable Presentation you "??? a Verifiable Presentation".

What is the verb that the WG would like to use for the creation of the presentation (that is, the Holder bundling one or more VCs into a presentation and then generating a proof on that presentation).

This came out of the discussion from here: https://g

[2022-06-28 21:47] bertvannuffelen opened #888 "vc:proof scope"
Hi,

In the spec there are references to different proofing techniques, but it is unclear for me  what is proofs and how it guarantees that the data is sound.

In example 11  (see https://www.w3.org/TR/vc-data-model/#proofs-signatures) the proof is embedded in the json structure. It is unclear on what representation is the proof build.

[code]

Since the proof is embedded in the json structure, th

[2022-06-28 22:13] brentzundel commented on #887
I say "present" and wince when the sentence ends with the word "presentation"

[2022-06-28 22:16] andrewhughes3000 commented on #887
"prepare" or "assemble"
————————
*Andrew Hughes *CISM CISSP
m +1 250.888.9474
***@***.***

On Tue, Jun 28, 2022 at 3:13 PM Brent Zundel ***@***.***>
wrote:

[2022-06-28 22:24] brentzundel commented on #888
This confusion is the primary reason for the Securing Verifiable Credentials (SVC) 1.0 work item listed under the [Normative Specifications](https://www.w3.org/2022/06/verifiable-credentials-wg-charter.html#normative) section of the VCWG Charter.

[2022-06-29 05:33] bertvannuffelen commented on #888
ok thanks.

[2022-06-29 06:05] bertvannuffelen opened #889 "Are Persistent URI's with https an implementation of VC?"
Hi,

Persistent URIs are URIs which are dereferenceable using content negotation.

So
[code]

would return

[code]

So if the issuer of the diploma, e.g. the university, sets up a PURI service, then
the holder of the diploma could share the PURI as credential.

The verification by the reciever is then simply a https request to this PURI.

The PURI could be made more dynamic if the issuer creates a

[2022-07-01 21:57] clehner commented on #884
Hi @bertvannuffelen,

This is because of #778.
`sec:proofPurpose`, as a [compact IRI](https://json-ld.org/spec/latest/json-ld/#dfn-compact-iris), should have expanded to `https://w3id.org/security#proofPurpose`. But the [term definintion](https://json-ld.org/spec/latest/json-ld/#dfn-term-definitions) (`sec:` → `https://w3id.org/security#`) is missing from the [scoped context](https://json-ld.org/s

[2022-07-04 19:03] andrewwhitehead commented on #887
I've also seen "derive"

[2022-07-05 15:05] David-Chadwick opened #890 "credentialSchema and Selective Disclosure"
There are many different ways of implementing selective disclosure. Some send the whole credential with blinded property names and values, others send atomic credentials, others send assertions and proofs that the assertions are correct etc.
If the verifier receives a selectively disclosed credential which has a credentialSchema property in it, in which some properties are said to be mandatory and

[2022-07-05 21:36] andrewhughes3000 commented on #890
Note: ISO 18013-5 the meaning of "mandatory" in the data structure is that
the mDL app must have that data element in its storage area (i.e. issuers
are required to include that data element when issuing an mDL). It does not
apply to data element request/response with a verifier.
Your question is probably sound, but the example is not.

On Tue, Jul 5, 2022 at 8:05 AM David Chadwick ***@***.***>
wr

[2022-07-06 10:21] mirceanis opened #891 "The explanation about `credentialStatus.type` is broken."
Some of the text that now [appears under `credentialStatus.type`]((https://github.com/w3c/vc-data-model/blob/c83f4793f7df1518e0eb11ba5ec96295c21b3760/index.html#L1858)) actually refers to the whole [`credentialStatus` property](https://www.w3.org/TR/vc-data-model/#status):

[code]

[2022-07-14 17:50] Sakurann opened #893 "add claims metadata (how the identity claims were assured and how they are maintained)"
[Credentials section](https://www.w3.org/TR/vc-data-model/#credentials) says that "the basic components of a verifiable credential" are credential metadata, claims, and proofs.

From the implementation experience, one gap is the absence of "claims metadata". Not the credential metadata, when the VC itself has been issued, but "information about the process conducted to verify a person's identity a

[2022-07-14 20:51] TallTed commented on #893
I think what you're asking for may have already been dealt with, albeit imperfectly, as the [Evidence](https://www.w3.org/TR/vc-data-model/#evidence) property of the VC data model...

[2022-07-19 05:47] RieksJ commented on #893
Claims meta-data can be a variety of things, see e.g. #248.

[2022-07-21 14:41] OR13 commented on #880
PR is up here: https://github.com/w3c/vc-jwt/pull/1

[2022-07-26 17:56] peacekeeper commented on #831
Just a quick note that this issue here could also be relevant to the new RDF Dataset Canonicalization and Hash Working Group: https://www.w3.org/groups/wg/rch

@philarcher

[2022-07-26 20:20] Sakurann commented on #421
Now that we are moving representations out of the core data model, it makes less sense to have a MIME type for a core data model. Suggest we leave this to each representation deliverable

[2022-07-26 20:29] brentzundel commented on #790
I do not believe this Issue calls for changes to the specification that should be made. I am marking the issue `pending close` and recommend closing after 7 days.

[2022-07-26 20:37] brentzundel commented on #791
I propose this issue be closed without further action.

[2022-07-26 20:39] brentzundel commented on #799
I propose closing this issue without further action

[2022-07-26 20:48] brentzundel commented on #248
I believe this is addressed by PR #752

[2022-07-26 20:50] brentzundel commented on #796
I recommend closing this issue without further action

[2022-07-26 20:50] Sakurann commented on #796
I agree

[2022-07-26 20:58] Sakurann commented on #823
`nonce` included in VC/VP ties VC/VP to an issuance/presentation transaction. So how to use it is out of scope of vc-data-model and is defined in other specifications, for example, [OpenID4VP](https://openid.net/specs/openid-4-verifiable-presentations-1_0.html). Suggest to close this issue on that ground.

[2022-07-26 20:58] brentzundel commented on #792
I recommend closing this issue without further action

[2022-07-26 21:02] Sakurann commented on #809
I believe this has been addressed by the existence of a JWT-VC deliverable in a rechartered VC WG.
Suggest people to translate their concerns raised in this thread into the issues in a vc-jwt Github repository.

[2022-07-26 21:04] Sakurann commented on #811
vc-data-model v1.1 already has examples of credential and verifiable credential separately, so we can close this issue.

[2022-07-26 21:05] brentzundel commented on #813
recommend closing without further action

[2022-07-26 21:11] msporny commented on #421
We're moving the way VCs are secured out of the core data model, not the representations (I expect the latter to be a point of debate in the group). At the very least, we have two media types now: "application/vc+ld+json" and "application/vc+json" with the possibility for more, such as "application/vc+json+jwt" defined in the VC-JWT specification.

Fundamentally, we'll still need MIME type guidanc

[2022-07-27 13:54] RieksJ commented on #248
@brentzundel : that doesn't seem to be the case - see https://github.com/w3c/vc-data-model/pull/752#issuecomment-1196793071

[2022-07-27 14:41] TallTed commented on #823
If `nonce` is still included in one or more example(s) in the updated VCDM doc, I think it's worth also adding some prose to the above effect into the updated doc, if such has not been added yet.

[2022-07-27 15:47] SmithSamuelM opened #895 "ACDC (Authentic Chained Data Containers) in VC DM 2.0"
This is an issue to begin the discussion of how ACDCs might be acceptable as a compliant variant of VDDM 2.0.

For reference the current specification for ACDCs may be found here [ACDC Spec](https://github.com/trustoverip/tswg-acdc-specification)

For those who are unfamiliar with ACDCs, these are a variant of the concept of a verifiable credential incubated at the ToIP Foundation. ACDCs have some

[2022-07-27 15:58] jandrieu commented on #248
This isn't about petnames, which I see as an wallet functionality.

This is about providing guidance for displaying the VC, which includes displaying to the holder before they have a chance to add any particular petname.

[2022-07-27 16:12] TallTed commented on #248
Human friendly naming (which is what I see @RieksJ asking for) will not be a reliable hinting mechanism for tools which automatedly display (info about) VCs.

I think @jandrieu's "guidance for displaying the VC" should be provided via the VC's sub-type (base type being VC), which may be standardized elsewhen, and will have plenty of complication, even just considering Driver's License variations t

[2022-07-27 16:21] iherman commented on #248
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-07-27-vcwg#section5-3) on 2022-07-27

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 5.3. Add a summary text as meta information (issue vc-data-model#248)

_See github issue [vc-data-model#248](https://github.com/w3c/vc-data-model/issues/248)._

**Brent Zundel:** Th

[2022-07-27 16:21] iherman commented on #791
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-07-27-vcwg#section5-2) on 2022-07-27

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 5.2. [PROPOSAL] New specification document title: W3C Consensus-based Data Model Specification for Verifiable Credentials (issue vc-data-model#791)

_See github issue [vc-data-model

[2022-07-27 16:21] iherman commented on #823
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-07-27-vcwg#section5-1) on 2022-07-27

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 5.1. nonce property (issue vc-data-model#823)

_See github issue [vc-data-model#823](https://github.com/w3c/vc-data-model/issues/823)._

**Brent Zundel:** kristina and I marked it a

[2022-07-27 17:07] talltree commented on #895
@SmithSamuelM I'm glad to see ACDC on the table here now for the VC 2.0 work. For WG members who may not familiar with Legal Entity Identifiers (LEIs) and GLEIF's [verifiable LEI (vLEI) initiative](https://www.gleif.org/en/vlei/introducing-the-verifiable-lei-vlei), I recommend reviewing it. GLEIF's Regulatory Oversight Committee (ROC) consists of over 70 financial regulators around the world, and

[2022-07-27 19:06] jandrieu opened #896 "Standardize recording a pre-issuance DID Auth VP as evidence property"
It is generally considered best practice to perform a DID Auth *before* issuing a VC with a particular DID as subject.

However, there is currently no agreed-upon way for a verifier to verify that this best practice was performed for a particular VC.

A standard way to record the result of that DID Auth in the VC itself would allow verifiers to prove a DID Auth was performed before issuance.

The

[2022-07-27 19:26] TallTed commented on #895
Without having read too deeply, so possibly missing some pieces, it seems to me that LEIs and vLEIs are more parallel to DIDs than to VCs, though certainly (v)LEIs could be used within VCs, if they are URIs.

I'm not understanding quite what is meant by delegation of (v)LEI credentials, nor how that is contemplated to relate to VCs (or DIDs).

[2022-07-27 19:56] SmithSamuelM commented on #895
@TallTed

 KERI is equivalent to DIDs. Indeed there is a did:keri method. Its just the KERI is built in a namespace agnostic way so its security and resolution properties are independent of a given namespace such as the did:keri namespace

ACDC is equivalent to VCs.  It is like a VC+ because the ACDC includes an edge section that allows chaining which can be used for a delegated chain-of-authority

[2022-07-27 20:05] SmithSamuelM commented on #895
@TallTed. The chaining is not limited to merely chains or trees of delegated authority but includes any relationship. For example in a supply chain, multiple stops along the chain can be represented by attestation ACDCs (no issuee only an issuer) where each stop makes a verifiable confirmation of the prior status of the “chain” by linking back to it.  Think of a data-flow diagram where an item of

[2022-07-27 20:16] TallTed commented on #895
@SmithSamuelM -- From what you're saying, I gather that _verifiable Legal Entity **Identifiers** (vLEIs)_ are not really *identifiers* at all.  That naming is quite unfortunate.

In your last, "no issuee only an issuer" seems inaccurate.  The issuee just happens to be the (new version of the) credential itself, or possibly "to whom it may concern" a/k/a future-reader a/k/a future-holder.

[2022-07-27 23:02] SmithSamuelM commented on #895
@TallTed. I expect that there are some terminological differences. ACDCs are not bags of triples, they are property graphs. In ACDC parlance  the absence of an Issuee Identifier makes the ACDC an untargeted attestation which could be interpreted as to whom it may concern. Whereas the presence of an issuee identifier can have various semantics depending on the ecosystem governance rules for that ty

[2022-07-28 18:37] alenhorvat commented on #882
_We have a VC with a vc.credentialSubject.id = "did:example:1", and a VP that has a vp.holder = "did:example:2" containing the VC. The proof of the VP was made by did:example:2#key-1. Further, let's assume there is a relationship between did:example:1 and did:example:2 in form of a VC that says, both are essentially the same (I know this is a bit sloppy). Even if I included those relationship-VCs

[2022-07-28 21:25] Sakurann commented on #815
suggest closing this. Tabbed examples already have been implemented in vc-data-model-v1.1 and I think in v2.0 securing VC specs will have examples in each of them.

[2022-07-28 21:30] brentzundel commented on #751
The associated PR has been merged, closing

[2022-07-28 21:30] #751 closed

[2022-07-28 21:35] Sakurann commented on #164
the direction discussion in this issue has taken is very different from the original question raised. suggest close this issue and re-open a new issue if we want to discuss extending refreshService in v2

[2022-07-28 21:49] brentzundel commented on #873
I believe this work is complete, closing

[2022-07-28 21:49] #873 closed

[2022-07-28 22:00] brentzundel commented on #885
The Data Model defines a "property for the expression of claims about one or more subjects."
and defines a subject as "A thing about which claims are made."

This makes it clear to me that @bertvannuffelen is correct when he says that, "Subject in this property stands for anything in the world: a diploma, apples, cars, ownership of boats, etc."

I believe this issue should be closed.

[2022-07-28 22:05] brentzundel commented on #889
Verifiable credentials is a data model. Unless the persistent URI is in the format of a verifiable credential, which I do not believe it is, it would not be considered to be a verifiable credential. That is not to say that a persitent URI, when dereferenced, might not serve a valid verifiable credential, but that doesn't seem to be what is being asked.

Recommend closing this issue.

[2022-07-28 22:07] Sakurann commented on #884
Suggest closing this issue, since it is already covered in #778 and continuing discussion there.

[2022-07-28 22:08] brentzundel commented on #887
we could appropriate the word "bikeshed" as a verb for this.
as in, "The holder bikeshedded the presentation to the holder"

[2022-07-28 22:12] Sakurann commented on #880
suggest closing this one since there is already an issue addressing this in vc-jwt repository

[2022-07-29 10:07] awoie commented on #882
The idea is to make this mechanism flexible. I submitted a paper to RWOT that allows the issuer and/or the holder to describe the type of binding they may wish to communicate to the verifier. The type of binding describes how to verify the binding between the holder, the VCs and the VP.  Further, that binding can be provided in the VC and/or the VP. This allows the issuer to define the a set of al

[2022-07-29 10:22] awoie commented on #882
@alenhorvat The `holderBinding` property would solve the following:
- allowing the holder to explicitly tell the verifier that the VP contains VCs where the holder claims the issuer made those claims about the holder. This enables the holder to use no identifier, or a different identifier.
- allowing the holder to tell the verifier how to verify the binding between the holder and the VCs. This sol

[2022-07-29 15:20] brentzundel commented on #791
Based on conversation in the meeting, we are closing this issue

[2022-07-29 15:20] #791 closed

[2022-07-29 15:27] agropper commented on #882
@awoie's [proposal](https://github.com/WebOfTrustInfo/rwot11-the-hague/blob/master/advance-readings/verifiable-credentials-holder-binding.md) advances our discussion and contributes the useful concept of VC issuers constraining the ways the VC might be presented. Allow me to try and continue this conversation without using the H-word.

A presentation of a VC (or VCs) is a request to the Verifier.

[2022-07-30 15:26] msporny commented on #896
This came up during the VC API call last week, transcription is here: https://w3c-ccg.github.io/meetings/2022-07-26-vcapi/#topic-3

I agree that this is an interesting topic to consider, and while it might be overkill for a chunk of use cases, we might want to put in the effort to define this in more detail (for example, in the Implementation Guide).

[2022-07-31 14:28] peacekeeper commented on #896
Could this be related to @awoie 's ideas about holder binding? https://github.com/w3c/vc-data-model/issues/882

Anyway this sounds useful. Not sure if this would go into the VC Data Model spec, or Implemenation Guide, or maybe in a separate "evidence scheme" spec (e.g. DIDAuthVPEvidence2022 ?), just like there are dedicated specs for certain proof types, revocation mechanisms, etc.

[2022-07-31 15:05] msporny opened #901 "Add DataIntegritySignature to v2 context?"
Now that the VCWG work is under way and the CCG Data Integrity specification has been selected as the input document for the Data Integrity work, it's time to start nailing down some implementation directions for the next 2+ years.

One of the first of those considerations is streamlining the way we build Data Integrity cryptosuites and include them in the base VC v2 context. Please find proposals

[2022-08-03 15:57] brentzundel commented on #790
No response since marked `pending close`, closing.

[2022-08-03 15:57] #790 closed, assigned to nobody

[2022-08-03 15:57] brentzundel commented on #799
No response since marked `pending close`, closing.

[2022-08-03 15:57] #799 closed

[2022-08-03 15:58] brentzundel commented on #796
No opposition presented since marked `pending close`, closing.

[2022-08-03 15:58] #796 closed

[2022-08-03 15:58] brentzundel commented on #792
No response since marked `pending close`, closing.

[2022-08-03 15:58] #792 closed

[2022-08-03 15:58] brentzundel commented on #809
No response since marked `pending close`, closing.

[2022-08-03 15:58] #809 closed

[2022-08-03 15:59] brentzundel commented on #813
No response since marked `pending close`, closing.

[2022-08-03 15:59] #813 closed

[2022-08-03 18:42] selfissued commented on #896
This sounds to me like it's bleeding over into protocols - which we're not doing - rather than data model.

[2022-08-03 19:34] jandrieu commented on #896
@selfissued I see it as providing the data model to express a common best practice for identity assurance.

The point is not a protocol that defines how such an evidence property should be constructed, in terms of over-the-wire interactions. Rather, it's how do we represent, in a pure data model, the information that would allow a verifier to verify that a particular form of identity assurance was

[2022-08-03 20:11] bumblefudge commented on #896
Huge fan of the `evidence` property, always wish there was some way of registering, harmonizing, open sourcing, or even just documenting usages of it.

[2022-08-04 01:41] logpo commented on #896
I can definitely see a lot of value in expanding on the `evidence` property. I think these make more sense in the VC extensions registry rather than the core data model spec. Not just for encouraging best practices in auth, but also for expressing existing schemes like NIST or eIDAS levels of assurance.

[2022-08-04 04:34] iherman commented on #712
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-08-03-vcwg#section6-3) on 2022-08-03

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 6.3. More implementation issues (issue vc-data-model#712)

_See github issue [vc-data-model#712](https://github.com/w3c/vc-data-model/issues/712)._

**Brent Zundel:** concerns about

[2022-08-04 04:34] iherman commented on #753
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-08-03-vcwg#section6-6) on 2022-08-03

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 6.6. Default vocab for credentials context v2 (issue vc-data-model#753)

_See github issue [vc-data-model#753](https://github.com/w3c/vc-data-model/issues/753)._

**Michael Jones:**

[2022-08-04 04:34] iherman commented on #764
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-08-03-vcwg#section6-2) on 2022-08-03

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 6.2. URI dereferencing (issue vc-data-model#764)

_See github issue [vc-data-model#764](https://github.com/w3c/vc-data-model/issues/764)._

**Manu Sporny:** My understanding is that

[2022-08-04 04:34] iherman commented on #770
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-08-03-vcwg#section6-4) on 2022-08-03

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 6.4. Bug in the credential vocabulary specification (issue vc-data-model#770)

_See github issue [vc-data-model#770](https://github.com/w3c/vc-data-model/issues/770)._

**Manu Sporn

[2022-08-04 04:34] iherman commented on #778
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-08-03-vcwg#section6-9) on 2022-08-03

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 6.9. Base context v1 missing `sec:` mapping in RsaSignature2018 "@context" (issue vc-data-model#778)

_See github issue [vc-data-model#778](https://github.com/w3c/vc-data-model/issu

[2022-08-04 04:34] iherman commented on #779
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-08-03-vcwg#section6-1) on 2022-08-03

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 6.1. Is a verifiable credential in JSON-LD expand form valid? (issue vc-data-model#779)

_See github issue [vc-data-model#779](https://github.com/w3c/vc-data-model/issues/779)._

**

[2022-08-04 04:34] iherman commented on #843
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-08-03-vcwg#section6-5) on 2022-08-03

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 6.5. Remove `@version` from v2 context (issue vc-data-model#843)

_See github issue [vc-data-model#843](https://github.com/w3c/vc-data-model/issues/843)._

**Manu Sporny:** Core dat

[2022-08-04 04:34] iherman commented on #844
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-08-03-vcwg#section5-6) on 2022-08-03

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 5.6. Rename issuanceDate in v2 and reconsider a JWT claim counterpart (issue vc-data-model#844)

_See github issue [vc-data-model#844](https://github.com/w3c/vc-data-model/issues/84

[2022-08-04 04:34] iherman commented on #875
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-08-03-vcwg#section5-8) on 2022-08-03

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 5.8. Normative definition of credentialSubject including legal types (issue vc-data-model#875)

_See github issue [vc-data-model#875](https://github.com/w3c/vc-data-model/issues/875

[2022-08-04 04:34] iherman commented on #880
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-08-03-vcwg#section5-10) on 2022-08-03

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 5.10. Migrate Section 6.3.1 JSON Web Token to separate normative specification (issue vc-data-model#880)

_See github issue [vc-data-model#880](https://github.com/w3c/vc-data-model

[2022-08-04 04:34] iherman commented on #881
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-08-03-vcwg#section6-7) on 2022-08-03

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 6.7. `proof` in `@context` and the use of `@container` (issue vc-data-model#881)

_See github issue [vc-data-model#881](https://github.com/w3c/vc-data-model/issues/881)._

**Manu Sp

[2022-08-04 04:34] iherman commented on #901
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-08-03-vcwg#section6-10) on 2022-08-03

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 6.10. Add DataIntegritySignature to v2 context? (issue vc-data-model#901)

_See github issue [vc-data-model#901](https://github.com/w3c/vc-data-model/issues/901)._

**Brent Zundel:

[2022-08-04 19:34] clehner commented on #884
My understanding is that is substantive because the context file as-is is already published, such that adding this (prefix definition?) could cause errors if users/applications are depending on it the way it is now.

I'm not sure what you mean about hidden dependencies. `"https://w3id.org/security#"` is a URI/IRI prefix, that is represented by (compressed to) `"sec"` by the [prefix](https://www.w3

[2022-08-05 15:03] brentzundel commented on #815
No comments since marked `pending close`, closing

[2022-08-05 15:03] #815 closed

[2022-08-05 15:04] brentzundel commented on #885
No comments since marked `pending close`, closing

[2022-08-05 15:04] #885 closed

[2022-08-05 15:04] Sakurann commented on #889
Closing since no objections, marked pending close

[2022-08-05 15:04] #889 closed

[2022-08-05 15:04] brentzundel commented on #811
No comments since marked `pending close`, closing

[2022-08-05 15:04] #811 closed

[2022-08-05 15:05] brentzundel commented on #884
No objections since marked `pending close`, closing

[2022-08-05 15:05] #884 closed

[2022-08-06 18:33] jandrieu commented on #896
As mentioned by @logpo and @peacekeeper, I'm not sure where the best landing spot is for this evidence specification. Maybe something like @peacekeeper's DIDAuthVPEvidence2022  would be a good, but separate from core, normative specification produced by the group.

[2022-08-07 16:18] OR13 opened #902 "Define "prover" in addition to "holder"."
Everyone with access to plaintext is a holder... so the term provides very little value.

In protocols, very often the `issuer` is the first holder, and then they `present` to a second `holder` who is often a `subject`.

This second `holder` will then `present` to a `verifier`.

- Issuers issue credentials.
- Provers present credentials using presentations.
- Verifiers verify presentations.
- Hold

[2022-08-07 17:53] dlongley commented on #902
`Presenter` (instead of `prover`) may provide a wider scope to capture more use cases and better match with the fact that they are "presenting".

[2022-08-08 00:44] agropper commented on #902
Requester (instead of holder or prover) is the entity that is making a
request of a verifier. Verifications hardly ever stand alone. I the general
case, the presentation of a credential is part of a request:
- Resource or processing action desired
- Purpose of the request
- Credentials associated with the request
- Payment or refundable deposit to compensate for the significant cost of
policy eval

[2022-08-08 14:58] TallTed commented on #902
`Prover` suggests to me that they are playing a specific role in the cryptographic layers, which they are not in any of the scenarios discussed in this issue (including those in comments), so I think that label would cause more confusion than it may relieve.

Similarly, `requester` feels like it inverts the role typically being played by an entity offering a VC/VP for verification.

`Presenter` se

[2022-08-08 20:55] Sakurann commented on #421
what is the use case when only VC(VP) is returned in HTTP Response, so that these content-types will be used?

Why current content types express how VC is serialized as opposed to how VC is signed? Won't we need something like "application/vc+ld+json+ldp" and "application/vc+ld+json+jwt" too? (not sure ldp is a suitable abbreviation anymore)

[2022-08-08 23:53] msporny commented on #421
The VC API is one that delivers bare VPs, media types for files on disk (VCs/VPs) is another use case.

At present, there are no content types for VCs (we didn't define them in v1.0 because of the structured mediatypes problem, which we are now resolving in IETF).

We won't need a separate media type for Data Integrity protected VCs, it'll just be "application/vc+ld+json", or "application/vc+json"

[2022-08-09 14:45] vongohren commented on #902
We have touched upon similar problems and ended up with owner. But I feel presenter might be a better option.
We did use receiver internally, but verifier can be just as good

[2022-08-09 15:03] agropper commented on #902
Owner is an interesting choice. It accurately reflects the reality that an
owner can delete or take the VC off-line regardless of the subject or
contents. It also matches the common use or Resource Owner in OAuth, GNAP,
etc...

Presenter, Holder, and Requester are different from Owner in terms of
delegation. It makes little sense to delegate ownership and leads to
impersonation and lack of account

[2022-08-09 19:45] David-Chadwick commented on #882
Just a passing thought. We have a type property for the VP. Currently no types other than VerifiablePresentation are defined. We could define different types of VP that say how the VP holder is bound to the VC subjects. So one type could be "holder_is_subject". Another could be "subject_delegated_to_holder". If the VP contains multiple VCs with different bindings then the VP would have multiple ty

[2022-08-09 20:31] OR13 commented on #882
We extend `VerifiablePresentation` as `TraceablePresentation` specifically to allow for correlation in a B2B setting, see: https://w3c-ccg.github.io/traceability-vocab/#workflow-definition

[2022-08-09 20:46] agropper commented on #882
Aren't all of these suggestions variations on how to describe delegation in
an interoperable (as in cost-effective and secure) way? If so, wouldn't it
make sense to specify delegation in the request context rather than just
presentation? As @awoie suggests, the Issuer MAY choose to restrict the
flexibility of a presentation but the Subject and their delegates also need
the ability to attenuate the

[2022-08-10 14:11] SamerW opened #903 "issue in the example EXAMPLE 4: Usage of the id property"
Hi,
I think that there is an error in the example 4 about the type of the degree mentioned https://www.w3.org/TR/vc-data-model/. You are using "type" to indicate the type of the degree but "type" term is not defined in the context (https://www.w3.org/2018/credentials/examples/v1). What is defined in the context above is "degreeType". Here is how it should be and it is resolving correctly

[code]

[2022-08-10 14:23] TallTed commented on #903
@SamerW -- Please edit your initial comment to put code fences around the JSON blocks (here, these should be lines that contain only three backticks, one above and one below the JSON block). This will both make what you've posted more readable (primarily by preserving whitespace), and stop the unwrapped `@type`, `@id`, `@value`, and `@context` from pinging those GitHub users on every update to thi

[2022-08-10 15:17] OR13 commented on #76
I'm in favor of considering the a broader family of data definition langauges, including SHACL, CDDL and JSON Schema

[2022-08-10 15:18] OR13 commented on #760
Seems related to normative requirements for presentations... which really don't exist :)

[2022-08-10 15:24] OR13 opened #904 "Define v2 context"
What should be in it?

[2022-08-10 15:24] OR13 commented on #755
See https://github.com/w3c/vc-data-model/issues/904

[2022-08-10 15:25] msporny commented on #42
There is a proposal for rendering VCs here: https://github.com/WebOfTrustInfo/rwot11-the-hague/blob/master/advance-readings/rendering-verifiable-credentials.md

[2022-08-10 15:25] OR13 commented on #904
I think the v2 context should look like this to start:

[code]

[2022-08-10 15:26] msporny commented on #42
Also a wallet rendering proposal here: https://github.com/decentralized-identity/wallet-rendering

[2022-08-10 15:36] msporny commented on #865
@davidlehn @chaals What of the original issues still remain? The Editors need guidance on what to fix.

[2022-08-10 15:43] msporny commented on #421
This work is affected by the Media Types with Multiple Suffixes at IETF: https://datatracker.ietf.org/doc/draft-ietf-mediaman-suffixes/

[2022-08-10 15:50] OR13 commented on #789
is the relevant to JWP or BBS+ ? cc @tplooker @dwaite

[2022-08-10 15:54] peacekeeper commented on #882
I wonder if this issue is the same as https://github.com/w3c/vc-data-model/issues/789.

[2022-08-10 16:04] jandrieu commented on #779
@kdenhartog said

My answer: Don't.

Not to be snarky, but if the software doesn't recognize a context it should NOT process the VC. There is no time in a production system where you should dereference an unknown context. Either the software was written to handle the context, or it wasn't. You can't expect that the software can magically interpret a previously unseen context.

It is a known securi

[2022-08-10 16:11] iherman commented on #32
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-08-10-vcwg#section4-9) on 2022-08-10

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 4.9. Define v2 context (issue vc-data-model#32)

_See github issue [vc-data-model#32](https://github.com/w3c/vc-data-model/issues/32)._

**Kristina Yasuda:** This is about VCs for w

[2022-08-10 16:11] iherman commented on #42
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-08-10-vcwg#section4-5) on 2022-08-10

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 4.5. Define v2 context (issue vc-data-model#42)

_See github issue [vc-data-model#42](https://github.com/w3c/vc-data-model/issues/42)._

**Kristina Yasuda:** Looks like there is agr

[2022-08-10 16:11] iherman commented on #76
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-08-10-vcwg#section4-1) on 2022-08-10

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 4.1. Define v2 context (issue vc-data-model#76)

_See github issue [vc-data-model#76](https://github.com/w3c/vc-data-model/issues/76)._

**Kristina Yasuda:** This is about SHACL con

[2022-08-10 16:11] iherman commented on #164
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-08-10-vcwg#section4-7) on 2022-08-10

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 4.7. Define v2 context (issue vc-data-model#164)

_See github issue [vc-data-model#164](https://github.com/w3c/vc-data-model/issues/164)._

**Kristina Yasuda:** Manu commented that

[2022-08-10 16:11] iherman commented on #421
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-08-10-vcwg#section4-10) on 2022-08-10

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 4.10. Define v2 context (issue vc-data-model#421)

_See github issue [vc-data-model#421](https://github.com/w3c/vc-data-model/issues/421)._

**Kristina Yasuda:** Recent comments se

[2022-08-10 16:11] iherman commented on #480
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-08-10-vcwg#section4-6) on 2022-08-10

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 4.6. Define v2 context (issue vc-data-model#480)

_See github issue [vc-data-model#480](https://github.com/w3c/vc-data-model/issues/480)._

**Kristina Yasuda:** Issue raises issues

[2022-08-10 16:11] iherman commented on #755
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-08-10-vcwg#section4-4) on 2022-08-10

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 4.4. Define v2 context (issue vc-data-model#755)

_See github issue [vc-data-model#755](https://github.com/w3c/vc-data-model/issues/755)._

**Kristina Yasuda:** I think the previous

[2022-08-10 16:11] iherman commented on #756
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-08-10-vcwg#section4-3) on 2022-08-10

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 4.3. Define v2 context (issue vc-data-model#756)

_See github issue [vc-data-model#756](https://github.com/w3c/vc-data-model/issues/756)._

**Kristina Yasuda:** In the last comment

[2022-08-10 16:11] iherman commented on #760
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-08-10-vcwg#section4-2) on 2022-08-10

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 4.2. Define v2 context (issue vc-data-model#760)

_See github issue [vc-data-model#760](https://github.com/w3c/vc-data-model/issues/760)._

**Kristina Yasuda:** This is about authen

[2022-08-10 16:11] iherman commented on #789
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-08-10-vcwg#section5-1) on 2022-08-10

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 5.1. Define v2 context (issue vc-data-model#789)

_See github issue [vc-data-model#789](https://github.com/w3c/vc-data-model/issues/789)._

**Kristina Yasuda:** This is about explic

[2022-08-10 16:11] iherman commented on #865
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-08-10-vcwg#section4-8) on 2022-08-10

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 4.8. Define v2 context (issue vc-data-model#865)

_See github issue [vc-data-model#865](https://github.com/w3c/vc-data-model/issues/865)._

**Kristina Yasuda:** This is about images

[2022-08-10 16:11] iherman commented on #882
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-08-10-vcwg#section5-1) on 2022-08-10

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 5.1. Define v2 context (issue vc-data-model#789)

_See github issue [vc-data-model#789](https://github.com/w3c/vc-data-model/issues/789)._

**Kristina Yasuda:** This is about explic

[2022-08-10 16:11] iherman commented on #882
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-08-10-vcwg#section5-1) on 2022-08-10

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 5.1. Define v2 context (issue vc-data-model#789)

_See github issue [vc-data-model#789](https://github.com/w3c/vc-data-model/issues/789)._

**Kristina Yasuda:** This is about explic

[2022-08-10 16:11] iherman commented on #904
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-08-10-vcwg#section4-4) on 2022-08-10

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 4.4. Define v2 context (issue vc-data-model#755)

_See github issue [vc-data-model#755](https://github.com/w3c/vc-data-model/issues/755)._

**Kristina Yasuda:** I think the previous

[2022-08-10 21:42] brentzundel commented on #902
If presenter is the party who submits a presentation to the verifier, what is the name of the party that receives a credential from an issuer?
My understanding was that holder (as a role) was both the party who receives the credential from an issuer and presents a proof to a verifier.

The most recent spec defines it this way:

A role an [entity](https://www.w3.org/TR/vc-data-model/#dfn-entities)

[2022-08-11 00:03] SmithSamuelM commented on #76
JSON Schema has some very nice  composition operators (anyOf, oneOf) features that allow us to support graduated disclosure and contractually protected disclosure in ACDCs.   JSON Schema also have a fairly expressive rules engine for arbitrary composition.  If one uses composed JSON Schema then Schema can be immutable (all the allowed variants in a presentation exchange are already committed to in

[2022-08-11 04:12] kdenhartog commented on #755
+1 to closing this one. I'm the author so I'm going to close this early as well

[2022-08-11 04:12] #755 closed

[2022-08-11 04:15] kdenhartog commented on #779
Generic wallets that are meant to store an arbitrary VC need to do this in order to understand the context of the data requested and to respond to it. Do people think wallet developers are meant to be defining every credential type they process? That seems like it's going to re-run into the scopes problem of OIDC.

[2022-08-11 07:06] kdenhartog commented on #789
stated in the notes from last WG meeting:

… General idea is that in the current VC data model spec, it's not possible how to tell the verifier how they can verify a binding of the presentation of the credential..
… Verifier wants to know if the holder is the actual entity the issuer made claims about. The "holder" property can be anything. The data model allows that any holder can present the VC.

[2022-08-11 07:27] peacekeeper commented on #789
Related to https://github.com/w3c/vc-data-model/issues/882

[2022-08-11 14:13] jandrieu commented on #779
Generic wallets should NOT do this.

If you don't understand the context, you should not process the VC.

Anything else is a bad security practice.

Because, yes, developers are meant to *understand* every credential type they process. Otherwise, how can you hope to believe that you are processing it correctly?

What I think you want is a generic wrapper that embeds claims which happen to use a di

[2022-08-11 16:03] dlongley commented on #779
Wallets can process all of the properties defined by the core VC context (presuming the wallet knows this context, as all VC wallets should). They should not be processing other values defined by other contexts unless those contexts are known to the wallet.

Though, I will say that I think one of the troubles we get into in these discussions is using the word "processing" without knowing if all th

[2022-08-11 16:07] TallTed commented on #779
@jandrieu -- Please edit [your latest comment](https://github.com/w3c/vc-data-model/issues/779#issuecomment-1212046206) and wrap `@context` in a code fence, as that GitHub user continues not to be involved in our discussions ... except insofar as we keep pinging them with such un-fenced `@` mentions.

[2022-08-11 16:37] agropper commented on #779
We have some real-world examples of generic wallets to consider:
A - Apple, Google, Microsoft, etc... passkey as an example of accountable, context-neutral identifiers in a generic sense
B - Sign-in With Ethereum for a standardized way to shift the context processing issue through a human-readable presentation
C - ISO 18013-5 mDL as a specification that combines data model and protocol to address

[2022-08-13 16:25] OR13 commented on #902
presenter: The party A, such that A presents to B using a verifiable presentation.
receiver: The party B, such that B verifies a verifiable presentation form A.
holder: an ambiguous term that applies to both presenters and receivers, and conveys no directionality

[2022-08-14 19:47] #891 closed

[2022-08-14 20:47] msporny commented on #904
Raised PR https://github.com/w3c/vc-data-model/pull/905 to address this issue.

[2022-08-15 07:24] iherman opened #907 "Error in the (RDF) vocabulary of the VC Data Model?"
(This issue was triggered by #905)

I believe there is discrepancy between the [official VC vocabulary](https://www.w3.org/2018/credentials/) and the VC `@context` file (both [v1](https://www.w3.org/2018/credentials/v1) and the [proposed v2](https://github.com/w3c/vc-data-model/pull/905/files#diff-267b7e47789daf9a1d312b42826aa937a1bb5af4312ee90df6b8a64cd6426f4f)).

The (turtle version of) the voca

[2022-08-15 09:01] Sebastian-Elfors-IDnow opened #908 "Describe SD-JWT as an alternative for selective disclosure"
The descriptions about selective disclosure in the W3C Verifiable Credentials specification could be extended by mentioning [SD-JWT (Selective Disclosure JWT)](https://www.ietf.org/id/draft-fett-oauth-selective-disclosure-jwt-02.html).

The [SD-JWT specification](https://www.ietf.org/id/draft-fett-oauth-selective-disclosure-jwt-02.html) is currently an IETF Internet-Draft, which specifies the SD-J

[2022-08-15 13:46] OR13 commented on #907
This seems related to the other `@container` question:

https://github.com/w3c/vc-data-model/issues/881

I think it would be worth taking the time to explain the high level relations we are hoping for these top level classes to afford, and the role the JSON-LD context syntax plays in  communicating them... We should strive to ensure that the context and the normative text stay closely aligned... a

[2022-08-15 22:07] Sakurann commented on #908
Thanks for the issue, Sebastian!

Multiple options have been explored how to define SD-JWT-VC. Inputs from this group will be appreciated!

Option 1 ([current spec text](https://www.ietf.org/id/draft-fett-oauth-selective-disclosure-jwt-02.html#name-example-4-w3c-verifiable-cr)):
[code]

Option 2 ([Issue 110 in SD JWT-repo](https://github.com/oauthstuff/draft-selective-disclosure-jwt/issues/110))
[

[2022-08-16 04:37] iherman commented on #907
I am not talking about the `@context` file. The context is _**not**_ the vocabulary definition, it is only a mapping _onto_ the vocabulary. If we take seriously the assumption that some representation of VC rely on  Linked Data expressed in RDF, than the vocabulary must be correct.

[2022-08-16 04:47] iherman commented on #907
Wow, that is a long thread, and I did not pay attention to it, my bad. I think you are right. What you call "weird blank node issue with the proof block." is, I believe, exactly the blank node `_:b1` in the example above. And the representation is exactly right per the vocabulary because the object of a proof must be a separate RDF graph (@msporny has explained it in the thread, and I guess the RC

[2022-08-16 07:22] iherman commented on #907
Hm. It seems that old age is definitely creating a problem with me. Thanks to some cool features of the (new version of) GitRaken client, I realized that I have already raised this issue in #770, and it was recently decided to keep it open as well. I even created, back then, a PR (#771) but which was never merged (I presume due to the versioning issues).

So, closing this issue in favor of #770/#7

[2022-08-16 07:22] #907 closed

[2022-08-16 14:13] vongohren commented on #779
When one says use, what entitles use? As a wallet maker I would want to display the data potentially, but I should not display something that I dont know what is?

Or is use when you as wallet replies to a verification request and a property is asked for, but its not the same context, one does not mix and match
@dlongley

[2022-08-16 14:17] vongohren commented on #887
Cant you just use "create", since it is a self evolving thing and not talking about other parties like issuance.

[2022-08-16 16:13] TallTed commented on #887
-1 on the [hopefully joking suggestion of "bikeshed"](https://github.com/w3c/vc-data-model/issues/887#issuecomment-1198678971) (which I think is not actually applicable here, given that it's shorthand for [the law of triviality](https://en.wikipedia.org/wiki/Law_of_triviality), i.e., "giving disproportionate weight to trivial issues", unless it's a commentary on this thread, in which case I disagr

[2022-08-16 19:53] msporny opened #909 "Define policies for directory of related work"
We need to define policies for the [VC Extension Registry](https://w3c-ccg.github.io/vc-extension-registry/) to answer questions such as:

1. Will the registry operate under the new Registry policy at W3C?
2. Who controls updates/changes to the registry as well as status changes?
3. How are extensions deprecated?
4. Do we want to record a certain level of standardization?
5. Do we want to allow ex

[2022-08-17 13:51] OR13 commented on #909
Is this an ESG /  "values" registry?

Or a registry for "terms" that have an accompanying "specification".

Will "Bitcoin" or "Ethereum" specific terms be allowed?

Will the registry attempt to warn people about "NIST Backdoors"?

Will the registry attempt to avoid western / eastern cultural bias around lawful access?

How will this registry relate to other "registries" such as:

- https://w3c.git

[2022-08-17 14:45] msporny opened #910 "Explain relationship between Presentations and Verifiable Credentials"
The topic of [the relationship between presentations and verifiable credentials](https://github.com/w3c/vc-data-model/pull/905#discussion_r946985039) was raised in a PR regarding the vc/v2 JSON-LD Context. Specifically, this term definition:

In this specific case, ` "@type": "@id"` means "Interpret the value that is associated with `verifiableCredential` as an IRI (effectively, a URI that support

[2022-08-17 14:54] TallTed commented on #910
@msporny -- Please edit your initial comment here, and put code fences around `@type` and `@container` in the quoted block.... For reasons you know.

[2022-08-17 18:53] David-Chadwick commented on #887
generate is another possibility

[2022-08-17 18:58] brentzundel commented on #32
No comments since makred `pending close`, closing.

[2022-08-17 18:58] #32 closed, assigned to ChristopherA

[2022-08-17 18:58] David-Chadwick commented on #890
As I understand mDL it comprises a set of random numbers for both property types and values (from the perspective of the verifier) therefore it is not possible to determine what it contains. So the question still remains, if the verifier only has a subset of properties revealed to it, what are the rules (and description that we should insert into the DM) to describe how the verifier determines if

[2022-08-17 18:58] brentzundel commented on #164
No comments since makred `pending close`, closing.

[2022-08-17 18:58] #164 closed

[2022-08-17 18:58] brentzundel commented on #480
No comments since makred `pending close`, closing.

[2022-08-17 18:58] #480 closed

[2022-08-17 18:59] brentzundel commented on #760
No opposition since makred `pending close`, closing.

[2022-08-17 18:59] #760 closed

[2022-08-17 19:21] OR13 commented on #709
There are 2 things being discussed on this issue:

#### What is the shape of `issuer` in a `VerifiableCredential`.

Today, these are all valid:

[code]

[code]

[code]

[code]

#### What is the shape of the document that is `resolved` from the `issuer`.

These are the formats that I have seen that work for this scenario:

[code]

I am not aware of any interoperability regarding VCs that come from

[2022-08-17 19:23] OR13 commented on #839
Example: https://github.com/w3c-ccg/traceability-interop/blob/main/docs/openapi/schemas/SerializedVerifiablePresentation.yml

[2022-08-17 19:50] mprorock commented on #846
something like `(\d{4}-\d{2}-\d{2})[A-Z]+(\d{2}:\d{2}:\d{2}).([0-9+-:]+)` ?

[2022-08-17 19:50] OR13 commented on #846
possibly useful: https://github.com/transmute-industries/verifiable-data/blob/43b2dd1f91dc200927bd8c859ece31eae465e4f1/packages/vc.js/src/datetime/datetime.test.ts

[2022-08-17 19:51] brentzundel commented on #846
possible regex from @mprorock:

[2022-08-17 19:52] OR13 commented on #762
I prefer issuer, subject, holder to all have a consistent shape.

[2022-08-17 19:53] mprorock commented on #846
and a more brutal, but probably more correct one:
`^([0-9]{4}(?!\d{2}\b))((-?)((0[1-9]|1[0-2])(\3([12]\d|0[1-9]|3[01]))?|W([0-4]\d|5[0-2])(-?[1-7])?|(00[1-9]|0[1-9]\d|[12]\d{2}|3([0-5]\d|6[1-6])))([T\s]((([01]\d|2[0-3])((:?)[0-5]\d)?|24\:?00)([\.,]\d+(?!:))?)?(\17[0-5]\d([\.,]\d+)?)?([zZ]|([\+-])([01]\d|2[0-3]):?([0-5]\d)?)?)?)?$`

[2022-08-17 20:01] TallTed commented on #846
Of course, we all know that there are multiple flavors of regex in the world, so we have to declare which one is in play here...

[2022-08-17 20:05] kdenhartog commented on #779
Sure, but then as you pointed out above these `@context` definitions need to be statically loaded in with the wallet code in order to process it. For example, let's say wallet@v1.1.1 contains the contexts for driver's license and green card, but not for degree. Now let's say the user of wallet@v1.1.1 receives a degree credential in their wallet, but since it doesn't have a degree context already b

[2022-08-17 20:09] awoie commented on #839
I believe @David-Chadwick meant that we could define a `presentationSchema` property similar to `credentialSchema`. Currently, `credentialSchema` is only allowed in the VC. Implementers use this property to refer to externally hosted schemas to describe the static syntactic schema for specific types of VCs using, e.g., `JsonSchemaValidator2018`. In comparison to JSON-LD and `@context`, other schem

[2022-08-17 22:26] OR13 commented on #839
if this is really a request for `presentationSchema` I suggest we update the title and description.

[2022-08-18 05:12] iherman commented on #709
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-08-17-vcwg#section2-1) on 2022-08-17

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 2.1. Implementation Issues and under specification  (issue vc-data-model#709)

_See github issue [vc-data-model#709](https://github.com/w3c/vc-data-model/issues/709)._

**Antony Nad

[2022-08-18 05:12] iherman commented on #762
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-08-17-vcwg#section2-4) on 2022-08-17

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 2.4. Can a credentialSubject be only a string value? (issue vc-data-model#762)

_See github issue [vc-data-model#762](https://github.com/w3c/vc-data-model/issues/762)._

**Brent Zun

[2022-08-18 05:12] iherman commented on #839
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-08-17-vcwg#section2-2) on 2022-08-17

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 2.2. Schema for VPs (issue vc-data-model#839)

_See github issue [vc-data-model#839](https://github.com/w3c/vc-data-model/issues/839)._

**David Chadwick:** in OIDC, when we stick s

[2022-08-18 05:12] iherman commented on #846
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-08-17-vcwg#section2-3) on 2022-08-17

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 2.3. Include a regex for XML Date Time in the next version of the standard. (issue vc-data-model#846)

_See github issue [vc-data-model#846](https://github.com/w3c/vc-data-model/iss

[2022-08-18 08:54] Sebastian-Elfors-IDnow opened #912 "Add normative reference to Data Integrity"
In section "[A.4 Proofs (Signatures)](https://w3c.github.io/vc-data-model/#proofs-signatures-0)" in the W3C Verifiable Credentials Data Model v2.0 draft, there is a description of Linked Data Signatures in the Note:

"For example, a Linked Data Signature created [property](https://w3c.github.io/vc-data-model/#dfn-property) establishes a date and time before which the [credential](https://w3c.githu

[2022-08-18 12:09] msporny opened #913 "`issuanceDate/expirationDate` and `validFrom/validUntil`"
We had added a warning to the VCDM spec that we were eventually going to deprecate `issuanceDate/expirationDate` and replace it with `validFrom/validUntil`.

https://www.w3.org/TR/vc-data-model/#issue-container-generatedID-13
https://www.w3.org/TR/vc-data-model/#issue-container-generatedID-15

The "date the credential was issued" is represented by the `created` property on the proof if using a `Da

[2022-08-18 13:38] Sebastian-Elfors-IDnow commented on #908
Thanks for your feedback, Kristina!

Option 1 makes most sense in my view, since it is compatible with the JWT format according to the existing [SD-JWT draft standard](https://www.ietf.org/id/draft-fett-oauth-selective-disclosure-jwt-02.html).

Combining two objects (SD-JWT and SD-JWT-R) should not be an issue, since that is common practice for W3C Verifiable Presentation with multiple W3C VCs.

T

[2022-08-18 19:31] davux commented on #762
A credential states 3 core things (besides metadata about the credential itself):
- something claimed
- by someone (in the broad sense, not necessarily a person)
- about someone (broad sense too)

So to be structurally sound, there should be 3 attributes at the same level. Something like:

| Core data | Current location | Ideal root-level location
|-----------|-----------------|--------------
| So

[2022-08-18 19:42] OR13 commented on #762
example credential:

[code]

[2022-08-19 15:03] OR13 opened #914 "Dereferencing relative to `issuer`"
We should add guidance somewhere regarding dereferencing relative to an issuer.

See also https://github.com/decentralized-identity/ion/issues/285

For example:

`issuer` + `proof.verificationMethod` => `{ publicKeyJwk } `
`iss` + `kid` => `{ publicKeyJwk } `

[2022-08-19 16:05] dlongley commented on #762
@davux,

If we do what you're suggesting we actually lose the overall consistency we have across the whole data model. Right now, the data model maps very cleanly to a graph of information. Each JSON object represents a subject (a "node" in the graph), every JSON key in that object represents a property / attribute of the subject (an "edge" in the graph) that points to either a literal value or an

[2022-08-19 16:55] peacekeeper commented on #914
This should be consistent with standard URI "relative resolution" as explained in https://datatracker.ietf.org/doc/html/rfc3986#section-5.2.

[2022-08-19 20:46] davux commented on #762
Thanks @dlongley, I hadn't thought of the nodes as having standalone value and being composable with one another. If we took the id out of the node, that would stop working completely. Thanks for the nice explanation.

[2022-08-19 21:40] brentzundel commented on #914
How is this related to #709

[2022-08-20 14:59] OR13 opened #915 "Address `controller` ambiguity"
Consider the case where:

[code]

`payload.header.kid =  https://gov.example#key-0`

Possible normative statements:

a. The assertionMethod used to issuer MUST have a `controller` that matches the `issuer.`
b. The assertionMethod used to issuer MAY have a `controller` that matches the `issuer.`
c. The assertionMethod used to issuer SHOULD have a `controller` that matches the `issuer.`

What are th

[2022-08-22 07:19] iherman opened #916 "Data Model Vocabulary versioning questions"
In agreement with @msporny I will maintain the formal [VC Vocabulary definition](https://w3c.github.io/vc-data-model/vocab/credentials/credentials.html) document. Apart from cosmetic changes, this means handling possible bugs like #770, but also adapting it to the v2 version of the model.

There is a practical versioning issue, though, which may need a consensus before moving on. The [VC Vocabular

[2022-08-22 18:34] iherman commented on #916
A third option may be to create indeed a new repository, but called "vc-vocabularies" to contain and maintain _all_ RDF vocabularies in one place.

[2022-08-23 07:52] David-Chadwick commented on #839
Yes I was requesting that the property presentationSchema be defined in the v2 data model.

[2022-08-23 09:26] awoie commented on #839
@David-Chadwick thanks, can you please update the title of the issue to reflect what is requested? It was not clear to everybody.

[2022-08-23 14:39] awoie commented on #839
@OR13 it seems that @David-Chadwick requests to add a new property `presentationSchema` to the VC Data Model but you proposed defining a JSON Schema for VPs in the VC Data Model spec normatively. If you still want to add a JSON Schema for VPs to the VC Data Model spec, I suggest you create a new issue.

[2022-08-23 15:18] brentzundel opened #917 "Condense editors list to set of current editors"
I propose we condense the listed editors down to the set of current editors. Editors of previous versions are still listed under those versions.
If removal of former editors proves too painful for some, I suggest perhaps an "editors of previous versions" section.
We also have an acknowledgements section that could be suitable.

[2022-08-24 04:05] Sakurann commented on #912
The work on Linked Data Proofs specification continues as Data Integrity specification. We should probably change all the references to LDPs in the v2 to Data Integrity and add a note explaining this difference.
(Might be good to have a section in v2 that summarizes "what is different in v2 from v1")

[2022-08-24 04:15] selfissued opened #918 "Retain issuanceDate and don't introduce validFrom"
I disagree with removing IssuanceDate and replacing it with ValidFrom. The time that a token was issued is normally included in it. For instance, that's for SAML and ID Tokens. It's true of current VCs.

Whereas, the ability to future/past date tokens is esoteric and will likely cause more problems than it solves.  We should not introduce validFrom so that this remains impossible.  That will help

[2022-08-24 04:17] selfissued commented on #913
As described in issued #918, I believe this would move us in the wrong direction - towards unnecessary and useless complexity.

[2022-08-24 11:04] awoie commented on #918
The ideal situation would be...

- deprecate `issuanceDate` since the semantical definition is a bit misleading.
- add `issued` that matches the `iat` JWT claim definition.
- add `validFrom` that matches the `nbf` JWT claim definition.

+1 for keeping a property that allows us to identify when a VC was issued.

I guess that was already anticipated in VC Data Model 1.1:

I'm happy to create a PR th

[2022-08-24 11:37] awoie commented on #913
I would be ok with the following two options:

Option 1: keep a property in the VC data model that represents the time of issuance and expiration:
- deprecate `issuanceDate` since the semantical definition is a bit misleading.
- keep `expirationDate` since it is less controversial and it maps onto `exp` JWT claim.
- add `issued` that is semantically the same as the `iat` JWT claim.
- add `validFro

[2022-08-24 12:25] awoie commented on #913
There is also a consideration that relates to BBS+ and derived proofs. To my knowledge, the derived proof would be generated by the holder at the time of presentation. IMO, including expiration and issuance only in the derived proof would lead to some semantic confusion but I'm not an expert in BBS+. It would be great if @tplooker could comment on that.

[2022-08-24 12:56] OR13 commented on #918
We should be careful to avoid standardizing "suite metadata" in the core data model... When a signature was applied (according to the issuer) might not belong in the core data model if we have better layering.

issuanceDate, today, is really the date the claims are meant to be valid... Not the date the credential was secured with JWT or Data Integrity... An issuer might want to signal both dates w

[2022-08-24 13:29] 2byrds commented on #917
As a watcher, this is a little bit of a funny request in a git version control world :)
Perhaps spec editor lists need to evolve towards a committer model.

[2022-08-24 14:19] TallTed commented on #918
@selfissued, why create another issue (this, #918) for one side of the discussion already framed to be held in #913?  I'm going to keep my responses there, and I strongly suggest that #918 be closed as a duplicate of #913.

[2022-08-24 14:20] TallTed commented on #913
@selfissued, why create another issue (#918) for one side of the discussion already framed to be held here (#913)?  I'm going to keep my responses here, and I strongly suggest that #918 be closed as a duplicate of #913.

@selfissued, you have a pattern of speaking of anything you dislike or do not need as if it is utterly worthless and without any redemptive value, and as if anyone who is in favor

[2022-08-24 15:20] mprorock commented on #908
Is this possibly a better topic for the Implementation Guide or [VC-JWT](https://github.com/w3c/vc-jwt)?

[2022-08-24 15:23] selfissued commented on #862
For context, in IETF specs, URI us preferred over URL.

[2022-08-24 15:25] selfissued commented on #862
For instance, in OAuth [RFC 6749], it's a `redirect_uri`, even though it's obviously dereferenceable.

[2022-08-24 15:27] msporny commented on #862
I will update the specification to point to the WHATWG URL specification when we reference "URLs".

[2022-08-24 15:39] selfissued commented on #877
Given that JWTs and Data Integrity have such mechanisms, I don't think we need to do this in VPs themselves.

[2022-08-24 15:56] TallTed commented on #831
(bikeshedding) Maybe change from `anchoredResource` to `externalResource`?  I think `anchored` implies attributes which may not be true for the target (including that it's under the clear control of the VC issuer who's including this property in their VC).

[2022-08-24 15:57] jandrieu commented on #860
Discussed on WG call 2022.08.24. @msporny and @dlongley advocated for sticking with the use of VCs rather than supporting a different way to make claims.

@jandrieu Suggested that unless we change the open-world data model of the VP itself, this behavior "holderClaims" as a property in the VP is allowed, and as such, is likely be used by developers who find it to be a more convenient solution. I c

[2022-08-24 16:16] iherman commented on #831
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-08-24-vcwg#section3-3) on 2022-08-24

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 3.3. Proposal: Anchored Resources and Hashlinks for VCs (issue vc-data-model#831)

_See github issue [vc-data-model#831](https://github.com/w3c/vc-data-model/issues/831)._

**Kristi

[2022-08-24 16:16] iherman commented on #862
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-08-24-vcwg#section3-1) on 2022-08-24

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 3.1. [Tracking Issue - Proposed Corrections Feedback] URL to URI (issue vc-data-model#862)

_See github issue [vc-data-model#862](https://github.com/w3c/vc-data-model/issues/862)._

[2022-08-24 16:16] iherman commented on #877
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-08-24-vcwg#section3-2) on 2022-08-24

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 3.2. VPs and timestamps? (issue vc-data-model#877)

_See github issue [vc-data-model#877](https://github.com/w3c/vc-data-model/issues/877)._

**Kristina Yasuda:** So the next issue

[2022-08-24 17:17] decentralgabe opened #919 "Evidence as a Related Credential"
Looking into how to best make use of the [evidence property](https://www.w3.org/TR/vc-data-model/#evidence).

For our use cases at Block, it's common that pieces of evidence are credentials themselves. We are considering how to represent evidence, some thoughts:
- A reference to the Credential with some related fields (its id, type, schema)
- A URI of some sort that can be externally verifiable. F

[2022-08-24 20:11] msporny commented on #904
PR #905 has been merged, there is now a base v2 context.

[2022-08-24 20:11] #904 closed

[2022-08-25 04:20] iherman commented on #916
Looking at the discussion in https://github.com/w3c/vc-data-model/pull/905#issuecomment-1225845698, and to be consistent with the way the v2 of the context file is handled, I decided to create a `vocab/credentials/v2` and put the new version there.

Ideally, the current content of the `vocab/credentials` should be moved into `vocab/credentials/v1` but that would require redefining the current redi

[2022-08-25 14:13] msporny commented on #916
Thank you!!! :)

+1

Hrm, I'm probably misunderstanding what you're saying... we have history on the vocabulary here:

https://github.com/w3c/vc-data-model/commits/34b9b9224f74a49206cebef44977cee7f5087dec/vocab/vocab.csv?browsing_rename_history=true&new_path=vocab/credentials/vocab.csv&original_branch=main

Hrm, would `https://www.w3.org/2018/credentials/` serve up the content from `https://w3c.gi

[2022-08-25 14:39] iherman opened #921 "Modify the .htaccess file for https://www.w3.org/2018/credentials"
There is a flaw, in my view, in the current setup for the credential URI redirections.

The current approach is based on the https://www.w3.org/2018/credentials URL and is using the following `.htaccess` file:

[code]

What this does is:

- https://www.w3.org/2018/credentials leads to the [HTML vocabulary definition](https://w3c.github.io/vc-data-model/vocab/credentials/credentials.html)
- https:/

[2022-08-25 14:57] iherman commented on #916
@msporny,

In some sense, https://github.com/w3c/vc-data-model/pull/905 made some parts of the discussion obsolete, so I will skip over the part of creating a separate github repository. (I got to a similar conclusion as you...)

Right, and the same hold for the other files, but it really takes two PhD-s from github academy to really really use that; it is not comparable to the way the specificati

[2022-08-25 18:36] Sakurann commented on #908
Depends on where we decide transformation of the data model prior to “securing” it sits - in each “securing” document or data model itself

[2022-08-26 15:14] Sakurann commented on #917
+1

[2022-08-29 18:20] David-Chadwick commented on #918
What we need semanically is the cryptographic validity time of the VC, which is independent from the validity time of the underlying credential (claims). So 4 date/times are potentially needed. e.g. a degree claim is valid from the graduation date and does not expire. A UK driving license is valid from when the driver passes their driving test until the driver's age of 65. Multiple VCs with shorte

[2022-08-29 18:22] David-Chadwick commented on #913
What we need semanically is the cryptographic validity time of the VC, which is independent from the validity time of the underlying credential (claims). So 4 date/times are potentially needed. e.g. a degree claim is valid from the graduation date and does not expire. A UK driving license is valid from when the driver passes their driving test until the driver's age of 65. Multiple VCs with shorte

[2022-08-29 18:36] TallTed commented on #918
I mostly agree with @David-Chadwick's [latest comment](https://github.com/w3c/vc-data-model/issues/918#issuecomment-1230691184), which was duplicated in [#918](https://github.com/w3c/vc-data-model/issues/918#issuecomment-1230691184) and [#913](https://github.com/w3c/vc-data-model/issues/913#issuecomment-1230693232), because #918 is really a duplicate of #913, and #918 is only serving to dilute, sp

[2022-08-29 20:18] brentzundel commented on #918
It does seem to the chairs that This and #913 are duplicates.
I am closing this issue and encourage commenters to continue the conversation on #913.

[2022-08-29 20:18] #918 closed

[2022-08-30 21:01] OR13 opened #923 "Making explicit the binding of the holder to a VC"
See the long discussion on this PR https://github.com/w3c/vc-data-model/pull/795

This issue opened to track discussion, and work towards a proposed set of changes or closed issue.

[2022-08-30 22:44] selfissued commented on #913
@TallTed thanks for explaining the future-dated coupon use case.  That motivates why issuanceDate and validFrom would sometimes be different.  I can't see it motivating why expirationDate and validUntil would ever need to be different, however.

You wrote:

Please accept my apology if my remarks came off that way.  That wasn't my intent.

My intent was to advocate for "keeping simple things simple

[2022-08-30 22:47] selfissued commented on #918
For what it's worth, it wasn't my intent to create a duplicate issue.  I'd committed to Brent to file an issue on the topic and he encouraged me to do so.  I tried to state the case for simplicity positively in the issue.  I'm OK with continuing discussion in the other issue.

[2022-08-31 14:48] TallTed commented on #913
Thank you. As a concrete suggestion for the future, "I can't see the use" constructs (as you [used here](https://github.com/w3c/vc-data-model/issues/913#issuecomment-1232245614)) come across very differently from "that's useless", and invite presentation of such use case rather than asserting it doesn't exist.

I _think_ someone had a reason that this optionality would be problematic, but I cannot

[2022-08-31 17:33] selfissued commented on #913
For context, https://github.com/w3c/vc-jwt/issues/9 (Represent issuance time with "iat" rather than "nbf") is related.

[2022-08-31 18:59] selfissued commented on #913
I'd prefer fixing the misleading definition than changing which claim name people use to represent when the VC was issued.  Then it wouldn't be a breaking change.

I'm find adding this as long as it's optional.  If not present, we would define that the VC is valid starting when it was issued.

I agree that I don't understand this.  I'd prefer leaving `expirationDate` as is.

[2022-08-31 19:30] nadalin commented on #893
Have you looked at the "evidence" claim that OIDF eKYC uses? https://openid.net/specs/openid-connect-4-identity-assurance-1_0-13.html

[2022-08-31 19:39] TallTed commented on #887
-1 for Generate VP. Because VP is composed of existing Claims (cough) from VCs.  Generate seems more appropriate verb for Issuer.

[2022-08-31 20:14] David-Chadwick commented on #887
@TallTed Very strange that you should suggest produce and be against generate since the dictionary.com definition of generate is to bring into existence; cause to be; produce :-)

[2022-08-31 20:21] David-Chadwick commented on #890
At the meeting on 31 Aug the discussion indicated that another property "presentationSchema" would be more valuable to tell the verifier what properties must and may be in the selectively disclosed credential. Thus the verification process would tell the verifier whether the presented credential conformed to the presentationSchema or not, and then the verifier could determine whether this was vali

[2022-08-31 20:22] TallTed commented on #887
Yeah, I'm against myself. Neither generate nor produce for Presentation, because they both imply origination to me, rather than assembling or repackaging from existing component parts and wrapping in a new signature...

I think the Holder needs two verbs here -- one for the Assembly (and optional Signing) and another for the Submission.  I think I like these verbs.

[2022-08-31 22:26] logpo commented on #915
My gut feeling is that it could lock out some potential use cases around key management and delegation if we go with `a`. Though for the overwhelming majority of cases I would expect the the `verificationMethod` would have the `controller` be the `issuer`

[2022-08-31 23:58] logpo commented on #887
This has always made the most sense to me

[2022-09-01 00:39] OR13 commented on #880
This issue should be closed.

[2022-09-01 03:31] richardbergquist opened #925 "Minor edit: correction to out of sync link titles in section 4.3 to JSON-LD spec"
Minor editorial point. In section 4.3 the note mentions :

It's noted that the section numbers in the links appear to be out of sync with the JSON-LD spec. They should point to :

(I have a fork of the repo, with the links corrected. Happy to submit a PR if that helps)

Thanks
@richardbergquist

[2022-09-01 04:50] iherman commented on #839
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-08-31-vcwg#section4-4) on 2022-08-31

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 4.4. credentialSchema and Selective Disclosure (issue vc-data-model#890)

_See github issue [vc-data-model#890](https://github.com/w3c/vc-data-model/issues/890)._

**Brent Zundel:**

[2022-09-01 04:50] iherman commented on #887
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-08-31-vcwg#section4-3) on 2022-08-31

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 4.3. What is the action associated with issuing/creating a Verifiable Presentation? (issue vc-data-model#887)

_See github issue [vc-data-model#887](https://github.com/w3c/vc-data-m

[2022-09-01 04:50] iherman commented on #890
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-08-31-vcwg#section4-4) on 2022-08-31

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 4.4. credentialSchema and Selective Disclosure (issue vc-data-model#890)

_See github issue [vc-data-model#890](https://github.com/w3c/vc-data-model/issues/890)._

**Brent Zundel:**

[2022-09-01 04:50] iherman commented on #893
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-08-31-vcwg#section4-2) on 2022-08-31

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 4.2. add claims metadata (issue vc-data-model#893)

_See github issue [vc-data-model#893](https://github.com/w3c/vc-data-model/issues/893)._

**Brent Zundel:** kristina, can you wal

[2022-09-01 15:21] TallTed commented on #887
I don't love it (yet), but I could probably live with `derive`, partly because it can include both the Assemblage of Claims from VCs and the Signing of the Assembled Presentation, though not the Submission (or whatever) of the VP -- which has been "derived from VC(s) and relevant private key/crypto".

[2022-09-02 10:49] David-Chadwick commented on #890
Note that presentationSchema for VPs is different to presentationSchema for VCs. The former (issue 839) indicates what the VP does contain, whereas the latter (this issue) says what the selectively disclosed credential must or may contain.

[2022-09-02 11:11] David-Chadwick commented on #890
Here is a suggestion as a resolution of this issue. Note, I am only addressing credential verification and not credential validation, as the verifier can determine its own rules as to whether a (un)verified credential is valid or not.

1. Issuers may place into VCs both credentialSchema and discloseSchema (note I am suggesting a different term to presentationSchema so as to not confuse this proper

[2022-09-02 14:52] TallTed commented on #890
First thought, I would suggest `disclosureSchema` over `discloseSchema`, if we pursue this direction.

Then, it seems that `disclosureSchema` itself must always be included in its value, and so always disclosed, else how is the Verifier to know that the Issuer declared it?  Or is `disclosureSchema` only meant to force disclosure of those properties from the VC, whenever a VP includes _any_ propert

[2022-09-02 15:07] brentzundel commented on #877
No objections after marked `pending close`, closing

[2022-09-02 15:07] #877 closed

[2022-09-02 15:35] agropper commented on #860
This is close to the user-centric authorization request we use for sharing health records. Along with credentials, the signed presentation includes a claim of purpose as well as the scope of the request. Our use-case helps focus the question of open world vs. interop.

Every request has three orthogonal dimensions:
- the credentials of the requesting party (claims that are signed by others)
- the

[2022-09-02 15:59] OR13 opened #926 "Definition of evidence should align with NIST"
https://nvlpubs.nist.gov/nistpubs/SpecialPublications/NIST.SP.800-160v1.pdf

body of evidence to demonstrate that trust is warranted in an individual system component or
in the system. Once a sufficient basis exists to grant trust, a judgement can be made as to
whether the level of trust granted is sufficient for the specific missions or business operations.

system security design requirements; t

[2022-09-03 12:43] #770 closed

[2022-09-03 12:43] #916 closed

[2022-09-04 17:37] msporny commented on #909
Here are a few answers to the questions posed in the issue:

Yes.

The VCWG if it is operational. The CCG if the VCWG is not operational.

Extensions are deprecated by the currently active specification Editors/Authors. If an extension is abandoned, with none of the Editors/Authors responding, the VCWG has the authority to deprecate the extension. If an extension is deemed to be dangerous or unmai

[2022-09-04 18:22] msporny commented on #909
A registration MUST be a JSON file that conforms to the following JSON Schema:

[code]

[2022-09-04 18:46] msporny commented on #909
Here are a list of proposals that the VCWG could run to determine the characteristics of the VC Extensions Registry. These proposals are modeled after [the ones that achieved consensus](https://w3c.github.io/did-spec-registries/#the-registration-process) in the DID Working Group:

PROPOSAL: The VC Extensions Registry will be operated as a W3C Registry by the VCWG as defined in the W3C Process here

[2022-09-05 18:06] kdenhartog commented on #926
+1 to this aspect. Thanks for breaking it out into a separate issue.

[2022-09-06 03:26] TallTed commented on #909
The proposals looks good.  I don't see one that covers this snippet from the preceding [bullet list of answers](https://github.com/w3c/vc-data-model/issues/909#issuecomment-1236385519) —

— which I'd edit slightly, anyway, for clarity —

— or for fewer words, and possibly even more clarity —

[2022-09-06 07:16] RieksJ commented on #923
Let me first say that #795 is a bit too long to read (or I'm to lazy), so I haven't.

I like the diagram of https://github.com/w3c/vc-data-model/pull/795#issuecomment-904030714, as it attempts to clearly distinguish between
- the [party](https://essif-lab.github.io/framework/docs/terms/party) (named Hollace Holder) to which the credential is being issued, and
- the [agent](https://essif-lab.github

[2022-09-06 07:28] RieksJ commented on #913
Here's a case that might be worth considering in this discussion. We all have passports, with two dates, one of which is related to the point in time where it was issued, and the other is related to a point in time several years in the future. To avoid getting dragged into the discussion in ways I do not want to, let me call them T1 and T2 respectively.

When a non TNO-employee wants to enter one

[2022-09-06 13:47] OR13 commented on #909
PROPOSAL: In order to register an extension, you must implement and submit a complete test suite for it.

The objective being to keep "experimental" stuff that is literally not even tested out of the registry... there is a lot that can be done with JSON-LD / RDF without registering at a central choke point.

[2022-09-06 14:14] msporny commented on #909
@lrosenthol wrote:

Yes, you're right. There is always a contingent that argues strongly for a registry, though. :)

My personal opinion: I have found that even in the "decentralized extensibility" norm that JSON-LD brings to the table, it's useful to have a place that lists all known extensions as a point of coordination. In some cases, this has led separate teams to get in touch with each other

[2022-09-07 15:22] Sakurann commented on #909
why is it November, Manu?

[2022-09-07 15:27] msporny commented on #909
It's an arbitrary deadline I picked out of thin air to suggest "sooner would be better than later". :)

[2022-09-07 15:27] OR13 commented on #909
I don't really want that... I prefer experimental stuff rely on perma-id, or ccg, or elsewhere.

I'm not sure it was a mistake.... for did methods... it was a mistake to conflate the registry for methods, with the registry for terms that can be used with interoperability.

[2022-09-07 15:34] OR13 commented on #913
Another part of this is the lack of definition regarding `proof.created`... which is what actually maps to `iat`.

[2022-09-07 15:43] jandrieu commented on #902
I'd like to suggest that we split "Holder" into "Recipient" and "Presenter", with the explicit understanding that it is generally assumed that these three are all the same person.

[2022-09-07 15:47] OR13 commented on #902
For the record:

PROPOSAL: define holder (undirected), receive / present (directed actions) .... receiver, presenter (directed).

[2022-09-07 15:50] msporny commented on #758
This PR is related: https://github.com/w3c/vc-data-model/pull/927

[2022-09-07 15:50] OR13 commented on #758
This PR is addressed by: https://github.com/w3c/vc-data-model/pull/927

[2022-09-07 15:51] OR13 commented on #758
Should be closed pending PR above.

[2022-09-07 16:00] jandrieu commented on #731
There is no need for this property, as it misframes the semantics of VCs and will lead to errors.

The misframing is the expectation that VCs give someone a particular privilege and that privilege might be transferred to someone else. However, VCs are not an authorization architecture. The semantics of a VC is that the Issuer attests to the factual accuracy of the claim and stands by it (via the s

[2022-09-07 16:01] jandrieu commented on #821
@agropper The holder is a normative term because it defines a role that participates in normative interactions.

[2022-09-07 16:09] iherman commented on #731
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-09-07-vcwg#section3-2) on 2022-09-07

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 3.2. `notTransferable` property not defined in `@context` (issue vc-data-model#731)

_See github issue [vc-data-model#731](https://github.com/w3c/vc-data-model/issues/731)._

**Kris

[2022-09-07 16:09] iherman commented on #758
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-09-07-vcwg#section3-1) on 2022-09-07

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 3.1. Fix the vc-data-model namespace with https://www.w3.org/ns/vc/v2 (issue vc-data-model#758)

_See github issue [vc-data-model#758](https://github.com/w3c/vc-data-model/issues/75

[2022-09-07 16:09] iherman commented on #895
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-09-07-vcwg#section2-4) on 2022-09-07

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 2.4. ACDC (Authentic Chained Data Containers) in VC DM 2.0 (issue vc-data-model#895)

_See github issue [vc-data-model#895](https://github.com/w3c/vc-data-model/issues/895)._

**Kri

[2022-09-07 16:09] iherman commented on #909
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-09-07-vcwg#section2-1) on 2022-09-07

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 2.1. Define policies for VC Extension Registry (issue vc-data-model#909)

_See github issue [vc-data-model#909](https://github.com/w3c/vc-data-model/issues/909)._

**Kristina Yasuda

[2022-09-07 16:09] iherman commented on #913
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-09-07-vcwg#section2-2) on 2022-09-07

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 2.2. `issuanceDate/expirationDate` and `validFrom/validUntil` (issue vc-data-model#913)

_See github issue [vc-data-model#913](https://github.com/w3c/vc-data-model/issues/913)._

**

[2022-09-07 16:09] iherman commented on #902
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-09-07-vcwg#section2-3) on 2022-09-07

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 2.3. Define "prover" in addition to "holder". (issue vc-data-model#902)

_See github issue [vc-data-model#902](https://github.com/w3c/vc-data-model/issues/902)._

**Orie Steele:** W

[2022-09-07 16:27] agropper commented on #821
@Joe Andrieu ***@***.***> I think much of the discussion around holder
is bikeshedding that does not adequately consider the confusion of contexts
and interests for VCs
https://lists.w3.org/Archives/Public/public-credentials/2022Sep/0046.html

On Wed, Sep 7, 2022 at 12:02 PM Joe Andrieu ***@***.***>
wrote:

[2022-09-07 16:32] TallTed commented on #821
@agropper -- Please visit the GitHub website, and edit [your latest comment](https://github.com/w3c/vc-data-model/issues/821#issuecomment-1239618263). `@joe Andrieu` in the first line should be @jandrieu. `@joe` is a GitHub user who is not a member of relevant groups, etc.

(Email responses to GitHub threads *seem* convenient, but do not handle markdown, and are chockablock with other issues that

[2022-09-07 16:38] jandrieu commented on #821
I'm not bikeshedding here. I'm responding to your direct question:

list of reasons why Holder is a normative term in the spec?

I gave you one reason, which is, on its own sufficient to justify defining "Holder" normatively.

Issuers issue VCs to Holders.  That's a defining act.
Verifiers verify VCs presented by Holders. That's a defining act.

The rest of the work in these specs is describing ho

[2022-09-07 16:44] agropper commented on #821
and my point is that using the same term across both issue and verification
is a confusing strategy relative to the big picture of VC adoption.

(I understand that my model for standardized digital credentials is
different from the SSI community so I limit my live participation. I will
limit my written comments as well if others find them distracting.)

On Wed, Sep 7, 2022 at 12:38 PM Joe Andrieu

[2022-09-07 16:51] agropper commented on #902
The role of holder is the same as requester. An entity requests a VC from an issuer and may provide scope as well as authentication as part of the request. (Another) entity requests authorization from a verifier and may provide scope and purpose as well as authentication as part of the request. Unlike holder, requester is always a directed term.

[2022-09-07 17:30] jandrieu commented on #902
So, now you do want to bikeshed?

[2022-09-07 19:29] agropper commented on #902
It's not bike shedding to consider a directed request-based model vs. the current discussion of undirected and directed.

[2022-09-08 04:20] iherman commented on #921
@msporny let us discuss this at TPAC; it is a very technical detail that may not require separate WG discussion. But we should try to settle this soon.

A related issue whether we should, from now on, redirect `https://www.w3.org/2018/credentials` to the v2 version of the vocabulary right now. After all, and in contrast to the v2 version of the context, the vocabulary is backward compatible, so it

[2022-09-08 06:41] David-Chadwick commented on #890
After more thought I do not think a discloseSchema is needed. Rather I think the following clarification of credentialSchema is needed for verifiers.

Whilst the credentialSchema property may be used to ensure that an issued credential is well formed, a verifier may only use it to determine that all the presented subject properties in a selectively disclosed credential are allowed to be there (e.g

[2022-09-08 17:12] jandrieu commented on #821
I agree that people get confused, because the holder term is derived from the notion of the holder of a degree, the legitimate recipient of the credential and yet the holder has fundamental different roles in issuance and verification. I believe this is an unavoidable topological complexity: it is innate to the interactions we are describing.

Whatever term we use for it, the Holder is the unifyin

[2022-09-08 18:17] TallTed commented on #909
VC Extensions are rather more complex, but we might consider starting with something like [the prefix.cc model](https://prefix.cc/about).

By which I mean, there's no blessing or vetting implied by being listed in the VC Extension Registry; anyone can submit (via some relatively simple form) the stuff they're encountering in the wild and/or building into their own production systems. Overlapping/c

[2022-09-08 19:00] agropper commented on #821
I totally agree and support the imperative that issuers SHOULD NOT be aware
of verification. It's critical that all normative aspects of VCs be
consistent with this separation. My concerns and attempted contributions
are intended to drive this change that we seek. Let's call this the Prime
Directive.

Implementing the Prime Directive and adoption of VCs can be helped by:
- Avoiding the kind of thi

[2022-09-09 01:52] decentralgabe commented on #909
+1 to aligning with the W3C registry process. I'd like more info on how we can reasonably keep this up to date and maintain a standard of excellence to enable robust interop.

[2022-09-09 02:02] decentralgabe commented on #923
Concept of a binding proof, perhaps? Not dissimilar to what we already have in the spec with a Verifiable Presentation. Maybe a subset of that.

[2022-09-09 02:04] decentralgabe commented on #915
Before picking any, we need to define `matches`. What if the controller is a separate DID which is controlled by the issuer?

[2022-09-09 03:49] logpo commented on #902
Splitting the holder definition in two will create more confusion IMO. The holder holds the credential and the means to present that credential to a verify. So they receive credentials from issuers, but they have a private key which is what separates them from anyone else who has the plaintext credential. I agree that the term isn't perfect but I'm not sure splitting the role in two fixes that.

[2022-09-09 08:51] pchampin commented on #846
A slightly different, but related question: do we really want the timezone offset to be *optional*? Strictly speaking, a dateTime without an explicit timezone is ambiguous.

If it is expected that timezone offset are always provided, then the specified datatype should be [`xsd:dateTimeStamp`] rather than `xsd:dateTime`.

[`xsd:dateTimeStamp`]: https://www.w3.org/TR/xmlschema11-2/#dateTimeStamp

[2022-09-10 17:11] #917 closed

[2022-09-12 16:27] awoie commented on #926
The current definition of evidence is as follows (as per W3C VC spec 1.1):

@OR13 are you suggesting that we change this definition? The current definition is generic enough to also include NIST definition. Do you have a suggestion on what needs to change or which specific part is missing?

[2022-09-12 17:38] David-Chadwick commented on #902
This problem of describing the actions is compounded when subject NE holder. Describing the holder's relationship with the issuer (and subject) in this case is complex due to the different relationships there may be, and the holder may have to proove possession to the Verifier when the VC is not a bearer VC.
When subject EQ holder we have the public key in the VC to prove the relationship/possessi

[2022-09-12 18:26] OR13 commented on #926
I'd like to see explicit citation, and alignment with NIST terms... they have their own framing which I believe we can do a better job of relating to our existing term definitions.

[2022-09-13 05:04] selfissued commented on #909
I asked Ivan and Wendy about the W3C registries process.  The W3C does have a way of designating a spec as being a registry.  What it does not have is an independent entity to administer registries (like IETF has IANA) or an objective process for doing so (designated experts appointed by the IESG to make yes/no decisions based on objective instructions to the designated experts written into the sp

[2022-09-13 09:19] RieksJ commented on #915
We may also want to revisit
- `issuer`, which is [defined](https://www.w3.org/TR/vc-data-model/#dfn-issuers) as a role (that an entity can perform), but (non normative, but nevertheless documented) examples are limited to various kinds of organizations (see [Ecosystem Overview](https://www.w3.org/TR/vc-data-model/#ecosystem-overview)).  We need to be clear(er) here. Either an issuer is a [party](h

[2022-09-13 09:34] RieksJ commented on #821
@jandrieu wrote

I have several troubles with such texts, e.g.,
1. A holder is defined as a role that an entity might perform. A person is not a role that an entity might perform, and hence cannot be a holder.
2. Strictly speaking, a VC is not issued to a person, but to a technical component (wallet?) that can store it. A person can use one wallet (e.g. on its phone) to obtain a credential, and an

[2022-09-13 13:38] OR13 commented on #909
I like the option of having an RFC establish our registries.

One of the challenges I see with registries is the "industry specific extensions" problem.

For example, we are currently maintaining:

- https://w3id.org/wallet
- https://w3id.org/traceability
- https://w3id.org/citizenship

I don't think we want IANA to be the only responsible party for decentralized semantics.

I do think we want IAN

[2022-09-14 14:48] Sebastian-Elfors-IDnow commented on #908
The example of the SD-JWT in the [updated IETF draft specification](https://www.ietf.org/archive/id/draft-fett-oauth-selective-disclosure-jwt-02.html) has changed, such that the SD-JWT and SVC are different VCs, and that the SD-JWT and selected claims of the SVC are packaged in a SD-JWT-R as a VP. We may update option 1 above with this observation. This model makes sense to me, since the holder ca

[2022-09-15 15:54] Sakurann commented on #893
to clarify in response to the WG conversation, what I meant by "metadata" was "information about how the identity claims were assured and how they are maintained".

[2022-09-15 16:18] philarcher opened #928 "Add `render` property to a core VC data model"
At TPAC 2022, we briefly discussed the need for a presentation layer, or a hook for a presentation layer, so that creds can be presented in a way the issuer wants (branding, layout etc). We may not need to define the presentation layer but we need to consider how they will be presented and may need to include one or more hooks.

[2022-09-15 16:22] decentralgabe commented on #919
Evidence examples in TBD's use cases around KYC: https://github.com/TBD54566975/credentials-working-group/blob/main/work_items/kyc-vcs/vc1-requirements-to-accept-a-kyc-vc.md#3-identity-verification-evidence-vocabulary

[2022-09-15 16:22] decentralgabe commented on #919
cc: @jandrieu

[2022-09-15 16:26] OR13 commented on #919
We are also interested in this related to supply chain evidence, such as "Site Inspection Credential" as Evidence for "Sustainability Certificates" for example.

[2022-09-15 17:05] nadalin commented on #919
There may be different types of Evidence:

evidence of identity (EOI) -evidence that provides a degree of confidence that a subject is represented by the identity being claimed

authoritative evidence - holds identifying attribute(s) that are managed by an authoritative party

corroborative evidence - holds identifying attribute(s) that are not managed by an authoritative party

[2022-09-15 19:20] brentzundel opened #929 "Tracking Issue from TPAC: What does JSON-LD compatible JSON mean?"
Tracking Issue from TPAC: What does JSON-LD compatible JSON mean?

Please use comments to make concrete proposals.

[2022-09-15 20:21] dlongley commented on #929
First attempt at getting things started...

The core data model should be RDF, but serialized using a profile of JSON-LD that is idiomatic JSON. This should be a contextualized, compact form that could be easily checked against a JSON schema and then consumed by JSON developers that are otherwise unfamiliar with JSON-LD.

[2022-09-15 22:24] dlongley commented on #929
The data model today is essentially subject-property-value statements -- and containers / wrappers around those statements (aka "graphs"). This is essentially RDF so we should just reuse it, it's a standard.

[2022-09-15 23:18] Sakurann commented on #909
(do we have a list - registry to register what..? data integrity crypto suites..?)

[2022-09-15 23:38] jandrieu commented on #919
Definitely different types. It would be good to find or create at least a minimal specification for at least a few of these.

[2022-09-16 16:35] decentralgabe commented on #902
I'd like to re-define `holder` as one who has the cryptographic ability to prove control of a credential **using a cryptographic identifier or key defined by the issuer of the credential**.

[2022-09-16 16:42] OR13 commented on #902
I'd like to deprecate `holder`, and NOT define it normatively, instead, I would like to define only terms that have some security characteristic associated with the securing format (vp-jwt, vp-data-integrity).

Unsigned "verifiable" presentations are the only use case for the existing `holder` term imo.

[2022-09-16 17:14] agropper commented on #902
There are significant human rights associations with the `holder` term because of the temptation to use a biometric wallet or, more literally, an ankle bracelet.

"Client credentials" is a constant challenge. To the extent that `holder` is a client, the relationship of the client to the human that is operating the client must be **explicit** in our normative statements. The risk of being expected,

[2022-09-16 17:31] decentralgabe opened #930 "Representing Delegated Credentials in the VCDM"
As per the discussion at TPAC on September 16:

# Overview
This issue mostly lays out information. I'm interested in what the community thinks, and moving towards a concrete proposal (with suggestions from you).

Let's define delegated credentials: _where a subject assigns a subset of their rights provided by a credential to a new party_.

## Related To

- https://github.com/w3c/vc-data-model/issu

[2022-09-16 17:37] decentralgabe opened #931 "Representing Mutli Subject Credentials in the VCDM"
As per the discussion at TPAC on September 16:

# Overview

There is already an example in the spec that calls this out here: https://www.w3.org/TR/vc-data-model/#example-specifying-multiple-subjects-in-a-verifiable-credential

This issue mostly lays out information. I'm interested in what the community thinks, and moving towards a concrete proposal (with suggestions from you).

## Related To

- h

[2022-09-16 17:44] decentralgabe opened #932 "Representing Multi Issuer Credentials in the VCDM"
As per the discussion at TPAC on September 16:

# Overview

Multiple issuers: where there are multiple DID or URI represented issuers of a credential to a single (or multiple) parties.

This issue mostly lays out information. I'm interested in what the community thinks, and moving towards a concrete proposal (with suggestions from you).

## Related To

- https://github.com/w3c/vc-data-model/issues

[2022-09-16 18:52] Sakurann commented on #908
I believe SD-JWT can contain claims in `credentialSubject` with the difference being claims in `credentialSubject` are *not selectively disclosable*, while claims in `sd_digests` are *selectively disclosable*.

I personally think Option 3 is the best balance of processing ease and no changes to vc-data-model and sd-wt specs

[2022-09-16 19:16] msporny commented on #921
@iherman and I talked about the redirect to the v2 version of this (as well as the changes above) and it seems to be ok to make all the changes that are suggested. Digital Bazaar will schedule some time to test the .htaccess rules and will then (if approved by the WG), schedule time to do the switch over and then test heavily to make sure nothing broke. We plan to do this in the next month or so.

[2022-09-16 20:07] Sebastian-Elfors-IDnow commented on #908
Thanks for clarifying, Kristina.

So to be clear, the "credentialSubject": {claims} in option 3 are other claims than the claims+sales in the SVC.

As regards to section 5.8 in the W3C VC Data Model 2.0, it could be renamed to "Selective Disclosure", since that will allow for more technologies than ZKP. The ZKP schemes (BBS+, AnonCreds, etc) could be one of the options in the bullet list, SD-JWT c

[2022-09-16 20:57] decentralgabe commented on #908
@Sebastian-Elfors-IDnow the last link in your original post is broken, is there an updated example?

[2022-09-16 20:58] Sebastian-Elfors-IDnow commented on #908
Here's the latest [IETF SD-JWT specification](https://www.ietf.org/archive/id/draft-ietf-oauth-selective-disclosure-jwt-00.html).

[2022-09-16 23:17] decentralgabe opened #933 "Define a standard way to use Credential Schemas for Credential Subjects"
Follow up from the TPAC talk on September 16th on using JSON Schemas to define the data-shape for credential subjects.

# Overview

There was a draft in the CCG a few years ago that had some moderate adoption: https://w3c-ccg.github.io/vc-json-schemas/v1/index.html

New draft could use some tlc: https://w3c-ccg.github.io/vc-json-schemas/v2/index.html

# Notes from TPAC

- Agree to not require usin

[2022-09-16 23:20] decentralgabe opened #934 "Define JSON Schemas for all objects in the VCDM"
We should publish JSON Schemas to represent Verifiable Credentials and Verifiable Presentations to aid with static validation of the data models.

A few questions:

- Which version of JSON schema shall we use?
- How does this impact the concept of 'verifiability' -- i.e. is a credential valid if the signature verifies but the schema verification fails?
- How do we represent _advanced topics_ prope

[2022-09-17 00:59] nadalin commented on #908
Thank you for presenting aw this make a lot of sense as it reduces complexity in C14N and in algorithms, very simple solution for JWT usage.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Sebastian Elfors (IDnow) ***@***.***>
Sent: Friday, September 16, 2022 1:59:06 PM
To: w3c/vc-data-model ***@***.***>
Cc: Subscribed ***@***.***>
Subject: Re: [w3c/vc-data-

[2022-09-17 18:19] OR13 opened #935 "Add "credential boilerplates" as examples"
Developers copy spec examples, we should plan to have better boilerplates in v2, here is an example:

[code]

[2022-09-18 18:29] darrellodonnell commented on #933
How can I help here?

[2022-09-19 02:42] decentralgabe commented on #933
@darrellodonnell I plan on discussing this on the next wg call to forge the best path forward. Perhaps for now the best thing to do is get towards a really solid draft here: https://github.com/w3c-ccg/vc-json-schemas?

Open to your suggestions

[2022-09-19 07:38] iherman commented on #76
In my view, this issue could be closed.

- We had a discussion about JSON schema usage at the F2F, and there is now a separate issue on this (#934)
- Neither SHACL nor Shex is prepared to constrain _Datasets_ (ie, named graphs) as opposed to single RDF graphs. Named Graphs are essential in the VC model, we cannot bypass them, and we should not use any sort of experimental extensions to SHACL/Shex;

[2022-09-19 09:17] awoie commented on #930
I am wondering whether delegation is a specific case of holder binding where the holder binding can be verified based on a delegation. We are using delegations for this as well where we would include a delegation object (similar to ZCaps) to allow the holder to present specific credential types and/or IDs to a verifier on behalf of the credential subject.

[2022-09-19 10:41] iherman commented on #934
+1

Because there is no standard version, I would think we should choose a version that is well backed up by tooling (plugins to usual editors, validator libraries or programs...). I myself use, usually, [ajv](https://ajv.js.org), which can be used both on a command line as a JS library, and which seems to [correspond, by default, to draft-07](https://ajv.js.org/json-schema.html). But I do not hav

[2022-09-19 15:19] SmithSamuelM commented on #934
Cross posting from another issue. As this issue is more relevant to this post>

JSON Schema has some very nice composition operators (anyOf, oneOf) features that allow us to support graduated disclosure and contractually protected disclosure in ACDCs. JSON Schema also have a fairly expressive rules engine for arbitrary composition. If one uses composed JSON Schema then Schema can be immutable (all

[2022-09-19 20:22] OR13 commented on #934
At TPAC the idea of focusing on OAS, instead of JSON Schema was raised... I am in favor of using OAS3.

See https://swagger.io/specification/

See the section on data types:

[2022-09-19 20:44] SmithSamuelM commented on #934
I haven't reviewed OAS3 at the same level of details as the latest version (2020) of the JSON schema specification. However, this paragraph from  the Wright Draft for JSON Schema which is referenced as normative for OAS is compatible with locking down schema as immutable which is a MUST for ACDCs.

"
The URI is not a network locator, only an identifier.  A schema need
   not be downloadable from t

[2022-09-19 20:46] OR13 commented on #934
Just below the quote I provided:

The following properties are taken from the JSON Schema definition but their definitions were adjusted to the OpenAPI Specification.

type - Value MUST be a string. Multiple types via an array are not supported.
allOf - Inline or referenced schema MUST be of a [Schema Object](https://swagger.io/specification/#schema-object) and not a standard JSON Schema.
oneOf -

[2022-09-19 20:47] OR13 commented on #934
I've found that this is one of the areas where JSON Schema's lack of standardization starts to break... different implementations support different sets of "composability" apis.... You can't consistently rely on them across languages in my experience.

[2022-09-19 20:55] SmithSamuelM commented on #934
Thats not bee our experience so far. We use the oneOf and anyOf composition operators which appear to be very well defined and implemented. There are other composition operators besides those two like the regexable ones that are not so well locked down. But implementations that do not follow the spec are the problem not the spec. The spec is clear what oneOf and anyOf are supposed to do. So arguin

[2022-09-19 20:56] dezell commented on #934
In our (Conexxus) use of OAS 3 and JSON Schema, we found composability was not consistent between various tools.  **We solved** that problem by using "bundling" to build OAS files with no external references (re-performing bundling on any check-in) and we have yet to discover any tool (display, code generation, or other) that has any problem with the bundled version.

Also, as I mentioned in Vanco

[2022-09-19 21:00] SmithSamuelM commented on #934
I think we may be talking about two different types of composition. There is composition via bundling or bundlers and the specific composition operators `oneOf` and `anyOf`. One can use oneOf and anyOf on an unbundled schema and subschema or on bundled sub-schema. But the syntax and semantics of those two operators is well defined.

[2022-09-19 22:06] dezell commented on #934
You're right, there is "oneOf/allOf/anyOf", which may or may not use JSON-Pointer to reference external documents.  It's the external reference that was problematic.

And in our case, we chose the bundler, and the users of the finished specification don't have to use bundlers at all unless they choose to do so - we made the decision for them before we published.

[2022-09-19 22:44] SmithSamuelM commented on #934
@decentralgabe

In ACDCs schema is type. So we rigidly require schema validation for ACDC validation not merely signature validation. This level of rigidity is for ACDC security properties and guarantees. This does not need to be a MUST requirement for VCv2 but allowed for those applications that choose to adopt a more rigorous security stance.   As a result schema as type in ACDCs are immutable.

[2022-09-19 22:51] SmithSamuelM commented on #934
Moreover because ACDC issuances are anchored via their SAIDs in the Key Event Log of the Issuer (another verifiable data structure) the proof of issuance of an ACDC does not require an attached signature but merely a reference to the anchoring event which is verifiable against the SAID of the issued ACDC.  Because the AID of each Issuer has its own KEL there is no co-mingling of key state. A given

[2022-09-19 23:17] SmithSamuelM commented on #934
Immutable schema identified by SAIDs (cryptographically agile self-addressing identifiers) which are derived from the cryptgraphic digest of the schema, mean that ACDCs need no shared governance type registries for interoperability. Each schema's SAID is universally unique so types of ACDCs can be identified in a universal namespace without collisions. (unless the schema are bitwise identical whic

[2022-09-19 23:26] SmithSamuelM commented on #934
One of the problems with dynamically reconstructing serializations from a non-persistent data structure is that it is difficult indeed pathologically so, to detect and recover from partial deletion attacks of the non-persistent data structure. One can not build truely zero-trust architectures unless one has signed at rest persistent data structures or at least keeps around the artifacts needed to

[2022-09-19 23:55] jandrieu commented on #930
I'll reiterate what I said at the TPAC session.

I think there is serious conflation between the literal impossibility of "delegating statements"  and the legitimate need for VCs to use statements to delegate privileges.

VCs, as statements, are fundamentally NOT delegatable.

A statement is what it is: an attestation by a knowable author (the issuer) about a subject.

That attestation is a fact.

[2022-09-20 05:56] vongohren commented on #930
@jandrieu can you reflect on the most obvious delegateable VC, concert ticket, the same way you do here? It was not mentioned but it is something that can be sold onwards and be delegatable. There are issues with this in regards to mutliple reselling, so maybe it is difficult to achieve

[2022-09-20 06:43] vongohren commented on #933
The next wg call is the one tomorrow right? The W3C VC call? @decentralgabe

[2022-09-20 07:58] agropper commented on #930
@joeandrieu I agree with much of what you’re trying to say but the
conflation I see is due to the introduction of “client credentials” as a
concept into the purity of VCs.

Adrian

On Tue, Sep 20, 2022 at 7:56 AM Snorre Lothar von Gohren Edwin <
***@***.***> wrote:

[2022-09-20 18:49] jandrieu commented on #930
@vongohren wrote:

Depends on how you model the statement that is the ticket. Because the ticket itself is its own thing. Like any VC, it's always transferable to another holder. The question is whether or not the privileges stated in the VC transfer to some new party through some explicit mechanism.

If the VC says "The bearer of this ticket is entitle to admission to event XYZ on date ABC at loc

[2022-09-20 20:11] TallTed commented on #902
The `holder` *holds* the VC.  They need not be identified anywhere in the VC (though they might be).  There is no global need to tie VCs to their `holders`, though it may be useful in some cases.  Likewise, there is no global danger for `holders` of VCs, nor even `subjects`, who may not ever know they were the `subject` of a given VC.

I am growing increasingly weary of saying the same thing again

[2022-09-20 20:29] TallTed commented on #931
There should be no confusion.  I continue to be baffled by the assertion that the `subject` is (or is not) inherently and implicitly the `holder`.  The `subject`(s) is(are) the entity/ies about which the VC contains assertions.  The `holder`(s) is(are) the entity/ies who hold the bytes that comprise the VC, including those statements, the relevant crypto to confirm that they have not been changed

[2022-09-20 22:02] TallTed commented on #76
@iherman -- I agree about avoiding experimental extensions in VCDM, but it seems worth logging this as an issue against [SHACL-now toward a SHACL-next](https://github.com/w3c/shacl) (or whatever bikeshed name eventually gets settled on).

[2022-09-20 22:34] TallTed commented on #930
@jandrieu -- I *mostly* agree with [what you said](https://github.com/w3c/vc-data-model/issues/930#issuecomment-1251688234), but --

No, that attestation is an attestation.

(It *is* a cryptographically verifiable fact that the attestation exists, and was issued by the issuer.  This is probably roughly what you meant.)

You and your business logic may *treat* (some or all) such attestations _as if

[2022-09-20 22:53] TallTed commented on #930
@jandrieu -- Another nit.

Various ticketing agencies would disagree with the last sentence of the above quote.  Scannable codes (QR, BAR, and other) do quite well (though certainly not perfectly well) at controlling duplication (though I can print 1000 copies of my ticket, if I really care to, the basic enforcement is to prevent a second entry on the same scan code, which may then lead to an ushe

[2022-09-21 01:04] decentralgabe commented on #930
lots of good thoughts in here, let me respond:

@awoie

I don't see why not. If holder bindings make it to the spec, I believe delegated binding relationships could be handled by the construct.

@kdenhartog

The example is contrived. For all we know there is an interactive protocol by which the issuer requests from the delegate/subject an ID or set of IDs to use or to better understand the relatio

[2022-09-21 01:07] decentralgabe commented on #930
re: the ticket example @vongohren @jandrieu

this is similar to a use case I've encountered -- signing over a pink slip of a vehicle. I have a credential (pink slip) issued to me by the DMV. I am able to sign over that document to a new party, effectively transferring ownership away from myself.

This I would not consider a delegation use case at all. In fact I think it's a re-issuance application

[2022-09-21 01:18] decentralgabe commented on #931
Thanks, @TallTed I agree with 99% of what you wrote. I added those questions to appear neutral (though I'm really not 😁)!

The `subject`/`holder` semantic confusion is something we must clear up rather soon. Your conception was mine, until learning of other's perspectives. Such room for other interpretations to creep in is an indication that the spec text is not as precise and unambiguous as it sh

[2022-09-21 01:22] decentralgabe commented on #932
Mentioned this [in the issue around multiple subjects](https://github.com/w3c/vc-data-model/issues/931#issuecomment-1253081320), but had some more thoughts after TPAC to address the approach described last Friday:

One point that @smithsamuelm raised at TPAC (though relating to multiple issuers, not multiple subjects) was that a single DID can be used to represent multiple parties, if those partie

[2022-09-21 01:31] kdenhartog commented on #930
Good call out. That reminded me that I tend to bias towards pushing things into the data model layer rather than solving at the protocol layer for the broadest applicability, but that's certainly not a requirement.

I've traditionally argued that keeping capabilities semantics separate is the better way of approaching this problem. Mainly because I would expect many developers who only look at exa

[2022-09-21 02:19] SmithSamuelM commented on #931
@decentralgabe  One of the warts your are exposing  has often be referred to as the cheap pseudonymity problem. If a DID as cryptonym (cryptographic pseudonym) may be cheaply created and the value of the reputation of that DID, its brand value, the connections and relationships, the liabilities, accruals, indeed the value of maintaining control of that DID by a given Natural Person or Legal entity

[2022-09-21 06:56] RieksJ commented on #932
This is not just technically adding things, but much more about its meaning. I would like to think that an issuer-signature over credential-data can be used to identify the [party](https://essif-lab.github.io/framework/docs/essifLab-glossary#party) on whose behalf an [actor](https://essif-lab.github.io/framework/docs/essifLab-glossary#actor) has signed the credential. Not just so that a verifier c

[2022-09-21 07:48] RieksJ commented on #930
[Here](https://essif-lab.github.io/framework/docs/terms/mandate) and [here](https://essif-lab.github.io/framework/docs/terms/delegate) are descriptions of what delegation seems to typically mean (the difference in the descriptions being the responsibility/accountability involved).

A delegation/mandate is about rights and/or duties (to do something/get something done). [Hohfeld's model on rights/d

[2022-09-21 08:12] RieksJ commented on #902
One of the above comments nicely distinguished between parties and roles. A [party](https://essif-lab.github.io/framework/docs/essifLab-glossary#party), whereas a role can be seen as a particular way in which it can perform. It's like a play where actors fulfill roles, which is easily transferrable to the real world (I can act in a role as 'father', 'TNO employee', etc.). The VC-image of issuer-ho

[2022-09-21 13:26] msporny commented on #930
@kdenhartog wrote:

You know us well. :)

I expect that we'd object to overloading the VC data model with authz and cryptographic delegation semantics.

It can be done -- in the same way that a JWT can hold any digitally signed information, but as you said, the JOSE/OAuth/OpenID community has gotten in trouble in the past by overloading JWT semantics. We have lessons to learn from how that has unf

[2022-09-21 13:47] msporny commented on #930
Thinking out loud here, so this idea might be fatally flawed -- if we are worried about people abusing the VC Data Model for capabilities, we might want a new cryptosuite that only covers ZCAPs (or whatever capability mechanism there is) called something like `zcap-2022`, which MUST check the expected capability fields. We'd do that to prevent some hapless developer from using off-the-shelf VC or

[2022-09-21 16:14] decentralgabe commented on #930
@msporny

Agree here, let's get solid on this distinction and just focus on 1. 2 is clearly out of scope for a data model.

Can you help me understand this a bit better? The resource/actions that are being delegated are defined by the law, and clarified by the link above on the American Bar Association site:

Having a credential represent this relationship would allow the delegate to present a ver

[2022-09-21 17:36] msporny commented on #753
A recent discussion on this has been going on Twitter:

https://twitter.com/OR13b/status/1571223765106802689

Recording here for posterity:

[Orie Steele](https://twitter.com/OR13b) [@OR13b](https://twitter.com/OR13b) [@Gkellogg](https://twitter.com/Gkellogg) [@philarcher1](https://twitter.com/philarcher1)  uses  [@danbri](https://twitter.com/danbri)'s idea to disable remote context loading via vo

[2022-09-21 20:46] brentzundel commented on #880
The associated PR has been merged, closing

[2022-09-21 20:46] #880 closed

[2022-09-21 20:52] brentzundel commented on #893
I believe this is the original intent of the `evidence` property, so it may be good to adjust that rather than introduce another property.

[2022-09-22 04:35] selfissued commented on #908
I don't understand `"credentialSubject": {claims}` in Option 3.  What is it shorthand for?

[2022-09-22 06:39] Sebastian-Elfors-IDnow commented on #908
Hi Mike,

The credentialSubject property is mandatory according to the [VC Data Model](https://www.w3.org/TR/vc-data-model/#credential-subject ), so it has to be present. The "{claims}" may contain the user's DID or other data that is anonymized or acceptable by the user to share at any time. If possible, we could leave the {claims} empty or nullified.

The rest of the user's claims and related sa

[2022-09-22 07:11] RieksJ commented on #930
As @msporny, I also object to overloading the VC data model with authz and cryptographic delegation semantics. A VC data model should focus on its core, which roughly is:
- the expression of 1..n claims about 1..(m<=n) subjects, that are made by a single party, where a claim can be expressed as a subject-predicate-object triple and an object need not necessarily be a simple value. This is a purely

[2022-09-22 14:50] jandrieu commented on #930
@kdenhartog We must still be talking past each other.

The holder is a functional term. It is, by definition, whoever holds the serialized form of a VC.

As such, it is a mistake to attempt to identify, in the VC itself, who the holder is. Because it is only ever true by happenstance. It's not possible to know who holds a VC at the current moment except by proof of possession. If they can deliver

[2022-09-23 00:25] kdenhartog commented on #930
@jandrieu I don't believe we're talking passed each other here, I think we just have a different set of principles guiding our views. From my understanding you want to keep this aspect undefined as you believe that this is going to act as a mechanism for censorship. However, the reality is the market wants this capability and defining that the spec shouldn't define this on a principled stance won'

[2022-09-23 05:57] RieksJ commented on #930
@kdenhartog I'm curious to find out what the *actual* use case is you have in mind.

I'm not convinced that the market at large is asking for "this" (not sure what you're referring to). I do know that in actual cases, customers tend to ask for (preferably technical) things that they think might solve their problems, whereas if you get them to think about it, it often turns out that is not a real s

[2022-09-23 06:10] RieksJ commented on #930
@jandrieu At risk of changing the topic of this issue (which is not my intention): I can think of cases where issuers do need/want to restrict the verifier-audience that can read (claims in) credentials that they have issued.

One example is that the Netherlands has a law that restricts the use of the BSN (the Dutch equivalent of the US SSN), basically to be used within the context of government,

[2022-09-23 06:38] kdenhartog commented on #930
Covid Passes had this exact problem. When an issuer issued a covid pass it was possible for a user to hand their covid pass to another person and if the validators process didn't do an additional IAL check (confirm the person in front of them is the subject of the covid pass via a secondary DL with a photo) then it was possible to bypass the checks in a semi legitimate way. For example, this could

[2022-09-23 07:34] RieksJ commented on #930
@kdenhartog Thanks for clarifying and mentioning  the COVID-pass example.

Applying the case to the VCDM context, it is my view that this is another example of the issue I tried to convey in #760: if you see a claim within a VC as a (linked-data) tree, with nodes and edges, where subjects and objects are represented by nodes, and predicates by edges, then I think it is very useful if verifiers wer

[2022-09-23 08:01] kdenhartog commented on #930
-1 from me on turning this into a graph theory problem. We can barely get people to understand JSON-LD right, let's not turn VCs into academic shelfware.

[2022-09-23 09:23] RieksJ commented on #930
I'm not in favor of standardizing features that are intended to maintain (digital) equivalents of [favelas](https://en.wikipedia.org/wiki/Favela). The Dutch would say this is "dweilen met de kraan open" (mopping with the tap open).

I've heard someone sigh: "How nice would it be if someone would fix the tap while others are mopping!". And I agree. While I really also appreciate people that keep on

[2022-09-23 12:14] jandrieu commented on #930
@kdenhartog wrote

A minor nuance: "this aspect" is not undefined.

The holder *is* defined. It is whoever holds the credential.

It has nothing to do with what *any* property in the VC says, which is why holder as a property is a intentionally not defined.

Your proposal is like spraypainting a "Baby on board" sign onto your vehicle because you think that will communicate to people that there is

[2022-09-23 12:29] jandrieu commented on #930
Yes. Lots of authorities would like to restrict what people do with the information they create. Secret warrants. Secret evidence. Secret proceedings.

If you want to keep it secret, don't put it in a VC that you give away to a party outside of your control. There are plenty of mechanisms to restrict data flow.

VCs aren't one of them.

Compliance is not a technical justification. To wit: complian

[2022-09-23 15:20] msporny commented on #930
@RieksJ @decentralgabe @kdenhartog -- now we're getting somewhere! I hope :P ... I think we're agreed that cryptographic delegation for the purposes of authz (zcaps, gnap, etc.) are out of scope for VCs (even though you can do it). Hooray! Now all we need is for @swcurran, @awoie, and @David-Chadwick to weigh in to see if they agree. :)

It also sounds like there is a strong argument for NOT estab

[2022-09-23 15:34] msporny commented on #930
*Manu lols.*

I agree with @kdenhartog. We have to a find a way to solve all of these problems without falling into the "just use a semantic reasoner" trap. :)

There's a fine line between "just enough semantics to solve the problem" and "so much reliance on semantic theory that 99% of developers will be unable to use the solution".

This is why I (and Dave Longley) were arguing for "JSON-LD compa

[2022-09-23 18:47] agropper commented on #930
@joeandrieu You seem to be arguing for the same thing as I am which is also
consistent with Anil’s perspective in the OWF thread
https://lists.w3.org/Archives/Public/public-credentials/2022Sep/0202.html

Paraphrasing Anil about how to handle VCs:
A The subject’s choice of digital or physical credential
B Eliminate “phone home” architecture
C Eliminate “back channel” interaction between verifier an

[2022-09-23 20:29] TallTed commented on #930
@jandrieu -- For clarity, you might edit the last snippet of https://github.com/w3c/vc-data-model/issues/930#issuecomment-1256135465, and use `(1)`, `(2)`, `(3)` to refer to the numbered approaches, instead of `#1`, `#2`, `#3` which created unintentional (and potentially confusing) links to (and significance-less cross-references from!) issues 1, 2, and 3 (intentionally _not_ linked here).

[2022-09-23 20:30] TallTed commented on #930
_Perhaps_ we might consider a new standardized VC property, `issuedTo`, which would identify the entity to whom the Issuer *intended* to, and believes they did, issue the VC, whether or not that entity actually was the VC's original recipient upon issuance a/k/a first Holder, and whether or not that entity is (one of) the Subject(s) of the VC.

Certainly, the Issuer can include some property, whet

[2022-09-24 13:42] swcurran commented on #930
@msporny -- per your question about whether I would agree that adding to the W3C VC Data Model to support some form of cryptographic delegation for authz is a bad idea -- yes, I fully agree it is a bad idea.  I think that the W3C VC Data Model already has too much "use case specific" data elements in it, and prescribing more is a bad idea.  I do think that if the W3C were to go down the path of co

[2022-09-24 13:48] RieksJ commented on #930
We first need to get the semantics of 'issuedTo' specified; saying it is followed by a URI, DID or something similar isn't enough. It should be clear to what kind of entity such an identifier must be pointing. Here are two possibilities:
- the [party](https://essif-lab.github.io/framework/docs/essifLab-glossary#party) - i.e. an organization or a person that is known at the business level and hence

[2022-09-24 13:57] RieksJ commented on #930
Concerning the binding to a holder of a VC, I see lots of (semantic) difficulties; might we discuss that at RWOT?

[2022-09-24 16:15] agropper commented on #930
There’s also the distinction around copying a VC. In the physical world, an
issuer can make it very hard to copy the credential through physical
safeguards such as holograms.

VCs are trivial to duplicate. This may lead issuers to try to bind the VC
to a particular client and that client to a particular biometric. If so,
then subjects, given a choice like DHS offers, will prefer physical
credentia

[2022-09-24 20:06] OR13 opened #937 "Presentations SHOULD expire"
In general guidance on presentations is poor.

My understanding of them is that they are meant to be extremely short lived, and bound to a challenge provided by a verifier.

Therefore, they should expire in ... minutes?

If they don't expire quickly, the value of the subject / holder arguments seems less useful.

The core data model should define requirements for presentations better, and the "sec

[2022-09-26 19:14] David-Chadwick opened #938 "Indicating Encrypted VCs in VPs"
We have a requirement to carry encrypted VCs within a VP to the Verifier. We need to signal this to the Verifier somehow. (The encryption will be performed by the wallet to the public key of the Verifier/RP, which the wallet has obtained in a protocol specific way. How this is achieved is out of scope for the VC DM.)

We are suggesting to the group that we define a new VP type, e.g. EncryptedVCs,

[2022-09-28 06:28] nikosft commented on #882
This is very interesting @OR13 I was wondering how do you use the information in the holder object to verify that the holder is indeed a legitimate holder of the VC(s) included in the corresponding VP. Do you use out of band rules? Another mechanism?

[2022-09-28 11:10] David-Chadwick commented on #932
We have many examples today of multiple signatures on documents, both concurrent signing and sequential signing. An example of the former is a cheque (US check) that needs multiple signatures. An example of the latter is when a witness signs a document after the contractual party has signed the document. So we should cater for both of these in the VC DM. In the NGI Atlantic project we are working

[2022-09-28 13:01] OR13 commented on #932
[code]

https://www.rfc-editor.org/rfc/rfc7515#appendix-A.6.4

Notice the missing `alg`... Not sure how much actual interop there is here... cc @selfissued @Sakurann @dwaite

Is JWS multisignature well supported today? What are some pitfalls? Is there a compact serialization?

[2022-09-28 13:03] OR13 commented on #932
Here is part of the answer from the test vectors RFC: https://www.rfc-editor.org/rfc/rfc7520#section-4.8

[2022-09-28 13:54] SmithSamuelM commented on #932
@David-Chadwick  Recursive Serial Signing works for endorsements where a later signer signs the signed payload from a previous signer, but it is problematic for thresholded multi-sig where the signing must not be ordered and the signers do not sign each others signed payload.

[2022-09-28 23:33] decentralgabe commented on #932
Would it be reasonable to add normative spec language describing how to construct a multi-issuer credential and leave 'securing' to the Data Integrity and VC-JWT specs? It sounds like there are solutions for both camps.

[2022-10-03 09:35] Sebastian-Elfors-IDnow opened #939 "Potential improvements to section "5.8 Zero-Knowledge Proofs""
Here are some suggestions how section "[5.8 Zero-Knowledge Proofs](https://www.w3.org/TR/vc-data-model/#zero-knowledge-proofs)" in VC Data Model v1.1 could be improved.

The title may be changed to "Selective disclosure and unlikability" to make the section more generic and broaden the scope from Zero Knowledge Proof schemes to other techniques.

The list with "key capabilities" could be extended

[2022-10-03 11:04] paulojorgeqferreira opened #940 "EU Label joint degree and multiple issuers for the same VC"
The new EU label initiative for joint masters and the European Universities alliance's ability to have a legal status raise the need for multiple issuers for the same VC. Open Certs support multiple issuers. Will the VC data model support multiple issuers ? Or  VC presentations will cover this allowing several credentials to be mixed for a Joint degree? But for the EU label credentials maybe this

[2022-10-03 12:28] RieksJ commented on #940
I strongly oppose the idea of VCDM to support multiple issuers for a single VC.

First, it may cause semantics problems for the contents. Semantics are not schemas, but the interpretation of schemas, and each party gets to interpret any schema in its own way. Having multiple issuers on a VC ensures that a verifier no longer has an authoritative source for the interpretation of the schema that was

[2022-10-03 12:33] RieksJ commented on #938
How about not defining another kind of presentation, but allowing presentations to contain other kinds of credentials, such as an `EncryptedVC`, but perhaps also an `AnonCred`? And to ensure a proper mechanism is put in place that ensures the contents of presentations is controlled to the extent necessary (yet no further)?

[2022-10-03 13:05] RieksJ commented on #937
I don't think VCDM should do much, if anything at all, with `expiration`. Here are some reasons

First, the meaning of `expiration` is what a verifier chooses to do with its value. Consider a (paper) passport: for many situations, it's ok to present a passport that hasn't expired for more than 5 years. In other situations, it may not have expired. For requesting a visa to China it must be valid 6

[2022-10-03 13:22] RieksJ commented on #932
+1 to the need for clearer language.

-1 to expressing additional possibilities without first having proper criteria for determining what does (not) qualify as a holder/subject/prover/issuer/verifier/validator/..., at least for use within the context of VCDM, which (for me) implies that all (active) stakeholders for the VCDM have demonstrated they have the same understanding of such terms.

[2022-10-03 14:17] SmithSamuelM commented on #932
This is where I find cognitive dissonance with the VCDM based on Triples.   The exchange of VC is an information exchange. It is a transaction. Transactions have their own properties. The roles of the exchangers does not necessarily have anything to do with the information being exchanged. Or at the very least there is a narrow set of information that is needed to support the exchange of OTHER inf

[2022-10-03 15:50] paulojorgeqferreira commented on #940
Thanks RieksJ.  Can you provide some additional information about the endorsement claims for a particular VC. How would it work in terms of data? Each claim will in some way endorse a VC issued by a third party (referring to a did?), or it will be at VC level? Sorry to ask so many questions. I'm not an expert on the subject.

[2022-10-03 19:45] dlongley commented on #940
+1 for first trying to solve new use cases through the composition of well-known, well-understood existing primitives -- before deciding to invent new ones.

[2022-10-03 21:44] SmithSamuelM commented on #932
What is the VC proof proving? Is it proof of issuance? Is it proof of Authorization by an issuer to and issuee. Is the proof related to a type of disclosure such as selective disclosure.  Is is a range proof?  Is is a herd privacy proof. The type of proof is entirely transactional. And that's my point. The VC data model is confused because proofs are part of transactions/interations between a prov

[2022-10-03 21:50] SmithSamuelM commented on #932
If we only allowed on type of proof, that is proof of issuance with only an Issuer and no Issuee, then we could have a non-interactive non-transactional proof. But the majority of use cases for Credentials (which by defintion of credential is evidence of entitlement, means that there is an Entitler and Entitlee i.e. a transactional relationship and thats where the semantic web runs aground because

[2022-10-03 22:08] SmithSamuelM commented on #932
As a caveat, lest my use of the term semantic devolve into a discussion of what a semantic is.  To be clear transactions themselves have semantics, they have models. But the models are narrowly defined and constrained by the transaction. They are not the open world semantic model that the semantic web in general is trying to realize. And that is the cognative dissonance. Trying to stuff an open wo

[2022-10-03 22:19] SmithSamuelM commented on #932
It seems to me that the VCWG2 is an opportunity to fix this unfortunate confusion of concerns and clearly delineate athe narrow semantics of an exchange layer from the broad semantics of a payload of the exchange layer. Maybe this splits the WG into two WGs once for doing all the A4, Confidentiality, Privacy exchange modeling and the other doing the payload modeling.

[2022-10-03 22:33] SmithSamuelM commented on #932
So for example.  If I have only the need to provide a proof of issuance, then an authenticated key pair linked to an Issuer identifier that may or may not be linked to a natural persor or legal entity along with a non-repudiable digital signature made with that key pair provides a conceptually clean model for proof of issuance.  But as soon as I attempt to make that data for which I can prove issu

[2022-10-03 22:43] SmithSamuelM commented on #932
A set of transactions that are exchanges can be used to build a complex model of relationships. One transactions can carry a payload of data that can later be referenced in support of some other transaction. The later transaction has clear semantics of the parties and roles to the transaction as defined by the transaction type. But either party may reference payloads of prior transactions in order

[2022-10-04 06:08] RieksJ commented on #940
The only work that I know exists is a [paper](https://github.com/WebOfTrustInfo/rwot11-the-hague/blob/master/draft-documents/verifiable-endorsements-from-linked-claims.md) that's being constructed as part of RWoT 11. If you're interested, you could decide to contact any of its authors, e.g. @dmitrizagidulin.

[2022-10-04 06:46] David-Chadwick commented on #932
@SmithSamuelM "So for example. If I have only the need to provide a proof of issuance,"
But what if I have the need to provide proof of issuance to a specific entity? Then in that case the issuer would include the public key of the entity in the issued credential. This is still a clean model. There are still only two parties involved. The issuer and the issuee.
But what if I need to provide proof

[2022-10-04 13:48] msporny commented on #929
A cut at some language that might provide some clarity around what "JSON-LD compatible JSON" means. The Verifiable Credentials Data Model is "JSON-LD compatible JSON", which means the following:

* All Verifiable Credentials expressed [MUST utilize the `@context` parameter](https://www.w3.org/TR/vc-data-model/#contexts) where the values SHOULD be URLs. That is, in-line JSON-LD Contexts are strongl

[2022-10-04 14:36] TallTed commented on #932
@SmithSamuelM — It's hard to digest and respond properly to your walls of text, especially with incorrect punctuation (such as [many periods where question marks belong](https://github.com/w3c/vc-data-model/issues/932#issuecomment-1266088687)) and frequent typos (such as [instances of `is is` that should be `is it`](https://github.com/w3c/vc-data-model/issues/932#issuecomment-1266088687)).

I expe

[2022-10-04 15:07] msporny commented on #929
@OR13 could you please re-edit your comment above and 1) explain your -1s in more depth, and ideally, 2) provide counter-proposals for all -1s. It will help us figure out areas where it might be possible to reach consensus. Like the `@vocab` / "experimental" thing seems close... but the schema.org thing feels like it needs a lot more discussion (there's history there that much of the WG is probabl

[2022-10-04 15:08] David-Chadwick commented on #932
CONCRETE PROPOSAL

Add the new role of _issuee_ to the V2 data model, which the issuer can optionally insert into the issued VC.

The structure of _issuee_ is alligned to be the same as issuer (i.e. object or string).

[2022-10-04 15:12] OR13 commented on #929
edited, mostly my counter proposals are "don't say this in a W3C TR."... leave the power in the hands of the developers / system builders and users.

[2022-10-04 15:57] dlongley commented on #929
+1 to all the proposals in https://github.com/w3c/vc-data-model/issues/929#issuecomment-1267030853.

[2022-10-04 19:32] SmithSamuelM commented on #932
@TallTed Sorry for the typos. I will be more careful.

@David-Chadwick I believe that this is precisely the problem of ambiguity between holder/subject/... discussed above. Is the Issuee identifier counted as meta-data?  If the identifier of a party to the transaction is not meta-data then how does it fit into the VCDM. Clearly, any identifier can be represented as an object/string as metadata, bu

[2022-10-04 20:57] David-Chadwick commented on #932
@SmithSamuelM The reason for introducing the new role of issuee is to remove all ambiguity between subject and holder.
So,
1. the issuer issues the VC to the issuee (always) and may optionally insert the latter's identity into the VC.
2. The issuer inserts its own identity into the VC it issues (always)
3. The issuer issues the VC about a subject (always) and may of may not uniquely identify the s

[2022-10-04 23:02] selfissued commented on #929
**It’s time to let JSON be JSON**

The Verifiable Credentials spec currently has conflicting guidance about the use of @context when the VC is not JSON-LD.  On one hand, [Section 6.1 (JSON)](https://www.w3.org/TR/vc-data-model-2.0/#json) describes the pure JSON representation without making any requirements to use @context.  On the other hand, [Section 4.1 (Contexts)](https://www.w3.org/TR/vc-data

[2022-10-04 23:50] TallTed commented on #932
(First, note the typo, "`may of`" should be "`may or`".)

Why change your phrasing for this, instead of following the same form as the first two, i.e., "`3. The issuer issues the VC about a subject (always) and may optionally insert the latter's identity into the VC`"?

(I would suggest also changing both instances of `the latter's` to be explicit, i.e., `the issuee's` in (1) and `the subject's` i

[2022-10-05 00:21] TallTed commented on #929
@selfissued -- **It's time to let `@context` be `@context`.** Please edit your latest comment, and wrap all 13 occurrences of `@context` in code fences. That GitHub user is not part of any relevant groups, and does not need to be pinged every time a comment is made on this thread.

Also, please note that, in fact, JSON that uses URIs for all terms, thus requiring no mapping from "simple" term lite

[2022-10-05 01:24] nadalin commented on #929
There is absolutely no reason to have or process a “@ context” when dealing with JWTs, it requires extra work for parsers that ONLY process JSON to process the “@ context”, its time to remove this requirement and let JSON be JSON and not force these processing rules on deployments that don’t want to use JSOON-LD, lets make things simple.

From: Ted Thibodeau Jr ***@***.***>
Sent: Tuesday, October

[2022-10-05 01:26] nadalin commented on #929
-1 to this approach

From: Manu Sporny ***@***.***>
Sent: Tuesday, October 4, 2022 6:49 AM
To: w3c/vc-data-model ***@***.***>
Cc: Anthony Nadalin ***@***.***>; Comment ***@***.***>
Subject: Re: [w3c/vc-data-model] Tracking Issue from TPAC: What does JSON-compatible JSON-LD mean? (Issue #929)

A cut at some language that might provide some clarity around what "JSON-LD compatible JSON" means. The Ve

[2022-10-05 01:44] msporny commented on #929
@selfissued wrote:

@nadalin wrote:

Could either of your please explain what the extensibility model is for your proposal? How are global semantics achieved?

[2022-10-05 11:02] David-Chadwick commented on #929
Yes we can do this if JSON implementations conform to the current
      W3C DM recommendation and use URIs everywhere where URIs are
      required. But if you want to use simple alias strings instead of
      URIs then you have to have an @context that specifies the
      mappings. What you appear to want is simple aliases with no
      mappings to URIs so that there is ambiguity over what the al

[2022-10-05 11:10] David-Chadwick commented on #932
Thanks Ted for correcting my typos. So how about:

1.   The issuer issues the VC to the issuee (always) and may optionally insert the issuee's identity into the VC.
2.   The issuer inserts its own identity into the VC it issues (always)
3.   The issuer issues the VC about one or more subjects (always) and may optionally insert the subject's (or subjects') identity into the VC.

[2022-10-05 11:20] David-Chadwick commented on #929
This sounds like a broken proposal to me. Since we have issuers,
      holders/wallets and verifiers, each of which may implement either
      JSON or JSON-LD processing rules (and have no requirement to
      implement both) then your proposal is a guarantee of
      non-interworking. The current spec has several ambiguities in it,
      this is already acknowledged (e.g. whether to duplicate or

[2022-10-05 12:18] nadalin commented on #929
The lesson learned is to keep simple things simple. Don't complicate things if I have a JWT I should be able to process it as it is including SD JWTs without the use of at context being there. Keeping "@ context" optional gives you the extensibility and does not break any existing implementations.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: David Chadwic

[2022-10-05 12:41] David-Chadwick commented on #929
@context cannot be optional unless you replace all the existing
      properties (type, id, issuanceDate etc) with their full URIs.
      Otherwise you have a non-conformant VC.
    Kind regards
    David

    On 05/10/2022 13:18, Anthony Nadalin
      wrote:

      The lesson learned is to keep simple things simple. Don't
      complicate things if I have a JWT I should be able to process it

[2022-10-05 12:46] nadalin commented on #929
There would be no claim transformations required if there is no "@ context" . Something else to keep simple.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: David Chadwick ***@***.***>
Sent: Wednesday, October 5, 2022 5:41:38 AM
To: w3c/vc-data-model ***@***.***>
Cc: Anthony Nadalin ***@***.***>; Mention ***@***.***>
Subject: Re: [w3c/vc-data-model] Tracking

[2022-10-05 14:32] msporny commented on #929
@David-Chadwick wrote:

Yes, agreed. Removing a feature that provides global interoperability and then replacing it with nothing will lead to non-interoperability; thus, it seems a non-solution is being proposed.

"let JSON be JSON" and "keep things simple" are sound bites. Being generous, they could be construed as design guidelines; it is not a workable technical architecture.

Please answer the

[2022-10-05 14:36] dlongley commented on #929
I agree with "let's keep simple things simple". They should be as simple as they can be -- but not simpler. Here's my perspective on that:

---

If all you want to do is share a couple of very common fields of information between a closed or mostly closed system of well-known data providers, use a standard that doesn't place constraints on data modeling.

If you don't care about data providers tra

[2022-10-05 14:47] TallTed commented on #932
I suppose we should also support the possibility of multiple issuees (think, carbon copies) for a single VC...

And we should *always* differentiate between "identity" and "identifier".

1. The issuer always inserts its own identifier into any VC it issues.

2. The issuer always issues a VC to one or more issuees, and optionally inserts the issuee identifier(s) into the VC.

3. The issuer always i

[2022-10-05 14:55] TallTed commented on #929
@David-Chadwick, @nadalin — Please revisit your comments, above, and
1. remove all unnecessarily quoted content, which makes it harder to digest your comments
2. codefence all remaining occurrences of `@context` and any other `@` entities, as it's well beyond unfriendly to constantly ping GitHub users who are not otherwise participating in our conversations!

[2022-10-05 15:00] jan-forster-cognizone opened #941 "Updated schema definition (JSON Shema, SHACL etc)"
Hello,

Is there an available schema definition of the Verifiable Credentail data model in any structured format (JSON Schema/SHACL/OWL)? We've not found such a definition so far.

We are currently implementing an EU-level data model which partially reuses the VC classes. And while the documentation and examples of VC are very extensive, it still leaves gaps in understanding.

Any feedback is appr

[2022-10-05 15:16] selfissued commented on #929
@msporny wrote:

The extensibility model is the normal JSON one:  Add fields as you need them.  If you want them to be globally interoperable use collision-resistant names or register the names in the appropriate claims registry.  This model is described at https://datatracker.ietf.org/doc/html/rfc7519#section-4 and implemented in the registry https://www.iana.org/assignments/jwt/jwt.xhtml#claims.

[2022-10-05 15:22] decentralgabe commented on #932
@David-Chadwick I like your suggestion of issuee, I can see it clearing up confusion. Related to #931 it could be "issuees" if applicable as you and @TallTed both mention.

So, now we have issuer and issuers, and issuee and issuees. I'd like to get a PR going to encapsulate these changes but could use some assistance. Is anyone willing to pair with me to get a well-thought out change drafted?

[2022-10-05 15:23] David-Chadwick commented on #932
I was going to produce a PR is my suggestion was positively received. So happy to work with you on this

[2022-10-05 15:34] OR13 commented on #929
See also:

- https://lists.w3.org/Archives/Public/public-credentials/2022Sep/0253.html
- https://lists.w3.org/Archives/Public/public-credentials/2022Sep/att-0253/DHS.W3C.VC-DID.Implemenation.Profile-20220929-SHARE.pdf

![Screen Shot 2022-10-05 at 10 33 52 AM](https://user-images.githubusercontent.com/8295856/194101266-d533f58b-1de3-4b24-92d5-9ea598d1f746.png)

[2022-10-05 15:57] SmithSamuelM commented on #932
@TallTed  +1
@David-Chadwick  +1

+1 to Issuee(s)

[2022-10-05 16:10] Sakurann commented on #932
(probably a topic for another coming issue), but -1 to a term `issuee` (not necessarily the concept). from a non-native speaker perspective, the term is not exactly intuitive and confusing.

[2022-10-05 16:24] iherman commented on #929
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-10-05-vcwg#section3) on 2022-10-05

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

### 3. Concrete Proposals for Core Data Model.

_See github issue [vc-data-model#929](https://github.com/w3c/vc-data-model/issues/929)._

**Manu Sporny:** attempt at a number of proposals

[2022-10-05 16:36] David-Chadwick opened #942 "Create the new role of issuee"
There is still confusion in some quarters about the roles of subject and holder, possibly because sometimes these roles belong to the same entity, and sometimes to different entities and, in the case of holder, maybe to a series of entities as the VC is transferred from entity to entity. This proposal is to create a new role of issuee, which is fixed (permanently assigned) and always refers to the

[2022-10-05 17:11] TallTed commented on #942
I [wrote and reordered](https://github.com/w3c/vc-data-model/issues/932#issuecomment-1268546194) these as I did with intention. Among other things, inline parenthetical notations suggest afterthoughts, which should not play a part in a proposal such as this. I've made further tweaks to cover your formerly 3, now 4, points, here —

1. The `issuer` _always_ immutably inserts its own identifier into

[2022-10-05 17:25] David-Chadwick commented on #942
Thanks Ted. Its looking good

[2022-10-05 17:56] SmithSamuelM commented on #942
@TallTed +1

[2022-10-05 18:03] msporny commented on #932
Also -1 to `issuee` -- mostly because this overlaps heavily with the "holder binding" work that @awoie is doing and it doesn't sound like the people suggesting this proposal have talked to the people working on the "holder binding" work. Don't spend your time on a PR yet as it'll probably be -1'd unless it has high alignment w/ the "holder binding" work that @awoie is leading.

[2022-10-05 18:49] dwaite commented on #929
My problem with this is that from a predictability perspective, JSON tools would need to evaluate `@context` to make sure that it is as expected for a particular type of credential - else the same JSON properties could have been redefined to have different semantic meaning and structure for JSON consumers and RDF consumers.

We can define things to be stricter, in that an implementation could comp

[2022-10-05 18:49] agropper commented on #942
Apologies if this is a stupid question, but can someone clearly explain why
VCs need to include any entity other than issuer and subject?

On Wed, Oct 5, 2022 at 1:57 PM Samuel Smith ***@***.***>
wrote:

[2022-10-05 18:56] dlongley commented on #929
@dwaite,

This is all that is needed if the approved contexts use `@protected` definitions, in order to ensure that both JSON and RDF consumers use the same semantic meaning for known (to the application) terms.

[2022-10-05 18:59] David-Chadwick commented on #942
What if the issuer has the need to provide proof of issuance to a specific entity? Then in that case the issuer would need to include the identifier of the issuee in the issued credential.

[2022-10-05 19:09] David-Chadwick commented on #929
@dwaite "once I know that I'm evaluating unmodified and integrity-protected data from the issuer" Doesn't the VC proof give you this (either LD or JWT proofs).
Whether the data stored at the '@context' URL has been modified or not is not dependent on JSON or JSON-LD processing is it? This requires some integrity protection of the URL, or trust in the web service doesn't it?

[2022-10-05 19:25] David-Chadwick commented on #932
Holder binding is conceptually different to issuee binding because the role of holder is conceptually different to the role of issuee. The former is not fixed as holders can change from day to day. The issuee never changes, ever. So the issuer can bind a VC to an issuee, but never to "the holder" as the holder is whoever it happens to be at any point in time. So a subset of the techniques of the h

[2022-10-05 19:35] SmithSamuelM commented on #942
One way to address this is to define Other role pairings that represent the properties of different transactions.

For example. In ACDC we use a Discloser-Disclosee model.  The Discloser is the one disclosing a  VC to a second party who is the recipient of that disclosure, AKA the Disclosee.  So, for example is that disclosure must be protected in some way such as via a transaction the first gets

[2022-10-05 19:44] SmithSamuelM commented on #942
The PAC principle says that we can have Privacy, Authenticity, and Confidentiality in an exchange of information but not all at once. We have to layer them and prioritize them. In ACDC and in the new ToIP stack the prioritization is
Authenticity First, Then Confidentiality Second, The privacy Third.
So we have an authentication layer. We can then wrap that optionally in a confidentiality layer, We

[2022-10-05 20:07] SmithSamuelM commented on #942
With this layered model, it makes it much easier to discuss serialization formats. Everything in the PAC layers is not payload but could be metadata in a document model of the message. or it could be in an envelope for the message in an envelope model for the message or it could be headers or footers or attachments for other models for messages. All of these share the same layering semantic and th

[2022-10-05 20:24] dwaite commented on #932
My concern is that a single property will not be robust enough. In particular, issuees tend to have their own properties - including the relationships with the subject(s) and issuer(s?), and any additional information needed for them to do a presentation proof. In some cases, the issuer may even try to convey whether or not that party is expected to issue statements about another party having a re

[2022-10-05 20:31] TallTed commented on #929
@David-Chadwick — `@context` and other `@` entities need to be wrapped in code fences, i.e., single backticks (``` ` ```), as in ``` `@context` ```.  Single-quotation-marks (`'`) are *not* code fences.  Please edit your latest https://github.com/w3c/vc-data-model/issues/929#issuecomment-1268841485 appropriately.

[2022-10-05 20:35] TallTed commented on #932
@msporny @dwaite @David-Chadwick @Sakurann — Please take your latest `issuee`-related comments to #942 (and hide them here) as this #932 is about multiple `issuer`s, not about `issuee`.  I should have done the same, sooner.  :-/

[2022-10-05 20:39] msporny commented on #942
Also -1 to issuee -- mostly because this overlaps heavily with the "holder binding" work that @awoie is doing and it doesn't sound like the people suggesting this proposal have talked to the people working on the "holder binding" work. Don't spend your time on a PR yet as it'll probably be -1'd unless it has high alignment w/ the "holder binding" work that @awoie is leading.

[2022-10-05 20:51] dwaite commented on #942
My concern is that a single property will not be robust enough. In particular, issuees tend to have their own properties - including the relationships with the subject(s) and issuer(s?), and any additional information needed for them to do a presentation proof. In some cases, the issuer may even try to convey whether or not that party is expected to issue statements about another party having a re

[2022-10-05 21:34] dwaite commented on #929
JWT, yes, because the model for signature is over binary data.

For something like an URDNA, the signature is over a set of canonicalized quads, which means that it will not capture manipulation of the document to create equivalently canonicalized RDF.

Simple example: canonicalization would hide an intermediary adding or altering the context. This could be done to add an additional mapping such t

[2022-10-05 21:59] decentralgabe commented on #929
I'd like to echo something I heard @selfissued say today, which I will roughly paraphrase as: "there are already two data models: JSON and JSON-LD. JSON implementations have to add an `@context` property, which is confusing, because it is not an LD document."

I agree with this logic. I myself have implemented, and encountered multiple implementations that include `@context` properties out of shee

[2022-10-05 22:01] OR13 commented on #929
Thats not how JSON-LD processing works... inline contexts just save you from a cache hit... or a cache miss, if you don't know how to cache properly... also this same concern applies to include URIs instead of inline objects.... so its also wrong when you consider this:

You don't need to do any JSON-LD processing... in either inline or remote case, to verify a credential.

^ this is an argument a

[2022-10-05 22:15] David-Chadwick commented on #929
@dwaite "the signature is over a set of canonicalized quads, which means that it will not capture manipulation of the document " which is one of the reasons why I am against canonicalisation when producing dig sigs, and why like @OR13 I prefer JWS/JWT. Ten years after inventing distinguished encoding rules for X.509 signatures we realised that we never actually needed them.

[2022-10-05 22:21] David-Chadwick commented on #942
@dwaite You dont need to worry about this. The proposal is that the issuee will be an object in the same way that the issuer and subject are. So the issuer will be able to record anything about the issuee that it needs to.

[2022-10-05 22:29] msporny commented on #929
@decentralgabe wrote:

Per the JSON spec, this is objectively wrong :) -- JSON is a data format (a serialization), it is not a data model (as evidenced multiple times in RFC 8259). Infra defines a data model, RDF defines a data model, and JSON-LD defines a data model... JSON does not. While the point might come off as pedantic, it matters because people keep conflating "data format" with "data mod

[2022-10-05 22:40] msporny commented on #929
@dwaite wrote:

Your attack is not precise enough to evaluate, please add more detail.

Same as the above... your attack is not precise enough to evaluate, please add more detail.

[2022-10-05 22:40] decentralgabe commented on #929
@msporny my mistake. I have been referring to JSON and JSON-LD as data formats (models was a slip) - since as you noted JSON is a data format, which is subsetted by JSON-LD.

I know you're trying to make a point here, but this is not an apt comparison. The VCDM normatively defines the terms `credentialSubject` and `issuer`—and yes, `@context` too, but there's a lot more that comes with it! Equatin

[2022-10-05 22:59] msporny commented on #929
My point is that those two properties provide foundational behavior for the specification. Removing them, without having a workable replacement proposal, has catastrophic effects on the ecosystem. It is being suggested that we remove `@context` and the replacement proposal is effectively: Just use an IANA registry, centralization is ok for VCs, and the fact that some people will use the IANA regis

[2022-10-06 02:27] dwaite commented on #929
Sure, here's an example of a substitution where JSON and RDF views of the data deviate - I'd love to hear feedback, as this has been a long-standing concern about canonicalization.

I grabbed this [example from traceability-vocab](https://w3c-ccg.github.io/traceability-vocab/#workflow-definition), and cobbled together the additional context to the best of my ability using the JSON-LD playground. T

[2022-10-06 08:59] iherman commented on #929
@dlehn, @gkellogg, or @pchampin are the real experts here, but, in my opinion, the value of the location must be set to "Ratke - Bergstrom"'s address and Santa's workshop is effectively ignored from the output. Indeed, the effect of the `null` value for the `"location"` term within the scoped context is that the term, and its value, is ignored from the RDF output (and, as you say, this is what the

[2022-10-06 12:38] TallTed commented on #929
@msporny — Another unfenced `@context` in the second quote block in your https://github.com/w3c/vc-data-model/issues/929#issuecomment-1269080803 ...

[2022-10-06 16:33] pchampin commented on #929
In addition to @msporny's recommendation above, maybe in the context of VCs (or other security a critical applications), contexts that are not `@protected` should be refused (or at least issue a warning)?

[2022-10-06 16:36] dwaite commented on #929
For RDF based canonicalization schemes, the modifications made would not need to be made by the issuer, but could be made by any holder as part of creating a credential.

[2022-10-06 16:57] jandrieu commented on #929
@dwaite I think you're misunderstanding what the roles are in these interactions. Holders cannot amend a credential, the proofs ensure that any such modifications would be evident. Issuers create credentials, not holders.

While it is possible for someone who is a holder to issue a VC, that is a case of a particular party acting in different roles with regard to different VCs.

[2022-10-06 16:59] dwaite commented on #929
I can understand that, push-back as such fixed context limits the extensibility offered to issuers. If credential of a given type have a fixed set of acceptable context locations, those locations are effectively the same registries being argued against for JSON-style extensibility.

However, changing context values could cause future signatures to break due to compatibility issues (say, changing a

[2022-10-06 17:24] dlongley commented on #929
@dwaite,

That's not true, the number of RDF quads isn't even the same.

Before your inline context is added: https://tinyurl.com/2p95nn3j
After: https://tinyurl.com/3bssrz7d

Note that you'll even have to disable safe mode via the options to run the `After` case.

[2022-10-06 17:28] dwaite commented on #929
The before link looks like you are not operating on the starting sample from the traceability-vocab document. Note, I did have to remove a comment and an errant comma to get the playground to accept it as valid JSON input.

That was not the behavior I had when I wrote the sample up. Does anyone know if the tooling changed?

[2022-10-06 17:40] dlongley commented on #929
@dwaite,

I had trouble following this reasoning.

First, I think the suggestion here is that once an issuer has used an `@context` URL in production, they should not make changes to that context (and instead mint a new URL for any changes). The suggestion is not that a credential of a given type cannot ever be upgraded to use a different context URL. I suppose we may need to drill into what "cred

[2022-10-06 17:51] dlongley commented on #929
@dwaite,

I just copied from this issue. I have now created before and after links where I pasted an example directly from the traceability-vocab example you linked to here: https://w3c-ccg.github.io/traceability-vocab/#workflow-definition

Before: https://tinyurl.com/ytatxzvb
After (added your suggested inline `Organization` redefinition): https://tinyurl.com/42kx3naf

Again, the canonized RDF qu

[2022-10-06 18:03] dlongley commented on #929
@dwaite,

Yes, but let's not commit a [Nirvana Fallacy](https://en.wikipedia.org/wiki/Nirvana_fallacy) here. There are trade offs here that many would agree are well worth the canonicalization approach. I gave a [presentation](https://docs.google.com/presentation/d/1hrqozY2EGZ8i8y40abyEuJmIb6hCiRS-37pdj6bhBLY/edit#slide=id.g15613afc368_10_35) on this at TPAC. With the trade offs, we can either pri

[2022-10-06 18:26] David-Chadwick commented on #789
This issue is related to #942 because once we have the identity/identifier of a persistent entity inside the VC (i.e. the issuee), put there by the issuer, then the veriifer has a rock solid anchor to base the verification from. If the holder (from VP) == issuee (from VC) then the verifier knows that the holder is the rightful possessor of the VC and did not get if from a third party. If the holde

[2022-10-06 19:36] David-Chadwick commented on #929
Unfortunately I do not agree that the trade offs of canonicalisation are worth it. I don't think it is a hassle for application developers to store a copy of the signed data if they need it later. If they do not they can discard it. If they change the data then canonicalisation does not help them validate the signature later on the modified data. The downside of canonicalisation is that it is a) h

[2022-10-06 19:57] dlongley commented on #929
@David-Chadwick,

This is what trade off decisions are about: you can choose based on your own needs.

[2022-10-06 20:19] dwaite commented on #929
The concept is that the issuer would issue the linked example with a RDF canonicalization based signature, while another party would modify the message before handing it to the verifier.

At the verifier the security layer, needing to understand RDF canonicalization to give a pass/fail on the integrity check, would not see these as meaningful changes. The application layer, using JSON processing l

[2022-10-06 20:47] TallTed commented on #929
@dwaite -- Please edit your https://github.com/w3c/vc-data-model/issues/929#issuecomment-1270632058 and put code fences (``` `@vocab` ```) around the now unfenced `@vocab` in the quote block. That GitHub user doesn't need to be pinged about every update to this discussion, in which they are not (yet) a willing participant.

[2022-10-06 21:28] melvincarvalho commented on #929
Just going to point out that RDF is a Set and JSON is a Tree.  So that means that duplicate triples get merged into one thing.  That makes merges cheaper, but some other operations more expensive

Also, arrays are treated slightly differently, seem to me, to be some of the main differences, between JSON and JSON-LD

JSON-LD, among other things, also standardizes a way to include hyperlinks in your

[2022-10-06 21:49] msporny commented on #929
@dwaite wrote:

Your response seems to indicate that you are not grokking the points that multiple people in this thread have been making regarding your proposed attack. It has been demonstrated to be invalid. It does not work if you use the protection mechanisms that exist in the VC spec today:

https://www.w3.org/TR/vc-data-model/#semantic-interoperability

https://www.w3.org/TR/vc-data-model/#s

[2022-10-07 06:01] RieksJ commented on #932
@SmithSamuelM wrote

I disagree. The exchange of VC is a data exchange, where the data represents information of the author, according to the mapping (semantics) that the author uses for that. No two mappings/semantics are the same.

So here is an ambiguity issue related to the meaning of a signature. My understanding of a VC-signature is that the author says: these triples represent some knowledg