[2021-07-29 02:13] kdenhartog commented on #764
Seeing as this would be a change to the context id's which would constitute breaking all of the currently issued VCs, I'm going to mark this as a V2 concern that will need to be addressed then.

[2021-07-29 02:17] kdenhartog commented on #763
I've marked this as pending 7 days close. It appears the question has been answered at this point and there's no action items that can be taken to address this within this spec.

[2021-07-29 02:20] kdenhartog commented on #762
Welp... I found myself in the middle of managing these "bureaucratic hurdles" now 😆

Thinking this should be a substantive change addressed in the V1.1 spec by the WG to align the test suite with the specification. Going to label it as such to triage this work at least.

[2021-07-29 02:23] kdenhartog commented on #761
I'm going to mark this as a V1.1 fix and get this updated to make the example have proper json-ld by using the `credentialStatus` term instead of `revocation`.

[2021-07-29 02:26] kdenhartog commented on #758
This would break a lot of things in validating VC's today. I'm going to propose that we address this in V2 instead and leave it outside the scope of the maintenance WG.

[2021-07-29 02:33] kdenhartog commented on #757
Yeah this can be done, but you may be venturing into an area where you'll want to define what the credentialStatus object will look like and how it will behave via a draft spec similar to [vc-status-rl-2020](https://github.com/w3c-ccg/vc-status-rl-2020).

If you're just looking to expand on a credentialStatus already defined then this should be possible by extending the documentLoader to be able t

[2021-07-29 02:48] kdenhartog commented on #753
updating this to be a V2 concern since it seems to be requiring a change in the context.

[2021-07-29 02:51] kdenhartog commented on #725
marking this as pending close with the note that lots of work has been happening in the OIDF to integrate VCs into OIDC. I'd suggest looking at their bitbucket account or joining their mailing list for more details.

[2021-07-29 02:54] kdenhartog commented on #770
When going through and triaging this I wasn't able to quite grok the problem/proposed solution yet. I'll have to revisit this so leaving as proposedErratum for now until I can understand it better.

[2021-07-29 02:56] kdenhartog commented on #749
I don't believe this will require any additional text to the spec so I'm going to mark this as pending close with no further action items needed.

[2021-07-29 02:58] kdenhartog commented on #748
This seems like it would be a substantive change, but does seem like something we could address within the purview of the V1.1 maintainence WG work. I've labeled it as such for now.

[2021-07-29 14:49] TallTed commented on #777
Tangentially, I would split the descriptions of Figure 7 and Figure 8 into separate paragraphs. (Yes, Fig 7 will be short.  That's OK.)

I would suggest a dotted-line in each color, surrounding the blocks of that color, extending to the right of the illustration, where the textual label for each collection should probably be in black.

With re-re-reading, I am thinking that the text should also be

[2021-07-29 14:57] TzviyaSiegman commented on #777
I haven't looked at this document in a long time, but I did an accessibility review years ago. If the colors are conveying meaning, the meaning needs to be conveyed by more than just color for those who cannot perceive color. (I can perceive color, and I am unsure what is being conveyed by the color, and I find it hard to read.)

[2021-07-29 16:27] brentzundel commented on #782
Reminder that anything in scope for the maintenance group, but substantial, should be marked v1.2, per https://github.com/w3c/vc-data-model#process-overview-for-vc-data-model-pull-requests

[2021-07-29 16:29] brentzundel commented on #762
Reminder, substantive changes that are in scope for the maintenance group should be labeled v1.2, per https://github.com/w3c/vc-data-model#process-overview-for-vc-data-model-pull-requests

[2021-07-29 16:42] brentzundel commented on #748
Reminder, substantive changes that are in scope for the maintenance group should be labeled v1.2, per https://github.com/w3c/vc-data-model#process-overview-for-vc-data-model-pull-requests
also, thank you @kdenhartog for triaging so many issues

[2021-07-29 22:41] kdenhartog commented on #782
Thanks for that reminder. I've gone and re-read through it for a refresher now. I'll go in and fix any of the ones that I mislabeled yesterday.

[2021-07-30 00:15] chaals commented on #777
Yeah, I don't think this should have passed accessibility review - relying purely on colours to make the associations is a basic no-no.

IMHO the images themselves would not pass accessibility review (that they are SVG is great, but that they are just a collection of path elements with no structure even for text is really bad).

Fixing this probably means using different styles for the diagram, wi

[2021-07-31 12:44] kdenhartog commented on #731
At this point, the general rule of thumb I've been operating under is that any changes to the context are going to be left out of scope for V1.1. At best we'll get to them when we work on V1.2. My current assumption is that it we'll be able to maintain consensus if we keep V1.2 to clarifying normative text changes which won't break V1 implementations. In V2, then we can go for more changes dependi

[2021-07-31 14:11] msporny commented on #731
That's the way to do it at present, IMHO. A couple of pieces of feedback on the extension context:

* Remove `"@version": 1.1`, declaration of version is no longer necessary, JSON-LD 1.1 does feature detection.
* You don't need to re-alias `"id": "@id"` or `"type": "@type"`... it's already done in the base context, IIRC.
* `name` and `description` should probably point to schema.org `name` and `de

[2021-07-31 17:18] dlongley commented on #731
No, you do need to realias. The reason is because your type-scoped context could be pulled underneath some other nested term that has redefined your `id` alias, for example. To see this in action in a simple example:

[code]

Would produce this expanded output:

[code]

JSON-LD playground link: https://tinyurl.com/uzz7duve

If you were to uncomment the realiasing above it would fix the problem as

[2021-08-01 06:35] kdenhartog commented on #731
I actually advocated against doing that. The primary reason for defining a separate ID was because semantically the name and description properties are more specific than what's defined at schema.org. This is not to say that schema.org definitions couldn't be used, but rather that the semantic definitions are more specific. Specifically, `name` means the name of the credentials and `description` m

[2021-08-01 10:04] Fak3 commented on #731
Issue to track: https://github.com/w3c/json-ld-syntax/issues/361

[2021-08-01 15:53] msporny commented on #731
Why do they have to be more specific than "The name of the item." and "The description of the item."? Remember, these things are associated with a `VerifiableCredential`, so the semantics are "The name of the Verifiable Credential." and then the "The description of the Verifiable Credential." -- sure, you can make it more semantically specific, but that can be as bad as it being semantically ambig

[2021-08-04 15:17] brentzundel commented on #766
No comments since marked pending close. Closing

[2021-08-04 15:17] #766 closed

[2021-08-04 15:17] brentzundel commented on #763
No comments since marked pending close. Closing

[2021-08-04 15:17] #763 closed

[2021-08-04 15:18] brentzundel commented on #749
No comments since marked pending close. Closing

[2021-08-04 15:18] #749 closed

[2021-08-04 15:18] brentzundel commented on #725
No comments since marked pending close. Closing

[2021-08-04 15:18] #725 closed

[2021-08-04 15:29] brentzundel commented on #738
No response from the issue creator. We will close in 7 days if there is no objection.

[2021-08-04 15:33] brentzundel commented on #735
The link provided now takes the user to the term `relying party` within the `verifier` definition. Is this sufficient?
I don't believe more changes are needed. We will close in 7 days if there is no objection.

[2021-08-04 15:46] brentzundel commented on #731
After meeting and discussing this issue, the chairs have determined that either the proposed actions are not within scope for the working group in maintenance mode or would require significant discussion before non-normative changes would be found acceptable.
We are going to mark the issue as `defer v2` so that it can be taken up by a future working group that is chartered to make normative change

[2021-08-04 15:51] brentzundel commented on #727
The chairs believe that improving consistency between figures and examples may be helpful. We do not believe the inconsistency is  considered errata, as the examples are currently independent and therefore consistency between them cannot be assumed. However, we do not oppose improving consistency within the spec if there are folks interested in working on that.

[2021-08-04 15:54] brentzundel commented on #724
As this issue is not calling for changes to the specification, and answers have been provided for the issue creator, we will close it in 7 days if there is no objection.

[2021-08-04 15:58] TallTed commented on #727
It may be worth adding a non-normative note to the spec, expressing the above, nearby and/or linked from each figure and/or example.

[2021-08-04 23:27] kdenhartog commented on #776
I've written a PR to remove this from the specification per @wyc option 1. We'll need to either update this issue afterwards and leave it open to track re-adding the text back in or we'll need to open another issue after it's been merged.

[2021-08-11 15:48] David-Chadwick commented on #731
Given the agreement at the WC VC WG meeting on 11 Aug that the example context definition can be updated in V1.1 and given that Example 40 contains the nonTransferrable property then it would be inexcusable to not include this in the revised example context definition.

[2021-08-11 15:48] wyc commented on #32
Discussed during VC WG to defer to v2.

[2021-08-11 15:50] wyc commented on #248
Discussed in VC maintenance WG, decided to defer to V2.

[2021-08-11 15:51] kdenhartog commented on #42
We discussed this on the call and decided to defer this to V2. It's just a placeholder for that

[2021-08-11 15:54] kdenhartog commented on #57
We discussed this on the maintenance call and believe that the comment from @RieksJ is adequate. If the author believes this should still be addressed it would be handled in V2 and they could reopen the issue to manage it then.

[2021-08-11 15:54] #57 closed

[2021-08-11 15:55] kdenhartog commented on #421
We discussed this on the maintenance call. Because this is a registration item it would need to be handled in V2.

[2021-08-11 15:56] kdenhartog commented on #80
We discussed this on the maintainence working group call and believe that this PR can be closed. If the author believes this should still be addressed it can be handled in V2 and they can reopen it.

[2021-08-11 15:56] #80 closed

[2021-08-11 15:57] kdenhartog commented on #480
We discussed this on the maintainence working group call and believe that this PR can be closed due to the impact on the number of implementations already done today. If the author believes this should still be addressed it can be handled in V2 and they can reopen it.

[2021-08-11 15:59] msporny commented on #632
Some of this work is being done in places like this -- https://github.com/w3c-ccg/vc-http-api-test-suite ... and this http://vaxcert-interop-reports.s3-website.us-east-2.amazonaws.com/

[2021-08-11 16:03] kdenhartog commented on #632
We discussed this on the working group call and at this point believe this issue is no longer a point of major concern given the number of protocols showing evidence of interoperability at this point. We've opted to close it and if anyone feels this should be addressed they can open a new issue which can be discussed in V2.

[2021-08-11 16:03] #632 closed

[2021-08-11 16:15] marceljay commented on #738
I unfortunately do not work on DIDs currently and cannot comment. If you feel the question has been answered, please close.

[2021-08-11 16:59] msporny commented on #731
I'm concerned that the `nonTransferrable` property might be an anti-pattern and that the group should discuss this in more depth before agreeing that we want to suggest that people do this.

Even the people arguing for the `nonTransferrable`, if they want it to become a thing that people do, DEFINITELY don't want it in the example context in that case because then implementers will have to pull th

[2021-08-11 19:41] swcurran opened #789 "Explicit reference should be added about binding the VC to the holder"
The W3C V1.0 Data Model has little focus on the role of the holder, despite it's inclusion in Figure 1 of the spec. There is little normative text about the holder, and the data item "holder" is only in the JSON-LD example in the Appendix. Further, the view that "Anyone can hold any VC and prove it to a verifier" comes through loud and clear in the spec, with almost nothing about the idea of bindi

[2021-08-11 19:46] mwherman2000 commented on #789
Duplicate of https://github.com/w3c/vc-data-model/pull/788#issuecomment-897089956 ...

@swcurran Given your world view Stephen, what are the Preconditions for an Actor Alice to be able to create a Verifiable Presentation VP from a Verifiable Credential VC?

For example, which (or all) of the following Preconditions are necessary for an Actor Alice to be able to create a Verifiable Presentation VP

[2021-08-11 21:09] brentzundel commented on #47
No engagement since being marked pending close. 30-day window has elapsed. Closing.

[2021-08-11 21:09] #47 closed

[2021-08-11 21:10] brentzundel commented on #757
No engagement since being marked pending close. 7-day window has elapsed. Closing.

[2021-08-11 21:10] #757 closed

[2021-08-11 21:10] brentzundel commented on #741
No engagement since being marked pending close. 7-day window has elapsed. Closing.

[2021-08-11 21:11] brentzundel commented on #740
No engagement since being marked pending close. 7-day window has elapsed. Closing.

[2021-08-11 21:11] #740 closed

[2021-08-11 21:11] brentzundel commented on #738
No substantial engagement since being marked pending close. 7-day window has elapsed. Closing.

[2021-08-11 21:11] #738 closed

[2021-08-11 21:12] brentzundel commented on #735
No engagement since being marked pending close. 7-day window has elapsed. Closing.

[2021-08-11 21:12] #735 closed

[2021-08-11 21:12] brentzundel commented on #724
No engagement since being marked pending close. 7-day window has elapsed. Closing.

[2021-08-11 21:12] #724 closed

[2021-08-11 21:39] David-Chadwick commented on #789
@swcurran Interestingly this is more or less the model we have implemented, where the subjectID is actually used as the proof of possession of the VC and the subject properties say what the VC is about. So if the Issuer gave the holder the VC, and the holder can prove possession of it, then the Verifier knows the correct entity is presenting the VC to it (regardless of the VC's actual contents).

[2021-08-11 21:52] David-Chadwick commented on #731
When the current Recommendation was published, then either the nonTransferrable property was missed from the example context definition by a simple mistake, since all the other example properties are there (in which case it should simply be added in now), or it was purposefully missed out by the editor without informing the group that this was being done on purpose (presumably because the editor d

[2021-08-11 22:26] dlongley commented on #731
@David-Chadwick,

The example context shouldn't be used by anyone in a production system. It only has terms in it that are "bogus", for lack of a better term. All the terms we created and put in there are in the "examples" namespace (with `ex:` as a prefix).

That's why `nonTransferrable` is not in there. It's supposed to be a *real*, but non-normative, term. At least, that's what I thought.  Are

[2021-08-11 22:34] msporny commented on #731
OR, I honestly didn't think you wanted it in the examples `@context` because 1) it wasn't normatively defined anywhere, certainly not in the VC vocabulary, and 2) even if it was, it would have immediately created an issue for production usage if the only `@context` it existed in was the examples context and people pulled that context in.

If you wanted it in the examples `@context`, you should hav

[2021-08-11 23:06] brentzundel commented on #731
@David-Chadwick
I have full confidence in @msporny and his integrity as an editor. I have witnessed first hand his determination to carry out the resolutions of a working group even when he personally disagrees with the resolution. I have personally experienced his editorial support on PRs for content he didn't fully agree with.

I have never known him to be disingenuous and have always been impre

[2021-08-11 23:27] clehner commented on #731
Could it help to change "Example 40: Usage of the nonTransferable property" to define notTransferable in the local context? Then at least the example would be closer to being valid JSON-LD.

[2021-08-12 00:31] swcurran commented on #789
@David-Chadwick -- thanks for the example.  As I noted, Indy AnonCreds has the same model. I've heard of others doing what you are doing when using W3C VCs (e.g. BBS+). I think using subjectID for that is a workaround, and it makes way more sense to use holderID for proof of possession to establish that binding. By using subjectID for "proof of holder", it can't really be used for any subject not

[2021-08-12 04:37] iherman commented on #32
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2021-08-11-vcwg#section4-1) on 2021-08-11

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 4.1. Bootstrapping Simple WoT Verifiable Claims (issue vc-data-model#32)

_See github issue [#32](https://github.com/w3c/vc-data-model/issues/32)._

**Brent Zundel:** raised 4 years

[2021-08-12 04:37] iherman commented on #42
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2021-08-11-vcwg#section4-3) on 2021-08-11

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 4.3. Add display hints to data model, for example: information to use a Web Component (issue vc-data-model#42)

_See github issue [#42](https://github.com/w3c/vc-data-model/issues/4

[2021-08-12 04:37] iherman commented on #80
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2021-08-11-vcwg#section4-5) on 2021-08-11

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 4.5. On the Ecosystem Overview (issue vc-data-model#80)

_See github issue [#80](https://github.com/w3c/vc-data-model/issues/80)._

**Wayne Chang:** I recommend closing this issue,

[2021-08-12 04:37] iherman commented on #248
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2021-08-11-vcwg#section4-2) on 2021-08-11

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 4.2. Add a summary text as meta information (issue vc-data-model#248)

_See github issue [#248](https://github.com/w3c/vc-data-model/issues/248)._

**Wayne Chang:** old issue, about

[2021-08-12 04:37] iherman commented on #421
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2021-08-11-vcwg#section4-4) on 2021-08-11

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 4.4. need MIME type guidance (issue vc-data-model#421)

_See github issue [#421](https://github.com/w3c/vc-data-model/issues/421)._

**Wayne Chang:** this issue asks for mime types

[2021-08-12 04:37] iherman commented on #480
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2021-08-11-vcwg#section4-6) on 2021-08-11

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 4.6. Avoiding confusion by renaming 'credentialSubject' (issue vc-data-model#480)

_See github issue [#480](https://github.com/w3c/vc-data-model/issues/480)._

**Wayne Chang:** this

[2021-08-12 04:37] iherman commented on #632
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2021-08-11-vcwg#section4-7) on 2021-08-11

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 4.7. Tracking Issue: Interoperability (issue vc-data-model#632)

_See github issue [#632](https://github.com/w3c/vc-data-model/issues/632)._

**Wayne Chang:** I think this is out of

[2021-08-12 07:09] RieksJ commented on #480
I am disappointed by the way this issue has been treated and has come to a close, as it might have been properly dealt with around the time it was raised. Instead, it has been lying around for over two years, thereby implicitly instructing all implementations to follow the contested practice. Allowing this issue to remain unaddressed caused it to become a 'huge breaking change', and continues to d

[2021-08-12 09:19] David-Chadwick commented on #789
If the subjectID is an ephemeral public key, then the verifier has no idea who the actual subject is (apart from the VC's properties). All the verifier knows is that the entity that signed the VP is the same entity that holds the public key in the VC subject ID field and that the Issuer knows who it gave the VC to (and obviously was entitled to have it).  So it can be used for any subject not hold

[2021-08-12 09:24] David-Chadwick commented on #731
@manu. Let me publicly apologise to you without reservation. Kind regards. David

[2021-08-12 10:02] kdenhartog commented on #789
Labeling this as a possibleErratum now for the small non-normative suggestions you're going to put in a PR. Then we'll have to address the larger portions in a V2 at a later time.

[2021-08-12 12:56] msporny commented on #731
Thank you, @David-Chadwick, I very much appreciate that.

Would @clehner's proposal address your concern? The fundamental question is going to become "What is the vocabulary URL for the `nonTransferable` property?". If it's the example vocabulary (option 1), the danger is people will copy it and that will cause interoperability issues for people that want to use `nonTransferable` in production. If

[2021-08-12 13:28] msporny commented on #480
@RieksJ, while I can understand your frustration, the reality is that the group did discuss the issue at depth: namely, in issue https://github.com/w3c/vc-data-model/issues/207

Then, when you raised this issue (during the Candidate Recommendation phase), the group did debate it again and came to the conclusion that it did not want to make the change you were suggesting: https://github.com/w3c/vc-

[2021-08-12 13:49] David-Chadwick commented on #731
@msporny There is no vocabulary for the nonTransferrable property as it is essentially a boolean switch. It could be present with a null value, or a true value (on reflection I think null would be simplest, but don't mind either way). I do not see different shades of nonTransferrability. Existing plastic cards such as my Mastercard contain this issuer's policy statement quote: "This card is not tr

[2021-08-12 14:05] mwherman2000 commented on #480
RE: ...or implicitly by an auto-generated identifier (blank node identifier).

@msporny Where is this implied or, better, stated?

[2021-08-12 14:15] mwherman2000 opened #790 ""Individual claims can be merged together to express a graph of information about a subject." is not a true statement, in general"
In https://www.w3.org/TR/vc-data-model/#claims, the following statement is not always true and, fundamentally and generally, not true:

A VC can exist as an Unbound Credential; that is, a VC that has no subject (i.e. no credentialSubject id). **In the specification, there is no requirement for a VC to refer to a subject.  credentialSubject id is optional.**

Ditto for (the following statements fro

[2021-08-12 14:20] mwherman2000 commented on #480
A major part of the root cause of this issue appears earlier in the specification with a series of statements about Claims that are, in general, not true.

See https://github.com/w3c/vc-data-model/issues/790

[2021-08-12 14:53] msporny commented on #480
https://www.w3.org/TR/json-ld11/#node-identifiers
https://www.w3.org/TR/json-ld11/#identifying-blank-nodes
https://www.w3.org/TR/json-ld11-api/#node-map-generation
https://www.w3.org/TR/json-ld11-api/#generate-blank-node-identifier

[2021-08-12 14:57] msporny commented on #790
This is not how the VC Data Model defines claim:

https://w3c.github.io/vc-data-model/#claims

This statement, which is claimed to not be true:

is true, because the claims consist of 4-tuple values (RDF Dataset), not 2-tuple values (as is suggested above). If claims were only 2-tuple values, the statement wouldn't be accurate as you state... but that redefines the word "claim" in a way that would

[2021-08-12 14:59] msporny commented on #480
There is a flaw in that assumption that I've documented here: https://github.com/w3c/vc-data-model/issues/790#issuecomment-897710929

[2021-08-12 15:03] mwherman2000 commented on #480
Thank you @msporny for the interesting links about the mechanics of JSON-LD.

Where in the VC Data Model specification is the connection made between credentialSubject id being optional and, say, for example, https://www.w3.org/TR/json-ld11/#identifying-blank-nodes?  Where in the VC data model specification say how a non-existent elements like credentialSubject id is first detected and then subseq

[2021-08-12 15:04] RieksJ commented on #480
@msporny the issue wasn't dealt with in #207. Rather, the resolution of #207 caused the issue to exist. The subsequent comments suggested support for it to be resolved. While the decision to defer the resolution of the issue appears to have been discussed, there is no mention of the motivation, which I can live with but could be improved. The argument in the 'maintenance decision' to close the iss

[2021-08-12 15:09] brentzundel commented on #480
As there is opposition to closing this issue, I will re-open it.
As a resolution to this issue lies beyond the scope of the current working group, I am going to label it `defer-v2`

[2021-08-12 15:14] msporny commented on #480
@mwherman2000 wrote:

The specification doesn't state that explicitly because there was a contingent of people both inside and outside of the WG that didn't want that sort of binding to be made to JSON-LD (this was the JSON-only contingent). So, we were not able to get to making any statements of the sort in the specification that would have reached consensus. From what I remember, we didn't try e

[2021-08-12 15:17] mwherman2000 commented on #480
So the JSON-LD links provided above aren't directly relevant to the question I first asked:

The implication is so indirect and vague that it is, in effect, non-existent.

[2021-08-12 15:24] msporny commented on #480
@RieksJ wrote:

You can always object to the issue being closed and request that it be re-opened. My expectation is that will trigger the group to formally close the issue (which you probably don't want at this time). The maintenance WG is a smaller group and will come to a decision much more swiftly than a larger group. If you truly want this to be debated more than it already has, I'd defer to v

[2021-08-12 15:27] mwherman2000 commented on #790
#FYHumor: I found this pioneer bucket while helping a neighbor round up his cows yesterday. It's a bit battered and has a few holes in the bottom (it doesn't hold water anymore) but it still looks like a bucket.  Maybe we could use it as a logo for the version 1 specification? ;-) :-)

![image](https://user-images.githubusercontent.com/6101736/129224142-ad4a649e-0793-4030-b541-c2c02af8c29b.png)

[2021-08-12 15:27] msporny commented on #480
I don't disagree with you. Hopefully you understand that many wanted a more direct linkage, but it met opposition in the group and we were unable to get to consensus to do what you (and I) wanted. I have suggested one path that might work, maybe... other suggestions (that have a high likelihood of achieving consensus) on what to do are welcome.

[2021-08-12 15:35] mwherman2000 commented on #790
You can't a have 3-tuple stipulated in the specification when the first tuple is optional and can completely be missing (as in an Unbound Credential).  The only way this might work is if there was a formal grammar or some sort of grammar for the specification.  The whole JSON vs. JSON-LD thing is a mess.  The specification so much like the above bucket, I really do have to sit back with "humorous

[2021-08-12 15:45] mwherman2000 commented on #790
#cliquespeak

This not a concern if the specification is already or potentially fundamentally broken.  This is what we're trying determine.

[2021-08-12 15:46] mwherman2000 commented on #790
Ship it …as long as you use the new logo 😉 : https://github.com/w3c/vc-data-model/issues/790#issuecomment-897734785

From: Manu Sporny ***@***.***>
Sent: August 12, 2021 9:41 AM
To: w3c/vc-data-model ***@***.***>
Cc: Michael Herman (Trusted Digital Web) ***@***.***>; Author ***@***.***>
Subject: Re: [w3c/vc-data-model] "Individual claims can be merged together to express a graph of information abo

[2021-08-12 16:21] swcurran commented on #789
@David-Chadwick  -- what you say is the point I'm trying to make.  If you use the subjectID field for the proof-of-holder, then except for "subject = holder", it can't be used for the actual subject of the VC.  In your case, despite the subject being the company, the subjectID is a key held by the holder -- a director, secretary or employee. If instead the holderID was used for the proof-of-holder

[2021-08-12 16:29] andrewhughes3000 commented on #789
Over in ISO 18013-5 mDL land, in case you were wondering...

3.8
mDL holder
individual to whom an mDL (3.6) is issued, i.e. legitimate holder of the
driving privileges reflected on an mDL

And because mDLs are issued by licensing offices which universally do
identity proofing and verification prior to issuance, [ "mDL holder" ==
"subject" ] of the credential (in this case the mobile driving licens

[2021-08-12 16:37] andrewhughes3000 commented on #789
The set of data elements is the same as the set of data elements for
international driving licenses (the physical kind) plus several more.
Therefore, roughly speaking, all the data elements that are present on
physical driving licenses are also present in mDL
There are means to include or override data elements as needed to satisfy
local regulations, but the core is the same everywhere.

*Andrew H

[2021-08-12 16:40] swcurran commented on #789
@mwherman2000 -- regarding your list. It is hard to understand, but I'll try to set what I see as the flow.  I'll assume that "Alice" is an agent she controls -- software that allows her to be issued VCs and prove VPs.

Alice wants a credential from an issuer Faber. As part of a protocol, she gives Faber a piece of data that only she can prove -- perhaps something associated with a private key she

[2021-08-12 16:46] agropper commented on #789
There's a huge difference between a picture of a person and control of a
link secret or private key. I can't share my Driver's License (or mDL) with
another person because of the biometric. I can share a link secret or
private key with anyone I want. If the reputation associated with the
private key is semi-disposable, I can do that without much worry.

In order to use link secrets as we would a b

[2021-08-12 16:51] mwherman2000 commented on #789
RE: I can't share my Driver's License (or mDL) with another person because of the biometric.

I disagree… you can share your Driver’s License (or mDL) with anyone.  It won’t be valid or verifiable but in theory as well as reality, you can share virtually any (all?) credentials with anyone.

From: Adrian Gropper ***@***.***>
Sent: August 12, 2021 10:47 AM
To: w3c/vc-data-model ***@***.***>
Cc: Mich

[2021-08-12 17:09] mwherman2000 commented on #789
@swcurran

**Background**
In classic process analysis, a process step (desk procedure, task list, or statement of the work to be performs) includes 3 components:
1. Entry criteria (preconditions for the process step to start)
2. Desk procedure/task list/statement of the work to be performed
3. Exit criteria (postconditions that must be met for the process step to end and transition to the next pro

[2021-08-12 17:39] clehner commented on #632
Interoperability is also being pursued in https://github.com/w3c-ccg/community/issues/198

[2021-08-12 18:21] dlongley commented on #789
@mwherman2000,

I think the disagreement is over the definition of "share". Perhaps "misuse" or "misuse with / without detection" would be better terminology. @agropper's point was that it is significantly more challenging to misuse a credential (without detection) where a verifier requires a binding biometric check than it is to misuse a credential (without detection) where the verifier does not

[2021-08-12 18:57] David-Chadwick commented on #789
On 12/08/2021 17:47, Adrian Gropper
      wrote:

    +1

      There's a huge difference between a picture of a person and
      control of a
      link secret or private key. I can't share my Driver's License (or
      mDL) with
      another person because of the biometric. I can share a link secret
      or
      private key with anyone I want. If the reputation associated with
      the

[2021-08-12 19:09] David-Chadwick commented on #789
this is not necessary because the subject properties (i.e. claims) can both identify the subject (e.g. company name) and provide an identifier for the subject (e.g. company registration number).

So my feeling now is that subjectID should really become the proof of possession identifier.

All I can say is that it is what we are doing. I cannot speak for any other implementors

Again, the issuer ca

[2021-08-12 19:31] swcurran commented on #789
@David-Chadwick -- sounds like we agree on the needs and reality (using subjectID to mean holderID), but differ on whether it matters.

Regards:

What I meant was that the proof that the holder is presenting can't go in the VC.  A piece of data can go into the VC from the issuer to indicate "this is the holder I issued this VC to" can go into the VC, but a proof from the holder binding it to that

[2021-08-13 01:29] kdenhartog commented on #789
I agree with the premise here, but not the conclusion that the verifier can't detect it. There's been work to show that it's possible for [a verifier to detect it without breaking the anonymity](https://github.com/WebOfTrustInfo/rwot9-prague/blob/master/topics-and-advance-readings/zkp-safety.md#technique-2-prevent-link-secret-reuse). So the point about having some form of skin in the game, I think

[2021-08-13 02:06] dlongley commented on #789
@kdenhartog,

The proposals from that paper were responded to in a publication here: https://ieeexplore.ieee.org/document/9031545

IIRC, that method effectively substitutes a Pedersen commitment for an El Gamal one, eliminating the perfect hiding property (you only get to choose one: "perfect hiding + computational binding" or "computational hiding + perfect binding"). So, while that may achieve t

[2021-08-13 02:51] kdenhartog commented on #789
That's a fair point, I had forgotten about that correlation issue that comes about with it. So, I agree it's not universally viable which means that each use case needs to evaluate if it is applicable for their needs. I can see how you've ended up on the conclusion that in that case it's probably best to not recommend it due to all of the additional complexity and the unclear responsibilities that

[2021-08-13 06:44] kdenhartog commented on #790
I think there may be a conflation occurring here that's worth pointing out. I'll try to explain this using a proof by contradiction argument. Bear with me:

Just because `credentialSubject.id` is absent, doesn't mean that the subject isn't identified. The `@id` property serves two functions. First, it acts as a subject in an RDF statement which is where the traditional sense of the `subject` asser

[2021-08-13 06:46] RieksJ commented on #480
@msporny: as I said in my [comment](https://github.com/w3c/vc-data-model/issues/480#issuecomment-897402250) right after closing the issue, my disappointment comes from _the way_ in which the decision was made, specifically because we're dealing with a standard here. I [commented](https://github.com/w3c/vc-data-model/issues/480#issuecomment-486650681) earlier that I find arguments that do not addre

[2021-08-13 07:46] David-Chadwick commented on #790
There is an alternative argument which is based around proof of possession by the holder, rather than the identifier of the subject. It goes as follows. The issuer has a set of claims about an entity or indeed about a set of entities (such as the parents of a new born baby, or a marriage certificate). The issuer is entitled to give this set of claims to anyone (the holder as per Figure 1 of the Re

[2021-08-13 11:45] mwherman2000 commented on #790
This is all fine but this is only folklore/tribal knowledge because these connections are not described in the version 1 of the specification. .... connections referring to RDF graphs and JSON-LD, etc. Version 1 of the VC data model is like the leaky bucket, it doesn't hold water.

I wasn't party to all the interaction that led to the VC data model leaky bucket syndrome but I feel there was a lot

[2021-08-13 14:37] msporny commented on #480
Let me try and be a bit more blunt, because it seems that the point about the issue being addressed was missed. The issues states the following:

That is false. The issue starts off by making a false statement.

The `credentialSubject` is an association of the Verifiable Credential with a subject. The credentialSubject section contains a list of credential subjects. Those credential subjects are t

[2021-08-13 17:24] brentzundel commented on #790
Michael,

Specs are written by groups of people. People aren't perfect, they make
mistakes, they disagree.
Sometimes the only thing these people have in common is their desire to
produce a specification.

The differing viewpoints of each of the participants will be incorporated
into the PRs they raise, this is to be expected.
Those PRs are tinkered with until the group can agree that they should b

[2021-08-13 18:35] swcurran commented on #789
@dlongley -- and the paper you wrote/referenced above was rebutted [here](https://www.evernym.com/blog/no-paradox-here-zkps-deliver-savvy-trust/).  There is disagreement.

My point in raising this issue is to call out that binding a VC to it's holder at issuance time, and verifying it on presentation is necessary in many use cases, is assumed by many to be possible with VCs, and yet is not clearly

[2021-08-13 19:26] dlongley commented on #789
@swcurran,

Yeah, the points the paper makes are largely misunderstood in that rebuttal. It also has an unseemly introduction that focuses on casting aspersions on the authors. I stand by the published paper.

You don't want to change your commitments from perfectly hiding to computationally hiding when you could instead reveal a use-case appropriate correlational/binding identifier. It's a bad id

[2021-08-14 02:27] kdenhartog commented on #789
Yeah I've come to figure out that we're coupling the identifier in `credentialSubject.id` in a few different ways and it's caused confusion about it's purpose. I tried to explain that in this https://github.com/w3c/vc-data-model/issues/790#issuecomment-898229690

After writing that up, I'm thinking it would be useful to explicitly identify the `credentialHolder` in a separate part of the credentia

[2021-08-14 03:37] mwherman2000 commented on #480
@msporny Manu, there's a lot of folklore/tribal knowledge that is being surfaced in these discussions - that might not necessarily locatable in the VC data model specification.

When *you* make an *assertion* like that above, can you include a specific reference/link into the VC data model specification document?

For example, the text in the specification that might back up your assertion is vagu

[2021-08-14 04:00] mwherman2000 commented on #790
Brent, you completely overlooked the first, most critical sentence…

@mspony ‘s comment backups up this position.

What I see happening is people feeling compelled to peel back and then peel back some more their PRs to achieve some minimal reference to some of the point(s) that are important to them but what is really happening is the cohesiveness and connectedness of elements of the spec document

[2021-08-14 04:09] mwherman2000 commented on #789
Let's start with the firs issue.  Here's a working definition of share (that works for me):

Reference: https://www.merriam-webster.com/thesaurus/share

[2021-08-14 04:33] mwherman2000 opened #791 "[PROPOSAL] New specification document title: W3C Consensus-based Data Model Specification for Verifiable Credentials"
The current title

does not, in the mind of a new reader, accurately describe the nature of the W3C version 1.0 data model specification for VCs.

A more accurate, trustworthy, easily discernable title is:

The former takes on the air of being a Standards document - but the current version 1 document does not reach that bar. The version 1 document lacks cohesiveness and connectedness - which makes

[2021-08-14 04:53] mwherman2000 opened #792 "V1 specification doesn't definitively state that the credentialSubject.id, if specified, is always the id of the Subject of the Credential"
V1 specification doesn't definitively state that the credentialSubject.id, if specified, is always the id of the Subject of the Credential.

(Presumably, credentialSubject.id might simply be a Claim (name-value pair )named id.)

[2021-08-14 08:06] RieksJ commented on #480
@msporny I get your point. I do. No need to get blunt.

The point that I tried to make immediately after the earlier (and reverted) closure of  this issue is not related to the content of the issue, but to the process of dealing with the issue.

The [resolution of this issue](https://github.com/w3c/vc-data-model/issues/480#issuecomment-490116412) in VCWG call of 7 May 2019 states that the Working

[2021-08-14 10:25] mwherman2000 commented on #480
@RieksJ let me amplify 2 concepts from your post: standardization effort and hallucination ...

It is a hallucination that the effort to produce the VC Data Model Specification document is a standardization effort.  This is the light that was turned on for me by @brentzundel and others.  There is a miles wide difference between a _standards_ document and a _W3C consensus-based data model specifica

[2021-08-14 12:38] mwherman2000 commented on #791
What makes a standard ‘world class’?
It is not easy to say exactly what makes one standard better
than another, but the following points are probably the most
important:
• A world class standard should have well-defined
objectives that respond to real needs in a timely
manner.
• Its technical content should be complete and accurate.
• It should be easy to understand (or as easy as the
subject matt

[2021-08-14 13:31] msporny commented on #789
There was discussion about this and we decided to put the concept of "credentialHolder" in presentation: https://w3c.github.io/vc-data-model/#presentations-0

I'm also very supportive of clearing up @swcurran's concern in the specification:

@swcurran wrote:

... and the most likely place to do this in the current spec is this section:

https://w3c.github.io/vc-data-model/#validation

... perhaps

[2021-08-14 13:36] msporny commented on #480
What standards do you believe should be accepted? Do you have any examples?

[2021-08-14 13:59] msporny commented on #480
@RieksJ wrote:

We did this here: https://github.com/w3c/vc-data-model/issues/480#issuecomment-897342950

It is believed that this was done here: https://github.com/w3c/vc-data-model/issues/480#issuecomment-897342950. By changing the name at this point, it would be a big breaking change w/o any upside. In addition, I further explained why it contributes to the quality of the standard here: https:/

[2021-08-14 14:13] msporny commented on #480
@mwherman2000 wrote:

Please refrain from casting these sorts of aspersions on the group. Everyone that I know of in the group is acting in good faith, engaging publicly and transparently, the debates use logic and sound rationale, decisions are made by consensus as defined here: https://www.w3.org/2020/Process-20200915/#Consensus .

In other words, it's different in significant ways from pork bar

[2021-08-14 14:24] mwherman2000 commented on #480
IMO, this is a redherring/diversionary question. The issues are with the current version of the spec by itself.

@msporny you yourself have described a number of places in the current specification that don't hang together, are not well connected ....that the specification lacks cohesion: the conceptual model diagrams, the fact that credentialSubject id doesn't have to be present, the fact that JS

[2021-08-14 14:37] mwherman2000 commented on #480
Please cease to use this as an excuse @msporny. It is/was a draft specification. If some early adopters/innovators/first movers (reference: https://hyperonomy.com/2019/10/16/technology-adoption-models/) chose to bet their resources/energies/companies on a draft specification, this should not ever impact that is considered a needed change.

Also, by making this types of assertions, it amounts to #c

[2021-08-14 14:44] mwherman2000 commented on #480
Your comment IMO is another diversion.

The US Congress works in the same ways with people with the same good intentions.  What I am specifically referring to is what the end work product looks like (a bill in the Senate, the VC 1.0 specification in the immediate context).

[2021-08-14 15:06] mwherman2000 commented on #480
Going farming: https://www.youtube.com/watch?v=NfP0cOaYg0U

[2021-08-14 16:01] andrewhughes3000 commented on #480
I'd like to know of specification development groups who are not in
"cliquespeak" mode and that have produced exemplary standards documents.
I would like to learn from them - because it's not easy to establish such
an environment and I'd like to take those lessons into other fora.

On Sat, Aug 14, 2021 at 6:36 AM Manu Sporny ***@***.***>
wrote:

--
Andrew Hughes CISM CISSP
In Turn Information Mana

[2021-08-14 17:25] dlongley commented on #480
At certain point in the standardization process a spec must be considered "normatively complete" or else it will never finish (never become a standard). This is really just axiomatic. The standards process in that way is not unlike any other consensus algorithm; you have to accept that new input will eventually be refused in order to produce a stable output.

Understandably, this is a difficult pe

[2021-08-16 04:15] TallTed commented on #791
@mwherman2000 -- I edited [your comment](https://github.com/w3c/vc-data-model/issues/791#issuecomment-898889285) to show that you quoted all the bullet points, as well as the introductory lines. I'm struggling to see how this quote is relevant to your suggestion to retitle the document.

That suggestion itself is mystifying me.

I might agree that the title might be better understood with a little

[2021-08-16 04:19] kdenhartog commented on #789
I accidently edited @msporny original point rather than creating my own comment which is below. Going to have to revert his discussion point as well for coherence. Sorry about the confusion.

Interesting point, I'm realizing now this may inadvertently not align with where we've been looking at things lately. In some cases, we've found it important for the verifier to know that the issuer did their

[2021-08-16 06:27] RieksJ commented on #480
@msporny I guess the TL;DR of what I am asking is that when a decision is being made about the resolution of an issue,
   - be unambiguously clear that this is the case and also what the final argument(s)/motivation are for that.
   - record both the decision and (a reference to) the argument/motivation in a single comment to that issue.

Apart from this, it would help if every comment in an issue

[2021-08-16 11:08] David-Chadwick commented on #789
@kdenhartog The example you provide of using DIDs to identify the holder, where arbitrary keys can be added to the DID document by the holder, shows the security vulnerability in this particular type of DIDs. Any number of users can collude in this way and break the entire system. One solution is to define a DID that is linked to one key, and one key only  (which incidentally is what we have done

[2021-08-16 11:23] kdenhartog commented on #789
Correct, and the question then becomes how does verifier know what assurances were made to the holders key management before issuing the credential to the identifier? Hence the point about the credential needing to make assertions about this holder binding as well and not just the presentation.

[2021-08-16 11:42] David-Chadwick commented on #789
@kdenhartog Looks like a new standard is needed here to define the different types of key management that can be supported (unless this standard already exists). Plus a new VC property to hold the standardised values.

[2021-08-16 13:37] dlongley commented on #789
@kdenhartog and @David-Chadwick,

Alice could also just provide Bob with an API that allows him to sign with her key, without having to expose her key material to Bob. There are use cases where relying solely on the ability to generate a cryptographic signature is insufficient; additional identity proofing at presentation time is required. My point is that any spec text around this topic should be

[2021-08-16 14:02] andrewhughes3000 commented on #789
For information - at ISO SC17 for mobile driving license we are wrestling
with this problem as well.
Please excuse the off-topic content.

The framing of it has been: the current holder/presenter verification is
done in-person using a face image match to the physical face. We want to
move the holder/presenter verification activity so that the verifier is not
the party doing the matching - the matc

[2021-08-16 14:03] msporny commented on #792
The specification currently states three things:

* This specification defines a credentialSubject property for the expression of claims about one or more subjects[[1](https://w3c.github.io/vc-data-model/#credential-subject)].
* Each [credentialSubject] object MAY contain an id, as described in Section § 4.2 Identifiers[[2](https://w3c.github.io/vc-data-model/#credential-subject)].
* When expressi

[2021-08-16 14:11] msporny commented on #789
@kdenhartog wrote:

You might as well say: "Alice enables Bob to masquerade as her." :) ... there is also the Legal Guardian argument (where that might be seen as acceptable... but even in that case, it should be clear who is authenticating -- it's Alice's guardian, not Alice).

Aside from what @dlongley said -- this discussion is wandering into territory where cryptographic authentication isn't g

[2021-08-16 16:56] agropper commented on #789
@andrewhughes3000, your real-world (as opposed to our early, largely
imagined SSI use-cases) is the reason I'm calling for a privacy engineering
review of our W3C and DIF protocol work
https://github.com/decentralized-identity/waci-presentation-exchange/issues/93

Your "...one path is to use the device biometric hardware in some trustable
manner." makes my point about the risk of introducing certi

[2021-08-16 20:06] TallTed commented on #790
@mwherman2000 (and some others) --

Please take care to edit your email-based replies, to remove excess quoted content, especially when that quoted content is not properly marked as such.

Your [latest comment](https://github.com/w3c/vc-data-model/issues/790#issuecomment-898812929) above includes the full content of three preceding comments, but these are not properly marked so they are not obviou

[2021-08-16 20:20] TallTed commented on #480
1. Click on the three-dots at upper-right of the comment you want to move.
2. Choose "Reference in new issue".
3. Follow your nose through the Github UI to start that new issue.
4. Presuming that none of its content is relevant to the issue on which it was originally posted, return to the comment you started with in (1) above.
5. Click on the three-dots at upper-right of the comment once more.
6.

[2021-08-16 20:52] talltree commented on #480
Very valuable guidance, Ted. Thanks for highlighting a practical route to
better "issue topic management".

=Drummond

On Mon, Aug 16, 2021 at 1:20 PM Ted Thibodeau Jr ***@***.***>
wrote:

[2021-08-16 21:37] TallTed commented on #480
Your constant [references](https://github.com/w3c/vc-data-model/issues/480#issuecomment-898902337) to LONG external posts, authored and curated by *you*, on *your* website, do little to support your arguments here or elsewhere, and take on their own flavor of "#cliquespeak", because that's *your* term, not actively used by anyone else (so far as I've noticed, anyway, which suggests it's rare at be

[2021-08-16 23:46] kdenhartog commented on #789
Agreed. Looking at [NIST 800-63-3](https://nvlpubs.nist.gov/nistpubs/SpecialPublications/NIST.SP.800-63-3.pdf) in section 5.2, my general assumption is the majority of credentials today that would use the holder functionality would fall under the AAL category and reasonably I've only heard of people enabling AAL1 categories with VCs. I think it could be extended to AAL3 in the presentation though.

[2021-08-17 04:42] mwherman2000 commented on #791
For me, this question (and the two year timing) is actually irrelevant. It may be relevant to others but not me.  The quality of the document (polish) IMO doesn't reflect 2 years worth of community effort.  The document, in its current state, regardless how old it is or how much effort has gone into it, in its entirety, doesn't hang together very well as a cohesive, well-connected document.

@mspo

[2021-08-17 04:52] mwherman2000 commented on #792
The bullets talk all around the issue but don't simply come out and state: If a credential contains a credentialSubject property and it, in turns contains an id claim, the value of the id property is to be interpreted as the identifier for a corresponding credential subject.

More simply, no where does it simply state the value of the credentialSubject id claim (if present) is to be interpreted th

[2021-08-17 05:08] mwherman2000 commented on #480
@TallTed The diagnosis that people have experienced/observed _cliquey_ did not originate with me.  Rather _cliquey_ appears in the _Credentials Community Group 2018 End of Year Survey Results - Conducted, Analyzed & Authored by Heather Vescent & Karn Verma_. Here's a original version with the specific highlighted in red (by me): https://hyperonomy.files.wordpress.com/2019/04/final_-ccg-2018-eoy-su

[2021-08-17 06:25] RieksJ commented on #480
@TallTed tnx for the suggestion. I see that the part on creating a new issue works. That's a start. However, the part of hiding the originating comment does not (I experimented with your comment, but it failed...). But we could ask others to comment on a new thread and that just might work.

[2021-08-17 07:25] dhh1128 commented on #789
Regarding the disagreement that Dave and I have about the security of link secrets, I just want to say that, while Dave stands by his paper, I also stand by mine, and I do not accept the assertion that I misunderstood his critique. So insofar as this comment thread is relevant to that controversy, I suggest people read the articles and make their own judgments.

I don't think this materially chang

[2021-08-17 13:09] msporny commented on #792
@mwherman2000 wrote:

If the specification stated that exact sentence, would your view this particular issue as being addressed?

[2021-08-17 13:50] mwherman2000 commented on #792
@msporny It does address an important aspect of the issue.  Then there's "part b"...

I'll open a new issue for "part b" then https://github.com/w3c/vc-data-model/issues/792 can be closed with a PR containing...

[2021-08-17 14:02] mwherman2000 opened #793 "How is an id property of a credentialSubject supposed to be differentiated (by executing code or a person processing a VC)?"
Closely related to https://github.com/w3c/vc-data-model/issues/792 but different...

"Part b" of issue https://github.com/w3c/vc-data-model/issues/792 is...

Or do we need a completely different approach for marking _the identifier of a corresponding credential subject_ ...for example, does credentialSubject id need a completely different, more unique name? ...for example, credentialSubject associ

[2021-08-17 14:22] TallTed commented on #480
This might require specific permissions on the specific repo, e.g., a member of CODEOWNERS might need to do it, for comments by users other than the person doing the hiding.  (I don't want to hide anything that ought not be hidden, so I won't be experimenting with this here.)

[2021-08-17 14:24] David-Chadwick commented on #792
@msporny wrote

I have a problem with this. Consider the following use case. A company director presents two VCs in a VP, both containing the same subjectID. The VP is signed using the private key corresponding to the subject ID, so the verifier knows they both belong to and being held by the company director. The first VC contains subject properties holding the name of the director and passport n

[2021-08-17 14:48] mwherman2000 commented on #792
What/where exacty is the root cause of the problem @David-Chadwick has highlighted above?

1.	The specification wants to support multiple subjects within a singe VC? .
2.	Something else?

IMO I don't think the problem is with the proposed statement. The statement below is simply trying at a basic syntactic level (i.e. parsing level) to discern how a credentialSubject id is to be interpreted.

SIDE

[2021-08-17 14:50] TallTed commented on #480
@mwherman2000 — You appear to have [focused on the first](https://github.com/w3c/vc-data-model/issues/480#issuecomment-899997504) and ultimately least important section of [my comment above](https://github.com/w3c/vc-data-model/issues/480#issuecomment-899835047), and ignored the rest. Please revisit, and reconsider your next comments, in this and other threads, especially but not only in light of

[2021-08-17 15:03] TallTed commented on #791
I cannot make these words make sense.  Punctuation is missing (or perhaps there's extra?); words are missing (or perhaps there are extra?); some words are misspelled for their use/placement; etc.  There are other challenges with understanding this and other undiagrammable "sentences" from you, here and elsewhere.  Perhaps you could review and edit?

[2021-08-17 17:00] dlongley commented on #792
@mwherman2000,

To be clear, in the [VC data model spec](https://www.w3.org/TR/vc-data-model/#claims), properties are not claims and neither are property+value tuples -- they are only components of one. A claim is the combination of a subject-property-value relationship. In other words, it has three components. I think at least some of the confusion here may be stemming from not using the definiti

[2021-08-17 18:46] mwherman2000 commented on #792
This is good in that we're getting down to some distinct fundamental issues (which believe are solvable).

At least for me, one of the foremost issues is that the physical data of of a VC (for example see below) doesn't match the conceptual data model as described by @dlongley.
[code]
Based on the above perfectly acceptable physical model of a VC, a claim is name-value pair - plain and simply for

[2021-08-17 19:02] mwherman2000 commented on #792
The first sentence is a vague and confusing reference to sort of `id` property when there are, in fact, two primary properties called `id`; hence, the rest of the paragraph is completely meaningless/useless.

[2021-08-17 19:16] David-Chadwick commented on #792
@dlongley said "Whether the id property is present or not, the other property-values listed within an object are understood to be the property-value components of statements (or "claims") where the subject of those statements is the object on which the properties appear." So if the object is an ephemeral public key, then the claims are attached to the public key, and whoever possesses the correspo

[2021-08-17 19:20] mwherman2000 commented on #480
@TallTed No one has an obligation to respond to anyone's comments ...in whole or in part. Yes, I responded to the parts that I felt were important (and what I felt were the most important to others from my perspective).

(I was also time-constrained this morning because I had to be back combining by 9am because the forecast was for rain at noon ...the rain started at 1pm and we eventually had to s

[2021-08-17 19:22] mwherman2000 commented on #791
@TallTed See https://github.com/w3c/vc-data-model/issues/480#issuecomment-900567413

[2021-08-17 19:49] dlongley commented on #792
@mwherman2000,

I don't understand what this means ... so I guess it's arguable :). Can you state all of the claims using English sentences (an alternative syntax) so I can understand?

As an example of how I would do it with a simple "name credential":

[code]

The above has these statements or "claims":

1. The object identified by "example:1" has a "type" of "VerifiableCredential".
2. The objec

[2021-08-17 19:59] David-Chadwick commented on #792
@mwherman2000 said "Based on the above perfectly acceptable example of a physical data model of a VC, a claim is name-value pair - plain and simply for all to see. It's not arguable."
I tend to agree with this view.

[2021-08-17 20:00] msporny commented on #480
This is a big misunderstanding of the W3C Process.

As a general rule, the VC WG has an obligation to respond to all comments raised in the issue tracker when refining a global standard and to record the final disposition of the comments (whether or not the commenter was satisfied with the changes made based on the discussion).

He is taking time out of his day in an attempt to help you refine the

[2021-08-17 20:14] mwherman2000 commented on #792
@dlongley We're talking at 2 different levels of interpretation.

0. Let's agree to skip @context ...at least initially.
1. There is a Credential named "example:1".
2. The "example:1" Credential has a credential type of "NameCredential" associated with it.
3. The "example:1" Credential has a collection of Claims associated with it.
4. The collection of Claims contains 2 Claims.
5. The first Claim

[2021-08-17 20:15] dlongley commented on #792
@David-Chadwick,

Well, presuming that the verifier considered that acceptable (as is always the prerequisite), sure.

I'm not sure if you were asking me, but if you modeled your VC such that the (non-unambiguously identified) credential subject had a ticket with ID XYZ, then the claim, in English, would be something like:

There exists an object that has a ticket identified by XYZ.

It would be u

[2021-08-17 20:27] dlongley commented on #792
@mwherman2000,

From my perspective, you have evaluated the `id` property differently for the credential vs. the credential subject. Why? If you had used the same pattern for the credential and the credential subject, you would have produced a list that was very similar (if not effectively the same) as mine. So, to me, you seem to have switched processing models halfway through.

Also, what does i

[2021-08-17 20:36] dlongley commented on #792
@mwherman2000,

If it helps, imagine going through the process of parsing a VC into an abstract data model and then exporting it into some other syntax. How would you make sure that the claims remain attached to the appropriate objects if you don't capture that information in your abstract model? For example consider when there are two credential subjects:

[code]

Or consider that the credential

[2021-08-17 20:41] mwherman2000 commented on #792
Because they're different and at different scopes.  "id": "example:1" is the name-value pair (aka named property) that provides the credential itself with an identifier. "id": "example:2" is a Claim and has no semantic meaning until you apply some sort of business rule or other semantic interpretation to it (e.g. BR1, BR2, and/or BR3 from my previous posting).

At the syntactic level, it doesn't p

[2021-08-17 20:48] mwherman2000 commented on #792
@dlongley (Gently) we're sort of _talking past each other_. :-)

We differ in your interpretation and my interpretation of _appropriate objects_.  For you, I think appropriate objects are Subjects (at this higher semantic level).

At (my) syntactic level, they're claims associated with a Credential ...that is, very much at the syntactic level.  At the syntactic level, there's no concept of there b

[2021-08-17 20:52] dlongley commented on #792
@mwherman2000,

So it now seems clear to me that what you're describing is just an entirely different approach than what was taken by the VCWG. That's ok -- I'm just letting you know you're talking about something wholly different that doesn't match what's in the VC data model spec. From here I would suggest trying to align your mental model with the VC data model spec approach and then if there's

[2021-08-17 20:58] mwherman2000 commented on #792
@dlongley cool ...it seems we have connected on understanding each other.

I believe that as you unwind all the little detailed issues that I've highlight elsewhere in the Issues list (I'm running short of time at the moment), I think you'll find it hard to solve with that's currently in the spec ...more specifically, what the physical data models and abstract data models are too far apart to be r

[2021-08-17 21:13] David-Chadwick commented on #792
@dlongley wrote "There exists an object that has a ticket identified by XYZ." I don't think that is quite correct. Rather it is "there exists a ticket identified by ID XYZ, that belongs to whichever object presents it to the verifier". Just like cash, it belongs to the person whose wallet it is in. Cash is different to a cheque as the latter contains the name of the object that it is assigned to.

[2021-08-17 21:47] dlongley commented on #792
@David-Chadwick,

Well, I left out the other statements to avoid confusion that may have arisen on the other topic that was happening in this thread, but now that that has been resolved (I believe), another way of writing the English that combines the relevant statements would be:

"This credential has a credential subject that has a ticket identified by ID XYZ."

This is written using deictic lan

[2021-08-17 21:58] TallTed commented on #791
Comments like this are making it increasingly difficult for me to believe that you are acting in good faith when raising and commenting on issues here and elsewhere.

[2021-08-17 23:35] kdenhartog commented on #793
JSON-LD makes it possible for this to not cause conflict. In the JSON document we could just as easily rename the property to `foo`. `id` has been chosen specifically to help stay as closely to `@id` which is a reserved property as possible.

[2021-08-18 13:26] mwherman2000 opened #796 "[PROPOSAL] Spec needs to include a non-JSON/non-JSON-LD example VC binding e.g. JPEG EXIF/XMP"
I’ve applied the principles and data model for Structured Credentials (https://www.youtube.com/watch?v=FFv4WZ0p3aY&list=PLU-rWqHm5p45dzXF2LJZjuNVJrOUR6DaD&index=1) to VC-if-eye a plain old .JPG file (a photo I took with my Pixel 4a phone).

Test1_original.jpg is the original, unmodified test copy of the photo
![test1_orginal](https://user-images.githubusercontent.com/6101736/129905901-eaf9da11-371

[2021-08-18 13:30] mwherman2000 commented on #796
Here's the same image with the embedded VC elements...
![Uploading test1_verifiable.jpg…]()

[2021-08-18 17:09] mwherman2000 commented on #792
@dlongley and @David-Chadwick where is the full text of the VC you're discussing?

[2021-08-18 18:37] David-Chadwick commented on #792
section 7.9 bearer credentials

[2021-08-19 00:16] agropper commented on #789
Binding VCs to a holder is coercive and often unnecessary. Please see https://github.com/decentralized-identity/waci-presentation-exchange/issues/93#issuecomment-901512330 and maybe respond in this thread if appropriate.

[2021-08-19 01:35] mwherman2000 commented on #792
Are you sure the ticket example is in Section 7.9 Bearer Credentials?

I can only find this example and it is not the ticket example:
https://www.w3.org/TR/vc-data-model/#example-33-usage-of-issuer-properties

[2021-08-19 02:18] mwherman2000 commented on #792
Going back to the _primarycolors_ Unbound and Bound VC examples, let me suggest something.  I have no idea if it technically valid/viable but if it is, it's a _way out_.  Initially, I'm looking for a single person who finds some form of this acceptable.  Here's two examples to start with (...same as above with some typos removed).

**Example 1. Unbound primarycolors VC**
[code]
**Example 2a. Bound

[2021-08-19 10:57] David-Chadwick commented on #792
@mwherman2000 You definitely need to add an at-context to define your new properties (colours) and property values (ColorPalette). So depending upon which at-context you use, the same user-friendly property types and values can mean different things (depending upon their URIs)

[2021-08-19 12:57] mwherman2000 commented on #792
@David-Chadwick Thank you for the reply. But my intentions are more subtle. Let me clarify.

If "https://www.w3.org/2018/credentials/v1/credentialSubject_id_subject" is included (or not) in @context, the behavior or interpretation of `"credentialSubject": { "id": "did:colorpalettes:primarycolors", ... }` would be different in each case:

1. If "https://www.w3.org/2018/credentials/v1/credentialSubj

[2021-08-19 19:12] mwherman2000 commented on #793
Which `id` property @kdenhartog? Can you be more specific?  In the scope of what we're talking about, there 3 instances of `id`?
1. The credential `id`?
2. The credentialSubject `'id` (if present)?
3. The source system of record that also uses `id`?

Which instance of `id` are you proposing to rename?

If we use this Example 2c, what does it look like after the renaming?
[code]

[2021-08-19 20:11] dlongley commented on #793
@mwherman2000,

The property `credentialSubject.id` is always used to express the identifier for the credential subject. But you can define all your own properties from there -- including changing the meaning of `id` as long as it is nested underneath one of your own properties. You need to define all of the properties you want to use in the credential subject via a separate JSON-LD context. This

[2021-08-19 20:48] mwherman2000 commented on #793
@dlongley I'm not sure this is what you intended but I really like it ;-) :-) I can definitely work with the following:

[code]
Any dissenters?

[2021-08-20 01:36] kdenhartog commented on #792
Sidenote @mwherman2000 `@context` is an actually user on github and is getting pinged each time you leave it unquoted. Can you wrap the ` mark around the usage of the term unless you're actually trying to notify him.

[2021-08-20 05:37] mwherman2000 commented on #793
Separate question: is the above pattern acceptable enough to be documented in either the VC data model specification and/or VC use case specification?

[2021-08-20 06:20] kdenhartog commented on #793
Yeah, that's not a valid JSON-LD (or JSON) document. I'm not sure what's the intention here but here's what I'm extrapolating.

Starting with this JSON document (modified from yours to make it valid):

[code]

This produces the following N-Quads (the actual data that gets signed)

[code]

The problem is that the id doesn't just get ignored when converting between JSON-LD to RDF. Notice how the fir

[2021-08-20 11:08] mwherman2000 commented on #793
@kdenhartog Your analysis is extraordinary (it will take me some time (the weekend) to digest it all).  Thank you for the work and the explanation.

My first reaction is: this is an _*extraordinary* amount of accommodation_ to support JSON-LD when all developers need is a developer friendly VC (conceptual and logical) core data model.
- Is all of this JSON-LD accommodation necessary?
- Is all of t

[2021-08-20 13:38] kdenhartog commented on #793
To understand how the spec looks the way it looks today, you have to go back through the history to understand how we got here. Historically speaking, this work was built on JSON-LD purely and it's with good intent. In an open world model where the Issuer and Verifier are not supposed to be able to communicate other than by way of the Verifiable Credential itself, how is the verifier supposed to k

[2021-08-20 13:49] kdenhartog commented on #793
The reality is that no spec is going to be perfect for everyone. After all it's written in a "design by committee" format with many competing views. Furthermore, the theoretical purity is last priority when it comes to [design principles](https://www.w3.org/TR/html-design-principles/#priority-of-constituencies). Practically speaking, if we produce robust, interoperable software which meets an end

[2021-08-20 14:03] mwherman2000 commented on #793
Thank you for the background explanation ...and the detailed history.

But I beg to differ @kdenhartog, I need and should only need to read the current text of the VC data model specification to understand it and to implement software based on. The actual text of what the VC WG is being asked to "ratify" is the _story_ the way in appears in the text of the specification.

[PRINCIPLED OBJECTION] Th

[2021-08-20 14:31] David-Chadwick commented on #793
I am one of those who believe that VCs will get much broader acceptance worldwide if developers and implementors do not need to know anything about JSON-LD or use any JSON-LD tools. The only compromise we have had to make to pure JSON is ensure this is to mandate the insertion of at-context definitions in VCs in order to allow short form property names and values to be mapped to globally unique UR

[2021-08-22 14:37] mwherman2000 opened #797 "[PRINCIPLED OBJECTION] The VC data model specification 1.0 is not implementable in the ways it appears to be intended based on the text of the current specification document"
Literally a copy of https://github.com/w3c/vc-data-model/issues/793#issuecomment-902715529 (re-created as a top-level issue)...

Thank you for the background explanation ...and the detailed history.

But I beg to differ @kdenhartog, I need and should only need to read the current text of the VC data model specification to understand it and to correctly implement software based on it. The actual te

[2021-08-22 14:40] mwherman2000 commented on #797
For example, IMO it's impossible to implement a JSON-LD variation of VCs that's interoperable with other JSON-LD implementations based on the current text of the VC specification.  For example, this kind of detail is absent from the specification but necessary to implement a conforming, interoperable JSON-LD VC platform.

[2021-08-22 14:53] mwherman2000 commented on #793
I'm going to try and close this issue. This issue has been answered here:

- https://github.com/w3c/vc-data-model/issues/793#issuecomment-902234461
- https://github.com/w3c/vc-data-model/issues/793#issuecomment-902461256

An actual solution for the business document use case is proposed/described here:

- https://github.com/w3c/vc-data-model/pull/795#issuecomment-902972551

The principle objection

[2021-08-22 14:53] #793 closed

[2021-08-22 14:55] mwherman2000 commented on #792
@David-Chadwick Are you sure the ticket example is in Section 7.9 Bearer Credentials?

I can only find this example and it is not the ticket example:
https://www.w3.org/TR/vc-data-model/#example-33-usage-of-issuer-properties

@David-Chadwick I would like to try a close this issue but would like to see the full-text of the ticket VC example first?

[2021-08-22 16:07] David-Chadwick commented on #792
No the example in section 7.9 is not for a ticket, but is for a degree qualification. Regardless of this, you should be able to easily imply the properties of a ticket that will replace the degree properties. e.g. dateOfperformance, timeOfperformance, titleOfperformance, seatNumber etc

[2021-08-22 16:48] mwherman2000 commented on #792
@David-Chadwick But want I wanted to be able to do is correlate the above conversation about ticket VCs with actual example.  I wanted to be able to do that before closing this issue.

Do you have a ticket VC example you can paste into this issue?

[2021-08-22 18:27] David-Chadwick commented on #792
sorry no, but I repeat, it is trivial to build one for your specific use case

[2021-08-22 19:20] mwherman2000 commented on #792
@David-Chadwick @dlongley Gently, we _talking past_ each other.

From https://github.com/w3c/vc-data-model/issues/792#issuecomment-900600017, I quote

You two were were talking about a ticket VC as if it was a specific example. The conversation doesn't make sense (to me) without the full text of the ticket VC you two are considering.  For example, I can't discern which `id` (or `id`s) you're refer

[2021-08-23 01:14] kdenhartog commented on #797
I think you may have misunderstood what I was saying there. "understand how the spec looks the way it looks today" is not the same to me as "not implementable in the ways it appears to be intended based on the text of the current specification document".

This appears to be a conflation behind the story that hold the concepts of the VC spec together and the literal underpinnings oh what the spec i

[2021-08-23 04:09] mwherman2000 commented on #797
@kdenhartog It's a bit late here. I've read your reply once and will reply tomorrow.  Quickly, the phrase that did jump out at me was:

_Italics_ are mine.

What is the measures/definition/criteria for being _conformant_? IMO, I believe this is kind of detail (to be detailed) that is missing and hence, prevents a developer reading the current text of implementing a conformant, interoperable specif

[2021-08-23 04:33] kdenhartog commented on #797
An implementation that's passing the [test suite](https://w3c.github.io/vc-test-suite/) implies a conformant implementation.

I'd generally prefer that issues that are relevant to you and your work would be kept separate from the WG issues. I'd suggest forking the repo and opening issues on that fork. Then as you have more specific issues around spec text changes you can file them here for the gro

[2021-08-23 08:05] mwherman2000 commented on #797
1. At a minimum, why aren't at least the Basic Document requirements listed in the specification?

2. The specification barely references the Test Suite at all and then only in passing at the highest level. As a developer, I would expect to see at a minimum a Conformance section in the spec that highlights the Test Suite and, again, at a minimum, lists the Basic Document characteristics.

3. There

[2021-08-24 04:53] kdenhartog commented on #797
Not sure what you mean by "basic document" here. Could you clarify or do you have an example of where another spec is doing something similar?

The purpose of the specification is to specify, so that seems like it would be a conflation. Instead this is provided by way of the [charter](https://www.w3.org/2017/vc/WG/) where all of the related repositories to the WG are made available.

see that WG p

[2021-08-24 15:23] mwherman2000 commented on #797
In some conversations yesterday, it was suggested that some sort of _Verifiable Credentials Guide_ would be helpful.

I'm starting work with a few people to raise this as a CCG work item (W3C Note). It will not have any impact on the current 1.1/1.2 work (at least I can't imagine it having any impact).  "More news at 11..."

[2021-08-24 19:59] brentzundel commented on #797
It would be most helpful to re-formulate the concerns raised here as individual issues that could then be taken up by the VCWG (whether in v1.1, v1.2, or in a future version).

Raising an objection to the Verifiable Credentials Data Model 1.0  at this time doesn't have an escalation path in the W3C Process, but outlining each concern in its own issue will help future versions of the recommendation

[2021-08-24 20:00] brentzundel commented on #797
I also think the plan to move forward with a CCG work item is a good one.

[2021-08-25 21:21] David-Chadwick opened #798 "Clarify the difference between Credential and Verifiable Credential"
It was agreed at the VC-WG meeting on 18 Aug that the spec should clearly differentiate between credentials/presentations and the verifiable versions of these, and that regardless of how the verifiying component is added (JWT, LD-proof, ZKP) nevertheless in all cases the underlying credential/presentation should be identical. This means that when the verifier removes the proof, it should end up wi

[2021-08-28 11:37] mwherman2000 opened #799 "Bound Credentials and Unbound Credentials"
This issue documents the existence of the difference between Bound Credentials and Unbound Credentials. No fundamental changes are needed to support these 2 broad categories of (Verifiable) Credentials.

NOTE: Bearer Credentials are a more purpose-specific specialization of the more general-purpose concept of Unbound Credentials.

This issue replaces PR https://github.com/w3c/vc-data-model/pull/78

[2021-08-28 12:23] mwherman2000 commented on #792
Closed with the creation of PR https://github.com/w3c/vc-data-model/pull/800

[2021-08-28 12:24] mwherman2000 commented on #792
Closed with the creation of PR https://github.com/w3c/vc-data-model/pull/800

[2021-08-30 02:31] kdenhartog commented on #798
Labelled this as V1.1 under the assumption this issue is focused on "the spec should clearly differentiate between credentials/presentations and the verifiable versions of these, and that regardless of how the verifiying component is added (JWT, LD-proof, ZKP) nevertheless in all cases the underlying credential/presentation should be identical."

If this issue is going to instead focus on making `

[2021-08-30 02:38] kdenhartog commented on #721
Hmm, not sure what we want to do with this one now that some of the latest SVGs have been created manually in #786

We were able to improve them to be more WCAG 2.1 compliant as I understand it, but weren't able to update our tooling to automate this (and address the original concern of shrinking the size of these). I'm not familiar enough with the automated tooling we're using to generate some of

[2021-08-30 03:19] kdenhartog commented on #775
This issue appears to have been addressed in #785

See this line for details, https://github.com/w3c/vc-data-model/pull/785/files#diff-0eb547304658805aad788d320f10bf1f292797b5e6d745a3bf617584da017051R837

Marking as pending close.

[2021-08-30 04:04] kdenhartog commented on #732
@iherman not really sure what we want to publish at this link, nor do I know if I've got the correct permissions to address this currently. Was the goal to have something like the [citizenship-vocab](https://w3c-ccg.github.io/citizenship-vocab/#the-citizenship-vocabulary) published at that location as an offical WG note that links back to the spec for all of the defined terms in the V1 context?

[2021-08-30 04:45] chaals commented on #721
Ah, hadn't remembered this.

Yeah, making the SVG more accessible (I wouldn't claim WCAG compliance yet and I know there is more to do, but we're somewhere down the path, with the most complex pair of diagrams) also makes them much smaller files.

I think we should close this for now, knowing that there is more work to do. In terms of an automated process that maintains code quality and accessibil

[2021-08-30 04:49] kdenhartog commented on #733
Partially addressed in #806 the related SVG also needs to be updated still

[2021-08-30 04:56] kdenhartog commented on #721
Good to know, thanks for clarifying this. I'm not very familiar with the Accessibility requirements quite yet.

Sounds about right - I plan to look into what we might be able to do to address this. If it is manually updating things for now, I can report back for that on this issue and we can decide if we want to just close it. More to come on this topic.

[2021-08-30 08:52] David-Chadwick commented on #798
This issue is and remains as its title suggests. Therefore it is a 1.1 clarification. Anything else (e.g. credential.id or subject ids or other topics) should be listed in separate issues.

[2021-08-30 09:02] mwherman2000 commented on #798
I don't think this phase/sentence is complete.  Can you clarify it @kdenhartog ?

[2021-08-30 10:46] David-Chadwick opened #809 "JWT encoding"
This is a placeholder to ensure that any ambiguities in how to create JWT encoded verifiable credentials and verifiable presentations from credentials and presentations respectively are removed in V1.1. This issue has been raised with the DIF, the OIDF, as well as the VC WG so that everyone with experience in JWT encoding can say where their implementation issues arose.

[2021-08-30 18:21] TallTed commented on #776
@kdenhartog -- Since this is closed, please add a link here or there connecting this issue to the new one about putting the text back in.  The new issue should be tagged for version 2.0, if it isn't already.

[2021-08-30 18:41] TallTed commented on #796
@mwherman2000 -- Please use a smaller image file (both in bytes and dimensions) for your proof-of-concept/demo.  The horse jpg is unnecessarily large, especially for inline presentation.  Also, the content of `Test1_xmp.png` would be better presented as code-fenced text, since that's all it is, than an image in any format.  (Optimally, you could edit your previous entries on this issue, to incorpo

[2021-08-30 19:07] TallTed commented on #792
@mwherman2000 -- I've gone through and code-fenced every un-fenced instance of `@context` in your comments on this issue.  It would be great if you could start doing this yourself.

[2021-08-31 00:55] kdenhartog commented on #798
Yup agreed. Thanks for filing the PR as well.

Yup, sorry was jumping in and out of different contexts when writing that. Here's what I meant to say. If this issue is going to instead focus on making normative changes to credentialSubject.id like requiring it's usage it should be relabeled as V2 and deferred for later.

I think it's a question that can be considered again (this is how it originall

[2021-08-31 02:57] kdenhartog opened #810 "Update termsOfUse in context and remove note about bug"
This is a follow up issue to address the changes that were discussed in #776 and temporarily noted in #787, but deferred until they could be properly addressed in V2.

The following needs to be done to address this issue.
1. remove the note added in #787
2. update the V2 context to include the `termsOfUse` term

[2021-08-31 02:57] kdenhartog commented on #776
Thanks for the reminder @TallTed. I've gone and created a follow up issue to address this in V2 in #810

[2021-08-31 03:01] kdenhartog commented on #809
I've not had enough implementation experience directly with JWT based VCs to help out on this one. @OR13 is this something that you might be able to help out with?

[2021-08-31 13:38] mwherman2000 commented on #796
@TallTed The images are real-life images that I used in my actual testing.  They are not illustrations.  The second image actually contains a copy of all the the Structured Credential (aka Verifiable Credential) properties that I described here (detailed in the exiftool.exe PowerShell script): https://www.youtube.com/watch?v=9RLYS7Xvabc&list=PLU-rWqHm5p45dzXF2LJZjuNVJrOUR6DaD&index=2

The maximum

[2021-08-31 14:07] mwherman2000 commented on #796
@TallTed In general, I use simple but modern software like PowerPoint, Microsoft Paint, Microsoft Outlook, and GitHub - all Microsoft products from a usage and interoperability perspective. I use a modern laptop with a terabyte of SSD storage. The size of my presentations are often 10s of MB in size; almost a one GB when I record a PowerPoint voice over; 1.5 GB when I ask PowerPoint to turn the sl

[2021-08-31 15:34] pchampin commented on #775
Yes, #785 correctly addresses this issue. Thanks.

Not sure if you expect me to close it now, or to close it once #785 is merged.

[2021-08-31 15:46] David-Chadwick opened #811 "Remove proof property from most examples"
Now that we have some proposed text to clarify the difference between a credential (presentation) and verifiable credential (presentation), I think it would be a good idea for most of the examples in sections 4 and 5 e.g. for type, issuer, issuanceDate etc. to remover the "proof": {...} property from the examples as:
i) it wrongly implies that all verifiable credentials will have the proof propert

[2021-08-31 15:58] TallTed commented on #796
@mwherman2000 -- Humble-brags are not relevant to nor appropriate for this discussion.

[2021-08-31 16:04] brentzundel commented on #775
PR #785 has been merged. With @pchampin agreeing that it addresses this issue, I am closing it.

[2021-08-31 16:04] #775 closed

[2021-08-31 16:13] OR13 commented on #809
I am happy to help, I've got some strong opinions on where JOSE should be respected, and where it should be hands off defining how a VC looks.

Of particular interest is JOSE support for multi message proofs, specifically to support BLS12381 and Merkle Proofs.

[2021-09-01 07:03] mwherman2000 commented on #796
@TallTed I'm trying to reinforce/highlight to you, IMO, how inappropriate your feedback was/is.

[2021-09-07 04:23] mwherman2000 commented on #796
@TallTed Here's another piece of computing nostalgia - 3 pieces actually...

![My First Personal Computers: 1990-2001](https://www.youtube.com/watch?v=CEYFoEJlF0A)

[2021-09-07 18:04] TallTed commented on #796
@mwherman2000 -- How does this issue relate to, progress because of, your YouTube video of ad-hoc commentary about obsolete hardware? You do neither yourself nor the rest of us any favors by posting off-topic content!

[2021-09-08 12:44] David-Chadwick opened #812 "Clarify schema"
There has been some discussions (elsewhere) about precisely what the schema property should contain i.e. whether it is for the entire VC or VP, or only for the subject properties of the VC. I think the WG should be very clear about this and ensure that the text makes it crystal clear.

[2021-09-08 19:35] dlongley commented on #797
+1 to closing this once the work item is approved by the CCG.

[2021-09-08 19:59] #105 closed

[2021-09-09 00:32] mwherman2000 opened #813 "[VC-DATA-MODEL] This recommendation has no stated purpose, goals, or intended audience statements."
The text of the VC data model recommendation has no stated purpose, goals, or intended audience statements.

This has lead to confusion amongst members of the WG in terms of what should/should not be in the recommendation as well as how should the content should/needs to be expressed (e.g. use of JSON-LD in the VC examples).

Lots of folklore but the text of the recommendation itself has:
- no sta

[2021-09-09 03:06] mwherman2000 commented on #813
In effect, using consensus, the current WG has selected themselves - a group of early adopter/innovators (https://hyperonomy.com/2019/10/16/technology-adoption-models/) - as their own audience for this recommendation vs. a wider audience of developers at large.

The intended audience should be the decades and decades of new developers that we're trying to attract.

While not really intentional, I

[2021-09-09 07:35] iherman commented on #105
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2021-09-08-vcwg#section6-2) on 2021-09-08

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 6.2. Holders and Identifiers (issue vc-data-model#105)

_See github issue [#105](https://github.com/w3c/vc-data-model/issues/105)._

**Brent Zundel:** #105. Holders and identifiers.

[2021-09-09 07:35] iherman commented on #726
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2021-09-08-vcwg#section5-2) on 2021-09-08

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 5.2. ZKP implementation - why proof and schema mandatory within derived VC? (issue vc-data-model#726)

_See github issue [#726](https://github.com/w3c/vc-data-model/issues/726)._

*

[2021-09-09 07:35] iherman commented on #727
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2021-09-08-vcwg#section6-1) on 2021-09-08

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 6.1. Inconsistencies between Figures and examples (issue vc-data-model#727)

_See github issue [#727](https://github.com/w3c/vc-data-model/issues/727)._

**Brent Zundel:** First one

[2021-09-09 07:35] iherman commented on #748
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2021-09-08-vcwg#section5-3) on 2021-09-08

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 5.3. URIs or URLs for ids (issue vc-data-model#748)

_See github issue [#748](https://github.com/w3c/vc-data-model/issues/748)._

**Brent Zundel:** URIs or URLs for ids. We specify

[2021-09-09 07:35] iherman commented on #762
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2021-09-08-vcwg#section5-4) on 2021-09-08

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 5.4. Can a credentialSubject be only a string value? (issue vc-data-model#762)

_See github issue [#762](https://github.com/w3c/vc-data-model/issues/762)._

**Brent Zundel:** Next o

[2021-09-09 07:35] iherman commented on #782
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2021-09-08-vcwg#section5-1) on 2021-09-08

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 5.1. RFC 3339 vs ISO8601 vs XSD Date Time  (issue vc-data-model#782)

_See github issue [#782](https://github.com/w3c/vc-data-model/issues/782)._

**Brent Zundel:** RFC 3339 vs ISO8

[2021-09-09 07:35] iherman commented on #797
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2021-09-08-vcwg#section4-1) on 2021-09-08

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 4.1. [PRINCIPLED OBJECTION] The VC data model specification 1.0 is not implementable in the ways it appears to be intended based on the text of the current specification document (i

[2021-09-09 07:35] iherman commented on #811
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2021-09-08-vcwg#section4-2) on 2021-09-08

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 4.2. Remove proof property from most examples (issue vc-data-model#811)

_See github issue [#811](https://github.com/w3c/vc-data-model/issues/811)._

**Brent Zundel:** Next, issue 8

[2021-09-09 07:35] iherman commented on #812
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2021-09-08-vcwg#section4-3) on 2021-09-08

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 4.3. Clarify schema (issue vc-data-model#812)

_See github issue [#812](https://github.com/w3c/vc-data-model/issues/812)._

**David Chadwick:** I hope it's v1.1. But I'd like feedba

[2021-09-09 14:16] mwherman2000 commented on #813
@FYI: I'm starting on the PR for this.

[2021-09-09 16:33] brentzundel commented on #813
@mwherman2000 please don't add labels to issues or PRs. The triage of issues and subsequent labelling is an editor's job and should reflect agreement from the working group.

[2021-09-09 16:57] brentzundel commented on #813
Speaking as a working group member, I feel that the introduction already adequately covers the purpose and goals of the recommendation:

I do not see the necessity of formally describing an intended audience beyond anyone interested enough in web standards to read it. Self-selecting limitations on that potential audience pool doesn't make sense to me.

[2021-09-09 17:08] brentzundel commented on #813
Speaking as a VCWG chair, comments like this are antagonistic and not acceptable. They communicate a significant lack of respect and may be construed as a violation of the [Positive Work Environment at W3C: Code of Ethics and Professional Conduct](https://www.w3.org/Consortium/cepc/). Please refrain from insinuations and attacks such as this in the future.

[2021-09-09 17:43] mwherman2000 commented on #813
I had already written the PR and have submitted it to the WG for its consideration: https://github.com/w3c/vc-data-model/pull/814

[2021-09-09 17:47] mwherman2000 opened #815 "VC-DATA-MODEL: adding more examples of non json-ld credentials"
Recasting https://github.com/w3c/vc-data-model/pull/803#issuecomment-916128717 as a new issue (at the suggestion of the WG chair (https://github.com/w3c/vc-data-model/pull/803#issuecomment-916284200)):

@kdenhartog Can you confirm whether or not you are asking for a JSON example to be added to the VC Data Model v1.1 Recommendation for every JSON-LD example?

Related:
- https://github.com/w3c/vc-da

[2021-09-09 20:11] mwherman2000 commented on #815
It's 2pm here. I'll wait until this evening to hear back with some feedback. I'll wait until later this evening to give @kdenhartog a chance to reply (he and I are almost exactly 12 hours different timezone wise).  Then I'll start in on the minimal JSON versions of all of the examples.

Question: Is there a W3C HTML mechanism for showing 2 versions of some code (e.g. Java and C# or JSON and JSON-L

[2021-09-09 23:54] kdenhartog commented on #815
If you're going this route I think showcasing examples in different representations for each one makes a lot of sense. In my mind, this is likely to be the best method of highlight the abstract data model better as well.

As for how it should work, I'm not sure. If you start working on making up those examples and putting them into an appendix section or JSON representation for now, then we can do

[2021-09-10 00:08] TallTed commented on #812
Can those (elsewhere) discussions be linked from here?  Understanding how existing text is being (mis-)interpreted is likely to help guide rewording to better clarity.

[2021-09-10 01:19] TallTed commented on #815
There is W3 markup magic and javascript that can be used to hide or show any or all examples in each of a few languages.  This has been used in the past, for instance, to make specs with inline examples in Turtle, RDF/XML, and JSON-LD show any combination of 1, 2, or 3 of those to a browser-based reader.  I do not know the incantations nor how easy it is to make this happen at this stage of the do

[2021-09-10 02:26] kdenhartog commented on #726
I made a first cut at addressing this issue in #818

Let's see where that takes us.

[2021-09-10 02:50] kdenhartog commented on #782
@msporny Can I reference non-normative sections of a normative document?

I'm thinking the following phrase would solve this:

[code]

[2021-09-10 03:24] msporny commented on #782
@kdenhartog wrote:

`xsd:dateTime` is normatively defined here: https://www.w3.org/TR/xmlschema11-2/#dateTime

I believe that's the latest standard, but you may want to double check.

@OR13's analysis sounds right to me.

@kdenhartog, rather than write more text, we should simplify and use some variation of the language in DID Core for `datetime` values (that is, don't refer to ISO8601, but XMLSCH

[2021-09-10 09:17] David-Chadwick commented on #812
Quote from https://github.com/w3c-ccg/vc-json-schemas/issues/51#issuecomment-912983546

"It's also unclear from the VC spec if the credentialSchema field refers to the top level VC schema or the credentialSubject only. This spec makes it clear it's the credentialSubject only, though not sure if this is just an interpretation."

This is why it is important for the VC spec to make it crystal clear t

[2021-09-15 02:51] kdenhartog commented on #748
Thanks @clehner for taking care of this

[2021-09-15 11:26] solidnerd opened #820 "Question: Using Refresh Service Property to update a credential when Credential Subject has a new field"
The holder and issuer agree through an external governance process of updating their commit CredentialSchema.

Mostly this points me to a Description in the Spec:

`The issuer can include the refresh service as an element inside the verifiable credential if it is intended for either the verifier or the holder (or both), or inside the verifiable presentation if it is intended for the holder only. I

[2021-09-15 15:29] TallTed opened #821 ""bound"/"binding" terminology is a significantly stronger relationship than is actually present between VCs and their Subjects *or* Holders"
_Originally posted by @TallTed in https://github.com/w3c/vc-data-model/pull/818#discussion_r707644135_

I am mostly concerned about the "bound"/"binding" terminology in use here, which I think is a significantly stronger relationship than is actually present between these VCs and their Subjects *or* Holders. I think it would be better to say that xyz property/ies in the Credentials under specific

[2021-09-15 16:08] David-Chadwick commented on #809
Discussions in the OIDC group indicated that if a user has multiple credentials from multiple issuers, with different DIDs identifying him/her in each one, and the claims request them all be presented,  then multiple JWT VPs will need to be created, one VP per VC. This is because a JWT can only have a single signature proving ownership of one DID.
Other clarifications that might be needed are eith

[2021-09-15 16:22] iherman commented on #748
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2021-09-15-vcwg#section5-3) on 2021-09-15

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 5.3. URIs or URLs for ids (issue vc-data-model#748)

_See github issue [#748](https://github.com/w3c/vc-data-model/issues/748)._

**Charles Lehner:** This issue was about a variatio

[2021-09-15 16:22] iherman commented on #782
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2021-09-15-vcwg#section5-2) on 2021-09-15

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 5.2. RFC 3339 vs ISO8601 vs XSD Date Time  (issue vc-data-model#782)

_See github issue [#782](https://github.com/w3c/vc-data-model/issues/782)._

**Kyle Den Hartog:** Next we have

[2021-09-15 16:22] iherman commented on #797
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2021-09-15-vcwg#section6-1) on 2021-09-15

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 6.1. [PRINCIPLED OBJECTION] The VC data model specification 1.0 is not implementable in the ways it appears to be intended based on the text of the current specification document (i

[2021-09-15 16:22] iherman commented on #813
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2021-09-15-vcwg#section6-2) on 2021-09-15

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 6.2. [VC-DATA-MODEL] This recommendation has no stated purpose, goals, or intended audience statements. (issue vc-data-model#813)

_See github issue [#813](https://github.com/w3c/vc

[2021-09-15 16:22] iherman commented on #815
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2021-09-15-vcwg#section6-3) on 2021-09-15

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 6.3. VC-DATA-MODEL: adding more examples of non json-ld credentials (issue vc-data-model#815)

_See github issue [#815](https://github.com/w3c/vc-data-model/issues/815)._

**Kyle De

[2021-09-15 16:22] iherman commented on #820
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2021-09-15-vcwg#section6-4) on 2021-09-15

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 6.4. Question: Using Refresh Service Property to update a credential when Credential Subject has a new field  (issue vc-data-model#820)

_See github issue [#820](https://github.com/

[2021-09-15 16:22] iherman commented on #726
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2021-09-15-vcwg#section5-1) on 2021-09-15

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 5.1. ZKP implementation - why proof and schema mandatory within derived VC? (issue vc-data-model#726)

_See github issue [#726](https://github.com/w3c/vc-data-model/issues/726)._

*

[2021-09-15 19:33] brentzundel commented on #797
@mwherman2000 it is not clear to me if you are objecting to the publishing of the VC Data Model v1.0 Recommendation, or if you are objecting to the work we are currently engaged in to publish a revision to the Recommendation. Could you clarify?

[2021-09-17 20:32] TallTed commented on #809
Presenting claims (from multiple VCs) about multiple DIDs, where all the DIDs identify the same entity, would seem to be a major privacy issue which should be warned about, if nothing else.

[2021-09-20 13:24] peacekeeper commented on #809
One question that still keeps confusing implementers is whether to use `nbf` (which is what the spec says) or `iat` (which feels closer to `issuanceDate`), or both.

Of course this has been discussed quite a bit in the WG, but I don't think it's clear for implementers.

[2021-09-20 15:22] OR13 commented on #809
Its helpful to be able to prove something, and also say when it will be valid to use the proof...

[code]
... at least as I would hope for them to be interpreted....

Note the directionality is important... we must map from a common data model to and from a serialization, and not confuse the two by trying to pretend the serialization is the data model... the VC Data Model is useful without JWT / J

[2021-09-20 17:12] David-Chadwick commented on #809
There is no proof property in JWT VCs (even though I preferred that there had been). So we cannot do the third of your mappings. So I suggest that issuanceDate maps into both nbf and iat.

[2021-09-20 17:16] OR13 commented on #809
@David-Chadwick then there will be no way to "use JWT for a post dated check"... which seems pretty sad... and also like a way to limiting use cases by assuming a serialization is more important than the data model... IMO a valid use case for VC-JWT would be a post dated check... with `iat` ~ `right now` and `nbf` ~ `1 week so my bank acccount has enough money in it`.

[2021-09-20 18:36] David-Chadwick commented on #809
@OR13 I don't disagree with you. If Manu had not rejected the idea of all VCs having a proof property (which I advocated) then this could have been solved by having a proof property for JWT signed VCs. I am happy to support this in V2 of the standard, but it is a breaking change.

[2021-09-20 19:48] dlongley commented on #809
There are also the `validFrom`, `validUntil`, and `issued` properties that we hoped to use instead that were mentioned in notes here:

https://www.w3.org/TR/vc-data-model/#issuance-date
https://www.w3.org/TR/vc-data-model/#expiration

With those properties, the mappings would be:

`vc.issued` => `iat`
`vc.validFrom` => `nbf`
`vc.validUntil` => `exp`

[2021-09-21 14:10] tc-developer01 opened #823 "nonce property"
Hello,

we are trying to implement Verifiable Credentials and Verifiable Presentations using JWTs as well as JSON-LD & BBS+, and there is some confusion about the nonce property.

In examples [#28](https://w3c.github.io/vc-data-model/#example-28-jwt-payload-of-a-jwt-based-verifiable-credential-using-jws-as-a-proof-non-normative) (VC) and [#31](https://w3c.github.io/vc-data-model/#example-31-jwt-pa

[2021-09-21 21:09] David-Chadwick commented on #809
Thanks @dlongley. This solves the issue in the next breaking change of the standard. We can put a note in v1.1 to say that this is what will be anticipated in a future version

[2021-09-29 14:57] dlongley commented on #823
To either prevent replay attacks, prevent undesirable correlation, or as a component in puzzle solving (such as PoW). There may be other uses. It is a value that is intended to only ever be used once.

A challenge is different from a nonce in that a challenge carries with it the semantics that it is a part of a challenge-response authentication mechanism and that the challenge value is always set

[2021-09-29 15:14] mwherman2000 commented on #815
Is there is tangible example of how to do this?  I can start and finish this, next week?

[2021-09-29 15:55] mwherman2000 commented on #797
Closed as this is being addressed elsewhere.

[2021-09-29 16:16] iherman commented on #797
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2021-09-29-vcwg#section2-2) on 2021-09-29

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 2.2. [PRINCIPLED OBJECTION] The VC data model specification 1.0 is not implementable in the ways it appears to be intended based on the text of the current specification document (i

[2021-09-29 16:16] iherman commented on #820
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2021-09-29-vcwg#section2-3) on 2021-09-29

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 2.3. Question: Using Refresh Service Property to update a credential when Credential Subject has a new field  (issue vc-data-model#820)

_See github issue [#820](https://github.com/

[2021-09-29 16:16] iherman commented on #821
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2021-09-29-vcwg#section2-1) on 2021-09-29

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 2.1. "bound"/"binding" terminology is a significantly stronger relationship than is actually present between VCs and their Subjects *or* Holders (issue vc-data-model#821)

_See gith

[2021-09-29 16:44] dmitrizagidulin commented on #823
@dlongley great explanation! I think we need to add some of this wording into the spec itself.

[2021-09-29 16:59] agropper commented on #821
I suggest a two-step process. Regardless of 1.1, 1.2, or v2, can we have a
list of reasons why Holder is a normative term in the spec? If we had
consensus on the purposes of Holder being different from Subject it would
help us clarify the language.

For example,

   - ZKP depend on Holder being separate from the VC Subject because...
   - Things (as in the contents of a box) as a VC Subject depend

[2021-09-29 18:18] TallTed commented on #815
I don't recall which specific doc(s) included this. I believe it flipped between examples in Turtle, JSON[-LD?], and maybe another. @msporny, @dlongley, or @iherman might be able to link to it?

[2021-09-29 19:29] TallTed commented on #821
@agropper -- I've numbered these because assigning letter-number pairs to statements seems to make a difference to you.  --

HS1. The Subject(s) is/are the entity/ies about which the Claims/Statements in the Credential are made.

HS2. The Holder(s) is/are the entity/ies which Hold the Credential, for some or all of its lifespan.

HS3. A/the Subject *may* be the same entity as a/the Holder for any

[2021-09-29 21:22] kdenhartog commented on #815
Yeah I was looking into how to get this working in that document. It looks like it requires a few additional HTML classes to be constructed and a bit of JS, but from the looks of it most of should be copy/pastable from that spec. I haven't gotten around to it yet, but I intend to within the time frame of the maintenance WG.

[2021-09-29 21:28] kdenhartog commented on #797
Closing at the request of the author (based on my understanding of the meeting minutes)

[2021-09-29 21:28] #797 closed

[2021-09-30 12:26] #782 closed

[2021-09-30 12:26] #748 closed

[2021-09-30 12:26] #726 closed

[2021-10-06 19:46] kdenhartog commented on #769
I believe this PR has been addressed by #783 and github didn't automatically close this like I expected. Closing.

[2021-10-06 19:46] #769 closed

[2021-10-06 19:51] kdenhartog commented on #733
I believe this one has been addressed in multiple PRs, but want to dig up the links before closing. Going to label pending close for this for now.

[2021-10-06 19:52] kdenhartog commented on #729
I believe this was addressed in #805 and wasn't automatically closed by GH when that PR was merged. Closing.

[2021-10-06 19:52] #729 closed

[2021-10-06 19:52] #768 closed

[2021-10-06 19:53] kdenhartog commented on #761
I believe this issue was addressed in #803 and didn't get automatically closed by Github. Closing.

[2021-10-06 19:58] kdenhartog commented on #721
I'd suggest for this one to move forward, that someone with the original images should post a link to this so that we can regenerate the ones that @chaals hasn't updated for us already.

[2021-10-06 20:01] David-Chadwick commented on #812
This is resolved in #816

[2021-10-06 20:02] kdenhartog commented on #732
@iherman I think the goal to get this fixed is that we need to get the [credentials.html](https://github.com/w3c/vc-data-model/blob/main/vocab/credentials.html) document published at the following link: https://www.w3.org/2018/credentials/

Is that something that I can do (would need instruction on this if so) or does it need to be done by you?

[2021-10-07 06:30] iherman commented on #732
@kdenhartog, this is something only I can do. I would need an approval from the WG, though, that this is indeed the file I should put there.

[2021-10-07 08:51] iherman commented on #209
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2021-10-06-vcwg#section3-1) on 2021-10-06

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 3.1. Does pseudo-anonymity require the issuer to cooperate? (issue vc-data-model#209)

_See github issue [vc-data-model#209](https://github.com/w3c/vc-data-model/issues/209)._

**Br

[2021-10-07 08:51] iherman commented on #721
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2021-10-06-vcwg#section3-6) on 2021-10-06

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 3.6. Optimized SVG diagrams (issue vc-data-model#721)

_See github issue [vc-data-model#721](https://github.com/w3c/vc-data-model/issues/721)._

**Brent Zundel:** Kyle, can you give

[2021-10-07 08:51] iherman commented on #732
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2021-10-06-vcwg#section3-7) on 2021-10-06

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 3.7. 4.1 Link to going anywhere that makes sense (issue vc-data-model#732)

_See github issue [vc-data-model#732](https://github.com/w3c/vc-data-model/issues/732)._

**Brent Zundel:

[2021-10-07 08:51] iherman commented on #734
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2021-10-06-vcwg#section3-2) on 2021-10-06

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 3.2. Have fields for locale-specific information (names, addresses, etc.) been checked? (issue vc-data-model#734)

_See github issue [vc-data-model#734](https://github.com/w3c/vc-da

[2021-10-07 08:51] iherman commented on #751
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2021-10-06-vcwg#section3-3) on 2021-10-06

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 3.3. Cover "authenticatability" of credential (issue vc-data-model#751)

_See github issue [vc-data-model#751](https://github.com/w3c/vc-data-model/issues/751)._

**Charles Lehner:*

[2021-10-07 08:51] iherman commented on #781
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2021-10-06-vcwg#section3-4) on 2021-10-06

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 3.4. Add details about difference between contexts and credentialSchemas property  (issue vc-data-model#781)

_See github issue [vc-data-model#781](https://github.com/w3c/vc-data-mo

[2021-10-07 08:51] iherman commented on #823
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2021-10-06-vcwg#section2-1) on 2021-10-06

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 2.1. nonce property (issue vc-data-model#823)

_See github issue [vc-data-model#823](https://github.com/w3c/vc-data-model/issues/823)._

**Brent Zundel:** This link should give us a

[2021-10-19 14:52] TallTed commented on #751
In both paragraphs [suggested above](https://github.com/w3c/vc-data-model/issues/751#issuecomment-946074037) by @clehner, `does not necessarily imply` should just be `does not imply`. The `necessarily` implies that the implication which follows is *typically*, but not *always*, intended.

The truthfulness or trustworthiness of the issuer is left to the verifier to decide, by whatever means (anothe

[2021-10-27 16:32] #798 closed, assigned to nobody

[2021-11-02 23:27] dmitrizagidulin opened #831 "Proposal: Anchored Resources and Hashlinks for VCs"
Sidenote: I debated for a while where to open this issue (whether on the overall CCG repo, or the VC Dev Guide, or here), and decided to go with the VC Data Model spec repo, only because the proposal involves adding two new terms to the VC `@context`. This issue is meant to be a start of the discussion, and please let me know if this proposal should go somewhere else.

### Motivation
1. Provide a

[2021-11-03 08:49] oed commented on #831
Why reinvent the wheel? IPLD already solves this type of problem very well.

[2021-11-03 08:57] lrosenthol commented on #831
@dmitrizagidulin Thanks for putting up this proposal.  I agree that there are indeed some key use cases for needing to supply a hash to related resources to be able to securely "bind them together".  For example, this would be useful to us in C2PA (https://c2pa.org) in ensuring that VC's couldn't be moved between manifests to forge ownership.

The one question that I would pose here is whether a h

[2021-11-03 14:11] vongohren commented on #831
Reflecting on the question @awoie asked per email.

When you say unrelated credentials, that is unrelated to each other credentials and not unrelated to the DID right?
So to bring back @awoie question, would it be possible to link two DIDs through one VC together with this approach?

[2021-11-03 15:15] ChristopherA commented on #831
In some cases like to see a proof over a hash. Can you make it clear to separate that use case out from this one?

One use case for me is a VC where I have verified that you are the holder of the keys for another VC.

[2021-11-03 15:50] dmitrizagidulin commented on #831
@lrosenthol - Yeah, on further thought, I agree, hashlinks are overkill for this usecase. I DO want to (in a separate proposal) advocate for using hashlinks for contexts and schemas. But you're right, for linking VCs together, a `contentHash` that links to a multihash/multicodec value is easier (and sufficient).
As far as why not use Sub-Resource Integrity instead of multihash/multicodec -- I thin

[2021-11-03 16:35] dmitrizagidulin commented on #831
@vongohren

Good question. It's both -- in the VP case, the individual VCs inside the VP may be unrelated to each other. And ALSO, they may have different `credentialSubject` IDs from each other, and those IDs can be different from the DID of the holder who signed the VP. Does that make sense? A VP (at least in the current VC Data Model spec) is an envelope for arbitrary different VCs; the credent

[2021-11-03 17:44] dmitrizagidulin commented on #831
@vongohren

Ah, right. So let's talk about that. On the CCG mailing list, @awoie asked "would it be possible to link two DIDs through one VC together with this approach?"

My personal thought on it is -- yes, it's possible, but maybe we would want a slightly different mechanism for it. Let's dive into the details, though.
This proposal introduces two properties, `anchoredResource`, and separately,

[2021-11-03 18:27] dmitrizagidulin commented on #831
@ChristopherA

Interesting, ok! You're right that just the `contentHash` by itself doesn't have a proof of possession component.
But in a way, isn't the VC itself a proof over a hash? Meaning, the VC has a `contentHash` in it, and the `proof` section signs over the whole thing?

Can you say a bit more about this use case?

[2021-11-03 20:38] kdenhartog commented on #811
The reason for relabeling this during TPAC was that there's disagreement around how this removal should be represented. Presuming we're able to update the examples to have tabbing included then adding this change wasn't an issue. However, there was some concern around completely removing proof properties from the examples.

I think the solution here is that we hold off on merging #817 and instead

[2021-11-03 20:56] kdenhartog commented on #831
This is a new feature which would create changes to the VC context, so I'm going to label this as a v2 issue.

[2021-11-03 22:40] agropper commented on #831
tl;dr: linkage based on hashed compressed facial images can avoid the need
for verifiable presentation to a human verifier. A subject can present
authentic DIDs or sufficiently simple credentials as QR codes on paper.

*Credential*: I’m particularly interested in the use-case of a passport or
driver’s license *Credential* that includes *a human-recognizable face
biometric in order to link the Subj

[2021-11-10 01:26] kdenhartog commented on #732
@brentzundel can I ask that we add some time to the agenda tomorrow for this issue so that the WG can decide if that's the correct file to publish there.

[2021-11-10 08:07] iherman commented on #727
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2021-10-27-vcwg#section2-5) on 2021-10-27

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 2.5. Inconsistencies between Figures and examples (issue vc-data-model#727)

_See github issue [vc-data-model#727](https://github.com/w3c/vc-data-model/issues/727)._

**phil:** assu

[2021-11-10 08:07] iherman commented on #746
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2021-10-27-vcwg#section2-1) on 2021-10-27

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 2.1. DVCG references in bibliography need to be updated (issue vc-data-model#746)

_See github issue [vc-data-model#746](https://github.com/w3c/vc-data-model/issues/746)._

**Brent

[2021-11-10 08:07] iherman commented on #754
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2021-10-27-vcwg#section2-2) on 2021-10-27

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 2.2. Example uses DriversLicense as evidence for a UniversityDegreeCredential (issue vc-data-model#754)

_See github issue [vc-data-model#754](https://github.com/w3c/vc-data-model/i

[2021-11-10 08:07] iherman commented on #761
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2021-10-27-vcwg#section2-10) on 2021-10-27

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 2.10. Example 45 contains "revocation" property not defined in LD contexts (issue vc-data-model#761)

_See github issue [vc-data-model#761](https://github.com/w3c/vc-data-model/iss

[2021-11-10 08:07] iherman commented on #762
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2021-10-27-vcwg#section2-6) on 2021-10-27

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 2.6. Can a credentialSubject be only a string value? (issue vc-data-model#762)

_See github issue [vc-data-model#762](https://github.com/w3c/vc-data-model/issues/762)._

**Kyle Den

[2021-11-10 08:07] iherman commented on #792
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2021-10-27-vcwg#section2-3) on 2021-10-27

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 2.3. V1 specification doesn't definitively state that the credentialSubject.id, if specified, is always the id of the Subject of the Credential (issue vc-data-model#792)

_See githu

[2021-11-10 08:07] iherman commented on #798
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2021-10-27-vcwg#section2-4) on 2021-10-27

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 2.4. Clarify the difference between Credential and Verifiable Credential (issue vc-data-model#798)

_See github issue [vc-data-model#798](https://github.com/w3c/vc-data-model/issues

[2021-11-10 08:07] iherman commented on #809
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2021-10-27-vcwg#section2-12) on 2021-10-27

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 2.12. JWT encoding (issue vc-data-model#809)

_See github issue [vc-data-model#809](https://github.com/w3c/vc-data-model/issues/809)._

**Manu Sporny:** but these changes look a ti

[2021-11-10 08:07] iherman commented on #811
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2021-10-27-vcwg#section2-7) on 2021-10-27

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 2.7. Remove proof property from most examples (issue vc-data-model#811)

_See github issue [vc-data-model#811](https://github.com/w3c/vc-data-model/issues/811)._

**Manu Sporny:** s

[2021-11-10 08:07] iherman commented on #812
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2021-10-27-vcwg#section2-11) on 2021-10-27

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 2.11. Clarify schema (issue vc-data-model#812)

_See github issue [vc-data-model#812](https://github.com/w3c/vc-data-model/issues/812)._

**Brent Zundel:** David says here in the t

[2021-11-10 08:07] iherman commented on #813
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2021-10-27-vcwg#section2-8) on 2021-10-27

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 2.8. [VC-DATA-MODEL] This recommendation has no stated purpose, goals, or intended audience statements. (issue vc-data-model#813)

_See github issue [vc-data-model#813](https://gith

[2021-11-10 08:07] iherman commented on #815
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2021-10-27-vcwg#section2-9) on 2021-10-27

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 2.9. VC-DATA-MODEL: adding more examples of non json-ld credentials (issue vc-data-model#815)

_See github issue [vc-data-model#815](https://github.com/w3c/vc-data-model/issues/815)

[2021-11-10 13:59] msporny opened #832 "No normative statement wrt. JWT encoding of `verifiableCredential` as base64url"
Example 31 in the specification currently presumes base64url-encoding when embedding VCs in JWT-encoded VPs:

https://w3c.github.io/vc-data-model/#example-31-jwt-payload-of-a-jwt-based-verifiable-presentation-non-normative

There is no normative specification language related to this particular transformation to/from base64url.

[2021-11-10 15:16] David-Chadwick commented on #832
@msporny This is not needed because it is part of the JWT specification in RFC 7519. So any VC that is proofed using a JWT is automatically base64URL encoded. Perhaps all that is needed is a reference to RFC 7519. This can be an editorial addition to v1.1. Can you label this issue accordingly please

[2021-11-10 15:39] msporny commented on #832
This issue is about adding normative language to the specification to make it clear that `verifiableCredential`, when encoded in a JWT, MUST be transformed into a base64url encoded value. It is also about adding normative language to the specification that states that when transforming from a JWT, that the `verifiableCredential` value MUST be transformed from the base64url value back into the data

[2021-11-10 15:55] msporny opened #833 "Add valid proof and JWT examples throughout specification"
There are a number of examples in the specification that would benefit from having fully signed versions of those examples. PR #817 attempts to remove the `proof` field from the specification. My suggestion is that we go the other way, provide different "tabs" that show the raw credential, the verifiable credential (using the `proof` field), and the verifiable credential (as a JWT).

I have create

[2021-11-10 16:52] msporny commented on #721
@davidlehn please optimize all of the SVG diagrams and commit them.

The WG will then describe all the SVG images using the `details` element in the HTML to make all the images accessible.

[2021-11-10 16:59] msporny commented on #732
We need to redirect https://www.w3.org/2018/credentials/ to go to https://w3c.github.io/vc-data-model/vocab/credentials.html

[2021-11-10 17:20] David-Chadwick commented on #832
I dont think this is necessary. The specification can say that JWTs are encoded according to RFC 7519, which is already a normative reference in the data model specification.

[2021-11-10 17:25] iherman commented on #209
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2021-11-10-vcwg#section5-1) on 2021-11-10

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 5.1. Does pseudo-anonymity require the issuer to cooperate? (issue vc-data-model#209)

_See github issue [vc-data-model#209](https://github.com/w3c/vc-data-model/issues/209)._

_See

[2021-11-10 17:25] iherman commented on #721
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2021-11-10-vcwg#section5-2) on 2021-11-10

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 5.2. Optimized SVG diagrams (issue vc-data-model#721)

_See github issue [vc-data-model#721](https://github.com/w3c/vc-data-model/issues/721)._

**Brent Zundel:** this has been part

[2021-11-10 17:25] iherman commented on #732
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2021-11-10-vcwg#section5-3) on 2021-11-10

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 5.3. 4.1 Link to going anywhere that makes sense (issue vc-data-model#732)

_See github issue [vc-data-model#732](https://github.com/w3c/vc-data-model/issues/732)._

**Manu Sporny:*

[2021-11-10 20:58] chaals commented on #721
The images that I worked from were far larger in code size than the resulting images I produced. If your goal is merely to optimise for size, then you're working with the wrong tools from the get-go. Adding a decent layer of accessibility to the base that I got to is not going to make it anywhere near the size that I started working with.

You can also optimise, per spec, by compressing with gzip.

[2021-11-10 22:05] TallTed commented on #833
Any reason not to title the tabs the same as your headings here, i.e., "Raw Credential", "Verifiable Credential (with proof field)", and "Verifiable Credential (as JWT)" (instead of "Unsigned", "Signed (proof)", and "Signed (JWT)")?  (If these labels are too wide, "Verifiable Credential" could probably be abbreviated as "VC".)

It seems that if those are clearer as img labels here, they will conti

[2021-11-10 22:22] msporny commented on #833
Ok, I will rename to:

* Credential
* Verifiable Credential (with proof field)
* Verifiable Credential (as JWT)

I think we have enough space at the top of the example box for that.

[2021-11-14 17:15] msporny opened #836 "Determine if JWT pre-signed intermediate-mode output should be in every example in the specification."
@David-Chadwick wrote:

[2021-11-16 16:33] cjbuchanan commented on #831
@agropper

What's the use of all this linked data if we can't see it?  This is the World Wide Web Consortium.  [We make webs](https://www.w3.org/Consortium/mission#:~:text=W3C%20Mission%201%20Open%20Standards%20Principles.%20On%2029,principles%20guide%20W3C%27s%20work.%20...%203%20Vision.%20) for the entire world!  A web has to be complicated enough that people stop asking how it works and just ge

[2021-11-16 21:42] brentzundel commented on #727
no comments since being marked pending close, closing

[2021-11-16 21:42] #727 closed

[2021-11-16 23:01] TallTed opened #837 "past commits somehow being misplaced/undone"
_Originally posted by @msporny in https://github.com/w3c/vc-data-model/issues/835#issuecomment-970737539_

[2021-11-17 02:46] kdenhartog commented on #837
I'll take a look at this one and report back my findings on this. It might have to happen this weekend depending on time available for the rest of the week.

From memory, these two areas were issues that commonly encountered the merge conflicts and could have been the case when we were rebasing things back together that we picked the wrong commit to accept.

For this commit https://github.com/w3c/

[2021-11-17 18:37] agropper commented on #831
Let’s start with a slide by @cjbuchanan  on p193 of [Proceedings of the 31st Internet Identity Workshop](https://github.com/windley/IIW_homepage/raw/gh-pages/assets/proceedings/IIW_31_Book_of_Proceedings_1.pdf). Transcribed as:

Standards-based digital credentials make surveillance vastly more efficient for all parties acting as service providers:
- **Issuers** participate when verifiers “call hom

[2021-11-17 20:54] msporny opened #838 "Fix the JWT encoding in the examples"
The JWT encoding in the examples in PRs #834 #835 are currently incorrect. Fix the JWT encoding to align with the examples.

[2021-11-18 16:54] kayaelle commented on #831
The IMS Global Comprehensive Learner Record (CLR) standard has something like this to associate achievements to each other but being able to associate assertions/credentials like this would be useful. This is the reference for the CLR achievements association:

https://www.imsglobal.org/sites/default/files/spec/clr/v1p0/InfoModel/clr_InfoModel.html#Data_Association

[2021-11-18 16:57] dmitrizagidulin commented on #831
@kayaelle - Thanks!

[2021-11-18 19:13] kdenhartog commented on #733
This issue was originally addressed via #806 and #807 and then due to the way in which we were handling branching, the easiest solution for getting both PRs through was to take the commits from #807 and add them to the PR on #806. The following commit in #806 that brought it in can be found here: https://github.com/w3c/vc-data-model/pull/806/commits/8bdafc118bd810860fb478dceeebd4daebbc091d

I beli

[2021-11-18 19:13] #733 closed

[2021-11-18 19:22] kdenhartog commented on #812
Adding the Editorial label here so that it properly gets detected as an editorial errata by the errata file

[2021-11-20 16:01] David-Chadwick opened #839 "PresentationSchema for VPs"
The current specification does not address the schema of verifiable presentations, but each VP will have a schema, and different organisations, or protocol specifications, may require different parameters to be inserted into VPs e.g. nonces. I therefore think it would be a good idea to define the presentationSchema property in the v2 DM, with a similar definition to credentialSchema, in order to a

[2021-11-22 05:02] kdenhartog commented on #837
Hey update on this. I didn't get time over the weekend to work on this but didn't forget about it. Hopefully I'll be able to get to it this week to close it out.

[2021-11-23 03:52] kdenhartog commented on #837
From my investigations into this, [line 723 in index.html](https://github.com/w3c/vc-data-model/blob/e77940a0309cc43a1b198fc3e0769c449c25f796/index.html#L720) wasn't ever actually updated in #785. Instead it looks like this was a second instance of the same issue that we didn't manage to get updated at the same time.

It appears that #785 and #786 are correctly on V1.1 as well which is now our mai

[2021-11-23 04:06] TallTed commented on #837
Thank you for doing that deep dive, @kdenhartog.  I will rely on your demonstrated eye for detail and accept that all PRs that ought now to be in the current branches, now are.

[2021-11-23 14:43] msporny commented on #837
Thank you for the excellent sleuthing, @kdenhartog -- very much appreciated. :)

Looks like we should focus on PR #841 to put this issue to rest.

[2021-11-24 11:21] tc-developer01 opened #842 "Best way to stay updated about changes in the specs?"
Hello there,

is there something like a newsletter you can subscribe to to keep up to date with changes in the specs (including the others like did-core)?
I've wondered if there is a more efficient way to just compare the git diffs from time to time.

I'm very thankful for any resources you can guide me to regarding this topic (staying up to date).

Thank you!

[2021-11-24 16:02] OR13 opened #843 "Remove `@version` from v2 context"
https://community.neo4j.com/t/could-not-parse-jsonld-error-when-importing-a-json-ld-file/46792/4

requiring JSON-LD v1.1 seems to be constraining the useful tools that can be leveraged with verifiable credentials.

[2021-11-24 17:29] dmitrizagidulin commented on #843
+1, the `@version` property should go.

[2021-11-24 21:08] Sakurann opened #844 "Definition of issuanceDate property (and its mapping to JWT claims)"
JWTs use `iat` for the issuance time, not `nbf`.

If `nbf` was chosen because `issuanceDate` definition is "the date and time the credential becomes valid, which could be a date and time in the future", then I suggest renaming `issuanceDate` to `notBeforeDate` or something.

Right now there is a discrepancy between the usage of `nbf` and the naming `issuanceDate`.

[2021-11-24 21:34] Sakurann opened #845 "clarify that `vc` `vp` claims do not include entire VC/VPs"
`vc` and `vp` claims in the JWT encoding include only the properties such as `@context`, `credentialSubject` that do not have equivalent IANA registered JWT claims such as `expirationDate`, `id`, etc.

`vc` and `vp` claims do not include **entire** VC/VPs, which is not clear from the description below.

Suggest to clarify the description to something like following (happy to do a PR):

[2021-11-24 21:35] dlongley commented on #844
There are `validFrom` and `validUntil` properties that were discussed near the end of the version 1 work that didn't make the cut. Those will be considered in the next version and would provide better mappings to JWT.

There are notes on these properties in these sections in version 1:

https://w3c.github.io/vc-data-model/#issuance-date
https://w3c.github.io/vc-data-model/#expiration

[2021-11-24 21:55] Sakurann commented on #844
If properties other than `issuanceDate` are being considered to express "the date and time the credential becomes valid", I would suggest changing the definition of `issuanceDate` to be "the date when the credential was issued" and use `iat` claim in JWT encoding.

[2021-11-25 10:09] David-Chadwick commented on #845
@Sakurann Unfortunately your initial assertion was not fully supported by the v1 specification, because the spec says "For backward compatibility with JWT processors, the following registered JWT claim names MUST be used instead of, or in addition to, their respective standard verifiable credential counterparts: " I initially tried to remove "in addition to" from v1.1 (which is effectively what yo

[2021-11-27 00:00] dmitrizagidulin commented on #831
I updated the proposal to include a `canonicalizationAlgorithm` property, in the `anchoredResource` section.
This optional property means "the content was processed with the following canonicalization algorithm (such as [JCS](https://datatracker.ietf.org/doc/html/rfc8785)) before being hashed".

[2021-11-29 18:15] OR13 commented on #762
the current spec is ambiguous regarding this, i believe it should be updated to state:

[code]

I believe the current spec also allows for multiple subjects, implying `vc.crentialSubject: String | Object (with id) | Array<String | Object (with id)>`... this case should be forbidden, unless there is a really good reason for allowing it.

[2021-11-29 22:13] OR13 opened #846 "Include a regex for XML Date Time in the next version of the standard."
If we can't agree to relax XML Data Time to the broader category or ISO 8601 date times, we should include a regex that defines the allows string representations, and we should document all known issues with string representations of date times in the spec, so that implementers don't have to guess about "leap seconds" or other time related issues.

[2021-11-29 22:24] OR13 commented on #845
Agree with @David-Chadwick ... However, if this issue is targeted at v2, we can start to argue over breaking changes...

If we take the "instead of" path... We must define a lossy conversion process between the VC Data Model and JWT representations, and it must account for 100% of the VC Data Model features in v2.

If we take the "in addition too" path, we must define a non lossy conversion proces

[2021-11-29 22:32] OR13 commented on #844
I am very strongly in favor of v2 using `validFrom` and `validUntil`... and getting rid of the ambiguous "issuanceDate" and "expirationDate".

How these values might be mapped to JWT or JWP or LD Proofs is a separate concern from the normative definition in the v2 spec.

This issue title is imo not correct, it would be better to call it "Rename issuanceDate and expirationDate in v2"

And a separat

[2021-11-29 22:32] OR13 commented on #842
@tc-developer01 https://lists.w3.org/Archives/Public/public-credentials/ and subscribe to this repo.

[2021-11-29 22:33] OR13 commented on #839
I propose we define a schema for VPs in JSON Schema, and that v2 reflect that schema in normative language.

[2021-11-29 23:04] dmitrizagidulin commented on #839
+1 to a json schema. but what repo should it live in?

[2021-11-30 01:15] OR13 commented on #839
IMO the schema should be in the same repo with the normative statements that it is built from.

[2021-11-30 09:31] David-Chadwick commented on #839
There are two sets of schema that are needed for operational systems.
1. The presentationSchema definition for the VP, which should be defined in the v2 data model (in the same way that the credentialSchema definition is published in the v1 data model)
2. Instances of presentationSchemas for different use cases that wallets will conform to. These will be published in the same places that eco-syste

[2021-12-01 06:59] peacekeeper commented on #843
Yes there are existing tools and libraries that don't support JSON-LD 1.1, e.g. https://github.com/jsonld-java/jsonld-java.

[2021-12-01 20:42] msporny commented on #836
@David-Chadwick would like to have a comment in the example to the effect of "Note: all of these examples are using "in addition to"

[2021-12-01 20:59] brentzundel commented on #732
this has been addressed, closing

[2021-12-01 20:59] #732 closed

[2021-12-01 21:00] kdenhartog-mattr commented on #732
It appears the link is now working - https://www.w3.org/2018/credentials/

Thanks for raising @vongohren and thanks for fixing @iherman

[2021-12-01 22:06] David-Chadwick commented on #781
I have written a (rather wordy) tutorial document describing the differences between the type, @context and credentialSchema properties. It is too long for a PR, but it could form the basis for a PR. Currently it is a word processing document 1.5 pages long
[VCpropertyDescriptions.docx](https://github.com/w3c/vc-data-model/files/7637414/VCpropertyDescriptions.docx)
Let me know what you think

[2021-12-02 09:50] iherman commented on #209
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2021-12-01-vcwg#section4-5) on 2021-12-01

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 4.5. Does pseudo-anonymity require the issuer to cooperate? (issue vc-data-model#209)

_See github issue [vc-data-model#209](https://github.com/w3c/vc-data-model/issues/209)._

_See

[2021-12-02 09:50] iherman commented on #732
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2021-12-01-vcwg#section4-6) on 2021-12-01

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 4.6. 4.1 Link to going anywhere that makes sense (issue vc-data-model#732)

_See github issue [vc-data-model#732](https://github.com/w3c/vc-data-model/issues/732)._

**Kyle Den Hart

[2021-12-02 09:50] iherman commented on #734
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2021-12-01-vcwg#section4-1) on 2021-12-01

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 4.1. Have fields for locale-specific information (names, addresses, etc.) been checked? (issue vc-data-model#734)

_See github issue [vc-data-model#734](https://github.com/w3c/vc-da

[2021-12-02 09:50] iherman commented on #751
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2021-12-01-vcwg#section4-3) on 2021-12-01

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 4.3. Cover "authenticatability" of credential (issue vc-data-model#751)

_See github issue [vc-data-model#751](https://github.com/w3c/vc-data-model/issues/751)._

**Manu Sporny:** i

[2021-12-02 09:50] iherman commented on #781
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2021-12-01-vcwg#section4-2) on 2021-12-01

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 4.2. Add details about difference between contexts and credentialSchemas property  (issue vc-data-model#781)

_See github issue [vc-data-model#781](https://github.com/w3c/vc-data-mo

[2021-12-02 09:50] iherman commented on #836
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2021-12-01-vcwg#section3-1) on 2021-12-01

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 3.1. Determine if JWT pre-signed intermediate-mode output should be in every example in the specification. (issue vc-data-model#836)

_See github issue [vc-data-model#836](https://g

[2021-12-02 09:50] iherman commented on #837
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2021-12-01-vcwg#section3-2) on 2021-12-01

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 3.2. past commits somehow being misplaced/undone (issue vc-data-model#837)

_See github issue [vc-data-model#837](https://github.com/w3c/vc-data-model/issues/837)._

**Brent Zundel:

[2021-12-02 09:50] iherman commented on #842
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2021-12-01-vcwg#section3-6) on 2021-12-01

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 3.6. Best way to stay updated about changes in the specs? (issue vc-data-model#842)

_See github issue [vc-data-model#842](https://github.com/w3c/vc-data-model/issues/842)._

**Bren

[2021-12-02 09:50] iherman commented on #843
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2021-12-01-vcwg#section3-7) on 2021-12-01

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 3.7. Remove `@version` from v2 context (issue vc-data-model#843)

_See github issue [vc-data-model#843](https://github.com/w3c/vc-data-model/issues/843)._

**Brent Zundel:** This is

[2021-12-02 09:50] iherman commented on #844
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2021-12-01-vcwg#section3-5) on 2021-12-01

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 3.5. use `iat` for the issuance time, or rename `issuanceDate` (issue vc-data-model#844)

_See github issue [vc-data-model#844](https://github.com/w3c/vc-data-model/issues/844)._

*

[2021-12-02 09:50] iherman commented on #845
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2021-12-01-vcwg#section3-4) on 2021-12-01

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 3.4. clarify that `vc` `vp` claims do not include entire VC/VPs (issue vc-data-model#845)

_See github issue [vc-data-model#845](https://github.com/w3c/vc-data-model/issues/845)._

[2021-12-02 09:50] iherman commented on #846
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2021-12-01-vcwg#section3-3) on 2021-12-01

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 3.3. Include a regex for XML Date Time in the next version of the standard. (issue vc-data-model#846)

_See github issue [vc-data-model#846](https://github.com/w3c/vc-data-model/iss

[2021-12-03 20:18] kayaelle commented on #831
Also, another example in related to what I believe @ChristopherA is referencing is endorsements. Open Badges has a concept like this:  [https://www.imsglobal.org/sites/default/files/Badges/OBv2p0Final/index.html#Endorsement](https://www.imsglobal.org/sites/default/files/Badges/OBv2p0Final/index.html#Endorsement)

In 2.0, endorsements can be about OB profiles, badge classes, and assertions. In OBv3

[2021-12-03 20:33] OR13 commented on #846
Related https://us-cert.cisa.gov/sites/default/files/documents/Best_Practices_for_Leap_Second_Event_Occurring_on_31_December_2016_S508C.pdf

[2021-12-03 21:19] OR13 commented on #846
See also: https://en.wikipedia.org/wiki/Year_2038_problem

[2021-12-03 21:44] radhertz commented on #831
A third approach, mentioned above by @oed is leveraging a separate infrastructure to host a VC endorsement, using the hashlinking approach to connect that VC to the particular attributes of an issued VC in the holders wallet.  These we hope to talk about Monday Dec. 6th at @kayaelle's VC-EDU meeting.  I hope many of the people commenting here participate as we need all the help we can get on this.

[2021-12-04 18:51] #209 closed

[2021-12-05 01:39] kdenhartog commented on #837
PR has been addressed in #841 - labelling this as errata and closing

[2021-12-05 01:39] #837 closed

[2021-12-05 01:41] kdenhartog commented on #833
Addressed in PR #834 - adding the errata label and closing

[2021-12-05 01:41] #833 closed

[2021-12-05 20:27] kdenhartog commented on #831
Is there an expectation that many different forms of canonicalization will be necessary to achieve this feature? I know in the past we've allowed for alot of extensibility which has come at the cost of interoperability and so I'm wondering if it's actually valuable for us to allow for this extension path if we're able to achieve the same outcome in either case.

[2021-12-05 20:59] radhertz commented on #831
@dmitrizagidulin Does your method #3, issuing a fit-for-purpose VC that binds DIDs together, require the two dids are both assigned to Alice? This, imagine I have two separate VCs, one associated with Alice's DID and one associated with Bob's DID, The first, Alice's, is an assertion about a skill or competency she has demonstrated. The second is an endorsement VC created by Bob where in he is supp

[2021-12-05 22:35] agropper commented on #831
Isn’t this exactly what notaries do in the world? However we decide to
support or describe notarization we need to be clear about this very common
use case.

On Sun, Dec 5, 2021 at 2:59 PM Phillip Long ***@***.***>
wrote:

[2021-12-06 16:13] bumblefudge commented on #820
NB @solidnerd -- this might help! https://github.com/w3c-ccg/vc-api/issues/245

[2021-12-06 16:17] bumblefudge commented on #820
Issuer-initiated refreshes are... unpopular proposals within the CCG community (slippery slope!) but holder-initiated refreshes and holder-consented custodial refreshes are less controversial.  Verifier-initiated... somewhere in between?

[2021-12-06 16:38] msporny commented on #820
@solidnerd -- this (just released) might also help: https://digitalbazaar.github.io/vc-refresh-2021/

[2021-12-06 18:39] Sakurann opened #848 "clarify what an "appropriate VC/VP" is"
[Section 4.3 Types](https://www.w3.org/TR/vc-data-model/#types) states that type information is used "to determine whether or not a provided verifiable credential or verifiable presentation is appropriate."

Could you please clarify concrete elements that constitute "appropriate VC/VP" and how they can be verified? I imagine certain claim sets, crypto suites, etc. would make a VC/VP "appropriate"

[2021-12-07 15:37] TalentedSunday commented on #738
Hi @llorllale , please were you able to get in contact with the author of the Aries spec that @David-Chadwick mentioned is the one to ask?

[2021-12-07 20:50] brentzundel commented on #837
I'm not sure it is appropriate to label this issue as `errata`. The intention of that label is to indicate that the issue describes an error found in the v1.0 data model recommendation. Is that the case here?

[2021-12-07 21:31] msporny commented on #837
Removed Errata label -- mainly because the issue title is misleading -- we don't want something saying "past commits somehow being misplaced/undone" to show up in the errata document because, it turned out to not be true.

This is a judgement call, but given that the issue was editorial in nature and had to do with fonts and readability, I don't think we need to list it in an errata document that'

[2021-12-07 22:10] brentzundel commented on #837
The bad color text issue was #777 and is already in the errata list.

On Tue, Dec 7, 2021 at 2:31 PM Manu Sporny ***@***.***> wrote:

[2021-12-07 23:07] brentzundel commented on #842
no comments since marked pending close, closing.

[2021-12-07 23:07] #842 closed

[2021-12-08 02:18] kdenhartog commented on #837
👍 I think that assessment makes sense @msporny. I went the opposite direction just because I was hoping to make sure people were aware of this change having happened. Since this is really part 2 of the #777 issue as @brentzundel points out I can still achieve that by just linking to this issue and the PR in issue #777 and then we don't need the label here and everything is still findable.

[2021-12-08 02:20] kdenhartog commented on #777
A second part of this issue was discovered after we addressed the first part. The details of the investigation and the PR can be found in issue #837 and PR #841 adding a comment here since they're directly related to follow up fixes that were meant to be addressed in this issue.

[2021-12-08 15:06] TallTed commented on #837
New issue title here should hopefully clarify matters for future reviewers...

[2021-12-08 16:51] David-Chadwick commented on #848
I suggest appending to the text to say "to determine whether or not a provided verifiable credential or verifiable presentation is appropriate for the application use case"

[2021-12-08 16:52] msporny commented on #721
What is the current status on this, @davidlehn?

[2021-12-08 16:53] msporny commented on #838
This is mostly done. @David-Chadwick requested that we include a comment on the duplication of some of the fields in the JWT. This issue can't be closed until that is fixed. I plan to fix that at some point in the near future.

[2021-12-08 16:54] brentzundel commented on #734
@dmitrizagidulin any movement on this?

[2021-12-08 16:59] msporny commented on #734
There is one example in the spec that doesn't use a good internationalizable format: https://w3c.github.io/vc-data-model/#example-a-credential-issued-to-a-holder-who-is-not-the-only-subject-of-the-credential-who-has-no-relationship-with-the-subject-of-the-credential-but-who-has-a-relationship-with-the-issuer

[2021-12-08 17:13] iherman commented on #734
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2021-12-08-vcwg#section4-3) on 2021-12-08

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 4.3. Have fields for locale-specific information (names, addresses, etc.) been checked? (issue vc-data-model#734)

_See github issue [vc-data-model#734](https://github.com/w3c/vc-da

[2021-12-08 17:13] iherman commented on #721
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2021-12-08-vcwg#section4-1) on 2021-12-08

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 4.1. Optimized SVG diagrams (issue vc-data-model#721)

_See github issue [vc-data-model#721](https://github.com/w3c/vc-data-model/issues/721)._

**Manu Sporny:** I just requested as

[2021-12-08 17:13] iherman commented on #848
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2021-12-08-vcwg#section3-1) on 2021-12-08

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 3.1. clarify what an "appropriate VC/VP" is (issue vc-data-model#848)

_See github issue [vc-data-model#848](https://github.com/w3c/vc-data-model/issues/848)._

**Brent Zundel:** Cl

[2021-12-08 17:43] chaals commented on #721
@davidlehn I'd like to know where this is at. I am happy to spend a bit more time on some of these images at the end of the year.

[2021-12-08 20:48] aphillips commented on #734
@msporny Thanks. We know you're not responsible for external standards. Generally, we prefer that examples that don't draw on some specific external standard (i.e. invented values) not exemplify I18N anti-patterns. Personal names are a complex topic, as are postal addresses. Where you're drawing on schema.org's work, I'm sure we're fine.

Also, I did a quick scroll through your examples and don't

[2021-12-09 02:07] davidlehn commented on #721
It looks like the base size of the diagrams has gone down since this issue was opened.  The files are now 1062712 bytes.

SVGO has lots of options.  The default removes `desc` and `title`.  I'm unsure if that effects any user agents that might display that data?  Those were added for a reason I assume.  Disabling those plugins adds back another 2k or so.  Keeping newlines and a single space indent

[2021-12-09 13:48] msporny commented on #721
We use Google Draw to generate the SVG diagrams.

Yeah, seems like it's not worth it.

@chaals, this, coupled with the fact that we moved descriptions out into the spec, I think we're done here. Please let us know if you disagree.

I'm marking this with a "pending 7 day close" tag. We'll close this unless there are objections.

[2021-12-10 09:50] chaals commented on #721
The SVGs that have title and desc are ones I have regenerated - they are essentially re-written by hand (but I can easily re-use pieces, once I have made them). That **significantly** reduces the size (and incidentally increases the benefits of compression).

When I have time later in the month I will happily do this for the images I haven't yet worked on.

I'll look at the doc over the next few d

[2021-12-10 12:17] iherman commented on #721
If you use svgo: be careful that, by default, it removes metadata, title, or desc.

[2021-12-10 13:00] chaals commented on #721
@iherman warned...

Yup. @davidlehn is also aware of that, so I think we're good. And on the stuff I do by hand, it's very clean anyway (I'll wear gloves, just to be sure ;) ).

[2021-12-10 14:55] msporny commented on #721
Just to make sure you don't end up doing a bunch of work that we then (accidentally) overwrite... We generate the SVGs from Google Draw. Every now and then, we go in to modify images and re-generate those images from Google Draw... if anyone does that, we destroy your hand-optimized versions (thus, accidentally destroying the work you've done). I don't think anyone in our group knows how to effect

[2021-12-14 20:45] solidnerd commented on #820
Hey @msporny @bumblefudge thanks for pinning me. I'll reread through all your provided information and coming back with questions.

[2021-12-16 17:02] OR13 opened #852 "Update github link to use TR instead of github.io"
![Screen Shot 2021-12-16 at 11 02 34 AM](https://user-images.githubusercontent.com/8295856/146416040-96bdbcf2-2584-4356-a99b-2a774c911e27.png)

[2021-12-17 13:43] bellebaum opened #853 "Looser restrictions on the JOSE header `typ`"
[Section 5.1 of RFC 7519](https://datatracker.ietf.org/doc/html/rfc7519#section-5.1) states that using a `typ` header claim with a value of `JWT` is RECOMMENDED.
This has allowed other specifications to use other media types for JWTs fulfilling a more specific purpose.
For example, [RFC 9068](https://datatracker.ietf.org/doc/html/rfc9068/#section-2.1) defines a media type of `at+jwt` SHOULD be use

[2021-12-21 10:20] csarven commented on #852
As far as I can tell, https://w3c.github.io/vc-data-model/ is used as the ED. https://www.w3.org/TR/vc-data-model/ refers to it as the ED as well.

Please correct me if I'm wrong: as far I know, W3C doesn't include EDs under `https://www.w3.org/TR/` - only W3C "published" documents as per Process.

Is there something in the works that wil incorporate EDs under w3.org TR/ ?

[2021-12-21 10:29] csarven commented on #852
On second read.. I suppose you meant to refer to REC as opposed to ED.

[2022-01-07 10:19] David-Chadwick opened #856 "Support for multiple signatures"
This is a v2 issue. We should document how we can add multiple signatures to credentials and presentations using both external and internal proofs. (The v1.1 spec for JWT uses the compact serialisation, whereas multiple proofs require the JSON serialisation)

[2022-01-11 09:39] jaroslavsaxa opened #858 "Missing Referenced ld-proofs : https://w3c-ccg.github.io/ld-proofs/"

[2022-01-11 23:21] kdenhartog commented on #853
Opting to mark this as a V2.0 issue since it would be a normative change and we're past the window of making normative changes in the maintenance group. I'd expect this will still be addressed, but likely not right away and discussion can continue on it in the mean time.

[2022-01-11 23:27] kdenhartog commented on #852
Removing the labels because I realized this has nothing to do with the spec and is about the link in this repo. Normally we've referenced the ED in that link, but I'm good with referencing the official REC version there instead. @iherman is the only one who can do that from what I know about the GH permissions at the moment.

[2022-01-12 00:56] brentzundel commented on #721
Closing per: https://github.com/w3c/vc-data-model/pull/851#issuecomment-1002270554

[2022-01-12 00:56] #721 closed

[2022-01-12 10:42] iherman commented on #852
Thanks @kdenhartog; I must admit I did not understand the issue at first. I have changed the repo and it now points at the Rec:

![Screen Shot 2022-01-12 at 11 41 51](https://user-images.githubusercontent.com/520723/149125261-9242aa55-3d53-4f51-9ff3-8ee01c529ece.png)

[2022-01-12 10:42] #852 closed

[2022-01-12 20:55] jandrieu opened #860 "Determine interoperable way for Holder to make claims directly in VPs"
VPs include a "verifiableCredential" for embedding VCs in the VP.

It's also possible to add properties to the VP that can represent claims made by the holder about the claims presented, thanks to the open world data model.

For example, in the VC Use Cases,  [5.1 Citizenship by Parentage
](https://www.w3.org/TR/vc-use-cases/#citizenship-by-parentage) the holder claims that he is the person born i

[2022-01-15 15:35] msporny commented on #838
This was done in ab187908ea6abdd61aedccc0d9cb16c0cfcf5785 as a purely editorial point release upgrade to respec-vc v1.0.1, which includes the statement that @David-Chadwick asked for. This issue is resolved.

[2022-01-15 15:35] #838 closed

[2022-01-15 15:36] msporny commented on #836
This was done in ab187908ea6abdd61aedccc0d9cb16c0cfcf5785 as a purely editorial point release upgrade to respec-vc v1.0.1, which includes the statement that @David-Chadwick asked for. This issue is resolved.

[2022-01-15 15:36] #836 closed

[2022-01-17 07:49] picardcapt1212 opened #861 "Is there a solution of zero knowledge proof for secp256k1 curve?"
Hi, I have a question about zero knowledge proof(below i will refer as zkp).

I made my own custom VC/VP and now I am looking for methods to secure personal information in verifiable credentials using ZKP or Selective Disclosure.

What I found is using CL signature, BLS signature and Bullet Proof. I runned the test code I found and made a conclusion below.

(CL Signature)
I knew hyperledger indy w

[2022-01-18 14:31] peacekeeper commented on #762
I think it would be slightly preferable to stick with only object, i.e. not allow string. If we allow string, then I believe that string would have to be an IRI (because of the JSON-LD context). And because of that, it might be easier to understand if we have an object with an "id" property, as shown in https://github.com/w3c/vc-data-model/issues/762#issuecomment-906201414.

[2022-01-18 15:23] mwherman2000 commented on #762
A credentialSubject is really two parts: an optional id plus one or more claims. It's best not to conflate the two very separate concepts or reduce them to a single value.

[2022-01-19 22:35] mwherman2000 commented on #762
A better answer is: the end solution (where/how to use a single DID Identifier string as the value of a credentialSubject attribute) needs IMO to be symmetric/compatible with the syntax used to embed an entire child VC as the value (or subproperty) of a credentialSubject.
The latter is a requirement for some of my use cases.. I don't know what the solution is (yet).

[2022-01-19 22:58] brentzundel opened #862 "[Tracking Issue - Proposed Corrections Feedback] URL to URI"
@jyasskin I've raised this issue to track the WG response to the feedback you provided above and to provide a place where we might engage in a conversation as we explore possible responses.

From [feedback on VC Data Model v1.1](https://lists.w3.org/Archives/Public/public-new-work/2022Jan/0002.html)
[code]

The WG also experienced some frustration in attempting to package the proposed corrections

[2022-01-19 23:01] brentzundel opened #863 "ZKP Section Normative Changes"
@jyasskin I've raised this issue to track the WG response to the feedback you provided on the corrections to the ZKP Section and to provide a place where we might engage in a conversation as we explore possible responses.

From [feedback on VC Data Model v1.1](https://lists.w3.org/Archives/Public/public-new-work/2022Jan/0002.html)
[code]

The WG also experienced some frustration in attempting to p

[2022-01-19 23:53] jyasskin commented on #862
Thanks! @dlongley's comment in https://github.com/w3c/vc-data-model/pull/819#issuecomment-920144413 seems to match my concern here, and provide a plausible fix by adding

I think "via some other field value" would re-introduce a similar concern around how implementations could figure out what other field value to retrieve.

[2022-01-20 00:08] jyasskin commented on #863
Thanks! Looking at the issue and PR, I suspect there's no way to resolve this concern short of actually specifying the allowed ZKP methods and where they put their data, which y'all have I-think-rightly allocated to the VC2.0 work. Note that this wasn't a [Formal Objection](https://www.w3.org/2021/Process-20211102/#WGArchiveMinorityViews), so if the WG thinks it's worth ignoring until 2.0, you don

[2022-01-25 21:59] OR13 commented on #753
My primary references for using `@vocab` come from [schema.org](https://schema.org/) and [Google Knowledge Graph Search API](https://developers.google.com/knowledge-graph).

I would be interested to gather additional feedback in favor of or against a default vocab for the v2 context.

I think adding one would improve relations between JSON-LD and JSON developers.

[2022-01-26 00:20] chaals opened #865 "Make images consistent"
There are some stylistic differences across images - would be good to make them more consistent:

- center all content in the top level containers
- have consistent content border sizes in all the images
- center content within containing shapes
- align text across shapes
- align other center lines and similar
- make arrows flush on either side with source and targets
- use consistent positioning

[2022-01-26 00:21] chaals commented on #865
(If someone assigns this to me, that would be useful)

[2022-01-26 04:24] #858 closed

[2022-01-26 21:28] kdenhartog commented on #862
Added the errata label to track this in the [errata document](https://w3c.github.io/vc-data-model/errata.html). I think it could just as well be removed based on the tracking of the additional linked issues and PRs as well. @brentzundel feel free to remove it if you think it's not needed.

[2022-01-26 22:16] brentzundel commented on #862
Might as well track it, thanks Kyle.

[2022-01-27 07:40] iherman commented on #862
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-01-26-vcwg#section4-2) on 2022-01-26

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 4.2. [Tracking Issue - Proposed Corrections Feedback] URL to URI (issue vc-data-model#862)

_See github issue [vc-data-model#862](https://github.com/w3c/vc-data-model/issues/862)._

[2022-01-27 07:40] iherman commented on #863
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-01-26-vcwg#section4-1) on 2022-01-26

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 4.1. [Tracking Issue - Proposed Corrections Feedback] ZKP Section Normative Changes (issue vc-data-model#863)

_See github issue [vc-data-model#863](https://github.com/w3c/vc-data-m

[2022-01-27 11:55] alenhorvat commented on #844
There are use cases that require three properties
- issuanceDate (iat)
- validFrom (nbf)
- expirationDate/validUntil (exp)

Renaming issuance date and expiration date won't cover the use-cases

Cases (all are valid)

1. nbf < iat <= current time
2. nfb = iat <= current time
3. iat <= current time < nbf

[2022-01-27 12:05] alenhorvat commented on #820
Concern with
_The holder or verifier can request the refresh service to start to get a new credential_

In addition, now holder needs to "communicate to the issuer" that a given "verifier" is authorised/mandated for the use of the refresh service to "refresh a VC"; furthermore, when the user would exercise a "right to be forgotten" with the "verifier" she would need to communicate this also to the

[2022-01-27 12:43] VladimirAlexiev commented on #843
In contrast, the EPCIS contexts (https://github.com/gs1/EPCIS/blob/master/epcis-context-simple.jsonld or https://github.com/gs1/EPCIS/blob/master/epcis-context.jsonld) use `"@version": 1.1` features.

Most of all scoped (local) contexts for things like:
- `sensorReport.type` is resolved to URL `epcis:measurementType`, and its values (eg "Temperature") are resolved in the `https://gs1.org/voc/` nam

[2022-01-27 13:19] VladimirAlexiev commented on #753
@OR13 The problem with casting mistyped terms `foo` to `https://www.w3.org/2018/credentials/undefinedTerm#foo` is that it doesn't cause a processor error: you need someone to click on that URL and go read there.

We want processors to automatically throw errors. Here's a very hacky way:
[code]
This will resolve mistyped terms to `https://www.w3.org/2018/credentials#undefinedTerm#foo`, which is inv

[2022-01-27 14:11] msporny commented on #820
Yeah, verifier initiated refreshes are very much frowned upon. Anything that takes the Holder (really, the subject) out of the loop are frowned upon. OIDC, as deployed, often takes the holder out of the loop making communication directly issuer->verifier, which is again, frowned upon when we're talking about giving the holder/subject more agency than typically exists in OIDC.

Note that there is n

[2022-01-27 14:13] OR13 commented on #753
[code]

I'm not sure this is correct.... we know something about the term... we know the issuer was trying to make a VC or a VP.... and was not a JSON-LD expert... they might never care to fix the issue, or they might wait until a big data customer demands they stop being lazy... in either case, I think we should attempt to preserve as much of their (issuer's) intent as we can.

I think JSON-LD is

[2022-01-27 14:22] OR13 commented on #843
@VladimirAlexiev I am not suggesting nobody use `@version 1.1` :)

I am suggesting that the base v2 context not use it.. and let EPCIS or trace or schema.org decide if they need version 1.1 or not.

The v1 context have a lot fo defintions that that the v2 context will likely not have.

The only ones that I think will be staying are:

[code]

If we can refactor these to NOT need 1.1 features or `@v

[2022-01-27 16:31] mcr opened #867 "example.edu is not a reserved name"
Neither https://www.iana.org/domains/reserved, https://www.rfc-editor.org/rfc/rfc2606.html nor https://www.rfc-editor.org/rfc/rfc6761.html
reserve "example.edu".  Please don't squat.
You can use, "edu.example", or "university.example" ....

[2022-01-27 17:01] OR13 commented on #753
Actually you can, if they choose to not define the term properly in JSON-LD... Their intention was to define its semantics without JSON-LD.

Have you used javascript lately? ; )

This is not what we are talking about here, please don't expand this thread to topics beyond including or excluding an `@vocab`.

At the core this this issue is the "Abstract Data Model" of "Verifiable Credentials"... and

[2022-01-27 18:20] tplooker commented on #753
Yes but that continues to be the point, making this a blocking concern up front just means people either

1. give up trying to define semantics and therefore using the JSON-LD VC format
2. do it badly
3. OR (and in my experience its a smaller minority) get it right

Pushing for all of the education around JSON-LD to be critical path to just getting started with VC's will damage its adoption as tec

[2022-01-27 18:55] dlongley commented on #753
While I do find some of the arguments around usability compelling, I remain concerned around subtle vulnerabilities or threats that haven't been adequately discussed. For example, suppose:

Credential Type A uses the undefined term "foo" (which falls back to a globally unambiguous value using `@vocab`).

Credential Type B uses the undefined term "foo" (which falls back to a globally unambiguous va

[2022-01-27 19:04] dlongley commented on #753
@VladimirAlexiev,

Btw, work is being done in the jsonld.js JavaScript JSON-LD processor to provide an option to throw errors in all cases where terms are not fully defined. DB's plan is to make all of our Data Integrity Proof (formerly LD Proofs) code always run with that option turned on. This isn't a spec level change (to JSON-LD), but it could be in the future.

[2022-01-27 19:10] dlongley commented on #753
VCs are operating in a space where we both want to enable security and authenticity -- but also open world flexibility and decentralization. The reason VCs had to be invented, IMO, is because other technologies that are close to the space have always fallen into one end of the spectrum or the other and neither is suitable for use in the main area of use cases that lie between. We're trying to [dis

[2022-01-27 20:04] tplooker commented on #753
IMO the semantics of `undefined term` as a fall back via `@vocab` should discourage equivalence being drawn between the meaning of the term in credential type A vs credential type B, some of this could easily be facilitated via the technology through awareness of this "special" IRI.

Another point I would make is that because `@vocab` is a thing in JSON-LD, it is already being used un-wittingly by

[2022-01-27 20:10] tplooker commented on #753
To be clear I'm in favour of a proposal that both incorporates both a default vocab in the VC context and normative guidance around implementations throwing warnings when `@vocab` is being used to expand a term during signing.

[2022-01-27 20:11] tplooker commented on #753
Implementations could then elect to have stricter processing rules like throw an error instead of just a warning.

[2022-01-27 20:17] mprorock commented on #753
I am in agreement with this approach and think it is extremely sane

[2022-01-27 20:28] TallTed commented on #820
Please don't re-blur that line.

The Subject has no control over the VCs of which they are Subject, and may not even know those VCs exist, *unless* they happen to also be the Holder.

The Issuer, Holder, and Verifier each have (different) controls over VCs.

Yes, sometimes the Subject is also the Holder, but there are MANY counterexamples (as we've discussed rather a lot) which cannot be understoo

[2022-01-27 20:45] TallTed commented on #867
@mcr -- Please see <https://example.edu/>, which states explicitly --

-- and itself links to <https://www.iana.org/domains/example>.  There is also some discussion of this at <https://en.wikipedia.org/wiki/Example.com>.

I think your suggestion here would be better redirected to ICANN and IANA, and rewritten as a request to update the relevant registry and other documents to include `example.edu`

[2022-01-27 21:40] TallTed commented on #753
I suggest instead using --

[code]
-- because an accidental DDoS on `www.w3.org` would be bad.

This doesn't solve the problem of Credential Type A and Credential Type B both using the same unqualified term "uqt" in their JSON, and thus both falling back to the same qualified term "https://example.org#undefinedTerm#uqt", although they intended completely different meanings in A than in B ... but i

[2022-01-27 23:23] brentzundel commented on #862
I don't want this comment forgotten when the PR it was made on is merged: https://github.com/w3c/vc-data-model/pull/866#pullrequestreview-865405471

I think this may also mean that merging the PR shouldn't necessarily close this issue, wdyt @kdenhartog ?

[2022-01-28 00:28] mcr commented on #867
Well, if ICANN really wants this included, then they really should have IANA put that on their web page.
As a document author (15 RFCs myself), I would stick to what RFC2606 and the iana page says are example names,
and example.edu isn't on that list.   I'm sure it would be a major pain to redo all the examples.
Thank you for the attention.

[2022-01-28 00:28] #867 closed

[2022-01-28 07:58] alenhorvat commented on #820
Thank you for the clarification.

[2022-01-28 09:34] kdenhartog commented on #862
I'm good with that. I'll update the PR to make it clearer the purpose of what we're trying to do and then we can mark that one as v1.1 and errata so it gets tracked in the errata log. That way we can make this issue a V2 issue and leave it open.

[2022-01-28 13:26] VladimirAlexiev commented on #843
@OR13 I wasn't suggesting VC need to use 1.1, I was just giving examples of why we had to use 1.1 in EPCIS.
Since VC is small and fixed (to the point that it should be immutable, or is it the DID context will be immutable), I believe it won't have use 1.1 ever.

Not so for the Traceability effort, which mix and matches from many places and is huge, so may well need to use nested contexts.

[2022-01-28 14:47] OR13 commented on #843
@VladimirAlexiev I think I completely agree, but let me restate in my own words.

DID and VC contexts should not require 1.1 since they just define terms and don't bundle other ontologies.

But other contexts that have to bundle or integrate with many different ontologies have a good reason to consider 1.1 features?

[2022-01-28 15:49] dlongley commented on #843
The `@protected` feature from 1.1 is a hard requirement. It ensures that you can do a simple string comparison on context URLs without having to do processing -- and we fought very hard to create that feature and get it into the JSON-LD 1.1 spec whilst the VC 1.0 spec was being produced.

There's a well-maintained Java processor that supports JSON-LD 1.1 (and, it apparently also works in Android)

[2022-01-29 15:28] OR13 commented on #843
If is a good argument for keeping the 1.1 version in the context, then its also a good argument for why JSON-LD processing is not needed for VC-JWT in order to ensure conformance under the assumption that v2 context includes an `@vocab`...

Together these give you term definitions without any need to "do JSON-LD processing".

And they don't preclude you from doing "advanced JSON-LD processing".

I

[2022-01-30 17:23] dlongley commented on #843
As stated in [another thread](https://github.com/w3c/vc-data-model/issues/753), I'm content with exploring adding `@vocab` to the core context. However, I don't agree that it's a requirement to avoid processing by a consuming application; it's solving an orthogonal problem. Already, an application that receives a verified VC can do a check for the proper expression of `@context` string values to k

[2022-01-31 10:24] peacekeeper commented on #753
I am a server administrator and I want to set up a firewall, so that my server can only be used for the services I intend to be used. So I configure the exact TCP/IP rules for the various services. Then someone complains to me that they can't reach something on my server. So, to fix the problem, I set up a 0.0.0.0/32 allow-all firewall rule on top of my existing rules, to improve usability.

That'

[2022-01-31 13:33] msporny commented on #753
@peacekeeper, you're not wrong. :)

Since everything in JSON-LD maps to a URL, it's not as terrible as just letting everything through (as in the firewall example above). You can set up a rule to redirect "everything else" to a particular namespace. So, you can contain the damage to a degree.

We could add a "developer mode" context that does have a `@vocab`, something like: `https://www.w3.org/ns

[2022-01-31 15:07] TallTed commented on #753
I'm forgetting the same reason(s).  This might actually be the best immediate path forward, all things considered.

[2022-01-31 16:08] OR13 commented on #753
Its a major problem with doing them in JSON-LD.... its not a problem if you are just using JOSE to sign JSON.

I think JOSE will be increasingly the preferred solution if we don't address this concern correctly.

[2022-02-02 17:27] msporny opened #869 "Update LD-PROOF link to point to DATA-INTEGRITY"
The spec should update all references to LD-PROOF to point to DATA-INTEGRITY:

https://w3c-ccg.github.io/data-integrity-spec/

Note, these references will change once again once the VC 2.0 WG starts up.

[2022-02-02 21:05] selfissued commented on #753
I agree with this statement:

I appreciate the thrust of @tplooker 's intent with this issue.

[2022-02-02 21:12] kdenhartog commented on #869
@peacekeeper was able to update what I thought was all of these references in this PR https://github.com/w3c/vc-data-model/pull/859/

It's worth giving it a double look over to make sure we didn't miss any, but from what I remember we managed to get them all.

[2022-02-02 22:13] dlongley commented on #753
@msporny,

The problem with that approach is that it doesn't avoid the errors that people want to avoid.

These errors are raised because terms have not been mapped to an unambiguously globally identifier. If you map terms to blank nodes, then the same error will end up being thrown because the term still isn't globally unambiguous (it won't translate to a valid predicate to be signed). So, for co

[2022-02-03 02:26] msporny commented on #869
I've set up a redirect from the old ld-proofs repo to the new data-integrity-spec repo here:

https://github.com/w3c-ccg/ld-proofs/commit/fe518926868289e78aaa1ce0c9d3ad2452304383

The old links work now:

https://w3c-ccg.github.io/ld-proofs/

[2022-02-03 02:26] #869 closed

[2022-02-03 02:29] msporny commented on #869
I just did a scan on the latest Editor's Draft... zero mentions of LD-PROOFS.

[2022-02-03 02:36] msporny commented on #865
Hrm, having looked at all the SVG diagrams in the latest version of Chromium... all he diagrams as busted in ways that make the images look bad now. Misaligned text that flows outside of the boxes. Bad looking fonts. Mis-sized arrows. All in all, things any graphic designer would have a heart attack over.

@chaals are you seeing how bad these new optimized SVGs look? Here's an example of one of th

[2022-02-03 02:43] msporny commented on #861
Yes, the current direction for doing that in a way that's supported by the VCWG seems to be BBS+.

Yes, there are a variety of mechanisms. A quick Google search can find them: https://www.google.com/search?q=zkp+secp256k1

There is no test code for those examples. They are an example of what a ZKP could look like. In the 2nd iteration of the VCWG, there will be working test code for BBS+ ZKPs.

[2022-02-03 07:38] iherman commented on #862
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-02-02-vcwg#section3-2) on 2022-02-02

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 3.2. [Tracking Issue - Proposed Corrections Feedback] URL to URI (issue vc-data-model#862)

_See github issue [vc-data-model#862](https://github.com/w3c/vc-data-model/issues/862)._

[2022-02-03 07:38] iherman commented on #863
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-02-02-vcwg#section3-1) on 2022-02-02

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 3.1. ZKP Section Normative Changes (issue vc-data-model#863)

_See github issue [vc-data-model#863](https://github.com/w3c/vc-data-model/issues/863)._

**Kyle Den Hartog:** Quick st

[2022-02-03 23:24] tplooker commented on #753
To elaborate on this a little more I think the reason why we cannot use blank nodes for expansion here is because the canonical form that gets signed when using JSON-LD signatures is a set of N-Quads (a serialization of RDF) which does not support relative IRI's. Correct me if I am wrong @dlongley?

@dlongley is your concrete proposal for the value to be `<authority>/ambiguous-vocab#` or something

[2022-02-04 00:08] dlongley commented on #753
That's right.

I definitely didn't mean to imply that everyone would define their own URL. I was just trying to avoid a bike-shedding exercise in my comment. To be clear: there should be exactly one URL for this and it goes into the VC 2.0 `@context`. People can bikeshed exactly what that one URL should be.

[2022-02-04 01:41] mprorock commented on #753
+1

[2022-02-08 14:07] mavarley commented on #753
A clarification question; the default @vocab would map _all_ values to undefined/unspecified/ambiguous? Even popular terms like "name" and "birthdate", for example?

If that is the case I believe it meets the goal of providing an easy entry for new developers to get started with Verifiable Credentials and JSON-LD, while ensuring systems are capable of detecting undefined terms.

The default @vocab

[2022-02-08 15:43] TallTed commented on #753
@mavarley -- Please edit [your comment](https://github.com/w3c/vc-data-model/issues/753#issuecomment-1032647220), and codefence both instances of "`@vocab`" by wrapping them with backticks (as, ``` `@vocab` ```), as I'm sure that user is not interested in being tagged here.

[2022-02-14 17:48] OR13 opened #870 "Remove Evidence from the Spec"
See https://www.w3.org/TR/vc-data-model/#evidence

`DocumentVerification2018`...

this tremendously poorly defined and should be defined for all serializations or removed.

[2022-02-14 17:48] OR13 commented on #870
cc @bumblefudge

[2022-02-14 20:12] jandrieu commented on #870
Please do not remove this.

There are some use cases where providing evidence of the pre-issuance DID auth is exceptionally valuable.

This property is meant to be an extension point and we should keep it as such.

[2022-02-14 22:33] OR13 commented on #870
@jandrieu can you point to examples of this extension that are being used in the wild today?

I know folks have been considering it, we should gather evidence that it's being used or being considered, and if we can't we should try and remove it to simplify the spec.

[2022-02-14 22:45] jandrieu commented on #870
I can't, today, speak publicly about either of the two initiatives I know of who are expecting this capability.

What I will say is that without evidence of having performed did-auth embedded in the VC itself, we have no mechanism to verify whether or not the issuer, in fact, proofed control of the DID before issuance. For those subject=holder use cases that rely on the verifier to compare the VP

[2022-02-14 23:23] OR13 commented on #870
I think @selfissued also knows of some folks considering this feature, we should strive to get it covered in the test suite, if it really is being used.

[2022-02-15 14:58] iherman opened #871 "Missing context in an example?"
Looking at the examples in the [chapter on extensibility](https://w3c.github.io/vc-data-model/#extensibility) in the Editors' draft.  [Example 15](https://w3c.github.io/vc-data-model/#example-a-simple-credential) starts with

[code]

The text then explains how one can create a new context file and this leads to [Example 17](https://w3c.github.io/vc-data-model/#example-a-verifiable-credential-with-

[2022-02-16 20:14] kdenhartog commented on #862
Re opening this issue since PR #866 addressed part of the concern, and the goal was to have follow on work done in V2 and we'd use this issue to track that follow on work.

[2022-02-16 20:20] #781 closed

[2022-02-17 06:04] iherman commented on #862
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-02-16-vcwg#section1-1) on 2022-02-16

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 1.1. [Tracking Issue - Proposed Corrections Feedback] URL to URI (issue vc-data-model#862)

_See github issue [vc-data-model#862](https://github.com/w3c/vc-data-model/issues/862)._

[2022-02-20 19:28] msporny commented on #865
I fixed a number of the issues, very minor tweaks (I was having nightmares of some deep seated rendering bug in Chrome/Firefox/Safari, but nothing of that nature reared its ugly head).

Thank you for putting all of the work into this @chaals ... I finally got a chance to dive deep into your handiwork and it is glorious!

Closing this issue, as I'm about to prep the final REC v1.1 publication.

[2022-02-24 03:30] davidlehn commented on #865
@msporny I'm going to reopen this.  The original issues reported still remain.  If there is no interest in addressing these issues, that's one thing, but I think this was closed only due to addressing a different text display issue?

[2022-02-24 03:30] davidlehn opened #873 "Diagram issues"
A few issues were reported in https://github.com/w3c/vc-data-model/pull/855#pullrequestreview-862977446 before that PR got merged, but they have not yet been addressed:

- [ ] background rect size: https://github.com/w3c/vc-data-model/pull/855#discussion_r792205469
- [ ] background rect missing: https://github.com/w3c/vc-data-model/pull/855#discussion_r792206583
- [ ] odd offsets: https://github.c

[2022-04-06 10:48] #861 closed

[2022-04-28 13:12] vpapanchev opened #874 "JWT Decoding: expirationDate"
Hi,

I believe there is a small mistake in the [JWT Decoding section](https://www.w3.org/TR/vc-data-model/#jwt-decoding).

It says that the **exp** property of a JWT Credential must be used to set the value of the **expirationDate** of **credentialSubject** of the new JSON object.
If I am not mistaken, it should be used to set the value of the **expirationDate** of the new credential JSON object.

[2022-05-04 09:13] nissimsan opened #875 "Normative definition of credentialSubject including legal types"
credentialSubject array prevents mapping to JWT and introduces errors in many VC libraries. Even though the data model does/should allow it, here's a pragmatic suggestion on circumventing the issue:
https://github.com/w3c-ccg/traceability-vocab/pull/397

[2022-05-06 13:42] clehner commented on #874
This was attempted to be fixed in #719.

[2022-05-11 16:41] OR13 commented on #875
I am in favor of eliminating "multiple credential subjects" as an option from the spec... I have not observed any real world use cases for this, and it seems that it is harmful complexity.

TLDR:

`credentialSubject` MUST be an object or string.

[2022-05-11 17:17] TallTed commented on #875
The real-world example we [discussed while building the VC Data Model](https://github.com/w3c/vc-data-model/pull/644#issuecomment-496035335) was a marriage certificate, with a credentialSubject array of two (or more) spouses.

Searching within the history of our work is an important step when considering changing something we (the VC Data Model WG) finalized and pushed through to TR.

[2022-05-11 17:55] msporny commented on #875
Digital Bazaar has multiple real world use cases for this (packaging multiple related credentials together), has shipped the solution to customers, and would object to such a change.

[2022-05-11 18:18] OR13 commented on #875
@TallTed @msporny please provide actual examples, not hypotheticals, happy to discuss on a call.

For example, here are the credential formats we recently updated to avoid interoperability failures with JWT: https://github.com/w3c-ccg/traceability-vocab/pull/397

I consider anything that makes the "mapping" to VCs critical, complexity at this layer will lead to implementation bugs, and verifier ov

[2022-05-11 18:34] kdenhartog commented on #875
While I understand the pushback, just because it's shipped doesn't mean it needs to be standardized that way. We need to separate a particular vendors implementation from the development of the standard.

With regards to whether or not it should be allowed the question in my mind is less so about whether there are valid use cases for it and more so whether those use cases could be modeled with mul

[2022-05-11 18:45] selfissued commented on #875
Supporting multiple subjects seems like a failure to "Keep simple things simple".  We should consider removing this unnecessary complexity from the V2 spec.

[2022-05-11 21:06] OR13 commented on #875
+1 to making `credentialSubject` a non empty object, and not allowing any of the following:

[code]

[2022-05-11 21:15] decentralgabe commented on #875
IMO it's ridiculous to limit expressive functionality of a VC because one of the integrity formats isn't flexible enough. The business/functional case is what we should solve for, not shoving the world into the JWT (or any) specification.

Credential Subjects as arrays make sense, for the marriage certificate scenario, parent/child, and a handful of other real-world credentialing use cases.

Inste

[2022-05-11 22:29] OR13 commented on #875
Answering my own question above:

The following non normative examples exist:

https://www.w3.org/TR/vc-data-model/#example-specifying-multiple-subjects-in-a-verifiable-credential

Here is that example slightly modified to show a blank node for one of the subjects:

https://v.jsld.org/2WkicfpCVYRoHC9GcvevhboR812jL3J8DyCZ4evgRL9eJ3sE17ZkLMJ9Hvze4R9jRYMbiKBXaPCfER4czSmfYTHYqw9287F1VpKvKPEpebTrFYoWTF

[2022-05-11 22:40] OR13 commented on #875
We could also just delete the sentence that says:

since IIRC, `sub` is optional in JWTs.

[2022-05-11 23:16] logpo commented on #875
I'd be +1 to this as well. I think the added complexity of handling three formats is hard to justify without a compelling use case. If we want to express a relationship between multiple subjects it seems ambiguous what the relationship is between an array of items is.

@msporny I would be interested to hear more on why you chose to bundle credentials together rather than have separate credentials

[2022-05-12 00:03] csuwildcat commented on #875
I'd allow an object or string, but if it ends up just allowing objects I'm not crying tears.

[2022-05-12 00:25] tplooker commented on #875
Im also a +1 to simplifying the value types supported by credentialSubject.

The cited usecase of the marriage certificate hasn't swayed me to believe that we should support an array of credential subjects. For instance if you did issue a marriage certificate with multiple subjects how does a presentation work? Do all subjects have to prove possession of the associated cryptographic material? Or j

[2022-05-12 03:02] decentralgabe commented on #875
This is a separate, though important problem. Even if there are no good solutions today, I don't believe that means we can't come up with a reasonable multi-party presentation scheme.

Presentation Exchange can already handle this complexity. It should be up to the verifier to determine what combination(s) they are willing to accept.

May be true, still up to the verifier. Maybe they only care abo

[2022-05-12 04:27] dwaite commented on #875
Several realizations of credentials (e.g. leveraging anonymizing techniques like link secrets) will often only have a way for a single subject to prove knowledge/possession.

The non-normative example of a "bearer" credential is effectively a credential without any means for cryptographically verifiable presentation by the subject.

It really isn't as simple as spaces-vs-tabs distinction in creden

[2022-05-12 15:48] kdenhartog commented on #875
@decentralgabe said:

This line of reasoning probably walks us way to close to a normative definition of a protocol in order to do this in an interoperable way between the many parties to generate the presentation request. We would require "a set of rules that control the way data is sent between computers" in order to do this which is one of the 4 definition of protocol [defined by Oxford](https:

[2022-05-12 16:56] decentralgabe commented on #875
@kdenhartog I didn't consider the charter, so thanks for bringing this up. I did not mean to imply that the *protocol* should be defined in this group. The data model can exist independent of such a protocol, as I understand the charter is primarily around the data model.

[2022-05-12 18:32] kdenhartog commented on #875
Yeah I agree we could define that elsewhere. My line of thinking was that if we can't normatively define the protocol here then it's best not to leave this as an undefined behavior up to others to define properly because in my experience that usually means it becomes an extension point where many people define it in many different ways. That's also part of the reason I see it as worth of eliminati

[2022-05-12 19:12] decentralgabe commented on #875
I don't agree, and that isn't precedent. We list credentials without a way to request or receive them. We describe presentations without a way to get requests for presentations, or how to transmit them.

There is precedent for protocols _outside_ this WG defining this functionality. [Presentation Exchange](https://identity.foundation/presentation-exchange/) is already flexible enough to handle the