[2019-01-16 14:58] msporny commented on #371
Oh, wait a second, I think I finally understand the question. I'll look into type ordering... sounds like that spec text is wrong.

[2019-01-16 16:49] BigBlueHat commented on #371
Also, fwiw, this text is only about JSON-based processors, so it shouldn't effect JSON-LD-based ones (afaict).

[2019-01-18 16:28] BigBlueHat opened #379 "Link "JSON Schema" text to it's specification as an informative reference"

[2019-01-18 16:39] BigBlueHat opened #380 "Suggest changing `refreshService`'s `serviceEndpoint` to `id` to match other objects"
Effectively, [example 15](https://w3c.github.io/vc-data-model/#ex-15-usage-of-the-refreshservice-property-by-an-issuer) would change from:

[code]
to
[code]
which would mirror the formats seen for [`credentialStatus`](https://w3c.github.io/vc-data-model/#ex-7-usage-of-the-status-property) and [`credentialSchema`](https://w3c.github.io/vc-data-model/#ex-14-usage-of-the-credentialschema-property-to-

[2019-01-18 16:50] BigBlueHat opened #381 "Add reference to RFC3986 for URI and URL validation"
Currently there's no mention of which spec to use for URI validation, so suggestion is to add a reference to [RFC 3986](https://tools.ietf.org/html/rfc3986) which defines the baseline for URIs (and URLs by extension).

[2019-01-20 16:11] David-Chadwick opened #382 "Schema link needs updating in Example 13"
Example 13 (https://w3c.github.io/vc-data-model/#ex-13-usage-of-the-credentialschema-property-to-perform-json-schema-validation) was updated to replace proof of age with university degree, but the reference to the schema was not updated at the same time. This should be changed to

[code]
or something similar

[2019-01-20 16:14] David-Chadwick commented on #382
p.s. A similar change is needed to Example 14 as well

[2019-01-20 16:33] msporny commented on #382
Fixed in f4d9ce8aec62e5c6dd0bf260cd0cc25ba39083b2. Thanks for the catch, @David-Chadwick!

[2019-01-20 16:33] #382 closed

[2019-01-20 16:41] David-Chadwick opened #383 "Issues from CCG review"
The following changes are suggested in order to address the points raised in the CCG review https://github.com/w3c-ccg/community/issues/28

1. Add a definition of selective disclosure to the Terminology section. Here is a strawman

selective disclosure
the ability to only disclose to a verifier either a subset of the properties of, or a derived predicate from, a verifiable credential.

2. Add a de

[2019-01-20 19:20] ChristopherA commented on #383
We should reconcile the suggested language with this document from #RebootingWebOfTrust led by @lwolberg that is now moving to the CCG for further review & improvements. https://github.com/WebOfTrustInfo/rwot5-boston/blob/master/draft-documents/DataMinimization/Data%20Minimzation%20and%20Selective%20Disclosure.md

In particular, the first is “cryptographic selective disclosure”, and atomization is

[2019-01-20 19:35] msporny commented on #231
Fixed in https://github.com/w3c/vc-data-model/commit/40e428f7de666ac56099b074925f915618272779. Reconciling auto-generation of files now...

[2019-01-20 21:03] msporny commented on #231
Auto-generated files are now reconciled in f1c2bee536f76bcdeeea20145c9ad71992461d5b,

[2019-01-20 21:03] msporny commented on #231
All context and vocab files are now updated and aligned with the spec. This is no longer a CR Blocker.

[2019-01-20 21:03] #231 closed

[2019-01-20 21:37] msporny commented on #237
Both @dlongley and @msporny have performed a review on the proposal from Sovrin/Evernym and have suggested minor changes. At this point, we're confident that the VC Data Model can support Sovrin and Evernyms needs wrt. ZKPs. Closing this issue, please re-open if you disagree.

[2019-01-20 21:37] #237 closed

[2019-01-22 13:09] rhiaro commented on #201
**The following issues are fixed in https://github.com/w3c/vc-data-model/pull/389**

✔

✔ (The exact sentence has now changed but the principle of the comment holds.)

✔

✔

✔ Rephrased to:

**The following can't be fixed:**

We can't modify the SotD, it's automatically generated W3C boilerplate.

**The following have not yet been addressed, but I can do so with some feedback.**

I can't find text

[2019-01-22 15:33] brentzundel commented on #237
I didn't get a chance until this morning to look at this. I did see Manu's email that he was planning to close this, but was not able to respond.
I am confident that the data model can support Sovrin ZKPs, but we still need to determine if the test suite will work. Not sure where that will be tracked if not here, or how that fits with the schedule for releasing a CR.

[2019-01-22 15:40] msporny commented on #237
Good, as that's the only thing we need to start the process of entering CR.

I'm confident that it will, and that's what CR is for. We'll figure that out during CR. It would have been nice to have figured it out before CR... but during CR would be fine as well. We definitely need to have it figured out before exiting CR.

[2019-01-22 16:15] brentzundel commented on #364
For Sovrin ZKPs they would almost never be the same.

[2019-01-22 16:23] msporny opened #391 "Vocabulary location decisions"
We need to make two decisions before going into CR:

1. Where does the serviceEndpoint vocabulary term go? Which vocabulary?
2. Where does the security vocabulary go?

[2019-01-23 10:39] awoie commented on #364
Alright. Could we change ```did:sov:schema:3jf74yr7dsjw83jf``` in ```did:example:schema:4er38er2uior02xy``` to keep the spec more platform agnostic.

[2019-01-23 15:41] nedmsmith opened #394 "Normative terminology (e.g. MUST) in sections marked non-normative"
For example Section 4 of the Data Model document.

[2019-01-25 15:06] msporny commented on #201
That's a protocol issue, thus out of charter scope.

Either is fine since the distinction will most likely go unnoticed by the average reader. Suggest using @CipherQueen's "and" language since she had a stronger feeling about it than other readers. I don't expect

Bombarding the reader w/ a massive list of terminology will give the impression that the specification is more complex than it is, so -

[2019-01-25 17:36] rhiaro commented on #201
https://github.com/w3c/vc-data-model/pull/389 is now updated with @msporny's feedback (thanks!) and merging will resolve this issue.

[2019-01-29 00:28] #201 closed, assigned to msporny, stonematt

[2019-01-29 00:29] #379 closed, assigned to msporny, rhiaro

[2019-01-29 00:36] #381 closed

[2019-01-31 17:05] David-Chadwick opened #405 "Level of Assurance vs. Evidence"
Authentication systems already have the concept of level of assurance to depict the amount of reliance or trust a verifier can have in an authenticated subject. A similar concept is also useful for verifiable credentials. We have the Evidence property, but as currently specified it does not imply a similar concept. The current text says "Evidence is used by an issuer to determine whether or not to

[2019-01-31 17:35] David-Chadwick opened #406 "Authorisation"
The current text in section 7.10 states "this specification MUST NOT be used for authorization purposes without an accompanying authorization framework." This is not a statement that can be enforced, nor can you mandate that implementations will not use the VC data model document for authorisation applications. Therefore we should change the text to
"It is recommended that this specification SHOUL

[2019-01-31 17:43] jandrieu commented on #406
Agreed with the point of the correction although my concern is that "authorization framework" is ill defined. Shifting to "SHOULD" helps, but my first take was to replace "accompanying" to "appropriate" to support a bit more flexibility in the definition of the term.

[2019-01-31 17:44] David-Chadwick opened #408 "Verification"
Most of our data model document talks about the holder, and refers to the subject much less than to the holder.

However when we get to section 9, Verification, we only address how the subject should be verified, and say nothing about holder verification, when in fact the verifier is only contacted by the holder and may not know anything about the subject (apart from what the presented VCs contain

[2019-01-31 17:48] jandrieu commented on #405
A definite improvement. I'd suggest replacing "determine" with "evaluate" because the evidence provided may or may not be enough to determine the LOA, even it it's intended to do so. Especially if the issuer is using a different LOA framework than the verifier (which is inevitable for a large number of cases).

My only quibble is my understanding was that the "evidence" property wasn't about stati

[2019-01-31 18:19] agropper commented on #405
LoA is also a property of the DID method. This may not be relevant to the
VC spec is is worth keeping in mind.

Adrian

On Thu, Jan 31, 2019 at 12:48 PM Joe Andrieu <notifications@github.com>
wrote:

--

Adrian Gropper MD

PROTECT YOUR FUTURE - RESTORE Health Privacy!
HELP us fight for the right to control personal health data.
DONATE: https://patientprivacyrights.org/donate-3/

[2019-01-31 19:12] jandrieu commented on #405
@agropper That's a good point LOA is specific to identity assurance, which is out of scope. Perhaps something like "Evidence is used by an issuer to inform the verifier of supporting material used when issuing the credential, such as procedures, data sources, data types, and even the raw data in the form of proofs or original credentials. This allows the verifier to evaluate the extent to which th

[2019-01-31 19:46] stonematt commented on #405
+1 to adjusting evidence definition along these lines - I quite like that a lot, as it defines what is in the document:
 "Evidence is used by an issuer to inform the verifier which procedures it used when issuing the credential. "

-1 to adding the value judgment aspect of the definition, not relevant to document conformance:
"This allows the verifier to determine the level of assurance it can hav

[2019-01-31 20:22] David-Chadwick commented on #405
@jandrieu . The concept of assurance level can apply to anything you want assurance in, not just authentication. I accept that the term LOA is normally understood to apply to the assurance one can have in the level of authentication of a subject. However, verifiable credentials are verified attributes of the subject and so they cover identification in a much better way than authentication does (si

[2019-02-01 10:33] jandrieu commented on #405
That's pretty good. "Earned" feels a bit off as some credentials aren't earned as much as bestowed or simply asserted by the issuer.  Maybe:

"Evidence is used by an issuer to inform the verifier of the basis for the verifiable credential. This could be used by the verifier to establish the confidence with which it relies on the claims in the verifiable credential."

[2019-02-02 20:54] msporny commented on #360
I have responded to all comments and applied changes to the specification as a result of the review. Detailed changes are here: https://github.com/w3c-ccg/community/issues/28#issuecomment-459998140.

Marking issue as addressed and closing.

[2019-02-02 20:54] #360 closed

[2019-02-02 21:01] #371 closed

[2019-02-02 21:02] msporny commented on #371
@BigBlueHat can you confirm that I fixed the issue that you hit? I think the major issue was that `type` had `<code>type</code>` when the more common English usage of the word was desired.

[2019-02-02 21:09] msporny commented on #391
@rhiaro fixed "Where does the serviceEndpoint vocabulary term go?" in https://github.com/w3c/vc-data-model/commit/0313cc4c8b116b0b330b7374651107d457dd0963.

To address the next issue, I recommend that the Chairs and staff contact work with W3C to acquire the following vocabulary URL at W3C:

https://www.w3.org/2018/security

The JSON-LD Context will go in:

https://www.w3.org/2018/security/v1
http

[2019-02-02 21:11] msporny commented on #270
This is now done thanks to @bigbluehat. The only thing left is to implement the tests. @gannan08 and @dmitrizagidulin have the action to implement the rest of the tests in the test suite. That is not blocking us from going into CR, so I'm closing this issue.

[2019-02-02 21:11] #270 closed

[2019-02-02 21:20] msporny commented on #234
All assigners are now URIs in the spec.

We use JSON-LD's features to make "AllVerifiers" a PartyCollection.

We ended up using "Archival" in the example as lower-case class names are frowned upon for JSON-LD.

I don't understand this suggestion.

Fixed in 8610f8fc72bb36b3431bf18c7d1c018428666454. Also cleaned up the other two examples that use ODRL.

[2019-02-02 21:20] msporny commented on #234
I have responded to all comments from this review and applied a number of changes that were suggested.

[2019-02-02 21:21] #234 closed

[2019-02-02 21:24] #239 closed, assigned to msporny

[2019-02-02 21:32] msporny commented on #244
Not necessarily, there are ZKP mechanisms that enable you to prove that a credential hasn't been revoked at the time of presentation. Unfortunately, you can't tell if it has been revoked after it has been presented to you, so not having a credential identifier that you can check against a revocation list creates a challenge in this scenario.

[2019-02-02 21:36] #244 closed

[2019-02-02 21:37] msporny commented on #244
Fixed in https://github.com/w3c/vc-data-model/commit/a967b8665ca62662cf9ac0e28be1f964f9914e47 @David-Chadwick, please re-open if you disagree.

[2019-02-02 21:42] msporny commented on #260
Rather than get into an esoteric argument around whether you can express a graph using a tree + node references (you can, that's mathematically provable) let me try to go at this a different way.

Will answering this question either way change the specification in any normative way that we want to do before we go into CR? I assert that it would not and thus we should close this issue.

To force th

[2019-02-02 21:42] #260 closed

[2019-02-02 21:54] #276 closed

[2019-02-02 21:54] msporny commented on #276
Fixed in https://github.com/w3c/vc-data-model/commit/1eef2202f17498bbc9598ec109430ec48dde573b.

[2019-02-02 21:58] msporny commented on #312
@chaoxinhu there are multiple ways to achieve your use case, many of them require a mechanism to prevent double-spending the coupon. Decentralized ledgers coupled with Verifiable Credentials could certainly address your use case, but so could centralized systems, object capabilities, and a variety of other combinations.

As one of the editors of the specification, I'm trying to see if any further

[2019-02-02 21:58] #312 closed

[2019-02-02 22:03] #362 closed

[2019-02-02 22:05] msporny commented on #362
I added a few examples in https://github.com/w3c/vc-data-model/commit/0cefae2e7e8f6b6cdd41b69b90d7f1eee751b004 but stopped short of saying "anywhere `id` can be expressed" as DIDs can be used for the `issuer`, `verificationMethod`, and many other places a regular URL can be used. It's also not a good idea to use them for credential identifiers. In any case, this specification isn't supposed to tal

[2019-02-02 22:07] msporny commented on #363
I believe @David-Chadwick has answered your question @mwherman2000 and I don't expect we need to add more text to the spec to make that distinction. Closing, please re-open if you disagree (and suggest concrete spec text so we have something to consider/refine).

[2019-02-02 22:09] #364 closed

[2019-02-02 22:10] msporny commented on #364
Fixed in https://github.com/w3c/vc-data-model/commit/ac6c5c9d669037498cdc3d3a9840e5d1227d6a43.

[2019-02-02 22:10] #243 closed

[2019-02-02 23:48] burnburn opened #413 "Non-agreed change in conformance language"
PR #397, which I wrote, was modified by @msporny beyond what I agreed with, then merged.

You added back in the definition of a _conforming processor_, which is acceptable if you do not then define additional processing beyond the statically-verifiable constraints in the document.

Unfortunately, that appears to be what you did.  The language I believe should be removed is "and also enforces all r

[2019-02-03 00:20] brentzundel opened #414 "ZKP section needs corrections"
The zkp section of the data model, especially the example, needs to be modified to better reflect the actual format of a zkp-capable credential.

[2019-02-03 16:41] msporny commented on #413
I think the goal was that there would be no additional processing necessary beyond the statically-verifiable constrains in the document. I think the challenge may be that we have old language that does do that, so that language would need to change.

The intent was to define a _conforming processor_ as something that generates and consumes valid documents. We would draw the line at market vertical

[2019-02-03 19:19] David-Chadwick opened #419 "Removing HolderID from Presentations"
In PR #313 @jandrieu said

I must have missed this at TPAC. This decision raises several issues for me
1. If ZKPs support selective disclosure then why must the holderID in a presentation be disclosed (if the SubjectID of a claim need not be disclosed)
2. If the verifier needs to know who the holder is and can determine this from the proof, then why does displaying it in the holderID property crea

[2019-02-05 16:14] stonematt commented on #406
we'll discuss this in the PR as we refine spec text

[2019-02-05 16:14] stonematt commented on #405
move discussion to PR for spec text details

[2019-02-06 00:15] dhh1128 opened #421 "Define one or more media types for VCs"
I know that the current spec is only about a data model. However, it does discuss how credentials can be "realized" in the JSON and JSON-LD syntaxes, and it suggests others like CBOR.

I would like a sentence or two in the spec that says something like, "The MIME type of verifiable credentials is `application/verifiable-credential+json`." Obviously, the + part would have to be adjusted for each sy

[2019-02-06 09:11] David-Chadwick commented on #421
I support the standardisation of  (one or more) MIME types for VCs. One can argue that this is needed as it relates to all documents that conform to the VC data model and is independent of the transfer protocol, so it is not a protocol issue (which is out of scope of the current WG).
I also prefer  `application/verifiable-credential+json` or `application/vc+json` to "application/ld+json".
Whether

[2019-02-07 15:01] BigBlueHat commented on #371
@msporny that works. The ordering of the "type" will not be enforce-able by machine-based tests unless that mandatory ordering need is machine-readable--i.e. checking the expressed ordering against the desired ordering will take human eyeballs afaict...which is maybe OK?

[2019-02-07 17:12] brentzundel commented on #419
The problem, from the Sovrin/Indy anonymous credentials perspective, is that the value of the holderID property in a presentation should never be the same as the subjectID in the credential.
In our ecosystem, the holder has a different DID for each relationship. Let's call these DIDi for the DID the holder has with the issuer, and DIDv for the DID the holder has with the verifier. Putting DIDi in

[2019-02-07 18:44] jandrieu commented on #419
@David-Chadwick Brent hits on the nub of it. If the subject ID in a credential becomes the holder id in a presentation--presumable because that is the mechanism for authenticating that subject==holder, then you have created, as @nage likes to say, a super cookie, which directly enables correlation wherever that VC is used.

But where I think there was consensus was that some notion of "holder id"

[2019-02-08 16:43] David-Chadwick commented on #419
@brentzundel . I think ZKP is a special case and initially wont be the most common use of VCs, although this might change in the longer term. So lets deal with the non-ZKP case first. Ideally there should be different pairwise identifiers between the subject and the issuer and subject and verifier (cf FIDO) and neither should know the other one's pairwise ID. But this is impossible if the verifier

[2019-02-08 16:56] brentzundel commented on #421
+1

[2019-02-08 19:28] brentzundel commented on #419
I think you've hit on one of the primary reasons ZKP is so vital.

On Fri, Feb 8, 2019 at 9:43 AM David Chadwick <notifications@github.com>
wrote:

[2019-02-12 16:15] jandrieu commented on #419
I'm actually surprised there isn't a creator value in the proof. How do we know who made the signature?

[2019-02-12 16:16] TallTed commented on #421
There's a bit more to it than saying "this is our MIME type!"  https://www.iana.org/assignments/media-types/media-types.xhtml

[2019-02-12 16:18] stonematt commented on #406
closed w/ PR

[2019-02-12 16:18] #406 closed

[2019-02-12 16:27] dlongley commented on #419
Dereferencing the `verificationMethod` provides that information. You have to do that anyway to confirm control over the key (or you have to have a local trusted copy of the verification method).

[2019-02-13 10:20] David-Chadwick commented on #419
@dlongley "Dereferencing the `verificationMethod`" seems to be a fundamentally flawed design to me. Given that a verifier can expect to receive presentations from thousands (possibly millions) of holders it is unreasonable to expect that the verifier has to make an external call for each one before it can verify who the holder is. In the world of PKI a verifier, once it is configured with roots of

[2019-02-13 10:39] David-Chadwick commented on #419
@dlongley P.S.  `verificationMethod` would seem to be a misnomer, since to me a method implies something that is generic and can be used multiple times by multiple holders. If this is something specific to a single holder, wouldn't a name of `signerIdentification` or something similar be more appropriate?

[2019-02-13 14:55] dlongley commented on #419
@David-Chadwick, I think there's too much to say here about how `verificationMethod` works and why it's named that way given that it is largely unrelated to this spec. It is related to the DID spec and the LD proofs specifications, so this is the wrong place to discuss it.

The only point here was to indicate that you can know who the controller of the key that created a signature was by derefenci

[2019-02-13 15:33] dlongley opened #422 "`cred:RefreshService` definition missing from vocab"

[2019-02-13 16:00] David-Chadwick commented on #419
@dlongley Respectfully I disagree with your assertion that this is "largely unrelated to this spec". It seems to me that is fundamental to this spec if we are proposing to use a proof scheme that requires the verifier to make an outgoing call before it can verify an incoming VC.

[2019-02-13 16:26] dlongley commented on #419
@David-Chadwick, it's not required.

[2019-02-13 16:50] jandrieu commented on #419
Actually, at least one outgoing call is required for the revocation mechanisms I'm familiar with. Seems like that concern is a moot @David-Chadwick

[2019-02-13 23:48] David-Chadwick commented on #419
@jandrieu Revocation is a separate issue, and even then, verifiers do not have to make a call out each time they receive a presentation with VCs. For example, they might have a recent cached copy of a combined revocation list and this may be sufficient for their risk exposure. But the current spec demands the veriifer makes an outgoing call for each presentation from a previously unseen holder, an

[2019-02-18 14:14] brentzundel commented on #419
It seems to me, that whether or not a call out by the verifier is necessary
will depend on the verification method used. The data model does not
prescribe a verification method.

On Wed, Feb 13, 2019, 16:48 David Chadwick <notifications@github.com> wrote:

[2019-02-18 14:34] David-Chadwick commented on #419
@brentzundel Can you tell me which of the Proof fields tells the verifier which public key to use to verify the signature. Thanks.

[2019-02-18 15:54] brentzundel commented on #419
The data model doesn't formally specify any proof fields (unless I missed something).
Sovrin was planning on having a proof section with the following values:
- Issuer data (revocation index, etc. that will be signed)
- attributes (credential properties that are to be signed, encoded as integers)
- credential definition (which would provide a URI for the verifier to look up the public keys, as wel

[2019-02-18 16:25] David-Chadwick commented on #419
@brentzundel . You are correct. Only the Proof property itself is mandatory, and not the actual fields. But the current text is somewhat misleading as it provides an exemplar of a Proof property that I took to be the standard way of providing digital signature proofs, and to which all my comments above have been addressed. I therefore think we need to clarify the text to say something like

"No pr

[2019-02-18 16:28] David-Chadwick commented on #419
We should also add the following text "All Proofs MUST contain a type property"

It would then also be beneficial to have a register of Proof types, along with their specifications.

[2019-02-18 17:16] brentzundel commented on #419
@David-Chadwick I've added a PR #423 that I believe addresses your concerns about the proof section.

[2019-02-19 16:11] stonematt commented on #421
@brentzundel volunteered

[2019-02-19 16:13] David-Chadwick commented on #419
Yes this issue has now been addressed in PR #423 so it can be closed

[2019-02-19 16:35] brentzundel commented on #421
If we can come to agreement about what we'd like the MIME type to be, I will start the registration process.

[2019-02-19 17:20] David-Chadwick commented on #421
I vote for `application/vc+json`

[2019-02-19 18:39] msporny commented on #421
Unfortunately, if you guys want MIME Types, we won't be able to do just one, we will have to do four to six (due to the position certain organizations are taking in the group):

application/vc+json
application/vc+ld+json
application/vp+json
application/vp+ld+json
application/vc+json+jwt
application/vp+ld+json+jwt

We could cut out half of these if folks could just agree between application/vc+json

[2019-02-19 18:40] msporny commented on #421
Also, please don't start the registration process until the WG decides we want a MIME Type. The typical process is you put in a section wrt. IANA Registration in the W3C spec and the registration is kicked off when we go to PR/REC.

[2019-02-21 15:07] chaoxinhu opened #427 "Context URL is down .. and yet another question about override"
I have tried to visit the current presented @context URL and they are all inaccessible already:
https://www.w3.org/2018/credentials
https://www.w3.org/2018/credentials/v1
Now the only working URL is the old one: https://web-payments.org/contexts/credentials-v1.jsonld
Please consider to fix this.

Also there is another question.. there does not seem to be any overriding restrictions on same terms e

[2019-02-22 10:54] David-Chadwick opened #428 "Section 7.3 Mandatory Types"
The table in section 7.3 "Types" needs updating to add the Proof object

Proof object
A valid proof type. For example "type": "RsaSignature2018"

[2019-02-22 12:42] David-Chadwick opened #429 "Sorting out @contexts"
First I am not able to retrieve any of the context definitions. The URLs fail.
Secondly we should ensure that all the contexts, when published, match the examples in the specification. Here is one that appears not to.

In the Extensibility section, Example 13 says this new type of VC is "CustomExt12" but what or how is this type linked to the @context specification, since the @context definition d

[2019-02-22 16:19] David-Chadwick opened #430 "Multiple proofs"
Make clear in the Proofs section that multiple proof properties can be present. Change

For a credential or presentation to be verifiable, the following property MUST be present:

to

For a credential or presentation to be verifiable, at least one instance of the following property MUST be present:

[2019-02-22 16:28] dlongley commented on #430
Yes, this was just an oversight -- I mentioned to Manu the other day, he was going to fix up once he pulled in the other changes to the proof description section.

[2019-02-22 17:48] brentzundel commented on #430
I want to make sure I'm understanding you correctly @David-Chadwick. Are you saying that a credential or presentation cannot be verified without the verifier knowing whom it was issued to, and the only way to do that is by requiring the "to" property?
Because if that is what you are saying, that is not the case for Sovrin credentials. The prover is able to prove to the verifier that the credential

[2019-02-22 18:28] dlongley commented on #430
@brentzundel,

I thought @David-Chadwick was just saying that we need to accept both `"proof": {...}` and `"proof": [{...}, {...}]` so you can have more than one proof on a VC. Nothing more than that.

[2019-02-22 18:35] brentzundel commented on #430
gotcha, thanks

On Fri, Feb 22, 2019 at 11:28 AM Dave Longley <notifications@github.com>
wrote:

[2019-02-22 18:51] David-Chadwick commented on #430
@brentzundel I think your comment is being addressed to a different issue than this one.
This issue is simply pointing out that the current text implies that only a single proof must be present, whereas in other areas of the spec it says that multiple proofs may be present. This issue is requesting an alignment of the texts

[2019-02-22 18:53] brentzundel commented on #430
Yeah, this is what happens when I try to read and respond to email on my
phone.

On Fri, Feb 22, 2019 at 11:51 AM David Chadwick <notifications@github.com>
wrote:

[2019-02-25 18:11] David-Chadwick opened #432 "Evidence ID"
As currently specified, the Evidence property contains an ID field, but we do not specify
a) whether the ID is mandatory or optional
b) what the ID actually points to.
This needs to be clarified.

Could I suggest that we say that the ID field is optional, but if present, it contains a URL that points to where more information about this instance of evidence can be found.

[2019-02-26 13:30] David-Chadwick opened #433 "Editorial in Appendix A.5"
The example in Appendix A.5 still contains "claim" instead of "credentialSubject" (twice).
This is a simple editorial fix.

[2019-02-26 16:57] BigBlueHat commented on #429
The `https://www.w3.org/2018/credentials/v1` URL will (at publication time at the very latest) resolve to the JSON-LD context defined by the final data model spec. You can read more here:
https://www.w3.org/TR/verifiable-claims-data-model/#contexts

The `example.com` URLs (which represent example extension) won't ever resolve to anything--by design. 😃 They are examples, and not meant to be used in

[2019-02-27 13:24] glauserr opened #435 "anonymous presentation - missing in the standard"
Indy anonCreds provides functionality for anonymous credentials, credentials which can be presented to a verifier without revealing its did but with a ZK-proof that I am the owner of the credential.

Are there any plans to embed standardization of anonymous credentials in the document?

[2019-02-27 13:52] brentzundel commented on #435
The data model was designed to be compatible with zero-knowledge proof
systems such as Indy's anonymous credentials, but does not require all
implementers to use zero-knowledge proofs.
There is text throughout the document that attempts to illustrate how the
various components may be used with zero-knowledge proof systems, or that
points out components that may be omitted if a zero-knowledge proof

[2019-03-04 14:21] jonnycrunch commented on #206
my issues is that it is an www URL.  there are other formats including the `@content` being an object using a CID as in IPLD.

[2019-03-04 14:25] jonnycrunch commented on #206
see my pull request: https://github.com/w3c/vc-data-model/pull/261

[2019-03-04 14:40] dmitrizagidulin commented on #206
@jonnycrunch Can the IPLD style CID be modeled using [Hashlinks](https://tools.ietf.org/html/draft-sporny-hashlink-02)?

[2019-03-04 14:50] jonnycrunch commented on #421
application/json would be preferred.

[2019-03-04 14:54] dmitrizagidulin commented on #421
@jonnycrunch

Can I ask - why preferred?

[2019-03-04 15:03] brentzundel commented on #206
Decision at Barcelona F2F: Tasks complete or accommodated, close issue.

[2019-03-04 15:04] brentzundel commented on #162
Decision at Barcelona F2F: Exploration complete enough to shift issue to CCG, close issue.

[2019-03-04 15:05] brentzundel commented on #135
Decision at Barcelona F2F: Move to the implementation guide repo and close

[2019-03-04 15:06] brentzundel commented on #135
to clarify, that means an issue needs to be created in the implementation guide repo for this.

[2019-03-04 15:07] brentzundel commented on #136
Decision at Barcelona F2F: Create an issue in the implementation guide repo and close

[2019-03-04 15:09] brentzundel commented on #129
Decision at Barcelona F2F: This is solved by credential schema, close.

[2019-03-04 15:09] dmitrizagidulin commented on #128
Decision at the Barcelona F2F meeting: Open an issue and add the JSON schema to the Implementation Guide. (I volunteered).

[2019-03-04 15:12] brentzundel commented on #427
Decision from Barcelona F2F:
@ashimura will shepherd to close
- [ ] 1 update content in w3c
- [ ] Auto-copy from github
- [ ] Open New issue: Turn off auto-copy when we transition to PR

[2019-03-04 15:13] brentzundel commented on #421
Decision at Barcelona F2F: This is a CR-blocker (open topic)

[2019-03-04 15:15] brentzundel commented on #253
Decision at Barcelona F2F: @jandrieu will engage @ChristopherA to come make the case

[2019-03-04 15:16] brentzundel commented on #225
Decision at Barcelona F2F: @stonematt and @TzviyaSiegman will get this done.

[2019-03-04 15:23] brentzundel commented on #203
Decision at Barcelona F2F:
- Not CR-Blocker: Mention in implementation guidance that it’s protocol related or and is addressed in another issue
- [ ] @ashimura  will move repo to w3c
- [ ] @dmitrizagidulin - Close after opening issue for this

[2019-03-04 15:33] brentzundel commented on #93
Decision made at Barcelona F2F:
- We have JWT and content in the appendix
- Tooling will come outside of this WG
- This should be closed. It has been overtaken by events.

[2019-03-04 15:37] #93 closed

[2019-03-04 15:38] #129 closed

[2019-03-04 15:40] brentzundel commented on #136
@msporny This issue is assigned to you. Are you able to take the work items from Barcelona?
- [ ] Create an issue to track this in the implementation guide repo
- [ ] Close this issue

[2019-03-04 15:41] brentzundel commented on #135
@dlongley this issue is assigned to you. Are you able to take the work items from Barcelona?

- [ ] Create an issue to track this in the implementation guide repo
- [ ] Close this issue

[2019-03-04 15:41] #162 closed

[2019-03-04 15:42] #206 closed

[2019-03-04 18:15] pmcb55 commented on #421
I think this blog entry offers fantastic guidance on this question: https://ruben.verborgh.org/articles/fine-grained-content-negotiation/
My suggestion: kept the existing standard MIME type of 'application/ld+json', and propose a single profile link relation type (https://tools.ietf.org/rfc/rfc6906) to mark resources as being 'verifiable credentials'.

[2019-03-04 20:22] aphillips opened #436 "Many natural language text fields (such as "statusReason") have no language or direction support"
A number of natural language text fields appear in the document without support for language or base direction. For discussion of why this is important and some guidelines, see [String-Meta](https://w3c.github.io/string-meta). One example is:

6.2 Disputes
https://w3c.github.io/vc-data-model/#disputes

The property `statusReason` can contain natural language text (not merely an identifier or value

[2019-03-04 20:22] aphillips commented on #436
(please add the `i18n-comment` label)

[2019-03-04 20:32] aphillips opened #437 "Reference to ISO8601 should be more specific"
A number of timestamp values appear in the document. One example is:

5.2 Issuer
https://w3c.github.io/vc-data-model/#issuer

This definition of a date-time value, while the correct choice, is insufficiently specific. I would recommend referencing RFC3339 `date-time` explicitly.

Note well that use of an offset or (better!) use of UTC ("`Z`") is necessary for actual timestamp values to work correc

[2019-03-05 11:55] stonematt commented on #413
@burnburn (tickler)

[2019-03-05 11:56] burnburn commented on #408
@grantnoble to take this (can't assign)

[2019-03-05 11:56] burnburn commented on #413
@msporny has modified text in spec, I need to review.

[2019-03-05 12:02] grantnoble commented on #408
👍

[2019-03-05 12:15] awoie opened #438 "VC is verifiable without proof property in case of JWT"
According to the spec:

JWT proofs don't make use of the `proof` property. The specification needs to be fixed that allows JWT proofs, i.e., JWS, to be used regardless of the presence of the `proof`property.

The suggestion is to specifically fix the description of the `proof`property which says that without a `proof`property a credential is not verifiable:

Furthermore, we should discuss if secti

[2019-03-05 12:32] dmitrizagidulin commented on #438
+1, although I think we should phrase it in terms of switching off of the signature method.

LD Signatures - `proof` REQUIRED.

JWS signatures - proof not required (but `signature*` field is required, as per the spec, etc)

[2019-03-05 12:36] brentzundel opened #439 "The table of format comparisons should be replaced by a section for each proposed format"
Decision from F2F Barcelona:
A proponent for each format will write a section in the implementation guide describing the format.
- JSON-LD proofs (Manu)
- JSON-LD + JWT and JSON + JWT (Oliver)

To do:
- [ ] @stonematt will open an issue in the implementation guidance repo to track this
- [x] @msporny will write the section on LD Proofs
- [ ] @awoie will write the section on JSON-LD + JWT and JSON

[2019-03-05 12:46] brentzundel commented on #222
Decision for F2F Barcelona:
- [ ] @stonematt will create an issue in the implementation guidance repo to track adding suggestions on how to do progressive trust or graceful degredation
- [ ] @brentzundel will add comment in privacy section about private browsing
- [ ] close this issue

[2019-03-05 12:50] brentzundel commented on #391
Decision from F2F in Barcelona: The chairs will take the actions proposed by @msporny in his comment.
Specifically:
- [ ] contact work with W3C to acquire the following vocabulary URL at W3C: https://www.w3.org/2018/security
- [ ] Put the JSON-LD security contexts in
    - https://www.w3.org/2018/security/v1
    - https://www.w3.org/2018/security/v2

[2019-03-05 12:51] David-Chadwick opened #440 "Conformance clauses are missing, wrong or inconsistent"
Reviewing the conformance statements (MUST, MAY, SHOULD) in the normative sections of the data model has revealed the following problems:
1. The following properties have no conformance statement: credentialSubject, @context, issuer, refreshService, evidence, credentialSchema
2. The following sections have inconsistencies: 4.3 on types lists the properties that must have types but does not include

[2019-03-05 12:55] dmitrizagidulin commented on #421
To clarify, the reason we would like a MIME type are the following use cases:

* Content negotiation help during HTTP requests
* Application binding ON THE DESKTOP. A user wants to double-click on a VC and have it open in the right application in the OS. **Requires mapping of MIME Type to file extension.**
* Application binding IN BROWSER or mobile OS: User clicks on a link, and the browser opens

[2019-03-05 12:56] brentzundel commented on #394
Decision from F2F in Barcelona:
- [ ] @rhiaro and @ken-ebert to review non-normative sections for normative statements.
- [ ] close this issue

[2019-03-05 12:58] brentzundel commented on #405
Decision from F2F Barcelona is to close this issue, as the PR #418 that addresses it has been merged.

[2019-03-05 12:58] #405 closed

[2019-03-05 13:22] brentzundel commented on #408
Decision from F2F Barcelona:
- [ ] @grantnoble will review the verification section for language about subjects and holders and raise a PR to make any needed changes.
- [ ] If that PR is needed, close this after it is merged.

[2019-03-05 13:24] brentzundel commented on #413
Decision from F2F Barcelona:
- [ ] @burnburn will review data model text and close

[2019-03-05 13:28] brentzundel commented on #414
Decision at F2F Barcelona:
- [ ] @msporny and @ken-ebert will review PR #413

[2019-03-05 13:32] brentzundel commented on #419
Decision from F2F Barcelona:
- [ ] @msporny will verify with @dlongley that this can be closed.

[2019-03-05 13:33] brentzundel commented on #422
Decision from F2F Barcelona:
- [ ] @msporny will submit a PR that adds the definition to the vocab

[2019-03-05 13:38] brentzundel commented on #429
Decision from F2F in Barcelona:
We should not use schema.org
we should not have an embedded context. This will make the examples too complicated.
- [ ] @msporny will submit a PR that fixes the definition of '@context' in the data model to support objects.
- [ ] @chaals will allocate and publish the JSON-LD context used for examples.

[2019-03-05 13:40] brentzundel commented on #430
Decision from F2F Barcelona:
This is an editorial issue. @msporny will continue to lead it.

[2019-03-05 13:44] brentzundel commented on #432
Decision from F2F Barcelona:
- [ ] @David-Chadwick will submit a PR that addresses this.

[2019-03-05 13:47] brentzundel commented on #435
Decision from F2F Barcelona:
- [ ] @brentzundel will address this via the new PR referred to in Issue #414
- [ ] @brentzundel will link that PR to this issue.
This issue should be closed when the PR is merged.

[2019-03-05 13:50] brentzundel commented on #436
Decision from F2F Barcelona:
The support for this depends on the underlying syntax standards.
- [ ] @msporny will submit a PR that adds language explaining how JSON-LD 1.1 addresses this.
- [ ] @chaals will submit a PR that recommends the approach an issuer who uses JSON should take to address this issue, along with an example.

[2019-03-05 13:51] brentzundel commented on #437
Decision from F2F Barcelona:
- [ ] @chaals will submit a PR that changes the type for a date from ISO8601 to W3C date-time.

[2019-03-05 14:46] brentzundel commented on #421
Decision at F2F in Barcelona:
This would be really nice, but must be deferred. Requiring it before CR may be hazardous.

[2019-03-05 14:57] msporny opened #441 "Either proof or JWT MUST be provided."
The current spec states that proof is required. It is optional if a JWT is specified, and mandatory if a JWT isn't specified. Specify that at least one proof mechanism MUST be used.

[2019-03-05 14:57] awoie commented on #438
please also update the corresponding test in the test suite and make the proof property optional.

[2019-03-05 15:07] dmitrizagidulin commented on #128
Issue opened on the Implementation Guide - https://github.com/w3c/vc-imp-guide/issues/1

This one can be closed.

[2019-03-05 15:15] dmitrizagidulin commented on #203
Issue opened on the impl. guide - https://github.com/w3c/vc-imp-guide/issues/2

This issue here can be closed.

[2019-03-06 10:02] glauserr commented on #435
@brentzundel thanks for your fast response. I agree, not everybody have to implement zero knowledge proof systems, but it does not supersede to standardize it.
The section in the document does only give some examples about ZK support of verifiable credentials and verifiable presentations. It does create a standard for it. E.g Indy's anoCred implementation of vc and vp has a different format than t

[2019-03-07 15:56] jonnycrunch commented on #421
@dmitrizagidulin

as we discussed in Barcelona the `application/vc+json` would imply JSON-LD as the current vc-data-model clearly states `MUST` use an `@context` attribute and that value `MUST` be an array of URI. And the way that it is realized implies JSON-LD and would thus nullify other approaches (mine and JWTs) for the reasons stated in our face2face.  At present, I think that it is premature

[2019-03-07 16:39] burnburn commented on #135
Created https://github.com/w3c/vc-imp-guide/issues/4 in Imp-Guide to continue this.  Closing.

[2019-03-07 16:39] #135 closed

[2019-03-07 16:40] stonematt commented on #136
Moving to https://github.com/w3c/vc-imp-guide/issues/5

closing.

[2019-03-07 16:40] burnburn commented on #162
Created https://github.com/w3c/vc-imp-guide/issues/3 in Imp-Guide to continue this.  Closing.

[2019-03-07 16:41] #128 closed

[2019-03-07 16:47] burnburn commented on #427
Reminder email sent to @ashimura .

[2019-03-07 16:52] #203 closed

[2019-03-07 18:21] jonnycrunch commented on #421
more thoughts on the IPLD MIME types:

https://github.com/ipfs/ipfs/issues/36

in essence,  JSON-LD is completely compatible on top of IPLD, but IPLD is not completely backwards compatible with JSON-LD.  What is missing for backwards compatibility is to register `ipld:` as a valid scheme for `{ "/" : "\<cid\>" }'.  see: https://github.com/ipld/specs/issues/98

[2019-03-07 22:06] #441 closed

[2019-03-07 22:06] #383 closed

[2019-03-07 22:06] #428 closed

[2019-03-07 22:06] #430 closed

[2019-03-07 22:06] #433 closed

[2019-03-07 22:06] #438 closed

[2019-03-08 15:45] aphillips commented on #437
(I don't have permission to reopen)

I made a comment on the PR. The reference change on its own isn't quite sufficient, since RFC3339 provides a number of predefined formats. The use of `date-time` explicitly is an important part of the comment.

[2019-03-08 16:37] msporny commented on #437
Ok, reopened, working on it now.

[2019-03-08 16:40] #437 closed

[2019-03-08 16:41] msporny commented on #437
Alright, closed in https://github.com/w3c/vc-data-model/commit/c0dafd0250f3c6d212bac7a356b6f449c56b4bc9 ... let me know if that doesn't work for you @aphillips.

[2019-03-08 16:56] msporny commented on #419
I checked, he said we may still need it in the future, but we can always add it later. Digital Bazaar has no strong use cases that absolutely require the field.

[2019-03-08 16:59] #419 closed

[2019-03-08 17:09] aphillips commented on #437
Thanks Manu. LGTM.

[2019-03-08 18:11] brentzundel commented on #435
@glauserr, I am in the process of submitting PRs to address some issues
related to the zkp section, one of which may address the examples.
The current format of indy credentials and presentations is quite different
from the examples in the data model, but rather than try to introduce the
current format of indy credentials into the W3C Verifiable Credential data
model, @ken-ebert and I are working

[2019-03-08 20:12] stonematt opened #444 "RESOLUTION: Make the expression of the @context property mandatory in the data model"
based on discussion and resolution on Day 2 in Barcelona.  Update spec to reflect that @context is a required attribute.

See https://www.w3.org/2019/03/05-vcwg-minutes.html for details.

[2019-03-08 20:17] stonematt commented on #222
See issue in implementation guidance: https://github.com/w3c/vc-imp-guide/issues/6

[2019-03-08 20:23] stonematt commented on #222
Move dialog to issue in Implementation Guide, Leave open until ImpGuide content addresses this.

[2019-03-08 20:24] stonematt commented on #222
@brentzundel when you update the privacy section, please remove the CR-Blocker tag and Add the CRExit-Blocker tag.

[2019-03-08 20:32] burnburn commented on #391
Requested @ashimura  to obtain the URL.

[2019-03-08 20:36] jonnycrunch commented on #421
also, I can image we will support a `application/vc+ipld+json` format that serializes the cbor to deterministic JSON string representation and thus my point that `application/vc` which implies JSON-LD still holds given the spec constrains the implements to JSON-LD which is not your intention for other JSON sub-types.  I think that it is fine to constrain `application/vc+ld+json` to use an array of

[2019-03-08 21:00] burnburn commented on #435
I believe the request to standardize anonymous credential use in VCs is a new feature request.  It is the chairs' understanding that such use is already possible, even if not standardized.  Clarification of that use is appropriate at this stage, but as feature freeze was last November it would be inappropriate to standardize a full new feature.

[2019-03-08 21:29] David-Chadwick commented on #444
I can add this to the PR on conformance if required

[2019-03-08 22:04] msporny commented on #444
This issue would be fixed if PR https://github.com/w3c/vc-data-model/pull/443/files#diff-eacf331f0ffc35d4b482f1d15a887d3bR857 is merged.

[2019-03-11 02:50] grantnoble commented on #408
PR #445 to address this issue.

[2019-03-11 21:57] ken-ebert commented on #394
I have reviewed the usage of MAY, MUST, MUST NOT, RECOMMENDED and SHOULD throughout the non-normative sections of the specification.

I looked at both uppercase and lowercase usage of each term.
My results are :
0 uses of "MAY" or "may" require correction.

1 uses of "MUST" or "must" require correction.
  Section 5.2 Trust Model
    ... "To establish this trust, a credential MUST either:"
    will

[2019-03-12 14:00] dlongley commented on #42
I don't think we can deal with this in 1.0 -- we should close it or mark it as future work if that's a thing we're doing.

[2019-03-12 14:53] msporny opened #446 "Verification section contains normative statements for verifiers"
Section 7: Verification still contains a few normative statements for verifiers. These statements need to be changed to be advisory/non-normative statements about the expected values in the data model without mentioning verifiers or issuers.

[2019-03-12 15:20] stonematt commented on #222
@brentzundel to complete by EOW March 15

[2019-03-12 15:22] jonnycrunch commented on #429
This could be related to the MIME type discussion. see: https://github.com/w3c/vc-data-model/issues/421#issuecomment-470582105

[2019-03-12 15:28] msporny commented on #413
Tagging @rhiaro and @ken_ebert to review these non-normative changes after they go in.

[2019-03-12 15:29] jonnycrunch commented on #444
This is a related issue:  https://github.com/w3c/vc-data-model/issues/421#issuecomment-471068235

[2019-03-12 15:35] stonematt commented on #432
watch PR #443 for Evidence language

[2019-03-12 15:37] jonnycrunch commented on #440
related to https://github.com/w3c/vc-data-model/issues/421#issuecomment-470582105

[2019-03-12 15:53] David-Chadwick opened #447 "Is Proof mandatory or optional?"
The Proof is said to be mandatory in a VC but the JWT mapping says it is optional.
I suggest that JWT makes it mandatory and sets the type to JWT with no further content

[2019-03-12 17:31] brentzundel commented on #222
first attempt is in PR 448

On Tue, Mar 12, 2019 at 9:27 AM stone <notifications@github.com> wrote:

[2019-03-12 19:16] BigBlueHat commented on #421
MIME media type declaration concerns could be considered as "solved" for the data model spec--which signals it's using existing processing models (perhaps profiled) for JSON-LD and JSON. Consequently, it seems like a protocol concern.

Creation of a protocol (even an "open file" protocol/process) would be the moment to introduce a new media type.

Given that this is a data model is currently seria

[2019-03-13 18:48] fulldecent opened #450 "Please provide citation to 0xcert"
Hello, thank you for publishing this document, I'm happy to follow along and see where it leads.

It appears that certain concepts in this paper are derived directly from the 0xcert white paper and/or technical paper (from 0xcert). This includes exposing partial information inside a cryptographically secure claim.

Please provide the due citation by referencing 0xcert and the authors of the whitep

[2019-03-13 19:43] brentzundel commented on #450
As the author of most of the sections of the data model that deal with zero-knowledge proofs, I can assure you that no part of this paper is derived from 0xcert. I have never heard of 0xcert before this moment, but look forward to learning more about you, due to the potential similarities in our principles.

I am a strong proponent of individual privacy and work closely with a number of others who

[2019-03-13 20:15] fulldecent commented on #450
Pinging the people mentioned @xpepermint @jurezih

[2019-03-13 20:29] xpepermint commented on #450
Nice discussion and thank you @fulldecent for opening this issue.

I'm aware of this proposal and I think it's great to see others recognize the same benefit! We are interested to reconsider the current algorithm and to somehow align it with this standard.

@brentzundel would you help us upgrade the algorithm for the https://github.com/0xcert/framework?

[2019-03-14 12:01] pmcb55 commented on #421
Hi @jonnycrunch (and @dmitrizagidulin @msporny) - can I ask if you guys got to read the article I mentioned above (https://ruben.verborgh.org/articles/fine-grained-content-negotiation/)? The ideas there (i.e. that trying to encode multiple dimensions into a single MIME type, like `application/vc+ipld+json` for instance, is a *bad* idea!) contain a far better alternative that is being formally stan

[2019-03-14 14:08] burnburn commented on #447
Decision at Barcelona f2f was that one, or the other, or both, was acceptable.  We just need a PR.

[2019-03-14 15:21] stonematt commented on #427
use this?
https://github.com/w3c/vc-data-model/blob/gh-pages/contexts/credentials-v1.jsonld

[2019-03-14 15:39] burnburn commented on #436
Hey @msporny @chaals I thought both of you said that Manu had submitted the second PR, but I can't find it.  Can you please link it here?

[2019-03-14 15:47] burnburn commented on #444
Issue #421 has been deferred.  However, your comment may still be relevant to how this issue (#444) is resolved.

[2019-03-14 20:18] brentzundel commented on #222
All work items fro Barcelona are complete. Not sure if this issue needs to stay open.

[2019-03-14 20:20] brentzundel commented on #444
This issue has been addressed by PR #443

[2019-03-14 20:20] brentzundel commented on #440
This issue has been addressed by PR #443

[2019-03-14 20:22] brentzundel commented on #432
This issue has been addressed by PR #443

[2019-03-14 22:32] burnburn commented on #413
I reviewed the changes and reported on 12 March 2019 that there are still normative statements about processors in the conformance section and multiple normative statements in section 7.  Once those are fixed (which @msporny volunteered to do) I will sign off.

[2019-03-14 22:34] burnburn commented on #391
@ashimura says W3C webmaster not happy with VCWG claiming the "security" context and that users will be confused by what it means. Chair decision to go with Kaz' suggestion of https://www.w3.org/2018/credentials/security for now.  Can always request another top-level vocab later.  Waiting for @ashimura .

[2019-03-15 00:55] #446 closed

[2019-03-15 01:03] msporny commented on #413
I've refactored the spec in https://github.com/w3c/vc-data-model/commit/cd4d5fc39a94ac7d0e9ed49bab11f12fbb76629b in the following way:

* Removed duplicated conformance statements that are expressed earlier in the specification. Things like "you MUST express the document in a valid syntax", which is clearly stated earlier in the document.
* Removed conformance statements related to what issuers/ho

[2019-03-15 01:04] #413 closed

[2019-03-15 01:11] msporny commented on #432
PR #443 has been merged. There is now language in the specification that addresses the issue that was raised. Closing this issue. Reopen if you disagree.

[2019-03-15 01:11] #432 closed

[2019-03-15 01:15] msporny commented on #440
PR #443 has been merged. Closing this issue as the updated conformance statements written by @David-Chadwick and refined by @brentzundel and @msporny are in the spec now. Reopen if you disagree.

[2019-03-15 01:15] #440 closed

[2019-03-15 01:17] msporny commented on #427
@ashimura, please map the following URLs:

https://www.w3.org/2018/credentials/v1
https://www.w3.org/2018/credentials/security/v1
https://www.w3.org/2018/credentials/security/v2
https://www.w3.org/2018/credentials/examples/v1

to the following locations:

https://w3c.github.io/vc-data-model/contexts/credentials/v1
https://w3c.github.io/vc-data-model/contexts/credentials/security/v1
https://w3c.git

[2019-03-15 01:19] msporny commented on #427
@chaoxinhu wrote:

See this section -- https://w3c.github.io/vc-data-model/#syntactic-sugar

specifically:

[2019-03-15 01:22] msporny commented on #444
PR #443 has been merged. The new language addresses the original issue that was raised. Closing this issue. Reopen if you disagree.

[2019-03-15 01:22] #444 closed

[2019-03-15 01:25] msporny commented on #439
Moved to https://github.com/w3c/vc-imp-guide/issues/8 ... this issue will be tracked over there now. Closing issue.

[2019-03-15 01:26] #439 closed

[2019-03-15 01:29] #136 closed

[2019-03-15 01:33] msporny commented on #394
Fixed in https://github.com/w3c/vc-data-model/commit/bf894cfa426d0de55aa0888c5a6f9783b7f49f66

[2019-03-15 01:34] msporny commented on #394
Section 4 is a normative section, so MUSTs/SHOULDs/MAYs are ok there. I'm making a pass on the spec to clearly mark non-normative sections in case any are missing the distinction due to edit conflicts.

[2019-03-15 01:56] msporny commented on #394
Made another pass here -- didn't find any misplaced normative statements in non-normative sections 6d157ca54e192f8461c7d5b87508ce4d4c342e20.

Closing issue. Please re-open if you disagree.

[2019-03-15 02:08] msporny commented on #408
PR #445 has been merged. Changes have also been applied in 6d157ca54e192f8461c7d5b87508ce4d4c342e20 that relate to this issue. The issue has been resolved. Please re-open or submit a correcting PR if the issue has not been addressed.

[2019-03-15 02:08] #408 closed

[2019-03-15 02:16] msporny commented on #422
Fixed in 62d109e98e74048fb766deb4115e77bd6d358bf3.

[2019-03-15 02:16] #422 closed

[2019-03-15 02:30] #429 closed

[2019-03-15 02:36] msporny commented on #429
The data model now supports objects when associated with the @context property (via https://github.com/w3c/vc-data-model/commit/4dab1345c5ac3d71aedea9f6e2f0a5c0c0d18f61). Thanks to @jonnycrunch for catching that bug in the spec.

The examples JSON-LD Context will be published at:

https://www.w3.org/2018/credentials/examples/v1

and will contain the following content (which may change during CR ba

[2019-03-15 02:41] msporny commented on #436
Not yet, working on it now.

[2019-03-15 04:00] msporny commented on #436
I added an i18n considerations section in https://github.com/w3c/vc-data-model/commit/1cadfb11f2c9e7ed09dcba7cde3fe2c9d1b41f77. It provides some guidance wrt. how to handle i18n correctly based on work done in the W3C Publishing WG and W3C JSON-LD 1.1 WG.

Closing issue, please re-open if you disagree with the solution.

[2019-03-15 04:11] msporny commented on #447
Fixed in 0985ddc6ef4ac2e937f5040ee9578613c56f81de. Please re-open the issue if you disagree.

[2019-03-15 04:11] #447 closed

[2019-03-15 17:53] brentzundel commented on #414
PR #453 is in, if merged that will close this issue.

[2019-03-15 17:55] brentzundel commented on #450
@xpepermint I will certainly help where I can.

[2019-03-15 17:55] brentzundel commented on #450
This is an editorial change, recommend we discuss this in the WG.

[2019-03-15 18:04] brentzundel commented on #450
@fulldecent @xpepermint @uosvald
If you are interested in community efforts around digital identity, data privacy, SSI, etc. you might like to check out [the CCG](https://w3c-ccg.github.io/) and [RWoT](https://www.weboftrust.info/index.html).

[2019-03-15 20:34] msporny commented on #414
PR #453 has been merged. Closing this issue. Reopen if you disagree.

[2019-03-15 20:34] #414 closed

[2019-03-15 20:41] msporny commented on #391
@ashimura, please map the following URLs:

https://www.w3.org/2018/credentials/v1
https://www.w3.org/2018/credentials/security/v1
https://www.w3.org/2018/credentials/security/v2
https://www.w3.org/2018/credentials/examples/v1

to the following locations:

https://w3c.github.io/vc-data-model/contexts/credentials/v1
https://w3c.github.io/vc-data-model/contexts/credentials/security/v1
https://w3c.git

[2019-03-17 01:45] chaals commented on #436
The current approach assumes that processors can handle HTML - it makes sense to test this in CR as implementation information so I am not re-opening.

An alternative would be to make strings into arrays or objects,  taking some of the @language approach from JSON-LD 1.1 (which could be readily extended to handle base direction with something like `@textDirection` ...)

For cases where a field is

[2019-03-17 18:58] aphillips commented on #436
I don't have permission to reopen.

There are a number of problems with the text in the I18N Considerations section, which I will attempt to address with comments on 1cadfb1.

The other problem here is that none of the examples adopt recommended usage. I scanned the document closely looking to see if the spec defined any natural language fields itself (as opposed to just using them as examples) an

[2019-03-17 22:27] rhiaro commented on #394
In https://github.com/w3c/vc-data-model/commit/9331c440e4f6a54a0e631efc0eb7aab082fb0e84 I made the following minor editorial fixes:

* Change status of VC-USECASES from FPWD to NOTE.
* Add "atrisk" class to all feature at risk issues.
* Change a "MUST .. optionally" to "MAY" in termsOfUse.
* Mark 5.10 Authorization as non-normative.

And I'm reopening this issue pending resolution (hopefully easy)

[2019-03-18 07:00] chaoxinhu commented on #427
Thanks for your assistance @msporny ! Really appreciated.

[2019-03-18 16:31] ken-ebert opened #455 "Extra ">" character in CR draft."
In section 1.3
"Holders can store verifiable credentials in any location, without affecting their verifiability> and without the issuer knowing anything about where they are stored or when they are accessed."

has an extra ">" character.
Suggest change to:
"Holders can store verifiable credentials in any location, without affecting their verifiability and without the issuer knowing anything about

[2019-03-18 16:36] #435 closed

[2019-03-18 16:46] ken-ebert opened #456 "Revocation should not reveal to the issuer any identifying information?"
I don't understand this statement in section 1.3:
"Revocation should not reveal to the issuer any identifying information about the subject, the holder, the specific verifiable credential, or the verifier."

The issuer created the credential in the first place, therefore they know all of the identifying information contained in the credential about the subject, who they issued the credential to (h

[2019-03-18 16:55] stonematt commented on #456
Yes. The extreme negative case is issuing a perfectly private credential,
then publishing an open list of individuals whose credentials have been
revoked.

The revocation shouldn’t expose additional information about the holder or
credential. (Information that a verifier or anonymous public could peruse)

.stone

On Mon, Mar 18, 2019 at 12:46 Ken Ebert <notifications@github.com> wrote:

[2019-03-18 17:31] ken-ebert commented on #456
Does this capture the intent more accurately?
"Revocation by the issuer should not reveal any identifying information about the subject, the holder, the specific credential, or the verifier."

[2019-03-18 17:46] stonematt commented on #456
Please Suggest it and tag joe, Tzviya and me
On Mon, Mar 18, 2019 at 13:32 Ken Ebert <notifications@github.com> wrote:

--
-stone

[2019-03-18 17:51] ChristopherA commented on #253
I think that this issue should be changed to request the TAG or the W3Process "Evergreen Standards" group to give advice on it.

The scenario I'm trying to avoid is a specification that has "international standard" status but should be deprecated for security or privacy reasons.

As the co-editor of IETF TLS 1.0 from 1995 to it's release in the beginning of 1999, I was quite disappointed when ther

[2019-03-18 18:05] chaals commented on #253
Agree this is not a CR-blocker. I think that we should point out to W3C that the [maintenance process](https://www.w3.org/2019/Process-20190301/#revised-rec) should be used actively, in particular to deprecate things that we come to consider harmful in the future in an [Amended Rec](https://www.w3.org/2019/Process-20190301/#rec-amended) if there is no Working Group...

[2019-03-18 21:42] ken-ebert opened #457 "Editorial: the holder posses"
In section 5.1 Lifecycle Details:
"6. The verifier verifies that the holder posses the verifiable credentials."

I think that "posses" should be "possesses".

[2019-03-18 22:18] ken-ebert opened #458 "Refreshing questions"
In section 5.5 Refreshing, there are two topics I have trouble understanding:

1.      "The issuer can include the refresh service as an element inside the verifiable credential if it is intended for either the verifier or the holder (or both), or inside the verifiable presentation if it is intended for the holder only."

It is my understanding that the holder is the one who generates a verifiable

[2019-03-18 22:20] ken-ebert opened #459 "Editorial issue: 5.5 Refreshing: missing space"
Editorial issue:
"In the example above, the issuer specifies a manual refreshService that can be used by directing the holder or the verifierto https://example.edu/refresh/3732."
is missing a space between "verifier" and "to".

[2019-03-19 00:24] ken-ebert commented on #394
The CR draft has normative language appearing non-normative sections B.1 Subject is Holder and B.1.1 nonTransferable Property.

[2019-03-19 00:49] #455 closed

[2019-03-19 00:51] chaals commented on #457
Fixed by b3bc88d

[2019-03-19 00:51] #457 closed

[2019-03-19 00:52] chaals commented on #459
Fixed by b3bc88d

[2019-03-19 00:52] #459 closed

[2019-03-19 04:18] ken-ebert commented on #456
I created PR #461. It initially failed due to unlinked w3c account. I fixed that.

[2019-03-19 04:24] ken-ebert commented on #456
Ready for merge, if approved. @stonematt @TzviyaSiegman @jandrieu

[2019-03-19 05:51] ashimura commented on #427
Regarding the redirection from www.w3.org to w3c.github.io, I'm asking the W3C Webmaster to set up the configuration.

Please note that after some more discussion with @burnburn and @stonematt , I'm asking the Webmaster to set a redirection from https://www.w3.org/2018/credentials to https://w3c.github.io/vc-data-model/contexts/credentials/ so that we can add necessary addition (e.g., V2 examples)

[2019-03-19 06:42] RieksJ opened #462 "Add "information related to the kind/type of credential" as a bullet in section 1.1"
Section 1.1 lists 5 pieces of information that a physical credential consists of. It seems obvious that the idea here is to mimic these pieces for digital credentials. If this is the intention of the authors, then **I suggest to add another piece of information: "information related to the kind/type of the credential (for example: Dutch passport, American driving license, Health insurance)"**.

In

[2019-03-19 06:48] RieksJ opened #463 "Not every entity can perform a role in the ecosystem."
The definition of "entity" says: "A thing with distinct and independent existence, such as a person, organization, concept, or device. An entity can perform one or more roles in the ecosystem."

However, a concept, while being one of the examples of a thing, cannot perform any of the roles in the ecosystem. I suggest to leave the last sentence out and just stick with the definition.

[2019-03-19 07:02] talltree commented on #463
+1.

On Mon, Mar 18, 2019 at 11:48 PM Rieks <notifications@github.com> wrote:

[2019-03-19 07:02] jandrieu commented on #463
The goal of that sentence is to make it clear that those entity performing a given role, such as an Issuer, may also perform the other roles in the system. So I'm hesitant to cut out the last sentence.

That said, I agree. The definition could be improved. Personally, thinking of concepts as entities makes no sense to me, as "independent existence" doesn't seem to be met for ideas, which by their

[2019-03-19 07:07] RieksJ opened #464 "Does 'subject' relate to credentials or to claims?"
The definition of credential says that it is a set of claims about one or more subjects. Also, section 1 mentions "Information related to the subject of _**the**_ credential", suggesting that there is precisely one.

'Subject' is defined as 'An entity about which claims are made.', and - as mentioned already in #106 - it is not self-evident that a credential is issued to an entity that is also the

[2019-03-19 07:22] RieksJ commented on #463
I prefer to distinguish between standards documents (that serve the purpose of different people doing or knowing stuff in the same way) and documents that serve educational/awareness purposes, that can be more elaborate. I hate having to go through educational texts when I'm just looking for what is commonly agreed upon. So I suggest to strike the last sentence, because this is a standard. If we n

[2019-03-19 07:22] RieksJ opened #465 "Definition of 'credential"
Section 1.1. has "A verifiable credential can represent all of the same information that a physical credential represents". While not normative, it would be nice to accomodate for this in the definiton of 'credential', which currently is "A set of one or more claims made by an issuer. "

I suggest to rephrase that, e.g. as follows: "A set of one or more claims, and metadata about this set, made by

[2019-03-19 07:29] RieksJ opened #466 "Faulty description of the issuer role"
Section 1.2, specifies the role of issuer as: "A role an entity might perform by creating a verifiable credential, associating it with a specific subject, and transmitting it to a holder."

This text is wrong, since a (verifiable) credential is (amongst other things) a set of claims that may pertain to multiple subjects, none of which would need to represent the holder. I suggest to strike out the

[2019-03-19 07:34] jandrieu commented on #463
Ok. That's a great argument, @RieksJ, I withdraw my opposition.

As for subjectivity, you raise a delightful rabbit hole I didn't intend to open up. *Ideas* are, IMO, by definition subjective, regardless of whether or not people or things are objective in any physical sense of the word. One positive consequence of your position however, is already nicely embodied in the VC architecture, namely tha

[2019-03-19 07:58] RieksJ commented on #57
I would say that since this is a standard, we should only define terms (or roles) if it is relevant for understanding and/or working with the standard. That relevance should then also be documented.

[2019-03-19 07:58] RieksJ opened #467 "Do we need 'actor' - 'agent' - 'party'?"
In order to make VCs practicable, it will become necessary to clearly distinguish between:
- entities that cannot act (concepts, rocks, organizations) and entities that can act (e.g. people, computer programs that are running on a machine, robots). I will call the first class of entities 'actors' (and the rest 'non-actors').
- entities that have K-ledge* (organizations, individuals) and entities t

[2019-03-19 07:59] David-Chadwick commented on #463
I agree that "concept" should be removed from the set of things that can participate in the eco-system. I also think the second sentence about one or more roles is valuable, since it adds value, but suggest replacing can with may.

[2019-03-19 08:12] RieksJ commented on #463
@David-Chadwick : while I agree that no 'concept' should participate in the eco-system, concepts do belong to the class of entities, and therefore 'concept' is a valid example of an entity. It is also a nice example of why we also need terms to distinguish between entities that do and those that do not have additional characteristics, such as whether or not they can participate in the eco-system.

[2019-03-19 08:19] RieksJ commented on #463
@jandrieu: I'm so happy with your statement "that VCs are always statements by an explicit author and never objective "facts" with implied authorship" as I feel that it cannot be overemphasized. It seems to me that only a few people seem to grasp what it means that all this stuff is subjective, and a natural consequence of acknowledging that the world we live is fundamentally decentralized. IMHO,

[2019-03-19 08:20] David-Chadwick commented on #458
The issuer may generate a VP in order to send the VC to the holder, so would include refresh info in this VP that is specifically for the holder. Better wording might be

 The issuer can include the refresh service as an element inside the verifiable credential if it is intended for either the verifier or the holder (or both), or inside the verifiable presentation if it is intended for the holder

[2019-03-19 08:27] chaals commented on #466
The text says "...might perform..." - i.e. it is an example. Furthermore the section is non-normative. I suggest closing this issue with no further action.

[2019-03-19 08:55] David-Chadwick commented on #463
So we have two different entities (at least)
1. claims: that can be about concepts or things
2. roles: which participate in the eco-system
Lets not mix up the two because these entities are not the same sets of things.

[2019-03-19 08:58] David-Chadwick commented on #463
P.s. I think this is tied to #467

[2019-03-19 09:17] chaals commented on #467
Claims don't represent anything about the ability to reason, hold perceptions, etc.

They represent statements made by an entity - the issuer, which can be held or presented by an entity, an entity can request a verification, etc.

So the idea of a "party" as you describe it above is not actually necessary. (If it were, I would strongly suggest a different term, since a "party" in such a context w

[2019-03-19 09:27] chaals commented on #463
A concept can perform the role of "claim".

That said, it appears that the goal of the definition in the specification is to restrict the meaning used to things that *do* perform a role in the ecosystem. Perhaps it would be clearer to say in the description:

In any event this is an editorial issue - the terminology section is non-normative and this does not materially affect implementation or con

[2019-03-19 09:40] chaals commented on #462
That is "information related to the specific attribute(s) or properties being asserted..." (e.g. that the subject has been approved to drive a car, small bus, or bulldozer in the state of Massachusetts), which is already there.

As an editorial improvement it would make sense to clarify this with an example, as is already the case with preceeding points in the list.

[2019-03-19 09:40] DianeFeng opened #468 "Anybody knows about the details of vc?"
Anybody knows about the details of vc? I don't really understand very much>=<

[2019-03-19 09:54] jandrieu commented on #463
I think @chaals gets it right.

I'd like to flesh out these distinctions @RieksJ and suggest we spin up an effort at the CCG, including the terminological issue #467 .

I suggest we avoid these issues for the proposed CR, although @chaals editorial suggestion I think fixes this particular section in a way that doesn't lose the original intention.

[2019-03-19 09:55] jandrieu commented on #467
+1 for closing and picking up the thread in the CCG.

[2019-03-19 10:36] burnburn commented on #467
Agreed.  This is a major ecosystem question, which belongs in the CCG.  @RieksJ I suggest you contact @jandrieu directly about how to start this discussion there.  I will close this issue here, but feel free to point to it from any CCG issue you raise.

[2019-03-19 10:36] #467 closed

[2019-03-19 10:40] burnburn commented on #468
Hi @DianeFeng you might find this primer helpful:  https://github.com/WebOfTrustInfo/rwot7-toronto/blob/master/topics-and-advance-readings/verifiable-credentials-primer.md

If you are interested in the work, I suggest visiting the [Credentials Community Group](https://w3c-ccg.github.io/).  It is a good entry point into this space.

[2019-03-19 10:40] #468 closed

[2019-03-19 11:48] RieksJ commented on #466
@chaals: I object to your suggestion because (to me) a standard should not contain any texts that are obviously inconsistent.

[2019-03-19 12:58] jricher opened #470 "JWS Examples and JOSE Consistency"
The JWS examples in the LD Proofs section use the JWS Detached method from RFC 7797, while the JWT proofing section uses JWS from the original JOSE suite, with a specific requirement to use the JWT compact serialization. The detached serialization method is not mentioned in either this document or the LD-related documents linked from this specification.

[2019-03-19 14:05] chaals commented on #466
I agree that there should not be obviously inconsistent texts. However, there aren't here. An issuer might associate a credential with a specific subject. In many examples, like driver's licences, degrees, and so on, that is exactly what happens.

It could help clarify the text to put the words "for example" into the sentence.

Is it necessary to add another example showing multiple subjects? I wo

[2019-03-19 15:38] mavarley opened #471 "Implied lack of governance Requirement in issuer/holder/verifier"
Section 1.3:
_“Acting as issuer, holder, or verifier requires neither registration nor approval by any authority.”_

Although from a technology perspective this may be true, ecosystems may very much require approval from an authority in order to accept these parties (practically speaking). I think it should just be called out as “out-of-scope” for this spec. (consistent with  _5.1 "Not sufficient

[2019-03-19 15:38] #456 closed

[2019-03-19 15:42] jandrieu commented on #471
Respectfully, you've just described a requirement for your ecosystems, not for the technology.

[2019-03-19 15:43] mavarley opened #472 "Holder signature in presentation does not indicate consent"
3.4 Example 2:
[code]
I don’t see how this represents consent. There is a missing piece about the wallet that collected the consent. Further, can this be extended to include the termsOfUse (described in the picture) and link to an “evidence” field which could be a consent Receipt?

(I don’t think we want to make consent an explicit part of the presentation spec, but  but I’d like to ability to add

[2019-03-19 15:50] mavarley opened #473 "Need clarity on ID URIs and what dereferencing does"
Section 4.2 "id" and 4.5 "issuer"
_The value of the id property MUST be a single URI. It is RECOMMENDED that dereferencing the URI results in a document containing machine-readable information about the identifier._

I understand what resolving a DID gets the verifier - I am not sure what resolving a HTTP url is supposed to result in (if anything) and when is it recommended to use a non-resolvable

[2019-03-19 16:26] burnburn commented on #473
Anything in this document other than the data model and syntactic representations is out of scope.  The group is expressly prevented from any other definitive guidance.  However, the group was encouraged to provide limited informative guidance.  There is a [separate document](https://github.com/w3c/vc-imp-guide) being started, important to this group, that will provide more implementation guidance

[2019-03-19 16:26] #473 closed

[2019-03-19 16:29] burnburn commented on #436
With the merge of PR #454 and PR #469 this issue is no longer a blocker for CR entry.  It is, however, a blocker for CR Exit at this time since more improvement of the examples and I18N Considerations was requested.

[2019-03-19 16:30] burnburn commented on #427
Done.

[2019-03-19 16:30] #427 closed

[2019-03-19 16:31] burnburn commented on #391
Done.

[2019-03-19 16:31] #391 closed

[2019-03-19 20:01] ken-ebert commented on #394
My previous comment is a duplicate of Amy's item 4 (March 17) above.

[2019-03-19 20:11] mavarley commented on #471
Agreed - but the language in this section of the doc implies more than technology - the suggestion is to add the "ecosystem (or trust framework, etc...) requirements are out of scope". It's already stated later in the document.

Hmm... unless you think adding the above clarification makes the requirement too 'weak' - like saying "anyone is allowed to write software to meet these specs...". What is

[2019-03-19 22:21] burnburn commented on #225
This was actually required for CR, so I added alt text for every image in commit 92abf9f94a624389d445494f9cdbaa07d3c25e38.  If it needs improvement that can occur after CR entry in a new issue/PR, so closing now as complete.

[2019-03-19 22:21] #225 closed

[2019-03-19 22:33] mavarley commented on #471
Actually - I reflected a bit more on this, and maybe the requirement around trust frameworks is not entirely "out of scope" - because (I think) one important aspect of this (and other) spec(s) is there doesn't need to be a cohesive (authoritative) trust framework for entities to trust each other - if that is the intention of this requirement, maybe the clarification is "trust may be established on

[2019-03-19 23:54] jandrieu commented on #471
@mavarley

and

That is precisely correct. It is a slightly different problem space if we are willing to allow issuers / verifiers to mandate who can participate. This spec is intentionally designed to work with any issuer, any verifier, any holder. The trust involved--whether by formal trust framework or just selected brands--is entirely bilateral between parties. Issuer trusts the holder is the

[2019-03-20 12:29] mavarley commented on #471
@jandrieu: completely support the model, and I think you nailed it language wise: "_The trust involved is entirely bilateral between parties_". This makes the current 'anti-requirement' into a clear requirement, while conveying the 'decentralized' architecture.

Consider this a +1 for the above wording being added for clarity, and thank-you!

[2019-03-20 12:51] RieksJ commented on #466
This is not a question of examples, it is a question of wrong texts.

I object to your argument "_The text says "...might perform..." - i.e. it is an example. Furthermore the section is non-normative. I suggest closing this issue with no further action._", because it applies equally well apply to a definition in which the word 'subject' were to be replaced by any other term defined in the text, e.

[2019-03-20 13:41] David-Chadwick commented on #466
I suggest that we replace "might perform" by "performs" for verifier and issuer, and "can perform" by "performs" for holder. But I also suggest that we only enact the PR after the CR has been published, as this is a minor editorial correction that should not cause a delay to the publishing of the CR

[2019-03-20 22:30] TallTed commented on #421
Many good points in Ruben's article, @pmcb55, all of which should be considered when the protocol discussion @BigBlueHat alludes to commences, and, I think, not before.

[2019-03-21 14:00] stonematt commented on #466
+1 to @David-Chadwick in this case.  While I'm not sure we have to agree on whether it's correct or not as it stands, we could tweak it for clarity.

We will definitely wait until after the  CR is approved.

[2019-03-21 15:34] stonematt commented on #472
Anything in this document other than the data model and syntactic representations is out of scope. The group is expressly prevented from any other definitive guidance.

This comment represents something about intent of the users and.  These issues are in the domain of protocol and user agents processing and are out of scope.  We will update the comment and remove that assertion once we're in CR.

[2019-03-21 15:53] mavarley commented on #472
works for me, thank-you.

[2019-03-22 17:17] brentzundel commented on #464
The 'holder' is an entity that possesses a VC. When an issuer issues a VC, the entity to which the credential is issued is a holder. This does not prohibit the concept that the holder may pass the VC to another holder, nor does it imply that the holder is one of the subjects of the credential. The subject(s) of the credential are the entities about whom claims are made.

The reason 'holder' is def

[2019-03-22 17:19] brentzundel commented on #465
I feel this is explained very well already in the terminology section.
From section 3.2:
`A credential is a set of one or more claims made by the same entity. Credentials might also include an identifier and metadata to describe properties of the credential, such as the issuer, the expiry date and time, a representative image, a public key to use for verification purposes, the revocation mechanism

[2019-03-22 17:39] brentzundel commented on #394
This should be changed to informative language.

Yes, this should is deliberately lowercase, as this is related to protocol.

+1

Yes, I think so.

[2019-03-23 14:41] pmcb55 commented on #421
@TallTed @BigBlueHat Yep - totally agree with you both. I just hope this specific Github issue can be referenced if/when MIME types come up in that protocol discussion (just to prevent the above thoughts being lost, or needing to be 'rediscovered').

[2019-03-26 15:21] David-Chadwick commented on #464
We are pretty clear that there can be multiple subjects in a credential. SO if there is any text that tends to fuzzy this, like the one you highlighted, then the solution is simply to fix these occurrences, e.g.
"Information related to the subject(s) of the credential",

[2019-03-26 15:28] burnburn commented on #465
@RieksJ we believe that the response from @brentzundel resolves this issue, with no changes planned for the specification.  We will close this issue two weeks from today if we receive no further concerns from you in the issue.

[2019-03-26 15:34] stonematt commented on #222
No open issues from PING at the moment. New items will be opened as new issues.  Closing.

[2019-03-26 15:48] brentzundel commented on #450
This was discussed in the VCWG meeting on 19 March, 2019. The group determined that the responses here were adequate and this issue should be closed.

[2019-03-26 15:51] burnburn commented on #450
Closing.

[2019-03-26 15:51] #450 closed

[2019-03-26 15:54] burnburn commented on #253
Discussed 26 March 2019.  @ChristopherA Since a) there is a maintenance process for Recommendations, b) this issue is about a concern with mandated cryptography, and c) this data model specification makes no normative statements regarding specific cryptographic suite requirements, we believe this not to be an issue for the specification.  Will close 14 days from today if no additional concerns are

[2019-03-26 15:56] burnburn commented on #462
In call today @David-Chadwick said he would write a PR.

[2019-03-26 15:57] burnburn commented on #472
In call today @stonematt agreed to write a PR.

[2019-03-26 15:59] burnburn commented on #394
In call today @rhiaro said she would provide a PR.

[2019-03-26 16:43] David-Chadwick opened #474 "Schema vs @context"
We now have two ways of saying which schema defines the properties in a VC and VP: the credentialSchema property and the @context property. It is not clear to me which should be used when. I think we need to add some clarification text to the CR to either give an indication of which property should be used to define which schema items in a VC, or to say there are no rules and it does not matter wh

[2019-03-26 21:13] brentzundel commented on #474
As I understand it, they are already quite different as they're defined in the spec.

The **@context** property defines a common vocabulary. E.g. this allows a VC to have the string `VerifiableCredential` as a value, which a processor can map to the value `https://w3.org/2018/credentials#VerifiableCredential`
Really, a context just defines a dictionary of name-value pairs.

The **credentialSchema*

[2019-03-26 21:24] brentzundel opened #478 "protocol statement in id section"
In [section 4.2](https://w3c.github.io/vc-data-model/CR/2019-03-26/#identifiers), there is a protocol statement that incorrectly uses normative language that cannot be enforced.

The text reads:

**This does not match the pattern of all other normative statements in the spec, and therefore I argue that this is actually an editorial change.**

To follow the pattern of all other statements of this t

[2019-03-27 05:25] RieksJ commented on #465
I can live with that. I recognize that while it is my preference of being as precise as possible when stating definitions, others are satisfied when the description is not wrong and readers can find the rest elsewhere.

[2019-03-27 05:25] #465 closed

[2019-03-27 05:39] RieksJ commented on #464
I agree with fixing occurances of text that fuzzy stuff that should be clear. However, the issue I tried (and apparently failed) to bring up isn't fixed by replacing "Information related to the subject of the credential" with "Information rlated to the subject(s) of the credential". The problem is with the meaning of the phrase "the subject of the credential". There is no such thing. You can have

[2019-03-27 05:59] RieksJ opened #479 "Terms of Use for credentials should not be at risk, but requires better purposes"
Section [5.6 Terms of Use](https://w3c.github.io/vc-data-model/CR/2019-03-26/#terms-of-use) specifies a way in which an issuer can specify terms of use policies under which it issued the credential. The examples that are given  are plausible yet theoretical, and there is a `FEATURE AT RISK` warning at the end of the section, because there might not be sufficient implementer support.

Here I would

[2019-03-27 06:59] RieksJ opened #480 "Avoiding confusion by renaming 'credentialSubject'"
In [section 4.4](https://w3c.github.io/vc-data-model/CR/2019-03-26/#credential-subject), the term 'credentialSubject' is defined, suggesting a relation between the credential in which it is included and a 'Subject', i.e. an entity about which claims are made. However, the credentialSubject section contains a list of claims, rather than a (or more) subject(s).

This issue calls for renaming 'creden

[2019-03-27 07:38] RieksJ opened #481 "Subject matters (conflicting definitions, meaningless use, ...)"
[Section 1.2](https://w3c.github.io/vc-data-model/CR/2019-03-26/#ecosystem-overview) defines 'subject' as: `A role an entity might perform by having one or more verifiable credentials asserted about it`. [Section 2](https://w3c.github.io/vc-data-model/CR/2019-03-26/#terminology) defines it as: `An entity about which claims are made`.

While these definitions may seem to be the same, the first (and

[2019-03-27 08:06] nadalin opened #482 "Introduction is misleading"
The introduction is misleading as this talks about signing .. "he addition of technologies, such as digital signatures, makes verifiable credentials more tamper-evident and more trustworthy than their physical counterparts." this specification does not implement signatures.

[2019-03-27 08:11] nadalin opened #483 "Section 4.1 Context"
There is no reason to have the @Context this should removed or at least made optional. @Context is not needed when suing JWT or even CWTs as claims

[2019-03-27 08:17] nadalin opened #484 "4.3 Types"
"The type system for the Verifiable Credentials Data Model is the same as for [JSON-LD] and is detailed in Section 5.4: Specifying the Type and Section 8: JSON-LD Grammar"

Should not be forced into JSON-LD as the type data model, this should allow for JSON models such as JWT/CWT. There are many parsers and verifiers out there today for JWT/JWS

[2019-03-27 08:29] nadalin opened #485 "4.5 Issuer"
The Issuer should also allowed to be a JWK

[2019-03-27 08:35] nadalin opened #486 "4.7 Proofs"
A JWT/CWT should be first class, that is making a JWT/CWT an embedded proof. There is no valid  Linked Data Signature specification (which would also require a C14N specification to serialize the JSON-LD, whereas JWT/CWT have well deployed implementations for proofs, requiring no C14N.

Also I did not see any way to encrypt a structure in this specification, a JWT can be signed and encrypted, as c

[2019-03-27 08:48] nadalin opened #487 "4.7 Proofd"
How can there be interoperability if there is no standardized proof mechanism? Suggest that JWS become that standard proofing mechanism

[2019-03-27 08:52] nadalin opened #488 "4.10 Presentations"
There seems to be no standardized presentation, so how can there actually be interoperability ? Suggest this option be at risk. There are many zero-knowledge proofs mechanisms out there in wide usage beyond the limited usage of ZKP. Suggest usage of IDEMIX and U-PROVE.

[2019-03-27 08:55] nadalin opened #489 "4.7 Proofs"
Suggest that this section be marked at risk if there is no interoperable proof mechanism since JSON-LD Signature is not a complete specification, would also suggest the removal of JSON-LD from the specification since this is not in a standards body

[2019-03-27 08:57] nadalin opened #490 "5.2 Trust Model"
I suggest that this section be marked at risk since there is no standard embedded proof mechanism to obtain interoperability on

[2019-03-27 09:00] nadalin commented on #483
There is no reason to have the JSON-LD Context mandatory, this could signify that JSON-LD was being used and not JWT/CWT but not required when having a JWT/CWT Claim

[2019-03-27 09:04] nadalin opened #491 "5.3.1 Semantic Interoperability"
No need to process the @Context unless dealing with JSON-LD, should be made optional

[2019-03-27 09:10] nadalin commented on #491
JWT/CWT are deployed widely in the web, most every RP uses these, so I don't think this should be at risk, what makes this at risk is that these are not first class objects that is they are always within a JSON-LD container, so if that restriction is removed then I think you would see JWT/CWT be widely used instead of JSON-LD. Microsoft is using JWT/CWT

[2019-03-27 09:15] nadalin opened #492 "7.17 In-Private"
This is not a standard, each browser does this different and presents different properties to the user, so this miss-represents the privacy aspects, either clarify the fact that you have to check with the browser you are using or remove

[2019-03-27 09:19] nadalin opened #493 "8. Security Considerations"
There are "musts" in this section yet it is marked non-normative, how can you have a security section that is non-normative with musts to implementers ? Suggest that this section be  rewritten into normative and non-normative sections since this is a very important section

[2019-03-27 09:21] nadalin opened #494 "8.2 Content Integrity Protection"
This is another reason to no make the @Context mandatory, this is not needed when using JWT/CWT.

[2019-03-27 09:23] nadalin opened #495 "8.4 Token Binding"
Token Binding is now an IETF RFC 8471, the link and reference need to be updated

[2019-03-27 09:26] nadalin commented on #495
This should also be a normative reference

[2019-03-27 09:33] nadalin opened #496 "4.8 Expiration"
Suggest that values like expirationDate be changed to match the JWT values already established in the industry, no need to make new claims since when using a JWT you have to use exp anyway and understand the processing

[2019-03-27 09:47] David-Chadwick commented on #478
Brent, whilst I don't object to your rewording, why is this a protocol statement? Surely this is a modelling statement. It is saying that if an object has an identifier that others use when referring to this object, then it must be the ID property.

Note that we have two different types of normative statements about properties:
1. Properties that may be present, but if present MUST have a specific

[2019-03-27 09:48] nadalin opened #498 "TITLE- Verifiable Credentials Data Model 1.0"
There are no interoperable parts of this specification that make these “verifiable” thus this should be just a claims/credential specification, suggest the name be changed as this is very miss leading to the implementor, so maybe just Credentials Data Model 1.0 unless this is changed to make JWT/CWT the base and JSON-LD structures optional.

[2019-03-27 13:53] brentzundel commented on #478
1. According to the spec, an id property is entirely optional.
2. The normative statement here is describing how an id property must be **used**, which is protocol and impossible to test as a data model.

[2019-03-27 14:57] brentzundel commented on #480
+1 to claims

[2019-03-27 15:58] David-Chadwick commented on #464
@RieksJ replacing "subject of the credential" with "holder of the credential", certainly does not cut it because they are not conceptually the same entity. The holder is the entity that currently holds the VC, and may or may not be one of the subjects. The holder may change. However a subject of the VC never changes, regardless of who holds the VC.
So replacing "the subject of the credential" with

[2019-03-27 17:22] nadalin opened #500 "4.9 Status"
There is a mention of a [VC-STATUS-REGISTRY]. Where is this? Who runs this? Why isn't an IANA registry created as there is a whole process in place to register these formats, schemas, etc.

How will interop be achieved if these  are not standardized in a registry accessible to all implementations? This seems to negate a need for a standardized data model?

[2019-03-27 17:27] David-Chadwick commented on #458
This has now been addressed in PR#501

[2019-03-27 17:31] nadalin opened #502 "Charter"
It looks like the WebAuthen WG was missed out of the charter in the Dependencies and Liaisons section., not sure if this was a timing issue on when the groups started or not but the WebAuthn WG should be a Liaison.

Not sure if a charter update can be done at this time, but looks like it should since this was an oversite

[2019-03-27 17:51] David-Chadwick commented on #462
PR#503 fixes this issue and adds further clarification to the other bullet points

[2019-03-27 18:07] David-Chadwick commented on #463
Fixed in PR#504

[2019-03-27 18:18] brentzundel commented on #482
I believe this data model document does not specify which signatures must be used with verifiable credentials because the choice of signature type depends on the protocol within which verifiable credentials will be used.
Per the working group charter, this group may not specify protocol.
This does not mean that a place for signatures (the proof property) cannot be specified in the data model. The

[2019-03-27 18:28] brentzundel commented on #484
It was explained to me that selecting the type system for the Verifiable Credentials Data Model to be the same as the type system for JSON-LD, feed the Verifiable Credentials Data Model from needing to specify its own type system.
It is my understanding that using the JSON-LD type system for this data model does not force any implementor to use JSON-LD, but that JWT/JWS are fully compatible with t

[2019-03-27 18:31] brentzundel commented on #485
Please forgive my ignorance in this matter, is is possible for a JWK to be part of a "document containing machine-readable information about the issuer that can be used to verify the information expressed in the credential." ?

[2019-03-27 18:48] brentzundel commented on #486
There are many ways to sign the data in a credential. The signature suite chosen by an implementer depends almost entirely on the protocol they have developed which makes use of the data model specified here. This group was prohibited by its charter to specify protocol, so the general rule we followed in designing the specification was to avoid prohibiting a signature type that an implementer may

[2019-03-27 18:54] brentzundel commented on #487
I completely agree with the question of how there can be interoperability without a standardized proof mechanism. Unfortunately, this working group is prohibited by its charter to specify protocol. Standardizing the proof mechanism would be a protocol specification. We can only specify the data model. As far as how the data model may be **used**, we are limited to providing non-normative guidance.

[2019-03-27 19:02] brentzundel commented on #488
Determining which features to consider at risk was based on feedback from implementers. To my understanding, all of those who responded said that they would support this feature.

The specifics of what is needed for a verifiable presentation, the proof/verification mechanisms that should be used, the properties that are necessary to support those proof/verification mechanisms, are all protocol dec

[2019-03-27 19:06] brentzundel commented on #489
We are limited by our charter to specifying a data model. Specifying a particular proof mechanism is a protocol decision and therefore, unfortunately, out of scope, regardless of how beneficial that would be for interoperability.
The goal of the working group in specifying the data model was to make it as inclusive of different proof mechanisms as we felt it was possible to be.

[2019-03-27 19:10] brentzundel commented on #490
As mentioned elsewhere, the determination of which features are marked at risk was made based on feedback from parties who plan to implement the data model. This feature has enough implementation support, therefore it is not at risk.
Specifying a standard embedded proof mechanism is beyond the scope of this working group's charter, as we are limited to specifying a data model. It is our hope that

[2019-03-27 19:17] brentzundel commented on #483
There is nothing (to my knowledge) in the data model that prohibits the use of JWT or CWT.
The requirement of a **@context** property does not limit an implementer to JSON-LD, nor is there a requirement that any @context be parsed. The property must simply be present.
My understanding of why this is so, is to increase potential interoperability between JSON-LD and other JSON types. I believe that

[2019-03-27 19:20] brentzundel commented on #491
It is my understanding that processing the **@context** is optional, even though the property is required to be present.

[2019-03-27 19:26] brentzundel commented on #492
Would it address your concern to add the following sentence to the private browsing section?

[2019-03-27 19:34] brentzundel commented on #493
@nadalin Please let me know if PR #505 addresses this issue to your satisfaction, or if there are more changes you feel are needed.

[2019-03-27 19:44] brentzundel commented on #495
@nadalin I have raised PR #506 to update the link to the rfc, thank you for pointing this out.

As far as making this a normative statement, unfortunately our charter limits this group to producing a data model. If this section were normative, it would specify aspects of protocol that we are currently limited to only providing guidance about.

[2019-03-27 19:46] David-Chadwick commented on #483
I think this issue should be linked to #474 and clarifying text added to the spec for both properties.

[2019-03-27 19:47] brentzundel commented on #493
It looks like @chaals beat me to the punch.
PR #499 addresses the same language as #505, so I have closed #505.

[2019-03-27 19:56] brentzundel commented on #495
See #497

[2019-03-27 21:26] brentzundel commented on #471
@mavarley let me know if PR #507 addresses this issue.

[2019-03-27 22:11] brentzundel commented on #494
It is unclear to me how using a JWT to sign a property whose value is a URL, guarantees the integrity of the content located at that URL. Could you help me understand this?

[2019-03-27 22:21] brentzundel commented on #498
It seems to me that the parts of the specification you seem to be looking for, that in your view are required for it to be interoperable and therefore 'verifiable,' are normative statements about a protocol that should be used for verification. This is a data model specification, and therefore does not make normative statements about protocol.

This group has produced, in agreement with its charte

[2019-03-28 07:54] nadalin commented on #483
We have implemented w/o the use of context, there is absolutely no need for the @Context in most cases, I don't understand the requirement here, this should be optional nit mandatory, you don't need this if using JWT yet it is required.

[2019-03-28 08:18] chaals commented on #483
@nadalin:

That's OK - strictly speaking it is not necessary to understand.

That said, as @brentzundel said above. If you have the @context token  then JSON-LD processors (there are several) can do more useful reasoning over the credential, e.g. for managing them, or extensibility. Meanwhile, it has no more practical impact on simplistic tools that don't use it than the rest of the syntax require

[2019-03-28 08:29] nadalin commented on #483
@chaals ok, so don't force to be mandatory @context as it's not always needed, as it complicates processing when really not needed in all cases

[2019-03-28 08:34] chaals commented on #483
Any time interoperability with those who are doing JSON-LD processing is needed - i.e. for a valid credential that you share outside a walled garden, `@context` is necessary. The same as any time interop with JSON processors is needed, getting the commas and braces right is necessary.

**I** don't understand how a token that you recognise but don't process complicates processing. This is a really

[2019-03-28 09:03] David-Chadwick commented on #474
@brentzundel The data model lived without the credentialSchema property until ZKP was added. The @context contained all the schema information that was necessary for extensibility and understanding the contents of a VC.
So we have a disconnect here that needs clarification.

[2019-03-28 09:18] chaals commented on #483
@nadalin

Right. I believe everyone already knows that. You do understand that interoperability between libraries based on JWT and libraries based on JSON-LD needs `@context`, right?

The question I asked was if you could explain the complications for JWT processing when the @context token is present.

[2019-03-28 09:46] David-Chadwick opened #511 "Can JWT represent a verifiable credential with multiple subjects"
The text in 6.3.1 about JWT encoding states

sub MUST represent the id property contained in the verifiable credential subject.

However, a VC can be about multiple subjects e.g. a marriage certificate.

RFC 7519 states

 The "sub" (subject) claim identifies the principal that is the
   subject of the JWT.  The claims in a JWT are normally statements
   about the subject.  The subject value MUST e

[2019-03-28 09:52] David-Chadwick commented on #464
PR#512 fixes this issue

[2019-03-28 10:20] RieksJ commented on #463
@David-Chadwick

PR#504 didn't fix the definition of 'entity' that started this discussion. If the suggestion I did isn't what is called for, you might want to follow [your proposal](https://github.com/w3c/vc-data-model/issues/463#issuecomment-474235469), and change the word 'can' in the definition into 'may' or 'might'.

[2019-03-28 12:54] nadalin commented on #483
The specification says that "The value of the @context property MUST be an ordered set where the first item is a URI with the value https://www.w3.org/2018/credentials/v1. Subsequent items in the array MUST be composed of any combination of URIs or objects that express context information. It is RECOMMENDED that dereferencing the URIs results in a document containing machine-readable information a

[2019-03-28 12:57] nadalin commented on #491
It says "It is RECOMMENDED that dereferencing the URIs results in a document containing machine-readable information about the context. " it also says that the @context value pair MUST be there, no reason for this other than to force JSON-LD IMHO

[2019-03-28 13:01] nadalin commented on #498
This is an non-interoperable specification, you don't know if you have done the proper data model for signatures using JSON-LD, as there are C14N requirements, that work is questionable if this work will finish or be corrrect, So my comment stands IMHO. You don't need a protocol to be verifiable.

[2019-03-28 13:03] nadalin commented on #482
it does unless you have a signature that actually works with the data model chosen, a solution exists for JWT as there are JWS/E/K specifications.

[2019-03-28 13:06] nadalin opened #513 "Normative Reference"
JSON Web Key RFC 7517 (https://tools.ietf.org/html/rfc7517) should be listed as normative

[2019-03-28 13:08] nadalin commented on #494
If this is a JWT and what is pointed to via URL is a JWT you have integrity protection

[2019-03-28 13:10] nadalin commented on #492
Some browsers don't even implement this feature, I can't suggest wording as I'm not part of the WG but if you propose a slight change I would agree

[2019-03-28 13:13] nadalin commented on #488
I don't understand how you will declare interoperability to exit CR unless 1 mechanism is chosen, so this is not to my undestanding a implementation issue its a interop issue where tests can be written to show 2 or more implementation can use same mechanism and interop. If there is no given default mechanism this would remain at risk

[2019-03-28 13:22] nadalin commented on #511
I would take a look at https://datatracker.ietf.org/doc/draft-yusef-oauth-nested-jwt/ which we discussed today at the WG meeting

[2019-03-28 13:30] nadalin commented on #485
Yes, I would look at https://docs.google.com/document/d/1oUDVxWy674ZWG2ElB3YN9bcmSXXR9f2mg60E_Uazigc/edit?ts=5c79597d#heading=h.13xntn55ui60 as a proposal

[2019-03-28 13:58] David-Chadwick commented on #463
@RieksJ You are right. My PR followed the suggestions of @jandrieu and @chaals but looking again at this, I no longer agree with @chaals because claim is not a role in the system. All the roles are specified in section 1.2, and claim is not there. So concept should be removed and then there is no need for "may" in the definition of entity.

[2019-03-28 14:19] David-Chadwick commented on #511
this IETF draft does not appear to be solving the same problem. It is for nesting one credential inside another one. In this case the subjects would not be peers. In our case the subjects are peers and the ordering of the elements in the set of credentialSubjects is not significant.

[2019-03-28 14:52] nadalin commented on #511
There is nothing to say nested JWT are not peers

[2019-03-28 15:19] brentzundel commented on #474
I think you may be confusing @context with type.

@context defines a common vocabulary for those who are willing to do some JSON-LD processing.

In the spec, type has this statement:

I agree that type and credentialSchema are very similar. The difference between them (as far as I can tell) is that type MUST be present, and MUST be a URL, but that URL doesn't actually need to contain anything usef

[2019-03-28 15:40] nadalin commented on #511
You can also just create and register a new claim value that would allow multiple subjects

[2019-03-28 16:11] brentzundel commented on #482
Is it your contention that unless a signature scheme is part of a published specification, that it cannot be considered as a means of verifying a credential?

[2019-03-28 16:19] brentzundel commented on #492
I have proposed a change in PR #510
please let me know if these changes address your concerns.

[2019-03-28 16:19] nadalin commented on #482
I'm not set on a signature as a proof mechanism so I would say unless there is a agreed upon proof mechanism, which there is not today, in the case of a JWT/CWT a JWS or JWE could be used as a proof.

[2019-03-28 16:31] brentzundel commented on #488
I may be wrong, but my understanding of the level of interoperability required for a data model specification to exit CR, is that multiple implementers can create artifacts that fit the data model.

We can only judge interoperability based on how well the credential matches the format of the data model. We can't judge interoperability based on how the credentials are used, because how the credenti

[2019-03-28 16:36] nadalin commented on #488
The text is not marked non-normative, so my understanding is that you will have to show interop on normative parts of the specification as we had this issue with WebAuthn and extensions

[2019-03-28 16:39] brentzundel commented on #485
Thank you for that clarification, and for the document you linked to. That is from one of the groups I wish I had been able to participate in while at RWoT8.

I am not able to see anything in section 4.5 that would not allow a JWK to be used. If I have missed something, I would appreciate more clarification.

[2019-03-28 16:45] brentzundel commented on #494
Ah, thank you. So as long as the URLs are "JWTS all the way down" there isn't a problem with content integrity. I think the content integrity protection section should probably be updated to point out that fact.

[2019-03-28 16:51] nadalin commented on #483
This is how I would see a simple JWT based verifiable crefdential to look like and not have to process/parse the @context
{
  "sub": "did:example:ebfeb1f712ebc6f1c276e12ec21",
  "jti": "http://example.edu/credentials/3732",
  "iss": "did:example:abfe13f712120431c276e12ecab",
  "iat": "1541493724",
  "exp": "1573029723",
  "nonce": "660!6345FSer",
  "vc": {
       "type": ["VerifiableCredential", "

[2019-03-28 16:52] brentzundel commented on #483
@chaals has already made the case for improved interoperability if @context is required to be present.

Your primary concern seems to be the additional (and unnecessary) processing burden for JWT implementations.
@nadalin, would this concern be as significant for you if the specification explicitly stated that even though the @context is mandatory, processing it is not?

[2019-03-28 16:55] brentzundel commented on #513
where in the data model do you feel such a normative statement would belong?

[2019-03-28 16:57] brentzundel commented on #488
It would be very helpful for my understanding of your concerns if you could answer my question.

[2019-03-28 17:06] nadalin commented on #488
If sections are normative then you need to prove interoperability, so for a trust model there would have to be a mechanism defined to achieve interoperability. otherwise the specification may or may not be interoperable

[2019-03-28 18:21] nadalin commented on #513
In section 6.3,1 where you mention JWKS

[2019-03-28 19:16] dmitrizagidulin commented on #494
@nadalin

This is not quite the case, though, which is what I think what @brentzundel's concern was. JWTs provide integrity protection of their payload, but _not_ of the binding between a URL and the contents of a particular document.

The latter type of binding requires a separate mechanism such as Hashlinks.

[2019-03-28 19:18] brentzundel commented on #513
@awoie I believe you may be the best person to address this issue.

[2019-03-28 19:21] brentzundel commented on #488
Do you feel that interoperability needs to be shown beyond two separate implementations that both adhere to the normative statements made in the specification?

[2019-03-28 19:39] brentzundel commented on #491
There are comment in #483 that I believe are pertinent to this issue as well.

[2019-03-28 19:47] brentzundel commented on #498
It sounds like what you are saying is that we can't know if we have done a proper data model until that data model is used. Is that accurate?

[2019-03-28 22:47] David-Chadwick commented on #474
We certainly have quite a significant difference in understanding, so it is clear that clarification is needed to the standard if two people who are intimately involved in producing it have such differences in opinion (its a pity for those who are reading the standard for the first time :-).
Type says what type of VC this is, but this URL may not provide a definition of this type (as you admit, it

[2019-03-29 07:23] chaals commented on #483
@nadalin your proposal explicitly breaks interoperability with JSON-LD processing. That seems like a bad idea, and you still haven't answered the question of what problem you are solving in order to do so.

[2019-03-29 07:38] chaals commented on #483
@nadalin

No, the @context cannot be null.

Where does it say that you should dereference it?

[2019-03-29 07:52] David-Chadwick commented on #491
@nadalin "The use of an IANA registry for the various JWT claims would serve the purpose that the @context does unless I'm missing something here". What you are missing is that VCs are built on an open model, meaning that anyone is free to extend VCs in any way that they want to – “permissionless innovation”, without the need for a centrally managed registry.

[2019-03-29 08:53] nadalin commented on #491
@David-Chadwick There is no requirement in the spec to be decentralized that I can find, there are already dependencies on DNS with JSON-LD and dependencies on registries in this specification so IANA is just fine since the algorithm identifiers are defined in IANA

[2019-03-29 08:57] nadalin commented on #483
@chaals see "ntext
The value of the @context property MUST be an ordered set where the first item is a URI with the value https://www.w3.org/2018/credentials/v1. Subsequent items in the array MUST be composed of any combination of URIs or objects that express context information. **It is RECOMMENDED that dereferencing the URIs results in a document containing machine-readable information about the

[2019-03-29 09:01] nadalin commented on #483
@chaals The issue I'm solving is that there are so many deployments of JWT/CWT and very few in comparaison of VC and thus i'm making it simple to use JWT and actually have a proof mechanism that is deployed and used by almost every RP out there today, so JWT/CWT should be the default and if you need JSON-LD thats fine but not force it as it breaks every JWT/CWT processing library out there, no nee

[2019-03-29 11:38] dmitrizagidulin commented on #491
@nadalin Nobody is forcing JSON-LD processing on anyone. Yes, `@context` is required, for wider interop.

The use of `@context` on the web is at least one order of magnitude (if not more) greater than the use of JWT. It is literally used by billions of web pages, by _every_ major search engine, including by Microsoft's Bing.

The 'RECOMMENDED that dereferencing the URIs results in a document conta

[2019-03-29 11:51] dmitrizagidulin commented on #483
@nadalin

If we're going by that logic, the use of `@context` on the web (for various claims using Schema.org) is overwhelmingly larger than the use of JWTs, by at least one order of magnitude. To put it another way, `@context` is used and understood by every major search engine, including Bing, and JWTs are.. not.

Let's be clear here, this is emphatically NOT the case. Including a `@context` cla

[2019-03-29 15:03] jandrieu commented on #491
@context is mandatory, as per the discussion and consensus at the Barcelona face-to-face meeting.

@nadalin, including the @context means interoperability for JWT and JSON-LD. It doesn't mean you must use JSON-LD, just that you are conformant to a spec that supports interoperability.

[2019-03-29 18:15] brentzundel commented on #474
the type of the VC is defined in the type property

@context does not define properties. All @context defines is a vocabulary; it is a list of strings that can be used in place of longer strings. @msporny or @dlongley or @dmitrizagidulin please confirm this.

credentialSchema defines the properties and value types that should be expected in the credential. This allows a credential to be automatica

[2019-03-29 18:26] brentzundel commented on #481
@RieksJ Please let me know if the changes proposed in PR #508 and #509 address this issue to your satisfaction.

[2019-03-29 18:29] brentzundel commented on #482
I agree that in the case of JWT/CWT, a JWS or JWE could certainly be used as a proof.
To my understanding, there is nothing in the data model that prohibits this.

[2019-03-29 18:30] David-Chadwick commented on #474
@brentzundel Sorry, let me ask my question i) again, as I realise it was ambiguous.

i) where is the type defined?
the type property defines the type of the VC, but it does not define the type itself. i.e. where is it stated that a VC of type X must contain properties A and B and may contain property C.

[2019-03-29 18:46] brentzundel commented on #496
A verifiable credential is not a JWT. It has properties that a JWT does not and allows for usages that (to my understanding) JWTs do not.
I do not see the value in conflating the two by using the same names for their property values.

[2019-03-29 18:53] brentzundel commented on #500
I'm not sure what this issue has to do with the validity of the data model. We have chosen an open model for potential registration of status types.
I believe any such registries will be just as accessible as an IANA registry (both can be accessed vie the web), unless the registry creator intends to create a private registry, which seems nonsensical to me, but if that is the use case within which

[2019-03-29 19:02] brentzundel commented on #502
It seems to me that if this was really an issue, it should have been brought up before.
The charter has been around for years, and I'm sure it has had a lot of scrutiny in that time, both from within and outside of the group.
Could you clarify your reasons for believing that the WebAuthn WG should be listed as a liaison to the VCWG? I have been quite active in the VCWG for quite some time and cann

[2019-03-29 19:06] brentzundel commented on #511
@David-Chadwick, with @nadalin's positive response about the possibility of representing multiple subjects in a JWT encoded VC, do you still feel this is an issue that needs to be resolved?

[2019-03-29 19:09] brentzundel commented on #513
@nadalin, if you could clarify this for me, I would greatly appreciate it. Are you suggesting that any JWT encoded VC must normatively use JWKs?

[2019-03-29 19:11] dlongley commented on #474
@David-Chadwick,

There are a few ways of doing this. The type itself is a URL (when resolved via the mappings in `@context`). To define the type itself you can:

1. Specify it in some human readable spec and require people to read it and add the rules to their application. (This should probably be considered legacy approach).
2. Return machine readable information from the type URL that directly

[2019-03-29 19:22] brentzundel commented on #474
Thank you @dlongley for saying better what I was trying to.

[2019-03-29 19:42] David-Chadwick commented on #511
It is something that JWT should be able to solve in the future through nesting (the draft is currently very sparse so it will be a while before it is finalised). Its not a very efficient solution either as it will require multiple signatures, one per peer and one on the outer JWT.
Registering a new claim value is perhaps the better option, so maybe we should do that as part of our work

[2019-03-29 19:50] David-Chadwick commented on #474
@dlongley Thankyou. Can you also answer this issue that I raised above "the @context must define all the basic properties that any VC may contain (such as terms of use, expiration date, ID, type etc.), along with their aliases, since @context has been in the specification from the start (way before credentialSchema was invented)."
Or were we mistaken in originally thinking that @context was suffic

[2019-03-29 19:59] dlongley commented on #474
@David-Chadwick,

The `@context` provides mappings to all of the properties defined in the spec (we also have a companion vocabulary document in JSON-LD ... so we cover options 1 and 2 here for defining terms). This is sufficient to allow people and machines to find definitions, but we also provided the `credentialSchema` property as a third way. So `@context` was "sufficient" as you say, but othe

[2019-03-29 22:28] David-Chadwick commented on #474
@dlongley Thankyou yet again!
So can I summarise that the benefit of the credentialSchema property over the @context property (ignoring the data encoding schema which @context does not cover) is that it provides direct links to the schema definitions rather than possibly many levels of indirection via the @context property.

If this is the case then it would be beneficial to add an explanatory not

[2019-03-29 23:18] chaals commented on #491
doesn't imply you need to process anything. It merely means that best practice (in order to support the tools that do use JSON-LD) is to have the URL in the `@context` property actually dereferenceable, and provide a context file as describe by JSON-LD.

As noted above, you're not actually forced to implement best practice, let alone Process the `@context` section.

On the other hand I would note

[2019-03-30 00:46] dlongley commented on #474
@David-Chadwick,

I think another benefit is that it provides an opportunity to annotate type definitions or "lock them" to specific versions of the vocabulary. Dereferencing type URLs, for instance, may give you a "live version" of the vocabulary. Depending on how stable and popular such a vocabulary is, authors of VCs may prefer to include a "static" version of their vocabulary via `credentialSc

[2019-03-30 01:06] msporny commented on #482
The editors are having a hard time translating this into a concrete specification text change. Could you please provide some concrete text change that would address the issue you raised so that the WG has something concrete to discuss?

[2019-03-30 01:10] msporny commented on #484
Can you please be concrete in the problem that you think this creates? What specific technical issue are you concerned about and what specific and concrete technical solution are you proposing?

[2019-03-30 01:19] msporny commented on #485
There is nothing in the specification that precludes `issuer` from being a JWK. For example, the following two things are legal per the data model spec:

[code]

or

[code]

@nadalin, does this address the issue you initially raised?

[2019-03-30 09:31] David-Chadwick commented on #491
@nadalin "The use of an IANA registry for the various JWT claims would serve the purpose that the @context does unless I'm missing something here". What you are missing is that VCs are built on an open model, meaning that anyone is free to extend VCs in any way that they want to – “permissionless innovation”, without the need for a centrally managed registry.

[2019-03-30 09:32] David-Chadwick commented on #491
This might be slightly off topic, but I note that Microsoft are now using @context in their Identity Hubs, see
https://techcommunity.microsoft.com/t5/Azure-Active-Directory-Identity/Identity-Hubs-as-personal-datastores/bc-p/390930#M984

[2019-03-31 22:10] chaals commented on #485
It would be helpful to put an example of using an object with an `id` in. But I presumed that something like the long example above would do the job fine, based on what the spec already says.

[2019-04-01 07:00] nadalin commented on #483
@dmitrizagidulin You seem to have missed the point, my proposal is to make a VC a JWT not to encapsulate the VC inside a JWT

[2019-04-01 07:04] nadalin commented on #513
@brentzundel yes I am since these are standardized today

[2019-04-01 07:33] nadalin commented on #485
@chaals I agree as I was not thinking anyone would use the above

[2019-04-01 07:40] awoie commented on #513
@nadalin @brentzundel [RFC 7515 (JWS)](https://tools.ietf.org/html/rfc7519) defines the use of JWK as optional. [RFC 7519 (JWT)](https://tools.ietf.org/html/rfc7519) does not talk about JWK at all. The way the specification is written allows JWK or any other means for key discovery. This would allow existing JWT parsers to use JWK and allows JWT processors with DID support to implement decentraliz

[2019-04-01 07:40] nadalin commented on #491
@David-Chadwick JWT are open, nothing is mandatory like VC (making @Context Mandatory) so a JWT is fully open to extend, VC seems also to have a dependency on https://w3c-ccg.github.io/vc-status-registry/ so not sure how you say that there is no central registry dependency

[2019-04-01 07:44] nadalin commented on #513
@awoie Not understanding your point, as you need to use JWS when signing which is where JWK is defined

[2019-04-01 07:51] chaals commented on #483
@nadalin

So the outcome of such a proposal would be:

Instead of having a format that is compatible with both JSON-LD, which has serious deployment and widespread use and solves some of the internationalisation issues we would otherwise have, **and** with JWT which has serious deployment and widespread use and no solution for some internationalisation issues we continually see, we would now make

[2019-04-01 08:08] nadalin commented on #483
@chaals  Proposal actually provides a standard signature specification and no need for C14N which JSON-LD does not provide.

[2019-04-01 09:35] awoie commented on #513
@nadalin My point is that the usage of JWK is not mandatory to identify the key that signed the JWS.

According to [RFC 7517 (6. Key Identification)](https://tools.ietf.org/html/rfc7515#section-6):

Nevertheless, the [VC specification section 6.3.1 Proof Formats](https://w3c.github.io/vc-data-model/#proof-formats) allows to use JWK:

Does this address your concern? If not are you okay to solve thi

[2019-04-01 09:48] awoie commented on #480
+1 to claims

[2019-04-01 10:03] awoie commented on #513
Although the VC spec does not require DID and DID Documents, implementers could also obtain the verification key via a DID resolution process. In that case no JWK is required.

[2019-04-01 10:32] David-Chadwick commented on #491
@nadalin There is no dependency on the status registry, and indeed, no requirement to publish the status, or even revoke VCs. Short lived non-revocable VCs are perfectly acceptable.
As to DNS dependency, the entire Internet is dependent on this, so this is a feature of all Internet applications rather than a particular dependency of VCs

[2019-04-01 10:51] nadalin commented on #491
@David-Chadwick The same is true of JWT, you don't need to define anything in IANA.  I was pointing out that you said you want non-centralized, and I'm pointing out as long as you use DNS you can't achieve that goal.

[2019-04-01 10:59] nadalin commented on #513
@awoie I prefer to leave DIDs out of this discussion, I would prefer the later by explicit mentioning in the VC specification as I'm not sure your casual reader would pick up on this

[2019-04-01 11:09] nadalin commented on #484
@msporny I'm very concerned about the use of JSON-LD and how proof mechanisms would work, I know how they will work with JWT as this is proven work, the lack of a completed signature and C14N specification is a show stopper. So I'm proposing a step back and being able to represent a VC as a JWT and use the JWS/E as proof mechanisms for this

[2019-04-01 13:00] brentzundel commented on #484
Unless you can also demonstrate how to do zero-knowledge proofs and
selective disclosure with JWTs and JWEs, what you are proposing is a
non-starter.
The data model we have produced is compatible with many proof mechanisms.
This means it is useful in a wide variety of use cases.

The things you wish to use it for, and the formats you dish to support, are
not prohibited by the data model.
Limiting

[2019-04-01 13:34] nadalin commented on #484
@brentzundel Comments can come in at anytime, especially when you transition.

You have to demonstrate that you can actually do the normative things that have been described in the text in an interoperable way. I don't see how that can be done, there is no proposed interoperable way to do zero-knowledge proofs since no mechanism was defined.

[2019-04-01 13:40] brentzundel commented on #484
You have not addressed my questions and I would appreciate very much if you
could do so.

On Mon, Apr 1, 2019, 07:34 Anthony Nadalin <notifications@github.com> wrote:

[2019-04-01 13:46] nadalin commented on #484
@brentzundel There is only one question in your text which is "Why, in addition to demanding that the data model support your preferred
formats (which it already does), do you insist on trying to change the data
model so that it prohibits the formats required by the use cases of others?"

Because there is no proof mechanisms that are documented beyond JWS/E for for JWT as this is the only interope

[2019-04-01 13:49] nadalin commented on #484
@brentzundel I have no objection to the JSON-LD model but to mandate that when there is no proofing mechanism is very odd, keep it simple and work with JWTs and if it works with JSON-LD that would also be good

[2019-04-01 14:02] brentzundel commented on #484
That's good to hear. The data model has examples of how it can be used with
JWTs, and JSON-LD. There are also JSON-LD examples with both JSON-LD
signatures and CL- signatures.
Sounds like we've got our bases covered.

Where we may still disagree is in the need for the proof mechanisms that
are used with the verifiable credentials data model to also be part of some
standard specification. Is that a

[2019-04-01 14:19] nadalin commented on #484
@brentzundel I don't think I would say we are quite there yet. Looking for a simple data model that supports JSON JWT as VC and the use of JSON-LD as VC for those more complicated needs

[2019-04-01 14:35] David-Chadwick commented on #484
One mandatory requirement for the simple data model is support for extensibility. The existing type mechanism does that (and this was the original topic of this issue, not proof mechanisms) in a way that is not dependent upon JSON-LD.

[2019-04-01 14:42] brentzundel commented on #484
My apologies for not fully understanding.

Your second sentence is either missing the subject, or is itself the
subject and is missing the preposition.

My intention with that statement is not to criticize your grammar, but to
let you know that I don't want to put words in your mouth and possibly
assume a meaning you didn't intend.

I think we may be getting closer to a point of common understandi

[2019-04-01 18:24] ken-ebert commented on #478
As I remember from previous discussions, the intent was that if the optional identifiers were present, then they MUST be contained in the "id" and not in some other attribute.

I think this language might capture that thought better:
"Identifiers that others are expected to use when expressing statements about a specific thing, if present, MUST be expressed using the id property."

I agree with Br

[2019-04-01 18:33] ken-ebert commented on #479
I think that Terms of Use are at risk because of lack of implementer support. I am one who feels that they have not been specified in a way that can be cryptographically enforced and therefore will not implement them.

In this version of the specification, I think that they are ill-advised because they could mislead a participant in the verifiable credentials ecosystem to believe that terms of use

[2019-04-01 18:34] ken-ebert commented on #480
+1 to claims

[2019-04-01 20:05] jandrieu commented on #480
+1 to claims

[2019-04-01 20:11] David-Chadwick commented on #480
We have been round this one many times, and the reason it was changed from claims is that the ID is not the iD of the claim, but the ID of the subject. So the object needs to have subject somewhere in its name.

[2019-04-01 20:23] awoie opened #518 "JSON-LD verifiable credential with multiple subjects"
According to the current spec the data model contains a `credentialSubject` which is:

Could you please provide an example of a verifiable credential containing multiple subjects.

[2019-04-01 20:37] David-Chadwick commented on #518
[code]

[2019-04-01 22:06] awoie commented on #518
@David-Chadwick Thank you. In that case I have still another question.

The VC spec contains the following example:
[code]
The `credentialSubject` is defined as a:

Note that in JSON a set of properties is mapped onto `Object type`.

The example above is not an **array** of properties either. Is the example wrong, or is this just JSON-LD magic?

[2019-04-01 22:34] brentzundel commented on #483
@nadalin this issue was raised to bring up certain points about contexts, specifically:
1. "There is no reason to have the @context this should removed or at least made optional."
2.  "@context is not needed when suing JWT or even CWTs as claims"
3. "There is no reason to have the JSON-LD Context mandatory"
4. "There is no reason to have to parse a JSON-LD @context statement to get to a JWT/CWT st

[2019-04-01 23:21] brentzundel commented on #484
@nadalin This issue was raised to bring up the following points:
1. "Should not be forced into JSON-LD as the type data model"
2. "should allow for JSON models such as JWT/CWT."

These points were addressed:
1. "using the JSON-LD type system for this data model does not force any implementor to use JSON-LD"
2. "JWT/JWS are fully compatible with the type system specified"

You then add: " I'm very

[2019-04-02 00:09] brentzundel commented on #485
@nadalin, there is a PR which adds a note to the issuer section specifying that an issuer may also be a JWK. Please let us know if this addresses this issue.

[2019-04-02 00:13] brentzundel commented on #487
As this issue raises a concern that can only be addressed by specifying protocol, recommend we defer.

[2019-04-02 00:20] brentzundel commented on #489
@nadalin, this issue raised two suggestions:
1. "Suggest that this section be marked at risk if there is no interoperable proof mechanism since JSON-LD Signature is not a complete specification"
2. "suggest the removal of JSON-LD from the specification since this is not in a standards body"

These have been responded to:
1. "We are limited by our charter to specifying a data model. Specifying a pa

[2019-04-02 00:24] brentzundel commented on #490
@nadalin, this issue raised a single point:
1. "there is no standard embedded proof mechanism to obtain interoperability on"

this point was addressed:
1. "Specifying a standard embedded proof mechanism is beyond the scope of this working group's charter, as we are limited to specifying a data model."

You made a suggestion:
1. "this section be marked at risk"

which was also addressed:
1. " the d

[2019-04-02 00:31] brentzundel commented on #494
@nadalin, do you have a specific recommendation regarding a change you would like to see made to section 8.2?

If not, perhaps this would be better as a comment on issue #483, rather than as an issue in its own right.

[2019-04-02 00:42] brentzundel commented on #513
A PR was raised for issue #485 that explicitly mentions JWKs in the data model.
@nadalin as @awoie has made clear, a normative statement requiring JWKs for JWTs is not supported by the RFCs for JWS or JWT.

I do not believe this data model should go further than those RFCs and require something they do not, as we would like to remain compatible with the JWT and JWS standards.

[2019-04-02 01:55] brentzundel commented on #480
@David-Chadwick, I agree that it makes sense to those of in the group to call it the credentialSubject for the reasons you mentioned.
This doesn't change the fact that it is confusing for others. We say that a verifiable credential contains claims, then show a data model that (for valid, yet pedantic reasons) has a credentialSubject property. We then have to explain that that's where claims should

[2019-04-02 02:52] msporny commented on #491
@nadalin This topic has been discussed at depth in the VCWG (and for many years before it). There is a simple table that summarizes what is and isn't possible w/ JSON+JWT and JSON-LD+JWT and JSON-LD+LD-Proofs here:

https://w3c.github.io/vc-imp-guide/#benefits-of-json-ld-and-ld-proofs

The thread so far in this issue has touched on a few of them, but there are more at the link above. I suggest you

[2019-04-02 05:19] jandrieu commented on #480
I think there was also confusion about the embedded graph container, making the RDF subject of the claims confusing. We have examples in the focal use cases where there are multiple subjects, for example in a birth certificate and marriage certificate.

"CredentialSubject" strongly suggests that there is always single subject of the credential, but that's demonstrably untrue.

@dlongley could you

[2019-04-02 06:56] nadalin commented on #491
@msporny I'm fully aware of table, there is NO REASON to require the @Context when using JWT, it's simply not used or required. Please explain why the @Context is needed

[2019-04-02 07:01] nadalin commented on #513
@brentzundel JWS RFC requires use of JWK its a normative reference, the VC specification should list JWK

[2019-04-02 07:03] nadalin commented on #494
@dmitrizagidulin I don't see the requirement for this linkage  for integrity protection in the specification at all

[2019-04-02 07:09] nadalin commented on #490
@brentzundel "which was also addressed:
" the determination of which features are marked at risk was made based on feedback from parties who plan to implement the data model. This feature has enough implementation support, therefore it is not at risk.""
There is no mechanism specified thus this section will not be able to be interop and thus will be at risk and will be non-normative. Its a W3C req

[2019-04-02 07:13] nadalin commented on #489
@brentzundel You can't specify proofing w/o specifying a mechanism for interop, not how the W3C works. If you are fine with this being non-normative and not required that is fine but then you will never have verifiable claims/credentials which seems to be the goal here.

[2019-04-02 07:23] nadalin commented on #483
@brentzundel

1. Don't understand, as JWT libraries don't need @Context so I think you mean that JSON-LD libraries need the @w3c/qt3tests-editors
3. See #1
4. The document says its recommended that you de-reference the @context statements, thus it is required unless you remove that requirement

So no issues have not been addressed

[2019-04-02 07:39] nadalin opened #520 "Make a JWT a VC and not to encapsulate the VC inside a JWT"
Makes more sense to use a JWK as a VC since the data model for JWT is fully open, this all claims in a JWT can be specified.

[2019-04-02 10:09] awoie commented on #486
@brentzundel @nadalin I agree that encryption is outside of the scope of the specification. There is also a reference in the JWT section. However, it is possible to use JWS first and then encrypt it using a JWE.

[2019-04-02 11:05] awoie commented on #496
JWTs use `exp` to represent the `expirationDate`. The VC spec defines processing rules on how to convert a JWT VC that uses standard JOSE claims and headers onto the vocabulary specified in the VC spec.

[2019-04-02 11:24] awoie commented on #520
The JWT representation defined in 6.3.1 JSON Web Token describes **how a VC can be encoded as a JWT**. I agree that the description of the `vc` attribute might be a bit misleading. The `vc` is currently described as:

It is misleading because the JWT contains other attributes of the VC at the top level (outside of the `vc`) as well, e.g.,`exp`, `iss`, ...

The same applies to the `vp` attribute.

[2019-04-02 11:41] nadalin commented on #520
@awoie I don't think so since there is a defined VC that is not a JWT

[2019-04-02 11:46] nadalin commented on #496
@awoie Why not use exp? is there a need to invent ?

[2019-04-02 12:04] awoie commented on #520
The following is a valid VC which is encoded as part of the JWT payload. JWS is used as an `external proof`:
[code]

@nadalin My proposal is to change the semantics of the `vc` attribute into something like "the claims about the subjects of the VC". Besides the `context` which is a separate discussion, what would you like to change to address your issue?

[2019-04-02 12:24] nadalin commented on #520
@awoiw This is getting close, the VC would be a registered IANA Claim and there would have to be a requirement of no JSON-LD so we can use JWS/E

[2019-04-02 13:01] nadalin commented on #486
@awoie Why is encryption out of scope as it can be a proof mechanism

[2019-04-02 13:02] nadalin commented on #486
@brentzundel JWS does not require C14N, so this will rule out JSON-LD this the requirement that when using JWT no JSON-LD just base64 encoded JSON

[2019-04-02 13:15] msporny commented on #491
If you have a JWT, let's call it `jwt`, and it contains a `vc` entry per the spec. If company A produces a JWT with an attribute like so - `jwt.vc.credentialSubject.foo` and company B produces an attribute like so - `jwt.vc.credentialSubject.foo`... without `@context`, there is no way for company A to know if company B is using `foo` in the same way or in an entirely different way without using so

[2019-04-02 13:20] msporny commented on #520
@nadalin wrote:

This was the expectation of the group.

There is no JSON-LD processing requirement at the top-level (or within `jwt.vc` claim), and no requirement to use LD-Proofs or canonicalization or anything else if encapsulated in a JWS/E.

I think the specification already allows you to do what you want, @nadalin -- what am I missing here?

[2019-04-02 13:33] nadalin commented on #491
@msporny The point is not to use the JWT as just a proof mechanism but JWT as VC and JWS/E for proof

[2019-04-02 13:35] brentzundel commented on #491
Yes, that is possible now without changing the spec in any way.

On Tue, Apr 2, 2019, 07:34 Anthony Nadalin <notifications@github.com> wrote:

[2019-04-02 13:36] nadalin commented on #520
@msporny The spec has to be clear on the IANA registration, the requirement not to use JSON-LD  as this will break the JWK parsers, and if you encounter a @Context you don't have to de-reference or process

[2019-04-02 13:43] nadalin commented on #491
@brentzundel no its not the spec has to be clear and it has to be documented on how to use a JWT as a VC in such a way it does not break JWT processors
1. No JSON-LD with-in a JWT
2. must use JWS/E for proof
3. No processing of @context if found as JWT parsers will not process what they don't understand

[2019-04-02 14:28] msporny commented on #491
Het @nadalin, yes, good -- thank you for the concrete set of changes that you are seeking, we will put this forward in the group for discussion:

1. No JSON-LD with-in a JWT.
2. Must use JWS/E for proof.
3. No processing of @context if found as JWT parsers will not process what they don't understand.

[2019-04-02 14:47] msporny commented on #520
@nadalin wrote:

The spec does have an IANA considerations section that outlines this:

https://w3c.github.io/vc-data-model/#iana-considerations

Do you have a pointer to a specific W3C IANA registration template that you would prefer the group to use?

Where does the specification state that you have to dereference the @context URLs? As you have pointed out, the specification does state the follo

[2019-04-02 14:47] brentzundel commented on #513
@nadalin could you look at PR #485 to see if this addresses your concern? My assumption is that it probably does not and that you are looking for something more.
Would it address your concern to add language that explicitly links to the JWT and JWS RFCs and says that any use of JWT to encode a VC must comply with those standards?

[2019-04-02 15:56] brentzundel commented on #490
Ah, true. Thank you for reminding me that this section is informative and has no implementation burden.
It is a W3C requirement to show interop on mechanisms detailed in the specification, and this section does not detail any.

[2019-04-02 16:10] brentzundel commented on #478
@David-Chadwick and @ken-ebert I will submit a PR that addresses this issue. I will use the language above that you've said you don't object to and not worry about the misunderstandings between us as they don't really stall the ability to resolve this in a way we can all agree on.

[2019-04-02 16:36] nadalin commented on #520
@msporny if the VC is put into the IANA registry as needed, then I suspect that claims processors will pick this up and process it thus they will ignore what they don't understand and thus the dereference should be a little clearer than it is. I interpret a RECOMMEND something that a conformance test would test as having to be there.

[2019-04-02 17:01] chaals commented on #520
I strongly disagree with the core premise of this proposal, for reasons already outlined in other issues - it would break significant interoperability, is a major breaking change to the architecture at a ridiculously late stage, and doesn't seem to offer any important practical benefit.

[2019-04-02 17:04] chaals commented on #520
@nadalin

You apparently continue to misunderstand the text. It does not say "it is RECOMMENDED the the URL is dereferenced". It merely suggests that the URL, **IF dereferenced** has actual content.

I think we can clarify that text, but that isn't the purpose of this particular issue, so I will file a separate one.

(I think we should close this issue without action, for the reasons noted above)

[2019-04-02 17:14] nadalin commented on #520
@chaals How would this break the specification interop tests ?

[2019-04-02 17:18] brentzundel commented on #520
@chaals, if I'm understanding the conversation in this thread properly, no
one is suggesting here that JWT be the only encoding method for verifiable
credentials.
The issue as I understand it, is the "vc" property inside of a JWT encoded
verifiable credential and the need for that property to be put in an IANA
registry so that JWT processors can use it.

On Tue, Apr 2, 2019, 11:14 Anthony Nadalin

[2019-04-02 17:24] nadalin commented on #520
@brentzundel I'm not suggesting that you don't support what is in the specification relative to the "vc" what I'm proposing is the requirements on how a JWT could be a processed and have a "vc" claim in it that would be JSON and that JWS/E would be used as the proof mechanism when you have this scenario. This could also allow portions of the specification to be normative relative to proofs since t

[2019-04-03 00:46] msporny commented on #484
@nadalin wrote:

Since the title of the issue is "4.3 Types" and your original issue was about the type system, and as @brentzundel has stated, there are other issues you have raised about Proofs, then I'm going to try and focus on the original issue you raised (and follow up on the proofs stuff in the other issues you raised that are specific to proofs).

@nadalin wrote:

The JSON-LD type model (

[2019-04-03 03:30] chaoxinhu opened #521 "Is Proof mandatory in Verifiable Presentation?"
Is the field Proof mandatory in Verifiable Presentation?

IMHO, the purpose of Proof is to store someone's identity such that the object (VC, VR) is actually signed by that one. In the case of VC it is easy to understand, because the Verifiable Claim contains real user data info and it ought to be signed by someone. However, Verifiable Representation should be a combination of multiple VCs only, a

[2019-04-03 06:22] nadalin commented on #484
The JWT parsers out there that I know about can't parse the JSON-LD types, thus a JWT "vc" would be restricted to JSON types, as long as this restriction is made I see no issues, but that is not the restriction today in the specification.

[2019-04-03 06:43] nadalin opened #523 "Section 4 normative and non-normative parts"
I'm having some issues relative to normative and non-normative sections

4.1 Conetxt is normative and says it used for 4.7 and 4.10 and 4.7 and 4.10 don't provide any specified mechanisms for interop, thus these are at RISK and if no interop is shown on a defined mechanism then these would have to be non-normative and thus I don't see how 4.1 could me made a MUST and normative

4.7 see above

4.9

[2019-04-03 06:52] nadalin opened #524 "Section 5 normative and non-normative parts"
I see that section 5.3 Extensibility is normative but I don't see how this can be normative, I can accept that this is informative and thus non-normative. What did I miss?

Section 5.5 Refreshing is normative but I don't see a mechanism provided in detail that would prove interop, if no mechanism is provided then this should be marked non-normative. There has to be a mechanism provided to show int

[2019-04-03 06:55] nadalin opened #525 "5.3.1 Semantic Interoperability"
This is a confusing section as there is no motivation for this section as most JSON processors don't necessary parse and understand the @Context yet this section says that they MUST, I don't see any rational for this, can someone explain?

Current JWT parsers don't know what to do with an @Context and thus would ignore

[2019-04-03 08:14] David-Chadwick commented on #480
The way out of this dilemma is to have a claims object that contains within it one or more credentialSubject objects. Then it is clear that the VC contains claims, and that the ID is that of the subject. Eg.

[code]

[2019-04-03 09:02] David-Chadwick commented on #525
If you think a bit deeper about this, your message indicates precisely why @context or something similar is needed - JSON processors have no idea how to support any property that they have not already been told about, so have no support for extensibility except by out of band means.

[2019-04-03 09:05] David-Chadwick commented on #524
The interop and normative part concerns the MUST statement in each of the above.
Is this any different to X.509 mandating that each extension must have its own OID?

[2019-04-03 09:06] nadalin commented on #525
@David-Chadwick sorry that does not process for me, as i'm talking about JWT processors

[2019-04-03 09:36] nadalin commented on #524
@David-Chadwick yes, as you can point ITU OID specification, I have no idea what mechanisms to use to achieve interop here unless something is specified

[2019-04-03 10:23] David-Chadwick commented on #524
The type and/or id are specified. These are the fields that guarantee interop. the verifier reads the type and if its knows the type, it can interpret all the other properties, but if it does not recognise the type, then it can not understand the properties. If we had been allowed to specify protocol then we would have said whether the verifier must either reject the VC or ignore the top level pro

[2019-04-03 10:54] nadalin commented on #524
@David-Chadwick Specifying ID and Type are great but how do you get interop on the refresh service? I choose 1 refresh service and get one result and then select a different refresh service I get a different result so are you saying the interop is just being able to call the refresh service and what happens is undetermined ?

[2019-04-03 11:46] David-Chadwick commented on #524
@nadalin I would suggest that interop on the refresh **service** is a protocol issue and it is out of scope of the current CR. So I am saying that even calling the refresh service is out of scope. Conformance is simply to the properties in the data model.

[2019-04-03 12:07] nadalin commented on #524
@David-Chadwick Then I would say this is non-normative as you can't get interoperability

[2019-04-03 12:20] David-Chadwick commented on #524
@nadalin Can I leave it to the writers of our conformance test suite to answer you definitively on this one please. They will know if these data model properties can be tested for or not, for example, if my code produces a VC and their testing code validates its conformance to the spec.

[2019-04-03 12:40] nadalin commented on #524
@David-Chadwick There will have to be a set of interoperability tests, these need to satisfy the W3C that there is interop. I just went through all this with WebAuthn and what needed to be tested and what makes things interoperable, things I see here would not meet that bar.

[2019-04-03 14:05] dlongley commented on #484
@nadalin,

Could you please give a very specific, concrete, JWT example of where a problem would occur that your suggestion would address? Without being able to see such an example, it does not seem to many in the group that there is a problem. We'd be interested in exploring ways to help to resolve a problem but we first need to understand it through a concrete example.

[2019-04-03 14:17] jandrieu commented on #480
That's not bad, except I believe the "credentialSubject" is actually a "claimSubject" in your example.

[2019-04-03 16:51] nadalin commented on #484
A JWT parser would expect this as a claim:

{"Address":"Microsoft Way",
      "postalCode":"98052"}

And not this:

"address": {

        "@type": "PostalAddress",

        "addressLocality": "Colorado Springs",

        "addressRegion": "CO",

        "postalCode": "80840",

        "streetAddress": "100 Main Street"

      },

[2019-04-03 17:15] David-Chadwick commented on #484
We have an example of address in "Example 36 A credential uniquely identifying a subject" and it is not like the above. Furthermore we are using schema.org properties.

[2019-04-03 18:22] nadalin commented on #484
@David-Chadwick JWT Parser would not understand that same issues as I my example

[2019-04-03 19:06] dlongley commented on #484
I put this into [jwt.io](https://jwt.io) :

[code]

It successfully produced this JWT:

[code]

The HMAC secret used was `test`. There did not appear to be any problems.

cc: @awoie, do you think there are any problems here? I'm under the impression that JWT parsers would not break on a "vc" JWT claim and the above parser certainly works.

[2019-04-03 19:30] nadalin commented on #484
@dlongley its ignoring the "vc" as it does not understand, my point is that a JWT should be able to understand and process a "vc" but there are restrictions on the what a "vc" would look like

[2019-04-03 19:34] nadalin commented on #484
@dlongley the JWT claim data model should also be allowed data model for "vc"

[2019-04-03 20:57] dlongley commented on #484
@nadalin,

Is this the same issue as #520, where we've stated that the group expects that "vc" will be registered as an IANA claim? If so, can we close this one as a duplicate?

If not, can you explain what parsing issues you're concerned about? Providing some minimal, runnable code that demonstrates the issue would help the group understand the best. The data model spec provides encoding and deco

[2019-04-04 01:47] msporny commented on #486
@nadalin wrote:

While encryption mechanisms prevent tampering, they also require you to share the symmetric key with the recipient (or do some sort of Diffie-Hellman key exchange) so that the receiver can decrypt the data. The Verifiable Credentials Data Model is interested in mechanisms that authenticate the issuer as well as mechanisms that detect tampering with the message. Encryption is typic

[2019-04-04 01:55] msporny commented on #486
@nadalin wrote:

You don't have to canonicalize (C14N) JSON-LD to use JWS. You can stick JSON-LD in a JWT and JWS it, which is exactly what the spec currently does. Doing that does have drawbacks (which are the same ones that placing JSON data in a JWT has), but folks that use JWTs don't seem to care about those drawbacks so you should be just fine doing that.

[2019-04-04 02:00] msporny commented on #486
@nadalin wrote:

JWT is an external/enveloping proof format. It literally cannot be used as an embedded proof format w/o wholly duplicating the entire payload that it is attempting to protect. I would be very interested in a concrete example to the contrary.

[2019-04-04 02:21] msporny commented on #486
@nadalin wrote:

Yes, the group has discussed this and supports the expression of the Verifiable Credentials Data Model using JWT/CWT.

[2019-04-04 02:27] msporny commented on #486
@nadalin wrote:

Linked Data Proof/Signature mechanisms have existed since 2011, gaining maturity over the years. That said, you are correct in that no W3C Recommendations exist to date. Since the majority of the WG participants are deploying this technology using LD-Proofs/Signatures, we will request that the group officially supports the creation of a W3C Working Group to create Recommendations

[2019-04-04 03:08] msporny commented on #488
Some of the text in this section could be improved as the normative requirements are there, but a bit nebulous as the section is construction in a way that's different from the other sections. We can do a few non-substantive changes to clarify the normative requirements in the section that the group has agreed to. I'll submit a PR for that if someone else doesn't beat me to it.

[2019-04-04 03:20] msporny commented on #488
As @brentzundel mentioned, we collected "intent to implement" information from implementers and there were many more than two independent responses that stated that they would implement this feature. Thus, it was decided to not mark this feature as at risk.

[2019-04-04 03:35] msporny commented on #489
@nadalin wrote:

If by "this", you mean JSON-LD -- "this" is a W3C Recommendation -- https://www.w3.org/TR/json-ld/

[2019-04-04 03:51] msporny commented on #489
It is perfectly reasonable to specify, in a data model specification, a data field whose purpose is to contain extensible proof mechanisms. The Verifiable Credentials Data Model specification has been designed by the Working Group to be proof mechanism agnostic and this is one of the mechanisms that was settled on by the Working Group.

With respect to whether this mechanisms works in practice, th

[2019-04-04 04:12] msporny commented on #496
@nadalin wrote:

The datatype associated with exp is a POSIX (seconds since 1970 value)... the datatype associated with expirationDate is a RFC3339 combined date and time string, therefore it would be inappropriate to use exp in this particular case.

[2019-04-04 04:31] msporny opened #526 "Change W3C TR link to vc-data-model"
Our current TR link is https://www.w3.org/TR/verifiable-claims-data-model/ ... which doesn't match the title of the specification anymore. Suggest that we ask sysreq to change it to https://www.w3.org/TR/vc-data-model/ and redirect all old references to the new TR link.

[2019-04-04 07:45] nadalin commented on #484
@dlongley There are thousands of sites using the JWT claim data model, the "vc" data model should alternatively allow claims to be defined per the JWT data model for claims. So this way the "vc" claim could be processed by the JWT processors in full. I understand there will still be a need for more complex claims and thus then need for the JSON-LD model but lets make it easy for the simple cases a

[2019-04-04 07:53] nadalin commented on #486
@msporny there is no standard yet, you can't rely on these, there are standards for JSON, JWS/E/K which require no C14N. So unless the specification states a normative (a actual stamndard) way to do proofs this would have to all be non-normative.

I have suggested that the s[specification allow the usage of existing JWT including the claims data model as valid "vc" and use JWS/E as the interoperab

[2019-04-04 07:56] nadalin commented on #488
@msporny Sorry but unless there are documented mechanisms in this specification this would still be at risk for interoperability reasons

[2019-04-04 08:03] nadalin commented on #489
@mspory There are no mechanisms defined in the specification that would allow interop, if there is no test suite then this has to be non-normative

[2019-04-04 08:06] nadalin commented on #496
@msporny For many cases the JWT "exp" is fine, for others it may not be, all existing JWT claims should be allowed to be used ASIS for interoperability reasons

[2019-04-04 14:23] dlongley commented on #484
@nadalin,

My response above covered two ways to do this. For JWT users, they can use decentralized extensibility and/or more complex claims by putting them into a VC underneath the "vc" JWT claim in conjunction with the existing JWT claims model without any changes. If users would like to use the JWT data model inside of a VC or with an alternative proof mechanism, they may use the decentralized

[2019-04-04 14:34] nadalin commented on #484
@dlongley I don't think this will work without changes to specification

1. No JSON-LD statements would be allowed
2. No @context allowed
3. Document JWT claims allowed
4. JWS/E stated as proof mechanisms
5. and I'm sure there will be other things that need to be documented to allow a JWT to be claim

[2019-04-05 02:39] msporny opened #530 "Consolidate all Verifiable Credential Registries to a single registry"
We have a Verifiable Credential Status Registry, and will most likely have other registries. We should just consolidate all of the registries into a single document that lists all the extensibility points that we know of in the spec. So the combined registry would contain all status schemes, terms of use schemes, proof mechanisms, evidence schemes, etc.

[2019-04-05 02:52] msporny commented on #500
@nadalin wrote:

The link is in the appendix of the specification and points to this URL: https://w3c-ccg.github.io/vc-status-registry/

The W3C Credentials Community Group.

For a few reasons:

1. While IANA does have a process of creating registries, it's a bit premature to go there (yet)... especially since most IANA registries point to RFCs and rarely to W3C documents.
1. The extensibility mec

[2019-04-05 03:29] msporny commented on #523
You seem to think the group is attempting to achieve interop on ALL proof mechanisms. It is not. The group is attempting to get interop at the data model layer as expressed in the syntaxes. It is also true that we can get interop for JWTs (as those statements are normative).

[2019-04-05 03:49] msporny commented on #524
@nadalin wrote:

Yes, Section 5.3 should be non-normative as it doesn't contain any normative statements. Section 5.3.1 should remain normative as it contains normative statements.

[2019-04-05 03:50] msporny commented on #524
Yes, this is exactly how the conformance test suite is written. We test for the existence of the values, not the actual values themselves as those would be extensions, which our charter does not allow us to work on.

[2019-04-05 03:55] nadalin commented on #500
@msspory Thanks, this is a at risk item and will be non Normative since no interop can be shown on the mechanism.

[2019-04-05 03:56] msporny commented on #524
@nadalin wrote:

The interop that the WG is seeking is at the extensibility points, not the extensions themselves. The WG had a long discussion about this and agreed that this was the proper way to proceed. A conformance test suite exists and the group has already ensured that all conformance tests in the specification are testable.

[2019-04-05 03:59] nadalin commented on #523
@msporny for things define mechanisms  to be normative theybneed to be defined, either in this special or another one so there are a lot of undefined mechanisms here that are missing specifications

[2019-04-05 04:02] nadalin commented on #524
@msporny that will not work, the actual mechanism will have to be defined. It's like a intention framework, you have to show interop on the actual extentions not the framework

[2019-04-05 04:16] msporny commented on #525
@nadalin wrote:

The intent of that conformance statement is to state that Verifiable Credential processors that are operating in JSON mode MUST ensure that the array of values associated with @context are in the expected order for the particular use case (and that's it). It specifically does not mean that they must dereference @context URLs or anything of the sort.

This rule is there to ensure t

[2019-04-05 04:26] msporny commented on #521
Yes, the signature on the Verifiable Presentation is expected to be from the Holder of the Verifiable Credentials. The signature on a Verifiable Credential is expected to be from the Issuer of the Verifiable Credential.

So, the signature on the Verifiable Credential proves that it was issued by a particular issuer. The signature on the Verifiable Presentation proves that the Holder chose to put t

[2019-04-05 06:21] talltree commented on #480
I like it too. And with that context, wouldn't just "Subject" work as the
name?

On Wed, Apr 3, 2019 at 7:17 AM Joe Andrieu <notifications@github.com> wrote:

[2019-04-05 06:35] jandrieu commented on #480
Maybe. I think folks get wrapped around the singular subject, thinking a credential can only have one subject. ClaimSubject focuses it nicely on this particular claim, gently inviting credentials that have claims about many subjects.

[2019-04-05 12:04] RieksJ commented on #481
I'm not very proficient in inspecting changes/results from PRs, but it seems that wrt this issue, the text is ok.

[2019-04-05 15:14] David-Chadwick commented on #498
@nadalin makes an interesting point here. The data model specifies that certain properties MUST exist, and that other properties MAY exist, but if they do exist, they MUST contain certain properties. I think from a data model conformance perspective this is fine. As to whether this is a verifiable credentials spec or a credentials spec is debatable. I would argue that if the spec says the Proof pr

[2019-04-05 15:16] David-Chadwick commented on #490
This issue should be closed because it covers the same topic as issue #498

[2019-04-05 15:18] David-Chadwick commented on #489
this issue should be closed since it covers the same issue as #498

[2019-04-05 15:19] David-Chadwick commented on #487
This issue should be closed because it is a repeat of #498, #489 and #490

[2019-04-05 15:21] David-Chadwick commented on #486
I have proposed a resolution of this in #498

[2019-04-05 16:31] stonematt commented on #492
WG resolution: https://www.w3.org/2019/04/02-vcwg-minutes.html#resolution01
RESOLUTION: Merge non-normative PR #510 in order to clarify private-browsing mode concerns raised in issue #492.

[2019-04-05 16:33] stonematt commented on #493
WG Resolution: https://www.w3.org/2019/04/02-vcwg-minutes.html#resolution02
RESOLUTION: Merge non-normative PR #499 in order to clarify that existing 'must' was not a normative statement, which was raised in issue #493. Close issue #493 after the merge.

[2019-04-05 16:40] stonematt commented on #495
WG resolution: https://www.w3.org/2019/04/02-vcwg-minutes.html#resolution03
RESOLUTION: Merge non-normative PR #497 in order to update to an informative reference to RFC8471 raised in issue #495. Close issue #495 once the PR is merged.

[2019-04-05 16:47] stonematt commented on #482
WG resolution: https://www.w3.org/2019/04/02-vcwg-minutes.html#resolution04
RESOLUTION: Add more clarifying text to the specification noting that while the specification does not standardize on signature format, the WG is aware of at least three mechanisms (JWTs, LD-Proofs, and ZKPs) that are capable of protecting the contents of the data model at the time of publication that are being used in dep

[2019-04-05 16:59] stonematt commented on #494
WG resolution: https://www.w3.org/2019/04/02-vcwg-minutes.html#resolution05
RESOLUTION: The content-integrity section of the specification describes how outgoing links from a document may be protected. Issue #494 asserts that JWTs provide content-integrity protection for outgoing links, which is false.The VCWG is also supportive of the use of @context as a core part of the data model. Issue #494 s

[2019-04-05 17:03] stonematt commented on #498
WG resolution: https://www.w3.org/2019/04/02-vcwg-minutes.html#resolution06
RESOLUTION: The specification clearly defines the meaning of "verifiable credential" and the VCWG has spent a considerable amount of time discussing and running surveys on the proper name for the specification. The VCWG believes the name of the specification is appropriate. Issue #498 should be closed with no change to the

[2019-04-05 17:09] stonematt commented on #513
WG resolution: https://www.w3.org/2019/04/02-vcwg-minutes.html#resolution08
RESOLUTION: Add non-normative text to the specification that makes an informative reference to the JWK specification and notes that key discovery can be performed in a variety of ways including the use of JWK and DID-based key discovery.

Will close 7 days from today if no new concerns or evidence are raised by then in thi

[2019-04-05 17:11] stonematt commented on #490
WG resolution: https://www.w3.org/2019/04/02-vcwg-minutes.html#resolution09
RESOLUTION: Section 5.2: Trust Model is a non-normative section on the specification. Issue #490 asserts that it should be marked at risk. Non-normative sections contain no normative statements and thus are not at risk during or after the Candidate Recommendation phase. Issue #490 should be closed with no changes to the sp

[2019-04-05 17:55] stonematt commented on #502
WG Resolution: https://www.w3.org/2019/04/02-vcwg-minutes.html#resolution07

RESOLUTION: The VCWG notes that the charter cannot be changed at present and thus new Liaison relationships cannot be added. The VCWG also notes and is thankful of the review of the specification that has been performed by Tony Nadalin, who is a co-chair of the WebAuthn WG, and welcomes comments from all interested Workin

[2019-04-06 17:58] msporny commented on #472
The PR has multiple positive reviews and is now merged. The next step is to ask the WG to make sure we have closure on the issue for the purposes of CR exit.

[2019-04-06 18:04] msporny commented on #466
The PR had multiple positive reviews and has now been merged. The next step is to get approval from the WG and close the issue.

[2019-04-06 18:24] msporny commented on #394
Multiple PRs have been approved and merged that are related to this issue. I think we've whittled this particular issue into sawdust at this point. Next step is to get approval from WG to close this issue.

[2019-04-06 18:44] msporny commented on #462
The PR has multiple reviews and has been merged. The next step is to see if the WG agrees with the change and closure of the issue.

[2019-04-06 19:48] msporny commented on #463
PR #504 has been reviewed by multiple people and merged. I did further alignment around entity/role language. The next step is to see if the WG agrees with this change.

[2019-04-06 19:58] msporny commented on #471
PR #507 has been independently approved by multiple parties and is now merged. The next step is to see if the WG agrees with the change.

[2019-04-06 20:09] msporny commented on #481
PRs #508 and #509 have been reviewed by multiple parties. Both PRs are expected to be merged (after merge conflicts are resolved. The next step is to see if the WG agrees with the changes.

[2019-04-06 20:15] msporny commented on #492
PR #510 has been merged.

[2019-04-06 20:37] msporny commented on #464
PR #512 has had multiple reviews and has been merged. The next step is to see if the WG agrees with these changes.

[2019-04-06 21:22] msporny commented on #485
PR #513 has been reviewed by multiple parties and merged. The next step is to see if the WG agrees with the change.

[2019-04-08 05:03] chaoxinhu commented on #521
Thanks @msporny - crystal clear. Closing.

[2019-04-08 05:03] #521 closed

[2019-04-08 15:15] nadalin commented on #502
@stonematt I don't understand why the charter can't be changed as it can be changed at anytime, there is a process for this. I think this needs to go up to W3C Management to get changed

[2019-04-08 15:25] nadalin commented on #513
@stonematt To be clear this section is non-normative so there is set no interop and folks can do and use this section as they please, so people reading the spec can do what they want which means there may not be interop

[2019-04-08 15:31] nadalin commented on #498
@stonematt There is no defined definition of "Verifiable Credential" in tbhe specification, there is a non-normative section on what a "Verifiable Credential" is and there is also this this statemen "Verifiable credentials represent statements made by an issuer in a tamper-evident and privacy-respecting manner" and since this is out of scope of this specification you can't have a "verifiable crede

[2019-04-08 17:22] brentzundel commented on #485
@msporny I think you may have meant PR #519

[2019-04-08 17:39] brentzundel commented on #486
Added PR #536 to address @nadalin's second point about protecting PII in a verifiable credential.

[2019-04-08 19:12] nadalin commented on #494
@stonematt So when using just JWT as claims your statement is false as it provides content integrity, so my concerns remain

[2019-04-08 19:14] nadalin commented on #498
@stonematt so looking at the charter
Terminology
verifiable claim
A machine-readable statement made by an entity that is cryptographically authentic (non-repudiable).

The specification can't achieve this definition since proofs are non-normative

[2019-04-08 19:28] nadalin commented on #502
@stonematt Let's say the charter can't be updated, this does not mean that that there is no  Liaison relationships between WebAuthn and VC this can be made to happen outside the charter, so this is my main point that the liaison happen

[2019-04-08 19:47] msporny commented on #485
My bad, yes, that's what I meant. I have fixed the comment above to refer to the appropriate PR.

[2019-04-08 20:32] nadalin opened #537 "JSON-LD Reference"
Should this specification actually be built on JSON-LD 1.1 to better align with JSON structures which would align better with JWT

[2019-04-08 20:52] chaals commented on #537
This seems like a rehash of #491, and other related issues. The answer to the question has been provided repeatedly:

- https://github.com/w3c/vc-data-model/issues/491#issuecomment-478031097
- https://github.com/w3c/vc-data-model/issues/491#issuecomment-478823560
- https://github.com/w3c/vc-data-model/issues/483#issuecomment-477310938
- https://github.com/w3c/vc-data-model/issues/483#issuecomment-

[2019-04-08 21:01] nadalin commented on #537
@chaals not a rehash at all as specification lists JSON-LD 1.0 and my comments is that some issues may be resolved if this specification is based upon JSON-LD 1.1

[2019-04-08 21:17] brentzundel commented on #502
@nadalin, what specific changes do you recommend, other than changing the charter, which would address this issue?

[2019-04-09 07:32] David-Chadwick commented on #478
Your PR does not correctly address this issue. I will comment further against the PR

[2019-04-09 16:55] awoie commented on #511
if you remove the `sub` attribute and use multiple `credentialSubjects`, it would work.

[2019-04-09 16:59] awoie commented on #511
But I raised a separate issue because it is not clear to me how multiple subjects are represented in general.

[2019-04-09 17:41] awoie commented on #518
@dlongley @msporny could you please clarify?

[2019-04-09 17:48] awoie opened #541 "Decoding rules for jti and sub are mixed up"
The current spec mixes up JWT decoding rules for `jti` and `sub`. `jti` must be added to the VC (top level) and `sub` to `credentialSubject`.

[2019-04-09 17:50] awoie commented on #511
I created a new issue #541 that addresses the first problem.

[2019-04-09 17:56] awoie commented on #541
PR was created: https://github.com/w3c/vc-data-model/pull/542

[2019-04-09 18:00] brentzundel commented on #474
@David-Chadwick
I (and others) have tried to clarify this difference between `@context` and `credentialSchema` with comments on this issue and on PR #533, which adds a note to the `Data Schemas` section to clarify the intended use of the `credentialSchema` property.

If that PR does not address your issue, please recommend some concrete changes to the data model that would address your issue so th

[2019-04-09 18:22] brentzundel commented on #541
I believe this is what you are saying, please correct me if I have misunderstood:

- `jti` is used as an identifier for the JWT, so it maps more appropriately to the `id` property of the credential itself.
- `sub` is used to identify the subject of the JWT, so it maps more appropriately to the `id` property of the `credentialSubject` object.
- Right now the spec has this backwards and your PR corr

[2019-04-09 19:05] awoie commented on #541
Exactly

[2019-04-09 20:43] David-Chadwick commented on #474
My objective is to make the CR understandable to implementors and to remove ambiguities and lack of clarity. So this is what we need in my opinion:
1. A clear definition of what the @context property is, what its values are, what its purpose is and how it must be interpreted. (Surely it cannot be ignored).
This definition has to apply to both JSON processors and JSON-LD processors, which may inter

[2019-04-09 21:51] agropper commented on #474
+1 David.

I have stayed out of this discussion because it has been handled at a
supremely abstract level that keeps me out. David’s comment is not news but
is the first I’ve seen that I can react to.

My use cases for VC are a) physician credentials and reputation and b) a
prescription acceptable to a typical pharmacy.

I don’t expect the initial spec to solve the reputation issues in a) or the
t

[2019-04-10 03:28] msporny commented on #537
JSON-LD 1.1 isn't a REC yet, only 1.0 is. That said, in reality, most of the implementations that we know are already using the JSON-LD 1.1 features that have shipped in processors for the `@protected`, which would address some of @nadalin's JSON-LD processing concerns.

In a previous WG, we published a REC that noted that it would upgrade to the latest version of a dependent spec when it hit REC.

[2019-04-10 11:15] nadalin commented on #537
@msporny We did this with WebAuthn and the CredMan support as it's not REC yet and we went to the WebAppSec folks and gota statement from them

[2019-04-10 13:36] msporny commented on #474
I believe PR #535 does this: https://github.com/w3c/vc-data-model/pull/535/files

Fine with me. Which section should we put this clarification in?

What is your definition of "shifting definitions"? My concern here is that we're going to duplicate large sections of the JSON-LD specification, would pointing to the JSON-LD specification help? Every time we've done that in the past, we've gotten a ra

[2019-04-10 15:57] msporny commented on #537
Ok, then happy to do that wrt. the VC spec. I expect the JSON-LD 1.1 WG will support this, we will bring it up wrt. processing this issue during one of the next calls.

To front run a bit... hey, @iherman @bigbluehat @azaroth42 -- could we schedule a call (in the next two months) with the JSON-LD 1.1 WG to get a statement  from the WG that you intend to take the following features through to REC:

[2019-04-10 17:44] msporny opened #543 "Add informative references to LD Proofs, LD Signatures, detached JWS, and RsaSignature2018"
Add references in section 3.4 and 4.7 (and anywhere else a full proof is defined and understanding it is vital to understanding the section).

/cc @jricher

[2019-04-10 18:20] chaals commented on #537
Yeah, there are other precedents for relying on spec stuff that isn't a REC yet - it's more a question of explaining why the reference is reliable enough and important enough to use, rather than being bound by a formal set of rules.

[2019-04-10 20:19] brentzundel commented on #478
I have modified PR #534, please re-review.

[2019-04-10 20:46] David-Chadwick commented on #458
Revised text is now in PR#544

[2019-04-13 11:14] David-Chadwick opened #545 "Disputes"
There are no conformance statements in the Disputes section. If we want there to be a standard disputes mechanism, then we should have conformance statements that say the following:
i) if a subject wants to dispute a VC he/she MAY issue a disputes VC
ii) the credentialSubject of a disputes VC MUST contain the "currentStatus" property with the value set to "Disputed"
iii) the id of the credentialSu

[2019-04-13 14:32] msporny commented on #481
PRs #508 and #509 are now merged. Waiting for approval from WG to close.

[2019-04-13 14:56] msporny commented on #482
Clarifying text has been merged in PR #531 to address the issue raised by @nadalin. The resolution from the WG has been applied. More than 7 days has passed since the resolution passed. Closing the issue per the WG's approved CR issue processing procedure.

[2019-04-13 14:57] #482 closed

[2019-04-13 15:09] msporny commented on #488
PR #538 has been merged to partially address this issue. Other language clarifications will be made in a subsequent PR.

[2019-04-13 15:10] msporny commented on #488
@nadalin wrote:

The WG has been discussing your assertion over the past two weeks. It is resulting in multiple clarifications to the specification. Will note those PRs once they're in in this issue.

[2019-04-13 15:11] msporny commented on #488
PR #531 has been merged to partially address this issue.

[2019-04-13 15:12] msporny commented on #488
PR #535 has been merged to partially address this issue.

[2019-04-13 15:18] msporny commented on #478
PR #534 has been merged.

[2019-04-13 15:18] msporny commented on #478
The next step is to see if the WG agrees with the change to the specification text.

[2019-04-13 15:20] msporny commented on #478
@brentzundel this language is testable by checking to ensure that when an `id` property is provided, that the processor doesn't modify or remove it. This is tested in the current test suite in this test:

https://github.com/w3c/vc-test-suite/blob/gh-pages/test/vc-data-model-1.0/10-basic.js#L50

[2019-04-13 15:20] msporny commented on #478
The next step is to see if the WG agrees with the change to the specification text.

[2019-04-14 01:24] stonematt commented on #491
VCWG Teleconference Resolution: https://www.w3.org/2019/04/09-vcwg-minutes.html#resolution01

RESOLUTION: Processing @context for both JSON-based and JSON-LD-based processors is vital to ensure semantic interoperability. The VCWG has considered the points raised in issue #491 and has determined that no new information has been provided with regard to the topic of semantic interoperability. Additio

[2019-04-14 01:28] stonematt commented on #485
VCWG Teleconference Resolution: https://www.w3.org/2019/04/09-vcwg-minutes.html#resolution02

RESOLUTION: The specification is not clear with respect to the range of possible values for the issuer property and should add a few non-normative examples of different values that can be associated with the issuer property such as identifiers associated with JWKs and DIDs. Issue #485 should be closed as

[2019-04-14 01:30] stonematt commented on #486
VCWG Teleconference Resolution: https://www.w3.org/2019/04/09-vcwg-minutes.html#resolution03

RESOLUTION: JWTs are an external/enveloping digital signature format and cannot efficiently be embedded in data. Encrypting digitally signed (and proofed) expressions of the Verifiable Credentials Data Model are expected via the use of JWEs, COSE, TLS, and other encryption mechanisms and a fully supported

[2019-04-14 01:35] stonematt commented on #483
VCWG Teleconference Resolution: https://www.w3.org/2019/04/09-vcwg-minutes.html#resolution05

RESOLUTION: The VCWG had considered all points raised by issue #483 throughout the lifetime of the WG's operation, no new information was provided by issue #483 to convince the WG to change @context being mandatory (which has broad support in the WG with no objections). The WG will provide non-normative c

[2019-04-14 01:37] stonematt commented on #488
VCWG Teleconference Resolution: https://www.w3.org/2019/04/09-vcwg-minutes.html#resolution06

RESOLUTION: Implementers were polled before the specification entered the Candidate Recommendation phase and more than two implementers stated that they would implement this feature, thus it is not at risk. Interoperability for this feature is achieved if at least two independent implementations support t

[2019-04-14 01:39] stonematt commented on #489
VCWG Teleconference Resolution: https://www.w3.org/2019/04/09-vcwg-minutes.html#resolution07

RESOLUTION: The VCWG does not support the removal of JSON-LD from the specification. For Section 4.7: Proofs, interoperability is defined as at least two implementations implementing the normative statements in the section. Specifically, that the data model specifies a mechanism to express an embedded pro

[2019-04-14 01:41] stonematt commented on #496
VCWG Teleconference Resolution: https://www.w3.org/2019/04/09-vcwg-minutes.html#resolution08

RESOLUTION: Re-using the JWT "exp" claim in a Verifiable Credential is not appropriate because the datatype associated with JWT "exp" is a POSIX time value and the datatype associated with the expirationDate is a RFC3339 combined date and time string. The VCWG prefers the more verbose datatype. Non-normat

[2019-04-14 01:43] stonematt commented on #496
VCWG Teleconference Resolution: https://www.w3.org/2019/04/09-vcwg-minutes.html#resolution08

RESOLUTION: Re-using the JWT "exp" claim in a Verifiable Credential is not appropriate because the datatype associated with JWT "exp" is a POSIX time value and the datatype associated with the expirationDate is a RFC3339 combined date and time string. The VCWG prefers the more verbose datatype. Non-normat

[2019-04-14 01:46] stonematt commented on #500
VCWG Teleconference Resolution: https://www.w3.org/2019/04/09-vcwg-minutes.html#resolution09

RESOLUTION: The VCWG has delegated the management of all extension registries associated with the Verifiable Credentials Data Model to the W3C Credentials Community Group in order to support continuity in the extension work as well as a ensuring a light-weight process for managing the registry. The W3C is

[2019-04-14 16:19] msporny commented on #487
Also note PR #539, which clarifies a number of items raised in this issue.

[2019-04-14 16:20] msporny commented on #487
VCWG Teleconference Resolution: https://www.w3.org/2019/04/09-vcwg-minutes.html#resolution04

RESOLUTION: The specification is clear wrt. using JWT and JWS with the VC Data Model. The VCWG acknowledges that a W3C Recommendation for RDF Dataset Canonicalization, Linked Data Proofs, and Linked Data Signatures does not exist, and that the Verifiable Credentials Data Model specification, as well as a

[2019-04-14 17:05] msporny commented on #545
I expect that the group clearly meant this to be a non-normative section (and I could swear I wrote normative text for this at some point... perhaps that got removed in a series of edits?). The examples show what properties we intended to be used (at the very least, type `DisputeCredential`).

`statusReason` and `disputedClaim` were meant to be examples that we'd verify during implementation.

We'

[2019-04-14 17:26] msporny commented on #253
14 days have passed since the proposed resolution was placed in here. No new information has surfaced in the interim time frame. No changes to the specification have been made as a result of this issue. Closing.

[2019-04-14 17:26] #253 closed

[2019-04-14 17:27] msporny commented on #470
Ping @dlongley -- is a PR for this in process?

[2019-04-14 18:00] msporny commented on #458
PR #544 has been merged. Are there further non-normative changes you would like to make to the specification text @ken-ebert?

[2019-04-14 19:04] msporny commented on #483
A non-normative PR #535 has been merged in an attempt to address the reviewers concerns. The PR is the only change approved for the specification for this issue and thus processing of this issue is complete. I expect PR #539 will also help with this issue, but that PR is being applied to other issues as well.

[2019-04-14 19:26] msporny commented on #491
PR #546 implements the addition of non-normative text wrt. the resolution above. After that is reviewed and merged, this issue will be closed.

[2019-04-14 19:46] msporny commented on #487
Close of this issue is waiting on PR #539 to be merged, which is only waiting on a few editorial changes at this point.

[2019-04-14 20:20] msporny commented on #488
PR #547 is waiting to be merged to close out the rest of this issue.

[2019-04-14 20:26] msporny commented on #496
PR #539 is designed to address this issue. There is text in the specification already on how to convert to/from datetimes in the section on JWTs: https://w3c.github.io/vc-data-model/#jwt-encoding and https://w3c.github.io/vc-data-model/#jwt-decoding.

This issue can be closed as soon as PR #539 is merged and the 7 day close delay is over.

[2019-04-15 01:16] dlongley commented on #470
@msporny, No, but I believe what @jricher requested as a simple "Note" after each `RsaSignature2018` examples that had an informative reference to its spec and that mentioned it used a JWS detached signature with an informative reference to the JWS spec.

[2019-04-15 10:14] yancyribbens opened #549 "Remove reliance on external URL by allowing primary context to be a JSON Object"
Working with examples in the test-suit has presented continuous problems, either resolving URIs that should be functional ([down at time of writing]( https://w3id.org/security/v2)), [specifying the correct content type](https://github.com/w3c/vc-test-suite/issues/9), and [test-suit examples that aren't hosted](https://github.com/w3c/vc-test-suite/issues/8).

From the spec:
`The value of the @conte

[2019-04-15 13:20] stonematt commented on #502
The group discussed this topic and decided not to reopen the charter.  All groups are welcome to comment on the CR, including the WebAuthn WG.

Closing.

[2019-04-15 13:20] #502 closed

[2019-04-15 16:50] nadalin commented on #487
@msporny It should also be noted that if using JSON then no C14N is needed and that JWS can be used, only when using JSON-LD are you limited

[2019-04-15 16:53] nadalin commented on #488
@stonematt This would still be at risk if the someone that is reading the specification can't implement a standard way to do a Presentation, having proprietary way to do presentations is defeating the purpose of the standard. So I don't agree with closing this

[2019-04-15 16:56] nadalin commented on #496
@msporny if a "exp" is all that is needed then it should be acceptable, there is no requirement in the specification that says there is a dependency on RFC3339. So don't agree with the proposed change

[2019-04-15 17:00] nadalin commented on #489
@stonematt Disagree as someone reading specification needs to be able to implement a proof mechanism that is fully described as a normative reference in the VC specification so that interop can be achieved. So disagree with closing

[2019-04-15 17:03] nadalin commented on #486
@stonematt If all you need is a what a JWS provides then that is fine and should be stated, if you need more than you will have to reference  a specification that can actually be implemented as specified and achieve interoperability. so don't agree with closure

[2019-04-15 17:07] nadalin commented on #500
@stonematt Since there is no decision on a registry this needs to be at risk. The extensions need to be able to actually have implementations that interoperate, merely having a field to place any value in is not interoperability. So this is still an at risk item and non-normative

[2019-04-15 17:09] nadalin commented on #502
@stonematt This seems odd that this WG is not willing to reach out to the WebAuthn WG for security knowledge and reviews. No sure what the rational is but this should be noted to the TAG

[2019-04-15 21:45] David-Chadwick opened #551 "Appendix examples not complete"
The examples in Appendix B (Subject-Holder Relationships) do not contain an @context property, which is mandatory. Furthermore. "https://www.w3.org/2018/credentials/examples/v1" does not contain aliases for all of the vocabulary used in Appendix B.

[2019-04-16 01:01] TallTed commented on #478
A model has no processors, so there's no process to test.

As I read the tests at that link, they're checking that if `id` is present, it's a single URI.  There's nothing about a processor, nor any removal or retention...

Also, #534 had significant wording issues, to my reading.  Suggested revision is now (belatedly) a comment on #534.

[2019-04-16 14:20] TallTed opened #552 "unclear bit of text in "JWT Encoding" section"
see https://github.com/w3c/vc-data-model/blob/c74f5c98fe517e1196e5043ba8304798e77a4715/index.html#L3088

[code]

I'm not sure I understand the three possibilities in the MUST. I think `encoded as standard JOSE header parameters, JWT registered` -> `encoded as standard JOSE header parameters, encoded as JWT registered` but if that's not what was meant, then some other word-smithing will be needed.

[2019-04-16 15:09] brentzundel commented on #496
The text which describes the required dependency on RFC3339 for expiration dates is in section 4.8.

The text which describes the need to convert from RFC3339 to a UNIX timestamp if the VC is serialized as a JWT is in [section 6.3.1](https://w3c.github.io/vc-data-model/#jwt-encoding)

And the text which describes the need to convert from a UNIX timestamp to RFC3339 when moving from a JWT serializa

[2019-04-16 15:23] stonematt commented on #520
VCWG call April 16, 2019
RESOLVED: A JWT is not a Verifiable Credential as the data models differ. A JWT can be used to secure a Verifiable Credential as described in Section 6.3.1. The language related to @context processing for JWT-based processors should be clarified to note that dereferencing @context values is not required, which is a non-substantive clarification to the existing text in the

[2019-04-16 15:25] stonematt commented on #523
Resolved on VCWG call 4/16/2019.
RESOLVED: One of the goals of the Verifiable Credentials Data Model specification is to define extensibility points in the data model and achieve interoperability on the extensibility points (not the extensions themselves). The interoperability tests will focus on ensuring that the minimum information exists in extensions to identify the extension without needing t

[2019-04-16 15:40] stonematt commented on #525
Resolved on VCWG call 4/16/2019.
RESOLVED: Editors will non-normatively elaborate on the rules that ensure that the array of values associated with @context should be in the expected order. Close issue #525 after the PR has been merged.

Plan to close issue 7days following merge

[2019-04-16 15:42] stonematt commented on #394
Resolved on VCWG call 4/16/2019.
RESOLVED: Multiple non-normative commits and PRs (#475, #499) have been written, reviewed and applied for this issue. The WG does not believe that any more mis-characterized normative terminology appears in non-normative sections. Issue #394 should be closed.

Plan to close in 7days

[2019-04-16 15:43] jricher commented on #470
@dlongley That would be sufficient for my concerns and would help developers reading through the examples.

[2019-04-16 15:44] stonematt commented on #462
Resolved on VCWG call 4/16/2019.
RESOLVED: Issue #462 is addressed by PR #503, which makes non-normative changes detailing type information stored in a credential as requested by the reviewer. The PR has been approved by multiple parties and has been merged. Issue #462 should be closed.

Plan to close in 7days

[2019-04-16 15:45] stonematt commented on #463
Resolved on VCWG call 4/16/2019.
RESOLVED: Issue #463 is addressed by PR #504, which makes non-normative changes to updated the definition of an entity requested by the reviewer. The PR has been approved by multiple parties and has been merged. Issue #463 should be closed.

Plan to close in 7days

[2019-04-16 15:47] stonematt commented on #464
Resolved on VCWG call 4/16/2019.
RESOLVED: Issue #464 is addressed by PR #512, which makes non-normative changes related to the subject of the credential as requested by the reviewer. The PR has been approved by multiple parties and has been merged. Issue #464 should be closed.

Plan to close in 7days

[2019-04-16 15:49] stonematt commented on #466
Resolved on VCWG call 4/16/2019.
RESOLVED: Issue #466 is addressed by PR #477, which makes minor non-normative changes by changing "might perform" to "performs" for certain roles as requested by the reviewer. The PR has been approved by multiple parties and has been merged. Issue #466 should be closed.

Plan to close in 7days

[2019-04-16 15:51] stonematt commented on #471
Resolved on VCWG call 4/16/2019.
RESOLVED: Issue #471 is addressed by PR #507, which makes non-normative changes pointing out that trust is bilateral between issuers and verifiers as requested by the reviewer. The PR has been approved by multiple parties (including the reviewer), and has been merged. Issue #471 should be closed.

Plan to close in 7days

[2019-04-16 15:54] stonematt commented on #472
Resolved on VCWG call 4/16/2019.
RESOLVED: Issue #472 is addressed by PR #476, which makes non-normative changes noting that consent isn't implied by signatures on presentations as requested by the reviewer. The PR has been approved by multiple parties and has been merged. Issue #472 should be closed.

Plan to close in 7days