[2016-11-28 13:59] msporny opened #1 "Nesting Signatures with JWT"
There is a concern that nesting multiple signatures with JWT results in an exponential increase in the amount of data that needs to be stored. Each "envelope" needs to encapsulate the entirety of the signed data as a base-64 encoded blob. This is an issue for endorsements, counter-signatures, and M-of-N signature schemes. How will nested signatures be supported using JWTs?

[2016-11-28 14:01] msporny opened #2 "Composing JWT documents"
What is the data model for composing JWT documents. For Linked Data Signatures, the approach utilizes a graph-based data model to "merge" the data together. Is this same approach valid for JWT-signed data? Do we assume a graph-based data model and merge using the same rules, ignoring the JSON tree structure? Or do we have to specify how different JWT documents are merged together? We need examples

[2016-11-28 14:06] msporny opened #3 "Linked Data in JWTs"
Is the approach that we've taken to embed Linked Data in JWTs valid? Is it okay to just include JSON-LD data in a JWT? Should we be embedding NQuads instead? What is the most appropriate format for expressing data in a JWT and JSON-LD?

[2016-11-28 14:09] msporny opened #4 "Is the WebIDL expression necessary?"
Do we need to specify the WebIDL expression of Verifiable Claims in the same document? Should it be in a separate document? It feels pretty heavy-weight in the current document.

[2016-11-28 14:19] msporny opened #5 "Proof of Age insufficient for some regulatory requirements"
Note that even if one may desire to remain anonymous when purchasing alcohol, a photo ID may still be required to provide appropriate assurance to the merchant. The merchant may not need to know your name or other details (other than that you are over a certain age), but in many cases a mere proof of age may still be insufficient to meet regulations. We need to mention language in the specificatio

[2016-11-28 14:21] msporny opened #6 "Favoring abstract claims"
We need text in the specification that notes that all ecosystem participants should favor “proof of” vs. “actual data”. Example: overAge: 21 vs. birthdate. There are benefits for issuers, holders, and inspectors; we should specify what these are.

[2016-11-28 14:22] msporny opened #7 "Atomize information for principle of least authority"
We should include information in the spec that states that when issuing information, one should issue it in the smallest pieces possible. When requesting information, only ask for the data points that you need. Issue abstract claims alongside actual data when possible.

[2016-11-28 14:23] msporny opened #8 "Correlatability of bearer claims"
We should make it clear that even bearer claims can be correlated. For example, claims that contain personally identifiable information or unique identifiers can be correlated. Bearer claims can be tracked based on usage patterns.

[2016-11-28 14:26] msporny opened #9 "List all validity checks that should be performed"
We should make it clear that an inspector (e.g. corporation) is required to check revocation via the Issuer (e.g. government). In fact, there are many different types of validity checks that should be performed on data, such as the revocation status of an Issuer's signing key, the expiration date of the claim, etc.

[2016-11-28 14:30] msporny opened #10 "Storage location of claims may mine data"
We should make it clear that the storage location of claims may mine data or forward data so participants in the ecosystem should be wary of those business models. Systems that don't mine data may be able to use that feature as a competitive advantage. We should be clear that even though this system is privacy-enhancing, that it is not a panacea.

[2016-11-28 14:33] msporny opened #11 "Aggregation of claims reveal more than the data itself"
Aggregation of claims can reveal more information than just the attributes being aggregated. For example, exposing a birthdate and a zip code may identify a person far more accurately than a first and last name.

[2016-11-28 14:35] msporny opened #12 "Correlatability of usage patterns"
When and how verifiable claims are used is important for correlation purposes. It is important that implementers are aware and may warn their customers of correlation patterns.

[2016-11-28 14:36] msporny opened #13 "Tokenize to prevent sharing information with the wrong party"
It is important that issuers tokenize identifiers (like bank account numbers) when possible. It is also important to grant rights to a service via cryptographic mechanisms, such as proving that a set of verifiable claims are owned by a particular party.

[2016-11-28 14:39] msporny opened #14 "Correlation via frequency of claim issuance"
The rate at which an issuer issues claims may be a privacy violation because the holder of those claims may use them in a particular pattern that exposes what the claims are being used for. For example, short-lived over-21 claims being used to correlate that someone went to a particular bar.

[2016-11-28 14:40] msporny opened #15 "Origin-bound claims are more privacy-aware"
Single-use, origin bound claims are generally safer than long-lived claims. We should mention this in the privacy considerations section.

[2016-11-28 14:48] erickorb commented on #9
+1

[2016-11-28 14:58] dlongley commented on #2
Yes, I think this is what we do. We define a single point (or JWT claim) as an entry point for placing JSON-LD data. This is the simplest solution.

[2016-11-28 15:06] msporny opened #16 "Unsigned claims not secure"
Claims that are not digitally signed are not verifiable. The specification should allow unsigned claims, but should say something about claims that are unsigned.

[2016-11-28 15:16] dlongley commented on #4
I vote separate document.

[2016-11-28 15:18] msporny opened #17 "Dependent claims should be bundled"
Dependent claims should be bundled together so they're not used for the wrong purposes. Separating claims may result in their use in an unintended way, such as a proof of age being used to buy alcohol when the issuer never intended their set of issued claims to be used for that purpose.

[2016-11-28 15:24] msporny opened #18 "Highly dynamic information should have short expiry times"
The specification should note that validity time periods should be shorter for highly dynamic information. We should also mention that shorter expiry periods may result in less privacy due to frequency of issuance/use.

[2016-11-28 15:30] msporny opened #19 "Add renewalService URL to standard data model"
We may want to provide a verifiable claim refresh/renewal service to a verifiable claim such that it may be automatically renewed upon revocation or expiration. This could help smooth out  the experience around "expired credential" use cases such that expired credentials with a renewal service URL could still be considered for use without the individual explicitly having to renew the credential.

[2016-11-29 16:22] talltree commented on #7
Manu, what do you mean by "issue abstract claims alongside actual data"?

[2016-11-29 16:33] dlongley commented on #7
@talltree, I would guess that means when issuing, for example, a Passport credential with a birthdate (actual data), also issue a Proof of Age credential with an "age over 21" abstract claim.

[2016-11-29 16:46] jonnycrunch commented on #1
uPort may have solved this by wrapping the hash of the content using IPFS and signing the hash.   I will look up the solution and update this issue.

[2016-11-30 04:26] stevenrowat opened #20 "Should commenting by adding Github issue be mentioned in Status section?"
"Status" currently includes this sentence about commenting on the document:
“If you wish to make comments regarding this document, please send them to public-credentials@w3.org (subscribe, archives).”

Should the method of creating Github issues (like this one) also be included?

[2016-11-30 04:28] stevenrowat opened #21 "Typo section 2 "abouth""
"or other information abouth the" should be "...about the"

[2016-11-30 04:30] stevenrowat opened #22 "Three identical typos of "representd", sections 4.1.1, 4.1.2, 4.3.2"
Should all be "represented" in "MUST be representd as a Boolean type" in sections 4.1.1, 4.1.2, 4.3.2.

[2016-11-30 04:50] stevenrowat opened #23 "Confused by json-ld inclusions in JSON examples 3 and 5 -- is this correct?"
See section:
4.1.2  Expressing Entity Credentials in JSON

Why is json-ld used in two examples under this JSON section, in Examples 3 and 5?

I'm not versed in either json-ld or JSON more than the small amount I've seen while on the Web Payments and VC mailing lists, which isn't a lot, so I'm coming to this section relatively cold. And I find it confusing: in fact they look like full-blown json-ld

[2016-12-04 21:51] jtibbetts opened #24 "Unclear on antecedent of "agent" in Entity Credentials capabilities"
In section 1 of the vc-data-model there is a list of capabilities for Entity credential holders.  One of them is: "Entity credential holders that share verifiable claims are not required to reveal the identity of the inspector to their agent or to issuers.".  On initial reading I've taken the agent to mean the agent of the Entity credential holder.  If that's true that would imply that the holder'

[2016-12-04 21:58] jtibbetts opened #25 "Why is the Identity Profile not included in the list of "standardization work"?"
In the Introduction there are "two pieces of possible standardization work": 1) data model of entity credentials and 2) specific representations in different syntaxes.  Why isn't the Identity Profile Model (cf section 3.2 of this document) included in that list?  If it's more fully described in some other document or standard, then that should be referenced.  If it's defined herein, it should be a

[2016-12-04 23:47] stevenrowat commented on #25
An interesting observation, and after reading through those sections again my guess (not being an author of this) is a combination of the following:

1.  Perhaps if "the minimum information necessary to create and use entity credentials" is achieved, then the required architecture is also achieved to make Identity Profiles; but not the other way around.
2. There's been reported, on the mailing lis

[2016-12-05 16:23] jtibbetts commented on #23
I think there is a problem in this document with the way that JSON and JSON-LD are shown to relate with one another.  And you're seeing one manifestation of that problem in this section.  I intend to write further about this either in another issue or in some other posting to the group.

In the meantime let me make a best effort at explaing this given inferences that I've made from the discussions

[2016-12-05 17:36] jtibbetts commented on #4
+1 on separate document.

But related question: I don't see that WebIDL has the representational horsepower to construct a graph.  So how does a LinkedDataSignature2015 get generated for it?

[2016-12-05 18:01] jtibbetts opened #26 "Are JWTs appropriate for Verifiable Claims?"
I've been a big fan of JWTs.  In fact, in a recent revamp of IMS Global's LTI web service security we've added JWTs as a favored mechanism for generating bearer tokens.

But I have reservations of using JWTs for all but the simplest Verifiable Claims (if at all).  It seems to me that JWTs are optimized for just what the acronym implies: creating a  _**token**_.  A token, to me, is a small thing.

[2016-12-05 23:28] jtibbetts opened #27 "An alternate approach to expressing JSON formulations with VC"
In at least two parts of the Data Model document there are sections which demonstrate using JSON formulations vs JSON-LD formulations.  That is, section 4.1.1 "Expressing an Identity Profile in JSON" vs section 4.2.1 "Expressing an Identity Profile in JSON-LD".  There are parallel sections 4.1.2 and 4.2.2 dealing with Entity Credentials.  In each case the difference is minor--the JSON version docu

[2016-12-06 15:50] jonnycrunch commented on #3
My understanding is that it is valid, additional data is currently sent in the OpenID Connect standard as JWT over the OAUTH2 protocol.

[2016-12-06 15:57] msporny commented on #3
Sorry, I should not have used "valid". What I meant is, from a standardization perspective, is it okay to just include data? I would expect that we should spec out what needs to be included and there may be an RFC publication process that I'm unaware of where it's good practice to publish extensions to JWTs via that extension registry. So, the "validity" had more to do with the process than it did

[2016-12-06 17:21] jandrieu commented on #25
When third party claims combine with the principle of minimal disclosure, there can't be a definitive Identity Profile Model. Some recipients of claims will need certain information, others different information. Some claim creators will present information in one particular way, e.g., "DateOfBirth", while others will issue minified abstract assertions such as "Over21", "Over18", "AtLeast13", etc.

[2016-12-06 17:34] jandrieu commented on #25
The short answer is that the schema of the Identity Profile is inherently emergent. Different creators and recipients will have different needs and those needs will change over time.

The VCTF previously used to use the term "Identity", defined as all the claims about a particular person, which is aligned with related ISO standards. I advocate against using "Identity" in that way because it is con

[2016-12-07 17:10] msporny commented on #20
Yes, we should add a link to the issue tracker.

[2016-12-15 01:56] #22 closed

[2016-12-20 14:35] burnburn commented on #4
Why should it be in a separate document?  I thought we wanted to show that WebIDL was a valid syntax.

[2016-12-20 14:51] msporny commented on #4
@burnburn Reasons that it might make more sense to have it in a separate document:

1. WebIDL is for the browsers, primarily, therefore the WebIDL should be in a "Browser API" spec (this is 1-2 years down the road, btw).
2. There may be many other supported syntaxes, for example, we've successfully converted the data model to YAML and XML, and we probably wouldn't put those in the data model spec.

[2016-12-20 15:04] burnburn commented on #4
@msporny Reason 1 makes sense, since we are particularly interested in making clear that no browser support or modifications are required for this first effort.
Reason 2 is circular, since you are assuming that those would not go into the data model spec without discussion to make that decision.  Personally I don't believe they need go in, but others might disagree.
Reason 3 I agree with.  However

[2016-12-20 15:18] jtibbetts opened #30 "Design choices in expressing a verifiable claim"
There are a number of design choices needed in expressing a real verifiable claim.  I’m working with an IMS group that is designing a VC to represent a college transcript.  The questions that are emerging here might very well be generic and could be the basis of normative best practices for the data model document.

The central issue is how skinny or fat should a VC be.  For example, the group wan

[2016-12-20 15:21] burnburn commented on #24
@msporny we can't call this editorial yet.  It needs a response to the question, at least.

[2016-12-20 17:11] ottonomy commented on #4
I support having one syntax in all the examples in the spec document (JSON-LD would be my preference) but being very clear in the language that multiple syntaxes are possible and providing examples in other syntaxes as an appendix or other related resource.

[2016-12-20 17:31] jandrieu commented on #12
I'd like to step out a few layers to relate this to "Identity" because, in effect we are talking about how verifiable claims will be used, intentionally or otherwise, to correlate individuals' identities from one context to another.

It turns out that "identity" as used in technical discussions means two things, sometimes conflated in a subset as PII or "Personally Identifiable Information".

Veri

[2017-01-12 11:20] ChristopherA opened #32 "Bootstrapping Simple WoT Verifiable Claims"
I’m puzzling through some simple verifiable claims for bootstrapping some of the basic functions of the classic web of trust (both explicit what actually existed, as well what people falsely believed to be claimed.

The first kind of claim I’d like to build is that did::Alice knows did::Bob.

Knows is part of https://schema.org/Person

The simplest verified claim in Figure 8 of https://opencreds.g

[2017-01-13 21:01] msporny commented on #32
This should probably be  "did::alice#THISCREDENTIAL". Our terminology is effectively:

A Verifiable Claim is a cryptographically protected statement. (e.g. the name on  your driver's license)

A Entity Credential is a set of verifiable claims. (e.g. your driver's license)

An Identity Profile is composed of a collection of Entity Credentials. (e.g. the contents of your wallet)

Depends on what "co

[2017-01-15 16:33] msporny commented on #32
He can if he wants, or does not have to. It is Bob's choice. If he does want to issue a claim stating that he knows Alice, he does not need to include Alice's claim, he just creates a new claim stating that he knows Alice and publishes it in his DDO. He may also include Alice's claim in his DDO so that someone looking at each claim may see that the reciprocity exists without going to Alice's DDO.

[2017-01-15 16:34] msporny commented on #32
She just appends Bob's claim to the end of her 'credentials' property in her DDO.

[2017-01-15 16:53] msporny commented on #32
The nonce is a red herring.

I think the only thing that's required is for Alice and Bob to list each other's keys in the claim and/or signature. That way you have proof that Alice knows Bob, and when Alice made this statement, that one of Bob's keys was X.

There are /many/ ways to express this information. We just have to pick one and use it. AssessAction may be a bit heavy handed as the only th

[2017-01-17 11:49] burnburn commented on #32
Christopher,

Manu has left some excellent and detailed responses to your questions.  The only high-level comment I have to add has to do with the general understanding of what Verifiable Claims actually provide.  You made the following statement:

"Now at this point there is no cryptographic proof that Alice knows Bob (and in fact, Alice & Bob are not even human readable names, just DID number)."

[2017-01-17 15:56] dlongley commented on #32
@burnburn,

Another way to put what VC provides is that it provides cryptographic proof of the **authorship** of claims.

[2017-01-17 16:25] dlongley commented on #32
The "issuer" property should also be included in the credential examples above, i.e.:

[code]

[2017-01-17 17:11] ChristopherA commented on #32
Thanks everyone, we are making progress!

[2017-01-17 17:12] burnburn commented on #32
Discussed in 17 Jan 2017 teleconference.  (link to minutes will be added when available)

[2017-01-17 17:22] ChristopherA commented on #32
So far, the big thing missing is for Bob to give Alice a cryptographic proof that he currently possesses knowledge of the private key that he has give her the public key for. Normally this is proven by Alice giving Bob a random nonce, which he signs.

A) This could be out-of-scope of Verifiable Claims as the proof could be part of a protocol — Alice & Bob could use the external protocol to confirm

[2017-01-17 17:26] ChristopherA commented on #32
My final object is Alice claiming that she knows Bob's public key, Bob has proved possession of his private key, combined with Bob claiming that he knows Alice's public key and Alice has proved possession of her private key, all in a single object. Along possibly with one more claim that Alice and Bob will act as introducers to others, this become the core Web of Trust object.

[2017-01-17 17:31] ChristopherA commented on #32
Once we have the core Web of Trust object, the next attribute is Alice says that Bob is a Natural person, and Bob says that Alice is a natural person. Separately, there could be another attribute that Alice & Bob are a Unique Natural Persons, i.e. to the best of their knowledge they have signed only one Unique Natural Person attribute to this person they know. This last allows for certain kinds of

[2017-01-17 17:35] ChristopherA commented on #32
Note again, there are no "True Names" here. All other correlations (Hi, my name is "Alice") can be out-of-band with end-to-end encryption technology, thus privacy correlation can be minimized. It is possible to follow social network meta data in the simplest form, but to a certain extent that correlation is a requirement of the use case, and other correlations should be minimized.

[2017-01-17 17:37] jandrieu commented on #32
Where does terms-of-use meta-data end up?  There are currently stated requirements about duration of information sharing, which is, I believe, none of the issuer's business, but rather an assertion by the holder when presenting the claim for inspection.

I don't believe I've seen anything in our draft documents explaining how the recipient/inspector of a claim could verify that the terms of use, s

[2017-01-17 18:23] dlongley commented on #32
@jandrieu,

It's in somewhat of a gray area with respect to scope, IMO. We have this concept but it's part of the experimental credential exchange protocol we've been working with -- which *is* out of scope.

Yes, this is how it's done in our experimental protocol. When you share claims, you present an `IdentityProfile` that contains whatever credentials (and the claims they encapsulate) you want,

[2017-01-20 01:34] agropper commented on #12
Privacy engineering can help sort through the different aspects of privacy in a use case. I’d like to relate this issue to the specific prescription use case that I maintain.

1. The highest privacy goal of this use-case is to maintain the self-sovereignty of the physician-patient relationship in the face of regulatory requirements. Specifically, we seek to enable a transaction system for a prescr

[2017-01-20 06:30] jandrieu commented on #12
Thanks for the example, @agropper.  It's a solid example of where Verifiable Claims can help with privacy.

To help us move towards a more rigorous lexicon, I'd like to call this a "use domain" instead of a "use case." I'm hoping to establish a specific semantics for use cases:

I'm still working through the best alternative language, but "use domain" or "domain of use" seems like a good way to de

[2017-01-20 13:55] msporny commented on #12
@agropper @jandrieu Should we move @agropper's use case description to the use cases repository? This repository is about data model and specifically the privacy/correlatability section. We may want to split this discussion into two aspects: 1) The use case itself (put it in the use cases repo issue tracker), and 2) How this use case impacts the correlatability subsection in the privacy considerat

[2017-01-20 19:31] jandrieu commented on #12
Sounds good. I'll move the use domain over there for its own refinement.

One thing became clear to me in working through Adrian's use domain is the need for a strawman architecture for these kinds of use domains so that we can evaluate the privacy impact. For example, the main page for the [Tahoe-LAFS](https://tahoe-lafs.org/trac/tahoe-lafs) has a simple diagram distinguishing what parts of the a

[2017-01-20 20:32] burnburn commented on #12
@jandrieu So, how do you suggest we proceed?  In particular, is there anything you think might be productive to discuss in next week's call?

[2017-01-20 22:15] agropper commented on #12
Thanks @jandrieu You're structuring this is a useful way. The correlations and transactions seem correct.

Questions:
1 - Good question. I'm not sure what to say about encryption but I suspect security design will be evident as we go forward.

2 - I agree with your framing. I don't know the legal answer to who does routine audits. I would allow for a separate registry no matter what. The pharmacy

[2017-01-21 09:55] peacekeeper opened #33 "RDFS / OWL for VC vocabulary?"
Hello, I'm curious if there are plans to define an RDF schema or OWL ontology for the VC vocabulary. E.g. what would be the rdfs:domain and rdfs:range of the cred:claim property?

[2017-01-21 15:35] msporny commented on #33
Yes. In fact an experimental JSON-LD Context exists here:

https://w3id.org/credentials/v1

and the experimental vocabulary will exist here:

https://w3id.org/credentials

... and will resemble something like this when we're done:

https://w3id.org/security

The current charter has this ontology as a deliverable:

https://www.w3.org/2017/vc/charter#deliverables

That said, I doubt we're going to b

[2017-01-24 15:57] ottonomy commented on #5
I always considered this use case to be somewhat abstract. Of course a `"isOverAge": 21` is not yet compatible with regulations that say "Only a DMV, military or government photo ID is accepted as proof of age". Those regulations weren't developed until after the technology to print photo IDs was widely deployed. It seems like the default would be to assume the same thing would happen with proof o

[2017-01-24 16:22] jandrieu commented on #12
Created new issue in use case repo: https://github.com/opencreds/vc-use-cases/issues/38

[2017-01-24 16:24] msporny opened #34 "Add section on Revocation"
It is currently not clear how Verifiable Claims may be revoked by the issuer. We should add a section to the specification that clarifies the various mechanisms for revocation of claims.

Discussion on this issue started here: https://github.com/opencreds/vc-use-cases/issues/33#issuecomment-273237017

[2017-01-24 16:25] msporny commented on #12
Added issue to add revocation section to specification: https://github.com/opencreds/vc-data-model/issues/34

[2017-01-24 16:30] msporny commented on #34
ACTION: Manu to write section on Revocation for the Data Model spec.

[2017-01-24 16:47] msporny commented on #12
Next steps is to do a privacy analysis on Adrian Gropper's use case listed in this issue. The people that volunteered are: @jandrieu @agropper @jonnycrunch @msporny @amigus

[2017-01-24 17:13] burnburn commented on #12
Discussed in 24 Jan 2017 telecon (link to minutes when available)

[2017-02-06 17:04] stonematt commented on #12
@jandrieu @agropper @jonnycrunch @msporny @amigus -- looking for an update on this issue.

[2017-02-06 17:54] jandrieu commented on #12
Note this has moved to the use cases repository: https://github.com/opencreds/vc-use-cases/issues/38

[2017-02-06 18:03] msporny commented on #12
This issue was originally about writing 2-3 paragraphs for the Data Model specification under the Privacy section related to Correlatability. I think we're going a bit overkill here - the analysis that @jandrieu and @agropper are doing is useful, but we probably don't need to wait on that to write a section for the specification. We just need a general idea for what sort of things you could put in

[2017-02-06 19:52] msporny opened #35 "Define ONE concrete format for the revocation parameter"
What is the simplest format of the revocation parameter?

Perhaps something like this:

[code]

When you dereference the "id" parameter above, options include:

1. a list of strings, which are IDs (e.g. ["https://example.com/vcs/23898239", "https://example.com/vcs/838732", ...]),
2. a list of JSON objects each with an 'id' entry (e.g. [{"id": "https://example.com/vcs/23898239"}, {"id": "https://ex

[2017-02-06 20:07] msporny commented on #34
This issue is waiting on reviews for the PR.

[2017-02-07 15:05] amigus commented on #12
@stonematt I'm going to lead the effort to put the use-case @agropper defined, through the NIST Privacy Risk Assessment Methodology based on NIST.IR.8062.  I expect I'll need help from the other volunteers in the coming weeks.

[2017-02-07 15:18] burnburn commented on #34
Note that you will also need to add Syntax sections as well.  PR #36 only adds the model.

[2017-02-07 15:54] msporny commented on #34
I added one example for the time being, we'll have to sort out what the syntax looks like via https://github.com/opencreds/vc-data-model/issues/35.

[2017-02-07 16:21] dlongley commented on #35
We could return back a more complete view of the revocation list, including a `contains` property with all of the IDs for revoked credentials (claims). This approach would be very similar to inboxes in the [LDN spec](https://www.w3.org/TR/ldn/#receiving-inbox-contents) and would potentially make the list constitute a container that is compliant with other specs. It would also allow for layering pa

[2017-02-12 20:40] David-Chadwick commented on #35
It is not clear to me what the purpose of /23984 is at the end of the URL. Is this meant to be the unique credential ID/number? If so, we have a privacy issue, since this allows the credential issuer to determine which SPs the user is contacting with the credential. This should not be condoned or supported in the model or protocol.

[2017-02-12 20:43] David-Chadwick commented on #11
This is true. Whenever you start to intersect sets you will eventually end up with an intersection that uniquely identifies one individual in the whole world. I don't see how you can prevent this.

[2017-02-12 20:47] David-Chadwick commented on #7
Perhaps the spec should go even further than this, and say that when issuing credentials, if it not technically possible for the user to selectively reveal single attributes (claims) from the credential, then the issuer should issue a set of credentials, each credential containing a single attribute (claim) only. The user may then aggregate these as necessary and as required by the inspector

[2017-02-12 20:53] David-Chadwick commented on #9
This is not exactly true. The issuer may delegate the issuing of revocation information to a TTP. And if several issuers use a common TTP this is much better for privacy protection, as it makes it much more difficult for the issuer or the TTP to know which user/holder has contacted which inspector.

Change text to "is required to check revocation via the Issuer or its delegate"

Perhaps we should

[2017-02-12 20:54] David-Chadwick commented on #10
Why dont we recommend that users store their own claims locally?

[2017-02-12 21:32] David-Chadwick commented on #17
I dont think this is the right solution. Rather, separate claims should have a policy field which indicates the policy of the issuer. The policy may control the number of uses (e.g. one time use), restricted recipients (inspectors), or other controls. (Validity time is just one specific example of the issuer's policy.). Separating claims into atomic units is a good thing in my opinion as it allows

[2017-02-12 21:34] David-Chadwick commented on #16
They are simply self-asserted claims. A user can always make whatever claims he wants to. It is up to the inspector to decide what trust or value he places in self-asserted claims.

[2017-02-12 21:37] David-Chadwick commented on #15
I am not sure what you mean by origin bound? Can you explain please.
Also we should differentiate between short lived, (un)revocable, and single use claims. A claim can be long or short lived, one time or many time use, and revocable or not. But in practice it does not make sense to have short lived revoked certs and long lived unrevocable certs. So there are 4 types in practice rather than 6 type

[2017-02-12 21:39] David-Chadwick commented on #14
I dont think you can infer that. The issuer might infer that the holder is rapidly consuming something that requires you to be over 21, but cannot have any idea of whether it is a bar, brother, drug den or whatever else. And certainly cannot infer it was a particular bar.

[2017-02-12 21:41] David-Chadwick commented on #18
On the contrary, short lived non-revocable claims can be more privacy preserving than long lived revocable ones, since the inspector does not have to contact the issuer to retrieve revocation information.

[2017-02-12 21:44] agropper commented on #16
Self-asserted claims can still be signed by the user. Given self-sovereign (blockchain) identifiers, the reputation linked to any particular signature can be highly variable and it's up to the inspector to decide what trust or value he places on the identity associated with a signature.

[2017-02-12 21:52] David-Chadwick commented on #19
I think this is primarily an implementation issue rather than a protocol one. In our implementation, the client knows which attributes the user is able to assert, and whether there is a current credential available or not. But the user is never pestered to renew his credentials. They are automatically renewed when the attribute needs to be asserted and the existing credential has expired. There is

[2017-02-12 21:59] David-Chadwick commented on #16
True. But practically speaking, if the holder has a secure connection to the inspector, and sends an unsigned credential  in a signed message, or sends a self-signed credential in an unsigned message, this makes little difference from a trust perspective. It is still a self asserted claim that the inspector has to decide how much to trust it.

[2017-02-12 22:21] agropper commented on #16
Practically speaking, it's preferred (from the perspective of driving adoption of our work) to have all claims handled the same way, regardless of the degree of trust in the signature.

[2017-02-13 01:24] msporny commented on #35
It's the identifier for the revocation list, which SHOULD contain a very large list of revocation information. It SHOULD NOT be unique to the credentia ID/number, because if it were, we have a privacy issue (as you mentioned). We need to be very clear about this in the spec (and elaborate upon it in the privacy section).

As far as "supporting it" in the data model or protocol, we can't do anythin

[2017-02-13 01:25] msporny commented on #11
This issue is merely to track that we are aware of the issue and to generate some text in the privacy section of the specification pointing this out.

[2017-02-13 01:27] msporny commented on #7
@David-Chadwick Yes, we will want to make a note of that in the privacy section.

[2017-02-13 01:29] msporny commented on #9
@David-Chadwick We're also working on Blockchain-based revocation lists for such purposes.

[2017-02-13 01:32] msporny commented on #10
It's not realistic to expect everyone to store their own claims locally. Some will store them w/ credential repositories, others will store them locally but want them backed up, etc.

I expect that, in time, a rating system will be created for credential repositories and those repositories will be rated on whether or not they mine your data, store things encrypted at rest, etc. That said, we may n

[2017-02-13 01:45] msporny commented on #17
Yes, agreed that this is a good thing. However, there will be /some/ issuers that do not want to atomize. They want their credential to be used only for the purposes they intended. Policy controls can be overridden if technology can't enforce the policy or detect when it's being broken.

We need to enable choice for BOTH the issuer and holder. This does create a tension between some issuers and so

[2017-02-13 01:50] msporny commented on #16
Those are both effectively signed claims.

This particular issue is about claims that have absolutely no digital signature associated with them. For example, Verifiable Claims can be used to assert product information like so:

http://schema.org/Product#eg-10 (See JSON-LD example)

That information can be shoved into any website. You can argue that if served over HTTPS, that it's effectively the s

[2017-02-13 01:55] msporny commented on #15
We're using the W3C definition of "origin", which effectively means a domain (DNS name). So a claim that is only ever shared with one domain, and only ever shared once ("I am over 21", for instance).

There are ways to re-share the "I am over 21" claim again, but in a way that is impossible for the site to determine if you're the same person sharing the same claim or not. Note: this requires some

[2017-02-13 02:02] msporny commented on #14
Consider the following use case: You get 4 requests for over the age of 21 credentials all coming from IP addresses in a particular area of Washington DC loaded with bars between 10pm-1am.

More likely than not, that person is bar hopping.

[2017-02-13 02:06] msporny commented on #18
The frequency of use is related to https://github.com/opencreds/vc-data-model/issues/14, so it's still an issue.

Doesn't this assume centralized revocation lists? This isn't an issue for decentralized/TTP revocation lists, right?

[2017-02-13 02:08] msporny commented on #19
Yes, that's exactly what this issue is driving at. We need a way to represent this renewal URL in the data model. We will also need to define a protocol for doing so (eventually).

[2017-02-13 08:44] David-Chadwick commented on #17
"Policy controls can be overridden if technology can't enforce the policy or detect when it's being broken".
I believe it is the policy of the inspector that ultimately counts. It might wish to override the policy of the issuer as it is taking the risk and bearing the cost itself. Real life example: Unilever issues me with a 10cents coupon off their soap, and it says 'only to be used to buy Unilev

[2017-02-13 08:57] David-Chadwick commented on #35
I like the idea of blockchain revocation. Do you have any pointers to the work?

[2017-02-13 09:00] David-Chadwick commented on #18
Correct, providing the user community is large enough. It each issuer only has a couple of users, and the dozen issuers issue very different types of credential, then it would still be possible to infer which user contacted which inspector.

[2017-02-13 09:03] David-Chadwick commented on #14
As a holder, I would question why
a) 'over 21' should be a short lived credential in the first place, and
b) object strongly to it being a one-time-use credential.
This is certainly an example of finding a more privacy friendly issuer.

[2017-02-13 09:10] David-Chadwick commented on #15
A single use over-21 credential in a bar makes little sense, since you are physically present in the bar and your face does not change. So short lived (eg an evening) multiple use origin bound is much better in this case, since the issuer has much less knowledge about what you are doing.
There seems to be a conflict between privacy leakage to the issuer vs. to the inspector and single use vs. mult

[2017-02-13 09:14] David-Chadwick commented on #16
In which case I return to my initial comment. Simply say "These are self-asserted claims that provide no technical means of verification. The inspector will need to use other out of band means to ascertain the veracity of the claim."

[2017-02-13 17:46] dlongley commented on #17
True, but the user should get an atomic proof-of-age from a different issuer and use that instead. This is obviously a politically charged example. We can't enforce liberal ideals through this technology, we can only enable them. Perhaps we ought to focus on an alternative use case like academic course credit credentials where the "lab part" of a class can't be separated from the "lecture part".

[2017-02-14 15:50] jonnycrunch commented on #12
Regarding the original issue of Correlatability:  I see the issue as maintaining control over the selective disclosure of verifiable claims that may lead to Correlatability and understanding/accepting that risk.  The Rx use-case is interesting and much too complex, because face it, when we are sick and/or dying we will give up our souls for the chance to live longer.   Perhaps, this thread should

[2017-02-14 15:57] jonnycrunch commented on #9
By TTP, you mean Trusted Third Party.  Can you give an example of a revocation performed by a TTP?  A lot of TTP that I know of only aggregate the credentials and point the use to the source of truth, including revocation of the credential.   Typically the TTP covers themselves by giving a valid period or expiration date and upon renewal, they perform a validity check before issuing a new credenti

[2017-02-14 16:00] msporny commented on #9
Yes.

Company A outsources all their credential management to Outsource B. Outsource B issues credentials under Company A's private key, and places the revocation list information in a bulk revocation list (for all customers). For example, the Department of Motor Vehicles outsources the issuance of digital drivers licenses , which are good for 7+ years. The outsourced firm maintains a revocation l

[2017-02-15 19:55] agropper commented on #12
I'm trying to make the Rx use-case simple enough to enable a bit of privacy
analysis with respect to correlation. A new version at
https://docs.google.com/document/d/1l4d1_gvMeljbhCbWhxKpaPOk3A9-05sD3vD1V2PnNog/edit
is simpler and may lend itself to a focused discussion.

As far as de-identification, I find the topic is used mostly to justify
lack of transparency in how personal data is used. The

[2017-02-21 16:23] ottonomy commented on #9
I think the discussion gets a little into the weeds. Revocation will be checked in the manner that the credential tells the inspector to check for it. There will be multiple methods, but that doesn't change the task in the ticket, which is to list the checks that must be performed. Revocation is one of them (if the credential offers a method to check for revocation -- some may not).

Here are some

[2017-02-21 16:31] ottonomy commented on #6
In order to enable recipients of verifiable claims to use them in a variety of circumstances without revealing more personally identifiable information than necessary for the transaction, issuers should consider limiting the information published in a claim to a minimal set needed for the expected purposes.

For example, if retailers in a market commonly require purchasers to be older than a speci

[2017-02-21 20:31] dlongley commented on #9
@ottonomy,

I don't believe you meant for the above list of checks to be mandatory for every credential, but to leave no doubt, I can imagine a case where this is no such `@id` (i.e. bearer credentials).

[2017-02-21 20:52] ottonomy commented on #9
👍 , @dlongley. This item should be adjusted to indicate that `@id` may not be required and that this check should only apply when it is used.

[2017-02-22 17:39] jandrieu commented on #12
I just made a pull request with specific language.

One challenge I had was distinguishing the privacy of the holder separate from the subject. It's easier to discuss and reason about when the holder is presumed to be the subject, but that presumption is knowably false when dealing with delegated or guardian holders, e.g., claims about a child. Unfortunately, it also should probably never be presu

[2017-02-22 22:57] agropper commented on #12
I'm confused by the terminology.

- Parent A presents Prescription for Sibject child B to Pharmacy.
- A has a DID and B has a DID.
- I don't see a third party.
- The parent needs to show a driver's license because the Prescription is
for a controlled substance.
- The custodial relationship between A and B needs to be verified.

Adrian

On Wed, Feb 22, 2017 at 12:39 PM Joe Andrieu <notifications@gi

[2017-02-27 15:00] stonematt commented on #19
What are the next steps on this issue?    This should have clarity early in our process.

[2017-02-27 15:02] msporny commented on #19
@stonematt next steps are that we need a concrete proposal as a PR. So, someone needs to volunteer to do that. @dlongley might be the best person to do that PR.

[2017-02-27 15:04] msporny commented on #9
@ottonomy Could you create a PR from your proposed text so we can do a review? That's the next step here, imho.

[2017-02-27 15:05] msporny commented on #6
@ottonomy Could you create a PR from your proposed text so we can do a review?

[2017-02-27 15:07] #34 closed

[2017-03-07 14:16] msporny opened #41 "Add DO_NOT_CORRELATE flag to Verifiable Claims"
It should be possible for a sender of a Verifiable Claim to add a DO_NOT_CORRELATE flag to make their desire to not be correlated concrete.

For example, only releasing email information for the purposes of login and site-wide correlation (and not 3rd party correlation) should be possible via the data model.

[2017-03-10 18:49] dlongley opened #42 "Add display hints to data model, for example: information to use a Web Component"
We should consider having something in the data model that specifies how to display a credential in a consistent way, for example, a link to a Web Component for rendering a verifiable claim/credential. This would allow independent displayers of VCs to be able to pull in custom components for rendering claims/credentials in specific and consistent ways.

Note that there are privacy concerns related

[2017-03-12 03:30] prototypo commented on #11
It seems to me that this issue is theoretically inescapable, but could be practically addressed by being careful with what information is given out in various scenarios. Carefully thinking through the minimum information needed per use case might do it.

[2017-03-12 03:49] prototypo commented on #12
@agropper It would be really helpful to align terms, such as "patient" with equivalent (or new, if necessary) Verifiable Claims terms (e.g. "entity").

It would also be helpful to surface all the implicit relationships in the prescription use case (e.g. the verifying employee at the pharmacy is authorised by the pharmacy to certify a prescription as being valid).

[2017-03-12 23:19] agropper commented on #18
Expiry times need to be considered in context and based on privacy engineering principles. Here's a sequence that illustrates the design and use of a highly dynamic claim:

1. Issuer public key is posted securely (DNS-CERT, DID)
2. Dynamic claim example is a prescription
3. Claim expires in minutes or has revocation method (anyone can spend coin)
4. Subject ID may be single-origin (DID)
5. Issuer

[2017-03-13 00:31] agropper commented on #12
Agreed. The format of the document is not ideal for a privacy analysis
because the relationships are hard to follow. I tried to highlight the
issues in my comment on https://github.com/opencreds/vc-data-model/issues/18

A more general format for how to deal with this eludes me but I suspect we
need a couple of examples for privacy just like we have a couple of
examples for how to code a claim. Sim

[2017-03-14 22:22] jandrieu commented on #41
In addition to the linked "terms of use" field (URL, etc.), it would be good to be able to either embed the signed terms under which the data is shared, or at a minimum a hash of the terms at the time of disclosure.

In general, the resource residing at a URL cannot be treated as static. Even if the recipient were to immediately retrieve the resource and store it as a form of purpose binding, ther

[2017-03-18 19:40] msporny commented on #18
@agropper This is useful, but we need to focus on item number 3 in your list, along with bullet item 2 and 3 in the list that is bulleted.

In short, we need 2-3 paragraphs only talking about highly dynamic claims and when it's a good idea to use them. We may not want to explain a full use case, as you've done above. Can you take what you've written above and write something that is more of the fo

[2017-03-18 22:35] agropper commented on #18
Highly dynamic information is subject to either short expiry or revocation lists. To avoid traffic analysis that would reveal to the issuer when or how a claim is being used, the issuer’s API could allow the subject to request the expiry time, within whatever parameters the issuer supports. Alternatively, the issuer could support a revocation mechanism that does not leak information when the revoc

[2017-03-21 15:51] christianlundkvist commented on #1
@jonnycrunch: Yeah in uPort we haven't dealt with multiple signature on the same data yet. I guess a question here is if a verifiable claim needs to be a JWT? You could imagine a scenario where you interpret an array of JWTs as a multisig on the same data.

[2017-04-14 18:04] #6 closed

[2017-05-30 15:48] dlongley commented on #42
We need to talk to Web App Sec about how we can sandbox third party Web Components that are used to display Verifiable Claims ... so we can prevent them from using the network (and potentially other things).

[2017-05-30 15:51] jandrieu opened #46 "Add section/language about presentation of claims"
The dominant mental model is that a singular claim is issued and later presented to an inspector. However, there has been significant discussion about how a subset of a credential may be presented as well as how claims from multiple issuers may be aggregated for presentation.

This significantly impacts privacy around the issue of minimal disclosure and selective disclosure.

In particular, what i

[2017-05-30 15:54] ChristopherA opened #47 "3 Types of Claims"
Repeatedly when talking to various people using claims, largely from communities doing reputation systems, they make distinctions between 3 types of claims.

R3, a consortium of banks, at https://bitsonblocks.net/2017/05/17/a-gentle-introduction-to-self-sovereign-identity/ says:

    Claims would be stored by typing text into standardised text fields, and saving photos
    or scans of documents.

[2017-05-30 15:58] jandrieu opened #48 "Add section about terms of use"
Currently we don't have a section on how the data model supports various terms-of-use scenarios.

There have been discussions about expiry, revocation, and scope of use, but none have matured enough to have made it into the data model.

In particular, we need some distinction between terms of use for a given claim or credential, as set by the issuer, and the terms of use of a given presentation, a

[2017-05-30 17:19] dlongley commented on #47
+1 for a section mapping these common terms to how they fit into the VC data model terminology

[2017-05-30 17:44] jandrieu commented on #47
+1 for a section. I concur with the observation mentioned on the call today that all three types of claims can be made within the framework of a verifiable claim, but we don't make that clear. In fact, sometimes we obfuscate it completely. A claim, as currently defined, is always an assertion by the issuer. Assertions *could* be about other claims and thereby provide evidence or evaluation/refutat

[2017-05-30 19:51] cwebber commented on #27
We talked more or less about this on the call today.  The above isn't too far off from what was said on the call... while there were a variety of points raised, most seemed to converge on "we don't want people overwhelmed with the -LD side of things if all they're familiar with is JSON, but we also don't want to drop the -LD".

One option discussed is how ActivityStreams, ActivityPub, and Web Anno

[2017-06-01 15:22] Ryladog opened #50 "Add Accessibility Use Case for under 3.3 Healthcare"
This could be better worded, but I rushed to put this together when I noticed the notice to publish FPWD. I could also come up with one for Education.

H.5 Proving Legal Disability Status

Trina, who is legally blind is currently unemployed and needs to use the local free disability ride service to get to the employment office. To use this service she is required to verify that she, in fact, maint

[2017-06-01 15:36] msporny commented on #50
@Ryladog I think you're looking for this repo: https://github.com/w3c/vc-use-cases

Please re-raise the issue there. I think the group already cleared an FPWD publication for next Tuesday, so FPWD will go out w/o this use case, but we'll quickly implement the auto-publishing workflow so your use case above will quickly make it into that spec after FPWD.

[2017-06-06 15:36] ChristopherA opened #51 "Bad Github Description Link"
A github issue — the link in the description at the top of this github pages is a now 404 https://opencreds.github.io/vc-data-model/ — should be to the correct new page.

[2017-06-06 15:38] ChristopherA opened #52 "Repo Needs README.md"
This repo needs a README.md document, in case you arrive in it via a google or github search.

[2017-06-10 00:30] msporny opened #54 "Should spec include WebIDL and XML expressions"
Should the VC Data Model spec contain WebIDL and XML expressions of the data model?

[2017-06-10 00:56] msporny opened #55 "Multiple subjects in a single credential"
Technically, the data model supports a single credential making claims about multiple subjects:

[code]

While this may be a corner case, the data model allows for it. Should we change the definition of entity credential and entity profile from being about "a subject" to "usually about the same subject" or equivalent language.

[2017-06-10 01:06] jandrieu commented on #55
Interesting.

I look at that JSON-LD and I'm wondering how anyone knows those dids refer to different subjects. They could *all* be the same person. And since the statements in each claim isn't actually about the DID, but about the entity referred to by the DID, I think that's more than a semantic distinction.

The only way we could presume that those DIDs referred to the same subject is if that w

[2017-06-13 10:06] burnburn commented on #51
Since I don't seem to have authorization to do this, I have given @liamquin the details and asked him to do it.

[2017-06-13 15:22] #7 closed

[2017-06-13 15:40] BigBlueHat commented on #23
FWIW, in the [Web Annotation Data Model](https://www.w3.org/TR/annotation-model/) we required the `@context` key, but mapped `@id` and `@type` to simpler `id` and `type` variations, and made (at some level) the JSON serialization valid JSON-LD. You can see the that in the [required properties of an Annotation](https://www.w3.org/TR/annotation-model/#annotations).

The objective was to have a Web A

[2017-06-13 15:46] BigBlueHat commented on #27
Just said similar things over at https://github.com/w3c/vc-data-model/issues/23#issuecomment-308158783

[2017-06-13 16:21] liamquin commented on #51
fixed

[2017-06-13 16:21] #51 closed

[2017-06-14 16:04] burnburn commented on #52
Added in commit 117f47.

[2017-06-14 16:05] #52 closed

[2017-06-15 18:02] mediaprophet commented on #33
https://github.com/schemaorg/schemaorg/issues/1654

[2017-06-24 19:20] jandrieu commented on #48
Another use case for issuer's TOS, from the mailing list:

[2017-06-24 19:29] jandrieu commented on #46
Based on our conversations last meeting, https://www.w3.org/2017/06/20-vcwg-minutes.html, I think it's clear we don't have a consistent term that we use for what is presented to the inspector.

We do have the terms credentials and entity profiles.

However, we do *not* describe the workflow as

1. Issuers issue credentials
2. Claimants create entity profiles combining one or more claims from one o

[2017-06-24 19:45] jandrieu commented on #46
The poll terminology may be fine as long as we clarify in the FPWD that this is in the simplest case of a single claim. To address issues of minimal and selective disclosure we should then also expand that flow to clarify the terms credential and entity profile.

I think our conversations often stumble because we conflate credentials, claims, and entity-profiles.

I'd prefer to just have the one i

[2017-07-11 15:47] rvarn opened #57 "Ideas for roles to add to the data model for next draft"
Some of these terms are already defined and this is just my way of expressing them in single framework to layout some other roles and dependencies/relationships.

•	An **Issuer** issues claims about Subjects using Identifiers
•	**Subject** is the party about whom the claim is made and can be a:
     o Person
     o Thing
     o	Entity
     o	Artificial Intelligence
     o Other?
•	An **Asserter**

[2017-07-11 16:14] rvarn opened #58 "Expiration versus Revocation"
When a claim issuer limits the duration or similar condition for use of a claim it should be considered an expiration.  This could include something as simple as the time for which it is allowed to be used or a business model requirement like the subject has a current paid subscription, attending X hours of continuing education, or a membership that includes the claim as part of that business mode

[2017-07-12 02:30] ChristopherA commented on #58
I've done a lot more thinking about this from at least the perspective of BTCR.

1. Alice's Use Story: https://github.com/WebOfTrustInfo/btcr-hackathon/blob/master/RWOT-User-Story.md

2. On the challenges in Understanding Spectrum of Integrity/Inspection/Validation/Verification/Confirmation https://github.com/WebOfTrustInfo/btcr-hackathon/issues/33#issue-242219510 + beginning of Alice's Use Case u

[2017-07-16 19:34] kimdhamilton opened #59 "Challenges in Understanding Spectrum of Integrity/Inspection/Validation/Verification/Confirmation/Revocation"
_From @kimdhamilton on July 15, 2017 23:8_

_From @ChristopherA on July 12, 2017 0:7_

(this is a pre-draft of a post to be an issue on https://github.com/w3c/vc-data-model/issues/ or possibly added to https://github.com/w3c/vc-data-model/issues/58 once it is more thought out)

As evidenced by the failure of polling in the W3C Verifiable Claims WG last week on the name of the role of Validator vs.

[2017-07-16 19:34] kimdhamilton commented on #59
_From @ChristopherA on July 12, 2017 0:24_

BTW, the logic of my ordering of these different spectrum words started with the name of the working group, Verifiable Claims.

- INTEGRITY CHECK includes malformation and cryptographic signature or proof checks - this is defined by the signature system spec
- INSPECT INTO means looking inside for something and then going outside to get it — this is defi

[2017-07-16 19:34] kimdhamilton commented on #59
_From @ChristopherA on July 12, 2017 1:27_

The topic of revocation will be much harder to define — in fact, we probably need as many stages and roles for it alone as the above has about the spectrum from integrity to confirmation.

What they all the forms of revocation have in common is to help us with deal with the edge cases when things can go wrong.

The simplest case should be expiration. How

[2017-07-16 19:34] kimdhamilton commented on #59
_From @ChristopherA on July 12, 2017 2:15_

In our user story of **Alice**, the Syrian Hacker Army is targeting her as the author of an Android app that helps Syrian refugees communicate with the families back home and send them care packages through a random peer-to-peer network of people sharing their car trunk capacity. An Uber of small gifts, an AirBNB of trunk space.

**Alice** has been caref

[2017-07-16 19:34] kimdhamilton commented on #59
_From @ChristopherA on July 12, 2017 2:18_

A reminder: there will likely in time be other specific techniques for doing revocation, see #2 and #25.

[2017-07-16 19:34] kimdhamilton commented on #59
_From @ChristopherA on July 12, 2017 2:20_

A question for @jandrieu: I know that you like to keep your 15 step use cases to be technology-agnostic, but what steps in your model am I missing from the above?

I'd love to get from our graphic facilitators a little graphic image based on the stories above for each of your 15 steps, and present those 15 steps and how they work with the current BTCR co

[2017-07-16 19:34] kimdhamilton commented on #59
_From @jandrieu on July 12, 2017 3:8_

@ChristopherA I'll dive into the mapping to 15 steps later tonight, but I wanted to suggest a distinction that I hope will help reduce the complexity of revocations.

Without some sort of general knowledge engine, aka, AI, we can never algorithmically know if any given statement is true or justified or appropriate. We may be able to tell if it is intended as

[2017-07-16 19:34] kimdhamilton commented on #59
_From @jandrieu on July 12, 2017 16:48_

After sleeping on it, I think we also need to bring up the update/amend techniques. I raised this a year ago in the VCTF, but didn't get traction on it.

However, if DIDs are specifically designed to enable updating DDOs without changing the URL (and they are), and if DDOs are verifiable claims (and that has been proposed), then we are explicitly building a

[2017-07-16 19:34] kimdhamilton commented on #59
_From @dlongley on July 12, 2017 17:25_

In my view, I don't think DDOs should be claims, but rather, they may embed (or link to) credentials that contain claims.

When dereferencing a DID, you get a DDO, which is a document that contains a graph (or RDF dataset) where the main node in the graph lists relationships (RDF predicates) between the entity the DID identifies and other nodes or literals.

[2017-07-16 19:34] kimdhamilton commented on #59
_From @jandrieu on July 14, 2017 18:44_

That sounds right, @dlongley

[2017-07-18 00:08] kimdhamilton opened #60 "What would a counter-signed RWoT claim look like?"
_From @ChristopherA on July 14, 2017 22:43_

Using my DID (the latest value from Shannon's code), and signing a verifiable claim (created from the verifiable claims playground and signed with my correct testnet private key I used to create the DID transaction) I get:

[code]

This should be (hopefully and eventually) inspectable, validatable, verifiable and confirmable.

However, under the BTCR me

[2017-07-18 00:08] kimdhamilton commented on #60
I think the signatures accumulate in a single array at the end, like this. But @dlongley would know better.

https://github.com/WebOfTrustInfo/btcr-did-tools-js/blob/master/claims/kimh-countersigned.jsonld

[2017-07-18 00:49] msporny commented on #60
@kimdhamilton @ChristopherA Multisig for LDS is defined here: https://w3c-dvcg.github.io/ld-signatures/#multiple-signatures

There are two options... set signatures and chained signatures. If the order of signatures matters, you should use chained signatures. Note that we have set signatures implemented, but chained signatures are not implemented and we should discuss some of the concerns before g

[2017-07-22 16:45] kimdhamilton opened #61 "DID Documents as self-signed Verifiable Claims"
_From @ChristopherA on June 30, 2017 7:20_

The current DID implementors spec for DIDs just has the DDO being a signed JSON-LD blob.

I've always been inclined that instead it should be a self-signed verifiable claim, pointing to itself. This may be a minor point but that is the way I've always thought of the trusted root ever since the days of Ronald Rivest's SDSI.

I believe this is what @msporn

[2017-07-22 16:45] kimdhamilton commented on #61
_From @msporny on July 17, 2017 1:10_

It's exactly as @ChristopherA says, but keep in mind that our DDO implementation is going on 2+ years old at this point. Here's an example of a DDO for our current system:

https://demo.authorization.io/dids/did:2ba2d687-2f92-4c4a-aa45-e3e8a6ae38a1

We'll be revamping it over the next couple of months to align w/ the new DID spec. We expect to suggest changes

[2017-07-22 16:45] kimdhamilton commented on #61
@ChristopherA which repo should we move this to?

[2017-07-22 16:45] kimdhamilton commented on #61
_From @ChristopherA on July 18, 2017 1:18_

I our prototype, ddo fragment /0 is signed by the blockchain itself (in our case, bitcoin) which points to the next fragment (in our case, through the op_return), and the /1 is a self-signed claim that adds claims about the entity that issued the did. Fragment /1+ could contain more claims, either issued by the did issuer, or accepted from others about t

[2017-07-22 16:46] kimdhamilton opened #62 "Insight for DID spec: proofs, not keys"
_From @ChristopherA on July 14, 2017 7:31_

An insight from the work this week is we should not be talking about owner key, or control key, etc.

Instead, we should be talking about proofs.

For instance, this fragment from a DDO

  {
          "control":
          [{
              "control-bond": 1.25
              "rotate-proof": [{
                  "proof-type": "pubkeyhash",

[2017-07-22 16:46] kimdhamilton commented on #62
TODO: insights and links from BTCR hackathon

[2017-07-22 16:46] kimdhamilton commented on #62
_From @ChristopherA on July 14, 2017 22:29_

I started this at https://github.com/opencreds/did-spec/issues/4#issuecomment-315449659

I'd like to see a paragraph or so from each of us of top lessons learned, and important links to code, text, or issues contributed to.

[2017-07-22 16:46] kimdhamilton commented on #62
_From @msporny on July 17, 2017 0:59_

I suggest we start moving a lot of these issues to the DID spec issue repository. @talltree, @dlongley, and I met in DC this past week to go through a revision of the DID spec that Digital Bazaar needs so it can align it w/ our implementation and thinking. I expect this will be an area of focus at the next RWoT.

Specifically, a capabilities based security mo

[2017-07-22 16:46] kimdhamilton commented on #62
_From @ChristopherA on July 17, 2017 1:21_

Moving these issues is in progress — many of the issues from this hackathon have already been moved there. @kimdhamilton found a useful tool that moves them intact.

[2017-07-22 16:46] kimdhamilton commented on #62
_From @talltree on July 17, 2017 5:20_

Christopher and Kim,

I'm glad to see these issues move to the DID spec issue repository. Are you
planning for these to start being discussed on the weekly calls, or should
we start planning a dedicated weekly or bi-weekly called on the DID spec.
There is a lot of work to do here and implementations are already underway,
which creates pressure to do it quick

[2017-07-22 16:46] kimdhamilton commented on #62
I'm open to both. Btw, tomorrow we have about 15 minutes that you (and/or Manu) can spend on DID topics as you see fit. Given the priority of this spec, I imagine we could carve out a large amount of time for the weekly meeting on an ongoing basis. As the year proceeds, we could juggle the weekly meeting focus.

It's possible that even this won't be enough, so we could have either dedicated recurr

[2017-07-22 16:46] kimdhamilton commented on #62
_From @talltree on July 18, 2017 5:0_

Kim, thanks. Evernym has a company summit this week so my time on the call
tomorrow will be limited. I'll try to get on the chat and watch for it on
the agenda so I can be sure to join for that segment at least.

=Drummond

On Mon, Jul 17, 2017 at 3:34 PM, Kim (Hamilton) Duffy <
notifications@github.com> wrote:

[2017-07-22 19:17] agropper commented on #62
Sorry, I've lost the thread... Is this an open call tomorrow? Where?

Adrian

On Sat, Jul 22, 2017 at 12:46 PM, Kim (Hamilton) Duffy <
notifications@github.com> wrote:

--

Adrian Gropper MD

PROTECT YOUR FUTURE - RESTORE Health Privacy!
HELP us fight for the right to control personal health data.

[2017-07-22 19:30] kimdhamilton commented on #62
Sorry @agropper -- this was an issue that I ported using an automated tool, and it pulled in some confusing comments. I deleted those. No call tomorrow

[2017-07-23 22:07] kimdhamilton commented on #62
This issue was moved to opencreds/did-spec#15

[2017-07-23 22:07] #62 closed

[2017-07-23 22:08] kimdhamilton commented on #62
In fact, this was supposed to be in DID spec; moved

[2017-07-24 14:49] dlongley commented on #61
Link to some of my other comments on this issue: https://github.com/w3c/vc-data-model/issues/59#issuecomment-315631620

[2017-07-27 13:53] msporny opened #64 ""Inspector-Verifier" terminology is confusing"
I'm concerned about the recent decision to pick "inspector-verifier" as a glossary term for the following reasons:

* From a communication and marketing standpoint, it's awkward to say and use alongside the other terminology (issuer, holder, etc.). Having used the term to talk about the ecosystem, it sounds out of place when said out loud on a stage or when talking with customers.
* It makes it se

[2017-07-27 14:48] msporny commented on #9
I'm taking this up in the spec now and authoring text to implement @ottonomy's list.

[2017-07-27 16:29] msporny commented on #9
Check to make sure all of these concepts are in the spec:

 * [ ] Document is valid JSON-LD.
 * [ ] Required properties are present in the document.
 * [ ] The issuer's `@id` may be accessed.
 * [ ] The issued date is published and is in the expected range (i.e. not in the future).
 * [ ] There is an `@id` of the claim subject identified. This `@id` matches expected recipient.
 * [ ] The document

[2017-07-27 16:38] msporny commented on #9
I have verified that all checks listed by @ottonomy are now in the specification. Closing this issue.

[2017-07-27 16:38] #9 closed

[2017-07-27 17:33] dlongley opened #66 ""Verifiable Claim" as a concept without a direct data model mapping"
I think that "Verifiable Claim" is a concept that does not actually have a direct mapping in our data model, yet we are trying to shoehorn it in. The implementations don't support it. I think we're (mistakenly) trying to say "Here is where the verifiable claim is in the data model" simply because the work is called "Verifiable Claims Data Model".

Instead, we should embrace that "Verifiable Claims

[2017-07-27 20:06] jandrieu commented on #66
I think the distinction we need to preserve is that the architecture mustn't require that credentials--as issued--be presented directly to inspectors. If we do that, we are replicating the passport/driver's license paradigm and will leak personal information in the same way.

To support selective disclosure, the holder needs to be able to present just *some* claims / proofs from any originating cr

[2017-07-27 20:44] dlongley commented on #66
@jandrieu,

There are multiple ways of accomplishing this with varying levels of cryptographic (and other) complexity. I agree that we should try hard to ensure our architecture enables all of them.

This would not be the simplest way. You do not need to make Claims independently verifiable from their source Credentials.

The simplest way to do selective disclosure is for issuers to atomize claims

[2017-07-27 20:48] dlongley commented on #66
A more concise way of describing my position:

We should not *require* advanced cryptographic methods or highly-available infrastructure to share credentials simply because the presence of both of these eliminates the need for Issuers to atomize credentials. Our architecture should not assume these features exist everywhere people want to use credentials in the ecosystem. We can have simpler primi

[2017-07-27 20:56] jandrieu commented on #66
This seems rooted in semantic ambiguity. My understanding had been that the defining characteristic of a credential is that it is a bundle of claims, but you're discussing a very different kind of credential. I also understand that a claim is a statement about a subject and a *verifiable claim* contained whatever additional meta-data was required to assure inspectors that the claim was made by the

[2017-07-27 21:55] dlongley commented on #66
"verifiable claim contained whatever additional meta-data was required to assure inspectors that the claim was made by the issuer and remains unrevoked." <-- That's a "credential". This is the essence of this very issue.

[2017-07-27 22:13] dlongley commented on #66
Must? No. That is just one approach.

A set of credentials. Logically/conceptually in the graph (and using JSON-LD tools that merge graphs), they will combine to form the same document (e.g. educational degree) that would have been formed by the credential that contained all of the claims at once. The data model is compositional. It doesn't matter if you've got four credentials with each talking a

[2017-07-27 23:31] burdges commented on #66
If you want a scheme that does not overtly harm users, like by enabling tracking, or even identity theft, then you need the specification to mandate specific "advanced crypto" and you need years more cryptographic research to know what it should say.

Imho, it's a mistake to even try this now because any generic scheme needs to something like verifying a certificate chain in zero-knowledge, while

[2017-07-28 05:18] jandrieu commented on #66
I still don't think you're adding anything by proposing a change. The current terminology section says

https://w3c.github.io/vc-data-model/WD/2017-08-03/#terminology

You are proposing we change that, but so far I only see splitting semantic differences. While we can discuss the system with any consistent set of definitions, constantly changing definitions doesn't help anyone.

You ask

You gave

[2017-07-28 09:35] David-Chadwick commented on #9
I would request one further check please
- If the issuer has placed any policy information about the use of the credential e.g. intended inspectors, expiration date etc that this policy is adhered to

[2017-07-28 13:04] msporny commented on #66
Hey @jandrieu, I think there's a lot of miscommunication happening between you and @dlongley. I'll try to submit a PR that clarifies what @dlongley is talking about to give us something concrete to comment on.

Here's the bottom line: About 18 months ago, we changed from talking about "Credentials" (which were verifiable) to "Verifiable Claims", against our better judgement, because there was pres

[2017-07-28 13:13] msporny commented on #9
@David-Chadwick done - https://github.com/w3c/vc-data-model/commit/0eac37156a1d4bb6751d3bf4933e73cf2e4a9710

[2017-07-28 14:45] dlongley commented on #66
@jandrieu,

Having the the "subject ID resolve` to a particular document is something specific to Linked Data Signatures. We want to also support other mechanisms. It's simpler, and therefore less error prone, to implementers (and verifiers) if you sign all of the metadata.

We're miscommunicating. I'm saying that what's written in the spec currently tries to shoehorn "Verifiable Claim" into the d

[2017-07-28 18:05] stonematt commented on #64
you missed the group discussion following the vote.  even though verifier gained the most votes in the run off, the interim process showed more polarization than the other 2 roles did.  we were all a bit surprised by the nuance of the results.  The concern was that "Verifier" was overburdened and not necessarily intuitive in this context.  The hyphenated term is meant to be uncomfortable, so we co

[2017-07-28 18:33] msporny commented on #64
What do you mean by "the interim process"?

[2017-07-28 21:28] jandrieu commented on #66
Ok. Cool. It sounds like there's a clarification coming soon.

Just one note: I said "subject ID to resolve" rather than the even simpler, subject ID is the public key itself. As long as you can start with the ID and eventually get to checking the sig, there still doesn't seem to be a reason to sign the ID. Who is signing it?

[2017-08-03 17:39] msporny commented on #23
Just to provide an update on where we are with JWT and LDS. I met with the spec authors for the JOSE JWS/JWT work and worked through a mechanism that enables LDS to use the JOSE stack for signatures while keeping all the benefits of JSON-LD. That is, we figured out a way to merge the technologies in a complementary way. That work led to this spec:

https://w3c-dvcg.github.io/lds-rsa2017/#examples

[2017-08-06 11:35] jandrieu opened #68 "Unstated expectations and assumptions about subject-holder relationships"
As mentioned in the last call, there is confusion driven by presumed relationships between a holder and the subject. This directly relates to the "trust model" for entity profiles.

**In some use cases**, the inspector-verifier MUST also verify that the holder is the subject, because of downstream reliance upon the verifiable claim, typically associating the statement in the claim with the holder

[2017-08-07 06:41] jandrieu commented on #25
I withdraw my earlier comment without prejudice. ;)

The Entity Profile is missing, and in the latest PR #67, incorrect as commented in https://github.com/w3c/vc-data-model/pull/67#issuecomment-320500440

I answered a more overarching question because I didn't understand that Entity Profiles were what holders present to inspector-verifiers. I spent a year thinking claims were presented, and theref

[2017-08-07 15:03] msporny commented on #68
Agreed, @jandrieu, excellent analysis and spot on.

Remember also that the spec doesn't outline how a holder asserts "I am this DID" - that is, by counter-signing the profile. Again, the implementations Digital Bazaar has done over the past 3+ years support profile counter-signatures, but we have yet to put that into the spec.

[2017-08-09 17:11] David-Chadwick opened #70 "Holder Bundling of Separate Claims"
As pointed out in the section "Bundling of Dependent Claims" the bundling might be done by the holder, when the issuer is happy to issue separate credentials (e.g. to support minimum disclosure). However we need to ensure that the holder does not bundle together separate credentials that were not meant to be bundled together (as in the example of the university issuing Staff member in Dept Computi

[2017-09-08 17:12] burnburn commented on #68
@jandrieu and @David-Chadwick volunteered to write an issue marker for this in the Milestone 1 spec during our 29 Aug 2017 telecon.

[2017-09-08 20:13] jandrieu commented on #68
Suggested language:

[2017-09-09 08:31] David-Chadwick commented on #68
I was thinking that we should have two pieces of text in the current
specification as follows.

The first piece should state:

The current version of this specification is restricted to use cases
where the holder of the VC is the subject of the VC. A subsequent
version of this specification will consider use cases where the holder
of the VC is not necessarily the subject of the VC.

The second pie

[2017-09-10 02:44] jandrieu commented on #68
Except the current data model has no support for use cases where Subject is presumed to be the Holder. The only verification mechanism defined for Verifiable Claims is a cryptographic analysis of the signature and checking an optional revocation mechanism. In contrast, as the data model is now, it works fine when there is no presumption that the Subject is the Holder. Claim verification is complet

[2017-09-10 11:27] David-Chadwick commented on #68
I would argue the contrary, that whilst the data model does not state definitively who the holder is, it implies the holder is the subject viz "In this process, the holder asks for the benefit and the inspector-verifier grants or denies the benefit based on verification of the holder’s qualification from a trusted issuer." This sentence implies the holder is the subject, and that for verification

[2017-09-10 21:00] jandrieu commented on #68
There are many of those, including me, who were drawn to this work because it does not depend on a flawed presumption about the identity of the holder.

That said, I agree completely with your last statement. In order to support reliance on identity proofing, the data model needs to explicitly state this. It does not at this point. There is no property that specifies how such proofing would be per

[2017-09-10 22:59] David-Chadwick commented on #68
Currently there is a flawed presumption in the data model document about the identity of the holder, because it is ambiguous. Hence different people make different presumptions about this. Hence it is flawed. What I am arguing for is that we eventually support both scenarios: holder is subject, and holder is not subject. And that the data model has built in explicit mechanisms for this. But we sta

[2017-09-11 00:56] jandrieu commented on #68
Agreed that it is flawed due to ambiguity in the document. However, the data model already supports the simplest model, where the subject is not necessarily the holder. In those cases, all you need to do is check signature and revocation. Which is well defined and fully documented.

What's more complicated to define how to verify that the holder==subject. Outside of the DID effort in the community

[2017-09-11 02:00] msporny commented on #68
Not exactly correct, @jandrieu, but discovering this would require years of immersion in the specs and I can understand why one would assert what you did.

The "identity proofing" (if you can call it that) mechanisms that /is/ supported by the data model (and implementations have supported it to varying degress in the past) is this one:

1. A Verifiable Credential is requested by the Verifier.
1.

[2017-09-11 03:02] jandrieu commented on #68
Ok. That's interesting. Given the confusion in other discussions about profiles, and the recent emergence of the term "verifiable profiles", I suppose it isn't surprising that this isn't obvious.

Is it correct to say that a Verifiable Claim is not verifiable unless in a Verifiable Profile where the creator of the profile signature is also the subject of the claim?

Or would it be more correct to

[2017-09-11 08:20] David-Chadwick commented on #68
I agree that clarity is needed. But I would also say that proof of ownership is out of scope as this requires a way of validating the link between the person and the client software that creates and transfers the profile to the inspector. Proof of possession is the most we can do, i.e. that the client software that obtained the credentials on behalf of the subject is the same one that is sending t

[2017-09-11 08:30] David-Chadwick commented on #55
The data model should definitely make a strong statement that "a credential must contain a set of claims about the same subject". Otherwise it is not a subject profile - it is a group profile.This does not mean that the IDs of the claims must be the same, although that is the simplest way of ensuring this. A subject could have multiple IDs, as in your example above, but must then she must be able

[2017-09-11 08:49] David-Chadwick commented on #68
@Manu. There is a weakness between your steps 4 and 5 related to issue 55. If issue 55 is not nailed down to mandate that all claims in a credential must refer to the same subject, and all credentials in a profile must refer to the same subject, then we can have the cases that
a) the credential contains claims about different subjects
b) the holder/profile creator is not any of the subjects in the

[2017-09-11 16:40] msporny commented on #68
@jandrieu wrote:

It depends on how you define "verifiable". Certain parts are still verifiable, where "verifiable" means "there are certain things that you can check to see if they're true or not"... like a digital signature, for instance.

A Verifiable Credential (which contains verifiable claims) is verifiable outside of a Verifiable Profile. A Verifier can check that the digital signature on t

[2017-09-11 16:53] dlongley commented on #68
I haven't finished reading all of the comments in this thread just yet, but it's becoming clear to me that the spec needs to clearly lay out that there is an intentional decoupling -- a separation of concerns -- regarding the subject's identifier format, the proof mechanism used to assert authorship of the claims, and the proof mechanism used to assert ownership or control over the subject's ident

[2017-09-11 16:59] msporny commented on #68
Joram can be realized because we don't have a limited notion of proof of ownership == proof of identity. Lets talk about something more specific than "proof-of-ownership" as we need to at this stage of the conversation. Let's instead start talking about "authentication", which we've started doing here: https://github.com/w3c-ccg/didm-veres-one/issues/1. How does Joram authenticate with a system?

[2017-09-11 17:09] msporny commented on #68
@David-Chadwick wrote:

We currently don't make that assumption in the data model, and we do have a way (as explained above) of validating some aspect of what you're talking about.

I don't think we can logically limit claims in that way. Linked Data is open world assumption, and as such, we can't stop people from putting whatever they want to in a claim. We COULD assert that verifiers should thro

[2017-09-11 17:41] David-Chadwick commented on #68
I think there is a strong link between the protocol and the data model. After all, the data model defines a credential which is essentially a signed message that has to be carried in some protocol from the issuer to the inspector via the subject/holder. Because the holder can be an attacker, and is in control of the protocol exchange with the inspector, there needs to be some binding between the c

[2017-09-11 17:44] David-Chadwick commented on #68
Thus in order to protect against this type of MITM attack, I dont think you can logically put all the controls in the holder-inspector protocol, because the attacker has full control of this. The attacker does not have control of the credential, so a control must be in the data model.

[2017-09-11 18:32] msporny commented on #68
Yes

Yes, and this control is the "authenticationCredential" field in the DDO (or somewhere in the subject's graph), at a minimum... IF you need to verify that the holder is the subject.

[2017-09-11 21:23] David-Chadwick commented on #68
Where is DDO in the current data model specification? Where is authenticationCredential? DDOs are not mandatory. Consequently a field such as this needs to be in the data model spec, then we have solved the issue

[2017-09-11 21:33] jandrieu commented on #68
@msporny:

Perfect. That's exactly what I think is missing. Will there be a way other than a DID to provide these types of assurances/proofing? Personally, I think relying on DIDs is a fine idea, but it hasn't been explicit in the specification, and I'm wondering if that's even possible at this stage, given where that specification is in its lifecycle.

My advocacy here is that the
a. current spec

[2017-09-11 21:35] jandrieu commented on #68
@dlongley Much support for your proposal for better illustrative examples for the different parts in the data model and why we have decoupled where we have.

[2017-09-11 23:51] msporny commented on #68
@David-Chadwick wrote:

The Decentralized Identifier Object (DDO) is not a part of the data model specification, you get it by dereferencing the subject identifier (if the subject identifier is a Decentralized Identifier). The DID spec is here: https://w3c-ccg.github.io/did-spec/

`authenticationCredential` is being discussed here:

https://github.com/w3c-ccg/didm-veres-one/issues/1#issuecomment-3

[2017-09-12 00:27] msporny commented on #68
@jandrieu wrote:

Yes, basically when you dereference the subject identifier (e.g. `https://example.com/people/jandrieu` or `did:v1:9646ec67-3660-4936-9f9e-91c885ebb1a3`), if the document you dereference has an `authenticationCredential` then a Verifier MAY use any authentication credential listed (that's acceptable to the Verifier) to authenticate the subject. This is how you can either use digit

[2017-09-12 07:51] agropper commented on #68
I think the e-prescribing use-case can help inform this discussion. I'm in
the process of updating the white-paper based on our work on this use-case
in the past year and being clear about DID, DDO, and VC in the update would
be nice, but may be a stretch. In any case, here it is:

   - The *Verifiable Claim* is a prescription. The process is subject to
   federal rules under the DEA.
   - The pre

[2017-09-12 09:47] David-Chadwick commented on #68
@ manu. The necessary field in the VC Data Model spec is the subject identifier id, which already exists.

Agreed, but what does not exist is text in the data model spec that says how the subject id should be matched to the holder id in the presentation protocol, when subject==holder. The text could say that this matching is done either directly, when the IDs are the same, or indirectly via a DID

[2017-09-12 13:07] msporny commented on #68
@David-Chadwick wrote:

Yes, as I mentioned to @jandrieu above, I suggest we do so in Section 5: Advanced Concepts: https://w3c.github.io/vc-data-model/#advanced-concepts . We should add a section on "Authentication" and say that one MAY authenticate the subject by receiving a Verifiable Profile with a proof on it and then matching the proof to the subject identifier by processing the `authenticat

[2017-09-12 13:17] msporny commented on #68
Hey @agropper, I'm going to go line by line and point out what the data model supports and doesn't support today from your use case:

@agropper wrote:

The proper terminology is *Verifiable Credential* at this point (sorry, this has been a moving target, but we're getting clarity on terminology as of late).

   / Verifier*

Supported. Since we don't need to verify the subject in this case, the Ver

[2017-09-16 01:35] agropper commented on #68
Once you introduce insurance, complexity explodes, but since you asked,
here are some of the permutations:
- Before the VC (prescription or order) is finalized, a draft might be
submitted to a payer for a formulary check
- The return would provide the patient with information like out-of-pocket
cost based on their actual deductible
- Of course, the actual out of pocket cost also depends on the cho

[2017-09-21 21:14] darrellodonnell commented on #35
I am late to this dance but I'm jumping in. The idea of a list of revocations seems odd to me - as I'm dealing with lists that could easily be 10K items or more.

What about a dead simple api call that either uses a DID or just the base URL (to reduce any correlation) of a claim and simply asks for a status check? Results could be
* _OK_ (or _current_)
* _expired_ (in some system)
* _revoked_ (wit

[2017-09-21 21:26] msporny commented on #35
Yes. :)

What you're suggesting has been identified as a privacy violation by the group. The API call you describe would have to take in the credential ID as a parameter. At that point, the issuer knows who is making the call (the verifier) and the credential being interrogated. This is a problem, for example, when an gambling site does an age verification check and then hits the DMV. Most people

[2017-09-25 20:08] dlongley opened #71 "Perform security and privacy assessment"
We need to produce a security and privacy assessment document by answering these questions:

https://www.w3.org/TR/security-privacy-questionnaire/

We aren't doing an browser APIs so it may not be immediately clear how to/if some of these questions can be answered.

[2017-09-26 15:41] dlongley commented on #71
An example from the Web Payments Working Group:

https://docs.google.com/document/d/1w7ginyzNg-xZUmITK4vzcGUKB4gbMOAvlkWWaRtX14k

[2017-09-26 15:42] dlongley commented on #71
cc: @David-Chadwick -- want to make sure you saw the example above.

[2017-09-26 16:01] David-Chadwick opened #72 "How do we support delegation and attenuation of rights?"
How do we show in the data model that the holder is not the subject of the credential, but has been delegated authority by the subject the right to present the claim to the inspector.

[2017-09-26 16:07] David-Chadwick commented on #48
I see two different 'terms of use'. The first is the policy of the issuer. This states the restrictions on the use of the VC by the subject, and the inspector should honour this policy. If the inspector disregards this policy then the issuer will take no responsibility for this i.e. the risk from use of the VC is entirely upon the inspector.
The second 'terms of use' is that of the holder when he/

[2017-09-27 19:42] David-Chadwick commented on #71
Thanks Dave

[2017-09-30 12:38] riannella commented on #48
Hi all, have you looked at:
ODRL Information Model  https://www.w3.org/TR/odrl-model/
ODRL Vocabulary & Expression https://www.w3.org/TR/odrl-vocab/
(now entering CR)

The POE WG (listed on your Charter under Liaisons) would be happy to chat more and look into the use case(s)  ;-)

[2017-10-02 01:10] stonematt commented on #66
@msporny  and @jandrieu -- since the PR67 is merged, does that indicate that his issue can be closed?

[2017-10-02 01:13] stonematt commented on #59
@kimdhamilton and @msporny are there still open elements to this issue?  I see several commits that address this thread.

[2017-10-02 01:20] stonematt commented on #33
@msporny I see w3id.org in the examples in the DM spec.  What is the best way to reference these vocabularies and other 3rd party resources that we rely on (DID standards may be another one...)? Is it an appendix, or glossary, or something else?

[2017-10-02 01:29] kimdhamilton commented on #59
I'm not sure; I ported this from the BTCR Hackathon. It was originally entered by @christophera -- anything still open Christopher?

[2017-10-02 12:54] msporny commented on #66
@stonematt No, we need another PR to address this issue. I'll try to put one together before TPAC and get @dlongley to review it.

[2017-10-02 12:57] msporny commented on #59
We have section 6 in the spec now. I'm +1 for closing this issue.

If there are further issues, then folks should re-raise more specific ones on subsections in section 6.

[2017-10-02 13:32] mediaprophet commented on #33
anyone checked with W3? what's the directors view?

On Tue, 3 Oct 2017 at 00:06 Manu Sporny <notifications@github.com> wrote:

[2017-10-02 13:50] msporny commented on #33
@mediaprophet When I spoke to them last, they wanted no part of a resource that would be hit tens of millions of times a day. They were put in this position with the XML DTD work and did not appreciate the constant DDoS by badly implemented software. That was a few years ago. They may have changed their position since then since some WGs are publishing JSON-LD contexts.

Ultimately, this is a WG d

[2017-10-02 14:09] mediaprophet commented on #33
Another left-field idea was something around ISOC / IETF; yet this makes no sense at this stage.

Perhaps some particular TLD is desirable; yet, still makes some sense for such resources to be supported by w3 imho.

[2017-10-02 15:13] stonematt commented on #33
we don't have to look for a "left-field idea" unless it provides some special benefit to the standard.  Let's discus in the teleconference time.

[2017-10-02 15:33] mediaprophet commented on #33
whilst its probably an unnecessarily reinforced consideration; the standard
is a W3C standard.  If constituents need to be hosted somewhere as a
'universal source of truth' in-order for that standard to work; one might
consider it be worthy of consideration by the elders.

On Tue, 3 Oct 2017 at 02:13 stone <notifications@github.com> wrote:

[2017-10-03 15:13] gkellogg commented on #33
The CSVW context and vocabularies are managed at W3. The main issue is that the Team Contact is the one that needs to update, otherwise no issue. Given that the TR will be hosted at W3, it makes sense that such closely related resources be there also. Apache settings should ensure resources a catchable, and fully utilizing such caches is a good practice of a JSON-LD processor. This is simplified i

[2017-10-03 15:30] liamquin commented on #42
Rendering a claim would involve additional items in the dm i think, to mark natural language (and there are security implications, making sure the text alternative is a correct translation).

[2017-10-03 15:38] dlongley commented on #42
Potentially related:

https://w3c.github.io/webcomponents/spec/custom/
https://www.w3.org/TR/web-packaging/

[2017-10-03 15:43] dlongley commented on #59
We've addressed this issue with section 6 so we're closing this out. More specific issues within the context of section 6 should be submitted should they arise.

[2017-10-03 15:51] dlongley commented on #25
We plan on addressing this when we address #66 with a PR to resolve related terminology issues.

[2017-10-03 18:36] stonematt commented on #59
Closing the issue based on group consent and comments above.

[2017-10-03 18:36] #59 closed

[2017-10-10 14:34] dlongley commented on #71
@David-Chadwick, thanks for the privacy assessment here:

https://lists.w3.org/Archives/Public/public-vc-wg/2017Oct/0003.html

We should get this into github in HTML format so others can comment or add with PRs.

[2017-10-10 15:42] David-Chadwick commented on #71
<p>3 Questions to Consider</p>

<p>3.1 Does this specification deal with personally-identifiable information? </p>

<p>Yes. The properties inside VCs are PII</p>

<p></p>

<p>Recommendation. None as the specification
makes this clear.</p>

<p></p>

<p>3.2 Does this specification deal with
high-value data?</p>

<p>Potentially yes. The specification places
no restrictions on what data can be placed

[2017-10-17 14:43] TallTed commented on #71
On Oct 10, 2017, at 11:42 AM, David Chadwick <notifications@github.com> wrote:

"always with the full consent of the subject" says that I cannot
verifiably say anything about anything.

I cannot make verifiable claims about the Eiffel Tower, because
the Eiffel Tower cannot consent.

The scope of this work is supposedly confined to checking whether
"Joe said { x y z }".  That is -- verifying that t

[2017-10-17 15:31] retog opened #75 "Privacy implications of loading JSON-LD context"
The privacy implications on loading JSON-LD's @context should be taken into account as this may leak some data to the server serving the context.

See: https://github.com/w3c/vc-data-model/pull/73

[2017-10-17 15:53] retog opened #76 "Define SHACL constraints"
SHACL constraints would complement the ontology defined as per https://github.com/w3c/vc-data-model/issues/33

[2017-10-18 07:03] David-Chadwick commented on #71
Nobody really cares if Joe literally said 'x y z' unless they talk alphabet language. Furthermore
Joe is entitled to say whatever he wants about anything but that is outside the scope of our work.

Our work is limited to self-sovereign credentials. Please read again the Abstract of the 29th Aug version of Data Model document. It says "Driver's licenses are used to claim that we are capable of oper

[2017-10-18 14:44] stonematt commented on #71
I'm not sure that I agree with credentials = authorization tokens - they may be used that way sometimes, but it's not a universally true statement.  I agree that "full consent of the subject" is not required, nor desired for our scope.  Ted mentions that the Eiffel tower can't consent, we also have the need to assert "negative claims" about an individual, which would never obtain consent by the ho

[2017-10-18 15:12] msporny commented on #76
I think we should define the SHACL constraints, but should not make it a blocking work item. We also need to produce JSON Schema as well for the non-RDF folks (and I'd argue that's a higher priority than SHACL).

[2017-10-18 17:12] David-Chadwick commented on #71
Please read 3.5 again. It is correct. It currently says "this is always with the full consent of the subject, except in the special case where the holder is not the subject." It might be clearer if it is reworded to say  "this is always with the full consent of the subject where the holder is the subject." Followed by "In the special case where the holder is not the subject the holder should be au

[2017-10-23 09:24] RieksJ opened #80 "On the Ecosystem Overview"
There have been a few issues mentioning confusion around terminology and roles, e.g. #57 (@rvarn), #64 (@msporny), and #68  (@jandrieu). I am regularly confused as well, for the same (or different) reasons.

Consider the Ecosystem Overview (section 1.2). It defines 'holder' as an 'entity that is in control of one or more verifiable claims'. The examples (students, employees, and customers) suggest

[2017-10-23 09:33] RieksJ commented on #55
I agree with @David-Chadwick. I would even say that a credential must contain a single (root-)subject-identifier that identifies the (single!) subject in the context of the issuer. If the need were to arise to use other subject-identifiers (which might identify the same, or other entities), then these can be linked to the root-subject(identifier) by means of a (semantically well-defined) predicate

[2017-10-23 13:35] msporny commented on #80
@RieksJ Thank you for the well thought out suggestion to change the spec text. I think I agree with the suggestion and will attempt to make these changes.

The only concern I have is overly complicating the document with extra things. The reason we didn't bring agents into the mix yet is because we wanted to provide an overview without the technical details, the assumption being that you will alwa

[2017-10-23 13:43] msporny commented on #55
@David-Chadwick wrote:

-1 ... seems like an arbitrary restriction. The verifiable credential data model doesn't make this restriction (it's capable of containing a set of claims about different subjects). So, why would we want to arbitrarily restrict the data model from doing so? Keep in mind that every time we restrict the data model in this way, we forever cut off a set of potentially useful co

[2017-10-23 18:14] David-Chadwick commented on #55
Manu, I would like to ask you, why would you want a single VC to contain the claims of multiple subjects? Why isn't sending a set of VCs, in which each VC refers to a single subject, good enough for you? In what ways does the latter not solve what you want to solve (actually I don't know what problem you are trying to solve by having multiple subjects inside a single VC. One example might be a clu

[2017-10-24 05:33] RieksJ commented on #55
Here are some more arguments:

1. The example that @msporny gives is ambiguous. Assuming that `"type": ["Credential", "MultiSubjectCredential"]` means that the number of subjects is more than one. However, subjects may be identified with multiple DIDs. Therefore, it cannot be determined whether this credential is about two or three distinct subjects.

2. But even if that were resolved, consider a

[2017-10-24 06:49] RieksJ commented on #80
Hoping to make your life a bit easier, I have made a picture of how I currently envisage how this might be - which is up for discussion.

![high-level ssif](https://user-images.githubusercontent.com/8522589/31928383-4252372c-b898-11e7-9547-7059b835eb21.png)

The picture is incomplete/needs to be updated. That goes for the names (the ones I used are provisional), and also the connection to the publ

[2017-10-24 15:05] ChristopherA commented on #55
Just off my head are a number of cases where multiple subjects might be
useful.

* issuer wishes to claim that my car (subject is car DID) may have some
priveleges (handicapped parking, garage access, insurance) only when driven
by me (subject is my DID).

* code libraries a, b, c, d, & e have been security reviewed to work
together.

* Books co-authored by Shannon & Christopher are rated good.

—

[2017-10-24 15:28] ChristopherA opened #87 "Privacy implications of signature or nonce in correlation"
Related to #75, the nonce or the signature value itself can be used as a tracking context. We'd need some sort of ZKP mechanism to escape that... and even then, if there are identifiers in the data that are long-lived, we fall into the same trap.

[2017-10-24 15:37] jandrieu commented on #26
There was additional interest in JWT expressed at IIW Oct 2017 for single signature, simple use cases. Specifically, canonicalization was pointed to as a significant pain point, having been intentionally rooted out of other specification efforts.

Would it be possible to allow JWT or JSON-LD?

[2017-10-24 15:52] dlongley commented on #66
Another possible name to replace "Verifiable Claims" would be "Trusted Claims". This eliminates the confusion that arises where people think that the purpose of the work is to model claims that can be verified -- whereas the actual purpose is to model claims that can be trusted -- because you can verify their *authorship*.

[2017-10-24 16:12] kimdhamilton commented on #26
We bridged LD signatures with JWS through detached, unencoded payloads in [RSA Signature Suite 2017|https://w3c-dvcg.github.io/lds-rsa2017/]

[See Whitepaper with description and references to implementations](https://github.com/WebOfTrustInfo/rebooting-the-web-of-trust-spring2017/blob/master/final-documents/ld-signatures.pdf)

[2017-10-24 17:40] jandrieu commented on #66
As someone mentioned, it's not unusual to have a spec name different from the working group, so maybe we keep the current group name, update the spec name to Verifiable Credentials, and start referring to Trusted Claims as the payload of Credentials, which I think helps distinguish from the notion that the truth of the claims are somehow verified, in contrast to the statements of the claims are tr

[2017-10-24 20:58] msporny commented on #75
@retog I added a section related to long lived identifier based correlation and listed credential-specific JSON-LD Contexts in a larger list of long lived identifiers that could be used to correlate. Please let me know if this addresses your issue, or if you would like me to elaborate on the JSON-LD Context attack more.

[2017-10-24 21:08] msporny commented on #87
@ChristopherA - I added to the signature-based correlation section to point this out.

[2017-10-25 09:56] RieksJ commented on #55
@ChristopherA, you are right to say that there are several (I would say: numerous) cases where a claim or credential would involve multiple subjects. However, every such case can be accommodated by selecting a single subject(id), and stuffing the relations that it has with the 'other subjects' in properties (and nodes) of the JSON-LD graph that the claim/credential can associate its (single) subje

[2017-10-25 15:08] msporny commented on #41
/cc @rianella - Would it be possible for POE to attend the VCWG meeting and give us an overview of ODRL and how we may be able to use it for Verifiable Claims and limiting their use?

[2017-10-25 15:27] msporny commented on #12
@jandrieu did a PR for this issue and it was accepted into the spec. Closing the issue.

[2017-10-25 15:27] #12 closed

[2017-10-25 15:30] msporny commented on #10
This was handled with PR #39, closing this issue.

[2017-10-25 15:30] #10 closed

[2017-10-25 15:37] msporny commented on #5
We have text in the spec now that addresses this issue: https://github.com/w3c/vc-data-model/blob/700263aca114f2d06a64762d2502e39686d409e5/index.html#L1669

[2017-10-25 15:37] #5 closed

[2017-10-25 15:41] msporny commented on #4
@burnburn the WebIDL has been commented out in the spec (but not removed). Should we close this issue and move the WebIDL to its own spec? Granted, most of the WebIDL is now out of date (as the data model has shifted slightly and will probably continue to shift over time.

[2017-10-25 15:43] burnburn commented on #4
Just remove it.  We can always pull it from history if needed.

On Wed, Oct 25, 2017 at 11:41 AM Manu Sporny <notifications@github.com>
wrote:

[2017-10-25 15:44] msporny commented on #4
Ok, will do. I'll submit a new PR for that.

[2017-10-25 16:04] msporny commented on #17
There is a section in the spec now about dependent claims authored by @David-Chadwick: https://github.com/w3c/vc-data-model/commit/e18b205cdc07e14508199fa92a71ac823587e80d

Closing this issue.

[2017-10-25 16:04] #17 closed

[2017-10-25 16:06] msporny commented on #20
Text on filing issues via Github and a link to the issue tracker were added a while ago: https://github.com/w3c/vc-data-model/commit/ab66847903107c37c5f7eb7839c5af723c48cfbb

Closing this issue.

[2017-10-25 16:06] #20 closed

[2017-10-25 16:11] msporny commented on #21
This typo was fixed some time ago:

https://github.com/w3c/vc-data-model/blob/700263aca114f2d06a64762d2502e39686d409e5/index.html#L625-L626

[2017-10-25 16:11] #21 closed

[2017-10-25 16:17] msporny commented on #23
The JSON-LD Context has been removed from all JSON examples:

https://github.com/w3c/vc-data-model/blob/700263aca114f2d06a64762d2502e39686d409e5/index.html#L973-L975

This resolves the original issue raised in this thread. Closing.

[2017-10-25 16:17] #23 closed

[2017-10-25 16:37] msporny commented on #25
We have the concept of a "Verifiable Profile" in the spec now:

https://github.com/w3c/vc-data-model/blob/700263aca114f2d06a64762d2502e39686d409e5/index.html#L455-L460

Closing this issue.

[2017-10-25 16:37] #25 closed

[2017-10-25 16:41] msporny commented on #27
I think we more or less do what the original issue raised said to do. Lead with JSON, soft pedal JSON-LD (although probably not as much as you may have wanted us to @jtibbetts, but only because people wanted to see full JSON-LD examples):

https://github.com/w3c/vc-data-model/blob/700263aca114f2d06a64762d2502e39686d409e5/index.html#L973-L980

There is still a bit of repetition, but I don't quite k

[2017-10-25 16:41] #27 closed

[2017-10-25 16:42] dlongley commented on #66
A PR to address this issue should include some functional definitions for each core element of the data model. For example, a claim allows something to be said about a subject, a verifiable credential enables claims to be trusted, a verifiable profile enables credentials to be bundled and proof of possession asserted.

[2017-10-25 16:56] msporny commented on #48
@riannella Would you be able to join the VCWG to give a background on POE and ODRL and how we may be able to use it to express things like "consent", "terms of use", and "policy" for Verifiable Credentials?

[2017-10-25 17:07] msporny commented on #55
False, there are cases where there are no such relations between the subject and other subjects (or where creating one would be only done because you need to create a relationship to address the use case).

[2017-10-25 17:26] msporny commented on #64
The hyphenated term has led to a fair number of people confused about the hyphenated term. It is now causing more damage. The group needs to make a decision. Multiple organizations are now using "verifier" in their product literature.

Another data point is that the voting process we were using is designed to select the item that has the most consensus, even if its close. Reading "nuance" into the

[2017-10-25 17:32] msporny commented on #72
This is related to the object capabilities discussion we're having in the DID specification: https://github.com/w3c-ccg/did-spec/issues/11

We will certainly want the same sort of features here.

[2017-10-25 17:37] msporny commented on #80
Yes, it does help. The diagram is a bit too complex to open with, but I'll play around with various representations until we at least draw a line between the roles and the software used by the role to effect change in the system.

When we first created the diagram, we didn't want to expose the reader to too many details. So, perhaps the best place for all of this is in an appendix that we refer th

[2017-10-25 18:10] stonematt commented on #64
I support this.

[2017-10-25 18:34] RieksJ commented on #55
In that case i suggest the issuer create two credentials for the reasons I mentioned earlier.

Verzonden met mijn Windows Phone
________________________________
From: Manu Sporny<mailto:notifications@github.com>
Sent: ‎25-‎10-‎2017 19:07
To: w3c/vc-data-model<mailto:vc-data-model@noreply.github.com>
Cc: Joosten, H.J.M. (Rieks)<mailto:rieks.joosten@tno.nl>; Mention<mailto:mention@noreply.github.com

[2017-10-25 18:45] msporny commented on #55
... and if there are 100 subjects? 100 different credentials? Why are we attempting to arbitrarily restrict the data model in this way? It could be a best practice, but even that I'm a bit concerned about.

[2017-10-25 18:48] dlongley commented on #55
@RieksJ,

I don't think there's any harm in permitting multiple subjects in the data model and we can't possibly enumerate all possible uses of VCs. Therefore, it seems a simple solution would be to say that there's no restriction in the data model, but some systems may require a single root subject in the VCs they are willing to accept.

[2017-10-25 18:51] RieksJ commented on #55
@msporny: for the 5 reasons I mentioned 2 days ago. But if you think they are invalid, It's ok with me to let it happen, and see how things work out.

[2017-10-25 18:53] ChristopherA commented on #64
+1

[2017-10-25 19:51] msporny commented on #55
Yes, but what's the use case where it's important whether a credential is about two or three distinct subjects. To put it another way, the enforcement of that is at a higher policy level, not at the data model layer.

Yes, all claims would be revoked about all subjects because credentials are typically either valid or not... but again, this is a policy decision, not a data model decision.

Yes, is

[2017-10-25 19:51] msporny commented on #55
I'm not saying what you are asserting is invalid. I'm saying that those decisions should be made at a higher protocol or policy layer, not at the data model layer.

[2017-10-25 20:28] David-Chadwick commented on #55
The best example of a multi-subject VC that I know is a marriage certificate. This has two equal subjects. So if we are to allow for multi-subject VCs, then I would suggest that the data model has a specific section on this topic, and there is a specific keyword to indicate this, which is set by the issuer. This field tells the verifier the difference between a multi-subject VC and a single subjec

[2017-10-25 21:06] ChristopherA commented on #55
I think @David-Chadwick's example of a married couple is the best example I've seen so far, especially as the "unordered" significance of the the list of subjects is important. There are also web-of-trust assertions like this, for instance according to http://schema.org/Person the "knows" attribute should be bi-directional — thus two subjects need to be in a single claim.

Still not sure that we n

[2017-10-26 00:11] riannella commented on #48
Yes, that would be fine. What times is the VCWG call? (I am in Brisbane, AU) #41

[2017-10-30 12:58] RieksJ commented on #80
Maybe this is simpler:

![simple high-level ssif with comments](https://user-images.githubusercontent.com/8522589/32171239-c89d5efe-bd77-11e7-8ab5-0d1f99bcfca2.png)

[2017-11-03 19:05] #64 closed

[2017-11-03 19:06] #14 closed

[2017-11-03 19:08] #18 closed

[2017-11-03 19:09] #87 closed

[2017-11-05 18:24] kimdhamilton commented on #61
I think this issue is out of date (and should be closed). It's not clear it introduces any new/unknown requirements for Entity Profiles, which is the concept we were looking for when we opened the issue.

[2017-11-05 18:36] kimdhamilton opened #93 "Proposed resolution to issue about JOSE/JWT Verifiable Claims"
Example 16 in the VC Data Model shows a JOSE/JWT example, followed by this issue:
[code]

At RWoT we did some work on aligning JSON-LD signatures with JOSE/JWS. I believe this addressed the concerns mentioned in the above issue; see the [LD Signature Format Alignment White Paper](https://github.com/WebOfTrustInfo/rebooting-the-web-of-trust-spring2017/blob/master/final-documents/ld-signatures.pdf)

[2017-11-06 05:07] #8 closed

[2017-11-06 05:11] #11 closed

[2017-11-06 05:13] #13 closed

[2017-11-06 05:30] #15 closed

[2017-11-10 22:41] gkellogg commented on #76
AFAIK, SHACL works over RDF Graphs, and not Datasets. VC uses Datasets (default and named graphs for credentials/claims). There is some work in the ShEx CG to extend support to Dataset shape patterns.

Currently, when expressed as JSON-LD, where the named graphs can be hidden using the context, JSON Schema may be the best bet, but there should be a way to accomplish this in the RDF model.

[2017-11-15 17:06] cwebber opened #95 "Possible confusions by subject as @id (or RDF subject)"
I don't think this is necessarily a bug that needs to be fixed, but I think it's something worth discussing, since I remember it catching me by surprise, I suspect it will catch at least ActivityPub users by surprise, and probably others.  So I just wanted to talk about it.

Consider the following example from the spec:

[code]

When taken from an RDF quads perspective, this makes a lot of sense.

[2017-11-15 19:35] cwebber commented on #95
I'm going to close this; again I just wanted to capture it.  The challenge here is that this is more confusing when you aren't coming from an open-world-graph perspective... ActivityPub is one example of a community adopting json-ld where we haven't been pushing that, and I'm sure there are probably others.

Perhaps the reality is that we should be gently introducing them to that idea.  But it may

[2017-11-15 19:35] #95 closed

[2017-11-21 00:56] r3-za opened #97 "Ability to add images in verifiable claims"
Are the any thoughts or discussions around how to embed images (ex. passport photos) in verifiable claims? Are there any recommendations of normalization methods, compression or encoding recommendations on binary/image data in VC?

[2017-11-21 01:25] davidlehn commented on #97
One option is to add a property such as http://schema.org/image with a [data URL][] value.

[data URL]: https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/Data_URIs

[2017-11-21 14:57] msporny commented on #97
@r3-za what @davidlehn said. The recommended practice is to use schema.org image w/ a data URL value. That said, if you don't want multi-MB Verifiable Credentials, you should use links to images instead of embedding the images. There is also talk of using content-addressable links, like an IPFS link, for example... but there is no recommended practice for that yet.

[2017-11-21 16:05] dlongley commented on #97
Keeping in mind the privacy considerations (leakage to the image server).

[2017-11-21 20:44] r3-za commented on #97
Thank you for the suggestions.
I agree with @dlongley that storing images on a third party server raises some privacy concerns.
And using the image property to point to a server image may not be sufficient for signature validation since the image itself may change..
The content-addressable links are an interesting idea.. having the hash of the image in the URL address ex. /ipfs/QmW2WQi7j6c7UgJTarA

[2017-11-21 21:42] r3-za commented on #97
Furthermore if the DOD which containts the verifiable claims contain an NI:// address then essentially the hash of a portrait photo is stored on blockchain. Isn't that a privacy concern?

[2017-11-25 16:23] msporny commented on #97
That assumes two things 1) that we are storing hashes of photos on chain, which some will choose not to do (most will store that sort of stuff off chain in a private digital wallet), and 2) that the hashes are computationally feasible to reverse.

The first item is the best way to protect yourself, the second may be infeasible even with the advent of quantum computers. Whether or not something is

[2017-11-28 16:51] dlongley commented on #42
Other security issues include showing displays to users that do not accurately represent the verifiable credential.

[2017-11-28 16:51] dlongley commented on #42
cc: @stonematt, @ottonomy, @kimdhamilton

[2017-11-28 16:58] dlongley commented on #66
@msporny, this will be addressed by a PR that more rigorously uses "verifiable credential" in the data model spec (a current action item anyway).

[2017-11-29 19:08] davux opened #98 "Claim and attestation as two separate concepts"
My understanding of the VC concepts is still basic as I joined recently and I might not be getting everything properly, but there is a thought I would like to share, in the hope it is aligned with the work made so far.

A verifiable claim is a claim with an embedded signature. If two entities attest the same claim, then they would both need to issue the claim separately, meaning there would be red

[2017-11-29 19:34] agropper commented on #98
Hi David,

We are implementing this use-case where the VC is a prescription signed by
a doctor in HIE of One http://hieofone.org/ (watch the 2-minute video)

Copies of the prescription itself are accessible to the physician, the
patient, and a pharmacy but only a hash of the prescription is on a public
blockchain. The physician has separate Verifiable Credentials that may be
linked in the prescrip

[2017-11-30 15:58] davux commented on #98
I'm not familiar with exactly how HIE of One works (I've only watched that 2-minute video), but one way of sharing and verifying a prescription would be for the physician to:
1. Generate the plain (i.e. unsigned) JSON object for the prescription and share it with the patient
2. Post a blockchain transaction containing a hash of that JSON object
3. Let the pharmacy get the JSON object by any way (Q

[2017-11-30 21:15] #75 closed

[2017-11-30 21:16] #16 closed

[2017-11-30 21:28] agropper commented on #98
In 3, how does the pharmacy check that the physician signed the JSON object?

Adrian

On Thu, Nov 30, 2017 at 10:58 AM, David Ammouial <notifications@github.com>
wrote:

--

Adrian Gropper MD

PROTECT YOUR FUTURE - RESTORE Health Privacy!
HELP us fight for the right to control personal health data.
DONATE: https://patientprivacyrights.org/donate-3/

[2017-12-06 18:16] retog commented on #75
@msporny: I don't think that correlating individuals via long-lived identifier is the issue here. But rather a breach of privacy when the context is dereferenced.

Example: Company A give Alice a credential certifying that she is working for them. When applying for a new job at company B Alice presents that certificate. Company B will parse the JSON-LD and for that it will dereference the context

[2017-12-06 22:35] dlongley commented on #75
See: https://github.com/w3c/vc-data-model/commit/04bed6291c3949a7ab860b123a279a2eb90209ad#r26100232

[2017-12-10 11:12] Drabiv opened #100 "Will it be correct to use Verifiable Credentials standard for generic claims?"
MAIN QUESTION: Will it be correct to use VC standard to link digital signatures with signed data/files and with explicit explanation of the meaning of the signature for the signer at the time of signing, or VC standard is only for creating relatively simple credentials?

Reading the examples in Verifiable Credentials specification (https://w3c.github.io/vc-data-model/) I see that the standard obvi

[2017-12-10 18:15] msporny commented on #100
The VC standard is not just for simple credentials. There are already examples such as a multi-year student transcript possibly containing hundreds of claims that are being produced in pilot systems.

Yes, that is still true.

Yes, it can. You will need to use additional JSON-LD Contexts and Linked Data Vocabularies, but the standard is designed to be extremely flexible with respect to the types o

[2017-12-10 18:18] msporny commented on #100
Yes, this is correct and is one of the reasons we are creating the standard.

Yes, "Signed Claims" came up as an option over a year ago. The biggest argument against it is that those that didn't know about cryptography mistook the name for a pen and ink signature and therefore completely missed the whole point of the technology. Naming is hard. :)

[2017-12-10 18:21] msporny commented on #100
@Drabiv, is it ok if I close this issue? I think everything you wanted to do is possible and it doesn't raise any resolvable issues with the current spec (other than the name, which I've responded to as well).

Please close the issue if we've answered all of your questions as long as you don't think they'll impact the specification. If you want to have a more in depth discussion about your questio

[2017-12-11 08:07] Drabiv commented on #100
@msporny thanks a lot for the answers. They clarified all of my high level concerns about the standard. I am now intend to use the standard for my own implementation and specifications now. Closing this issue.

I am subscribed to the mailing list, but thought it is better to post the questions on Github.
If I have more specific questions, issues with a standard (and I think I will) is it better to

[2017-12-11 08:07] #100 closed

[2017-12-12 00:38] msporny commented on #100
Great! Please let us know how your implementations go.

General questions are best handled on the mailing list. Technical issues with the spec that will most likely result in specification text being added, changed, or deleted, are best handled here.

[2017-12-13 14:35] retog commented on #75
For what? Does this go beyond long-lived identifiers?

[2017-12-13 15:58] dlongley commented on #75
Yes, my comment addresses your example:

Suppose, when company A gives Alice a credential, her digital wallet rewrites the context to use the default context or an embedded one. Then, when Alice presents the credential to company B, there be no context to deference that is served by Company A, i.e. no server at Company A will be hit, so no information will be leaked.

So, if my comment is incorpor

[2017-12-13 16:41] agropper commented on #75
The issue of revocation intrudes. A’s revocation list is either hosted by A
and hit by B or hosted on a public ledger where access by B is effectively
anonymous.

Adrian

On Wed, Dec 13, 2017 at 10:58 AM Dave Longley <notifications@github.com>
wrote:

--

Adrian Gropper MD

PROTECT YOUR FUTURE - RESTORE Health Privacy!
HELP us fight for the right to control personal health data.
DONATE: https://pa

[2017-12-13 17:07] dlongley commented on #75
@agropper,

Yes, but revocation is a separate issue from this one. (Not that they aren't related, but we're tracking that differently and talking about it in different subsections in the spec.)

[2018-01-08 14:29] burnburn commented on #58
Chairs believe this has been addressed.  Closing.

[2018-01-08 14:29] #58 closed

[2018-01-11 14:22] msporny opened #103 "Property name for bunding credentials in a profile?"
We've had a discussion item come up in the Credentials CG where we're trying to determine the best name for the set of ways a Decentralized ID may issue verifiable credentials (Issuing suites), vs. the container name for verifiable credentials (here are my credentials). Currently, the options are:

* issue (downside is similarity to `issuer` property)
* credential (downside is this could be confus

[2018-01-11 16:28] dlongley commented on #103
`verifiableCredential` is a more verbose option.

[2018-01-23 16:56] dlongley commented on #71
I believe we've added this to the spec, closing.

[2018-01-23 16:56] #71 closed

[2018-01-30 14:48] msporny commented on #35
We now have one concrete format that we're suggesting for the simplest use case:

https://w3c-ccg.github.io/vc-csl2017/

We still have lots of work to do on the blockchain-based revocation method:

https://w3c-ccg.github.io/vc-status-registry/#the-registry

That said, the simplest proposed mechanism does have decent privacy characteristics for large bundles of status/revocation information. Closin

[2018-01-30 14:49] #35 closed

[2018-01-30 15:40] msporny commented on #103
The VC Data Model spec now claims "verifiableCredential" as the "these are the credentials that are associated with this entity" placeholder. So, whatever the DID spec does shouldn't stomp on that value.

[2018-02-06 09:04] David-Chadwick opened #105 "Holders and Identifiers"
The current text in 1.3 says
Holders SHOULD be able to easily control and own their own identifiers.

This applies equally to subjects, perhaps even more so than holders,
since VCs apply to subjects and contain subject IDs. VCs do not contain holder IDs.
Suggest either replace Holders with Subjects or add the requirement for subjects

Subjects SHOULD be able to easily control and own their own ide

[2018-02-06 09:09] David-Chadwick commented on #72
This topic is related to Subject NE Holder. So I suggest we close this issue and move the discussion to the new issue that I have opened on Subject NE Holder

[2018-02-06 09:15] David-Chadwick opened #106 "Subject NE Holder"
The current document (30 Jan 2018 version) states in Section 2 Terminology “A holder is typically also the primary subject of the verifiable credentials  that they are holding.”
This is fine, but it means we need a new section entitled "When Subject≠Holder".
The proposed new text is attached.

6. When Subject≠Holder
The following diagram shows edge cases of when subject≠holder.
<Include here the d

[2018-02-06 09:18] David-Chadwick opened #107 "Profiles"
The current text in section 3.3 Profiles states
"A verifiable profile is a collection of one or more verifiable
credentials typically about the same subject"

The word typically is misleading and redundant. Suggest delete it.
Since a VC is about a single subject, then the profile must be about the
same subject.
When would it make sense to take the VCs of different subjects and merge
them together

[2018-02-06 09:37] David-Chadwick opened #108 "Typo in Example 6"
The Example 6  title and description are inconsistent
The title says

Usage of termsOfUse property by an Issuer

but the text below states
In the example above, the holder is prohibiting a verifier from using the information provided to correlate the holder.

[2018-02-06 09:49] David-Chadwick opened #109 "How to know who specified the Terms of Use"
The current data model section 5.1 states "Terms of use can be utilized by an issuer, subject or a holder to express limitations on the use of information expressed by the Verifiable Credentials Model. "

How does each of these specify terms of use?

1. Issuer. Clearly  any terms of use in a credential must have been inserted by the credential issuer
2. Holder. In this case, the holder can group v

[2018-02-06 10:06] David-Chadwick commented on #55
The latest specification (30 Jan 2018) is somewhat ambiguous about this topic, and ambiguity is not a good property of a strandard as it leads to different interpretations and different implementations.

Some text supports a single subject and some text supports multiple subjects. Specifically text about a credential supports a single subject as in section 2 (credential -   A set of one or more cl

[2018-02-06 10:11] David-Chadwick commented on #109
Furthermore in Section 6.8, the following text is not quite right, viz:
"If the holder has placed any policy information about the use of the credential, e.g. intended verifiers, restricted usage rights, etc., that this policy is adhered to."
since the holder can only place policy information in a profile and not in a credential. Therefore I suggest we modify the above text to read:
"If the holder

[2018-02-06 10:20] David-Chadwick opened #110 "Trust Model"
The data model talks a lot about trust, but the text is widely dispersed throughout the document.
It would be advisable and helpful to the reader, if all the statements about trust could be brought together into a new section entitled The Trust Model. Here is some strawman text for the new section.

Section X. The Trust Model

The VC trust model is as follows.

1.	The verifier trusts the issuer to

[2018-02-06 10:27] David-Chadwick opened #111 "Dispute Resolution"
Currently there is no text about dispute resolution for example when the subject disagrees with a claim made by an issuer.

5. Dispute Resolution
The situation may arise when a subject or holder determines that the claim information held by an issuer is incorrect, and consequently, that all VCs issued by the issuer to the holder contain incorrect information about the subject. This is a tricky sit

[2018-02-06 18:04] David-Chadwick commented on #24
I think this issue has now been resolved as the offending text is no longer present in the data model document. I therefore suggest this issue can be closed

[2018-02-06 18:21] msporny commented on #24
@David-Chadwick is correct, the text no longer appears in the document and we're more careful with the language now (after months of reworking it). Please re-open if you disagree, @jtibbetts.

[2018-02-06 18:21] #24 closed

[2018-02-10 13:24] trbouma opened #112 "Is Verifiable Credentials sufficiently different from Verifiable Claims?"
Maybe, I'm a bit late to this discussion and my issue is moot, but I don't see enough of a difference between Verifiable Credentials (VCr) and Verifiable Claims (VCl) to warrant a separate model.

I understand the motivation to model the document world (e.g. driver's license) but I would argue we are trying to move away from the document construct. In my opinion, a VCr can be modeled as a VCl whic

[2018-02-10 16:23] msporny commented on #112
We're attempting to avoid modeling the document world. Fundamentally, we need containers and we need to call those containers specific things so that we can communicate the concepts clearly to developers and organizations. There are really two containers, the first holds a set of claims -- we call this a Credential. The second holds a set of credentials -- we call this a Profile.

While it is poss

[2018-02-13 12:14] alexandermuehle commented on #98
By posting a blockchain transaction containing the hash of the JSON object he essentially already signed the JSON object. By verifying the transaction that the physician made a pharmacy would check if he indeed signed the object.

[2018-02-13 15:32] msporny commented on #1
The latest Linked Data Signatures spec supports multisig sets and chains: https://w3c-dvcg.github.io/ld-signatures/#multiple-signatures

The latest RsaSignature2018 cryptography suite supports JOSE JWS-style signatures: https://github.com/digitalbazaar/jsonld-signatures/commit/f583bd4333785b847c6fcddc7065eeb388aa6733

Given that it's been 4+ years and there isn't a spec for Verifiable Credentials

[2018-02-13 15:34] msporny commented on #2
No one has worked on this issue. I suggest we close it.

The latest RsaSignature2018 cryptography suite supports JOSE JWS-style signatures: https://github.com/digitalbazaar/jsonld-signatures/commit/f583bd4333785b847c6fcddc7065eeb388aa6733

Given that no one in the group has written a JWT-based VC implementation, I'm suggesting that we close this issue for the 1.0 work. We can always support JWT-ba

[2018-02-13 15:34] msporny commented on #3
No one has worked on this issue. I suggest we close it.

The latest RsaSignature2018 cryptography suite supports JOSE JWS-style signatures: https://github.com/digitalbazaar/jsonld-signatures/commit/f583bd4333785b847c6fcddc7065eeb388aa6733

Given that no one in the group has written a JWT-based VC implementation, I'm suggesting that we close this issue for the 1.0 work. We can always support JWT-ba

[2018-02-13 15:35] msporny commented on #4
The spec no longer includes WebIDL and there are no plans to include it for 1.0. Closing this issue as the group seems to have reached consensus on this. We can always add WebIDL back in to the spec (or create a separate spec w/ WebIDL definitions).

[2018-02-13 15:36] #4 closed

[2018-02-13 15:38] msporny commented on #26
Building on @kimdhamilton and team's work, the latest RsaSignature2018 cryptography suite supports JOSE JWS-style signatures: https://github.com/digitalbazaar/jsonld-signatures/commit/f583bd4333785b847c6fcddc7065eeb388aa6733

Given that it's been 4+ years and there isn't a spec for Verifiable Credentials expressed as a JWT, and given that no one is implementing JWT-based Verifiable Credentials, I'

[2018-02-13 15:42] dlongley commented on #98
@alexandermuehle,

For blockchains with signed transactions (and where the physician controls the key). Fit-for-purpose blockchains (those that aren't financial blockchains that have been adapted for other use cases) may put the signature elsewhere.

[2018-02-13 15:44] msporny commented on #30
Hey @jtibbetts, trying to address this issue for the VC 1.0 work, which we're trying to wrap up so we can start implementations/test suites.

This is really a design choice that the issuer community should make. The spec contains properties that it thinks are the bare minimum today. If someone wants other properties, we should raise specific issues on those.

The 1.0 spec lists properties that are

[2018-02-13 15:44] #30 closed

[2018-02-13 15:45] stonematt commented on #111
Would we categorize this as privacy, revocation, validation, or something else?

[2018-02-13 15:46] msporny commented on #32
Can someone please volunteer to write up a simple WoT claim and put it in an example repo? This issue is not going to close until we get that done.

[2018-02-13 15:47] msporny commented on #41
We have a Terms of Use field now: https://w3c.github.io/vc-data-model/#terms-of-use

Unless someone steps up to detail how DO_NOT_CORRELATE is done for VC 1.0, the group will have to proceed to REC w/o a stable example. Can someone please volunteer to write a DO_NOT_CORRELATE example and place it in the examples repo?

[2018-02-13 15:52] stonematt commented on #105
does everyone agree and is this true?

[2018-02-13 15:53] stonematt commented on #97
what's the next step on this topic?

[2018-02-13 15:55] stonematt commented on #93
Let's get closure on this one.

[2018-02-13 15:57] stonematt commented on #80
should we accept the new diagram and close the issue?

[2018-02-13 15:57] dlongley commented on #105
I think it's fine to add:

"Subjects SHOULD be able to easily control and own their own identifiers."

As a requirement. Nothing in the data model would prevent that capability and the spec's agnosticism with respect to identifiers generally supports any such statement, regardless of role.

[2018-02-13 15:58] stonematt commented on #76
should we label this as a "privacy" issue?

[2018-02-13 16:05] msporny commented on #42
This issue seems like it's at risk for not being included in 1.0. Someone needs to propose some spec text or an example where we specify a display template / package.

[2018-02-13 16:55] alexandermuehle commented on #98
@dlongley

I'm assuming that's what @davux meant with "blockchain" transaction. What he is proposing are essentially public attestations/proofs. I'm not so sure that's a good idea but it's popular in other SSI projects.

[2018-02-14 06:43] RieksJ commented on #80
W.r.t. the complexity of the issue: I appreciate that we should make everything as simple as possible, but not simpler. One of the focal points in an ecosystem such as the one we're trying to describe, is the interaction between (1) the often fuzzy, nondeterministic way that people and businesses operate and (2) the support of this way of working by the formal and deterministic ways that electroni

[2018-02-15 09:52] alexandermuehle opened #114 "Identifier Registry vs Claims Registry"
A number of other Self-Sovereign Identity systems utilise a claims registry while the VCWG ecosystem overview only includes an identifier registry. Has there been any discussion on this topic yet or was this a deliberate decision to limit the complexity of the model?

[2018-02-15 14:28] msporny commented on #114
It is a deliberate decision to limit the complexity of the model. You can build claims registries on top of the data model (there is nothing preventing it, and we expect some people to do it -- on private sites, on public sites, on blockchains, etc.).

If you think that the data model prevents claims registries in any way, that would be a problem. Do you think the data model limits claims registri

[2018-02-15 18:53] r3-za opened #115 "VC Identity owner impersonation"
I am looking into a specific attack vector of using VCs..
It is possible for a person to impersonate a VC holder by stealing the identity owner's phone and sharing the VC with service providers. Are there any mechanisms as part of the VC work that prohibit such attacks?

I am looking into how the identity owner's key pair (or biometrics) be used as a way to prevent attackers from impersonating the

[2018-02-15 19:00] r3-za opened #116 "Expiration of one-time VC votes submission"
I have thought about how one-time VC claims (such as vote submission) can be expired. I have found 3 possibilities so far..

1) Either the service provider that consumes the VC must contact the revocation registry to revoke the claim, or 2)  the identity owner have to remove the VC claim from their wallet, or 3) the Identity provider/verifier must create a VC in such a way that it expires after a

[2018-02-15 19:39] #116 closed

[2018-02-15 20:47] msporny commented on #115
Yes by:

* Not password/pin protecting their phone
* Using a weak password on their wallet

... but those are the same attacks for any website.

No, because what you describe are the common form of attack on any mobile phone-based system.

There are ways to mitigate this:

* Turn on password pin/pattern protection.
* Turn on facial biometric login w/ a very long pin pattern
* Password protect your

[2018-02-16 12:05] riannella commented on #41
Note: ODRL is now a formal W3C REC:
ODRL Information Model V2.2
      w3.org/TR/odrl-model/
ODRL Vocabulary & Expression V2.2
     w3.org/TR/odrl-vocab/

[2018-02-16 12:16] riannella commented on #41
@msporny (apologies) but what do you mean by "do not correlate" ?

[2018-02-16 12:20] riannella commented on #41
In example 5, could you add "issuer" and "verifier" to the ODRL Policy?
(They would be sub-properties of assigner and assignee, defined in the Profile)

Similar for example 6, holder is a sub-prop of assigner

[2018-02-16 15:58] msporny commented on #41
We mean "Do not use the information that I am giving you, the relying party website / verifier, to correlate me between the websites I'm visiting. Basically, do not sell my browsing behavior to anyone.

[2018-02-18 12:29] riannella commented on #41
Example 6 is not correct (in the case shown, the correlate action is prohibited on the target asset).

I think you need to use an Obligation: https://www.w3.org/TR/odrl-model/#duty-policy

[2018-02-19 18:19] David-Chadwick commented on #19
I still do not see the need for this feature. Given that the user already has the VC that will need renewing sometime in the future, then the user's client already knows how to get the VC (otherwise the user would not have it). So why does it need to be told something it already knows?

[2018-02-19 18:36] David-Chadwick commented on #41
I think that having the terms of use field is sufficient for the v1 data model document.
We could start a completely new document, entitled Terms of Use, which documents and standardises specific terms of use which are of general use and applicability. In this was we do not unduly delay the data model document, whilst we do not forget about useful terms of use.

[2018-02-19 18:38] David-Chadwick commented on #42
+1 for closing this issue.

[2018-02-19 18:41] David-Chadwick commented on #46
Hi Joe. Do you think this issue has now been resolved in the latest data model document? If so can we close this issue.
If not, can you propose some text changes below that would resolve the issue for you.
Thanks

[2018-02-19 18:44] David-Chadwick commented on #48
I think this issue can be closed now since we have a terms of use section in the latest VC Data Model document

[2018-02-19 18:45] David-Chadwick commented on #50
This issue is not about the data model document so can be closed in my opinion

[2018-02-19 19:40] David-Chadwick commented on #55
It is really important to nail this one down, and I dont think we have so far. Can I suggest this be added as a topic of discussion at one of the WG weekly telecons.

[2018-02-19 19:43] David-Chadwick commented on #57
Hi Richard
Would you like to comment on the current state of this issue, given that things have moved on somewhat since you raised it in July 2017. Can it be closed or are there outstanding pieces of text that you would like to be added to the latest version of the Data Model.
regards
David

[2018-02-19 19:58] msporny commented on #48
Closing, per @David-Chadwick's observation. We will continue to discuss exactly how to express terms of use using ODRL in another issue.

[2018-02-19 19:58] #48 closed

[2018-02-19 20:02] msporny commented on #50
I'll close as soon as @jandrieu either 1) creates an issue in vc-use-cases w/ the text above, or 2) creates a PR for vc-use-cases that includes this Accessibility use case.

[2018-02-19 20:08] David-Chadwick commented on #107
Additional ambiguous text is presented in section 2 which states
A verifiable profile is a profile that is tamper-resistant and whose contents are typically counter-signed by the holder or subject.
Ambiguity is bad for standards as it leads to different interpretations, different implementations and lack of interworking.
The verifiable profile should ONLY be signed by the holder. Suggest remove 't

[2018-02-19 20:11] David-Chadwick commented on #105
This text has not yet made it into the latest version (13 Feb 18) so it is not closed yet

[2018-02-19 20:24] David-Chadwick commented on #80
Whilst I quite like the diagrams, neither of them are optimum.
One issue I have with the first version of the diagram is that it confuses subject and holder. The holder may not be the subject but the diagram implies it is.
On the other hand, the second version of the diagram does not have a subject actor but implies the holder is the subject through the red dashed lines.
Can you redo either of the

[2018-02-20 07:00] RieksJ commented on #80
I largely agree with @David-Chadwick's remarks on the diagrams. It does suggest the confusion there is between 'Holder' and 'Subject'. And they are different. 'Holder' is a role in the ecosystem that is played by a real-world entity such as a person, organization, or thing. 'Subject' however is (a reference to) a real-world entity (which may not even be capable of playing the role of Holder).

I t

[2018-02-20 07:01] RieksJ commented on #55
I agree with @David-Chadwick. See https://github.com/w3c/vc-data-model/issues/80#issuecomment-366884497.

[2018-02-20 07:16] talltree commented on #55
What about a birth certificate? Doesn't it describe multiple subjects
(baby, mother, father, doctor)?

I seem to be coming across many examples of credentials that have multiple
subjects. Each credential has exactly one holder (of any particular
instance of the credential), but some of them have more than one subject.

=Drummond

On Mon, Feb 19, 2018 at 11:01 PM, Rieks <notifications@github.com> w

[2018-02-20 07:36] RieksJ commented on #55
Yes it does. As does a marriage certificate.

There is this though: representing such a certificate in a credential requires one of its subjects to be selected as the root subject of the claim(tree) in the credential. If the baby-subject were selected, you would have
<credential>
  babyid 'has father' fatherid
  babyid 'had mother' motherid
</credential>
If the father were selected, you would have

[2018-02-20 09:30] David-Chadwick commented on #55
@talltree. I disagree with you about a birth certificate. This is surely the credential of the baby, and this person will use it throughout their life to claim certain other privileges. The properties of this credential are name, date of birth, father, mother etc.
There is nothing to stop this credential being held by different people: father, mother, child etc. The holder can be identified in the

[2018-02-20 09:55] David-Chadwick commented on #80
I think we have a way of differentiating between subject and holder by using the ID in the credential to be the ID of the subject and the ID in the profile to be the ID of the holder. If we wanted to show the relationship between the subject and the holder, when Subject NE Holder, then this could be indicated by a new property  ('relationship') of the profile.
If the credentials in the profile bel

[2018-02-20 11:24] riannella commented on #41
That's sounds reasonable. We (the ODRL Community Group now) can help out in defining the terms as an ODRL Profile.

[2018-02-20 16:22] BigBlueHat opened #117 "[admin] Add PR Preview | Diff links"
This makes reviewing PRs of spec text changes *much* simpler to review. It provides both Preview link and a Diff link (with highlight-able changes that can be "paged" through).
https://github.com/tobie/pr-preview

We use it in the Web Publishing WG ([example](https://github.com/w3c/wpub/pull/142)--see [Preview](https://pr-preview.s3.amazonaws.com/w3c/wpub/pull/142.html) & [Diff](https://pr-preview

[2018-02-20 16:37] gkellogg commented on #76
As discussed on the call, we may want to have some concept of "publishing profile" that ties a constraint to some particular vocabulary terms and relationships to insure interoperability across that profile.

[2018-02-20 16:50] talltree commented on #55
David, while I agree that you *can* create a verifiable credential for
a birth certificate that has a single subject, in the discussions we
at Evernym have been having with the Illinois Blockchain Initiative about
our pilot project with the to deliver digital birth certificates in the
State of Illinois, they are preferring to issue a digital birth certificate
where the child, the mother, and the f

[2018-02-20 18:14] msporny commented on #117
@liamquin Could you please hook up pr-preview to this repo?

I haven't done it yet because I don't have Admin privileges. I'm happy to do it if someone grants admin privileges to me.

/cc @burnburn @stonematt

[2018-02-20 18:26] ChristopherA opened #118 "Data Model in Context of Keys, Signatures & Countersignatures"
One of my challenges with the current data model focus of the WG is how it connects to the signatures of that data model. As an implementor, I find that confuses me when I consider claim + one or more signatures.

Lets take a simple verifiable claim (from the [Verifiable Claims Playground](https://w3c-vc.github.io/playground/), which may not be current):

[code]

When signed by one of the signing

[2018-02-20 21:36] r3-za opened #119 "How do new claims and their signatures get generated from a collection of existing VCs"
My understanding of verifiable claim (or more specifically verifiable credentials) is that it is made of many components including a 'Proof' attribute that describes the signature of the claims.

When an identity holder is required to share one or a number of the claims that are in his possession with a Verifier, how does the signature attaches to the new verifiable claim (or I guess the correct t

[2018-02-21 09:45] David-Chadwick commented on #55
Hi Drummond
I think it is more important that the data model clearly and unambiguously specifies which types of credentials and profiles it does support (i.e. single/multi subject credential, subject EQ or NE Holder, single/multi subject profile) and enables the verifier to be told what type it is receiving, rather than, as in the current document, being vague and/or ambiguous and/or contradictory

[2018-02-21 11:54] David-Chadwick commented on #55
Joe I really like your post :-)
Concerning the global uniqueness of IDs, if issuers can use any identifier they want, then how is an issuer identified globally? And how does a verifier disambiguate between two issuers who possibly with the same ID? Wont the distributed ledger ensure that no two clients can have the same ID?
Concerning the issuer making a statement about the subject, what I am prop

[2018-02-21 14:51] dlongley commented on #55
@jandrieu,

Thumbs up to your post.

I think what you've proposed is a good approach but since you asked I will offer this as well so that everyone is aware of other possibilities:

The data model is designed in a composable way. Here this means that you could think of a `Profile` as containing the same kind of information that could appear as the `RDF object` of a `claim` in a `VerifiableCredenti

[2018-02-21 17:18] jandrieu commented on #55
@David-Chadwick regarding identifiers, I agree that the id of an issuer must be globally unique, but I didn't see that stated in the model. Maybe I missed it.

However, I don't think there's been a strong assertion that other identifiers, such as for credentials and subjects, are independently globally unique. Again, maybe I missed it in the model, but I expect it is an undocumented expectation. I

[2018-02-22 07:41] RieksJ commented on #55
While I can live with the notion of 'globally unique identifier' because of the practical use that it has, in theory there is no such thing. Every identifier, even the 'globally unique' ones, come with a scope within which this uniqueness is characteristic. After all, it is possible for me to pick any (existing) URI/URN and decide that for me, it will refer to the computer I'm typing this message

[2018-02-25 17:17] David-Chadwick commented on #106
I propose to change 6.3 to the following

6.3. Holder Acts on Behalf of Subject
In this case, the Holder creates a Profile, in which the ID is the ID of the holder, and the Relationship property states the relationship between the Holder and the Subject.
Note. The verifier still has to validate that this relationship is true.
Note. It it for further study how a holder might insert the credentials

[2018-02-25 18:40] msporny commented on #106
Hi @David-Chadwick, I'm just focusing on syntax, not whether I agree with the way you've modeled it (agree with most of it, disagree with some). Some corrections below:

This says that the subject is a parent, but not to whom they're a parent. I suggest something like:

[code]

-1 to Access Control Lists -- they have bad security characteristics. I'd rather the group try to figure out how to use O

[2018-02-25 19:21] David-Chadwick commented on #106
The relationship property is in the profile and is set by the holder, so it states the holder's relationship to the subject (its not the other way around as you assert, since the subject cannot state anything). Therefore the holder is stating that he/she is the parent of the credential subject. If we take your idea of having a property pointing to an ID, then we would need to define separate prope

[2018-02-25 19:26] David-Chadwick commented on #106
Having an access control list property is simply an example of a claim that can be delegable. I am happy to change this example into another property that can be delegated.

Clearly an AgeOver property cannot be delegatable, so this is why the delegatable property is used with the AgeOver example to show that it cannot be deleged

[2018-02-26 10:57] David-Chadwick opened #120 "IDs Not Differentiated Sufficiently"
Our data model contains several instances of different IDs, but each ID is simply called "id" and has no qualifying descriptor. We cannot interpret what the ID refers to as the data model does not contain any descriptive text to tell us. We cannot assume it is the ID of the encapsulating JSON data object, as this is not always the case. Furthermore, with the enhancements that are currently being s

[2018-02-26 11:12] Drabiv commented on #120
Great point! Would love to see this solved. Here and in DID spec.

[2018-02-26 13:56] msporny commented on #120
'id' is a part of the underlying linked data model, and is used to uniquely identify the object that is being described. Most developers that are familiar with JSON-LD are used to this pattern where "id" identifies the thing that you're attaching attributes to. Usually, we depend on "type" to determine the type of thing identified by "id"... so "type": "VerifiableProfile", "type": "VerifiableCrede

[2018-02-26 16:17] dlongley commented on #120
@David-Chadwick,

I may have misunderstood this comment:

Could you provide an example where this isn't the case? Are you talking about where IDs are merely references (e.g. they appear as strings) rather than full JSON objects?

AFAIK, we're following the JSON-LD/RDF model properly and every JSON object is a node in a graph (with an open world assumption) that is uniquely identified by the `id` p

[2018-02-26 16:38] David-Chadwick commented on #120
Well @dlongley  you have put your finger on it your example above
if "x" : {"id": "the id of x"} is meant to be the model, then "claim" does not fit it, as subject id should actually be the claim id.

[2018-02-26 16:46] dlongley commented on #120
@David-Chadwick,

1. "claim" is best thought of as a predicate, not an object.
2. The syntax actually further hides that the claim itself is a separate graph of information that has no explicit identifier. Within that graph of information is the subject.

What is being claimed is: "There is a subject with identifier X and attributes Y and Z".

You could more verbosely represent that there's a grap

[2018-02-26 16:53] David-Chadwick commented on #120
or you presumably could state

"subject": {
    "id": "<subject id>",
    "name": "Alice"
  }

To my mind this would be better, as the credential is a statement about the subject by the issuer. We dont need the claim baggage do we

[2018-02-26 17:33] dlongley commented on #120
@David-Chadwick,

I don't think it changes my response. I do think "claim" has always been the most awkward part of the syntax.

[2018-02-26 18:00] David-Chadwick commented on #120
Dave, after your lengthy explanations, it is now my opinion that "claim" should become "subject". I can see no reason for treating issuer and subject differently in either the data model or the JSON syntax. They are both objects in the same RDF graph. After all, subjects become issuers when they delegate their credentials.

[2018-02-26 18:11] David-Chadwick commented on #106
Here is some revised text for delegation which uses the principles of RBAC delegation (which in many ways are similar to object capabilities).

6.2 Subject Delegates to Holder

This is supported in the data model in two different ways: through the use of either recursion or profiles. Both methods involve the subject issuing a new credential to the delegated holder.

This process of recursion could

[2018-02-26 18:22] dlongley commented on #120
@David-Chadwick,

I'm not against such a change, but I want to point out this change, IMO, would be done to support the priority of a naive (and intentionally less flexible) reading of the syntax, not to support a more "correct" (or at least consistent) data model.

In your proposal to replace "claim" with "subject", using the predicate "subject" would link a credential to an isolated graph of sta

[2018-02-26 18:58] David-Chadwick commented on #120
@dlongley
I think you have read too much into the change I am proposing. Since a credential contains a set of claims about ONE subject, according to the definition in Section 2 viz: (credential -  A set of one or more claims made by the same entity about a subject) then it would not be a change in the data model to say it "is about a very particular subject" since this conforms to the current defi

[2018-02-26 19:01] dlongley commented on #120
@David-Chadwick,

If you add three backticks before and after your example, it will preserve your spacing:

[code]

[2018-02-26 19:14] jandrieu commented on #120
But a credential does NOT contain a set of claims about ONE subject. That section is in error.

The RDF-based data model allows--in fact depends on--multiple statements about, potentially, multiple subjects (in the RDF sense of subject, predicate, object).

The idea that VCs might be thought of as _about_ a single subject is the heart of the confusion. For *some* claims it may make sense for the i

[2018-02-26 19:31] David-Chadwick commented on #120
@jandrieu
Hi Joe.  My above post suggests a change to the credential JSON to make it much clearer that multiple subjects can be supported

[2018-02-26 21:33] jandrieu commented on #120
Multiple subjects are already supported. It is innate in the RDF graph model. Every statement has a subject. Each "claim" is in fact a RDF graph with multiple subjects, which you can see in Example 16:

[code]
That is, every property in "claim", other than "id", is a predicate whose subject is the value of "id" and whose object is the value of the property.

@dlongley or @msporny Can you simply us

[2018-02-26 21:37] dlongley commented on #120
@jandrieu,

Yes.

[2018-02-26 21:40] jandrieu commented on #120
Sorry, @dlongley I edited out that question when I updated my comment. I think David's point is on the mark. (But thanks for the clarification.)

[2018-02-26 21:44] dlongley commented on #120
@jandrieu,

The value of "claim", in the data model, is actually another isolated graph with some set of statements in it -- which matches the concept. The choice of syntax does happen to promote the use of a single subject as "the main subject" or "entry point" for that claim because that's expected to be the most common (and simplest) case.

You could also use an array as the value of "claim" an

[2018-02-26 22:04] jandrieu commented on #120
Agreed about not using the term "name". I don't think there are good examples or language explaining how to rigorously specify multiple subjects in a single credential (that's baked into the JSON-LD data model). We should add that.

FWIW, @stonematt and I are working on an update to the use cases document that will include the citizenship sticky wicket above and would be a good example use case fo

[2018-02-26 22:48] jandrieu commented on #55
@dlongley In your birth certificate example, where the id of the profile is the id of the holder.
[code]
So... what is the ID of the profile?  How do I refer to the profile canonically, instead of referring to the HolderID.

[2018-02-26 23:21] dlongley commented on #55
@jandrieu,

The "profile" *is* just some statements about the holder. We expect profiles to be fairly ephemeral documents that just make use of the "default graph". But I suppose if someone wanted to reference a particular profile they'd use the "graph" position in an RDF quad, i.e. you'd say "this is what was said about the holder in a particular document/graph named `profile id`".

So you could

[2018-02-26 23:48] stonematt commented on #55
There is an audit argument where the verifier will need to return to the origination documents that were the basis of the verifications.  The verifier won't think of the profile as ephemeral - it is the collection of legal documents used to grant or deny the benefit.  Granting/Denying access must be legally defensible, if it's ever included in discovery for a subpoena .

[2018-02-26 23:49] jandrieu commented on #55
Profiles are only going to be ephemeral on the holder's side. For GDPR and purpose binding and such, the verifier would do well to retain the profile as proof of the source of the information and their rights in usage.

This is an echo of the RDF triples v quads debate. The profile is *itself* a context for evaluating the statements made within. Consumers of those statements will need to refer to

[2018-02-27 00:03] David-Chadwick commented on #120
Part of the problem is that JSON does not have a formal schema, unlike XML, and the current specification does not help as it is ambiguous or simply lacking in explanation of many of the properties.

Conventionally I would expect that if a property is expected to have a single value it would be written as : "value", whereas if it is expected to have a set of values it would be written as ["value"]

[2018-02-27 06:41] talltree commented on #55
Dave, I agree that "profile" is the weakest term in the entire VC
vocabulary (issuer, holder, and verifier have all proved to be stellar
terms IMHO).

I can see the temptation to use "holder" as the outer envelope really does
represent the full package the holder presents the verifier. But for that
same reason, I think the term will be confused with the role of the actual
holder.

Can I suggest a

[2018-02-27 07:35] RieksJ commented on #55
Why would a profile need to be ephemeral - or better perhaps: what would its life-expectancy roughly be? Is it a matter of minutes, or can you have a profile lasting for years - perhaps the better part of your life?

Why would a profile only need to contain statements about the holder? Can it not, for example, contain statements about an entity for which the holder exercises guardianship? Or about

[2018-02-27 07:39] talltree commented on #55
Rieks, I like this very much, it maps quite precisely to how agents operate
in Hyperledger Indy and Sovrin architecture.

On Mon, Feb 26, 2018 at 11:35 PM, Rieks <notifications@github.com> wrote:

[2018-02-27 07:41] Drabiv commented on #55
Drummond, I like the idea to change "profile" to "envelope" (or maybe "bundle"?).  Profile term used as a collection of credentials is confusing to me.

[2018-02-27 09:27] RieksJ commented on #55
@talltree: does your liking this imply

- that profiles can have multiple subjects?
- that profiles are not necessarily ephemeral?
- that profiles are not just there for holders, but also for issuers and verifiers?

[2018-02-27 10:36] RieksJ commented on #55
From where I stand, a profile holds credentials that hold statements that represent part of the holder's knowledge, which in turn can be represented as a populated (knowledge) graph.  I like to see the profile as an annotated, populated knowledge graph. Many tools exist for working with such graphs, e.g. SPARQL or SHACL. One concept would thus be this knowledge graph.

A verifier wants to query th

[2018-02-27 16:28] dlongley commented on #118
Only skimmed this briefly right now but it seems like the use of a new term in Linked Data Proofs, `proofPurpose`, would be useful here. It's a term that can be included in the signature meta data that indicates the purpose of the proof/signature and links a verifier to a predicate where they can find the appropriate application suite and key material for verification from the signer.

[2018-02-27 16:29] msporny commented on #115
Add spec text in security section about this attack.

[2018-02-27 16:31] dlongley commented on #118
As possible examples, a signature may include a `proofPurpose` with a value of `authentication` (where a signature is intended to authenticate the signer), `issueCredential` (where the signature is intended to prove authorship of a credential), `endorsement` (where a signature is intended to endorse someone else's issuance of a credential), `invokeCapability` (where a signature is intended to prov

[2018-02-27 16:32] jandrieu commented on #111
I think this is out of scope.

[2018-02-27 16:42] burnburn commented on #107
Waiting on resolution of issue #106

[2018-02-27 17:16] liamquin commented on #117
I _think_ i've done all that's needed (a .pr-preview.json file). Please test and close, or grump at me some more as needed ;D

[2018-02-28 08:11] talltree commented on #55
On Tue, Feb 27, 2018 at 1:27 AM, Rieks <notifications@github.com> wrote:

issue of scope.

[2018-02-28 18:22] David-Chadwick commented on #120
I think one of the problems may be the implicit assumption that JSON-LD is fundamental to (understanding) the data model. But I do not think this is or should be the case.

Early on it was said that VCs should work without any reliance on JSON-LD, so that VCs formatted in pure JSON would work, as would those with JSON-LD constructs such as Context added to them, without effecting implementations t

[2018-02-28 18:30] dlongley commented on #120
This is no such restriction "if a value can be an array then it MUST be an array" in JSON. JSON values can be anything, they can be mixed and matched, and so on.

[2018-02-28 18:44] David-Chadwick commented on #120
@dlongley
you have misinterpreted what I said. To elaborate,  If a value in our data model is meant or allowed to be an array then it should start with [ and end with ] in our examples (even if it only contains a single element), and our descriptive text of the value should state it is an array. If the value is only allowed to be simple value, then this should be stated in the description of the n

[2018-02-28 18:53] dlongley commented on #120
@David-Chadwick,

Why? Why not just have examples with single values and examples with more than one?

[2018-02-28 18:54] David-Chadwick commented on #106
I believe that this issue can now be closed as the PR has been issued and the discussion will continue on the PR page.

[2018-02-28 19:01] David-Chadwick commented on #97
@r3-za
Would you like to propose some text for inclusion in the data model document that describes how images can be embedded in VCs?

[2018-02-28 19:22] David-Chadwick commented on #80
@RieksJ
Can you look at the two PRs that are currently open. One clarifies that credentials can contain multiple subjects and one is about Subject NE Holder.
Do these PRs addresses your concerns in this issue?

[2018-02-28 19:34] David-Chadwick commented on #120
Because I would like the data model document to remove ambiguity. It should state quite categorically which values should be single values (such as ID) and which can be lists.

[2018-02-28 19:52] dlongley commented on #120
I'm in agreement with that. But that some "can be lists" doesn't mean that they "must be". We should show examples both ways.

[2018-02-28 20:51] David-Chadwick commented on #120
Agreed. But we should have some way of telling readers this fact. We can do it per property definition, by stating it is a list of values, or by putting [..] in the examples, or both. But to be silent on the issue is not good enough in my opinion.

[2018-03-01 08:38] RieksJ commented on #80
@David-Chadwick I have had a quick look. Here's my 2 cents:

W.r.t. the multiple subjects, I like the terseness of the paragraph you suggested. However, it does not explicitly note that there may be multiple subjects, which I think it should (it was the whole point of the discussion). I also like the precise use of words such as 'optional', 'may', 'should' etc where that is appropriate. I also thi

[2018-03-01 12:04] David-Chadwick opened #123 "Explicitly state JSON Object Types"
In all the examples, the JSON object is not specified. One has to look inside the type parameter to find out what sort of JSON object it is. However, when the object is embedded in another object e.g. credential inside profile, then the object type is specified. I therefore suggest that each object should starts by stating what type of object it is. Thus Example 1 would become
[code]
This would ha

[2018-03-01 12:41] David-Chadwick commented on #80
Hmm. When I open the Preview in the Pull Request then I cannot see ANY of the diagrams, even the pre-existing ones.
Can anyone who is familiar with the W3C Github system explain this please, and what the solution is.
When I open index.html in my local github copy then I can see all the diagrams.

@RieksJ
w.r.t 6.1. I agree. We should be as explicit as we can be in the data model and leave nothing

[2018-03-01 13:29] RieksJ commented on #80
@David-Chadwick
W.r.t. 6.3, 6.4 and 6.5, I get the impression that I do not understand what it means that a claim is being delegated, what authorizations you envisage that an issuer provides to a holder and why that would be of interest to a verifier. Could you elaborate, please?

[2018-03-01 13:29] RieksJ commented on #80
@David-Chadwick
W.r.t. stating relationships between subject identifiers (of an issuer) and identifiers of a holder, and not having given this a great deal of thought yet.

I think that an issuer will only issue credentials upon request, and of a type that the issuer will have published publicly, and of which the structure is documented in that publication, which I now call a credential-type-speci

[2018-03-01 20:13] David-Chadwick commented on #80
@RieksJ
W.r.t. 6.3, 6.4 and 6.5, and authorisations.
My view is that all credentials are ultimately only needed for authorisation purposes i.e. the holder wants to achieve some goal, or access some resource etc. and therefore needs to prove to the verifier that he/she is entitled to do this. The verifier is the gatekeeper of the protected resource. A passport is only needed if you wish to travel a

[2018-03-01 20:21] David-Chadwick commented on #80
@RieksJ
Regarding relationships, your discourse was primarily concerned with the protocol interactions between the holder|subject and the issuer and this is clearly out of scope of the current data model document. Whilst I understand that the issuer could insert a statement in a VC to say something like <ID one> belongs to <ID two> if the issuer validates that the requestor possesses both IDs, I a

[2018-03-02 13:54] RieksJ commented on #80
@David-Chadwick: W.r.t. 6.3, 6.4 and 6.5, and authorisations. I see. It's a different perspective on the situation where access to (say) a resource needs to be protected. If you look at it from an issuer point of view, you end up with issuing permissions of some kind that should provide the access. I can see how delegation fits here. If you look at it from the gatekeeper point of view, you end up

[2018-03-02 14:19] David-Chadwick commented on #80
@RieksJ
The VC model is an open one where issuers and verifiers do not need to belong to the same organisation, though of course they can.
The issuer normally would not do the delegation (although if you read my VC Lifecycle paper (https://w3c-ccg.github.io/vc-lifecycle/) you will see that the issuer can delegate the issuing of VCs to another entity. The subject would normally delegate a VC given

[2018-03-03 08:02] rigow opened #124 "Privacy: Retention times"
The Specification should allow a holder and/or a requester to specify expiry and retention times.

[2018-03-03 08:09] rigow opened #125 "Privacy: Anonymous credentials"
Verifiable claims should be usable while using anonymous credentials according to the Camenisch/Lysyanskaya - system:
https://link.springer.com/chapter/10.1007/3-540-44987-6_7

[2018-03-03 08:51] David-Chadwick commented on #125
@rigow
I know, I have a student working on this (with help from Jan) for his MSc project. I will report to the group how he gets on when he has finished in September.

[2018-03-06 12:30] Drabiv opened #126 "Reference and Attachment properties - add a clear way to reference and attach data into credentials"
I would like to propose to add to the spec the properties Reference and Attachment and remove the notion of Profile, and properties Evidence and Term of Use.

The addition of property Reference will allow to have a universal way to reference anything that is relevant to the credential (e.g. credential's human readable presentation, other credentials, terms of use, evidences etc.) References can be

[2018-03-06 18:07] dlongley commented on #126
I'm a general -1 to the "catch-all bucket" pattern. It usually an anti-pattern to create predicates that have no clear semantics -- and then to embed the actual semantics within objects in the bucket. It does not adhere to the graph model. This isn't strictly *always* the case -- and there can be fairly generic categories of relationships that work out, but I think the above is too generic and wou

[2018-03-07 11:05] Drabiv commented on #126
Thanks for reply @dlongley

Let me provide background for this proposal and my understanding of VC standard. Hopefully it will allow to come to a common understanding and solution.

**My understanding of VC standard**:
What is VC standard? Is it a universal way to digitally sign data OR a universal way to create "small size" credentials (passports, driving licenses, diploma certificates etc).

I u

[2018-03-08 17:14] r3-za commented on #97
@David-Chadwick Sure I am working on some preliminary work. Where can we propose the schemes?

[2018-03-09 10:04] David-Chadwick commented on #97
You can add it to this issue in the first instance to get some feedback. Then when it is a relatively stable you can do a pull request on the existing data model document in order to get the text included in the next update

[2018-03-13 14:16] dlongley opened #127 "Update/mint new JSON-LD context"
The existing https://w3id.org/credentials/v1 context is out of date in non-backwards compatible ways at this point. There are some legacy verifiable credentials that depend on it, so we should either mint a `v2` or come up with a new name (if the group finds that desirable).

[2018-03-13 14:21] dlongley commented on #126
@Drabiv,

I don't think it is either of these. It is not a universal way to digitally sign data (this is, for example, left to the Linked Data Signatures work -- or an existing standard such as JOSE if it suits your use case). This work is also not restricted to "small size" credentials, but the scope *is* restricted to credentials and data directly related to them.

[2018-03-13 14:23] dlongley commented on #125
A related RWoT paper by Nathan George:

https://github.com/WebOfTrustInfo/rebooting-the-web-of-trust-spring2018/blob/master/topics-and-advance-readings/AttributeBasedCredentials_and_VariableLengthDataGraphs.md

[2018-03-13 15:17] msporny commented on #125
Hey @nage or @talltree, you guys need to take this issue. We can't assign you for anything VC related, can you please get added to this repository. @liamquin can you help them do that?

[2018-03-13 15:31] liamquin commented on #125
On Tue, 2018-03-13 at 15:17 +0000, Manu Sporny wrote:

Invitations sent (github sends them by email so check spam mailbox if
needed!)

--
Liam Quin, W3C, http://www.w3.org/People/Quin/
Staff contact for Verifiable Claims WG, SVG WG, XQuery WG
Improving Web Advertising: https://www.w3.org/community/web-adv/
Personal: awesome vintage art: http://www.fromoldbooks.org/

[2018-03-13 15:34] msporny commented on #72
More work happening here on delegation/attenuation: https://w3c-ccg.github.io/ld-ocap/

[2018-03-13 15:41] #117 closed

[2018-03-13 15:42] #112 closed

[2018-03-13 15:42] burnburn commented on #112
No objections, so closed.

[2018-03-13 15:43] msporny commented on #112
This was discussed on the call today - consensus position was what I said above (no desire to combine data model in the way that @trbouma mentioned above): https://www.w3.org/2018/03/13-vcwg-minutes.html#item04

[2018-03-13 15:47] #119 closed

[2018-03-13 15:49] dlongley commented on #111
+1 for out of scope. There could be something in the future that allows people to file some standardized dispute resolution with issuers but I don't think we're chartered to deal with this at the moment.

[2018-03-13 16:22] jandrieu commented on #118
What we need is clarification of the semantics of a signature and additional examples for the edge cases.

Three constructs, using the example above.

A. Alice signs the above claim (Claim Alpha). That signed claim means

resulting in Verifiable Credential Beta (VC Beta). Alice has asserted to the veracity of the two statements, namely that she knows DID:Bob aka Bob.

B. If the entire structure of

[2018-03-13 17:27] David-Chadwick commented on #72
I believe that the work on capabilities is not really needed, because it is possible to define all capabilities as verifiable credentials. Here is an example taken from the id-ocap document
[code]

[2018-03-13 19:05] ChristopherA commented on #118
Another related issue came up at #rwot — you probably should not use information in the signature block to determine data in the data model, in particular the issuer. This came up in the following example:

[code]

Manu was saying this was a valid claim, but that the creator would be the issuer. I'd really rather see the issuer data be in the claim itself, like:

[code]

Reason? If you countersign

[2018-03-13 19:45] cwebber commented on #72
It would be good if we could find that VC and ld-ocap can overlap more clearly and thanks @David-Chadwick for exploring this.  I think this is a good attempt, so in the interest of figuring out if we can bring things closer together, let's try to poke at the differences so we can understand what they are:

* First of all is a difference of frame of mind. VCs typically talk "about" an entity that t

[2018-03-13 21:59] dlongley commented on #118
@ChristopherA,

I agree that the `issuer` information should be in the credential. But also keep in mind that with `proofPurpose` the purpose of the signature is made explicit:

[code]

[2018-03-14 11:47] Drabiv commented on #127
The https://w3id.org/credentials/v1 context references https://w3id.org/credentials. This is the most important reference in the context, that should describe such properties as "claim", "credential", but it returns nothing. Just pointing out what needs to be fixed in the first place.

[code]

[2018-03-14 13:59] Drabiv opened #128 "Add standard (generic) JSON Schema for implementors to validate their verifiable credentials."
While trying to implement Verifiable Credentials I faced a need for JSON Schema to validate my VCs against. It would be great to have community reviewed JSON schema appended to the spec for this purpose.

[2018-03-14 15:26] Drabiv opened #129 "Add canonical way to reference JSON Schema against which credential should be validated"
I think it would be beneficial to have in the spec a description on how to reference  JSON Schema against which credential should be validated. This reference should be of course optional.

[2018-03-15 14:48] r3-za commented on #97
The structures I have worked on so far are the following..

**Type 1: Image embedded using the 'data' property**
“blob”: {
“label”:”passport1”,
“type”:”jpeg”,
“encode”, “base64”,
“data”: ”[binary content of image in base64]”
}

**Type 2a: Image referenced on IPFS by specifying the protocol, host and hash**
[code]

**Type 2b:I mage referenced on NI server by specifying the protocol, host and hash**

[2018-03-16 11:57] Drabiv opened #130 "Add "revocationAuthority" property"
Proposal to add "revocationAuthority" property into "revocation" object. Please, see below.
[code]

The idea is to have explicitly stated who has the right to revoke credential. Usually it will be issuer, but it can also be other DIDs.

[2018-03-16 14:07] dlongley commented on #130
I don't think this would appear inside of a credential, but rather, if you dereferenced the ID of the list to get the full list description, it could appear there. Furthermore, I think there's a Linked Data Object Capability pattern that could be employed here for handling delegating the ability to do list updates.

That being said, I think list management is potentially out of scope -- we just wa

[2018-03-16 14:22] Drabiv commented on #130
@dlongley, btu how would you know that identity that revoked the credential had the right to do so? If revocation was done by issuer that is clear - it is a valid revocation, but if revocation was done by some other identity how would we know that revocation is valid? (e.g. prescription issued by doctor, revoked by hospital or by pharmacy or by police) Would it not be beneficial to add something l

[2018-03-16 14:40] dlongley commented on #130
@Drabiv,

Because that identity was able to update the list. More specifically, because they were able to put an entry on that list for that particular credential. I'm suggesting that the management of that list be decoupled from the verifiable credential entirely -- so that issuers need only specify the list in the credential. I would expect, for example, the issuer to employ a capabilities syste

[2018-03-16 15:00] Drabiv commented on #130
Thanks for clarification @dlongley I agree with you. It would be better to manage revocations only via the list.
Although, "allowedRevocationAuthorities" approach should not be prohibited also, for those who want to manage revocations this way.

[2018-03-16 15:09] dlongley commented on #130
@Drabiv,

Well, that approach involves the verifier so it introduces interoperability considerations. The verifier needs to understand that field and use it in order to be implemented properly. If this is a desirable feature, then I think we should introduce another type of list for it -- so that verifiers that want to support it can key off that:

[code]

[2018-03-16 15:37] Drabiv commented on #130
All right, makes sense! I think this should be added to spec someday.

[2018-03-20 13:37] msporny commented on #124
At present, there is a section on Terms of Use: https://w3c.github.io/vc-data-model/#terms-of-use

There are two use cases here:

1. The holder specifies an expiry time for the credential, and
2. The verifier specifying a retention time for the credential.

The first is a part of the data model, the second is a part of the protocol (and may have an effect on the data model).

I think we can make t

[2018-03-20 15:20] dlongley commented on #130
Closing this out as we don't plan on doing anything with it at the moment -- that's the policy the group has agreed to. Issues can always be reopened in the future when we plan to address them.

[2018-03-20 15:20] #130 closed

[2018-03-20 15:24] dlongley commented on #126
@Drabiv,

I think each of the requirements you mentioned may need a separate issue (or already has one or something for it in the data model). I'm not convinced there's a general solution to this problem.

https://github.com/w3c/vc-data-model/issues/42

I believe we have "evidence" in the data model.

Can you open a separate issue to address these?

As argued above, I think the actual kind of rela

[2018-03-20 15:29] msporny commented on #111
I'll suggest some spec text to reduce scope and resolve this issue.

[2018-03-20 15:29] dlongley commented on #111
We need to define what the scope is here --

Are we talking about simply issuing separate claims or about a dispute protocol with the issuer for getting things "fixed"? Because I think the latter is out of scope.

[2018-03-20 15:31] dlongley commented on #111
+1 to adding an example of a credential about another credential.

[2018-03-20 15:36] jandrieu commented on #118
@dlongley

I don't think "proofPurpose" is appropriate. My analysis may be wrong, but it seems to me that the *only* valid semantics for signing is to assert the root of the graph as an utterance, i.e. the issuer "says" the claim where the claim starts at the root of the graph and does NOT imply uttering any claims later in the graph. By which I mean IssuerA "saying" that "IssuerB 'said' ABC" is n

[2018-03-20 15:43] dlongley commented on #103
Perhaps we need a "presenting" property or other types of relationships for why the credentials are being bundled.

[2018-03-20 15:46] dlongley commented on #98
I think this is related to #118.

[2018-03-20 16:17] David-Chadwick commented on #111
The original intention was not to add anything to the data model, its syntax or its examples, but to give non-normative guidance to issuers as to how they should operate. The suggestion was to add a non-normative section to the data model document. This may lead in future to other standards that define how issuers should operate in relation to their subjects (akin to the CP and CPS documents that

[2018-03-20 17:16] jandrieu commented on #46
Yes. We can close this issue.

[2018-03-20 17:16] #46 closed

[2018-03-20 17:36] dlongley commented on #118
@jandrieu,

Well, `endorsement` is probably better suited as a `proofPurpose` in a chained proof rather than a proof set. But I'd refer back to this comment for other use cases where I do think it makes sense to be explicit about the purpose of the proof:

[2018-03-20 17:54] jandrieu opened #133 "Profile ID is ambiguous and potentially improper"
In @dlongley 's comment on #55, he asserts that the profile ID is the ID of the Holder:
https://github.com/w3c/vc-data-model/issues/55#issuecomment-368687003

The problem with this approach is that for essentially all other web data models I'm familiar with, the ID field within a data entity defines the identifier for that data entity, NOT an identifier for some other entity (such as a holder).

N

[2018-03-20 17:55] jandrieu commented on #55
Based on https://github.com/w3c/vc-data-model/issues/55#issuecomment-368687003 I am creating a new issue #133 to address the problem of the ID of the profile being the identifier of the holder.

[2018-03-20 18:27] coderintherye commented on #133
Just want to add agreement here for being explicit about holder vs. id. I agree that we would likely confuse "id" as being the unique identifier of the claim rather than the holder. I might suggest "holder_id" as being more explicit, but either way having another predicate for this makes sense.

[2018-03-20 19:39] jandrieu commented on #103
This framing is off the mark.

Verifiable Credentials are what are issued by Issuers. We should avoid changing this.

What is presented to Verifiers is NOT what is issued. The language above is exceptionally confusing. I've never heard of IssueSuites and I understand neither the use nor the need for the term. Suites, to me, conjures up notions of software suites NOT sets of data. The sentence

Is

[2018-03-20 19:51] agropper commented on #103
+1 to Presentation

On Tue, Mar 20, 2018 at 3:39 PM, Joe Andrieu <notifications@github.com>
wrote:

--

Adrian Gropper MD

PROTECT YOUR FUTURE - RESTORE Health Privacy!
HELP us fight for the right to control personal health data.
DONATE: https://patientprivacyrights.org/donate-3/

[2018-03-20 20:15] jandrieu commented on #118
Without defining endorsement, I don't know what you mean.

If "endorsement" means asserting the same underlying fact, then an independent credential with identical claims is sufficient.

If "endorsement" means asserting that the claim was made by the issuer (as provable in a specific credential), that doesn't feel like an endorsement as much as a "witness".

If "endorsement" means both witnessing

[2018-03-20 22:22] ChristopherA commented on #103
+1 to Presenter/Presentation — holder has been bothering me for a while. Some other things I like about it are: is that it is clear that these associated with an active verb "present", whereas hold is passive. It is also implied that I don't have to accept a presentation. It also is more narrow in time. Hold could be forever, but what is important are those narrower points in time where I present

[2018-03-21 07:06] David-Chadwick commented on #133
Joe I am tending to agree with you, but if you ask any developer what is
 "id": "did:example:ebfeb1f712ebc6f1c276e12ec21",
they will say it is the claim id, not the subject id.
So this issue is related to issue #120. As I am producing a PR for the latter I can include this in the PR as well

[2018-03-21 09:17] Drabiv commented on #126
@dlongley

Those issues are closely interwined and I think should be addressed together. I will open separate issues and reference this one to have them understood as being a part of a solution to this issue.

Why not to use proposed "reference", "reference.purpose" and "attachment" properties? Because it mixes graph-based approach with tree-based? It is simple and effective as per my reckoning.

[2018-03-21 09:47] Drabiv opened #135 "Reference or attach credential in another credentials"
This issue is a part of general "Reference and Attach data in credential" issue #126

There should be a standard way to reference or attach credential in another credential.

Let's say, a supermarket chain issued "Permit to buy alcohol" to its customer and want to reference/attach "Proof of Age" credential into their permit credential.

Proposed solution.

Hash referenced credential and reference

[2018-03-21 10:00] Drabiv opened #136 "Reference or attach generic (not-credential) data in credential"
This issue is a part of general "Reference and Attach data in credential" issue #126

There should be a standard way to reference or attach any data (image, video, html page, archive folder etc) in credential.
Related issues: #97

For example, credential issuer wants to reference or attach a visual representation of credential (what user saw when they signed the credential) into credential.

Propo

[2018-03-21 10:10] Drabiv commented on #126
Created issues #135  and #136 to separate issues with referencing credentials vs. referencing generic data
The below requirements should be satisifed in both issues.

- relation of referenced/attached data to the credential may or may not be clear at the moment of creating credential
- referenced data should be tamper-proofed (in rare cases may be allowed to be not tamper-proofed)
- credential may

[2018-03-21 10:37] Drabiv commented on #118
I agree with @jandrieu way of thinking.
What you want to say should be in a claim not in a signature. So if you want to sign credential with comments on what your signature means, create new credential, reference credential that you want to say something about and add your comments  (e.g. "I endorse it", "I witness it", "I agree with it", "I do not agree with it", "I approve it", "I like it", "I c

[2018-03-21 14:05] stonematt commented on #103
Also +1 to Presenter/Presentation -- second Christopher Allen's point.

=====
Matt Stone
501-291-1599

On Wed, Mar 21, 2018 at 3:52 AM, Christopher Allen <notifications@github.com

[2018-03-21 15:13] dlongley commented on #133
@David-Chadwick,

I recommend we keep the issues separate. We don't have consensus here yet whereas in the other issue, I suspect we do. It would be better not to hold up the other PR.

[2018-03-21 15:18] dlongley commented on #118
@Drabiv,

I think that's all well and good. I am think about scenarios, however, where the signer is *fooled* into signing information for a *different purpose* than they intended. If their signature always includes the purpose for signing, this can be mitigated. I believe there are two separate issues here -- and we probably need to employ *both* approaches.

[2018-03-21 15:21] dlongley commented on #103
Related to #133.

[2018-03-21 16:44] msporny commented on #103
There are a number of miscommunications in this thread, so I'm going to try to add more data to the conversation before trying to drive toward closure of the issue. There are two decisions this issue is asking us to make:

* Decision 1: Decide what the container name for the thing that holds verifiable credentials in a Profile/Presentation and a DID Document is going to be.
* Decision 2: Decide wh

[2018-03-21 16:49] msporny commented on #103
## Decision 1

One of the fundamental assumptions that all of the VC work builds on is an open world assumption. That is, any entity can say anything about any entity, including itself.

What we're calling Profiles (or Presentations) are statements about a subject identifier (aka DID).

DID Documents are statements about a subject identifier (aka DID).

... and Verifiable Credentials are statement

[2018-03-21 16:58] msporny commented on #103
## Decision 2

This decision has to do with stating the mechanism that is used to issue a Verifiable Credential. In other words, "This DID is going to issue credentials using these sets of mechanisms."

This is analogous to what we're currently doing for the ```authentication``` property in the DID Document. The ```authentication``` property in a DID Document specifies the cryptographic algorithm

[2018-03-21 17:14] dlongley commented on #133
@jandrieu,

The current design follows an open world assumption. Presently, a Profile is just some set of statements about a holder -- which is why it makes perfect sense for the ID to refer to the holder. One of those statements is essentially "This holder holds credentials X, Y, and Z". This is what makes a Profile the way to bundle credentials -- they are "bundled" according to the fact that th

[2018-03-21 17:45] gkellogg commented on #133
There seems to be enough ambiguity over what the subject of a Profile is, that it probably requires further description.

@David-Chadwick made the following assertion:

I agree with the sentiment that the `id` field (RDF subject) of the node object should identify the entity about which properties relate, not something else.

@dlongley said:

Absolutely correct, IMHO. If the statements are about t

[2018-03-22 08:27] rogargon opened #137 "Broken reference to LD-PROOFS"
The reference to LD-PROOFS (https://github.com/w3c/vc-data-model/blob/gh-pages/common.js#L39) is broken.

The linked page does not exist (404):
https://w3c-ccg.github.io/ld-proofs/

[2018-03-22 14:51] dlongley commented on #137
Yes, we still need to create that document as one spec lower in the stack than [LD Signatures](https://w3c-dvcg.github.io/ld-signatures/), i.e. it will include what is common for all LD Proofs, for which signatures are just one kind.

[2018-03-22 22:53] r-soltani opened #139 "How are verifiable credentials updated"
Observing a scenario where a person's driver's license is required to be updated.. in the traditional non-digital model the card holder would go to the local government office and request a new driver's licence with the new address. In many cases the old license is destroyed either by the person.. or requested by the office and discarded before the new license is given out..

How does this scenari

[2018-03-23 06:01] Drabiv commented on #139
I guess, this will work, by issuer revoking old driving license and issueing new one. In the new credential if needed, the issuer can reference old credential.
Also, credentials may have expiration date, hence they can become invalid "passively" (without innervation from issuer).

[2018-03-23 06:19] Drabiv commented on #118
In case when you want to limit/protect the use of credential that you sign, IMO, it would be better to put this limitation into the claim or into credential's meta-data. Something like this : "limitationOnUse": "Distribute with written consent from signer only" OR "Allowed to be distributed on US soil only" etc.
Actually, is it not already speced out with "termsOfUse" ?

[2018-03-23 06:44] Drabiv commented on #118
There is also a related scenario. Signer might be tricked to sign information that is different to what he thought he was signing. For example, signing Bitcoin transaction while having the impression of signing some benign credential, or authenticating to site, etc.
The best way to mitigate such attack IMO would be to have many keys with different purposes in DD. Keys for financial transactions, k

[2018-03-23 14:08] dlongley commented on #118
@Drabiv,

This is the scenario I'm talking about.

The best way to mitigate such attack IMO would be to have many keys with different purposes in DD. Keys for financial transactions, keys for unimportant credentials, keys for important credentials. For example:

Yes, this is in the design already. The use of `proofPurpose` solves two problems related to this: "how does the author make their signin

[2018-03-23 15:15] Drabiv commented on #118
@dlongley thanks for clarification.  Now I support this idea.
The only thing, that I still have issue with, is to call this property "proofPurpose".
This property actually conveys "an authorization of the key used to create this proof".
The actual and sole purpose of the proof is to signify, that signer agreed with everything that is written in the claim. If he does not agree with what is written

[2018-03-23 19:27] dlongley commented on #118
@Drabiv,

Note: `proof` is an abstraction for which there may be no "key" but the same principles/mechanisms would apply. So I don't think we should put "key" into the name.

I disagree, at least in part. I think this property primarily conveys the intent of the signer: the reason why they were willing to sign. As a secondary feature, we get to reuse it to find the verification key/material. So bo

[2018-03-24 13:13] Drabiv commented on #118
@dlongley

If there is a "signatureValue", then there is a key, hence "signedWithKeyAuthorizedTo" is more or less ok IMO. If we want general name let's call it something like "proofMadeWithToolAuthorizedTo".

OK, property "proofPurpose" as proposed by you, actually contains two properties "intent of signer" and "key authorization".
I say, - to have "intent of signer" in proof is not correct. To ha

[2018-03-24 17:17] ChristopherA commented on #118
There is some long history of why we are moving past the words signature and keys. Please let’s not reopen this — there are emerging multiple forms of proof, many that are not signatures or don’t have keys. We need to future proof ourselves.

[2018-03-24 18:31] Drabiv commented on #118
I am ok, not mention key in the name of this property. It just not easy to come up with name that is short and does not mix notion of "intent of proof" with notion of "authorization scope of the tool used to create this proof". Maybe name - "creatorAuthorizationScope" will be a good fit?

[2018-03-24 18:59] ChristopherA commented on #118
I think we are on the right track, but not quite there. I’m suspect that “issuerAuthorizationScope” is closer, but not sure if there are uses beyond authorization.

[2018-03-24 19:49] Drabiv commented on #118
I think it needs to include "creator", because this is creator's authorization scope.

As per my understanding, issuer of credential is always DID, not a particular key of DID .
DID is the owner of all his keys (proof creation tools), hence its authorization is not limited. Whereas authorization of proof creators (keys) can be limited to certain arbitrary areas - "authentication"; "Signing of educ