[2019-04-16 15:56] stonematt commented on #481
Resolved on VCWG call 4/16/2019.
RESOLVED: Issue #481 is addressed by PR #508 and PR #509, which make multiple non-normative changes to the definitions of roles in the ecosystem as requested by the reviewer. The PR has been approved by multiple parties and have been merged. Issue #481 should be closed.

Plan to close in 7days

[2019-04-16 15:57] stonematt commented on #485
Resolved on VCWG call 4/16/2019.
RESOLVED: Issue #485 is addressed by PR #519, which makes non-normative changes noting that a JWK can also be used in the place of an `issuer` property as requested by the reviewer. The PR has been approved by multiple parties and has been merged. Issue #485 should be closed.

[2019-04-16 15:58] stonematt commented on #541
Resolved on VCWG call 4/16/2019.
RESOLVED: Issue #541 is addressed by PR #542, which makes a non-substantive change that fixes a bug in the specification related to JWT jti/sub values being swapped. This is a non-substantive change because there were two conflicting normative statements in the specification, the examples were clearly the intent, and any reasonable implementer would have implemente

[2019-04-16 16:14] brentzundel commented on #502
I read this:

and fail to see how it may be interpreted as this:

[2019-04-16 17:01] nadalin commented on #502
@brentzundel Pretty easy  since there was no mention of not changing it at next update point, if that was noted than I would accept but the way it's worded is not in a very collaborative means

[2019-04-16 17:04] nadalin commented on #525
@stonematt Will wait to see final wording as I'm not convinced this will be adequate

[2019-04-16 17:07] nadalin commented on #524
@stonematt Extension frameworks can be normative but any extension points will have to show proper interoperability of any mechanisms or these would be at risk and would ne non-normative.  So don't agree with closure

[2019-04-16 17:18] nadalin commented on #524
@stonematt I also don't see anything in charter that says that extension points can't be worked upon, if there are protocols already defined then no issues, I agree if you are inventing a new protocol that is called out in charter as out of scope

[2019-04-16 17:21] nadalin commented on #520
@stonematt Don't agree with closing as the point is that the VC data model should allow JWT

[2019-04-16 21:21] msporny commented on #549
That change would require JSON-LD processing for all processor classes (a normative change which we're trying to avoid right now), and it would result in less consensus on the spec (and most likely a larger number of formal objections when we try to transition)... because it will force everyone to use a JSON-LD processor.

Note that the specification currently states:

It also states:

We also hav

[2019-04-17 10:00] ashimura commented on #526
I talked within the W3C Team about this request and got approval to change the shortname to "vc-data-model". So I'm now working with the Webmaster for that change.

[2019-04-17 11:38] burnburn commented on #526
Thanks Kaz!

On Wed, Apr 17, 2019 at 6:01 AM ashimura <notifications@github.com> wrote:

[2019-04-17 16:43] rhiaro commented on #549
Not necessarily. If we specify the exact character string of the JSON object that should be used for the inline context, that's equivalent to specifying the URL so no additional processing of the context would be required, right?

This would give implementations which object to leaning on the w3.org URL for any reason a possibility to include the context in a way that JSON-LD processors would stil

[2019-04-18 15:19] TallTed opened #556 "problematic phrasing in 4.2 https://w3c.github.io/vc-data-model/#identifiers"
circa https://github.com/w3c/vc-data-model/blob/acec79f7944aa7ad3b6efe86d34855a24b646e15/index.html#L1103

I do not think this phrasing --

[code]

-- expresses what was intended.  Flipping the word order around without changing what the sentence is saying --

[code]

I think the intended statement is about `id` (not about "identifiers intended to be used by others") and ought to include something

[2019-04-18 17:44] nadalin opened #557 "@Context"
"The value of the @context property MUST be an ordered set where the first item is a URI with the value https://www.w3.org/2018/credentials/v1."

I don't believe that this has to be a ordered set, the specification should allowed this to be treated as just a string if this value has to be present, which I still have concerns about

[2019-04-18 18:13] David-Chadwick commented on #557
This issue has already been raised by me in PR #548. So I suggest that when it is answered there, this issue can be closed.

[2019-04-18 18:33] nadalin opened #558 "@Context Processing"
"It is RECOMMENDED that dereferencing the URIs results in a document containing machine-readable information about the context"

This should be removed, this can be a very large security attack vector

[2019-04-18 18:39] nadalin commented on #557
@David-Chadwick Agree

[2019-04-18 19:21] brentzundel commented on #478
Closing this issue, as the PR satisfying it has been merged.

[2019-04-18 19:21] #478 closed

[2019-04-18 19:42] dlongley commented on #558
That statement does not say that it is recommended that verification software perform dereferencing. It recommends that if the URI is dereferenced, the result should be a document that contains machine-readable information about the context (as opposed to something else or nothing at all).

[2019-04-18 19:59] nadalin commented on #558
@dlongley Should not RECOMMEND any dereferencing, this should be able to be just treated as a string as there is no reason to expect that URI is dereferenced, the result should be a document that contains machine-readable information.

[2019-04-18 21:34] nadalin opened #559 "verifiable presentation"
There numerous points on "verifiable presentations" but verifiable presentations are non-normative but there are normative statements about these like "Clarified that verifiable credentials and verifiable presentations MUST include the @context property and that for a VC or VP to be verifiable at least one proof mechanism MUST be expressed: external or embedded. "

There should be no normative sta

[2019-04-18 21:35] dlongley commented on #558
Dereferencing is not being recommended. No statement is being made encouraging that the URI be dereferenced nor is a statement made about the process by which that "dereferencing" would occur.

For example, a "dereferencing process" could involve a URI `urn:foo:this-is-my-context#sha256-d21db12bd21` that can be found as a key in a hard-coded, in-memory registry where the value is a document with m

[2019-04-18 22:11] brentzundel commented on #559
Are you proposing that the wording of the list of changes be amended?

[2019-04-19 02:12] jandrieu commented on #559
@nadalin Verifiable Presentations are normative. What's how holders present a VC.

Why do you think they aren't?

[2019-04-19 14:46] nadalin commented on #559
@jandrieu Because Presentations are non-normative in specification which verifiable presentations seem to inherit

[2019-04-19 15:02] nadalin commented on #558
@dlongley My point is that goes too far in the recommendation, it should just be treated as a sting value

[2019-04-19 15:42] jandrieu commented on #559
They are defined in the normative section on presentations https://w3c.github.io/vc-data-model/#presentations-0
as the means by which a holder presents claims from VCs to verifiers. That language is definitive. They ARE normative because the spec that defines them says they are.

[2019-04-19 15:46] nadalin commented on #559
@jandrieu Section 3.3 defines presentations as non-normative

[2019-04-19 16:06] jandrieu commented on #559
Section 3.3 just says that section is non-normative. It doesn't say anything about other sections.

[2019-04-19 16:10] nadalin commented on #559
@jandrieu Since this is titled "presentations" I assume that all parts of presentations are non-normative since the introduction to them is non-normative. The specification is confusing in this regard. There still remains the question about making them normative and interoperability issues.

[2019-04-19 16:58] brentzundel commented on #559
The normative presentation section is 4.10

[2019-04-19 21:02] TallTed opened #560 "(editorial) problem with the trust model"
https://github.com/w3c/vc-data-model/blob/acec79f7944aa7ad3b6efe86d34855a24b646e15/index.html#L1901

[code]

Any entity can say anything about anything.

The **subject** need not trust any entity, need not know about any **issuer** which is making verifiable claims about the subject.  The **subject** is not involved in this trust chain (unless the **subject** happens to also be the **holder**, and

[2019-04-20 15:26] msporny commented on #526
Wonderful, thank you @ashimura!

[2019-04-20 15:54] yancyribbens commented on #549
My primary objective is to see if `@context` can be modified such that if you're consuming a `vc` for the first time and haven't already downloaded the context, you won't need to because the context is provided inline.

If the context is provided inline, then implementors have a stronger way of knowing the `credentials/v1` will never change and is implicitly cached.

Something I don't know is if `

[2019-04-20 16:15] dlongley commented on #549
@yancyribbens,

Just make an in-memory map in your consuming software that maps the string to the full context. Once the spec reaches REC it won't change (but we can expect some tweaks during CR based on implementation feedback). There's no reason for you to ever retrieve it (not even once). Just hard-code all contexts from the spec and you're done.

[2019-04-20 16:29] rhiaro commented on #549
Where "etc" is security/v1 which relies on Dublin Core, which relies on ..?

[2019-04-20 16:33] rhiaro commented on #549
@dlongley I think part of the problem here is that the contexts are not in the spec..

[2019-04-20 16:37] yancyribbens commented on #549
@dlongley I agree that may be the best way, however, I thought we could reduce the cognitive burden of requiring caching at the software level by instead providing the context inline or at least, in the spec.

[2019-04-20 16:39] dlongley commented on #549
+1 for eventually having an appendix with the contexts in the spec, keeping in mind `Issue 1` we noted in the spec:

[2019-04-20 16:41] rhiaro commented on #549
@dlongley including all the nested contexts, down to Dublin Core and whatever that points to?

[2019-04-20 16:47] dlongley commented on #549
There is no use of a dublin core context. There are presently only three contexts: security/v1, security/v2, and credentials/v1. The security/v1 context only references the dublin core vocabulary in term mappings, it does not include another context for it.

[2019-04-21 11:49] David-Chadwick commented on #551
This has been fixed in PR #563

[2019-04-22 15:35] TallTed commented on #560
This has been nagging at me all weekend.

I think that actually the **holder** trusts only that the **issuer** will be issuing **verifiable credentials** that say what the holder wants those credentials to say to a **verifier** — without the **holder** necessarily having any concern for their veracity!  Which is rather different than what the model now says...

The point of this data model is simp

[2019-04-22 16:14] David-Chadwick commented on #560
@TallTed you make some good points, and they are finely nuanced.

Speaking with an honest Subject hat on, I want the VCs to contain factually true assertions about me.

Speaking with a dishonest Subject/Holder hat on I want the VCs to say anything that will give me access to the precious online resources of the verifier (so that I can plunder them).

Speaking with a verifier hat on, if I am to let

[2019-04-22 16:45] TallTed commented on #560
Honesty and veracity may be a part of an (I suggest that "the" is not appropriate here) intangible trust model.> Speaking with a verifier hat on, if I am to let a holder access my precious online resources using the credentials that he/she possesses, then I need to know that the credentials are valid

Well... you want (I think "need" is too strong) to *believe* that the credentials are valid.  The

[2019-04-22 17:12] TallTed commented on #560
You're using validity in an odd way.  I assert that your example AMEX card is fully *valid,* even if it is not *accepted,* for payment of the French tolls.

This is because AMEX is not deciding that it will not honor your payment, but the French toll-collecting authority who is determines they will not accept that payment method.  I'm quite confident that the French determination that they will no

[2019-04-22 17:29] TallTed commented on #549
Do I understand this thread to be saying not only that there are *now* only three contexts, but _that is all there ever will be_ ("Just hard-code all contexts from the spec and you're done")?

I think that clearly stating this at the points where `@context` enters the discussion -- especially but not only in regards to JWT and JSON and JSON-LD -- would make those points much easier for many to dig

[2019-04-23 13:54] ashimura commented on #526
I talked with the Webmaster and what we can do is:
* publish the next draft as a Proposed Recommendation with the new shortname, "vc-data-model".
* add a redirection from:
    https://www.w3.org/TR/verifiable-claims-data-model/
  to:
    https://www.w3.org/TR/vc-data-model/
  which will return the latest version of the document.
* However, the dated URLs will remain untouched and won't redirect.

[2019-04-23 14:03] TallTed commented on #526
As this progresses, we should ensure that [all existing references](https://github.com/w3c/vc-data-model/search?q=verifiable-claims-data-model&unscoped_q=verifiable-claims-data-model) (except perhaps any that are cast-in-stone moment-in-time captures) get updated.

[2019-04-23 14:38] burnburn commented on #222
Will will close when the final IMplementation guide action items are completed.

[2019-04-23 14:43] msporny commented on #136
Text was added to the VC Data Model spec that covers this use case: https://w3c.github.io/vc-data-model/#content-integrity-protection

[2019-04-23 14:44] burnburn commented on #136
@drabiv we plan to close the corresponding implemetation guide issue https://github.com/w3c/vc-imp-guide/issues/5 .  Are you okay with us marking this as closed?

[2019-04-24 01:26] #560 closed

[2019-04-25 01:47] msporny commented on #458
Ping @ken-ebert -- are you happy with the changes made in PR #544 as a result of the issue you raised?

[2019-04-25 02:11] msporny commented on #479
Hey @RieksJ, what @ken-ebert said wrt "at risk" is correct. It is a W3C term of art that says that "if implementers choose not to implement the feature during the Candidate Recommendation phase, it will be removed."

Since you submitted the issue, we have put in further clarifications for the refreshService and termsOfUse properties, but not to the extent that @ken-ebert had requested.

I am also

[2019-04-25 02:28] msporny commented on #480
I will note that the conversation in this issue is all over the place and is pretty classic bike shedding during the Candidate Recommendation phase (typically, a terrible, horrible time to bike shed core properties in the specification since implementers are already busy implementing using the properties that are currently being bikeshedded in this issue).

-1 to anything plural (claims, subjects,

[2019-04-25 02:48] msporny commented on #511
I suggest we add non-normative text to the spec that notes that currently JWTs can only support one subject and that implementers should check the JWT claim registry for multisubject claim types. We can also point to the spec that @nadalin mentions as an alternative.

[2019-04-25 03:01] msporny commented on #518
Yes. In JSON-LD, all properties can have one or more "objects" associated with them. So,

[code]

is effectively shorthand for:

[code]

So, all of the examples are correct.

In practice, one can use a `credentialSchema` to further restrict the JSON-LD and JSON forms so that you force developers to always use array form, for example.

In the spec, the data model states "a set of objects". A serial

[2019-04-25 12:24] RieksJ commented on #480
I appreciate that there is a lot to do. However, I don't consider heavy workloads as a valid argument for deciding to skip issues in a standardization process. I would support it as an argument to postpone the transition to a next phase, because standards should be solid. And in particular, discussions about what might seem to be details should be done carefully, because that's where the devils te

[2019-04-25 12:43] RieksJ commented on #479
Ok about how the process works - it is a practical way of doing things. Also, I agree with @ken-ebert that it should be further elaborated and 'be given teeth'.

I'm good with removing 'Terms of Use' for credentials from this version of the document, provided it can be revived in a future version. Reviving it would then require that we show purpose and relevance for this feature. One example is th

[2019-04-25 14:25] #490 closed

[2019-04-25 14:27] #513 closed

[2019-04-25 14:32] #523 closed

[2019-04-25 14:35] brentzundel commented on #494
@nadalin could you help me understand the mechanism by which JWTs provide content integrity protection for the content of outgoing links?

[2019-04-25 14:36] #485 closed

[2019-04-25 14:40] #541 closed

[2019-04-25 14:42] #492 closed

[2019-04-25 14:45] #483 closed

[2019-04-25 14:50] #481 closed

[2019-04-25 14:51] #472 closed

[2019-04-25 14:51] #471 closed

[2019-04-25 14:52] #466 closed

[2019-04-25 14:53] #464 closed

[2019-04-25 14:53] #463 closed

[2019-04-25 14:54] #462 closed

[2019-04-25 14:54] #394 closed

[2019-04-25 14:54] #491 closed

[2019-04-25 14:55] #495 closed

[2019-04-25 15:07] burnburn commented on #526
@TallTed agreed that a number of items need to be updated, such as the vocabulary/ies.  Would you care to create a PR?

[2019-04-25 16:46] nadalin commented on #511
@msporny That's fine

[2019-04-25 17:02] nadalin commented on #494
@brentzundel Not all claims will have out going links, the links are protected by JWS but not the contents of the links

[2019-04-25 17:18] nadalin commented on #523
@stonematt This issue (as I don't think it was handled correctly) will come back up if/when transition to Recommendation happens

[2019-04-25 17:30] dlongley commented on #480
@RieksJ,

Using a relationship named `credentialSubject` makes sense in the data model, particularly if you think of the data as a graph, which is what we're modeling.

A credential is a node in this graph. If you want to represent something about this node, you create a link emanating out from the credential node that connects to another node in the graph. For example, if you want to identify the

[2019-04-25 18:59] msporny commented on #511
Great... I'll create the PR and link to it once it's ready for review.

[2019-04-25 20:16] brentzundel commented on #494
Okay, I think we've been talking past each other.

There is no question in the WG that JWTs provide integrity protection for the contents of the VCs that are serialized as JWTs.

This section specifically addresses the fact that content integrity protection may be necessary for the contents of links and makes some non-normative statements about that.

[2019-04-26 00:29] msporny commented on #545
Looking at this a bit more deeply, we did warn implementers that the feature might change during the CR period, so that provides more leeway than normal to modify the feature. I think we can do the following two things that @David-Chadwick mentioned w/o issue:

This one is a bit more difficult:

Saying it may contain `statusReason` is fine.

The "disputedClaim" property name is problematic (for th

[2019-04-26 00:50] msporny commented on #549
@TallTed wrote:

No, that is not correct. There will always be the base context (which is an amalgamation of 3 different contexts credentials/v1, security/v1, and security/v2) plus one or more application / market vertical-specific contexts.

[2019-04-26 01:15] msporny commented on #549
@yancyribbens wrote:

We should not provide the context inline (as an object associated with @context) for at least two reasons:

1. Doing so would bloat every verifiable credential and verifiable presentation by 1.8 KBs. Consider that Example 1 in the specification is around 900 bytes in size, developers would rightfully complain that there is 200% overhead by inlining the `@context`. This is fur

[2019-04-26 02:21] msporny commented on #556
@TallTed agreed that the changes you are suggesting are non-substantive and more accurate. Can you please put them in a PR so we can merge/close this issue?

[2019-04-26 02:34] msporny commented on #552
I believe your interpretation is correct, @TallTed. Can you please produce a PR that applies your suggested change?

@awoie, could you please ensure that both of us are not mis-interpreting the text you wrote?

[2019-04-26 02:39] msporny commented on #557
It has to be an ordered set. If it is not, JSON implementations would be forced to use a JSON-LD processor, which is not what you want.

[2019-04-26 02:45] msporny commented on #557
PR #548 was merged with PR #546, which was approved by the WG and merged into the specification, thus addressing this issue.

[2019-04-26 03:23] msporny commented on #559
It is common practice, both at W3C and IETF, to introduce concepts in a non-normative fashion and then provide normative statements in the more technical parts of the specification.

[2019-04-26 06:33] David-Chadwick commented on #545
I suggest we use disputedProperty since this is what is being disputed

[2019-04-26 07:34] RieksJ commented on #480
Section [4.4 Credential Subject](https://www.w3.org/TR/verifiable-claims-data-model/#credential-subject) says "This specification defines a credentialSubject property for the expression of claims about one or more subjects". Since JSON-LD does not allow duplicate keys, then what does a credential look like that has claims (or better: JSON-LD graphs) about two different subjects?

[2019-04-26 11:31] awoie commented on #518
@msporny That is what I thought. I am still not sure how a plain JSON representation of multiple `credentialSubject` instances looks like. It might be even a bit unclear how a single `credentialSubject` is represented in plain JSON.

The spec reads:

JSON-LD maps onto JSON as follows according to the spec:

If 1. is applicable, then the non-normative example would be different in JSON as it will A

[2019-04-26 12:07] awoie commented on #552
If a specific processing rule for a specific property exists in this specification, the rule defines how to encode the property in a JWT using:
1. registered JWT claim names, e.g., `expirationDate` -> `exp`
2. registered JOSE header names, e.g., `proof` -> `alg` (+ JWS)
3. or use the JWS, e.g., `proof` -> JWS

If no processing rule exists, e.g., `refreshService`, then add the property to the `vc`

[2019-04-29 15:49] dlongley commented on #480
@RieksJ,

Instead of using a single object for the value of `credentialSubject` an array of objects is used:

[code]

+1. If you could propose some concrete text that helps clarify things for you we'll be able to pull it in much more quickly. And if you or someone else has the time to add another picture showing multiple `credentialSubject` links that would also be great.

[2019-04-30 13:58] TallTed opened #584 "misleadingly and confusingly named issuanceDate"
Regrettably timed, but I only just noticed this.  (previous discussion was in #184)

`issuanceDate` (20,500 Google hits) is a rather odd construct, especially alongside `issuer` (27,500,000 Google hits) and `expirationDate` (1,220,000 Google hits).

The differences in scale of use is even more pronounced if you search for these as phrases, e.g., "issuance date" (736,000 hist) and "expiration date"

[2019-04-30 14:30] stonematt commented on #484
RESOLVED: The WG believes that the type system described in the specification does not require a JSON-LD processor to be used and the concerns raised in issue #484 have been demonstrated to be expressible in JWTs using the VC Data Model in a way that is both conformant with JWTs as well as other expression mechanisms. No technical examples have been provided that demonstrate that the type system u

[2019-04-30 14:32] stonematt commented on #484
From VCWG call on April 30, 2019:
RESOLUTION: The WG has considered the proposals raised in Issue #484 and continues to support both JWTs and JSON-LD in the specification, continues to support the use of @context as it exists in the specification today, supports any valid JWT claim expressed in a JWT-based serialization, and supports the use of JWS with the specification. The WG has discovered no

[2019-04-30 14:39] stonematt commented on #470
From VCWG call on April 30, 2019:
RESOLUTION: Issue #470 should be addressed by making a set of non-normative changes to the specification that adds a simple note after each RsaSignature2018 example with an informative reference to that spec and that mentions it used a JWS detached signature with an informative reference to the JWS spec. Issue #470 should be closed after the PR is merged.

[2019-04-30 14:42] stonematt commented on #474
From VCWG call on April 30, 2019:
RESOLUTION: Issue #474 should be addressed by making a set of non-normative changes to the specification that clarifies the use of @context, the differences between it and the credentialSchema property, with appropriate references to more detailed explanations in the specification and other specifications. Issue #474 should be closed after the PR is merged.

[2019-04-30 14:43] stonematt commented on #458
From VCWG call on April 30, 2019:
RESOLUTION: Issue #458 is addressed by PR #544, which makes non-normative changes noting when it is and is not appropriate to use the refresh service. The PR has been approved by multiple parties and has been merged. Issue #458 should be closed.

[2019-04-30 14:47] stonematt commented on #511
From VCWG call on April 30, 2019:
RESOLUTION: Issue #511 should be addressed by making a non-normative change to the specification noting that multiple subjects are not supported by JWTs and implementers should refer to the JWT registry for future multisubject properties or the yusef-nested-jwt specification. Issue #511 should be closed after the PR is merged.

[2019-04-30 14:49] stonematt commented on #530
From VCWG call on April 30, 2019:
RESOLUTION: Issue #530 should be addressed by creating a Verifiable Credentials Extension Registry in the W3C Credentials Community Group and requesting that the registry is adopted as an official W3C CCG Work Item. Issue #530 should be closed after the W3C CCG accepts the registry as a Work Item.

[2019-04-30 14:51] stonematt commented on #543
From VCWG call on April 30, 2019:
RESOLUTION: Issue #543 should be addressed by providing informative references to detached JWS, LD-Proofs, LD-Signatures, and the RsaSignature2018 signature suite in sections 3.4, 3.7, and any other section where it is appropriate. Issue #543 should be closed after the PR is merged.

[2019-04-30 15:02] stonematt commented on #545
From VCWG call on April 30, 2019:
RESOLUTION: Issue #545 should be addressed by moving the majority of at risk Disputes section to the Implementation Guide and referring to that section from the Data Model specification, and making the Disputes section in the VC Data Model specification non-normative. Issue #545 should be closed after the PR is merged.

[2019-04-30 15:18] stonematt commented on #549
From VCWG call on April 30, 2019:
RESOLUTION: Issue #549 should be addressed by flattening all contexts that the specification depends on into https://www.w3.org/2018/credentials/v1, adding the JSON-LD Context into an appendix in the spec along with its SHA-256 hash, all of which would be a non-substantive modification. Issue #549 should be closed after these actions are taken.

[2019-04-30 15:22] stonematt commented on #556
From VCWG call on April 30, 2019:
RESOLUTION: Issue #556 should be addressed by applying the non-substantive changes requested by the issuer submitter. Issue #556 should be closed after the PR is merged.

[2019-04-30 15:25] stonematt commented on #552
From VCWG call on April 30, 2019:
RESOLUTION: Issue #552 should be addressed by making a non-normative clarification related to the various ways the data model can be encoded using a JWT. Issue #552 should be closed after the PR is merged.

[2019-04-30 15:29] stonematt commented on #557
From VCWG call on April 30, 2019:
RESOLUTION: Issue #557 is addressed by PR #546 which made non-substantive changes to explain why @context is an ordered set. PR #546 has been merged and issue #557 should be closed.

[2019-04-30 15:34] stonematt commented on #558
From VCWG call on April 30, 2019:
RESOLUTION: Dereferencing a value in the @context property should result in a document containing machine-readable information about the context. Non-normative clarification text should be added to the specification to underscore that dereferencing machine-readable @contexts is optional. Issue #558 should be closed when the PR #564 is merged.

[2019-04-30 15:37] stonematt commented on #559
From VCWG call on April 30, 2019:
RESOLUTION: It is common practice, both at W3C and IETF, to introduce concepts in a non-normative fashion and then provide normative statements in the more technical parts of the specification. Readers are urged to note whether sections are marked as non-normative and should not assume that other sections discussing the same concept are non-normative as well. Issu

[2019-04-30 16:14] nadalin commented on #559
@stonematt WOW

[2019-04-30 16:15] nadalin commented on #558
@stonematt Totally disagree, should just be a sting value and no dereferencing should be in the description

[2019-04-30 18:09] TallTed commented on #556
@stonematt @msporny - PR has been merged; should be `Pending 7 Day Close`

[2019-04-30 19:47] David-Chadwick opened #585 "Human readable @context"
This is the text I am questioning:

A human-readable document describing the expected order of values for the
@context property is expected to be published by any
implementer seeking interoperability. A machine-readable description
(i.e., a normal JSON-LD Context document) is expected to be published
at the URL specified in the @context property by
JSON-LD implementers seeking interoperability.

I

[2019-05-01 01:47] msporny commented on #584
When selecting terms for most Linked Data libraries, we attempted to pick the words based on their common dictionary definition rather than how popular the term is on Google. Google term popularity is one data point, but more importantly, the meaning of the term when searched for in a common dictionary is far more important. Here's what comes up for Merriam-Webster:

I agree that "Date" isn't grea

[2019-05-01 01:58] msporny commented on #585
A JSON processor doesn't find the human-readable document, only a human can find that. They typically find it the way they find other documents for JSON processors today... which is by doing a Google Search.

JSON doesn't support comments. :)

One could Content Negotiate for a human-readable version, but we have historically hesitated to do that because developers often misimplement content negoti

[2019-05-01 07:54] RieksJ commented on #480
W.r.t. the figure: I've tried to do some quick stuff with svg, but I've trouble getting it done. I propose the following changes (decreasing importance):
1. draw a box around the yellow boxes; this box is similar to that of 'credential graph' and 'proof graph' and could be named 'claims'.
2. draw this box several times at a slightly different place, thus suggesting that multiple such claims can be

[2019-05-01 15:44] David-Chadwick commented on #584
I think that issuanceDate is conceptually wrong. It is not the date that the VC is issued that is most important to a verifier, but rather the date that the VC becomes valid for presenting to verifiers. I often get posted credit cards in one month (the date of issuance) that do not become valid until the next month (the start date). We should give issuers the possibility of issuing a VC before the

[2019-05-01 15:47] David-Chadwick commented on #584
By the way startDate has  88,400,000 google hits and is defined in schema.org
https://schema.org/startDate
as The start date and time of the item (in ISO 8601 date format).
This is a much better definition for the field

[2019-05-01 16:40] TallTed commented on #584
@msporny - I hear you about the challenges and issues and perils. I think they may be worth weathering.

@David-Chadwick - you make some good points, but I don't agree with `startDate`.

I am thinking that [`validFrom`](https://schema.org/validFrom) and [`validUntil`](https://schema.org/validUntil) would be a better pair (though schema.org is stupidly inconsistent once again, expecting the former

[2019-05-02 07:16] yancyribbens commented on #549
@stonematt did you mean "non-normative" instead of "non-substantive"?

[2019-05-03 01:08] msporny commented on #549
No, we meant "non-substantive". We are changing normative things in the spec (and around the spec, like flattening the context) in ways that might affect implementations, but will in fact, not do that. So, some would argue that we are making changes to normative sections of the specification, but in ways that will not change what implementers have to do. In these cases, we refer to those changes a

[2019-05-03 08:59] David-Chadwick opened #586 "Using JWT with presentations"
Suppose an ecosystem is using JWTs to sign VCs. Suppose after the holder has collected a set of JWT signed VCs, the holder wants to send a signed VP to a verifier that contains the signed VCs. It is not clear to me that our existing data model allows this. If you look at Section 4.10 and Example 12 which shows a VP encapsulating VCs, it is not clear:
a) if the encapsulated verifiableCredential all

[2019-05-03 11:55] yancyribbens commented on #549
PR has been created here https://github.com/w3c/vc-data-model/pull/587

[2019-05-03 16:16] David-Chadwick opened #589 "JSON schema reference"
The reference to JSON schema is way out of date. The Internet Draft expired in 2013. We should instead point to
https://json-schema.org/
which is the home of JSON schema and provides up to date information

[2019-05-04 00:56] msporny commented on #589
Looks like this is the latest for JSON Schema at IETF: https://tools.ietf.org/html/draft-handrews-json-schema

W3C Process frowns upon pointing to websites that might disappear when there is an appropriate standards organization document that we could point to instead.

[2019-05-04 17:03] gkellogg commented on #585
The JSON-LD 1.1 spec will allow JSON-LD contexts to be extracted from script tags in HTML documents for precisely this purpose (see https://w3c.github.io/json-ld-syntax/#using-an-html-document-as-a-context). One such document was published at https://json-ld.org/contexts/person.html. As this is something that may not be necessary in certain embedded environments, the notion of processor classes wa

[2019-05-05 06:44] David-Chadwick commented on #585
@gkellogg I like your solution and the example of the person @context that you provided at https://json-ld.org/contexts/person.html provides both the human readable information that is needed, as well as machine processable version.
@manu could we add text to say something like "It is recommended that script tags in HTML are used so that both human readable and machine processable @contexts can be

[2019-05-05 15:10] msporny commented on #585
To be clear, I really dislike this feature of JSON-LD 1.1 because it raises the burden of Full JSON-LD 1.1 processors to contain an HTML processor (which is a massive requirement) on top of doing JSON-LD processing. I also think this is going to really damage the adoption of JSON-LD 1.1 and make it so much easier for people to argue against it... hell, even I would argue against "Full JSON-LD proc

[2019-05-05 16:57] gkellogg commented on #585
I appreciate your position, but JSON-LD in HTML is probably the biggest use case right now (although that will likely change with adoption of VC and WoT). JSON-LD in HTML is a reality that the spec needs to recognize and legitimize.

Of course, a full HTML processor is not required, just a parser. These are widely available, and the problem with integrating them together is largely that of the siz

[2019-05-05 17:49] msporny commented on #585
I have requested the removal of the "JSON-LD Context in HTML document" feature in JSON-LD 1.1. That conversation is happening in that issue tracker: https://github.com/w3c/json-ld-syntax/issues/172

[2019-05-05 19:12] msporny commented on #520
It does, why do you think it doesn't?

[2019-05-05 19:15] msporny commented on #520
The final PR #590 is in for this issue and addresses this text in the resolution: "The IANA registration for the vc and vp JWT claims should be separated into an IANA Considerations section."

[2019-05-05 20:39] msporny commented on #530
PR https://github.com/w3c-ccg/vc-extension-registry/pull/2 and PR #591 are in. This issue should be closed as soon as those PRs are merged.

[2019-05-05 20:40] msporny commented on #524
PR #591 clarifies the intent of the spec to define extension points but not concrete implementations.

[2019-05-06 03:50] msporny commented on #543
PR https://github.com/w3c/vc-data-model/pull/593 addresses this issue. The issue should be closed once the PR is merged.

[2019-05-06 16:19] David-Chadwick commented on #584
I support the addition of validFrom as an optional term. This should not necessitate the re-issuing of the CR. And its definition can say that if it is missing, then its value is the same as issuanceDate.

[2019-05-06 18:37] David-Chadwick commented on #589
There is a problem pointing to IETF drafts in that they expire in 6 months time. So any reference to them is bound to be soon out of date, which is not good for a Recommendation that will last for years. Referencing an RFC is different since these typically last for years.
So I would prefer us not to reference an IETF draft. I think https://json-schema.org/ is going to have a reasonably long life

[2019-05-06 19:53] dlongley opened #596 "Recommend adding `holder` to non-ZKP VPs in implementation guide"
In order to support a separation of concerns within software architecture, we should recommend that non-ZKP style VPs (Verifiable Presentations) include a `holder` property. This allows for one software process to verify the proofs on a VP (including ensuring that the keys used were in control of the holder) and a secondary process to easily find the `holder` identifier, knowing that the first pro

[2019-05-07 01:44] #524 closed

[2019-05-07 04:08] dmitrizagidulin opened #600 "Example VerifiablePresentation types need updating"
Since CR1 requires VerifiablePresentation type's to be `VerifiablePresentation` plus another specific type, the examples need to be updated to reflect that.

[2019-05-07 04:10] dmitrizagidulin commented on #600
Fixed in PR https://github.com/w3c/vc-data-model/pull/601 (though it looks like I need to resolve a conflict?)

[2019-05-07 08:00] David-Chadwick commented on #596
I strongly support the addition of holder to VPs, and was strongly against it being removed in the first place. I suggest we add it now as an optional parameter that MAY exist in a VP, and then the CR will not need to be re-issued

[2019-05-07 14:30] burnburn commented on #537
From VCWG call on 7 May 2019:
Issue #537 should be addressed by referencing JSON-LD 1.1 instead of JSON-LD 1.0. This is a non-substantive change since the Verifiable Credentials Data Model specification included JSON-LD 1.1 features inline for JSON-LD based processors and thus implementers would not have to change their implementations as a result of the updated reference. Issue #537 should be clo

[2019-05-07 14:32] burnburn commented on #551
Resolution on the VCWG 7 May 2019 call:
Issue #551 is addressed by PR #563 which makes non-normative changes to fix the missing @context values in a number of the examples in the appendix. Issue #551 should be closed.

[2019-05-07 14:32] #551 closed

[2019-05-07 14:34] burnburn commented on #222
Assigned to VCWG chairs.

[2019-05-07 14:57] burnburn commented on #480
Decision on VCWG call 7 May 2019:
RESOLUTION: The Working Group has discussed issue #480 and is not willing to make a substantive change to the specification that would trigger another Candidate Recommendation phase. The Working Group is interested in exploring non-normative resolutions to the issue. The WG would like to defer the issue so it can be considered when work continues beyond VC 1.0.

[2019-05-07 22:15] nadalin commented on #537
@burnburn No closure until PR is created to see if this address issue

[2019-05-08 15:07] nadalin opened #602 "Non-normative sections contain musts"
Section 3.1 is non-normative buts contains musts, would be good to reword these and not use must even though it's lower case

[2019-05-08 15:17] nadalin opened #603 "Patent Policy"
"This document was produced by a group operating under the W3C Patent Policy. W3C maintains a public list of any patent disclosures made in connection with the deliverables of the group; that page also includes instructions for disclosing a patent. An individual who has actual knowledge of a patent which the individual believes contains Essential Claim(s) must disclose the information in accordanc

[2019-05-08 15:24] nadalin commented on #602
Maybe better to use "should" and not "must" in non-normative sections

[2019-05-08 15:30] nadalin opened #604 "@Context"
"Though this specification requires that a @context property be present, there is no requirement that the value of the @context property be processed using JSON-LD. This is to support processing using plain JSON libraries such as those that may be used when the verifiable credential is encoded as a JWT. JSON-LD aware processors can process the @context using full JSON-LD processing as expected. Fo

[2019-05-08 15:36] TallTed commented on #602
If we must (I mean, need to) avoid some [RFC2119](https://tools.ietf.org/html/rfc2119) (i.e., `must`) words regardless of capitalization, we should (I mean, ought to) avoid them all (including `should`), and fall back to [RFC6919](https://tools.ietf.org/html/rfc6919) or other thesaurus fruit.

That said, I note that [RFC8174](https://tools.ietf.org/html/rfc8174) states explicitly "that only UPPERC

[2019-05-08 15:38] nadalin opened #605 "Example URI"
"This document uses the examples context URI (https://www.w3.org/2018/credentials/examples/v1) for the purposes of demonstrating examples. The examples context URI must not be used for any other purpose, such as in pilot or production systems"

Is the "must" here normative? if so this should be a MUST, if not change to a should

[2019-05-08 15:47] nadalin opened #606 "Section 4.2"
This does not say if "identifiers" are mandatory or optional, it sort of hints at a privacy concern but does not state explicitly if this is mandatory or optional

[2019-05-08 16:03] nadalin commented on #602
@TallTed It's very hard to tell what are really the "MUSTS" and what are really "musts" in this document. So it would be acceptable to just reiterate RFC8172

[2019-05-08 16:27] nadalin opened #608 "Section 4.3"
"The value of the type property MUST be, or map to (via interpretation of the @context property), one or more URIs. If more than one URI is provided, the URIs MUST be interpreted as an unordered set. Syntactic conveniences, such as JSON-LD terms, SHOULD be used to ease developer usage. It is RECOMMENDED that each URI in the type be one which, if dereferenced, results in a document containing machi

[2019-05-08 16:48] nadalin commented on #608
"Verifiable credentials and verifiable presentations MUST have a type property. " is stated then it goes on to list more … "With respect to this specification, the following table lists examples of objects that MUST have a type specified. " I would suggest removing the 1st sentence ""Verifiable credentials and verifiable presentations MUST have a type property" and just having 1 place and list the

[2019-05-08 18:07] David-Chadwick commented on #608
All the examples in the table have duplicate statements about the type property being mandatory. For VCs and VPs the duplicate statement is in section 4.3. For the other properties the duplicate is in the appropriate section. If you want to remove anything it should be the table, which is only providing examples. It is not the definitive list.

[2019-05-08 18:18] nadalin commented on #608
@David-Chadwick The issue is they are not all inclusive, there is a mismatch is what the Statement provides and what the table provides

[2019-05-08 19:17] TallTed commented on #608
@nadalin -

To the initial comment in this issue, would that be sufficiently addressed by rewording --

-- to the following (which says exactly the same thing) --

----

I wonder if your second concern here could be addressed by adding entries for verifiable credentials and verifiable presentations (and any others that are missing, if there are any such) to the table (i.e., making it a complete li

[2019-05-08 21:45] nadalin opened #609 "Conformance"
" At the time of publication, Working Group members had implemented verifiable credentials using at least three proof mechanisms: JSON Web Tokens [JWT], Linked Data Signatures [LD-SIGNATURES], and Camenisch-Lysyanskaya Zero-Knowledge Proofs [CL-SIGNATURES]"

Please note that JWT is not a proof mechanism since JWTs don't have to be signed, the pointer should be to JWS for a proof mechanism

[2019-05-09 14:53] nadalin opened #610 "decentralized identifier document"
This term is defined but not used, this should be removed if not used

[2019-05-09 15:43] nadalin opened #611 "Proofs"
"For a credential or presentation to be verifiable, at least one proof mechanism MUST be expressed." I assume proofs are optional, since it is not stated that they are mandatory and this statement just says if you want the credential to be verifiable it MUST have at least 1 proof mechanism. This needs better wording to state what is mandatory and what is optional

[2019-05-09 16:36] nadalin opened #612 "Proofs Note"
"No single proof mechanism is currently standardized or recommended for verifiable credentials." This is incorrect as JWS is standardized in IETF and widely used. Suggest rewording this NOTE

[2019-05-09 16:43] nadalin opened #613 "Expiration"
Is "expiration" mandatory or optional, as it's not explicitly stated ? Suggest that this be worded in way that conformance test can be generated and developers know what parameters are required and which ones are optional

[2019-05-09 16:58] TallTed commented on #612
The operative elements in your quoted sentence are "No **single** ... **for verifiable credentials**."  In other words, we're not picking a winner.

That said, a viable rewording of this sentence might be `As discussed in Section <a href="#conformance"></a>, there are multiple viable proof mechanisms, and this specification does not standardize nor recommend any single proof mechanism for use with

[2019-05-09 17:05] TallTed commented on #611
Perhaps
[code]

[2019-05-09 17:10] TallTed commented on #610
It would be helpful if you would include links to the specific areas you're flagging. In this case, I *think* you mean [lines 33-38 of terms.html](https://github.com/w3c/vc-data-model/blob/55fc3b740153ab2bc389e5983c62074a3dd3b71c/terms.html#L33). Is that correct?

[2019-05-09 17:11] nadalin commented on #612
+1

[2019-05-09 17:18] brentzundel commented on #604
I'm not sure what issue you are bringing up with this comment. What you have said is true, but is not clear to me what you feel ought to be changed.

[2019-05-09 17:19] nadalin commented on #611
Better

[2019-05-09 17:26] TallTed commented on #613
Optional. Some credentials are never meant to expire. Adjusting the text...

[2019-05-10 00:10] nadalin commented on #613
+1

[2019-05-10 00:14] nadalin commented on #610
@TallTed Have no idea as the HTML version I'm looking at has no line numbers

[2019-05-10 00:15] nadalin commented on #604
@brentzundel Issue as that can't even begin to parse what is needed to be processed when and by what

[2019-05-10 00:27] TallTed commented on #610
@nadalin - OK... Are you looking at [2. Terminology](https://w3c.github.io/vc-data-model/#terminology) and more specifically at [decentralized identifier document](https://w3c.github.io/vc-data-model/#dfn-decentralized-identifier-documents) therein?

[2019-05-10 00:37] TallTed commented on #610
The spec uses the term "DID document", which is an alias of the expanded "decentralized identifier document", in --

<a>DID document</a>, or can be the identifier of a key inside a JWKS.

I've tweaked the definition.  Does my change suffice?

[2019-05-10 01:07] chaals commented on #604
This appears to be the key requirement for everyone.

That seems pretty clear.

The rest seems to be rationale.

Would it be clearer if we broke the paragraph into pieces? Or have I misinterpreted it too?

[2019-05-10 13:34] TallTed commented on #604
A rephrasing is definitely worthwhile here. Something along the lines of the following might replace the entire quote in the OP here.

[2019-05-10 13:47] brentzundel commented on #604
Would it be accurate to clarify it even further?

All libraries or processors MUST ensure that the order of the values
in the *@context
<https://github.com/context>* property is what is expected for the
particular application. Libraries or processors that support JSON-LD SHOULD
process the *@context <https://github.com/context>* property using full
JSON-LD processing.

On Fri, May 10, 2019, 07:34

[2019-05-10 15:38] agropper commented on #98
The context is digitally signed agreements related to privacy in various
domains. My goal is to promote broader understanding and use of VCs.

I’m trying to explain to others the benefits of linked data for
interoperability as compared to always having to create a more formal
specification in a standards organization model. When is LD preferred and
when is a formal specification better?

Can anyon

[2019-05-11 18:43] David-Chadwick commented on #584
Added PR #620 to resolve this issue according to the minutes of VC WG meeting on 7 May

[2019-05-13 13:52] awoie opened #621 "Clarification on JSON types"
When implementing a JSON-based Data Model using JWT proofs, we have some issues that we want to clarify:

- Is the @context always an array, even with a single context?
- Is the type attribute always an array, even with a single type?
- Is the credentialSubject always an array, even with a single credentialSubject?
- Is the proof always an array, even with a single proof?
- ...

If one of the answ

[2019-05-13 13:59] awoie commented on #586
@David-Chadwick According to the spec the proof attribute is optional.  A presentation containing a JWT VC would not contain a proof attribute. Instead it would use JWS as a proof as described in the example "EXAMPLE 31: Verifiable presentation using JWT compact serialization (non-normative)". Further, the verifiableCredential property could contain an array of "or of data derived from verifiable

[2019-05-13 15:18] David-Chadwick commented on #586
@awoie Thanks this clarifies things. Can I suggest we add the following sentence to the end of the text under example 12.

[code]

[2019-05-13 17:13] dmitrizagidulin opened #622 "Example context needs updating"
From @yancyribbens's [original issue at vc-test-suite](https://github.com/w3c/vc-test-suite/issues/19):

The context: https://www.w3.org/2018/credentials/examples/v1 is invalid JSON. If you paste the context into https://jsonlint.com/ the following parse error occurs:

[code]

Moving it here, since this is where the `examples/v1` context is hosted. (A valid examples context can be found at https:/

[2019-05-13 17:25] dmitrizagidulin commented on #622
Fix pending at PR #623.

[2019-05-14 01:53] msporny commented on #603
This text is produced by ReSpec, which is a toolchain used to produce many W3C specifications (including the one for the group that you Co-Chair, WebAuthn). I will note that this text is exactly the same as in the WebAuthn specification in the same section:

https://www.w3.org/TR/webauthn/#status

The text you mention above is the same text that W3C uses across all W3C specifications. As such, the

[2019-05-14 01:59] msporny commented on #605
It's not testable, thus is non-normative. We should change it to "Implementations are expected to not use the URI for any other purpose, such as in pilot or production systems."

[2019-05-14 02:03] msporny commented on #606
The specification states: "The id property MAY be present." -- it's optional. The privacy concern around identifiers is in Section 7.3: Identifier-based Correlation: https://w3c.github.io/vc-data-model/#identifier-based-correlation.

[2019-05-14 02:08] msporny commented on #609
Ok, will update to JWS.

[2019-05-14 02:13] msporny commented on #613
We should be clear that this is a non-normative change as it clarifies what the group had intended... that this was always an optional property.

[2019-05-14 02:19] msporny commented on #621
@context is always an array.

No.

No.

No.

For some definition of "considerable". It's a one line function to convert a non-array value into an array such that you can process it as if the right hand side was always an array.

To put it another way, some developer out there will mess this up, so the safest/best thing to do is write the function to convert every right hand value into an array if

[2019-05-14 02:29] msporny commented on #436
Ok, so @chaals, @burnburn, and I had a chance to figure out how to get to a solution that would meet all of the following criteria:

* Work for JSON-LD implementations.
* Work for JSON implementations.
* Be likely to be used by JSON developers that don't care about i18n.
* Have a positive impact on i18n support and would be "The Right Thing To Do(tm)" long term.

We believe the following would mos

[2019-05-14 02:51] nadalin commented on #603
@msporny You should bring this up to the W3C and not ignore as it will come back up when going to Recomendation. If you have a note from W3C that's says it can't be changed then place it in the issue please

[2019-05-14 02:52] nadalin commented on #605
That is a fin solution

[2019-05-14 02:54] nadalin commented on #606
@msporny As I said this is not clear in the present wording thus I opened a issue, not seeing a fix here

[2019-05-14 02:55] nadalin commented on #609
@msporny Will wait to see PR

[2019-05-14 02:56] nadalin commented on #613
@msporny Its not clear, and the reader has no way to know what the group had intended so a clearification is required

[2019-05-14 04:33] TallTed commented on #603
@nadalin - As a WG Co-Chair, you are in an arguably better position to raise this concern with W3 Management. As this concern is more yours than ours at this point, I encourage you to do so. Given your comments here, I am frankly shocked you allowed this text to persist in the document(s) your own WG has published as TR!

[2019-05-14 06:42] mirceanis commented on #621
What is the purpose of adding this layer of implementation complexity?
In typed languages this becomes a burden and can easily introduce either bloatware or vulnerabilities.
it is not a just a one-line function. It's a whole library behind that one line.

[2019-05-14 08:04] awoie commented on #586
@David-Chadwick I'm fine with that.

[2019-05-14 08:19] awoie commented on #621
@msporny IMO, we have to change the following note "For other processors, the only processing necessary is to ensure that the order of the values in @context is what is expected for the particular application, but no JSON-LD processing of those values is required.". We also have to mention something in "5.3.1 Semantic Interoperability".

Although the output is valid JSON, JSON processors would usu

[2019-05-14 08:32] David-Chadwick commented on #586
Added in PR #627

[2019-05-14 13:42] burnburn commented on #603
Tony, as pointed out above this boilerplate is that generally approved by W3C.  No issue will be placed in the text.  As WG Co-chair, I am closing this issue.

[2019-05-14 13:42] #603 closed

[2019-05-14 13:49] burnburn commented on #610
Text changes have been merged.  Marking with 7 Day close.

[2019-05-14 13:51] dlongley commented on #621
@mirceanis,

I think this is consolidated at the serialization layer -- which means that that library is a JSON parser. You'll need one anyway if you're using the JSON syntax (which is what this applies to). That parser will already have to know how to construct objects, arrays, and JSON natives in arbitrary locations. Once parsed from JSON, you can represent the result however you'd like, normali

[2019-05-14 13:52] msporny commented on #479
When a charter for a W3C WG expires, all work stops. If the group didn't publish a final specification in this time frame, too bad, they lose the opportunity to do so and will almost certainly not be rechartered to do so (because they failed to do so the first time). So, if we don't finish, the entire spec is abandoned as a global standard... it's the ax above one's head that W3C Membership uses t

[2019-05-14 13:53] burnburn commented on #611
I believe this has been completed.  Marking with 7 Day close

[2019-05-14 13:56] mirceanis commented on #621
@dlongley

Right, but usually those locations and types are expected to be known in advance, based on business logic context or a protocol, not be deduced from an input stream. I'm questioning the needless complication of having to deduce whether types are arrays or not based solely on the input stream.

[2019-05-14 13:59] burnburn commented on #613
Manu's point is that this is not a change in behavior (which would be normative).  It is instead a clarification of the text by the group to explain something always intended to work this way.  Thus it is a non-normative change.  Marking with a 7 Day close that began when #615 was merged.

[2019-05-14 14:32] dlongley commented on #621
@mirceanis,

Understood, but this puts us back at essentially a one line requirement, rather than at a library, where that library is already needed to parse the JSON.

As an example for why we're allowing differences, we're doing it for features and interop (wrt. a W3C Recommended syntax that provides decentralized extensibility and that expresses data on millions of websites). We consider it a v

[2019-05-14 14:38] mirceanis commented on #621
@dlongley even with a library it's usually not a oneliner to handle shifting data types.
If it is, please share (in something other than JS)

[2019-05-14 14:41] msporny commented on #585
Add something to implementation guidance to define how one publishes a VC Context extension that is human readable.

[2019-05-14 14:43] msporny commented on #589
We should point to the IETF page and submit a PR that does that.

[2019-05-14 14:44] dlongley commented on #621
@mirceanis, if there's a popular language in which you think it's difficult, please indicate which language.

[2019-05-14 14:52] msporny commented on #596
Reserve holder in a non-normative way in the main spec. Add something to best practices that notes it's expected usage.

[2019-05-14 14:55] msporny commented on #596
Potentially merge this into a larger non-normative PR that reserves certain keywords including "validFrom", "validUntil", "DisputeCredential", and "holder".

[2019-05-14 14:58] msporny commented on #602
Make the following change "To be able to trust claims, more information must be added." change to "To be able to trust claims, more information is expected to be added to the graph."

[2019-05-14 15:00] msporny commented on #604
Adopt suggestions from @brentzundel to address this issue.

[2019-05-14 15:01] msporny commented on #605
Great, we'll apply that change to the spec.

[2019-05-14 15:05] msporny commented on #606
The group discussed this today and noted that we should link to "Section 7.3: Identifier-based Correlation". In addition, @brentzundel has made the optional nature of this more clear in the specification: https://github.com/w3c/vc-data-model/pull/616 .

The group is going to close once the PR adding the link is merged.

[2019-05-14 15:11] msporny commented on #518
Add example showing multiple credential subjects to the specification.

[2019-05-14 15:12] TallTed commented on #606
Also see #628

[2019-05-14 15:15] mirceanis commented on #621
How about a Java project using Moshi?
or a Kotlin project using kotlinx.serialization

[2019-05-14 15:15] BigBlueHat commented on #436
Sadly `@dir` didn't make the cut... https://github.com/w3c/json-ld-syntax/issues/11

However, we have been working with the I18N folks to find the current "best practices" for text direction in JSON and JSON-LD. The latest result being a "workaround" using [RLM/LRM markers](https://w3c.github.io/string-meta/#rlm) in the `value` plus the `language`:
[code]

Other than that approach, the other one f

[2019-05-14 15:27] msporny commented on #621
Add non-normative text to the data serialization section clarifying that implementers should note that values associated with properties may either be single values or arrays and suggest some mitigation strategies that implementations can use.

[2019-05-14 15:41] mirceanis commented on #621
If an implementor is expecting a field to be an array and in some cases it is not then their implementation will most likely crash or at best fail.
That means that the mitigation strategy MUST be used.
It doesn't sound like a non-normative issue anymore.

[2019-05-14 16:26] #458 closed

[2019-05-14 16:28] burnburn commented on #470
Now it's been 7 days.  Closing.

[2019-05-14 16:28] #470 closed

[2019-05-14 16:33] burnburn commented on #474
PR approved 7 days ago, merged 3 days ago.  Closing.

[2019-05-14 16:33] #474 closed

[2019-05-14 16:37] burnburn commented on #511
Approved by requester.  Closing.

[2019-05-14 16:37] #511 closed

[2019-05-14 16:44] #543 closed

[2019-05-14 16:52] burnburn commented on #552
Approved by submitter and merged.  Closing.

[2019-05-14 16:52] #552 closed

[2019-05-14 16:54] #556 closed

[2019-05-14 17:33] RorschachRev commented on #621
In Javascript.

But there are many languages that will be implemented, and maintaining alternate data structures in multiple languages adds a lot of unnecessary complexity. What is the advantage in *non array* values? I see no advantage, and a lot of disadvantages.

[2019-05-14 18:12] nadalin commented on #610
@burnburn Since there is no normative reference to a DID specification, is the notion of a DID abstract in this specification?

[2019-05-15 00:33] #493 closed

[2019-05-15 00:48] burnburn commented on #494
I believe this issue has been resolved with the additional explanation provided by @brentzundel , and no further comments have come in over the past 19 days.  Closing.

[2019-05-15 00:48] #494 closed

[2019-05-15 00:53] burnburn commented on #496
This issue appears to have been resolved with the additional explanation from @brentzundel , and no new comments have been added in the past 28 days.  Closing.

[2019-05-15 00:53] #496 closed

[2019-05-15 01:23] burnburn commented on #520
The Working Group has now made clear via multiple responses (here and elsewhere) that while any arbitrary JWT is not automatically a VC, the Working Group believes that any Verifiable Credential satisfying the data model defined in the specification can be represented using the JWT syntax as defined in the specification.  The addition of the IANA considerations section addresses the request that t

[2019-05-15 01:23] #520 closed

[2019-05-15 07:29] RieksJ commented on #479
Sounds like this is the best thing that can be done at this point in time.

[2019-05-15 14:23] burnburn commented on #610
@nadalin I don't understand what you mean by 'DID abstract'.  Are you asking whether we can include an informative reference to the early work at https://w3c-ccg.github.io/did-spec/ to help explain what a DID is?

[2019-05-15 14:33] burnburn commented on #537
Yep.  The 7 Day Close clock doesn't start until the PR is available.

[2019-05-15 18:34] TallTed commented on #558
@nadalin - Have you read the reworded text?  I just want to be sure we're all working from the same base.

As seen [in the rendered doc](https://w3c.github.io/vc-data-model/#dfn-context), it is now --

Do you have any suggestions of how to make this more clearly a guidance for VC issuers, about how to choose the URIs they include in the `@context` property?

[2019-05-15 19:58] nadalin commented on #610
@burnburn There are many DID specifications out there, none have been standardized so thus I ask the question is the term DID used in a generic context that would apply to all these different DID specifications ?

[2019-05-15 21:35] brentzundel commented on #498
The title for this specification is exactly correct.
`Verifiable Credentials Data Model 1.0` describes exactly what the spec contains, which is a **data model** for **credentials** that that can be **verified**. The data model specifies extension points for enabling verifiability such that a **Verifiable Credentials Protocol** may later be defined.

The definition for `verifiable credential` is in

[2019-05-15 21:49] brentzundel commented on #610
Yes

[2019-05-17 18:29] #557 closed

[2019-05-17 18:48] burnburn opened #632 "Tracking Issue: Interoperability"
This is a tracking issue to make sure a particular concern is clearly recorded.  Duplicates will be closed.

The primary issue that has been raised by @nadalin is a claim that the specification cannot achieve interoperability. This stems from a stated belief that a data model specification that defines extension points but does not define and mandate the implementation of at least one specific ext

[2019-05-17 18:49] burnburn opened #633 "Tracking Issue: JSON-LD concerns"
This is a tracking issue to make sure a particular concern is clearly recorded.  Duplicates will be closed.

@nadalin has raised a concern with JSON-LD as a supported syntax in the specification [1][2][3] and has asserted that non-JSON-LD users will be forced in some way to do JSON-LD processing.  The specification makes clear that there is no expectation that all implementers of the specification

[2019-05-17 18:51] burnburn opened #634 "Tracking Issue: JWT-only support"
This is a tracking issue to make sure a particular concern is clearly recorded.  Duplicates will be closed.

@nadalin has raised a concern that only the JWT format provides a trusted and well-defined set of signature (proof) methods that can be used to address his interoperability concerns[1][2].  He has asked that we select JWTs as the only normative proof method[3] and require support by all imp

[2019-05-17 18:55] burnburn commented on #484
The outstanding request by @nadalin to mandate support by all implementations of the JWT format will be tracked by issue #634.  Closing.

[2019-05-17 18:55] #484 closed

[2019-05-17 18:56] burnburn commented on #486
The outstanding request by @nadalin to mandate support by all implementations of the JWT format will be tracked by issue #634.  Closing.

[2019-05-17 18:56] #486 closed

[2019-05-17 18:56] burnburn commented on #487
The outstanding request by @nadalin to mandate support by all implementations of the JWT format will be tracked by issue #634.  Closing.

[2019-05-17 18:56] #487 closed

[2019-05-17 18:57] burnburn commented on #489
The outstanding request by @nadalin to mandate support by all implementations of the JWT format will be tracked by issue #634.

The outstanding concern by @nadalin regarding JSON-LD will be tracked by issue #633.  Closing.

[2019-05-17 18:57] #489 closed

[2019-05-17 18:58] burnburn commented on #525
The outstanding concern by @nadalin regarding JSON-LD will be tracked by issue #633.  Closing.

[2019-05-17 18:58] #525 closed

[2019-05-17 18:59] burnburn commented on #488
The outstanding concern by @nadalin regarding interoperability will be tracked by issue #632.  Closing.

[2019-05-17 18:59] #488 closed

[2019-05-17 18:59] burnburn commented on #500
The outstanding concern by @nadalin regarding interoperability will be tracked by issue #632.  Closing.

[2019-05-17 18:59] #500 closed

[2019-05-17 19:01] burnburn commented on #559
@nadalin I will affirm the VCWG resolution here.
It is impossible to read and understand virtually any specification at W3C if one assumes that a section marked as 'non-normative' is to be interpreted as 'not to be implemented' rather than as 'no statements regarding implementation are being made here'.

In W3C specifications only the normative statements matter, and having concepts listed elsewhe

[2019-05-17 19:01] #559 closed

[2019-05-21 14:34] awoie opened #635 "Minor jti inconsistency/typo"
The `jti` property can be used for verifiable credentials and presentations. The following needs to be changed:

in

Please note that this is considered as a minor bug and won't have any impact on any implementers as the specification talks in other sections about the use of this property in presentations as follows:

Also note that the non-normative example makes use of the `jti` attribute instea

[2019-05-22 21:14] awoie opened #637 "JWT examples use strings instead of NumericDate for iat, exp"
According to the normative statements in the specification, `iat` and `exp` must be typed as NumericDate. The JWT examples use string values. The non-normative examples need to be fixed.

[2019-05-23 21:28] brentzundel opened #639 "ZKP section seems un-testable"
The normative statements in the [ZKP Section](https://w3c.github.io/vc-data-model/#zero-knowledge-proofs) seem untestable as they are currently written.

I recommend adding clarifying language to the ZKP Section to make clear how the normative statements may be tested from a data model perspective.

[2019-05-25 16:08] #635 closed

[2019-05-25 16:09] #637 closed

[2019-05-25 18:08] msporny commented on #436
Update, there is now active discussion on how to address this here: https://github.com/w3c/rdf-dir-literal/issues/3

I'm putting together a PR based on where the discussion is at present:

https://github.com/w3c/rdf-dir-literal/issues/3#issuecomment-495937506

[2019-05-25 19:56] msporny commented on #436
PR is in... please review so we can close this issue: https://github.com/w3c/vc-data-model/pull/641

[2019-05-26 17:28] richburdon opened #642 "Protocol buffer support"
Was any thought given to the fact this new protocol cannot be expressed using protocol buffers (or as natural objects/structs in most programming languages) because of the use of the non-standard "@" character?

I think this pretty much guarantees the fragmentation of the protocol with folks having to substitute `@context` with things like `_context`, `_at_context`, etc.

(Reference: https://devel

[2019-05-26 18:41] msporny commented on #526
The PR is in, just need W3C Sysreq to update when we publish next time.

[2019-05-26 19:28] msporny commented on #584
I've added PR #646 to address this issue. Suggest we merge and close.

[2019-05-26 19:43] msporny commented on #585
Added section on human readability for extensions in commit https://github.com/w3c/vc-imp-guide/commit/504c9c1189d060cc9f1deb2ff35507e1fbf3f282.

Suggest that we close this issue as nothing else is likely going to happen to address this issue in the near future.

[2019-05-26 19:45] msporny commented on #586
The PR has been merged, issue submitter agreed to change. Suggest we close.

[2019-05-26 19:56] msporny commented on #589
PR is in #647. Suggest close after that is merged.

[2019-05-26 20:07] msporny commented on #596
The PR for adding `holder` in a non-normative way is in PR #648. Reserving `validFrom` and `validUntil` is in PR #646. Suggest closing after both are merged.

[2019-05-26 20:27] msporny commented on #602
PR #649 addresses this issue by removing the non-normative 'must'. ReSpec has also been updated to refer to RFC8172 to make it even more clear that lowercase must/should/may are not normative statements.

[2019-05-26 20:30] msporny commented on #604
Non-substantive suggestions by @brentzundel have been merged. Suggest closing this issue since it's been addressed by PR #630.

[2019-05-26 20:37] msporny commented on #605
The change is in PR #650. Close this issue after that's merged.

[2019-05-26 20:50] msporny commented on #606
PR #651 has added a reference to "Section 7.3: Identifier-based Correlation". That was the last PR that was needed, close after all of them have been merged.

[2019-05-26 20:54] msporny commented on #608
PR #631 has been merged. Suggest we close this issue since the issue submitter's concerns have been addressed with PR #631.

[2019-05-26 21:02] msporny commented on #609
PR #652 is in, please review, @nadalin. We will close the issue once you review.

[2019-05-26 21:05] msporny commented on #622
PR #623 is merged, we should close this issue.

[2019-05-26 21:05] msporny commented on #639
PR #640 is merged. We should close this issue.

[2019-05-27 02:41] #639 closed

[2019-05-28 01:51] msporny commented on #642
Yes, a few:

* None of the current set of implementers are targeting protocol buffers as a target syntax -- it just has not come up over the past 6+ years as a target syntax.
* It is possible to serialize/deserialize to protocol buffers quite easily as the only `@` translation that's necessary is for `@context`, so the rule is fairly simple and limited to that property, IIRC.
* CBOR is a more like

[2019-05-28 02:04] msporny commented on #621
Non-array values on the right hand side of property-value statements make sense when the arity of the value is a single property. For example, an individual only has ONE birthday.

Yes, we could force all developers to express birthdays like this: `"birthday": ["1994-04-15"]` ... but developers would find that very strange, and many wouldn't read the spec and would do `"birthday": "1994-04-15"` in

[2019-05-28 14:14] burnburn commented on #518
WG resolution on 28 May 2019 call:

RESOLUTION: Issue #518 is resolved via PR #644, which adds an example on multiple subjects to the specification. Close issue #518 after the PR has been merged.

[2019-05-28 14:16] burnburn commented on #526
WG resolution on 28 May 2019 call:

RESOLUTION: Issue #526 is resolved via PR #645, which updates the TR links in the specification. Close issue #526 after the transition to Proposed Recommendation has occurred.

[2019-05-28 14:19] burnburn commented on #584
WG resolution on 28 May 2019 call:

RESOLUTION: Issue #584 is resolved via PR #646, which updates the specification with non-normative language noting that the properties will change to validFrom and validUntil in the future. Close issue #584 after the PR has been merged.

[2019-05-28 14:21] David-Chadwick commented on #585
OK, the implementation guide seems a reasonable way of resolving this. So we can close this issue

[2019-05-28 14:23] burnburn commented on #585
WG resolution on 28 May 2019 call:

RESOLUTION: Issue #585 is resolved via commit 504c9c1189d060cc9f1deb2ff35507e1fbf3f282 to the Implementation Guide, which advises JSON-LD Context publishers on how to publish human readable contexts that advise on context order. Issue #585 should be closed after a 7 day review period.

[2019-05-28 14:24] David-Chadwick commented on #586
Agreed

[2019-05-28 14:27] David-Chadwick commented on #589
Agreed

[2019-05-28 14:27] burnburn commented on #586
WG resolution on 28 May 2019 call:

RESOLUTION: Issue #586 is addressed via PR #627, which adds non-normative guidance wrt. using JWTs w/ presentations. Issue #586 should be closed since the PR has been merged.

[2019-05-28 14:33] burnburn commented on #589
WG resolution on 28 May 2019 call:

RESOLUTION: Issue #589 is addressed via PR #647 which updates the non-normative reference to JSON Schema to a more stable IETF URL. Issue #589 should be closed after the PR is merged.

[2019-05-28 14:36] burnburn commented on #596
WG resolution on 28 May 2019 call:

RESOLUTION: Issue #596 is addressed via PR #648, which adds non-normative text describing the holder property. Issue #596 should be closed after the PR is merged.

[2019-05-28 14:44] burnburn commented on #600
WG resolution on 28 May 2019 call:

RESOLUTION: Issue #600 is addressed via PR #601, which makes non-normative changes to the examples. Close issue #600 after the PR has been merged.

[2019-05-28 14:47] brentzundel opened #653 "The confusing nature of type and presentation"
The text in the spec is unclear about whether it is required for presentations and encapsulated objects to have multiple types. My understanding is that the type field for a verifiable credential MUST have more than one type, but that presentations, encapsulated objects, etc. do not have this requirement.
I recommend text be added to clarify that while `type` is required for presentations and enca

[2019-05-28 14:48] burnburn commented on #602
WG resolution on 28 May 2019 call:

RESOLUTION: Issue #602 is addressed via PR #649, which removes the non-normative "must" in favor of "is expected to". Issue #602 should be closed once the PR is merged.

[2019-05-28 14:54] burnburn commented on #604
WG resolution on 28 May 2019 call:

RESOLUTION: Issue #604 is addressed via PR #630, which adds non-normative text to clarify the processing requirements around @context. Multiple other PRs were also made to address this issue. Issue #604 will be closed after a 7 day wait period.

[2019-05-28 14:59] burnburn commented on #605
WG resolution on 28 May 2019 call:

RESOLUTION: Issue #605 is addressed via PR #650, which makes a non-normative change to the spec regarding changing a lowercase "must not" to a "is expected to not". Issue #605 should be closed after the PR is merged.

[2019-05-28 15:01] burnburn commented on #606
WG resolution on 28 May 2019 call:

RESOLUTION: Issue #606 is addressed via PRs #616, #628, and #651 by making non-normative clarifications to the specification. Issue #606 should be closed after all associated PRs have been merged.

[2019-05-28 15:04] burnburn commented on #608
WG resolution on 28 May 2019 call:

RESOLUTION: Issue #608 is addressed via PR #631 which adds non-normative clarification around the SHOULD of concern to the reviewer. Issue #608 will be closed after a 7 day wait period.

[2019-05-28 15:08] burnburn commented on #609
WG resolution on 28 May 2019 call:

RESOLUTION: Issue #609 is addressed via PR #652, which makes a non-normative clarification to the specification regarding JWS. Issue #609 should be closed after the 7 day review period and after the PR is merged.

[2019-05-28 15:16] burnburn commented on #611
WG resolution on 28 May 2019 call:

RESOLUTION: Issue #611 is addressed via PR #617, which makes non-normative clarifications to the specification regarding proof details and mechanism. Issue #611 will be closed immediately since the 7 day wait period has expired.

[2019-05-28 15:16] #611 closed

[2019-05-28 15:18] burnburn commented on #612
WG resolution on 28 May 2019 call:

RESOLUTION: Issue #612 is addressed via PR #614, which rewords the text of concern in a non-normative way. Issue #612 should be closed after 7 days from when the PR was merged.

[2019-05-28 15:19] #613 closed

[2019-05-28 15:21] burnburn commented on #613
WG resolution on 28 May 2019 call:

RESOLUTION: Issue #613 is addressed via PR #615, which makes non-normative changes to expiration to clarify its usage. Issue #613 should be closed immediately.

[2019-05-28 15:24] dlongley commented on #621
Also, https://www.w3.org/TR/html-design-principles/#priority-of-constituencies:

Here we expect authors to do `"birthday": "1994-04-15"` and implementors to deal with it.

[2019-05-28 15:26] burnburn commented on #622
WG resolution on 28 May 2019 call:

RESOLUTION: Issue #622 is resolved via PR #623, which fixes a bug in the JSON-LD context. Issue #622 should be closed immediately.

[2019-05-28 15:26] #622 closed

[2019-05-28 15:31] brentzundel commented on #363
I believe this has been addressed via the solution for issue #577 and should be closed

[2019-05-28 16:03] mirceanis commented on #621
Ok, but implementors should be aware, at least, of which fields can be expected to shift types, no?

[2019-05-29 14:02] nadalin commented on #612
So no real interop can take place based upon PR #614

[2019-05-29 14:37] nadalin commented on #606
Looks good

[2019-05-29 17:22] ken-ebert opened #654 ""@context" missing in verifiable credentials embedded in verifiable presentation examples"
"@context" should be present within verifiable credentials embedded within verifiable presentations. We have four example verifiable presentations and the base context in the specification:

Section 3.4, example 2:

should become

and the proof section of the embedded verifiable credential could be updated and the proof section of the verifiable presentation could be updated to reflect the new con

[2019-05-30 12:21] nadalin commented on #632
@burnburn There would have to be a set of usecases that demonstrate interoperability

[2019-05-30 12:35] nadalin commented on #634
@burnburn You can mandate that 1 form be implemented that does not mean that is the only form that one can implement so there is no issue with flexibility that you state

[2019-05-30 13:16] burnburn commented on #545
PR #629 has been merged. Closing.

[2019-05-30 13:16] #545 closed

[2019-05-30 13:30] #600 closed

[2019-05-30 13:33] burnburn commented on #602
This issue will be closed 7 days from 28 May (when sufficient approving reviews were received) unless new information is added.

[2019-05-30 13:35] burnburn commented on #605
This issue will be closed 7 days from 28 May (when sufficient approving reviews were received) unless new information is added.

[2019-06-03 11:55] awoie commented on #621
@msporny @dlongley @mirceanis The spec should talk about which attributes could change their type. If this is too verbose, then we should mention that some attributes can change their type and add a note/reference to the implementation guide which should contain an exhaustive list of these attributes.

[2019-06-03 17:44] TallTed commented on #634
@nadalin -

It seems no more (and, in fact, substantially less) appropriate to mandate implementation of support for JWT-based proof systems (which would prevent use of some zero-knowledge-based proof systems) than to mandate that JSON-LD processing be implemented.

All the objections you have previously raised based on your (incorrect) perception of the latter (which would not have prevented any

[2019-06-03 17:47] nadalin commented on #634
@TallTed This will come back up when interoperability is discussed.

[2019-06-04 02:24] #586 closed

[2019-06-04 02:24] #585 closed

[2019-06-04 13:28] #610 closed

[2019-06-04 13:29] #608 closed

[2019-06-04 13:30] #602 closed

[2019-06-04 13:34] burnburn commented on #549
@yancyribbens I think this is complete.  Can you confirm?  If so, please just go ahead and close.

[2019-06-04 13:40] burnburn commented on #498
@brentzundel provided clarification 20 days ago, with no further comments since then from anyone.  The title of the specification has been affirmed as appropriate by many parties over many months.  Any concerns with interoperability will be tracked via issue #632.

Closing.

[2019-06-04 13:40] #498 closed

[2019-06-04 14:35] TallTed commented on #585
For clarity, [commit 504c9c1189d060cc9f1deb2ff35507e1fbf3f282 to the Implementation Guide](https://github.com/w3c/vc-imp-guide/commit/504c9c1189d060cc9f1deb2ff35507e1fbf3f282).

[2019-06-04 21:30] nadalin commented on #609
@msporny See my comments in #652 as they apply here

[2019-06-05 19:28] #363 closed

[2019-06-06 02:42] enuoCM opened #659 "credentialSubject of Verifiable Credentials Data Model 1.0"
The definition of credentialSubject in [Verifiable Credentials Data Model 1.0](https://w3c.github.io/vc-data-model/#credential-subject)

I don't quite understand this.  Is the **credentialSubject** a JSON object or a JSON array?
According to  [issue#518](https://github.com/w3c/vc-data-model/issues/518#issuecomment-486502179), it seems that **credentialSubject** can be either.

But [EXAMPLE 36](htt

[2019-06-06 16:56] brentzundel commented on #659
The value of the `credentialSubject` property may be an object or an array. Each `credentialSubject` object should contain claims about a single subject.
In example 36, the subject of the credential is the child. The value of the `credentialSubject` property is the object:
[code]
this may be read as:
"the child has id did:example:ebfeb1f712ebc6f1c276e12ec21"
"the child has age under 16"
"the child

[2019-06-06 22:05] #549 closed

[2019-06-07 17:03] Iso5786 opened #662 "Issue 6 and 8 (ZKP and JWT) implementers"
Hi all,
on the VC data model 1.0 page it states under issue 6, that "Zero Knowledge Proofs are a feature at risk. The Working Group is looking for multiple implementers to support the feature during the W3C Candidate Recommendation phase."
I cannot find any related issue here, hence I create a new one to introduce a project that implements this feature.

This project is called IRMA, maybe some of

[2019-06-07 17:09] brentzundel commented on #662
This is excellent news. I am working on an implementation for Evernym, and @ken-ebert is doing one for Sovrin, both of which will also support ZKPs.
We'd love to touch base with you as you work through incorporating VCs into IRMA. And we invite you to add a [test suite implementation](https://github.com/w3c/vc-test-suite)

[2019-06-08 16:03] Iso5786 commented on #662
@brentzundel Good to gear! Am now in the phase of describing IRMA and VC in detail and starting to identify differences in concepts of both.
How would you like to touch base with me? I suggest to have a skype call once I have set some first steps incorporating VCs into IRMA (like in a month or so).
I already had the test suite on my todo list but it's not top priority at the moment.

[2019-06-09 11:59] Iso5786 commented on #662
Additionally, IRMA can be configured to use JWT (see https://irma.app/docs/session-requests/#jwts-signed-session-requests) because in the VC spec issue 8 states that the JWT  support is a feature at risk.

[2019-06-09 12:06] Iso5786 commented on #662
@brentzundel Could you provide more information about the projects you mentioned? Also, what are other projects trying to implement VC? This would be useful for my thesis later to mention it in the related work.

[2019-06-10 01:56] enuoCM commented on #659
@brentzundel Thanks for your answers.
`This depends on the subject of XXXCredential and YYYCredential.
If they have the same single subject, then a new WWWCredential that merges the attributes from both credentials should have a single credentialSubject object. If XXXCredential and YYYCredential each have a ZZZ property about the same subject, then the value of that property in each credential sho

[2019-06-10 17:50] brentzundel commented on #662
@Iso5786 I sent an email to the address in your profile to continue the conversation.

I recommend we close this issue, as it doesn't call for any changes to the spec.

[2019-06-10 18:39] brentzundel commented on #659
I'm not sure what you mean exactly. In the example we went through, the "merging" of XXXCredential and YYYCredential to create WWWCredential was a thought experiment to help clarify the relationship between different subjects in a single credential. There is no mechanism (that I am aware of) which supports the actual "merging" of two credentials by a holder. WWWCredential would need to be a wholly

[2019-06-11 14:51] msporny commented on #621
After discussion in the WG, add specification text detailing the arity of each property expressed in the specification.

We should state that the arity of all properties can be a single value or multiple values (an array), except for X, Y, Z. This should be a clarifying normative statement in the specification that is also non-substantive since it's clarifying what was always the intent of the spe

[2019-06-11 15:02] burnburn commented on #642
From the VCWG call on 11 June 2019:

RESOLUTION: The Working Group has discussed issue 642 and decided to make no changes to the specification. A response to the issue submitter should instruct them to create a separate serialization specification that maps the data model to and from the serialization that they desire.

[2019-06-11 15:02] burnburn commented on #653
From the VCWG call on 11 June 2019:

RESOLUTION: Merge PR #658 as it reflects the consensus of the Working Group. Specifically, more organizations would object to more stringent type requirements than what exists in PR 658.
[10:37] manu: I'll merge that as soon as Brent makes the minor change
[10:38] burn: that resolution only applies after a change has been made.

[2019-06-11 15:04] burnburn commented on #654
From VCWG call on 11 June 2019:

RESOLUTION: Issue #654 is addressed via PR #655. The PR has been merged, close the issue immediately (no 7 day close).

[2019-06-11 15:04] #654 closed

[2019-06-11 15:11] burnburn commented on #659
From the VCWG call on 11 June 2019:

RESOLUTION: Issue #659 has not and does not appear likely to result in any suggested changes, the issue should be closed after a 7 day wait period. Notify the issue submitter that we are moving the discussion to the public-vc@w3.org mailing list.

[2019-06-11 15:13] burnburn commented on #662
From VCWG call on 11 June 2019:

RESOLUTION: Issue #662 has not and does not appear likely to result in any suggested changes to specification text, the issue should be closed after a 7 day wait period. Notify the issue submitter that we are moving the discussion to the public-vc@w3.org mailing list.

[2019-06-11 18:10] brentzundel commented on #659
@enuoCM, we're happy to continue the conversation using the working group mailing list.
If you have more questions, please send an email to:
`public-vc@w3.org`
with the subject line:
`Issue #659 - credentialSubject of Verifiable Credentials Data Model 1.0`

[2019-06-11 18:17] brentzundel commented on #662
@Iso5786, I sent an email to the address listed in your github profile. We could also continue the conversation using the working group mailing list.
If you have more questions related to this topic, please send an email to:
`public-vc@w3.org`
with the subject line:
`Issue #662 - Issue 6 and 8 (ZKP and JWT) implementers`

If you have questions or concerns about a different topic, please email the

[2019-06-12 07:09] Iso5786 commented on #662
@brentzundel Thanks for the info. Will reply to your mail either tomorrow or Friday.

[2019-06-12 14:09] enuoCM commented on #659
@brentzundel Thanks for the information.

[2019-06-18 15:35] TallTed opened #667 "tracking issue for iat → nbf related changes"
see https://github.com/w3c/vc-data-model/pull/646#issuecomment-503162022

Changes are still needed to the JWT mapping section, particularly the following, which are now focused on JWT `exp` and JWT `iat` and do not mention JWT `nbf` --

* [lines 3458-3459](https://github.com/w3c/vc-data-model/blob/5a1f617cda647a8be681d5d46fa9232e284aa492/index.html#L3458)
* [lines 3465-3466](https://github.com/w3c

[2019-06-19 16:41] awoie commented on #667
PR is here: https://github.com/w3c/vc-data-model/pull/668

[2019-06-19 22:36] nadalin commented on #634
@TallTed There seems to be a serious misconception of MUST SUPPORT and MAY SUPPORT as no one is saying that JWT Proof is the only mechanism, there should be something that enhances the chance of interoperability, what is there now promotes zero interoperability

[2019-06-19 23:19] TallTed commented on #634
@nadalin - The ***Data Model*** which we have specified allows for innovation and maturation in the proof mechanism arena, including but not limited to JWT/JWS, LD-Signatures, and Zero-Knowledge Proofs, as well as mechanisms which may not yet exist (or at least, are not yet known of by those of us now involved), and for any of these to become preferred by implementers at large in the design and im

[2019-06-21 12:36] awoie opened #669 "Remove unnecessary limitation for alg JWT attribute"
The spec currently reads:

And it further reads:

Because digital signatures should in general use the JWS, the statement about RSA and ECDSA might be confusing and should be removed. We cannot provide an exhaustive list here, e.g., EdDSA should be included as well.

Proposed non-substantial change (because there is no limitation due to the statement above):

Furthermore, this change won't have an

[2019-06-26 18:06] nadalin commented on #669
This should point to https://tools.ietf.org/html/rfc7518 as the algorithms that are allowed to be used for JWS

[2019-06-26 19:25] TallTed commented on #669
@nadalin - *IF* we are able to make this additional change (which is not guaranteed at this point in the process, as I am sure you are aware, given your experience as a W3 Working Group Chair), it appears to me that a pointer for "the algorithms that are allowed to be used for JWS" should instead be to the [JSON Web Signature and Encryption Algorithms Registry](https://www.iana.org/assignments/jos

[2019-06-26 19:43] nadalin commented on #669
@TallTed It should point to both to be accurate and percise, and there is plenty of time since this has not had a second CR draft yet

[2019-06-27 14:05] burnburn commented on #479
PR merged, closing.

[2019-06-27 14:05] #479 closed

[2019-06-27 14:10] #659 closed

[2019-06-27 14:11] burnburn commented on #518
PR merged, closing.

[2019-06-27 14:11] #518 closed

[2019-06-27 14:13] #662 closed

[2019-06-30 21:15] #669 closed

[2019-06-30 21:21] msporny commented on #436
The PR has been merged, marking 7 day close.

[2019-06-30 21:26] msporny commented on #642
Hi @richburdon, just following up with you on this. Here's a record of the WG discussion of the issue that you raised:

-------------------

<manu> https://github.com/w3c/vc-data-model/issues/642

manu: next is 642, protocol buffer support
... why didn't you do protocol buffers? The @ character isn't supported in protobufs
... from and to different serializations can be done.
... suggestion is to

[2019-06-30 21:31] msporny commented on #642
I'll try to translate that for you in the event that you're new to the standardization process. It basically comes down to this statement you made:

The thing that prevents fragmentation of the protocol is for someone to define how the Verifiable Credentials Data Model is translated to/from protobuf. We have defined this for how one takes the VC Data Model and converts to/from JSON-LD. We did the

[2019-06-30 21:31] msporny commented on #642
Marking this issue as having responded to the issue commenter with a 7 day close pending if no objection from the issue submitter.

[2019-06-30 21:32] msporny commented on #621
The PR has been merged, marking 7 day close.

[2019-07-01 06:35] msporny opened #675 "Update list of Editors/Authors for spec."
I ran a few tools to determine who has contributed to the specification and in what ways. We need to be careful with these numbers because they don't tell the entire story. For example, there is a ton of work that goes into initial design, offline discussions, implementations, etc. It's also dangerous to count quantity over quality. So, take these numbers with a grain of salt.

The first statistic

[2019-07-01 16:08] ChristopherA commented on #675
I did a lot of the early architecture, initially as part of the Oasis XDI on blockchain project with Drummond,  later at early #RWOT meetings, and in the google doc. I hope to continue to be considered one of the authors.

[2019-07-01 18:27] msporny commented on #675
"Author" has a very specific meaning in W3C land and the bar to be listed there is quite high. It is typically that you contributed a large chunk of substantive text or design to *this* specification.

You will definitely be listed in the Acknowledgements section, and we could mention RWoT, IIW, and other organizations as being vital to the development of the work. Would that work for you?

[2019-07-01 20:36] ChristopherA commented on #675
Yes, for the VC-data-model the acknowledgement and mentions of organizations driving it is acceptable. There will be a similar problem with DID as some of the work was done pre-W3C, but in that case I definitely qualify as "Author".

[2019-07-01 21:08] msporny commented on #675
Ok, I'll prep a PR so you and others requesting to be listed in different areas have a chance to review before we go into the Proposed Recommendation stage.

Yes, and you're listed as such (Author) on that specific document.

[2019-07-02 00:37] burnburn commented on #558
PR has been in for a long time, no dereferencing is recommended in the text.  Closing.

[2019-07-02 00:37] #558 closed

[2019-07-02 00:37] #584 closed

[2019-07-02 00:38] burnburn commented on #589
PR merged long ago, submitter agreed.  Closing.

[2019-07-02 00:38] #589 closed

[2019-07-02 00:39] burnburn commented on #596
PR merged a month ago.  Closing.

[2019-07-02 00:39] #596 closed

[2019-07-02 00:40] burnburn commented on #605
Closing.

[2019-07-02 00:40] #605 closed

[2019-07-02 00:40] burnburn commented on #606
All PRs merged.  Closing.

[2019-07-02 00:40] #606 closed

[2019-07-02 00:43] burnburn commented on #609
Your comment was about interoperability, which is already tracked via issue #632.  Closing.

[2019-07-02 00:43] #609 closed

[2019-07-02 00:44] burnburn commented on #612
Your interop concern is being tracked by issue #632.  Closing.

[2019-07-02 00:44] #612 closed

[2019-07-03 01:56] #675 closed

[2019-07-03 02:39] msporny commented on #537
PR #677 has been merged, which updates the reference from JSON-LD 1.0 to JSON-LD 1.1 per the WG resolution above.

[2019-07-03 03:18] msporny commented on #530
PRs have been merged, the registry exists, closing issue.

[2019-07-03 03:18] #530 closed

[2019-07-05 17:17] #642 closed

[2019-07-08 17:25] nadalin commented on #634
@TallTed The approach with the data model first is that that in practice does not always work well when protocols are left out of scope, my concerns still remain on interoperability of just a data model. Is there a pointer to the test harness so I can see what is actually being tested?

[2019-07-08 17:33] TallTed commented on #634
@nadalin - Surprisingly enough, the [Verifiable Claims Data Model 1.0 Test Suite](https://github.com/w3c/vc-test-suite) is linked from the [Data Model ReadMe](https://github.com/w3c/vc-data-model) as well as from the [Editor's Draft of the Data Model](https://w3c.github.io/vc-data-model/).

[2019-07-08 18:41] David-Chadwick commented on #634
I think I understand @nadalin's concerns about interoperability. As the specification stands, we will have different un-interoperable islands of VCs, with each island supporting its own type of proof mechanism. This is OK if this is what we really want to happen. The perceived wisdom in this case is  that the market will decide which island becomes the predominant one to rule the world, and all ot

[2019-07-09 15:00] burnburn commented on #436
Closing.

[2019-07-09 15:00] #436 closed

[2019-07-09 15:02] burnburn commented on #621
No objections received.  Closing.

[2019-07-09 15:02] #621 closed

[2019-07-09 15:06] msporny commented on #653
The minor change was made in https://github.com/w3c/vc-data-model/pull/658/commits/12681f9a24bb7669e0f23268b16ef4d318b172c2 and was merged into the specification 9 days ago. Please close.

[2019-07-09 15:06] #653 closed

[2019-07-10 16:32] burnburn commented on #537
No objections raised during the 7 day close time.  Closing.

[2019-07-10 16:32] #537 closed

[2019-07-10 18:43] awoie opened #681 "Update feature at risk section"
The current spec text reads:

I know that we intend to update the section. This is just a reminder to update the respective section.

[2019-07-10 19:51] David-Chadwick opened #682 "Implicit Types Insertion"
Implicit types have only been inserted into the data model during June/July 2019. Prior to this there was no mention of implicit types in the data model document, and the understanding (at least by many in the group if not all) was that all the types are explicit i.e. the data model is strongly typed as opposed to weakly typed.

The facts that support this are as follows:

i) the  minutes of 19 Ju

[2019-07-10 19:54] David-Chadwick commented on #682
Note that I would formally like to object to the progression of the CR to PR until the issue of implicit typing is properly nailed down in the standard (and not in the implementation guide, which is only a guide)

[2019-07-11 05:04] TallTed commented on #682
@David-Chadwick --

Please remember that comments dashed off during a teleconference are an imperfect communication, and not a full revelation of anyone's thoughts or feelings.

Yes, I did indeed write --

Note that my words here were "enourage" and "discourage," not "require" nor "forbid."  Note also that I said "the only reason I know of" (where I should probably have said "can think" instead of

[2019-07-11 16:43] dlongley commented on #682
@David-Chadwick,

I've always thought that there was room for expressing credentials that do not have additional specific type information. There are specific use cases where you want to do just that, as I said on the previous call. You may want to, for example, reveal an attribute about yourself without saying the type of credential it came from. This is a privacy consideration.

I also thought t

[2019-07-11 19:54] David-Chadwick commented on #682
@TallTed and @dlongley I think both of you are missing the point now. It is not about whether implicit types should be added to the specification or not. The WG voted to add them last week (and indeed I produced some text (PR#674 is almost it) indicating where implicit typing could be allowed). The point now is about whether this is a substantial change to the March CR or not. I am suggesting it i

[2019-07-11 19:54] TallTed commented on #682
As this discussion continues, it seems to me that the only element of a Credential that is *really* required for it to be Verifiable, is the Proof portion (and any properties necessary for that Proof to be processed).  Without a Proof, nothing is Verifiable, whether or not the Tye is declared to be VerifiableCredential.  *With* a Proof, some if not all can be Verified, and in that process, the Cre

[2019-07-11 20:02] David-Chadwick commented on #682
@TallTed and if JWT is used there isnt even a Proof property :-)

[2019-07-11 20:35] TallTed commented on #682
`MUST ... be be associated with` (which was in the March CR, and many months of previous drafts) is not the same as `MUST explicitly state` (which is what you want to have now).

Changing to the latter _would_ be a substantive and normative change, and one to which I (and I believe others) would object.

----

Note that I said "Proof *portion*" not "Proof *property*", which remains true with JWT (

[2019-07-14 19:18] msporny commented on #681
Fixed in d92ceaf801da67cc698fb80756130c75e04531cb.

[2019-07-15 13:45] burnburn commented on #222
At this point we are only waiting on https://github.com/w3c/vc-imp-guide/issues/6.  Once the associated PR goes in this issue will be closed.

[2019-07-15 14:02] David-Chadwick commented on #682
@dlongley  "An example of "implied" type information is a VC that includes an "ageOver" claim but no "type" ... and no other claims. The type for this VC could be inferred to be a "VerifiedAgeCredential" (should someone define this type)."
I think you are misunderstanding my position. It is perfectly OK for this VC to be only of type VC. If you read my proposed text you should see that it says thi

[2019-07-15 22:30] brentzundel commented on #682
My misunderstanding that explicit typing was required by the March CR spec is precisely the reason why the clarification was added to make it clear that implicit types are allowed.
The resulting discussion makes it blindingly clear that the March CR spec language was inadequate and prone to misinterpretation, as both you and @TallTed pointed to the same block of text and interpreted it differently

[2019-07-16 15:32] burnburn commented on #526
It appears the Sysreq update has already been done.  However, the pointer to the CR doc in the spec is now incorrect.

[2019-07-16 15:47] #681 closed

[2019-07-16 15:57] #222 closed

[2019-07-16 16:03] burnburn commented on #682
In the 16 July 2019 VCWG call:

RESOLVED: The Working Group has decided to revert the type section related to implicit typing to the text of the March 28 2019 Candidate Recommendation, and in addition we add a sentence which can be wordsmithed later, but the intention is to say "typing is complex so we refer readers to the implementation guide which contains more details.

Additionally, the group

[2019-07-16 16:06] burnburn commented on #633
In the 16 July 2019 VCWG call:

RESOLVED: The Working Group has addressed all concerns outlined in issues #633 and #634 to the best of their ability, these are architectural decisions made by the group, and asserts that the specification reflects the consensus position of the Working Group and thus the issues should be closed.

[2019-07-16 16:06] #633 closed

[2019-07-16 16:06] burnburn commented on #634
In the 16 July 2019 VCWG call:

RESOLVED: The Working Group has addressed all concerns outlined in issues #633 and #634 to the best of their ability, these are architectural decisions made by the group, and asserts that the specification reflects the consensus position of the Working Group and thus the issues should be closed.

[2019-07-16 16:06] #634 closed

[2019-07-16 16:06] burnburn commented on #632
In the 16 July 2019 VCWG call:

RESOLVED: Tracking issue #632 is hereby deferred due to the nature of the request, which is to work on protocol which is specifically out of scope for the WG Charter.

[2019-07-17 17:01] msporny commented on #682
PR #702 has been merged. Closing issue per unanimous WG consensus and resolution.

[2019-07-17 17:02] #682 closed

[2019-07-20 18:55] msporny commented on #667
I haven't heard back from the Director yet, and I need to prep the document for publication next week (either as a CR or a PR). The group has decided to make this change whether or not a new CR is required per the 2019-07-16 telecon:

https://www.w3.org/2019/07/16-vcwg-minutes.html#item03

The PR has been merged.

[2019-07-22 18:04] TallTed opened #704 "(editorial) inline comments make JSON invalid"
I hadn't noticed it until flagged by @peacekeeper's comment  https://github.com/w3c-ccg/did-spec/issues/221#issuecomment-513227824 -- but inline comments are not valid JSON.

The syntax-highlight graying of the text is *helpful* but is not sufficient, especially as the gray text is so dark that it is easy to overlook the graying ... which is necessary to have sufficient contrast with the backgroun

[2019-07-23 13:58] jandrieu opened #705 "Verification definition incorrect"
In section 2. Terminology, the spec has the following definition of verification:

Unfortunately, this is conformance to the specification, and not verification as meant in the "verifiable" part of "verifiable credentials".

In 5.1 Lifecycle details, we have the following language:

We should use this language (or similar) to correct the glossary term.

[2019-07-23 14:15] ken-ebert commented on #704
In many examples, the proof section has
"proof": { ... }
We should advise the user that it means that some content has been omitted.

[2019-07-23 14:40] burnburn commented on #667
In 23 July 2019 call, @awoie and @TallTed agreed with the merge.  No objections.  Closing.

[2019-07-23 14:40] #667 closed

[2019-07-24 16:15] brentzundel commented on #704
Would it be sufficient to add a note to the spec that states the examples may contain comments and other notation which makes them invalid JSON?

[2019-07-24 16:41] peacekeeper commented on #704
I think that would be my preference as well.

[2019-07-25 14:52] burnburn commented on #526
This has been completed with the publication of the second CR. Closing.

[2019-07-25 14:52] #526 closed

[2019-07-30 14:19] ken-ebert commented on #704
Agree with brentzundel and peacekeeper.

[2019-08-02 16:07] stonematt commented on #705
PR merged,  Issue resolved.

[2019-08-02 16:07] #705 closed

[2019-08-06 14:41] nadalin opened #709 "Underspecification of issuer object format and document obtained if issuer id is dereferenced"
I have been trying to implement this specification and having issues, here is one issue I ran into, I'm plodding along to try to finish my implementation.

"The value of the issuer property MUST be either a URI or an object containing an id property. It is RECOMMENDED that the URI in the issuer or its id be one which, if dereferenced, results in a document containing machine-readable information a

[2019-08-06 18:20] brentzundel commented on #709
I don't think it will be a problem to add an example to the data model that shows an issuer property with a value that is an object.

[2019-08-06 18:22] brentzundel commented on #709
It may also be possible to give more detail about this in the implementation guide

[2019-08-06 18:27] nadalin commented on #709
@brentzundel Example I don't believe is enough as examples are non-normative. Trying to implement I find the specification under specified in this area. I can't handle a return object properly without knowing what type it is.

[2019-08-06 19:07] brentzundel commented on #709
The functionality you desire does not require the spec to be changed in any way. As it is written, the data model supports exactly what you propose.

An implementation (such as yours) is free to specify what return type it expects when dereferencing a URI associated with an issuer.
The data model supports this by allowing the value of in issuer property to be an object (as long as the object has a

[2019-08-06 19:16] nadalin commented on #709
@brentzundel I disagree that this is a implementation guide issue, the specification is underspecified. This leads to data model interoperability issues and implementation expectation error conditions

[2019-08-06 21:41] jandrieu commented on #709
@nadalin The spec clearly allows you to add the feature you want. It just doesn't require it. So you can already do what you want.

However, there's no reason an issuer should be prevented from changing the format of the proof mechanism for credentials it has already issued, and there are plenty of reasons that they would want to do so, including future-proofing to support better formats. What you

[2019-08-13 14:33] msporny commented on #704
The WG discussed this issue on 2019-08-13, merged a PR to address the issue, and got confirmation from @TallTed that he was happy with the change.

[2019-08-13 14:33] #704 closed

[2019-08-13 14:40] stonematt commented on #709
RESOLVED: Issue #709 is addressed by PR #710, which adds a non-normative example to the specification demonstrating how an issuer value can be a dictionary (a set of key-value pairs).

[2019-08-13 14:40] msporny commented on #709
This issue will be marked with a 7 day close as soon as the PR is merged.

[2019-08-13 15:07] nadalin commented on #709
@stonematt This does not address the issue since it is non-normative, the text needs to be update and a value pair mandatory for interop or at least recommended

[2019-08-14 03:18] nadalin opened #712 "More implementation issues"
I have a very simple claim, uses JSON-LD so I went to try to see if I could create a proof for this claim, so I read the latest JSON-LD Signature specification pointed to by the VC specification and its incomplete, it has wrong pointers to the algorithms and suites, broken links, etc.  I wanted to create the hash (7.3) but the section does not tell me exactly what the input should be or in what or

[2019-08-14 04:15] brentzundel commented on #712
I don't see anything in this issue that differentiates it significantly from issues:

- #483
- #491
- #525
- #548
- #557
- #558
- #604
- #633

I should also point out that as this issue was received after the end of the public comment period for the CR, even if it raises a concern not already addressed by one the previously closed issues, it may be officially deferred to after version 1.0 of the s

[2019-08-14 09:15] David-Chadwick commented on #712
@nadalin Tony you are familiar with X.500 attribute types and the use of OIDs to uniquely identify them, and the mess that LDAP got us into by using user friendly names instead of OIDs. The @context feature is there to stop this happening for VCs. The @context lists the globally unique ids for VC properties (as URIs) and the user friendly aliases that can be used instead when creating VCs. So clea

[2019-08-14 14:32] nadalin commented on #712
@brentzundel Per the  note that went out on July 25 "Verifiable Credentials Data Model 1.0 Candidate Recommendation  revised (Call for Implementations)" the comment date is August 21st, so the comment period has not closed yet.

[2019-08-14 14:39] nadalin commented on #712
@David-Chadwick I can see your point for non JWT based VC's but not for JWT based VCs

[2019-08-14 15:02] brentzundel commented on #712
@nadalin to quote from the current CR:

The issue you have raised is completely unrelated to the change we made to the JWT section, which is the only aspect of the spec that is open for feedback.

[2019-08-14 15:20] nadalin commented on #712
@brentzundel I have commented on the JWT section as requested in the call that went out on July 25th, I have implemented the JWTs but with an issue that I raised. The JWT is the only part that I have been able to implement so far.

I'm also giving feedback to the community on implementation issues I have been encountering.

[2019-08-14 15:20] David-Chadwick commented on #712
@nadalin My comment is just as relevant to JWT based VCs as to another proof based mechanism. This is because the properties in the verifiable credential (which is the vc claim in the JWT) are identical regardless of the proof mechanism. Therefore in order to avoid name clashes you still need the @context in the JWT vc claim

[2019-08-14 15:29] nadalin commented on #712
@David-Chadwick The JWT is just not used as a proof (it's actually the proof that I could get to work), but the claim also, and I still don't see the need as I'm not creating a name clash at all.

[2019-08-14 15:38] David-Chadwick commented on #712
@nadalin You are not creating a name clash in the JWT because we have registered (or are in the middle of registering) 'vc' with IANA. The name clash will be in the properties of the vc claim, which contains the claims of the VC subject (as well as other properties such as termsOfUse etc.

[2019-08-14 15:39] csuwildcat commented on #709
Is there some issue with just making the return expectations explicit? I sympathize with Tony's point that while one can use the spec in a way that is explicit, what is the benefit of having it be unknown? Wouldn't a simple compromise be to simply have folks mark the return type as a required field of a descriptor?

[2019-08-14 16:25] brentzundel commented on #709
There is no issue with making the return expectations explicit. It is certainly possible to simply have folks mark the return type. The spec as written supports this.
PR #710  provides an example of how this may be done.

[2019-08-14 16:27] csuwildcat commented on #709
@brentzundel so we can just specify that people MUST to use a descriptor object, instead of a single amorphous value that could return anything? If so, that's cool, I think we address Tony's objection that way and benefit from devs always knowing what's coming back in the process. Is everyone OK with this change?

[2019-08-14 16:41] brentzundel commented on #709
We don't need to require that people MUST use a descriptor object.
There are implementers who neither need nor desire this. Those who do
desire this are free to do so without any changes to the spec.

On Wed, Aug 14, 2019 at 10:27 AM Daniel Buchner <notifications@github.com>
wrote:

[2019-08-14 16:45] csuwildcat commented on #709
@brentzundel I guess I just see this as an odd hill to die on, given the worst thing it does is makes things explicit and likely make code/handling of this part of VCs clearer. My 2 cents would be to just make simple changes that don't really change the overarching spec/functionality and be done with it, but I will let you all sort it out.

[2019-08-14 16:51] nadalin commented on #709
@brentzundel To achieve interop there would have to be normative guidance, which is not in the specification today and the propsed text is non-normative. I don't understand the reluctance to improve the specification for implementation and interop purposes as I have tried to implement this specification and having issues that I have reported here.

[2019-08-14 17:58] nadalin opened #713 "vc-test-suite"
Trying to figure out the test-suite and be able to run this on my implementation, I see the follow statement
"1) encoded as standard JOSE header parameters, 2) encoded as registered JWT claim names, or ..."

I have no idea what "registered" means and where would one register and why I have to register my JWT claims?

[2019-08-14 21:19] nadalin opened #714 "Verifiable Credentials Implementation Guidelines 1.0"
There is the table in 7.2  Benefits of JSON-LD and LD-Proofs where it states and X in the Designed to easily support experimental signature systems field, as JWTs allow usage of non-registered signatures to be used, via Collision-Resistant Name.

Also has an X in the Canonicalization requires only base-64 encoding for JWT, this is also not correct.

[2019-08-15 15:30] burnburn commented on #714
@nadalin this is an issue against the Implementation Guidelines (https://github.com/w3c/vc-imp-guide/issues).  Please copy your issue/question there.  Closing.

[2019-08-15 15:30] #714 closed

[2019-08-15 19:25] nadalin commented on #712
@David-Chadwick  There is no processing requirements of the @context statement, thus there will not be any name clashes unless you are using JSON-LD processing

[2019-08-16 07:37] David-Chadwick commented on #712
@nadalin There is a requirement for JSON and JSON-LD implementations to understand the @context. It is obvious why. Two issuers could independently define the "role" property for a subject, and give it different URIs, but the same JSON property name. These role properties would probably have different semantics and different syntaxes. How is a verifier, that gets VCs from both issuers, meant to kn

[2019-08-16 15:23] nadalin commented on #712
@David-Chadwick There is  absolutely no requirement to understand or do anything with the @conttext per the specification and there are also no "security considerations" listed in the specification that state collisions issues.

There is no "role" property.

The VC could have claims that distinguish it apart, or it may not ever need to distinguish it apart, could always assume single role as I can

[2019-08-16 15:26] aljones15 commented on #712
@nadalin you might try using `@context` with back ticks in order to avoid pinging the github user with the name context who is not part of this issue.

[2019-08-18 19:02] msporny commented on #709
The group has been considering PR #710 to address this issue. I've been thinking about this PR over the last week or so as I was on the fence about it. Fundamentally, I think the examples using a key as the issuer is an anti-pattern that we don't want people to use, for the following reason:

The key-as-issuer pattern suggests that people should use public keys to identify issuers. This is a bad p

[2019-08-19 22:45] davidlehn opened #721 "Optimized SVG diagrams"
The diagrams in the spec are basic SVG but very large files:
[code]
A pass with [SVGO](https://github.com/svg/svgo) can cut those sizes down quite a bit:
[code]
Not sure what SVG editors are doing that results in such large files. I'm guessing just non-optimized font to path conversion? It's worth considering using optimized SVG for published specs. They do get compressed and cached, but still goo

[2019-08-20 09:01] chaals commented on #721
The SVG is super-scrappy and one of the things it is doing is using paths instead of `<text>` elements, which is why it's massive. Rewriting some of these by hand could be done pretty quickly, (and in the microdata draft spec are some hand-written node diagrams with clean code we could quickly take and adapt as desired). But redoing others in an editor that produces reasonable lightweight SVG is p

[2019-08-20 15:50] burnburn commented on #709
In 20 Aug 2019 VCWG meeting:

RESOLVED: PR #715 mostly addresses issue #709, but the issue commenter has raised other concerns that the group has agreed to defer until another group picks up the specification.

[2019-08-20 15:53] burnburn commented on #712
In 20 Aug 2019 VCWG call:

RESOLVED: The WG believes that it has answered many of the questions raised in issue #712 multiple times before to the issue submitter, the group has agreed to defer the conversation until another group picks up the specification.

[2019-08-21 14:44] nadalin commented on #709
@brentzundel . I was able to implement the support of JWT based claims and proofs and pass the tests listed under JWT in https://w3c.github.io/vc-test-suite/implementations/ specification. There are some issues raised in #709, #712 and #713. I can't seem to update the  the vc-test-suite so if you can help I would appreciate.

[2019-08-30 19:28] swickr commented on #721
It would be a big improvement if the diagrams inherently became more WCAG 2.1 compliant as well.

[2019-09-17 19:31] rceleste125 opened #724 "Expressing which credentials are acceptable"
Is anyone working on how to express (JSON?) which credentials or group of credentials are acceptable to access a service or information?  Along those lines, is there work on credential equivalency?  For example (using the classic use case):  If I need to prove i'm over 21, I might show my State issued driver's license, or my government issued passport, etc.  There could be alternative credentials,

[2019-09-17 19:40] David-Chadwick commented on #724
@rceleste125 Whilst this is a very valuable standardisation topic, unfortunately it is not within the scope of the VC working group. Consequently your request should be taken to the Credentials Community Group.

[2019-09-17 20:21] ChristopherA commented on #724
This is an emerging topic in the [CCG](https://w3c-ccg.github.io) (W3C Credentials Community Group) but has not emerged as an official work item yet. But there were some [topic papers](https://github.com/WebOfTrustInfo/rwot9-prague/blob/master/topics-and-advance-readings) and [collaborative drafts](https://github.com/WebOfTrustInfo/rwot9-prague/tree/master/draft-documents) submitted to #RWOT9 rela

[2019-09-18 01:11] dlongley commented on #724
This is also very related to the Credential Handler API work -- as however this information is expressed would flow through that API. There's some experimentation going on right now regarding how to format this stuff.

@dmitrizagidulin -- do we have any good links we can share yet on examples of CHAPI queries for VCs?

[2019-09-18 01:53] dmitrizagidulin commented on #724
@dlongley - Not yet, we're still working on the documentation / spec.
But, for example, here's what a CHAPI query looks like, that asks "Give me all VerifiablePresentations that have the following fields - are of a certain type, and for a particular subject id".

(For those familiar with MongoDB's [document query filters](https://docs.mongodb.com/manual/core/document/#document-query-filter), `Quer

[2019-09-20 14:05] victorherraiz-santander opened #725 "openid implementations"
Is there any example of implementation of the specification on top of openid?

[2019-09-20 14:33] dmitrizagidulin commented on #725
@victorherraiz-santander Yes, definitely. Although it partly depends on what you mean by on top of OpenID.

In general, the JWS serialization of Verifiable Claims, which is part of the spec, is intended to be able to be dropped right in to existing JOSE-based protocols such as OpenID Connect. For an example of how you can use OpenID to _obtain_ Verifiable Credentials, look at the paper from Reboot

[2019-09-23 15:24] victorherraiz-santander commented on #725
Thank you @dmitrizagidulin, those links will keep busy for a while!

[2019-10-20 18:20] Iso5786 opened #726 "ZKP implementation - why proof and schema mandatory within derived VC?"
Hi,
if within IRMA (https://irma.app/docs/zkp/) at least two attributes from different credentials are disclosed, the computed ZKP (based on the Idemix specification) is one message which also proofs that the credentials belong to the same holder.

If within VC I want to compute a verifiable presentation with ZKP, it states that each derived VC must contain
"Proof, using the proof property, that c

[2019-10-22 18:48] brentzundel commented on #726
"Proof, using the proof property, that can be used to derive verifiable presentations that present information contained in the original verifiable credential in zero-knowledge. The zero-knowledge verifiable presentation must not reveal any information not intended to be revealed by the holder."

The proof within the derived credential is a zero-knowledge proof of signature. This proof must necess

[2019-10-23 14:18] Iso5786 commented on #726
Ok, that is interesting.
Sure, within IRMA a verifier can also ask for attributes from credentials from different issuer. I asked last week one of the IRMA creators if it is possible within IRMA (and the related Idemix lib gabi https://github.com/mhe/gabi) to somehow have a proof within each derived credential. He said it is not possible as IRMAs proof only contains one message which cannot be spl

[2019-10-28 21:54] brentzundel commented on #726
The VCWG ended at the end of September. It may be going into maintenance mode in the next few months, but there is currently little to no WG activity, and even if a maintenance charter is approved, no substantive changes to the spec will be allowed.
So it doesn't matter much whether the conversation continues here or whether it moves to the public mailing list.

[2019-10-29 12:56] Iso5786 commented on #726
Ok, where do you think is more activity?
And is there somewhere a full ZKP lifecycle example where I can resolve URIs to see what is contained there? Or can you provide me with an resolved issuer, credentialSchema and proof type that is machine readable?

Within IRMA, am getting there but need to figure out some small details.
Them, I will explain in more detail here what is different within IRMA

[2019-11-07 11:23] mxshea opened #727 "Inconsistencies between Figures and examples"
In reading through the VC Data Model Proposed Recommendation 1.0, should the values in boxes of Figure 6 & 8 (created, creator, signatureValue) tie too elements in Example 1 & 2?

In Figure 6 in the Proof Graph, the Creator is Example University Public Key 7 and in Example 1- VerificationMethod": "https://example.edu/issuers/keys/1”.  Likewise the Signature Value in Figure 6 is “BavE110…” and in E

[2019-12-10 08:44] peacekeeper opened #729 "Missing "issuer" property in examples"
Examples 3, 4, 5, 6, 7 are missing the "issuer" property which is required by the spec. This may have to do with the fact that these examples appear in the spec before the section that introduces the "issuer" property, but still, probably all the examples should be compliant with the spec.

[2019-12-26 11:35] David-Chadwick opened #731 "`notTransferable` property not defined in `@context`"
the notTransferable property is missing from the  "https://www.w3.org/2018/credentials/v1" `@context` definition

[2020-01-27 10:17] vongohren opened #732 "4.1 Link to going anywhere that makes sense"
```The data available at https://www.w3.org/2018/credentials/v1 is a static document that is never updated and SHOULD be downloaded and cached. The associated human-readable vocabulary document for the Verifiable Credentials Data Model is available at https://www.w3.org/2018/credentials. This concept is further expanded on in Section § 5.3 Extensibility.```

This 2018/credentials link in the botto

[2020-02-27 21:33] aphillips opened #733 "Example uses a timestamp for what should just be a (floating) date value (editorial nit)"
Section 4.10, Example 9
https://w3c.github.io/vc-data-model/#presentations-0

This example shows timestamp being used for a floating time value. Date of birth should normally be just a date (without time-of-day units or time zone). The example given is actually January 2nd in much of the world.

_This comment was an I18N comment that we forgot to send to you previously. This is a minor editorial n

[2020-02-27 21:35] aphillips opened #734 "Have fields for locale-specific information (names, addresses, etc.) been checked?"
A number of examples contain personal names and street addresses, broken into component parts.  Has there been some attempt to ensure that these fields will work around the world?

_This issue was originally created by @r12a. This is an I18N issue that we forgot to send to you previously. It is editorial and not substantive._

[2020-03-04 02:30] kimdhamilton opened #735 "Relying party definition is missing"
"Relying party" is used in the VC-data-model document, with links that go nowhere. They reference https://w3c.github.io/vc-data-model/#dfn-relying-parties, but this link target is missing in the document.

Example:

The "relying party" link target is missing.

[2020-04-06 05:32] Liam-Tait opened #736 "Examples issuanceDate is invalid"
`issuanceDate` is set to `2010-01-01T19:73:24Z" ` in examples:
1, 2, 11, 45, 46
This is invalid because:
`73` is not a valid number of minutes.

Other issuanceDate in examples = `2010-01-01T19:23:24Z`

@tplooker @kdenhartog can you take care of this

tagging @msporny for awareness

[2020-04-22 09:36] marceljay opened #738 "Clarification of the Verifiable Data Registry (VDR)"
Regarding the role of the Verifiable Data Registry, it might not be clear to some (at least to me), what kind of authorities and permissions it has and what it could control.
Examples of such registries are, according to the spec "trusted databases" or "distributed ledgers". The VDRs mediate the "creation and verification of identifiers".

In the [aries vdri package](https://github.com/hyperledger

[2020-04-22 10:15] David-Chadwick commented on #738
On 22/04/2020 21:36, Marcel Jackisch wrote:

If we have a distributed system where entities are creating their own
identifiers, then we have to have some rules for this otherwise it would
be anarchy. The VDR conceptually sets these rules. We could have an
entity that controls the identifier creation according to its own rules
(e.g. IANA and the DNS) or have a prior agreed set of rules that say how

[2020-04-22 11:01] marceljay commented on #738
Understanding the role of the VDR as a referee/arbitrator that enforces the rules of a DID method or VC scheme made a lot of sense to me. Holders register their DIDs on the VDR, the VDR checks if the creation was according to the method's specification, otherwise, the request to register a DID is denied. This is how I grasped the concept.

The spec states, the VDR mediates the "**creation [...] of

[2020-04-23 09:10] kryptojet opened #740 "Necessary of VC Template specification"
According to the example in the vc-data-model document, the ID of the VC has the form of a single URI, and the ID is also used in refreshService. And that is kind of VC's type ID, and if it is correct, I think the VC's Template specification is also needed. Have you already discussed this? Or am I missed it?
[code]

[2020-05-07 12:08] anthonycamilleri opened #741 "Multiple Issuers supported?"
We have a use case whereby degrees are jointly awarded in collaboration by two or more universities. In this case there are multiple issuers, which could theoretically all add their signature to the proof. The standard seems a bit vague as to whether an entity made up of multiple issuers would be supported.

[2020-05-11 21:33] dmitrizagidulin commented on #741
Hi @anthonycamilleri. At the moment, the spec requires that a VC must have a single issuer (a URL or a single object with an id).
That said, you can probably model it as a complex object that reflects the joint/collaboration nature of the credential. So, it would still have a single id (that represents the collaboration itself), but you'd list the participating organizations. Something like:

[cod

[2020-06-02 15:27] JaceHensley opened #745 "type vs @type"
Hello!

So in the context file for VCs `"type"` is mapped to `"@type"` and this is called out [here](https://www.w3.org/TR/vc-data-model/#h-note-10) for making it simpler so devs don't need to know the JSON-LD type system. The only problem is that makes it harder for devs with an existing data model to use the VC Data model, if an object they want to put into the credentialSubject already has a "t

[2020-06-02 22:06] JaceHensley commented on #745
Quick follow up, my proposed solution wouldn't actually work. I can't quite get it to behave how I want so I'm open to suggestions on how to resolve this.

My end goal is to be able to use the "type" field separately from the "@type" field within `credentialSubject`. But maybe that's not possible, it just seems odd that I can have valid JSON-LD but not when using the VC Data Model context.

[2020-06-02 22:24] dlongley commented on #745
The definition for `type` is locked in for `credentialSubject`, but if you nest something underneath `credentialSubject` you can change `type` from there (by using a property-scoped context for whatever property you're nesting under).

[2020-06-03 17:40] JaceHensley commented on #745
Ah okay so I'd have to nest my actual credentialSubject data in a field like this:

[code]

and then have a context like this:

[code]

[2020-06-03 18:36] JaceHensley commented on #745
So I tried this but it doesn't seem to work because "data" isn't a field directly on the "CustomCredential" ([playground link](https://json-ld.org/playground/#startTab=tab-expanded&json-ld=%7B%22%40context%22%3A%5B%22https%3A%2F%2Fwww.w3.org%2F2018%2Fcredentials%2Fv1%22%2C%7B%22CustomCredential%22%3A%7B%22%40id%22%3A%22prefix%3ACustomCredential%22%2C%22%40context%22%3A%7B%22%40version%22%3A1.1%2C%

[2020-06-03 19:39] dlongley commented on #745
There are two additional options here. The first is to set `"@propagate": true` for your `CustomCredential` scoped-context. Note that this still won't "scope it to your CustomCredential" (it will live beyond it, but only in further nested data). But I think what you actually want here is to "scope it to the value of `credentialSubject`". To do the latter, which is the second option, you must add a

[2020-06-03 20:36] JaceHensley commented on #745
Cool, yeah I actually ended up doing the latter :) I'll close this issue now, thanks again!

[2020-06-03 20:36] #745 closed

[2020-06-08 16:49] jandrieu opened #746 "DVCG references in bibliography need to be updated"
Several bib references point to old URLs that are coming up 404:
[LD-PROOFS]
Linked Data Proofs. Manu Sporny; Dave Longley. Digital Verification Community Group. CG-DRAFT. URL: https://w3c-dvcg.github.io/ld-proofs/
[LD-SIGNATURES]
Linked Data Signatures. Manu Sporny; Dave Longley. Digital Verification Community Group. CG-DRAFT. URL: https://w3c-dvcg.github.io/ld-signatures/
[LDS-RSA2018]
The 2018

[2020-07-08 17:22] msporny commented on #421
Conversation around this happening here: https://mailarchive.ietf.org/arch/msg/media-types/L0YVPU1zUIlECS8_4ScB5H62GNI/

[2020-07-13 19:40] ghuang123 commented on #741
The current VC model supports one issuer per Verifiable Credential. One possible solution, the Verifiable Presentation can be used with a presentation graph and proof graph. For real estate settlement case, the Verifiable Presentation may contain the following Verifiable Credentials：The buyer, the seller, the settlement agent, the lender of the buyer, the lender of seller. The Subject for each VC

[2020-08-14 18:50] llorllale commented on #738
@marceljay

These are good questions and the term "mediating" remains in the spec still.

@David-Chadwick

Can we get some clarification on this nuance to ensure the VC Data Model and aries-framework-go are conceptually aligned?

[2020-08-15 13:53] David-Chadwick commented on #738
@llorllale you will need to ask the author of the Aries spec to explain how it conforms to the VC Data Model

[2020-08-26 21:23] clehner opened #748 "URIs or URLs for ids"
The `id` property for `credentialStatus`, `refreshService`, and `evidence` objects are specified as URLs:

- "Each refreshService value MUST specify its type [...] and its id, which is the URL of the service"
- "The value of the credentialStatus property MUST include the [...] id property, which MUST be a URL."
- "The value of the evidence property MUST be one or more evidence schemes [...] The id

[2020-09-07 15:35] whatisthejava commented on #80
Hi, Thanks for all your hard work, I know we are late to the party but my org is looking at the verified credentials and are starting to think about implementation. We have all been around identity and distributed systems for quite a while.

While you are very specific that a subject is a thing that exists in the real world, the definition of a holder appears to change to suit the context which it

[2020-09-07 15:41] whatisthejava opened #749 "verifiable data registry description in EcoSystem"
What is the purpose of **might** in the following section

https://www.w3.org/TR/vc-data-model/#ecosystem-overview

verifiable data registry
A role a system **might** perform by mediating the creation and verification of identifiers, keys, and other relevant data, such as verifiable credential schemas, revocation registries, issuer public keys, and so on, which might be required to use verifiable

[2020-09-07 16:47] brentzundel commented on #749
This is the correct reading. While in many cases a VDR may play a role in a VC ecosystem, it might not.

[2020-09-07 17:09] David-Chadwick commented on #749
On 07/09/2020 16:41, whatisthejava wrote:

Yes this is my interpretation of might

But I agree that it is ambiguous as it could imply that a VDR does exist
and it might do abc or a VDR might exist, and if it does, ...

Essentially it is possible to configure the issuer, holder and verifier
with all the meta data they need without recourse to a VDR. And if you
have one or more VDRs you will not obv

[2020-09-08 10:23] whatisthejava commented on #749
Without a VDR I presume the issuer only has the following options to verify their own identity

Provide evidence out of band to the verifier
Provide a secured public  endpoint and delegate the responsibility to the CA that issued their certificate
Use a FIDO2 based system

Again, sorry this may be slightly off topic  but again I think the spec really needs some sample implementations to help clari

[2020-09-08 10:59] David-Chadwick commented on #749
On 08/09/2020 11:23, whatisthejava wrote:

FIDO2 does not verify the identity of the issuer, only the key of the holder

Kind regards

David

[2020-09-08 15:44] clehner opened #750 "Some example credential types not defined in example context"
The spec uses `AlumniCredential` as an example credential type in § 4.1 Contexts, and `DisputeCredential` in § 5.9 Disputes. But the example context `https://www.w3.org/2018/credentials/examples/v1` does not define those types. It does define `UniversityDegreeCredential` and `RelationshipCredential`.

There are also additional credential types used in examples not defined in the example context, b

[2020-09-08 18:33] brentzundel commented on #80
The reason it says `might` is because not all entities, even all entities in a verifiable credential ecosystem, will necessarily be holders. Some may exclusively be issuers or verifiers.
Though we imagine that most entities involved with verifiable credentials could perform any of the three roles, there is no requirement that an entity perform any one in particular.

This sentence says that if:

[2020-10-13 00:59] msporny opened #751 "Cover "authenticatability" of credential"
From Paul Knowles:

Add something to this effect to refer to what is meant by "verifiable":

[2020-10-13 07:54] David-Chadwick commented on #751
On 13/10/2020 02:00, Manu Sporny wrote:

No, its more than this. If you are only checking the signature, then
that is authentication only.

Verifiability means also that the syntax of the entire VC is correct,
its @context and schema.

Kind regards

David

[2020-10-28 15:23] TallTed commented on #748
I would say that the instances of `URL` flagged here should be changed to `URI`.

This is likely true of all occurrences of `URL` in the doc, but I cannot say definitively without seeing each occurrence in context.

[2020-11-15 22:14] tplooker opened #753 "Default vocab for credentials context v2"
JSON-LD defines a way to specify the [default vocabulary](https://www.w3.org/TR/json-ld11/#default-vocabulary) for properties and types that otherwise do not match a term definition. Currently the credential context v1 does not make use of this feature, meaning producers of VC's must be explict in their term decelerations for all properties used, otherwise the jsonld signatures signing process wil

[2020-11-15 22:15] tplooker commented on #753
Interested in feedback and thoughts from @msporny @dlongley @OR13

[2020-11-16 14:15] OR13 commented on #753
I think defaulting is probably slightly better than dropping properties, but throwing an error remains the best thing to do here.

The question remains, why would you sign anything you don't understand?

If we added `@vocab` if would need to come with some strong warnings, and I would want pretty much all processors to throw instead of warn...

Right now, using undefined terms is more likely to ca

[2020-11-16 15:22] David-Chadwick commented on #753
This is not a new problem or issue. LDAP introduced the extensibleObject object class for the same reason, so that undefined attributes could be added to an LDAP entry. Personally I dont like this. I think all VCs that cannot be fully understood should be rejected. This is because, different to LDAP entries, VCs are primarily security tokens. So having unknown information in a security token is da

[2020-11-16 20:51] OR13 commented on #753
@tplooker and I had a chat about this... I can see the advantage of "making the tent bigger" by welcoming folks who don't understand why signing unknown properties might not be a good idea, weakening the security model of VCs if we can add the following to the spec:

`https://www.w3.org/2018/credentials/v2` documents MAY contain properties that are defaulted to "https://www.w3.org/2018/credentials

[2020-11-17 01:45] tplooker commented on #753
Another option we discussed, is for the default vocab to be defined as a security term that in present in both the credentials and security context and therefore making it a concept present at the JSON-LD signatures level not just a verifiable credentials concept (so instead of `https://www.w3.org/2018/credentials/undefinedTerm` a `https://www.w3.org/security/undefinedTerm` as the default vocab)

[2020-11-17 14:13] peacekeeper commented on #753
I don't know.. `https://www.w3.org/2018/credentials/undefinedTerm#someClaim` feels like a contradiction to me.

This sounds like `someClaim` is "undefined", and I understand this is exactly the intention, but now that term can actually be expanded just fine and there won't be any warning or error, since the default vocabulary makes it all 100% correct JSON-LD, no?

If there's an undefined term in

[2020-11-17 19:59] tplooker commented on #753
@peacekeeper I understand that it appears as a contradiction.

To be clear I think in general JSON-LD processors SHOULD at least emit a warning when any property is expanded with `@vocab` so that this behaviour can be caught regardless.

[2020-11-17 20:13] OR13 commented on #753
If we are talking about a spec where we get to make normative requirements, I would repeat my assertions:

1. JSON-LD Processors SHOULD throw an ERROR
2. JSON-LD Processors MUST emit a warning if they don't throw an error

This is a spec related to cryptographic assertions / security... swallowing errors / warning is a terrible idea from a security perspective.... I can understand developers from

[2020-11-17 20:16] tplooker commented on #753
This issue goes right to the core of the extensibility model for verifiable credentials. If we look at neighbouring technologies such as JWT they support what are known as [public and private claims](https://tools.ietf.org/html/rfc7519#section-4) where public are recommended to be registered in the IANA registry, private are subject to collision and should be used with caution. At the moment we fo

[2020-11-17 20:22] tplooker commented on #753
I also dont think a signed property that has been expanded to an IRI of `https://www.w3.org/2018/credentials/undefinedTerm#someClaim` that when dereferenced clearly states to the user "Hey this property is not formally registered so we dont have a formal definition for you" doesn't mean we are defaulting open from a security perspective IMO

[2020-11-17 20:26] OR13 commented on #753
1. `@vocab` being used indicates a potential security issue that at least should yield a warning.
2. `@vocab` is useful for folks who like seeing warnings in their production security applications.

I personally don't like seeing warnings, and I don't like setting `additionalProperties:true` in JSON Schema or `const data: any = {}` in typescript.

I don't think we should hand developers a tool whi

[2020-11-17 20:33] OR13 commented on #753
case in point, if I add `__proto__` and it get preserved with a warning instead of a thrown error, and then some system passes that "valid VC" to another verifier systems that is vulnerable, I can actually get remote code execution on the verifier...

https://itnext.io/prototype-pollution-attack-on-nodejs-applications-94a8582373e7#:~:text=The%20Prototype%20Pollution%20attack%20(%20as,Remote%20Code

[2020-11-17 20:40] tplooker commented on #753
+1 to a warning

[2020-11-17 20:51] OR13 commented on #753
perhaps we can split this up into:

1. `@vocab` detection MUST/SHOUDL yield a warning.
2. `@vocab` is included in credentials/v2

I could be supportive of both, but 1 is decidedly less controversial given the disclosed issue above.

[2020-11-17 21:01] OR13 commented on #753
apparently folks are already exploiting this behavior... https://github.com/blockchain-certificates/cert-verifier-js/blob/master/src/inspectors/computeLocalHash.js#L67

[2020-11-17 21:07] OR13 commented on #753
ping @msporny @dlongley

[2020-11-18 12:24] David-Chadwick commented on #753
This is not what happens in practise. If you look at today's browsers and interception products with X509 certs, they typically fail open rather than closed, because usability trumps security. We have written about this extensively, see for example

Wazan, Ahmad Samer; Laborde, Romain; Chadwick, David W; Kallel, Sana; Venant, Rémi; Barrere, François; Benzekri, Abdelmalek; Billoir, Eddie. "On the V

[2020-11-18 14:19] msporny commented on #753
Big -1 to this :) for at least the following reason:

This is a security vocabulary and reasonable defaults should lead to failing closed. By that, I mean that if something is not defined, we shouldn't assume what the developer intended because while we may be right 99.99% of the time... the 0.01% of the time that we're wrong will be used as a catastrophic exploit in some critical infrastructure s

[2020-11-18 14:22] msporny commented on #753
That's terrifying.

[2020-11-18 16:37] OR13 commented on #753
@msporny might we consider adding a warning or throwing an error if `@vocab` is detected? As you can see, folks are already digging graves for their users with this feature.

[2020-11-18 17:51] dlongley commented on #753
I think we've got a tooling problem -- not a spec problem here. We need better tools that make things easier for people to check their vocabularies, figure out what to do to fix them, or automate this process for them in a *safe* way. I don't think we need to (or should) change the core security underlying it all. VCs are improvements over existing systems for a number of reasons, one of which is

[2020-11-18 17:57] OR13 commented on #753
@dlongley nobody is going to implement tooling support for non-normative requirements... IMO this is a spec issue, and presence of `@vocab` should result in an error, or at least a warning.... implementers should be normatively required to address this, because not doing so will lead to the kind of hacks noted in this thread:

1. schema.org being included and `@vocab` silently swallowing undefined

[2020-11-19 02:32] tplooker commented on #753
Ok so can we clarify the intended behaviour here, e.g in ANY case of using `@vocab` for expansion, whether it be the default one (or not as people are saying no) should a JSON-LD processor warn when doing JSON-LD expansion for the purposes of producing a linked data proof OR should it error?

I believe it should at least warn, as it is trivial to include in a documents context today a context that

[2020-11-19 02:36] tplooker commented on #753
@David-Chadwick would you not still be able to detect which terms are fully understood with the expanded IRI that was used e.g `if (term.startsWith("https://www.w3.org/2018/credentials/undefinedTerm#"))` its unknown

[2020-11-19 02:51] tplooker commented on #753
Or better still `if term.type == https://www.w3.org/2018/credentials/undefinedTerm`its unknown

[2020-11-19 10:07] nikolockenvitz opened #754 "Example uses DriversLicense as evidence for a UniversityDegreeCredential"
Currently, the following example uses a DriversLicense as evidence for a UniversityDegreeCredential. I guess that is not intended and was just missed when updating all examples from "age over 21" to a UniversityDegreeCredential (e01929884eea4793234210cf2d3acb58d27828ae).

https://github.com/w3c/vc-data-model/blob/44dc624f11daf0def340614907830ac2f37c8e38/index.html#L2882-L2889

A more suitable evid

[2020-11-19 12:36] David-Chadwick commented on #753
In X.509 you dont say whether the term is undefined or not, rather the recipient decides if it understands it or not. But each extension (term) is marked critical or not. Critical means you HAVE to understand it or reject the certificate. Not critical means you can safely ignore this term if you dont understand it. So mapping this to undefined schema terms, then each one would need to be marked cr

[2020-11-19 20:58] kdenhartog opened #755 "Defining a V2 context here will require an update to normative statements"
Is it appropriate for us to update the normative statement below under our current maintenance charter?

`The value of the @context property MUST be an ordered set where the first item is a URI with the value https://www.w3.org/2018/credentials/v1.`

to

`The value of the @context property MUST be an ordered set where the first item is a URI with the value https://www.w3.org/2018/credentials/v1 or

[2020-11-25 18:24] OR13 opened #756 "credentials/v2 should allow additional proof purposes"
Currently we have:

`assertionMethod` -> issuing credentials
`authentication` -> signing verifiable presentations

I suggest we add support for `capabilityInvocation` and `capabilityDelegation`, and we harmonize the ZCAP-LD / object capabilities APIs with the VC Data Model.

As an issuer I should be able to issue a  `["VerifiableCredential", "AuthorizationCapability"]`, using `capabilityDelegation

[2020-11-25 19:10] OR13 commented on #756
Here is a complete example of what I mean:

- [hypothetical spec](https://transmute-industries.github.io/authorization-credentials/)
- [working examples](https://github.com/transmute-industries/authorization-credentials/tree/master/examples)

[2020-11-25 22:29] tplooker commented on #753
So in this model you are saying that all properties in a VC MUST always be understood by the verifier, otherwise it should reject it, meaning there is no notion of optionally processed information in a VC?

[2020-11-25 22:33] tplooker commented on #753
Agree, because on the surface just because a term has a formal definition it does not directly imply that every consumer understands that definition, unless you impose the constraint you spoke of above that all terms MUST have definitions and all verifiers MUST always understand ALL definitions of data they are consuming.

[2020-11-26 01:04] llorllale commented on #756
This is hard to fully understand the implications without an actual ZCAP-LD spec to compare against.

The use of caveats in the examples catches my eye because I've been wondering lately what the actual differences between `allowedAction` and `caveat` are supposed to be?

Beyond that, [ZCAPs are not Verifiable Credentials](https://github.com/w3c-ccg/zcap-ld/issues/6). Pulling in @cwebber @dlongley

[2020-11-26 12:53] David-Chadwick commented on #756
The converse is also true. VCs have no dependency on ZCAPs and do not need ZCAPs in order to be used for authorisation purposes. VCs (and their physical equivalents) are already used for authorisation purposes every day. I see no reason to have ZCAPs. VCs can do everything ZCAPs can do and more. (But we have already had this discussion over a year ago)

[2020-11-28 21:20] dlongley commented on #756
I don't think we should be mixing identity claims and authorizations. I think the separation we have now is good and useful, and helps us avoid potentially dangerous (for both security and privacy) combinations.

[2020-11-28 23:56] David-Chadwick commented on #756
Identities are authorisations today. You use your age to buy alcohol. You use your driving license to hire a car. You don't need a ZCAPs for any of these. ZCAPs are a distraction. VCs are perfectly adequate. The entire RBAC/ABAC model is based on identities.

[2020-11-30 13:59] NikosFotiadis opened #757 "Verifiable Credential status"
Hi everyone,
I have a question regarding reading the status of the verifiable credential.

I am using an ethereum smart contract to store verifiable credentials and the status of the. In order to read the status of a credential, the spec says that the `credentialStatus` object can contain a link. Can that be a link to an endpoint that will read the status from the smart contract and return it?

Ob

[2020-11-30 14:52] OR13 commented on #756
I didn't post that hypothetical ZCAPs as VCs example to start a flame war, but to highlight weaknesses in the existing specs that are in my opinion, unnecessary and confusing for developers.

In the VC Data Model:

- there are only 2 proof purposes and they are explicitly NOT for capabilities
- the VC Data Model as a format "VC-JWT" which begs the question of `access_token` VCs...

In the ZCAP-LD

[2020-11-30 15:20] OR13 commented on #753
This issue is a bit of a tire fire... can we split this up into a few separate issues?

IMO they should be:

1. Add warning about `@vocab` to spec.
2. Add mandatory error for processing `@vocab` to spec
3. Add ability to override error by defaulting `@vocab` to something that resolves to human readable documentation.

We don't need to agree to all 3, but we should be able to easily agree to 1.

[2020-11-30 15:52] David-Chadwick commented on #756
The VC data model is open. Any property can be assigned to a subject ID by the issuer. So an issuer can assign a capability attribute to a subject ID in just the same way that it assigns an identity attribute to it. The subjectID is also optional, so the capability attribute can be a bearer token when the subject ID is missing. So I fail to see why VCs cannot be either identity tokens or authorisa

[2020-11-30 16:12] SmithSamuelM commented on #756
From an adoption on secure tooling perspective. It makes sense to have one verifiable container standard with multiple semantics on how to interpret the contents of that verifiable container. Verifiable means verifying signatures not anything else. Thus to have two different verifiable container standards each with different security tooling and signature verification processes merely to convey tw

[2020-11-30 16:16] SmithSamuelM commented on #756
My suggestion is that we want a single stack of  thin layers not multiple stacks of parallel thick layers.

Establish Control Authority over PKI for Signatures
Authentic Data Containers with Verifiable Signatures
Chaining Containers
Attributes  | Authentication

[2020-12-12 17:41] OR13 opened #758 "Fix the vc-data-model namespace with https://www.w3.org/ns/vc/v2"
In DID Core we have `https://www.w3.org/ns/did/v1`... in vc-data-model we have `https://www.w3.org/2018/credentials/v1`... this is confusing for developers.

I propose we fix this with vc-data-model v2 by creating:

`https://www.w3.org/ns/vc/v2`

[2020-12-14 09:31] RieksJ opened #760 "Authenticators for nodes"
There are lots of use-cases in which a VC that contains claims about different subjects is to be used in situations where more than one of these subjects need to be authenticated. For example, in the case of a marriage credential both persons need to be authenticated in order to determine whether are not they are married. In case of a guardianship credential, a guardian should only be allowed to e

[2020-12-14 09:45] David-Chadwick commented on #760
On 14/12/2020 09:31, Rieks wrote:

I would rather say 'needs to prove possession' rather than 'be
authenticated'.

It is the responsibility of the VC Issuer to authenticate the subject(s)
that it includes in the VCs it issues. How it does this is its
responsibility. It might put details in an Evidence property, but it may
not. Its a question of trust by the verifier as to what it requires when
val

[2020-12-14 10:04] RieksJ commented on #760
I can see that the Pat & Sam example is confusing.

Consider the case in a hospital, where a patient is in a coma. Then, another person arrives and tells a doctor to stop that patient's treatment, and that (s)he must do so because the person is the patient's guardian. The doctor would then need to ensure:
- that the guardianship credential that the person produces verifies;
- that the person is in

[2020-12-14 11:02] David-Chadwick commented on #760
I completely agree with your example. This is called Power of Attorney
in the UK.

The person in a coma (called the donor in the UK) has an identity (note,
not an identifier) and the doctor can check the identity of the comatose
person/donor with what the PoA certificate says the donor's identity is.

No special authentication property is needed for this. The PoA
certificate only needs to state th

[2020-12-14 12:20] RieksJ commented on #760
I'm quite confident that in the UK you can't just go in waving a PoA, claim that you are the guardian mentioned in the PoA, claim that this patient here is the donor of the PoA, and then have his life support systems cut off. Before even considering this request, the doctor will need to make sure that you are the person that the PoA calls the guardian (which I consider as authentication of the gua

[2020-12-14 12:51] David-Chadwick commented on #760
Have you ever applied for PoA in the UK? I have, so I am familiar with
the financial PoA application and use, but not with the health PoA, as
they are separate (but similar) applications. In both cases the attorney
has to act in the best interests of the donor. So whether switching off
the machine is in the patient's best interests or not is independent of
the PoA, as relatives are allowed to comp

[2020-12-14 16:09] agropper commented on #760
I understand this issue in terms of notarization and it would be helpful if
VC were clear as to how a notary can participate in a signature ceremony or
a verification ceremony.

In typical usage, a notary co-signs an issuance ceremony and makes a
(private) log entry that references the identity proof of one party to the
ceremony, e.g. a driver's license.

The notary does not care about the actual

[2021-01-11 22:39] kimdhamilton opened #761 "Example 45 contains "revocation" property not defined in LD contexts"
[Example 45](https://www.w3.org/TR/vc-data-model/#example-45-a-holder-presenting-a-verifiable-credential-that-was-passed-to-it-by-the-subject) contains a VC with the `revocation` property, which is not defined in either LD context:

- https://www.w3.org/2018/credentials/v1
- https://www.w3.org/2018/credentials/examples/v1

While a custom LD context could define this, I'm wondering if this example

[2021-01-17 15:41] OR13 commented on #753
another developer bitten by `@vocab` https://gist.github.com/gorazdko/d40eda20846a8e20ac277f81e5661d34#vc-js-test-case

Do I need to weaponize this to get it fixed ? :)

[2021-01-17 16:43] msporny commented on #753
+1 to this.

I'm a bit hesitant to do this -- happy to require issuing a warning, though?

+1 to overriding default behavior, which would be to throw or complain loudly... just re-affirm that you want to use `@vocab` and the value you're expecting it to be.

[2021-01-29 02:50] kdenhartog commented on #761
This looks like it might just be a bad example where `revocation` should have been updated to `credentialStatus`, but got skipped over.

In the case that this is actually intended to be a property though we can get it added to the v2 context but we should probably also get the property a definition with an errata or via an extension in [this registry](https://github.com/w3c-ccg/vc-extension-regist

[2021-01-29 02:55] kdenhartog opened #762 "Can a credentialSubject be only a string value?"
All examples within the VC test suite and in the examples within the specification show the credentialSubject as an object. However there is no normative language which specifies that this property MUST be an object. Is this a case where a normative statement was missed?

The reason for asking is because we've found an edge case where a frame is modifying the credential subject from an object to a

[2021-01-29 09:47] dpjanes opened #763 "Credential type for Vaccination Passports?"
What would be an appropriate credential type for a "Vaccination Passport" / "Medical Test Result"? e.g. a credential asserts that I've received a vaccination or got a test. Or should a new type be created, e.g. `HealthCredential`.

[2021-01-29 11:36] dpjanes commented on #763
Although now looking further, it seems that credential types are all very loose at this time?

[2021-01-29 14:00] msporny commented on #762
It is probably an oversight, yes.

To be clear, having a URL as the value of credentialSubject in JSON-LD is completely legal -- but really weird, probably not having any practical value. It effectively states: There exists a verifiable credential for the credentialSubject identified by this URL. I have no idea what sort of use case you might want to solve with that information. :)

I expect that

[2021-02-02 01:47] kdenhartog commented on #762
Figured out the issue was that we were using the `@explicit` property incorrectly.

When using a frame like this:

[code]

we end up producing a `credentialSubject` value that is the id represented as a string of the `credentialSubject` object. By changing the explicit property to false when it's the only property it properly reveals as expected (all properties).

In any case, I'm thinking we may

[2021-02-04 18:54] OR13 commented on #763
Implementers are responsible for creating their own credential types, I would suggest inheriting from an stablished ontology when doing so.

[2021-02-04 19:14] tplooker commented on #763
Hi @dpjanes we have start to define an experimental vocab for this [see here](https://github.com/mattrglobal/vaccination-certificate-vocab)

[2021-02-04 20:17] dpjanes commented on #763
Hi @tplooker it looks like we are working along similar lines

https://github.com/Consensas/information-passport/tree/main/docs

or if you just want to see an example (and in action)

* https://github.com/Consensas/information-passport/blob/main/docs/VerifiableCredential.md
* https://passport.consensas.com/

[2021-02-04 20:35] talltree commented on #763
[Lumedic](https://www.lumedic.io/lumedic-exchange), which is part of Providence Healthcare, already has their W3C VC-based vaccination credentials in production. They are going to be publishing all of it as open source/open governance. I'll ping them about this thread.

[2021-02-06 23:47] jstclair2019 commented on #763
@dpjanes happy to discuss what Lumedic is using for Providence Health Systems. As @talltree said we'll be releasing our schema through the Lumedic Exchange and publishing to the web as a v1, with a possible GitHub repo.

[2021-02-06 23:55] tplooker commented on #763
@jstclair2019 thats great, are you using a JSON-LD based schema representation?

[2021-02-06 23:59] tplooker commented on #763
@dpjanes thanks for the links! note the examples in our linked repo are also valid verifiable credentials that we produced with our infrastructure to verify the vocabulary definition. The JSON-LD syntax in your linked example is interesting, would be great to chat about it more?

[2021-02-07 00:25] jstclair2019 commented on #763
@tplooker Tobias, great question. We are based on the Aries stack, so at this point we are ZKP-CL, however we want to evaluate migration to JSON-LD/BBS+ eventually. As you probably know, healthcare is highly regulated and our architecture was reviewed through Compliance as part of implementation. We are also looking to follow-on accreditation (HIPAA/HITRUST, FISMA, etc) and the use of these specif

[2021-02-07 00:49] tplooker commented on #763
@jstclair2019, thanks for the clarification. One of the goals of the approach we have taken is to be able to issue fully conformant W3C Verifiable Credentials out of the box, that are using an underlying vocab that defines as little as possible, in our opinion ideally it should really be just aggregating existing definitions from the relevant healthcare standards. It would be great to review your

[2021-02-07 01:06] jstclair2019 commented on #763
@tplooker Yes, I fully agree with your summation. I understand Ontario recently sponsored a code-a-thon around JSON-LD/BBS+ and I'm hoping some lessons come out of that we can leverage. This is a good use case example of why we created the Lumedic Exchange as an independent stakeholder body of health industry reps to contribute to standards adoption and conformance. More to come!

[2021-02-07 13:51] dpjanes commented on #763
I wrote a thing about W3C Verifiable Credentials yesterday, and its issues:
https://medium.com/consensas/w3c-verifiable-credentials-the-fairly-odd-blueprints-ef30f3ae606a

One issue with the JSON-LD proofs is adds _a lot of code_ that never really gets used except during the signing and verification steps. 13Mb by my count, though likely there's a lot of duplication. This is fine for backend proce

[2021-02-07 15:51] jstclair2019 commented on #763
@dpjanes You bet, it was actually a competitive procurement, and it was British Columbia not Ontario, sorry: https://digital.gov.bc.ca/marketplace/opportunities/code-with-us/3f9f0e86-b8bf-47ee-9f3d-5b272f9ec845
I rad your Medium post about the size of the JSON-LD proofs and thought it was a good summary, as well.

[2021-02-07 17:59] dlongley commented on #763
@jstclair2019 and @dpjanes,

A quick (pedantic?) note for readers here. The size of JSON-LD proofs themselves isn't covered in that article, rather the node.js installation size of the most commonly used JavaScript JSON-LD processor is covered. Furthermore, it's not clear what's meant by this note in the article:

If this is read literally and you're verifying a message *in your web app*, then you

[2021-02-07 18:05] jstclair2019 commented on #763
Thanks @dlongley ! Speaking for myself, I appreciate that sort of clarification. I'm also glad to keep plugging the work we seek to do in [Lumedic Exchange](https://www.lumedic.io/lumedic-exchange) for stakeholders to define the use cases and workflows that consider these technical aspects as part of any proposed specs/implementation guides.

[2021-02-07 18:48] dpjanes commented on #763
I literally just did `npm install jsonld` and showed the output in the article. So even if it compresses to 60KB or 13KB, that's still 60KB or 13KB of code that does one thing on a client: unpack a JSON object into a graph, apply an algorithm, and say "yes" or "no".

But yes thank you @dlongley, I will add a note. I'm not trying to misrepresent anyone, and the last thing I want to be doing is impl

[2021-02-08 15:55] OR13 commented on #763
JSON in not mean to be size efficient.... use CBOR or GZIP if you need things to be smaller... use JSON for human / machine readable formats... side note, base64url inflates JSON even more, making VC-JWT both large and not human readable.

the vc data model is about a semantically unambiguous verifiable credential format that is both human and machine readable.

You will likely need to apply compr

[2021-02-11 15:08] bertvannuffelen opened #764 "URI deferenceing"
In https://www.w3.org/2018/credentials/v1

jsonld mappings are made to cred:credentialStatus which corresponds with the URI
https://www.w3.org/2018/credentials#credentialStatus.

This URI results in a 404.

kr,

Bert

[2021-02-15 00:43] kdenhartog commented on #764
Yeah unfortunately the IRIs within the context don't actually link to definitions of the properties. This is a mistake that's been recently discussed on the mailing list about how to fix. For now the definition for this term can be found here: https://www.w3.org/TR/vc-data-model/#status

[2021-02-15 16:19] brentzundel commented on #725
@victorherraiz-santander not sure if there is more that you are looking for here. Would it be okay to close this?

[2021-02-15 16:38] brentzundel commented on #738
@marceljay has your question been answered such that this issue could be closed?

[2021-02-15 16:39] wyc commented on #740
Hi @kryptojet, is this still a concern? If so, could you please restate your questions or concern as there may have been changes since your posting.

[2021-02-15 16:45] brentzundel commented on #753
The chairs feel that work on this issue is outside the scope of the maintenance working group.
This doesn't mean work cannot continue, but that it would need to be included a future version of the specification.

[2021-02-15 16:46] brentzundel commented on #755
The chairs feel that work on this issue is outside the scope of the maintenance working group.
This doesn't mean work cannot continue, but that it would need to be included a future version of the specification.

[2021-02-15 16:47] brentzundel commented on #756
The chairs feel that work on this issue is outside the scope of the maintenance working group.
This doesn't mean work cannot continue, but that it would need to be included a future version of the specification.

[2021-02-15 16:49] brentzundel commented on #760
The chairs feel that work on this issue is outside the scope of the maintenance working group.
This doesn't mean work cannot continue, but that it would need to be included a future version of the specification.

[2021-02-15 17:08] msporny commented on #753
Hmm... that depends on the definition of "maintain"... :)

I always took "maintain" to mean "keep the specification up to date with where the market is going. WHATWG tends to say "living document". I agree that we don't want to go that far.

However, what I'm most concerned about is not giving people an outlet for changes such as the one @tplooker is proposing, which is a reasonable proposal. If f

[2021-02-16 15:06] OR13 commented on #756
thanks @brentzundel I agree.... I propose we handle this as follows:

1. create a ccg work item that works to unify verifiable credentials and https://github.com/w3c-ccg/zcap-ld

2. setup a w3id.org namespace for capabilities under credentials: https://github.com/perma-id/w3id.org/tree/master/credentials which defines the same terms that are used by did core for these features

3. Work to explain

[2021-02-16 18:57] brentzundel commented on #753
To be more clear, the `defer` label reflects a initial determination of the chairs according to their understanding of the issue.
Fortunately, understandings can change over time. As we said above, we want the work on this issue to continue, which means we feel it should continue here.
The defer label warns that it is not clear that a proposed solution to the issue will fit within the narrow confi

[2021-02-16 22:08] clehner opened #765 "nonTransferable not in context"
The [nonTransferable property](https://w3c.github.io/vc-data-model/#nontransferable-property) (non-normative section) is not in the credentials v1 JSON-LD context or in the example context. [json-ld-api](https://github.com/w3c/json-ld-api/) says keys without definitions in context should be [ignored](https://w3c.github.io/json-ld-api/#overview-3) during JSON-LD expansion - but [vc-http-api](https:

[2021-02-26 01:07] kdenhartog commented on #755
That's alright. It will make the security-vocab v3 work a bit obsolete, but I think we're trending towards smaller contexts (not kitchen sink ones) unline security-v3-unstable is currently.

[2021-03-05 00:09] mgh128 opened #766 "Is there a problem with retrieval of https://www.w3.org/ns/odrl.jsonld (used within https://www.w3.org/2018/credentials/examples/v1 ) ?"
I've tried pasting some of the Verifiable Credential examples into https://json-ld.org/playground

For example, when I paste in the JSON-LD from https://www.w3.org/TR/vc-data-model/#example-6-usage-of-the-credentialsubject-property
I'm seeing `Processing Error:  jsonld.InvalidUrl: Dereferencing a URL did not result in a valid JSON-LD object. Possible causes are an inaccessible URL perhaps due to a

[2021-03-05 10:46] philarcher commented on #766
Tagging @msporny and @gkellogg on this in case it's a JSON-LD playground issue?? Or, at least, an issue that some debug trace might yield useful info??

[2021-03-05 13:47] msporny commented on #766
@mgh128 -- the example works for me pasted as-is into the JSON-LD playground. I don't have to modify anything.

The error you're seeing seems like a client-side CORS error. That is, for whatever reason, your browser can't download the ODRL file. I checked that file at W3C and the CORS headers are set... but they may be old, or you may have something funky going on w/ your browser. Everything in th

[2021-03-05 14:09] mgh128 commented on #766
Hi @msporny

Thanks for investigating.  I'm having the problem in the latest version of Chrome (Version 89.0.4389.72) on a MacBook Pro running macOS 10.14.6.  However, I'm not seeing the problem in Firefox v86.0 nor in Safari 13.1 - so you're right, it appears to be an oddity within Chrome.

I'm not behind any aggressive corporate or university firewall and the fact that it works for me in Firefox

[2021-03-05 14:27] msporny commented on #766
Chrome has been flipping new security switches on as of late that "shouldn't affect anything", but are breaking sites. Sometimes these flags stay flipped on, sometimes they flip them back off.

My guess is that Chrome changed CORS behavior in their latest release and now we have to deal with it by either changing the CORS flags at W3C OR fixing some code somewhere. We hate dealing w/ these sorts o

[2021-03-05 14:36] mgh128 commented on #766
Hi @msporny

I'm glad it was helpful to alert you to this, even if it's unwelcome news.  I'm fairly sure I was also seeing it when I was still in the last version v88 of Chrome before I upgraded Chrome to v89 within the last hour - so you might even see the issue before you reach v89 of Chrome.

We appreciate your efforts and the efforts of others to fix it when time permits - but no pressure from

[2021-03-05 14:48] msporny commented on #766
I appreciate that. It'll get fixed in time -- if we don't fix it, we spend time in Github having discussions like these (which is welcome the first few times it happens... always nice to connect with other developers and try to help where we can... but then quickly loses it's luster upon the 15th time we have to explain what's going on and why we haven't fixed it yet). :P

As a relevant aside -- P

[2021-03-05 19:53] davidlehn commented on #766
I did a quick test last night and it worked.  Today I got around to testing on more browsers and everything worked.  So I'm not sure what might be wrong.  It's more difficult to test these days since I think all browsers decided in their infinite wisdom that CORS preflight OPTIONS requests are to be hidden.  Or at least I don't see them anymore.  That makes it difficult to even debug if CORS is do

[2021-03-05 20:42] mgh128 commented on #766
Hi @davidlehn
Thanks for the follow-up.  I think I've done what you suggested and have attached the console log and the HAR trace file.
The console log does mention a CORS problem in the log:

(index):1 Access to XMLHttpRequest at 'https://www.w3.org/ns/odrl.jsonld' from origin 'https://json-ld.org' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requeste

[2021-03-05 21:39] brentzundel commented on #765
this may be a duplicate of #731

[2021-03-05 22:12] davidlehn commented on #766
@mgh128 Looks like CORS headers are not in the odrl response.  Not sure how accurately that HAR file captures what happens.  Using the "Copy as cURL" command shows it returning different headers.  Suggestion was it may be a Chrome 89 issue, maybe due to their COOP, COEP work?  @dlongley also reported a failure in Chrome 89ish.

I just used this as an excuse to install/update browsers and this all

[2021-03-05 22:28] clehner commented on #765
Yes, it is, thanks @brentzundel

[2021-03-05 22:28] #765 closed

[2021-03-05 23:32] mgh128 commented on #766
@davidlehn Thanks for the further testing.
I've just tried your two links above for indirect ODRL load vs direct ODRL load.  Both work fine in Firefox 86.0 and in Safari 13.1. Both fail with four identical Processing Errors displayed in JSON-LD playground when I try in Chrome 89.0.4389.72 on my Mac, running macOS 10.14.6.
I don't desperately need it to work in Chrome, so long as it works reliably

[2021-03-06 03:04] dlongley commented on #766
It seems to be a caching problem. I was having the same problem (on Chrome 89) where the `access-control-allow-origin` header was not present on the response. I opened the devtools in Chrome and clicked `Disable Cache`. Then I tried again and the odrl context loaded properly. After re-enabling cache I could no longer reproduce the problem.

[2021-03-16 16:36] llorllale opened #768 "Is credentialStatus required or not?"
All other base properties in section 4 seem to be clear on whether they are required or not except `credentialStatus`. Please clarify in the spec whether `credentialStatus` MUST or MAY be present.

[2021-03-23 13:54] msporny opened #769 "AlumniCredential missing from example VC context"
The AlumniCredential term is missing in the Verifiable Credentials Example context: https://www.w3.org/2018/credentials/examples/v1

... which causes the value to be interpreted as a relative URL in Example 2, which is wrong:

https://www.w3.org/TR/vc-data-model/#example-2-a-simple-example-of-a-verifiable-presentation

Thanks to @iherman for catching the bug.

[2021-03-23 15:00] iherman opened #770 "Bug in the credential vocabulary specification"
The current credential [vocabulary](https://w3c.github.io/vc-data-model/vocab/credentials.ttl) says:

[code]

However, both the specification and the official context file specifies that the value of `cred:verifiableCredential` is a _graph_, more exactly the label of a graph; the graph itself consists of a verifiable credential. This is also clear on the set of quads generated from one of the exam

[2021-03-23 15:13] iherman commented on #769
@msporny, this is not a normative file; i.e., I believe it is perfectly all right to update the file on the repository without any further ado.

[2021-03-23 15:22] msporny commented on #769
In this particular case, I completely agree with you, but our reasoning might be different.

It's ok to add something to this particular context to fix a bug because it's just an example context. No one should be using it for anything production grade.

If we had to make the change in the `https://www.w3.org/2018/credentials/v1` (the main context)... I would object as it could change the signature

[2021-03-23 15:28] iherman commented on #769
Agree. Beyond what you say, by the way, the spec includes a copy of the main context (which should be considered, therefore, the authoritative version). All the more reasons not to change without some general agreement and care.

[2021-03-23 16:54] clehner commented on #769
There is also `DisputeCredential`, used in [Example 26](https://www.w3.org/TR/vc-data-model/#example-26-a-subject-disputes-a-credential]) but not in the examples context. Reported in https://github.com/w3c/vc-data-model/issues/750

[2021-03-27 17:45] msporny commented on #770
My initial gut reaction is that you're correct, @iherman... however, there was a lot of consideration that went into this part of the design that escapes me now. I'll have to go back and remember the thought process that led us there. One of the issues was transitioning from RDF Graphs to RDF Datasets... the early versions of the work predated RDF Datasets and when it came time to support them ful

[2021-03-27 19:16] dlongley commented on #770
Yes, the value of `cred:verifiableCredential` should be a graph which contains a VC. This is important for containerizing/isolating statements so one can determine their origin and properly recompute their hashes and verify their proofs and so on. Proofs work in a similar way; each proof in a set of proofs must be isolated from each other and from the document to which they apply so that there is

[2021-04-13 11:08] TobyEalden opened #772 "verificationMethod URI is incorrect in a couple of the examples"
A minor erratum, but the example URI given in the proof verification method [here](https://github.com/w3c/vc-data-model/blob/main/index.html#L955) and [here](https://github.com/w3c/vc-data-model/blob/main/index.html#L1011) does not include the issuer component in the path.

This is also inconsistent with [other examples](https://github.com/w3c/vc-data-model/blob/main/index.html#L5871).

[2021-04-25 11:57] TimoGlastra commented on #726
I'm not sure if this got resolved in the mailing list, but we're currently creating invalid VCs due to credential schema being required.

@brentzundel you made the following comment:

For ZKP credentials, the credentialSchema property is required, because it it the official extension point for providing any additional information (beyond what is needed for basic credentials) needed to verify a ZKP

[2021-04-25 16:26] dlongley commented on #726
I presume the requirement that is being referred to is this:

I think this language was a mistake, was probably done because of too much focus on CL signatures, and, ultimately, isn't really enforceable. It's quite unclear what it even means to say "when a verifiable credential is to be used in a zero-knowledge proof system". The spec does not define what a "zero-knowledge proof system" is. The sp

[2021-04-27 12:00] pchampin opened #775 "Typo in description of Figure 7"
The describing text in [§3.3](https://w3c.github.io/vc-data-model/#presentations) says:

but it seems to me that it should say

[2021-04-27 13:09] pchampin opened #776 "Example 22 uses termsOfUse"
[Example 22](https://www.w3.org/TR/vc-data-model/#example-22-usage-of-the-termsofuse-property-by-a-holder) uses `termsOfUse` as a property of a veriable presentation.

However, in [the context](https://www.w3.org/2018/credentials/v1), `termsOfUse` is only defined in the local context of `VerifiableCredential`.

[2021-04-28 15:44] TimoGlastra commented on #726
Thanks @dlongley. This makes sense

[2021-04-29 18:12] TallTed opened #777 "all-but-illegible text style needs fix for humans"
Brought to eye by #775, the `<span class="color-text" style="color:#b4a7d6;">` and similar [here in the source](https://github.com/w3c/vc-data-model/blob/6c429cfc54ebfa6f5b74a95dd51d46eed7856b9e/index.html#L834-L843), and [here in the preview (describing figures 7 and 8)](https://w3c.github.io/vc-data-model/#basic-vp) is all-but-illegible in my browser (Chrome Version 90.0.4430.93 (Official Build)

[2021-05-03 16:26] kuzdogan commented on #775
@pchampin seems to be right. The full sentence is: "The `verifiablePresentation` property in the graph refers to one or more **verifiable credentials** (each a self-contained graph) which in turn contains credential metadata and claims."

Also in Figure 8 the described edge is labeled as `verifiableCredential`.

[2021-05-03 16:43] kuzdogan opened #778 "Base context v1 missing `sec:` mapping in RsaSignature2018 "@context""
I've been looking into the [base context](https://www.w3.org/2018/credentials/v1) and a minor PossibleErratum caught my attention. In the `"@context"` of `RsaSignature2018` property the shorthand `sec:` is used several times, but the definition is not given, as in other properties.

RsaSignature2018:
[code]
whereas in `EcdsaSecp256r1Signature2019` for example
<pre>
    "EcdsaSecp256r1Signature2019

[2021-05-10 15:09] brentzundel commented on #777
We agree this needs fixing.

[2021-05-10 15:17] brentzundel commented on #778
I agree this is a correction that needs to be made to the security vocabulary. @OR13  @msporny @tplooker I believe you are the owners of the security vocab work item at the CCG.
We will close this issue as soon as it has been picked up by the security vocab folks.

[2021-05-10 15:21] msporny commented on #776
Yes, this is a bug in the JSON-LD context, nice catch @pchampin!

Noting what the spec [says for ToU](https://www.w3.org/TR/vc-data-model/#terms-of-use):

"Terms of use can be utilized by an issuer or a holder to communicate the terms under which a verifiable credential or verifiable presentation was issued."

We always meant `termsOfUse` to be usable from within a presentation... we just didn't c

[2021-05-10 15:34] msporny commented on #778
Hrm, no, not in the security vocabulary... the bug is in the VC JSON-LD Context -- good catch @kuzdogan!

This means that RsaSignature2018 is completely broken in the 2018 Verifiable Credentials context... which tells me that no one is using that particular cryptosuite for VCs. :)

I'll note that the Ed25519Signature2018 definition doesn't have the same problem.

Changing this would be a substanti

[2021-05-11 14:32] peacekeeper commented on #778
I think one possible reason why this hasn't been detected sooner might be that during creation and verification of the `RsaSignature2018` proof, you never actually serialize the entire VC (including the proof) to N-Quads as it is shown above in a few examples.

You serialize the "proof options" separately from the "VC without the proof".

An implementation might serialize the "VC without the proof

[2021-05-11 16:09] clehner commented on #778
This is correct. I've updated the examples I wrote to add the N-Quads for VC only and proof only.

For serializing the proof options, Spruce/[ssi](https://github.com/spruceid/ssi/)'s implementation merges the local context from the linked data document (VC without proof) into the proof object. So it still uses the compact IRIs in this case. If `https://w3id.org/security/v2` was used instead, that

[2021-05-15 06:40] kdenhartog opened #779 "Is an Verifiable credential in JSON-LD expand form valid?"
We've recently been toying around with the idea of how to enable verifiable credential validation in offline scenarios and have hit a bit of a snag around retrieval of arbitrary context files. One of the ways we've looked to get around this is to include the semantics by passing a VC in the expanded form and including a list of contexts so that the credentials can be mapped back to a valid compact

[2021-06-14 15:35] kdenhartog commented on #164
This was discussed on the WG call today. We decided that this will be defered to v2 since it's not fixing a bug and is instead looking to extend the current spec.

[2021-06-14 15:35] msporny commented on #47
The VCWG discussed this on the call today. We are seeking feedback on concrete specification changes that the original issue submitters would like. We have not seen anything in two years on this issue. The VCWG is marking this issue as pending close and will close the issue in 30 days if we don't have engagement from the @ChristopherA and @jandrieu.

[2021-06-14 15:41] msporny commented on #105
A PR would need to be raised at this point to make a concrete, non-normative change to the spec.

[2021-06-14 15:47] kdenhartog commented on #209
This was discussed in the maintenance working group. @brentzundel believes he can write up a PR to address this one.

[2021-06-14 16:53] TallTed commented on #105
I *think* (more than 3 years out, after a conversation that ranged wildly through multiple issues, PRs, calls, etc., it's hard to be sure) that this was resolved by #277 and other PRs.  Certainly, I can find nothing like the offensive statement that opened this issue in the official [Verifiable Credentials Data Model 1.0 W3C Recommendation as of 19 November 2019](https://www.w3.org/TR/vc-data-mode

[2021-06-15 07:07] iherman commented on #47
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2021-06-14-vcwg#section3-3) on 2021-06-14

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 3.3. 3 Types of Claims

_See github issue [#47](https://github.com/w3c/vc-data-model/issues/47)._

**Brent Zundel:** recommending changes to the proof property

**Manu Sporny:** we

[2021-06-15 07:07] iherman commented on #76
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2021-06-14-vcwg#section3-1) on 2021-06-14

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 3.1. Define SHACL constraints

_See github issue [#76](https://github.com/w3c/vc-data-model/issues/76)._

**Manu Sporny:** suggestion to defer Issue #76

**Ivan Herman:** I have fou

[2021-06-15 07:07] iherman commented on #105
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2021-06-14-vcwg#section3-4) on 2021-06-14

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 3.4. Holders and Identifiers

_See github issue [#105](https://github.com/w3c/vc-data-model/issues/105)._

**Brent Zundel:** is this to resolve/fix a bug in the spec, or add to it?

[2021-06-15 07:07] iherman commented on #164
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2021-06-14-vcwg#section3-2) on 2021-06-14

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 3.2. Issuers may express a Time to Live on the credential

_See github issue [#164](https://github.com/w3c/vc-data-model/issues/164)._

**Brent Zundel:** previous group felt it shou

[2021-06-15 07:07] iherman commented on #209
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2021-06-14-vcwg#section3-5) on 2021-06-14

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 3.5. Does pseudo-anonymity require the issuer to cooperate

_See github issue [#209](https://github.com/w3c/vc-data-model/issues/209)._

**Brent Zundel:** it would be appropriate to

[2021-06-15 07:07] iherman commented on #772
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2021-06-14-vcwg#section4-2) on 2021-06-14

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 4.2. verificationMethod URI is incorrect in a couple of the examples (pr vc-data-model#772)

_See github pull request [#772](https://github.com/w3c/vc-data-model/pull/772)._

**Manu

[2021-06-15 09:43] kdenhartog opened #781 "Add details about difference between contexts and credentialSchemas property"
@OR13 has written a very descriptive and detailed point in the [CCG mailing list](https://lists.w3.org/Archives/Public/public-credentials/2021Jun/0126.html) about how the `@context` and the `credentialSchema` properties are intended to be used and the particular problems they should solve. This issue is being added to track distilling the points he raised into an editorial piece of text in order t

[2021-06-15 09:44] kdenhartog commented on #781
@OR13 I can take care of adding this. Thanks for writing it up into the email and answering the question.

[2021-06-15 14:24] OR13 commented on #781
@kdenhartog thanks!

[2021-06-21 19:02] TallTed commented on #772
@brentzundel @msporny -- Will you switch the label(s) from "PossibleErratum" to "Errata"?

[2021-07-06 18:53] OR13 commented on #753
On further consideration, i think a default `@vocab` in the next context might be helpful, and I would be in support of it IF it was accompanied with a recommendation to warn any time it was used.

[2021-07-11 15:52] OR13 opened #782 "RFC 3339 vs ISO8601 vs XSD Date Time"
IMO, the spec fails to define datetime's correctly.

consider:

https://w3c.github.io/vc-data-model/#issuance-date

yet: https://github.com/w3c/vc-data-model/blob/main/contexts/credentials/v1#L44

RFC3339 !== XSD Date Time.

See the differences summarized [here](https://atom-syntax.imc.narkive.com/x8nvl4Bh/xsd-datetime-vs-rfc-3339) and [here](https://medium.com/easyread/understanding-about-rfc-333

[2021-07-11 16:12] csuwildcat commented on #782
@OR13 I will never ceased to be impressed by your attention to detail and precision

[2021-07-11 17:22] dlongley commented on #782
@OR13, I agree with you. When this came up before, the i18n group weighed in with a recommendation of RFC3339 here:

https://github.com/w3c/vc-data-model/issues/437

I'd be happy for us to figure out a better way forward.

[2021-07-14 14:02] OR13 commented on #782
I would pick a string datetime format that is XSD Date Time, ISO 8601 and converts back and forth to unix in a stable manner, and make that string format the required format.

[2021-07-21 12:50] tcibm commented on #731
Is there any update on this issue? The `nonTransferable` property is still not present  in the credential context https://www.w3.org/2018/credentials/v1

[2021-07-21 14:42] brentzundel commented on #731
notTransferrable is described in a non-normative section of the VC Data Model. I'm not sure that it would be appropriate to add it to the https://www.w3.org/2018/credentials/v1 context.
@msporny I would value your opinion here.

[2021-07-21 15:38] David-Chadwick commented on #731
Good point. The text "This section is non-normative." should be removed from section C.1.1

[2021-07-21 16:06] msporny commented on #731
@brentzundel wrote:

We shouldn't add it to the v1 context at this point as it could break things. It's highly unlikely that people have issued VCs with the `nonTransferable` property, but if they did, and they turned the feature where the the signature library throws if there are undefined properties off, then all new verifications of the old VC might fail (which is what we'd want to happen)... b

[2021-07-21 16:34] brentzundel commented on #731
As the VCWG is currently operating on an extremely limited scope (bug fixes and editorial changes), it does not seem to me that there is anything we can currently do to address it.

In my view, producing a normative V2 context document would be interpreted as describing a collection of normative features, therefore it is not in scope for us while in maintenance mode.
Removing the `non-normative` t

[2021-07-21 17:01] David-Chadwick commented on #731
Adding 'nontranserrable' to issuer contexts was the only practical solution available today, so this is what conforming implementations were forced to do. Having multiple different definitions for the same property is hardly conducive to interworking. Therefore the best solution would be to create a delta verifiable credentials context containing just this item. Then everyone who is using this pro

[2021-07-21 17:14] brentzundel commented on #731
I agree that the current situation is not ideal.
In my opinion, it is out of scope for our working group to publish a "new standard defined" context for any property not normatively defined in v1.0 of the VC Data Model.

The next VCWG chairs meeting is set for 28 July 2021. During that meeting the chairs will come to an official decision regarding whether any of the proposed solutions are in scope

[2021-07-21 17:35] msporny commented on #731
One more to consider:

1. The `nonTransferrable` property does not provide the protections it promises and is thus dangerous to use; the specification should be updated to add this warning and/or change the non-normative text appropriately.

This really does need the concentrated attention of the VCWG and I'm not sure we have that concentrated attention in Maintenance mode.

I'd be fine w/ @David-

[2021-07-21 20:29] TallTed commented on #731
@msporny --

I think you meant, `attempt to normatively define`?

-----

fwiw, I'd be voting -1, -0.9, -1, +1, for the 4 proposals as listed in https://github.com/w3c/vc-data-model/issues/731#issuecomment-884366876.

[2021-07-21 20:55] David-Chadwick commented on #731
@msporny can you please further elaborate this assertion. What are the promised protections that are broken? The current text simply says that a VP is invalid if it is not signed by the subject. That is a statement of fact. It does not make any promises to anyone does it? Verifiers can accept invalid, non-verified or non-verifiable credentials. We do not make any promises that they won't do this d

[2021-07-21 21:08] msporny commented on #731
Yes, I did, apologies, I've corrected the original with an editorial mark.

[2021-07-29 01:45] kdenhartog commented on #778
I've optted to relabel this to a v2 issue that won't be addressed by this because of the reasons stated in this comment: https://github.com/w3c/vc-data-model/issues/778#issuecomment-836846943

[2021-07-29 01:49] kdenhartog commented on #782
I've opted to indicate this as a substantive change that can be addressed in the V1.1 version by the maintainence WG due to the confusion between what's commonly being implemented and what has been defined by the spec. It's a substantive change though due to this likely affecting normative statements.

[2021-07-29 01:56] kdenhartog commented on #777
Noting that the text coloing is intended to be aligned with the color coordination of the graph below it. Would we prefer to update this to the links of the definitions and include a paraentheses to indicate color association or drop the color association between the text and figure 8 all together?

[2021-07-29 02:11] kdenhartog commented on #766
It seems this is an issue with chrome rather than something to do with the way it's published on W3C. I'm going to propose closing this since I don't see any action items that we can do at this point.