[2018-03-27 15:33] burnburn commented on #68
Joe, we assigned you basically to review and see what the status is.  Please let us know if someone else would be more appropriate as owner.

[2018-03-27 15:33] dlongley commented on #61
I'm going to close this one out -- @kimdhamilton, if you prefer it reopened please do so.

[2018-03-27 15:33] #61 closed

[2018-03-27 15:35] burnburn commented on #57
@rvarn please give us a status.

[2018-03-27 15:39] #1 closed

[2018-03-27 15:39] #2 closed

[2018-03-27 15:39] #3 closed

[2018-03-27 15:40] #26 closed

[2018-03-27 15:45] burnburn commented on #60
@kimdhamilton please take a look at this.  May be blocked same as #32.

[2018-03-27 15:47] stonematt commented on #19
seems related to #139 we'll try to address them together!

[2018-03-27 15:49] dlongley commented on #135
Note to self: link this to existing issues.

[2018-03-27 16:00] gkellogg commented on #76
Just an update, working with @ericprud on an extension to ShEx to support named graphs and to work out how to identify a shape to match within that graph. At this point, both SHACL and ShEx work only on a graph, and the VC data model uses a dataset. I expect ShEx to support our use case within our timeframe, but still working the issue.

[2018-03-28 23:35] msporny commented on #41
@riannella in order to close this issue out, we need to fix the examples and I'm having a hard time understanding what is and isn't possible via ODRL. Please help us fix the examples w/ something concrete that we can put in the spec. We're trying to finish up the spec and if we don't have valid examples that demonstrate how to use ODRL, we'll have to just remove all ODRL examples and use a simpler

[2018-03-28 23:36] msporny commented on #54
I suggest that we do not include WebIDL nor XML expressions of the data model and close this issue. If there are no objections, we'll close this issue in 7 days.

[2018-03-28 23:53] msporny commented on #55
The original issue asked this question:

I suggest we close this issue by creating a PR that states that "a credential is a set of attestations made about one or more subjects"... and "a profile contains one or more credentials".

This is both technically accurate and the discussion above only raised a single benefit with many downsides wrt. limiting a credential or profile to be about a single su

[2018-03-29 00:04] msporny commented on #97
I'm attempting to formulate this issue into some specification text or close the issue w/ no changes to the specification. I agree that being able to express an image is important and there have been a number of ways that have been explored in this issue. That said, the only spec text that could possibly change at this point is an example in the spec.

I suggest we do a PR that pulls in an image d

[2018-03-29 00:19] msporny commented on #115
I propose that we resolve this issue by adding the following spec text to the Security Section of the specification:

## Device Theft and Impersonation

When verifiable credentials are stored on a personal device and that device is stolen by an attacker, it may be possible for the attacker to then gain access to systems using the victim's verifiable credentials. Mitigations for this attack include

[2018-03-29 00:25] msporny commented on #125
@nage, @talltree -- second ping on this issue, @liamquin has invited you to the W3C group. Please accept the invite and take this issue. This has Sovrin and CL Signatures all over it. :)

[2018-03-29 00:45] msporny commented on #136
I'm concerned that this is an overgeneralized feature request. JSON-LD's data model already allows us to annotate the credentials with almost arbitrary data. The Verifiable Credentials specification is not solely about image-based credentials. If a credential requires an image-based version, it is up to that market vertical to define the format.

I suggest we do not modify the spec to define the e

[2018-03-29 01:03] msporny commented on #103
We currently have: authentication

In Veres One, there is: capabilityDelegation and capabilityInvocation

I propose that we close this issue by naming these two properties as the following:

VC_PROPERTY -- "verifiableCredential"
VC_ISSUING_MECHANISM -- "verifiableCredentialIssuing"

... and submitting a PR that:

1) includes "verifiableCredential" as a part of the profile section of the spec, and

[2018-03-29 01:08] msporny commented on #110
The PR is in, I need to remove the text that @David-Chadwick suggested be removed (as it shouldn't have been in the PR in the first place). As soon as that's done, I think we should merge the PR and close this issue.

[2018-03-29 01:42] msporny commented on #111
I propose that we create a PR that adds the following section to the specification in the advanced concepts section:

## Disputes

An entity may dispute a credential issued by another entity. The mechanism for doing this is the same as issuing a regular credential except that the subject identifier for the claims are those of the disputed credential. For example, if a disputed credential with an i

[2018-03-29 06:01] Drabiv commented on #136
I think that **it will be a standard requirement** to have presentation of the credential tamper proofed and referenced from JSON verifiable credential (e.g. passport, tickets, driving license atc).
Also, it will common requirement to have other data (not presentation) referenced and tamper proofed.
Hence IMO it would be beneficial for community and for adoption of the spec to have it as a part of

[2018-03-29 13:28] Drabiv commented on #136
Sure, presentation should be optional, just as "evidence" and "termsOfUse".

We can just hash whatever was used for presentation (svg, png, jpg, pdf) or even html pages (by downloading and archiving them into one file). Then we can reference presentation using this hash.

[code]

[2018-03-29 13:48] msporny opened #143 "Add Extensibility section to specification"
The specification currently does not explain the underlying data model (graph) and how one extends the data model (JSON-LD). This has caused a great deal of confusion in the group and has led to rehashing discussions that have been going on in W3C for the past decade or more.

We need an extensibility section in the specification that explains why we've chosen a graph-based data model, how one ext

[2018-03-29 16:09] cwebber commented on #118
FWIW I am in complete agreement with [what dlongley said here](https://github.com/w3c/vc-data-model/issues/118#issuecomment-375774324).  IMO it's important that we capture the intent of a proof/signature in the proof itself.  And the words are clear to me: it's the "purpose" behind the "proof".  Couldn't be clearer IMO.

[2018-03-29 16:13] cwebber commented on #118
My main concern isn't terminology at all, but that it seems that we're capturing critical information in the proof itself, and that this critical information can't be expressed in the Verifiable Credentials model due to limitations imposed on this working group.  We need to call this out somehow, or at least if we have a hole, leave a clearly defined hole where another mechanism other than ld-proo

[2018-03-29 16:54] Drabiv commented on #118
@cwebber why is it important to capture intent of a proof in the proof itself? Would it not be better to capture intent of a proof in a claim/credential?
My understanding was that proof is only there to provide well proof that someone agreed with whatever is written in claim/credential.

Could you please clarify these limitations?

As per my understanding "issuer" is always DID, hence it does not

[2018-03-30 05:50] Drabiv commented on #136
This is interesting. I see that this is easier in development. But how can they prove later that user signed what he saw... In other words how they ensure that they adhere to the WYSIWYS principle (What You See Is What You Sign - [https://en.wikipedia.org/wiki/WYSIWYS](https://en.wikipedia.org/wiki/WYSIWYS))

[2018-03-30 11:43] riannella commented on #41
Yes, that is the list of the ODRL Community Group which you can post questions.

I can provide some input here too...

I think you can state that given an appropriate ODRL Profile for credentials (in this case, we define issuer as a sub-property of assigner, and verifier as a sub-property of assignee) then we can update Example 6 to be:

  "termsOfUse": [{
    "type": "Policy",
    "uid": "http://

[2018-03-30 15:03] dlongley commented on #136
I think it would be better to start with a threat model and some use cases before we even attempted to tackle this problem.

That being said, simply capturing images is no guarantee that they were seen by the signer. Furthermore, not everyone can see and we should take that into consideration in any design that begins to hint at creating Web scale systems where sight could become a requirement for

[2018-03-30 17:08] Drabiv commented on #136
I think in practise it is possible to prove beyond reasonable doubt, that user signed what he saw. This can be achieved by using 3rd party - "credential presentation rendering services", "presentation rendering applications".

As example, let's say gym wants to issue membership card to its member. Workflow will look like this:

- Issuer (gym) creates credential (VC JSON), and human readable presen

[2018-03-30 18:16] agropper commented on #136
This issue is core to the HIE of One reference implementation of a
self-sovereign technology stack. The use-case we implement is a physician
with a DID writing a prescription for a controlled substance. The
verification rules are as clear as they get because they’re from the Drug
Enforcement Agency (DEA).

HIE of One has
- a prescription creation UI
- a serialized description of the prescription
-

[2018-03-30 18:26] jandrieu opened #148 "Need section on binding of profile to current user"
We have no language specifying the binding of a presenter to a profile in a specific session.

There is consensus that the holder is not necessarily the subject. They may have complicated relationships to subjects in the included credentials, but there is some notion that presenting a profile MEANS that the presenter is claiming some relationship to the credentials.

Unfortunately, we have no lang

[2018-03-30 19:14] dlongley commented on #148
This could be done by including a [Token Binding ID](https://tools.ietf.org/html/draft-ietf-tokbind-protocol-16#section-3.2) in the proof on the Profile. I'm not sure if there's anything for us to specify at the data model layer.

[2018-03-30 20:04] dlongley commented on #148
I suppose a DID-AuthN credential could be one where you assert that `did:method123` has a session:

[code]

[2018-03-30 20:04] jandrieu commented on #118
As soon as we allow signatures to *mean* different things, we are moving into open-ended claims about claims. Which is needed, but shouldn't be forced into the semantics of signing.

If signing only ever means that the signer asserts the root claims in the credential as true, then it is unambiguous and there isn't an option for someone to be fooled into signing for the wrong purpose. Because elabo

[2018-03-30 21:47] dlongley commented on #118
I think the point is still being missed here.

This may help:

https://sandstorm.io/news/2015-05-01-is-that-ascii-or-protobuf

The solution:

Per Adam Langley:

NUL-terminated, ASCII context string is prepended to the message to
ensure that the verifier isn't confused about the context.
(NUL-terminated, ASCII strings have the property that none is a prefix
of any other.)

Our version of this is to

[2018-03-31 07:19] David-Chadwick opened #149 "Need to restrict top level data types to those specified in the standard"
The current data model does not place any restrictions on the top level data types/structures. The type parameter can have any value. Consequently anyone can define their own type (e.g. unverifiableDocument). This loophole should be closed. It is proposed to close it by introducing two standard data types: Verifiable Credential and Verifiable Profile (or just one, depending upon whether profiles a

[2018-03-31 07:28] David-Chadwick commented on #148
Whilst Jo is correct, I do not think this is an issue for the data model, but rather for the protocol between the holder and the verifier. In other words, it is out of scope of the current standard and in scope for the protocol standard that will follow on.

@dlongley I agree that IETF token binding offers a solution to this.

[2018-03-31 11:45] riannella commented on #41
In example 7, with the Profile also including  holder as a sub-property of Assigner, and correlate as an instance of odrl:Action. I assume the target will then be the credential itself, as this is the target of the non-correlation. (Ie don't use this credential data with any other data).

[code]

Perhaps apply these updates and post a query to the ODRL Community Group for other feedback.

[2018-03-31 14:10] msporny commented on #41
@riannella wonderful, thank you, that gives me something solid to create a PR for.

Next step, create a PR based on @riannella's suggestions above.

[2018-03-31 21:18] kimdhamilton commented on #60
I think this one is ok to close. Signature sets or chains should suffice for the original example (depending on whether signature order is important)

[2018-04-01 01:44] msporny commented on #60
We now have signature sets (renamed to proof sets) implemented in the JSON-LD Signatures reference implementation... Veres One uses them. Implementing signature chains would be trivial, but it's not implemented yet.

[2018-04-01 01:44] #60 closed

[2018-04-02 21:15] #55 closed

[2018-04-02 21:19] #124 closed

[2018-04-02 21:26] #127 closed

[2018-04-04 21:01] stonematt commented on #136
this seems related to issue #97

[2018-04-04 21:01] stonematt commented on #97
does solving this also solve issue #136

[2018-04-06 17:08] David-Chadwick commented on #72
Standards have the concept of Profiles, which are documents that limit the options that a base standard allows.  Consequently we could specify a Capability Profile of Verifiable Credentials. The profile would allow you to
a) specify a single signature mechanism
b) say which parts of VCs should be ignored and do not apply to capabilities

Wrt to chains, this is a core requirement of VCs, as some VC

[2018-04-06 18:47] jandrieu opened #156 "Add section on extensibility"
Clarify what in the data model is extensible, how issuers add extensible fields, and how verifiers are to handle extensible fields, including how they can de-reference such fields in a specified vocabulary.

[2018-04-06 19:02] burnburn opened #157 "Will extensibility lead to vulnerability?"
Question from @David-Chadwick that needs to be addressed in the spec.

[2018-04-06 22:05] cwebber commented on #72
We have two issues here:
 - Should linked data capabilities be modeled on verifiable credentials?
 - How/should we delegate terms of use?  (Which may be totally useful even regardless of terms of use, because terms of use in verifiable credentials may be about policy)

[2018-04-06 22:49] cwebber commented on #72
Terms of use is going to invoke a human but not a machine process

[2018-04-06 22:57] cwebber commented on #72
I will write a PR for text to go into the spec with regard to the issue considering the above.

[2018-04-06 23:38] msporny commented on #118
This issue partially related to: https://github.com/w3c/vc-data-model/pull/155

[2018-04-06 23:54] msporny commented on #98
outcome of F2F meeting: #141 isn't being merged

[2018-04-07 00:08] msporny commented on #98
Discussion at F2F meeting: You could accomplish this by doing something like `proof.proofPurpose`: "Attestation". However, none of the implementers have implemented anything like this as they don't have a use case that requires this particular mechanism or have chosen to model their data differently.

The group plans to close this issue in 7 days as there are no spec changes in scope that we could

[2018-04-07 00:10] msporny commented on #156
Duplicate of #143, closing.

[2018-04-07 00:10] #156 closed

[2018-04-07 18:24] #118 closed

[2018-04-07 18:24] #103 closed

[2018-04-07 18:25] msporny commented on #143
Does this work for you, @jandrieu?

[2018-04-07 18:39] msporny commented on #148
... and a some sneaky correlation concerns, but those are no different than use of verifiable credentials alongside session cookies today.

[2018-04-08 15:15] msporny opened #158 "Add "criticalProperty" field"
We may want to add a "criticalProperties" field to the specification to match the security properties provided by x509 Critical extensions flag: http://www.securesenses.net/2013/05/x509-certificates-critical-vs-non.html

It would specify terms that MUST be understood and processed by a verifier. The field would prevent the usage of credentials that are only partially understandable by a verifier.

[2018-04-09 15:28] David-Chadwick commented on #158
It is true that any verifier can ignore any field in an X.509 certificate or a verifiable credential, and accept it as valid, even if it has been revoked, or contains unknown properties. There is a significant difference however between obeying the fields in a certificate/credential, and ignoring them. In the former case the issuer takes the liability, in the latter case the verifier takes the lia

[2018-04-09 15:43] David-Chadwick commented on #148
@msporny You seem to have introduced the new concept of presenter which is not currently defined in the latest data model document (and is only mentioned once in a note). If we are to have the new role of presenter then the data model document needs a significant revision to describe this new role and how the VC lifecycle relates to all 3 roles of subject, holder and presenter. Otherwise I suggest

[2018-04-09 16:26] David-Chadwick commented on #128
I agree that a schema for the JSON is needed, along with a standard way of extending the schema.

[2018-04-09 16:29] David-Chadwick commented on #115
Looks good to me

[2018-04-09 16:35] David-Chadwick commented on #157
Yes it does. I have indicated how one attack can work in PR #159

[2018-04-09 17:41] dlongley commented on #158
I don't think we need "critical" flags at all, I don't think they are actually useful.

An issuer that does not want liability will mark all properties critical. An issuer that wants their VCs to be accepted (i.e. interoperability) will only mark fields critical based on the consensus of at least a majority verifiers (maybe more). In short, whether or not the flag is relied upon determines whether

[2018-04-09 17:56] David-Chadwick commented on #158
@dlongley "An issuer that does not want liability will mark all properties critical."

This does not stop liability. If a verifier understands all the properties the issuer is still liable. Furthermore any issuer that will not take any responsibility for anything it says wont be trusted by any verifier. So this is not an argument against a critical flag, it is against untrustworthy issuers.

@dlon

[2018-04-09 18:04] David-Chadwick commented on #158
@dlongley "say that all properties are critical and the liability is entirely on verifiers"

This is a more restrictive data model and would necessitate the following statement to be added to the data model document:
"all properties must be understood by the verifier. If a verifier receives a verifiable credential containing one or more properties that are not recognised or understood then the ver

[2018-04-09 18:05] dlongley commented on #158
@David-Chadwick,

No, I understand that. I'm saying that verifiers have a say in it because an issuer's VCs won't be used if verifiers refuse to accept them. That will drive what the issuer is willing to put into the VC (or mark "critical").

[2018-04-10 22:13] prowley commented on #148
A public key for the claim instance generated by the holder, along with a signature, then signed by the Issuer is a nonce away to providing assurance that the presenter was issued the claim. The data model is then transport independent while having this dimension of verifiability which is currently absent (and imho required to move beyond bearer tokens). Pushing this to the transport layer will li

[2018-04-11 02:48] cwebber opened #161 "VC test suite requirements document"
Please help review to determine which requirements should be tested, how, and if some requirements should be adjusted due to being untestable currently: https://docs.google.com/spreadsheets/d/1MCIZghhT5xCTnBpqDMpeCqc0zBS2Lgwfoi0tONijZOQ/edit#

[2018-04-16 20:37] #115 closed

[2018-04-16 20:46] #97 closed

[2018-04-16 20:48] #111 closed

[2018-04-16 20:48] #54 closed

[2018-04-16 21:13] #41 closed

[2018-04-17 16:01] dlongley opened #162 "Determine how/if WebAuthn will work with VCs"

[2018-04-17 16:53] msporny opened #163 "Change VerifiableProfile to VerifiablePresentation"
Based on discussion at the VCWG F2F in 2018, there was consensus to rename the "Verifiable Profile" to "Verifiable Presentation" to support use cases like ZKPs and to provide a different identifier for the presentation vs. the subject being identified.

[2018-04-17 16:53] msporny commented on #163
I will submit a PR for this.

[2018-04-18 21:55] msporny commented on #158
From @David-Chadwick in #159:

[2018-04-18 21:58] #143 closed

[2018-04-18 22:16] #110 closed

[2018-04-20 17:28] davux commented on #120
About "subject", JWT already has "sub" and is used to carry claims. Would there be any value in maintaining a consistent naming with JWT on that aspect?

[2018-04-24 10:00] David-Chadwick commented on #158
@msporny I dont think your critical property can work as specified, since there is no guarantee that each property name will be unique, especially since properties can be several levels deep and specified by different organisations. Thus the individual properties should be tagged as critical or not, with the default being not critical so that most properties dont need to be tagged.

[2018-04-24 10:02] David-Chadwick commented on #157
PR #159 is technically flawed for reasons I have identified there. Consequently it should be removed until correct text can be agreed to

[2018-04-24 10:13] David-Chadwick commented on #135
@Drabiv The problem with the Reference solution is that it requires the verifier to go out to the Internet to retrieve the referenced credential, which can lead to DDOS attacks or implementors simply asking the user, what do you want to do now, Continue without fetching the referenced VC or Reject the presented VC.
Attachment does not suffer from this problem.

[2018-04-24 10:33] David-Chadwick commented on #109
An example of an Issuer terms of use is AllowedVerifiers, which lists the URLs of the verifiers that are the intended recipients of the VCs. If the VC is sent to any other verifier by the holder (as he/she/it can easily do) then a conformant verifier Must refuse to accept the VC. A conformance test can easily be written for this. Note that this does not stop a non-conformant implementation from ac

[2018-04-24 10:34] David-Chadwick commented on #109
If people are happy with the above examples I can write a PR to include them.

[2018-04-24 10:45] David-Chadwick commented on #105
This text has not yet made it into the latest version (18 April 18). Worse still the latest text says

identifier registry
    Mediates the creation and verification of subject identifiers.

So from the above, there is no mention of issuers or holders having identifiers as well. Nevertheless the following text is still present

Holders SHOULD be able to easily control and own their own identifiers

[2018-04-24 13:51] Drabiv commented on #135
@David-Chadwick I agree. IMO, both (how to reference VC and how to attach VC) should be clarified in the spec. Attachments will not be easy to read for humans, hence some issuers will prefer to reference VC. Also, and probably most importantly reference is better for privacy.

[2018-04-24 13:54] stonematt commented on #109
"one-click" only URLS are incredibly brittle.  Events like browsers don't load, users accidentally navigates way, internet connectivity issues may consume the event pre-maturely.  Are we at risk of something like this here?  We need an explicit way to consummate the consumption transaction.

[2018-04-24 14:12] stonematt opened #164 "Issuers may express a Time to Live on the credential"
@David-Chadwick your comment in issue #135 about having to be online to verify the referenced credential is a larger challenge in general.  VC should be verifiable w/out going to the source in general.  This protects the VC from becoming useless if the issuer site goes offline.  If Issuers care to limit how long a credential can be trusted without live verification from the source, the Issuer must

[2018-04-24 15:27] burnburn commented on #158
Looks like there is disagreement here but the PR was merged anyway.  @msporny @David-Chadwick please discuss and resolve or we will need to back out the PR.

[2018-04-24 15:27] stonematt commented on #161
updates will happen in the test case repo, found here: https://github.com/w3c/vc-test-suite

also added link to the README.md

[2018-04-24 15:29] stonematt commented on #161
closing after updating README.md

[2018-04-24 15:29] #161 closed

[2018-04-24 16:40] David-Chadwick commented on #164
@stonematt  I agree that the issue of remote retrieval is a much larger problem in general than fetching a referenced credential. It covers all new information that extends the base standard for VCs and is defined somewhere else online. Your idea for a TTL property is a good one, and whilst it does not address the general issue of remote retrieval, it does partially cover the revocation/staleness

[2018-04-24 17:13] David-Chadwick commented on #120
We still have not resolved this issue. Take Example 4 in the latest version (18 April 2018)
[code]
The first "id" is the ID of unknown object as there is no outer type.  However, we are told we have to read the following "type" property to find out what type of object this is. It is "Credential". So this is the ID of Credential, of subtype ProofOfAgeCredential.
The second "id" has an outer type, a

[2018-04-24 17:28] David-Chadwick commented on #149
The following solution is proposed that is aligned with JSON-LD.

Add a new section 5.1 to to 5 Basic Concepts

5.1. Type and ID

A verifiable credential MUST have a "type" property. The first value MUST be set to "VerifiableCredential". It MAY have additional values, and if present these MUST be set to the subtype of the verifiable credential.

A verifiable credential MUST have an "id" property.

[2018-04-24 17:50] David-Chadwick commented on #109
@stonematt These are not one click URLs. There is no remote retrieval needed. The verifier reads the content of the terms of use and sees if the value matches its already known 'own' value (either its name/URL or session ID)

[2018-04-24 17:53] David-Chadwick commented on #135
@Drabiv Unless I have missed something, I dont know why reference is better for privacy. I am assuming that the holder will transfer the VC encrypted to the verifier via TLS or similar, so both parties will know the entire contents of the VC regardless of whether it is referenced or attached, and nobody else will.

[2018-04-25 08:35] Drabiv commented on #135
@David-Chadwick there can be a lot of cases when someone would like to reference credential, and be able to selectively disclose it.
    For example, there is a birth certificate of a child, where parents' names are mentioned and parents passports referenced. Let's say one parent goes to some organization to register there their child, and the organization wants to have both passports of parents.

[2018-04-25 12:26] msporny commented on #158
@burnburn PR #159 wasn't the PR for this issue. It was the PR for a different issue regarding putting a section into the specification that explains how extensibility works for VCs. It's a largely non-normative section. I'll pick up the conversation on PR #159 on that PR thread, but this issue and that PR barely have anything to do with one another.

[2018-04-25 15:48] David-Chadwick commented on #135
@Drabiv Selective disclosure is a separate issue to attach/reference. I dont know if anonymous credentials will work if they are attached and given to someone else to selectively disclose their properties. I suspect not since the subject has a private key used for disclosure and he/she will not give this away. However, selective disclosure can be utilised by issuing atomic VCs, and attaching the s

[2018-04-25 16:18] Drabiv commented on #135
@David-Chadwick I might be wrong using "selective disclosure" term as maybe it has some specific use I am not aware of.
What I am trying to convey is maybe better illustrated with this scenario:
A hospital wants to issue birth certificate. In this certificate the hospital wants to add parents' names and also uniquely identify parents by referencing their passports.
When birth certificate is being

[2018-04-27 12:13] trbouma commented on #112
Thanks. This makes sense and a good evolution of the model. As you may be aware - we (Government of Canada) separated 'credentials' from 'identity' (credentials being anonymous/pseudonymous). That was the first iteration; how we initially defined 'credential' is really now similar to 'authenticator'.  What is being proposed now is more general and maintaining a useful distinction separating creden

[2018-04-27 12:45] msporny commented on #112
@trbouma wrote:

Yes, correct. We also had a breakthrough at the most recent VC face-to-face meeting in that the package now supports the full range of credential types (anonymous, pseudonymous, weakly identified, strongly identified). We believe we're meeting the WGs needs while also not overly complicating the core data model.

[2018-04-27 18:24] Drabiv commented on #135
@David-Chadwick Ok, another example – reference from short live crdential to longer live credential – from Access Card (to office building) to Passport. Let's say company issued access card to employee based on his passport or employment contract.

Yes, this is actually / in effect a reference to credential that I want to have.

As I propose in the example below, the JSON object describes a refere

[2018-04-28 12:38] David-Chadwick commented on #135
@Drabiv There is a difference between a reference to a credential (which you suggested) and a reference to an address where a property/attribute can be validated. The former points to a specific credential, the latter to either a subject or a holder or an issuer that can return a credential to validate the attribute. The level of indirection provided by the latter gives greater flexibility and cat

[2018-04-29 07:45] David-Chadwick commented on #135
@Drabiv I think the best way to link credentials together in the way you require is via the verifiable profile that the holder sends to the verifier. Credentials should either embed supporting information e.g. terms of use, or contain references to where it can be found e.g. revocation information. Currently the only example I have of one credential embedding another credential is when the latter

[2018-04-30 16:25] dlongley commented on #158
@David-Chadwick,

Our extensibility mechanism (JSON-LD) guarantees uniqueness. That being said, I still think a critical flag is unnecessary. I think we should say that if a property is not understood, the VC MUST be rejected and leave it at that.

I say let market forces govern the proliferation of useful properties -- and let protocols allow relying parties to ask for what they need/support. For

[2018-04-30 16:35] dlongley commented on #158
Exploring further into the concept of differentiating "critical" from "non-critical" fields...

Our data model is designed around making statements (claims) like this:

`subject predicate object`

It would be good to have some examples where such a statement could be *invalidated* by another statement. If we can't come up with use cases for this or it's unreasonable for this occur, then there's no

[2018-04-30 16:37] David-Chadwick commented on #158
@dlongley " I think we should say that if a property is not understood, the VC MUST be rejected and leave it at that" This is clearly one solution that is secure and will work. But I think it unnecessarily reduces usability and interworking. For example, an issuer could not even add a 'description' property, or 'useful hint' property without invalidating its VCs until every verifier can understand

[2018-04-30 16:58] David-Chadwick commented on #158
Here is an example. I am assuming the processing of VCs is automated without human intervention (although if the properties are in a foreign language then human intervention wont necessarily help).

A verifier wants to know if the subject is married so receives this VC which it understands
[code]
Sometime later it receives another VC

[code]

Is the subject still married or not?
Without the critic

[2018-04-30 17:09] dlongley commented on #158
@David-Chadwick,

Without the criticality field the verifier cannot tell if xxxx is significant or not.

IMO, this is bad modeling and it reveals more information than the verifier needs to know, which runs counter to data minimization principles, nevermind the additional complexity. There should be a boolean claim that says whether or not the subject is married -- and this is what the verifier sh

[2018-04-30 17:17] dlongley commented on #158
I think VCs should be modeled such that they can reveal "more" information, the more that fields are understood, rather than having existing fields get "modified" to no longer have the same meaning. This is inline with data minimization principles -- and verifiers should be programmed with this in mind.

There should be a sort of monotonicity of logic. "Are you married?" is a fundamentally differe

[2018-04-30 17:53] dlongley commented on #148
@prowley,

This sounds like it would cause the phone home problem.

[2018-04-30 18:09] kimdhamilton commented on #93
It looks like Example 15 was updated to use the [RSA 2018 Signature Suite](https://w3c-dvcg.github.io/lds-rsa2018/). Perhaps the intent of this is to demonstrate that it _can_ be done with the traditional JOSE/JWS signatures.

In which case, I'd propose we keep the text as is, and change the issue to a note (or something of that form) with a reference to the portion of the document listed here "Th

[2018-04-30 20:53] David-Chadwick commented on #158
@dlongley . I agree that data minimisation is preferrable, and that atomic VCs or selective disclosure VCs using IBM's anonymous credentials is better than VCs containing a lot of properties. But I think it is perhaps unrealistic to expect all users of VCs to know how to model VCs 'correctly' as you suggest so as to not violate data minimisation principles. You have already argued that we cannot c

[2018-04-30 22:13] dlongley commented on #158
@David-Chadwick,

IMO, I think the "easy way" is to tell authors that they should offer boolean attributes to verifiers so that verifiers do not need to write complex, error prone code that attempts to guess at what the issuer (who is meant to be the trusted party) was trying to indicate. If the verifier trusts the issuer to tell them whether or not someone is currently married, then the issuer sh

[2018-04-30 22:27] David-Chadwick commented on #158
@dlongley you appear to be arguing both ways, viz:
i) " I think we should say that if a property is not understood, the VC MUST be rejected and leave it at that"
ii) "keep the attributes simple and use monotonic logic to add more information. Then we can allow fields to be ignored. "
You cannot have your cake and eat it.

[2018-04-30 23:28] dlongley commented on #158
@David-Chadwick,

I'm offering two possibilities that I would find acceptable, neither of which involve a "critical" flag.

[2018-05-01 14:16] stonematt commented on #158
@dlongley

The idea that VC claims should be boolean is a bit out of left field, and maybe you're just trying to be provocative.  Except in the overused cased of "ageOver" the question a Verifier is asking is almost never a yes/no question.  and @David-Chadwick the marriage question really introduces the "point in time" problem, where a VC from last month may indicate that an individual was marrie

[2018-05-01 14:52] dlongley commented on #158
@stonematt,

I'm sorry I've created some confusion here -- let me try to clarify. I'm not suggesting that *all* claims be booleans. I think the "critical" flag is really about making a decision that may change from "yes" to "no" (or vice versa) based on its presence. Therefore, boolean attributes are the only ones that make sense to discuss here.

So, I'm suggesting that if the purpose of a claim

[2018-05-01 15:08] msporny opened #168 "Remove MUST/SHOULDs from Ecosystem explanation"
The MUST/SHOULDs in the Ecosystem explanation is confusing as they are not supposed to be normative requirements on implementations, but rather expectations of the ecosystem. The text should be updated to reflect this.

[2018-05-01 15:11] #98 closed

[2018-05-01 15:11] BigBlueHat commented on #123
@David-Chadwick adding that to the example content would make the JSON invalid, so I'd be 👎 on adding `credential:` or `profile:` to either of the examples (or any of the others).

Example code gets copy/pasted frequently, so adding anything that would make it invalid is inhibitive.

[2018-05-01 16:15] David-Chadwick commented on #123
@BigBlueHat.  Its not invalid JSON. It might be invalid JSON-LD. However, an alternative solution has been proposed in #149

[2018-05-03 09:41] Drabiv commented on #135
@David-Chadwick I think that notion of profile should be dropped from the spec (it is confusing), instead attachments and references should be used (more simple and straightforward). Actually, the origin of this issue is in issue #126 and the original name of the issue #126 was "Reference and Attachment instead of Profile ..."

[2018-05-03 15:41] stonematt commented on #135
@Drabiv I'm not sure relabeling a concept it the right direction to go.  The notion of a Profile is to allow a Holder/Subject to collect credentials for presentation to a verifier.  They may or may not be interconnected as a references, not as attachments.  In the event that they're simply a stack of documents submitted together, the Profile is the container that can be signed and managed as as si

[2018-05-04 14:02] Drabiv commented on #135
@stonematt Profile is in essence a bundle of credentials. I think it will be more correct and convenient to have generic approach to bundling credentials by using references and attachments.
Then when we have references and attachments, the concept of Profile (a bundle of credentials about subject) becomes redundant.

[2018-05-04 14:53] stonematt commented on #135
@Drabiv I see the need for a Credential to reference another.  I also see the need for Credentials to "attach" or embed other Credentials, particularly in the evidence scenarios.  In both of those cases, there  is a "root" credential that is a the key reference.  What do you call the bundle of Credentials presented together that are simply rooted on the person/subject?  To date, Profile (soon to b

[2018-05-07 08:28] Drabiv commented on #135
@stonematt actually, I do not have a strong opinion on how to call Profile/Presentation. IMO it should be replaced with references/attachments altogether. Although, if the concept of Profile/Presentation needs to exist I would call it "Bundle". "Presentation" name might be confused with the concept of visual presentation of JSON data to end users in the form of HTML/SVG. I will propose "Bundle" na

[2018-05-07 08:34] Drabiv commented on #163
I think that Profile/Presentation concept in the spec should be replaced with a generic mechanism to reference/attach credentials from another credential (see issues #135).
Also, if the concept of Profile/Presentation needs to exist I propose to call it "Bundle", or "verifiableBundle".
"Presentation" name might be confused with the concept of visual presentation of JSON data to end users in the fo

[2018-05-10 21:14] vieillevigne opened #174 "Various questions related to the use of the "type" property"
I am trying to figure out the normative use of the property, “type”. From the draft of May 8 I observe the following:

- Every object at the top level (except for @context and verifiable profiles) has a “type” property
- Every subobject, except for subobjects which are the values of “claim” properties, have “type”properties.
- Apart from its occurrence in sections 7.2, 8.1 and 8.2 ‘type’ only appe

[2018-05-15 13:14] Drabiv commented on #163
Just to illustrate the point, that using "presentation" word to mean bundle of credentials might be confusing with understanding "presentation" - as a human friendly presentation of credentials JSON data.
In Validbook Statements we calculate hash of presentation layer and show it in JSON object with purpose "Presentation".
See example of signed VB Statement with calculated hash of presentation lay

[2018-05-15 13:52] Drabiv commented on #136
As an example of how data (in this case HTML document) can be hashed and referenced within VC, see this Validbook Statement – https://drive.google.com/file/d/1UjIZrREO7iJJ00qJQtaLW1ohtBIx3NgN/view?usp=sharing. Drop it into Validbook Statements service (http://futurama1x.validbook.org/statements) to see verifiable credential on JSON layer of VB statement.

In general, verifier should render HTML an

[2018-05-15 15:19] dlongley commented on #158
I believe the group decided that this issue can be closed now given our adoption of a SHOULD + a reason when not to (verifier acceptable risk):

https://github.com/w3c/vc-data-model/pull/159#issuecomment-385880935

If that's the case, let's close this in 7 days if no one objects.

[2018-05-15 15:27] msporny opened #175 "May 2018 - Review comments from Allen Brown"
@vieillevigne submitted lots of review comments for the spec in PDF form:

[AllenBrownReview-VerifiableCredentialsDataModel.pdf](https://github.com/w3c/vc-data-model/files/2020421/AllenBrownReview-VerifiableCredentialsDataModel.pdf)

This is just a reminder to @msporny to not drop that on the floor.

[2018-05-15 21:40] #168 closed

[2018-05-16 06:34] David-Chadwick commented on #158
@dlongley Actually the proposed text was MUST + a reason when not to (verifier accepts the risk).
see #159

[2018-05-16 13:51] David-Chadwick commented on #158
This issue can be closed because the existing text does say MUST.

[2018-05-16 13:54] msporny commented on #158
Thanks @David-Chadwick, closing the issue.

[2018-05-16 13:54] #158 closed

[2018-05-17 13:53] #148 closed

[2018-05-19 17:51] msporny commented on #174
I'm going to respond to your observations first:

This is typical of most JSON-LD documents. There are cases where type may be missing (where you're throwing some ad-hoc thing together and you don't have type information for it. RDF (in general) provides for reasoning about the types of objects based on their properties (duck typing).

Yes, usually, but not always (as explained above).

Yes, that'

[2018-05-19 18:03] #163 closed

[2018-05-19 18:12] msporny commented on #174
@vieillevigne wrote:

Claim objects are statements made about a particular subject identifier (sometimes identified by the `id` property). The entity making the claim (issuer) may not have type information and/or may not want to make that sort of claim. For example, a network connected temperature sensor may measure the temperature of a thing in front of it... but it may not know what type of thin

[2018-05-19 18:32] vieillevigne commented on #174
My suggestion then would be that if one does’t know the type of something one should say as much and call  it UNTYPED. Ignorance is really not the default state of the (technical) world.

What Happens Under the Monad Stays Under the Monad.
Sent from Allen's Mac Pro

[2018-05-19 19:18] msporny commented on #174
It's not just ignorance... in some cases, you may not want to specify the type (even if you know it). For example, I know that you're a Person, and I want to associate another attribute with you... and I've already made a statement elsewhere that is public that you are a Person... and I don't want to re-state what I know is obvious.

Remember, because of the data model, all of the claims are merge

[2018-05-19 19:32] vieillevigne commented on #174
The presupposition of the question is that the lists in the examples represent specialization hierarchy. Since you say there is no such hierarchy, the question is based on an evidently false hypothesis.

[2018-05-19 19:35] msporny commented on #174
That is not what the language is intending to convey... it used to be a "signature", and we changed it to "proof"... which made the language a bit unwieldy. The intent was to say that there is information that is "unverifiable"... and if you add a signature/proof of some kind... it's "verifiable" (for the definition of verifiable that we express in the specification).

Yes, you can express informa

[2018-05-19 19:43] msporny commented on #174
@vieillevigne wrote:

Yes, as those are optional fields that can be derived from the proof (in most cases). "issuer" and "issued" are provided if that information deviates from the date the proof was issued, or the proof was issued by a delegate of the issuer.

“type” and “claim” :)

[2018-05-19 19:49] msporny commented on #174
Note: We've switched over to language that now, instead of talking about "profiles", talks about "presentations".

Woops! Good catch, thank you! Fixed in https://github.com/w3c/vc-data-model/pull/177/commits/096068ea4a53d3f11fe5c548e36ea0126900becc

These should be fixed now as a result of a separate set of PRs.

[2018-05-19 19:51] msporny commented on #174
We've been using JSON Schema and Verifiable Credentials together for 7+ years now and have not had an issue. The reason for this is because JSON Schema is often run on JSON-LD objects as they're coming into the system and the two processes operate independently of one another. That is, JSON Schema knows nothing of JSON-LD... and JSON-LD knows how to contort itself such that JSON Schema has no idea

[2018-05-19 19:52] msporny commented on #174
@vieillevigne I think I've responded to every point you raised at this time. It resulted in a new section in the specification via this pull request: https://github.com/w3c/vc-data-model/pull/177

Let me know if you feel that other changes should be made to the specification based on my responses to you.

[2018-05-19 19:59] vieillevigne commented on #174
The distinction is formally easy to make, There are, for example, any number of logics conceived for knowledge representation purposes in which the distinction between “it is not known that P” and "it is not knowable that P” is syntactically and semantically evident. Null values have been and are used to mean both things in relational databases. There the failure to make the distinction has led to

[2018-05-19 20:25] David-Chadwick commented on #108
#170 fixes this

[2018-05-19 20:35] David-Chadwick commented on #120
I believe PR#170 and PR#176 resolve this issue

[2018-05-19 20:52] David-Chadwick opened #178 "Credentials Must always be Verifiable"
A verifier must always be able to trust the credentials it receives. This is written into the trust model.

Trust in the credential can be established in two ways:
a) it can be done by using a trusted channel between the issuer and the verifier, and transferring an unsigned/not cryptographically protected credential along a trusted channel, or
b) it can use an untrusted channel and a credential di

[2018-05-20 14:56] msporny commented on #174
Ah, but there are three possibilities: "it is not known that P", "it is not knowable that P", AND "P is known to me, but I do not wish to express it". These can be expressed as such:

1. "it is not known that P" - `"type": "Unknown"`
2. "it is not knowable that P" - `"type": "Unknowable"`
3. "P is known to me, but I do not wish to express it" - This is where you say nothing

The assertion I'm maki

[2018-05-20 15:04] msporny commented on #178
-1, there are use cases where you may just want to package up data for processing w/o a proof and store it somewhere public. For example, an IoT device w/o a public/private keypair may want to publish information w/o proofs. If we require proofs, we'd disallow this use case.

Trust can be established via a protocol. The specification is about data model.  We shouldn't unnecessarily limit what can

[2018-05-20 15:41] msporny commented on #175
@vieillevigne wrote:

@vieillevigne wrote:

@vieillevigne wrote:

@vieillevigne wrote:

1. Elucidation of technical considerations beyond the stated scope of the specif2. Conversational chattiness which might be appropriate to a tutorial but out of place in a document whose principal objectives have to be precision and accuracy.

In terms of succinctness, I contrast this document with the 16-page

[2018-05-20 15:48] msporny commented on #175
@vieillevigne wrote:

Yes, the test suite certainly has (and will have more of these sorts of tests). From a pedagogical standpoint, I'm not sure we want to include counter-examples in the specification. The reason being that there are many ways a Verifiable Credential can be wrong, and I'm not certain that elaborating on only a subset will be helpful. Verifiable Credentials that are wrong will fa

[2018-05-20 16:01] msporny commented on #175
@vieillevigne wrote:

Fixed here https://github.com/w3c/vc-data-model/pull/179/commits/901a5d3a42de4ec47b0df0f13a97e5ad8eaffe6f

[2018-05-20 16:02] msporny commented on #175
@vieillevigne wrote:

This has been fixed in https://github.com/w3c/vc-data-model/commit/901a5d3a42de4ec47b0df0f13a97e5ad8eaffe6f

[2018-05-20 16:11] msporny commented on #175
@vieillevigne wrote:

One of the frequent complements we received on the JSON-LD specification was that the specification's front-matter can be used to understand why the specification exists for people that are not developers while the back-matter can be used by implementers to implement.

I have no issue with short specifications, for example the meat of the HTTP Signatures specification (which

[2018-05-20 16:16] msporny commented on #175
@vieillevigne wrote:

Fixed in https://github.com/w3c/vc-data-model/pull/179/commits/3387198f96dade5cf42694970e2ab2d096ebaabd

[2018-05-20 16:20] msporny commented on #175
@vieillevigne wrote:

Fixed in https://github.com/w3c/vc-data-model/pull/179/commits/f30c3c0d3a5fdb8d73a0486958d64e1c9c705344

[2018-05-20 16:26] msporny commented on #175
@vieillevigne wrote:

Fixed in https://github.com/w3c/vc-data-model/pull/179/commits/d304bc760ad62366fe2e499acd72c4f1c4988124

[2018-05-20 16:32] msporny commented on #175
@vieillevigne wrote:

Fixed in https://github.com/w3c/vc-data-model/pull/179/commits/62e22423a26e7b801b5514ddd28bfe34ffdfc707

[2018-05-20 16:32] msporny commented on #175
@vieillevigne wrote:

We try to avoid the term "agent" as W3C people often confuse it with "user agent" which results in tragic consequences.

[2018-05-20 16:43] msporny commented on #175
@vieillevigne wrote:

Clarified the language around roles and entities in https://github.com/w3c/vc-data-model/pull/179/commits/2b6221c2693f6921ddc643e6e34f61ea4ff485a2 and https://github.com/w3c/vc-data-model/pull/179/commits/e26174c5057e7ada3f7df5a81520dd47503e221f

[2018-05-20 16:50] msporny commented on #175
@vieillevigne wrote:

Clarified it as a role.

[2018-05-20 16:51] msporny commented on #175
@vieillevigne wrote:

Fixed in https://github.com/w3c/vc-data-model/pull/172/commits/525d709eab4fe3b7f84bc3ffde802dbe47636f54

[2018-05-20 16:52] msporny commented on #175
@vieillevigne wrote:

I think this is fixed in https://github.com/w3c/vc-data-model/commit/525d709eab4fe3b7f84bc3ffde802dbe47636f54, but I'm not sure.

[2018-05-20 16:55] msporny commented on #175
@vieillevigne wrote:

The arrows do specify the data flow. The specification does state "Holders store their credentials in credential repositories". The Holder isn't always the only repository of credentials (for example, public databases, blockchains, etc. can also be credential repositories, some of them have no connection with the holder.)

[2018-05-20 16:56] msporny commented on #175
@vieillevigne wrote:

Yes, that is the correct interpretation.

[2018-05-20 16:57] msporny commented on #175
@vieillevigne wrote:

[2018-05-20 17:01] msporny commented on #175
@vieillevigne wrote:

Ha! Interesting, I didn't know that.

@vieillevigne wrote:

Yes, although they are provided to help give the reader some operational context.

@vieillevigne wrote:

Again, to provide the reader w/ operational context.

[2018-05-20 17:02] msporny commented on #175
@vieillevigne wrote:

The processor will throw an error.

[2018-05-20 17:06] msporny commented on #175
@vieillevigne wrote:

The property itself is defined by the Verifiable Credentials JSON-LD context (this is true for all properties defined in the specification)... which is defined in the section on extensibility above where this comment was made:

"the base JSON-LD Context (https://w3id.org/credentials/v1)."

[2018-05-21 10:59] David-Chadwick commented on #178
@msporny "There are use cases where you may just want to package up data for processing w/o a proof and store it somewhere public."
I don't accept your use case as currently stated. If information is published publicly without any proof, then anyone can publish the information and it is impossible to verify its provenance. So it should be out of scope of the VC work.

One way of doing what you req

[2018-05-21 13:41] msporny commented on #175
@vieillevigne wrote:

Clarified how evidence is different from proof in this commit: https://github.com/w3c/vc-data-model/pull/179/commits/f10f8c8136d567e16ea1e6c488df88ad9c2c33b7

[2018-05-21 13:56] msporny commented on #175
@vieillevigne wrote:

Removed confusing non-normative MAY language in https://github.com/w3c/vc-data-model/pull/179/commits/3dcbe4e5fe61fc2b82e018a82d5f0fe0ede194bc

[2018-05-27 14:44] msporny commented on #175
@vieillevigne wrote:

Cleaned up the language in https://github.com/w3c/vc-data-model/commit/860a725a0bb928780fad776c6729f0b0c97afa77.

[2018-05-27 15:02] msporny commented on #175
@vieillevigne wrote:

Fixed in https://github.com/w3c/vc-data-model/commit/ad793e1fcf8a40473a133888e39bb38b29b94aaf.

[2018-05-27 15:13] msporny commented on #175
@vieillevigne wrote:

Fixed in https://github.com/w3c/vc-data-model/commit/ffc269a37c876059e701f09cb1651dee6920d321.

[2018-05-27 15:26] msporny commented on #175
@vieillevigne wrote:

The text says "verifier", so the currently means "the future of the verifier". I expect you mean "example the verifier", and if they can't see it until 2 hours after issue, then it's not a problem as long as 2 hours in the future is not "in the future" for the verifier.

That said, I've clarified the language a bit in https://github.com/w3c/vc-data-model/commit/c6257558df9cb9

[2018-05-27 15:28] msporny commented on #175
@vieillevigne wrote:

This is up to the verifier's risk model to determine if that is appropriate for the use case. This is one of the reasons we're keeping the language around `issued` and `expires` a bit loose. It may be perfectly valid to accept credentials that have expired by a couple of days for a light ID check, for example.

[2018-05-27 15:45] msporny commented on #175
@vieillevigne wrote:

Yes, fixed in https://github.com/w3c/vc-data-model/commit/2d08dc40b50ae4e57e1d4c15882cb49f5ddff2ad.

@vieillevigne wrote:

Yes, that was confusing. Fixed in https://github.com/w3c/vc-data-model/commit/2d08dc40b50ae4e57e1d4c15882cb49f5ddff2ad to use positive examples instead of negative ones.

[2018-05-27 16:58] msporny commented on #175
@vieillevigne wrote:

I've effectively gutted the entire section on syntax as most of the specification is introduced by example, most every example /is/ JSON and this section doesn't add a great deal wrt. the examples and language. Most of the section is confusing and repetitive (it was one of the first sections written in the specification and hasn't been kept up to date). Thus, the huge editori

[2018-05-27 17:01] msporny commented on #175
@vieillevigne wrote:

Yes, that is correct. In fact, we weren't even allowed to start the WG until we had a section that picked apart all of the privacy considerations that we could think of. It took us multiple in-person meetings at conferences, multiple requests to WGs and IGs, and close to six months to do the analysis and bring all of this together. :(

Yes, well... there are politics at play

[2018-05-27 17:07] msporny commented on #175
@vieillevigne wrote:

If we can cite a collection of Web Privacy papers that might be better, such as from the most recent Privacy on the Web Workshop (which I did a quick search for and couldn't find).

[2018-05-27 17:09] msporny commented on #175
@vieillevigne wrote:

The latter establishes an exact date where the former just provides monotonic logic wrt. the question asked. The second is more privacy preserving than the first.

Yes, correct.

I'd challenge that assertion, there are zero knowledge proofs that would convince /some/ verifiers that the person's legality as a drinker is entailed.

[2018-05-27 17:15] msporny commented on #175
@vieillevigne wrote:

Yes, that is correct. I've tried to note that in the spec in https://github.com/w3c/vc-data-model/commit/30ccbcd01359a0c36e8bf9ec7178840d62393d16.

[2018-05-27 17:16] msporny commented on #175
@vieillevigne wrote:

Privacy is a sliding scale, and at times, principles are at odds with one another. So yes, it is at odds for all use cases, but not for some use cases (where you prefer one principle over the other).

[2018-05-27 17:18] msporny commented on #175
@vieillevigne wrote:

They are different conceptually... Principle of Minimum Disclosure is meant to be about "asking and giving as little as possible"... Aggregation of Credentials is about "be aware of the information collected on you over time".

[2018-05-27 17:26] msporny commented on #175
Ok @vieillevigne, I have responded to every comment you made in your review. Most of them with changes, and when there were not changes, the response included the reason there were no changes.

Please review PR https://github.com/w3c/vc-data-model/pull/179 ... diff-marked version here: https://pr-preview.s3.amazonaws.com/w3c/vc-data-model/179/daed52d...352a574.html line by line diff here: https://

[2018-05-28 19:46] dlongley opened #180 "Disputed credential section is confusing"
https://github.com/w3c/vc-data-model/blob/gh-pages/index.html#L1064-L1089

A type of "DisputedCredential" is a statement about the credential doing the disputing, so this name seems wrong. Also, it may be that the IDs appear in the wrong place in the example.

[2018-05-29 10:19] David-Chadwick commented on #178
This issue is related to 'unverifiable credentials' in #175 and #179.

[2018-05-29 10:31] David-Chadwick commented on #178
@msporny . It does not matter whether the receiver authenticates the user/holder/sender or not, as this does not affect the trust model, nor whether the VC can be trusted. If the user is untrusted, then authenticating the user and knowing that I am connected to an untrusted user, will not help me to accept an unsigned and therefore untrusted VC from this user. I need to see a signature from the is

[2018-05-29 14:49] petrsnm opened #181 "Verifiable Claims --> Verifiable Credentials"
Noticed that one significant difference between the [latest published version](https://www.w3.org/TR/verifiable-claims-data-model/)  and the [current editor's draft](https://w3c.github.io/vc-data-model/) is a rename of title and terminology:  "verifiable claims" is changed to "verifiable credentials"

There are a few remaining occurrences of "verifiable claims" left in in "Privacy Considerations"

[2018-05-29 14:59] msporny commented on #181
The W3C version of the spec is horribly out of date... it's almost a year old at this point. @liamquin -- is there any way that we can make sure that the W3C version of the spec is published at least on a monthly (or more frequent) basis? Perhaps using the autopublisher? I think we approved this move a while ago, but it still hasn't been implemented?

Thanks, will fix in the next editorial pass of

[2018-05-29 19:15] msporny opened #182 "Are CredentialStatus, TermsOfUse, and Evidence useful types?"
There are PRs pending that establish `CredentialStatus`, `TermsOfUse`, and `Evidence` as types in the data model. It is argued that these types 1) do not result in any code being written that utilizes them, and 2) are already encoded in the `credentialStatus`, `termsOfUse`, and `evidence` properties.

[2018-05-29 21:01] David-Chadwick commented on #182
I think we are talking at cross purposes. I am not talking about what a VC or a VP must contain. I am talking about properties with embedded types. If we have a property named X, that contains an embedded type, then that type either should or should not contain type X. I am trying to be consistent, and currently have suggested that the type should contain X. But if we decide X is redundant in the

[2018-05-29 21:57] dlongley commented on #182
The presence of type tells you something about the kind of thing you've encountered and is often a strong signal to expect certain other properties. In other words, the value of "type" has some semantics and/or utility.

A property can also convey some of this information -- essentially the "range" of a property sets expectations for what value you'd expect to find it linking to. A property is a v

[2018-05-29 22:35] David-Chadwick commented on #182
@dlongley What could I do by knowing an object was a "TermsOfUse"?
Ans. First I would know that I cannot accept the VC without fully understanding all the contents of the object (assuming of course that this is a standards conformant implementation)

What conclusions could I draw from that?
That I cannot ignore this object or accept the VC for further processing without first fully processing this

[2018-05-30 16:18] dlongley commented on #182
@David-Chadwick,

Hmm, I should have been more clear in my questions so I apologize for that. I think every response you gave was in relation to an object (a VC) which the terms of use were linked via the property "termsOfUse". Correct? If so, I believe you can do all of the above without the type "TermsOfUse"; it does not enable those behaviors. In fact, it seems to me that a standalone object (n

[2018-05-30 19:36] David-Chadwick commented on #182
@dlongley In another thread (#182) you said that you cannot infer the type of the object from the property, which is why you need the type, quote "The presence of type tells you something about the kind of thing you've encountered and is often a strong signal to expect certain other properties. In other words, the value of "type" has some semantics and/or utility."
You also said " But there is no

[2018-05-30 19:40] David-Chadwick commented on #182
OOPs. The above should have read " @dlongley . Further up this thread (#182) you said...."

[2018-05-30 20:53] dlongley commented on #182
@David-Chadwick,

But "TermsOfUse" doesn't tell you anything. So it's not helpful. The type you need is like "OdrlTermsOfUse" or "SomeOtherSpecificTermsOfUse" -- which would be defined in another vocabulary. Yes, you do need a type here in order to do some processing ... but "TermsOfUse" isn't it.

You said this above:

This is exactly right. The problem is that "TermsOfUse" won't be in that "prec

[2018-05-30 21:47] David-Chadwick commented on #182
My implementation will have several preconfigured lists, one for each type of object. One of these lists will be termsOfUse. So I use the TermsOfUse type to tell me which preconfigured list to consult. I surely dont want to consult them all.

[2018-05-31 17:03] David-Chadwick opened #183 "Value of Type Property"
The Type property must be a URI according to the data model specification, viz : "The value of this property MUST be one or more URIs."

Implementors of VCs do not need to know JSON-LD, and indeed there is a section that says how to encode VCs in pure JSON.

However, all the examples of the <code>type</code> property in the data model spec use strings such as "VerifiableCredential" as examples of

[2018-05-31 17:33] dlongley commented on #183
The simple fix for this is to say that the types defined in the core spec are acceptable. Any other types must be URIs (or JSON-LD terms if using JSON-LD).

[2018-06-01 09:30] David-Chadwick commented on #183
I dont see how this fixes the interworking problem because the core types are insufficient for virtually all interworking, save declaring someone's age.

[2018-06-01 10:22] David-Chadwick commented on #182
I accept that the lists can be hung from the terms of use property and that the "TermsOfUse" type can be regarded as duplication. But this is no different to the duplication inherent when you insert a VC into a VP. I cannot see why you are arguing for the model to be different in these two cases.

[2018-06-01 13:52] dlongley commented on #183
@David-Chadwick,

Please give an example of where it does not work (if we apply my proposed fix) so we can analyze it.

[2018-06-01 14:00] dlongley commented on #182
`VerifiableCredential` provides utility when you're not using a `VerifiablePresentation`. That's the difference. You may see a `VerifiableCredential` appear somewhere else (off of some other property) -- and it provides its own information about what properties to expect (`claim`, `proof`, `issuer`, so on). `TermsOfUse` does not do the same.

[2018-06-01 14:01] David-Chadwick commented on #183
Issuer A uses JSON-LD so issues a VC of type "VerifiableCredential" and "UniversityStaff". The JSON-LD maps the latter into a URI that verifiers who understand JSON-LD can use and look up the URI for its definition.
Verifier B does not understand JSON-LD and receives the VC of type "VerifiableCredential" and "UniversityStaff". It understands the former as it written into the standard, but not the

[2018-06-01 14:11] David-Chadwick commented on #182
Agreed. So if there is a common field that all TermsOfUse must have, then this would be the rationale for having the TermsOfUse type in a TermsOfUse object.

[2018-06-01 14:13] dlongley commented on #183
@David-Chadwick,

You're talking about what I believe to be a protocol level problem. If a verifier requests a VC that uses `application/json` (as opposed to `application/ld+json`) then the presenter must share a VC that uses the default JSON-LD `@context`. This would result in "UniversityStaff" being represented as a URI in the JSON syntax. Again, this is a protocol level concern -- which we're n

[2018-06-01 14:44] David-Chadwick commented on #183
I think it would be very useful to add something to the spec, because we have a section on how to encode VCs as JSON, or as JSON-LD.

I guess my concern is at least twofold:
i) all the early examples are in pure JSON and dont have any JSON-LD constructs in them (implying that this is just fine) when in fact they are not, as @contexts are needed.
ii) The latest text on extensibility seems to mandat

[2018-06-01 14:45] dlongley commented on #182
@David-Chadwick,

+1

[2018-06-01 14:49] dlongley commented on #183
@David-Chadwick,

Just a quick note - We mention that if an `@context` is not present then a default one is assumed. From the current spec:

[2018-06-01 15:50] burnburn commented on #57
Direct message sent, no reply.  Put on permanent hold.

[2018-06-02 23:10] lovesh opened #184 "Renaming "issued" and "expires" to "issuanceDate" and "expirationDate""
"expires" sounds ambiguous as to whether it means the credential can expire or not. Can we make the name more explicit?

[2018-06-09 04:10] lovesh commented on #180
@dlongley I agree, it says `For example, if a disputed credential with an identifier of https://example.org/credentials/245` but it should say `For example, if a disputed credential with an identifier of http://con-artist.example.com/credentials/3732`. The credential id being disputed goes in `claim`

[2018-06-12 15:15] nage commented on #125
There is active work going on in the fork at https://github.com/sovrin-foundation/vc-data-model. I expect more to discuss as we review which of these changes are necessary.

[2018-06-12 15:51] stonematt commented on #133
@David-Chadwick in which PR is this addressed?

[2018-06-12 22:37] msporny commented on #174
Closing this issue as a new type section has been added to the spec.

[2018-06-12 22:38] #174 closed

[2018-06-12 22:38] msporny commented on #175
All review comments have been processed and editorial changes have been made to the specification.

[2018-06-12 22:39] #175 closed

[2018-06-12 23:23] msporny commented on #180
Attempted a fix in https://github.com/w3c/vc-data-model/commit/19bb3f43b042b7d9280e469316ab23ba23489470 ... pay particular attention to the `disputedClaim` addition. Don't know how I feel about it yet, but tried to find a way to point out specific claims that are disputed.

[2018-06-13 00:02] #181 closed

[2018-06-13 00:03] msporny commented on #181
editor's draft of "Verifiable Claims Use Cases"

That would be a task for @stonematt and @jandrieu.

[2018-06-13 00:04] msporny commented on #181
Thanks for the issue @petrsnm ... fixed in https://github.com/w3c/vc-data-model/commit/ba43ef77f52abcd031f243a593eb46986f546331.

[2018-06-13 00:06] msporny commented on #182
Has anyone identified a common field for these types: CredentialStatus, TermsOfUse, and Evidence ... if not, I suggest we close this issue and will do so in 7 days.

[2018-06-13 00:17] msporny commented on #184
The spec is pretty clear about the meaning: https://w3c.github.io/vc-data-model/#expiration

We had considered appending "Date" in the past, but folks asserted that it's really a date *and* time. So, we could do expirationDatetime or expirationTime.

There has also been a request to align with JWT, which uses "Expiration Time" or "exp" and "Issued At" or "iat"... both of which are not great either

[2018-06-13 00:45] msporny commented on #137
This has been fixed in the latest spec, closing.

[2018-06-13 00:45] #137 closed

[2018-06-13 00:53] msporny commented on #136
I'm still having a very hard time understanding why the core specification needs to define this, especially because there are multiple different ways to do what is being proposed. We are not dealing with simple use cases above, but rather very complex ones with multiple moving parts where the suggested solutions assume things that don't exist today, such as "trusted HTML renderers" that are capabl

[2018-06-13 00:56] msporny commented on #135
I'm not seeing consensus forming around the suggestion that we need a new mechanism to reference separate credentials. I suggest we close this issue as it doesn't seem to be making any progress.

[2018-06-13 00:59] msporny commented on #50
ping @jandrieu @stonematt ... trying to close this issue, please add the use case @Ryladog mentioned above to the VC Use Cases document.

[2018-06-13 13:07] TzviyaSiegman commented on #50
We could tie this into the Education use cases by making it about proving disability to get accessible textbooks.

[2018-06-14 08:20] Drabiv commented on #135
I am against closing this issue. The absense of consensus does not mean that there is no issue or demand to fix this issue.
In Validbook we have a graph of credentials that reference each other or are attached in each other.
I have proposed a way how to do this [here](https://github.com/w3c/vc-data-model/issues/135#issue-307175973), but I do not held to it dearly.
If someone has another, better pr

[2018-06-14 08:37] Drabiv commented on #136
In Validbook we have a need to reference data from a credential or attach data into a credential.
The proposal is to reference data by using its hash. To attach data, the proposal is to serialize it and place into property 'content', that is a child of property 'attachment'.

The referenced or attached data might not be an evidence of some sort, it may be used for other purposes, for example for h

[2018-06-14 13:43] msporny commented on #135
Ok, we'll leave the issue open.

[2018-06-14 17:02] jandrieu commented on #50
Moved to Use Cases https://github.com/w3c/vc-use-cases/issues/74

[2018-06-14 17:02] #50 closed

[2018-06-15 17:00] burnburn commented on #135
@Drabiv , your comments have several times included specific suggestions for substantive changes to the specification.  Unfortunately, we cannot accept substantive contributions from you until you have made the IPR commitments that all other members of this group have made.  We would love to have you join the Working Group!  You can find information on those commitments and how to join the Working

[2018-06-15 17:03] burnburn commented on #126
Hi @Drabiv , we'd like to have you join the Working Group so we can more fully consider your suggestions.  Please see https://github.com/w3c/vc-data-model/issues/135#issuecomment-397682978 for details.

[2018-06-15 17:07] burnburn commented on #136
Hi @Drabiv , we'd like to have you join the Working Group so we can more fully consider your suggestions. Please see https://github.com/w3c/vc-data-model/issues/135#issuecomment-397682978 for details.

[2018-06-16 08:53] Drabiv commented on #135
@burnburn I have  submitted a W3C Invited Expert Application as I am not an employee of W3C memeber organization. When/if it is approved I will apply to join the group as IE. Thank you!

[2018-06-16 08:55] Drabiv commented on #126
@burnburn I have applied to become IE to join the group. Thank you!

[2018-06-16 08:55] Drabiv commented on #136
@burnburn I have applied to become IE to join the group. Thank you!

[2018-06-16 17:17] liamquin commented on #135
@Drabiv I've reviewed your application and sent you some questions, thank you very much for that

A quick note (for you and for anyone else)... Our W3C policy is that we can't normally accept invited experts from organizations that would normally be expected to join W3C - partly because it's how the work is funded but also becuse of software patents the organization might own. So we would like to

[2018-06-18 19:39] dlongley commented on #135
@Drabiv,

If someone has another, better proposal on how to reference or attach credentials from another credential, or can demostrate how to do it with current specs, I will be glad to accept it.

I disagree with your technique for the reasons [stated here](https://github.com/w3c/vc-data-model/issues/126#issuecomment-374639077). In short, adding a generic "reference" or "attachment" property that

[2018-06-19 14:32] dlongley opened #187 "Modeling Travel Use Case as an extension example"
The aim of this issue is to hash out some example VCs that would address the [Travel Use Case](https://github.com/w3c/vc-use-cases/pull/73). To close this issue out we'd create a PR that adds the examples we get consensus on to a "guidance on writing extensions" section in the data model spec.

There are potentially four VCs to model here: Malathi's passport, Anand's passport, Anand's birth certif

[2018-06-22 14:00] Drabiv commented on #135
@dlongley I still do not understand the following:
1. how to securely reference credential from a credential
2. how to attach credential into credential
2. why proposed Reference, and Attachment properties are not good

I am OK to use another technique. Please, describe it or point me to it (see use cases that I am looking to satisfy below).

This issue is raised not only because of SURLHI Endorse

[2018-06-24 13:52] David-Chadwick commented on #182
Continuing the discussion about types only being there if they define a common property that all objects of that type must contain, then let us turn to the examples in #187. Here we are modelling passports as VCs. Note that we are adding the type "PassportCredential" **not** to the claim object, but to the credential object. However the type "PassportCredential" does not say anything about propert

[2018-06-24 14:21] David-Chadwick commented on #187
These are broadly OK. Comments I have on the various VCs are

1. Birth certificate

The type property in the birth certificate should of course be
[code]
and not
[code]
and the address object also ideally needs a type property because this address is US centric and not globally recognised, which leads to the following

[code]

2. Permission to Travel.

I would say the claim property should be "chi

[2018-06-24 20:38] msporny commented on #184
Ok, I'll switch the spec over to "issuanceDate" and "expirationDate" unless there are strong objections in the next 7-14 days.

[2018-06-24 21:15] msporny commented on #149
I made an attempt to resolve this issue in https://github.com/w3c/vc-data-model/pull/189.

[2018-06-24 21:17] msporny commented on #182
I made an attempt to address this issue in https://github.com/w3c/vc-data-model/pull/189 with simpler language. Does this work for you @David-Chadwick?

[2018-06-24 21:19] msporny commented on #183
This PR exists now: https://github.com/w3c/vc-data-model/pull/189 ... what are the remaining issues you are concerned about @David-Chadwick?

[2018-06-24 23:22] David-Chadwick opened #190 "Problems with the Extensibility Section"
The extensibility section appears to only allow extensibility if JSON-LD is used, whereas VCs should be infinitely extensible if pure JSON is used as well.
Extensibility can easily to added to VCs irrespective of whether JSON-LD or pure JSON is used to encode the VC by the use of strong typing i.e. each VC should contain sufficient type information, either as a property of the VC itself, or of its

[2018-06-25 01:15] talltree commented on #184
+1 to "issuanceDate" and "expirationDate".

On Sun, Jun 24, 2018 at 1:38 PM, Manu Sporny <notifications@github.com>
wrote:

[2018-06-26 06:03] David-Chadwick commented on #182
I find your "simpler" language ambiguous, indirect and unclear viz: "unless the type is not known or not including the type would not result in ambiguity when processing the credential. " It leaves far too much wiggle room for people to wrongly interpret it i.e. such as, "we don't need to include type properties because we do not know it".

My text is simpler, more direct, and easier to understand

[2018-06-26 06:06] David-Chadwick commented on #182
To support my text, think of selling a house. Houses are not advertised simply as "house for sale" because in that case prospective purchases would need to inspect each house to see if its embedded rooms were what they wanted. Instead they are advertised as (at least in the UK) as "4 bedroom house for sale", "two bedroom, two bathroom house for sale". I.e. the types of the embedded objects are pub

[2018-06-26 12:59] msporny commented on #182
I'm fine with this text (with minor editorial changes). It's weaker than the text in PR #189, but if you're happy with it, I am as well. I'll update PR #189.

[2018-06-26 13:44] msporny commented on #149
I've implemented these changes in PR #189 and PR #191. Do those PRs resolve this issue, @David-Chadwick?

[2018-06-26 14:10] msporny commented on #183
We've been internally debating the proper way to address this issue over the past couple of weeks. We were able to agree on a set of principles that would be desirable:

1. In general, do not require application developers to understand JSON-LD.
2. Push any heavy lifting wrt. software development to issuers first, verifiers second.

There is also one thing that is inescapable:

Everyone will have

[2018-06-26 14:28] msporny commented on #190
Let's presume that we don't have JSON-LD. What are the rules for providing infinite extensibility when using pure JSON? What are the processing rules? How does one write code to enforce those processing rules?

I posit that you will just end up re-inventing JSON-LD.

I've suggested a path forward here: https://github.com/w3c/vc-data-model/issues/183#issuecomment-400323137

One of these issues is a

[2018-06-26 15:41] stonematt commented on #70
options in current DM:

- Issuers doesn't issue atomic credentials that they don't want to be rebounded discreetly
- use ZKP approach.

do these options address the risk?
-- @jandrieu @TzviyaSiegman we should add this to our use case document

[2018-06-26 15:49] stonematt commented on #47
does ProofPurpose fully address this need?

[2018-06-27 16:22] jandrieu commented on #68
This is addressed in the new section on token binding  section 10.4 and section 5.6 in PR #173

[2018-06-27 16:22] #68 closed

[2018-06-27 18:22] jandrieu commented on #70
Moved to use case repo for consideration there. https://github.com/w3c/vc-use-cases/issues/75

[2018-06-27 18:22] #70 closed

[2018-06-30 15:42] David-Chadwick commented on #183
Higher up this posting @dlongley said that whether the VC was encoded as pure JSON or JSON-LD was a protocol level issue (I will call it a transfer syntax issue) and the two are not-interoperable, in much the same was as JSON or XML encodings are not (although software can clearly translate between the two). Thus ?all/some/most? the current examples, which assume JSON-LD transfer syntax, should al

[2018-06-30 15:50] David-Chadwick commented on #190
I have answered your above questions more generally in #183, but to summarise here:
i) infinite extensibility is provided by the addition of new unique type URIs. Any issuer can add any new types it wants to.
ii) the processing rules for a verifier are at their simplest, if you dont understand a type, you reject the VC. (You might additionally notify the administrator to update the implementation

[2018-06-30 16:09] David-Chadwick commented on #120
We now have PRs for fixing the IDs of TermsOfUse and CredentialStatus, but not for Claim

Can we please change "claim" to "subject", viz:

[code]

[2018-07-01 19:58] msporny opened #193 "Enforce strict context ordering"
There are a subset of developers that want to hard code verifier checks:

https://github.com/w3c/vc-data-model/pull/189#issuecomment-401550556

This is dangerous to do in the general case where a JSON-LD processor isn't used. There is a mechanism that could be utilized to do this, which is to enforce the proper ordering of @context values and then switch off of `type`. A non-JSON-LD verifier could

[2018-07-01 20:00] #149 closed

[2018-07-01 20:01] #184 closed

[2018-07-02 04:08] jandrieu commented on #47
This brings up https://github.com/w3c/vc-data-model/issues/118 where I describe how the three different types of claims can be presented using the existing spec.

@ChristopherA spoke about this and boiled it down to (1) a disparate set of terms used differently for similar ideas in different systems and (2) the need for examples to illustrate, in JSON-LD, how the current spec (with or without Proo

[2018-07-02 09:54] David-Chadwick commented on #118
You may wish to consider two additional points in this discussion:

1) you can never really know if the signer really did intend to sign the VC, or even if they believe it is a true statement. He/she may have had a gun pointed at their head and told to sign or they would be killed.
2) an issuer can always at a later point in time issue a revocation statement to revoke his/her original signature fo

[2018-07-03 14:28] msporny commented on #183
You're starting from a false premise... There is a subset of JSON/JSON-LD constructs that do not require translation in order to achieve interoperability.

That is not required, as nothing changes between the JSON-LD and JSON versions.

Now, we may want to change minor things in the examples (like the ones in the extensibility section), but the goal here is that the JSON and JSON-LD expressions, i

[2018-07-03 14:34] msporny commented on #190
-1, this will lead to an unnecessary bifurcation between the JSON and JSON-LD markup. This point is further elaborated upon in this comment:

https://github.com/w3c/vc-data-model/issues/183#issuecomment-402177111

+1, we can make this happen for both JSON and JSON-LD.

I don't think anyone is proposing that we do this, so it's a red herring.

[2018-07-03 14:44] #180 closed

[2018-07-05 10:22] David-Chadwick commented on #183
@msporny  said "The data needs to go through canonicalization and signing -- all of which is encapsulated in a [JSON-LD] library that provides a "the signature is valid/invalid" return value."

Do open source zero-cost licences exist for verifying the proposed signature format?

I know that several different ones exist for JWT (see for example http://openid.net/developers/jwt/).

In order to gain

[2018-07-05 10:33] David-Chadwick commented on #183
@msporny said "... leading to a non-interoperable ecosystem. I think that puts us on a very dangerous path."

I disagree. In order to ensure the wide acceptance of VCs, different communities of interest will want to ensure that their eco-system does not interoperate with other VC eco-systems e.g. consider the SWIFT network migrating to VCs - it will only want banks to be able to interoperate with

[2018-07-05 12:55] msporny commented on #183
@msporny said: "The data needs to go through canonicalization and signing -- all of which is encapsulated in a [JSON-LD] library that provides a "the signature is valid/invalid" return value."
@David-Chadwick said: Do open source zero-cost licences exist for verifying the proposed signature format?

Yes, of course... we generate zero-cost open source software for every standard that we're involved

[2018-07-06 12:09] David-Chadwick commented on #183
@msporny said ... but effectively, pure JSON processors would just check to make sure the active context is [A, B, C, D], which can be done via a simple convenience function and a simple if statement:

  if(_activeContext([A, B, C, D])) { ... do hardcoded stuff ... }
  else { ... throw error ... }

This makes it such that "JSON extensions" are not relegated to second class constructs and can use s

[2018-07-06 15:41] stonematt commented on #187
Types like the one you call out on address are in the domain of @context and will be agreed upon between the issuer and verifier.  As long as the data model supports this sort of industry specific negotiation, then we've done what's required to move ahead.

The Type at the top level "VerifiableCredential" is one that we specify w/ some bare minimum content.  Types such as "BirthCertificate" not ou

[2018-07-08 17:59] msporny opened #194 "Use schema.org as the base schema?"
We could use: `https://w3id.org/credentials/v1` as the base schema, or we could use `https://schema.org/` as the base schema.

Doing the former enables us to strictly control the base vocabulary.

Doing the latter enables people to express just about everything in schema.org AND digitally sign it (which could turn into a pretty big use case). The downside of the latter approach means that things m

[2018-07-08 18:01] #182 closed

[2018-07-08 20:00] msporny opened #195 "Add Conformance section"
Most W3C specifications contain a conformance section to talk about things like "conforming documents" and "conforming processors". The current specification does not have that section. We should fix that.

[2018-07-08 20:07] msporny commented on #193
PR submitted to address this issue: https://github.com/w3c/vc-data-model/pull/196

[2018-07-08 20:07] msporny commented on #190
PR submitted to address this issue: https://github.com/w3c/vc-data-model/pull/196

[2018-07-08 20:52] msporny commented on #136
Sure, here's an example of a cryptographically provable link (hash) to an external image:

[code]

... and here's an example of embedding an image:

[code]

... both are cryptographically secured either directly or via content hashes. The data model doesn't need to change at all to support either approach.

[2018-07-09 11:48] David-Chadwick commented on #194
Schema.org is perhaps attempting to boil the ocean. The vast majority of the definitions will probably never be used in VCs, whereas the definitions in https://w3id.org/credentials/v1 will be used in all VCs. I envisage different communities of users will define their own properties in their own namespaces, but may reference particular elements in schema.org like person or person properties attrib

[2018-07-09 13:51] msporny commented on #194
See https://github.com/schemaorg/schemaorg/issues/1654

/cc @danbri @rvguha @philbarker

Yes, it could, but that's not what I'm suggesting. I'm suggesting that we could do a number of things (in increasing order of uneasiness):

1. Use schema.org as the "vocabulary" for Verifiable Credentials. So, `VerifiableCredential` is a schema.org term (i.e. `http://schema.org/VerifiableCredential` instead of

[2018-07-09 14:47] David-Chadwick commented on #194
Unless I have misunderstood what you are wanting to do, I think it is a very bad idea to have a context of http://schema.org. as this will mandate that every VC verifier must know and understands every term in schema.org. It will be virtually impossible to control which VCs to legitimately accept in this case, if they can contain anything from schema.org.
My eco-system viewpoint is that verifiers

[2018-07-09 15:13] stonematt commented on #194
@David-Chadwick  This comment raises a bit of a red flag for me.

While it's true that verifiers will have to exercise judgement as to which VCs they'll recognize and the issuers they'll trust, why wouldn't we leverage existing and accepted name spaces and ontologies to describe content in claims?  Schema.org seems like a resource that we should leverage and rely on extensively.

Maybe I'm reading

[2018-07-09 17:04] BigBlueHat commented on #194
@David-Chadwick the `@context` sent with a VC isn't the tool to use for the VC *verifier* to use for validation. Its use is to shape the underlying identifiers and values in the output *graph* which is encoded in the JSON-LD. Once you've got that graph, *then* you would care about what was (or was not) stated in the claims (et al).

If your use case requires only specific terms to be used, then yo

[2018-07-09 19:08] David-Chadwick commented on #194
Maybe an example of @context using schema.org when the VC is extremely limited in what it will contain (e.g. age property only) would help to clarify the difference between defining terms and restricting which terms can appear in a VC.

Looking at example 8 on extensibility, I have two questions about this example:
1. Why is the extended type not defined in the type property? How is the verifier t

[2018-07-10 14:37] msporny commented on #164
Time to Live is probably a bad name for this feature... I think what we're really going for is something that already exists in HTTP - the Cache Control header:

https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Cache-Control

Let's not re-invent the wheel and just re-use the header name and the acceptable values of the field as they seem to map cleanly to the use case presented above.

As

[2018-07-10 18:59] msporny commented on #19
There is a PR now that adds this feature: https://github.com/w3c/vc-data-model/pull/199

[2018-07-10 20:41] msporny commented on #133
I assert that we fixed this issue in https://github.com/w3c/vc-data-model/pull/191 ... @jandrieu do you agree, because if so, we should close this issue.

[2018-07-10 20:51] msporny commented on #126
This is a duplicate of #135 and #136, closing.

[2018-07-10 20:51] #126 closed

[2018-07-10 20:54] msporny commented on #123
We addressed this issue in PR https://github.com/w3c/vc-data-model/pull/189 ... @David-Chadwick can we close this issue now that the PR is in the core spec?

[2018-07-10 20:59] msporny commented on #108
Resolved in https://github.com/w3c/vc-data-model/commit/f96e446802928bb7d80516d5ef23da8415c56406 ... closing issue.

[2018-07-10 20:59] #108 closed

[2018-07-10 21:03] msporny commented on #107
All mentions of "typically" and "or subject" have been removed from the specification. I've scanned the current specification for the original issue and further issues raised in the first comment and have found all of the text to have been updated over time. I'm closing this issue because all text has been updated over time to remove the issues mentioned.

[2018-07-10 21:03] #107 closed

[2018-07-10 21:48] #195 closed

[2018-07-11 00:00] CipherQueen opened #200 "Terminology in the two documents"
Both documents have terminology sections:
- Terminology is section 2 of the _Verifiable Claims Data Model and Representations_ document.
- Terminology is section A of the _Verifiable Claims Use Cases_ document.

This is great, but there is a slightly different set of terms in each document. Plus the definitions of some of the terms differ in length and detail (not necessarily meaning, although the

[2018-07-11 01:42] msporny commented on #200
You're not missing anything @CipherQueen, we're supposed to be using a shared glossary which is here:

https://github.com/w3c/vc-data-model/blob/gh-pages/terms.html

@jandrieu -- any chance you could refer to that glossary like so in the vc-use-cases document:

https://github.com/w3c/vc-data-model/blob/gh-pages/index.html#L399

The link to the glossary is this one:

https://w3c.github.io/vc-data-m

[2018-07-12 12:27] CipherQueen opened #201 "Typos"
Attached please find a nine-page document with typos, spelling errors, and nits.

[Verifiable Credentials Data Model notes, V2.docx](https://github.com/w3c/vc-data-model/files/2188576/Verifiable.Credentials.Data.Model.notes.V2.docx)

[2018-07-13 16:42] Drabiv commented on #106
A comment to the central premise of this issue and this diagram https://lists.w3.org/Archives/Public/public-vc-wg/2018Jan/att-0006/SubjectHolder.jpg

The statement that "Subject=Holder" is the most common case is not correct.

It is a common practice to provide identification documents to counterparties in dealings with relatively high stakes involved (buying/selling/renting something expensive).

[2018-07-17 13:45] #183 closed

[2018-07-17 14:51] msporny commented on #164
Having written PR #199, I now believe that this feature is unnecessary and creates further complexity in the specification. The problem is that the issue presumes that TTL is a good idea when we have other mechanisms that accomplish the same thing as a TTL.

I suggest we do not pull in PR #199 and close it, not support the concept of TTL in this version of the specification, and submit a new PR fo

[2018-07-17 15:32] burnburn commented on #76
Without input from @gkellogg this is unlikely to make progress.  @retog if you are willing to help make progress here please respond.  Marking as deferred until we hear otherwise.

[2018-07-17 15:32] msporny opened #202 "Align JSON-LD Context with latest Verifiable Credentials specification"
The current Verifiable Credentials JSON-LD Context is horribly out of date and needs to be updated.

[2018-07-17 15:39] msporny commented on #129
This is a duplicate of #128.

[2018-07-17 15:41] burnburn commented on #105
@David-Chadwick please take a look and let us know what concerns remain given the current text.

[2018-07-17 15:41] msporny commented on #128
I think we should defer this feature until the next version of the specification for the following reasons:

* Digital Bazaar is using JSON Schema and no changes to the specification are required for this to happen.
* No one else has stepped forward to do an implementation of this feature nor write the PR for it.
* We can defer the feature safely and add it later as it's not vital for the operatio

[2018-07-17 15:42] burnburn commented on #157
PR merged.  Closing.

[2018-07-17 15:42] #157 closed

[2018-07-17 15:58] msporny commented on #93
Note that WebAuthentication is purely CBOR/COSE-based... and that seems to be the direction that this stuff is headed in. So, it raises the question if we want to pull in the JOSE/JWS/JWT stuff when W3C specs aren't pulling it in for WebAuthentication as that spec moves forward.

[2018-07-17 16:02] dlongley commented on #162
This is being explored with implementations. Specifically, we're looking into using WebAuthn with Verifiable Presentations and DIDs. We should have a marker in the spec indicating that we're exploring this issue but leave it at that for the moment. We don't know how our implementation experiments will work out yet -- but either way we'll probably leave some kind of comment in the spec. That commen

[2018-07-17 16:31] gkellogg commented on #76
I don't expect progress on ShEx anytime soon, and can't comment on SHACL. Due to my long absence, and growing obligations elsewhere, I'm taking myself off of this issue.

[2018-07-17 19:00] burnburn commented on #76
Thanks Gregg.

On Tue, Jul 17, 2018 at 12:31 PM, Gregg Kellogg <notifications@github.com>
wrote:

[2018-07-19 10:39] David-Chadwick opened #203 "How to prevent a Verifier from acting as an unauthorised Holder"
Say a holder (who may or may not be the subject) sends a VC to a Verifier that it trusts to use the VC for a particular purpose, and puts a limitation in the Terms of Use of the Verifiable Presentation to this effect, then what is to stop an untrustworthy Verifier from stripping off the Verifiable Presentation and then presenting the VC to another verifier, wrapped in a new Verifiable Presentation

[2018-07-19 14:05] msporny commented on #203
The verification software that we are writing expects the DID specified for `verifiableCredential.claim.id` to be associated with `verifiablePresentation.proof.creator`. If it is not, the linkage between the Verifiable Credential and the holder must be established in some other way. If the linkage can't be established, and the establishing the linkage is important for the use case, the verificatio

[2018-07-19 15:29] dlongley commented on #203
I don't think "delegation" of a VC makes any logical sense. A VC is a statement of identity about a subject. How do you "delegate" that? Delegation is the act of granting authority (that one already has) to another party. What authority you have is determined by the verifier, not the issuer (the one making statements about identity).

With the existing data model anyone can already say anything ab

[2018-07-19 15:44] msporny commented on #123
Closing, as I believe we've addressed this issue in PR #189. Re-open if we haven't.

[2018-07-19 15:44] #123 closed

[2018-07-19 15:45] msporny commented on #190
Closing, as I believe we've addressed this issue in PR #196. Re-open if we haven't.

[2018-07-19 15:45] #190 closed

[2018-07-19 15:45] msporny commented on #193
Closing, as I believe we've addressed this issue in PR #196. Re-open if we haven't.

[2018-07-19 15:45] #193 closed

[2018-07-19 19:04] cwebber opened #204 "Delegated authorization & VC distribution"
PR #198 has some bits about delegation for the sake of authorization.  AFAICT there are actually two different "delegation" discussions here, and we should address them seperately:

1. Delegation in terms of authorization, where a VC is being used for an authorization mechanism, and party A wants to allow party B to act on their behalf.
2. "Delegation" in terms of Holder A wants to share a VC with

[2018-07-22 20:51] David-Chadwick commented on #204
@cwebber. Concerning 1, the clue is in the name: the data model is about _**Verifiable Credentials**_. So I think the purpose is clear from the title. VCs are **_credentials_** used to provide benefits and services to the subject (and in some exceptional cases, to the holder).

You don't need a passport if you dont want to travel abroad. You dont need a driving licence if you dont want to drive a

[2018-07-22 21:16] David-Chadwick commented on #204
@cwebber Concerning 2, "You don't need to authorize someone to be a Holder, they become a Holder by holding onto that VC" This is another fundamental mistake that you are making, based I am guessing, on your first mistake of thinking that VCs are just for holding any old identity statement that anyone can make and hold, rather than their primary purpose (if you read the use cases), which is to rep

[2018-07-22 21:39] David-Chadwick commented on #203
@agropper. I agree that a prescription can be a VC (see my comment above). I also agree that the holder may not be the subject, and therefore the pharmacy needs to know if the holder is authorised to present the prescription (and it is not some drug addict who has stolen it from the patient). Knowing that the holder is authorised could be via a variety of mechanisms, for example:

i) the subject d

[2018-07-23 18:08] burnburn opened #206 "Default namespace URL"
From @ianbjacobs  on 20 July 2018:

[2018-07-23 22:30] stonematt commented on #164
I want to go back to the use case to make sure we're on the same page.  The concept of caching probably isn't right.  There is a pretty common business/market scenario in use today by professional licensing organizations where the verification process represents a significant portion of their revenue.   When I use the term TTL, I may have gotten us going down the wrong path.

The market scenario r

[2018-07-24 14:08] David-Chadwick commented on #105
@burnburn I do not believe that the text has yet made it into the data model document.

[2018-07-24 14:10] David-Chadwick commented on #105
@msporny This textual change is such a simple clarification, so I wonder why it is taking so long to make it into the data model document?

[2018-07-24 15:11] TallTed commented on #105
I think it is good this hasn't gone in yet, as it is not a simple clarification.  I am sorry not to have noticed this sooner.

"Anyone can say anything about anything" rather contradicts the idea that "Subjects SHOULD be able to easily control and own their own identifiers."

In fact, I think that the existing "Holders SHOULD be able to easily control and own their own identifiers" is also problem

[2018-07-24 15:33] msporny commented on #32
@yancyribbens volunteered to tackle this issue by submitting a simple WoT credential to the test suite.

[2018-07-24 15:34] burnburn commented on #109
#170 was replaced by #188, which has just been merged.  Closing.

[2018-07-24 15:34] #109 closed

[2018-07-24 15:36] burnburn commented on #125
@nage can you update?

[2018-07-24 15:43] msporny commented on #135
@msporny to create a PR that adds a new section to the Advanced Concepts section talking specifically about how to link to external documents and ensure the integrity of the linked document.

[2018-07-24 15:47] msporny opened #207 "Rename "claim" to "subject""
@David-Chadwick would like to change "claim" to "subject", viz:

[code]

TO:

[code]

Related to #120

[2018-07-24 15:47] msporny commented on #120
Migrating to new issue #207. Closing.

[2018-07-24 15:47] #120 closed

[2018-07-24 15:51] burnburn commented on #47
@ChristopherA @jandrieu can you guys give an update on this?

[2018-07-24 16:02] stonematt commented on #187
There was a suggestion on the weekly call to make an example document that shows how the specification addresses (some or all of) the use cases.

we'll have to remember to keep them aligned with the data model spec as it evolves over time.

[2018-07-24 16:05] stonematt commented on #136
related to issue #135

[2018-07-24 21:15] cwebber commented on #204
VCs are a mechanism for assuring that party A said B about C.  We aren't using "verifiable claims" because it's confusing people, but IMO the biggest confusion is the combination of those two words together as meaning "verifying that a claim is true" rather than "verifying that a claim was made by this party", which IIUC is the main reason for the rename back to credentials.  I'd assert that VCs a

[2018-07-25 12:08] Drabiv commented on #136
@msporny if I understood correctly, you propose to define reference (attachment/image/file) property in a Validbook specific context and then use it freely, as per Validbook requirements?

As long as I can reference/attach data in VCs, I am OK with any approach (and your approach and examples to use Validbook specific context looks simple and good for me - thanks!), but ...

General comment - I th

[2018-07-25 12:17] Drabiv commented on #135
@msporny I am willing to work on (add to specifications) examples of
- Contract w/ referenced/attached ID documents;
- Access/Student/Library Card (VC to access resources - enterence to building, student privilages, library privilages)
I think these are very commonplace and to be in demand use cases. Let me know if examples for them are appropriate in specs.

[2018-07-25 14:49] dlongley commented on #136
@Drabiv,

This is what the data model itself already does, but it may need further explaining. Manu and I discussed adding simple tables to the examples in the spec that offer another way to explain the meaning of the JSON.

The VC data model is a graph data model -- where, if you're using JSON/JSON-LD, the JSON keys are links (or edges) in the graph. The link names describe the type of relationsh

[2018-07-25 19:37] gkellogg commented on #136
Maybe examples could use a graphical layout. Ivan suggested this for all examples in the JSON-LD spec. I was going to try to automate this, along with Turtle and tabular representations.

[2018-07-26 16:49] Drabiv commented on #136
@dlongley thanks for clarification. Now, I see where you are coming from and what you mean by anti-pattern. I agree, that when you are trying to describe/name relationship between something, to call it just 'relationship' is no good. It is not a description. It is just a statement that there is a relationship - which is not what _you_ are trying to do.

I am coming from another perspective. I have

[2018-07-27 15:40] stonematt commented on #207
I have a few thoughts on this suggestion.

1. This change might reduce confusion between "credential" and "claim" - which is a positive
2. This change could confuse the term "subject" as it relates to "subject != holder" - I don't think this is the same "subject" and subject is already too overloaded as a term in the wide world.
3. Finally it's very late in the process to make such a substantial c

[2018-07-27 17:04] stonematt opened #209 "Does pseudo-anonymity require the issuer to cooperate?"
This question came up in our use cases call in issue https://github.com/w3c/vc-use-cases/issues/10

How explicit should we be in the DM about issuer’s role in creating ZKP credentials for things like withholding “name” as discussed in the use cases section 3.5.
https://w3c.github.io/vc-use-cases/#professional-credentials -- see the Paula example in item C.5 Social authority.

in other words, can I

[2018-07-30 18:52] stevenrowat commented on #209
I'm uncertain exactly what is being suggested here. Perhaps an example will help?

Suppose I want to publish a story about Country X, of which I'm a citizen, and state in the story that I'm a citizen, backed up by a VC corroborating this, but also use a pseudonym to avoid dangerous repercussions on me and my family.

But the problem is that Country X is the place that would issue my VC stating tha

[2018-07-30 20:37] jandrieu commented on #209
It will be relatively trivial for an issuer to construct even ZKP proofs that support third party correlation, even accidentally. For instance, you can have a ZKP that proves your driver's license # without revealing date of birth or address. It's a fine use of ZKP if you care about rental companies getting unnecessary PII, but it doesn't do anything to help with correlating you across rental esta

[2018-07-31 00:17] ChristopherA commented on #204
I will not be able to attend meeting tomorrow on topic of delegation (as we've had to cancel CCG call due to travel).

However, I'm definitely against having authorization be in scope for this version of our spec. I do believe that credentials will be key part of any authorization scheme (aka "A said B about C") but I do not believe that credentials should be conflated with authorization. This is

[2018-07-31 00:25] agropper commented on #204
+1 to Christofer Allen

In HIE of One, for example, the authorization standard is UMA2 and the
identity standards are either DID or OpenID Connect. Or, to put it another
way, I see no alternative standard to UMA/OAuth when it comes to
authorization but on the identity side there should be compatibility
between federated and self-sovereign so that the subject can whitelist
whatever style of trust.

[2018-07-31 12:36] David-Chadwick commented on #207
I think the term subject is very clear in the context of VCs. The subject is the subject of the credential. This is exactly the same as the use of subject in X.509 as well. The solution to this is to ensure that the definitions section clearly defines subject, and clearly defines holder.

Concerning the timing of this issue, I would like to make two points.
1. It has been an issue for many months,

[2018-07-31 13:34] msporny commented on #207
Since we're bikeshedding the name, other choices include:

- assertion
- attestation
- affirmation
- declaration

I do agree with @David-Chadwick that now is the time to get this right. I disagree that "subject" would be the proper solution, primarily because of points made by @stonematt and @tallted -- it's an overloaded term.

[2018-07-31 13:38] msporny commented on #207
If we change to `subject`, the corresponding data model would be strange:

[code]

That is `cred:subject` points to a graph of statements containing the subject. The plain English reading of this would be "The subject of the credential is THIS_GRAPH."... but that's clearly not what we're trying to say. We're trying to say that the credential makes assertions about a particular subject.

I do admit

[2018-07-31 13:57] #202 closed

[2018-07-31 13:58] David-Chadwick commented on #207
Take example 1 from the current data model document, with claim changes to subject
[code]

It makes eminent sense to call the object a subject, as the id is the id of the subject. To call it anything other than subject is no better than calling it claim.

If you want to keep claim, attestation, or other assertion term, we could further elaborate the data model as follows
[code]
The above makes muc

[2018-07-31 15:34] yancyribbens commented on #32
The sample claim in the [thread](https://lists.w3.org/Archives/Public/public-credentials/2018Mar/0005.html) states `did:btcr:xyv2-xzyq-qqm5-tyke` knows `did:btcr:xkyt-fzgq-qq87-xnhn`.  in BTCR `did:btcr:xkyt-fzgq-qq87-xnhn` points to https://raw.githubusercontent.com/kimdhamilton/did/master/ddo.jsonld through a service endpoint, and  did:btcr:xyv2-xzyq-qqm5-tyke points to https://raw.githubusercon

[2018-07-31 21:13] yancyribbens commented on #32
@msporny @ChristopherA @kimdhamilton

The two examples I have from the hackathon differ syntactically in where the claims key is placed.

https://raw.githubusercontent.com/kimdhamilton/did/master/ddo.jsonld
https://raw.githubusercontent.com/ChristopherA/self/master/ddo.jsonld

The updates I made to the hackathon playground looks to enumerate claims nested under the didDocument key as can be seen i

[2018-08-03 04:03] kimdhamilton commented on #135
@Drabiv I have a need for the same concept you described in #163, i.e. a verifiable view/display of the credential as a hash embedded in the JSON. I'd like to help push this forward in any way I can. Let me know if you'd like to discuss; otherwise, I'll be happy to help PR your changes.

[2018-08-03 17:53] Drabiv commented on #135
@kimdhamilton this is great! This concept comes down to defining a standard way to add hash value to VC JSON and describing how that value was created and where presentation that was used to create this hash is located.
I have proposed a way to do it in the issues #126, #136.
Manu has suggested how this can be done via extensions without changing current data model - https://github.com/w3c/vc-data

[2018-08-06 14:58] aabdulwahed opened #211 "Repeated subsections in "Security Consideration" section"
I found that <code>11.3 Bundling Dependent Claims</code> and <code>11.5 Bundling Dependent Claims</code> were repeated twice as shown [here](https://w3c.github.io/vc-data-model/#bundling-dependent-claims). I'm not sure if it was already fixed or not but I just wanted to reference these duplicates in the published document.

[2018-08-06 18:18] elf-pavlik opened #212 "Duplicated Syntaxes section (7 & 9)"
Syntaxes section seems duplicated in two places as section 7 `#syntaxes` and  section 9 `#syntaxes-0`

[2018-08-07 17:12] stevenrowat commented on #209
Does this mean that a holder can't use their citizenship in Nation X pseudonymously unless Nation X has previously deemed ZKPs OK? Similarly, in the case of the State Medical Board example, Doctor X can't claim membership in the Medical Board via a VC, yet make a pseudonymous statement, unless the State Medical Board has previously OK's such ZKP VCs?  And so on, for all issuers?

This may be the b

[2018-08-10 19:01] TzviyaSiegman commented on #209
This is related to a concern I have about section [10.8 Principle of Minimum Disclosure](https://w3c.github.io/vc-data-model/#the-principle-of-minimum-disclosure). I believe that it is easy to misunderstand the DM with the misconception that minimum disclosure is the default and/or controllable by the subject. I think it would be a good idea to spell out more explicitly what steps need to be taken

[2018-08-10 19:48] ChristopherA commented on #209
@TzviyaSiegman > I think it would be a good idea to spell out more explicitly what steps need to be taken

+1

I think there are a number of interesting scenarios here around Minimum Disclosure, that are completely separate from cryptographic selective disclosure/attribute blinding/zkp and anti-correlation capabilities, and should be.

You note "the misconception that minimum disclosure is the def

[2018-08-14 14:11] msporny commented on #164
@stonematt wrote:

The answer can be "either one"... which may or may not be a good thing. That is, you can implement both of the above with the current data model and exactly what is implemented is up to the market vertical doing the implementation.

That said, I do agree that this is an important use case and adding a refreshService in the presentation addresses the problem created by short-live

[2018-08-14 14:14] stonematt commented on #105
@TallTed @dlongley @David-Chadwick are we conflating/confusing identifiers that are managed in internals business systems, like the university example (clearly the domain of the university/issuer) with the personal identifiers in a holder's wallet (maybe not human readable, probably in the domain of the holder/subject).  When a holder accepts a VC that an issuer is issuing an aspect of the protoco

[2018-08-14 14:15] stonematt commented on #125
@nage and @talltree can you update us on this issue?

[2018-08-14 14:54] stonematt commented on #164
@msporny I suggest we label this issues as "defer" and make a new label for "refreshService" so we can come back to these topics in v2 of the spec.

[2018-08-14 16:29] David-Chadwick commented on #105
There are two different issues now being discussed:
i) confusion and ambiguity over the current text on identifiers, as originally highlighted by me, and
ii) who is responsible for issuing the subject and holder identifiers, which Ted introduced.

I would like @TallTed to bring up the second issue in a new issue item, so that this issue can concentrate on resolving the confusing text that I highli

[2018-08-14 16:29] stonematt commented on #203
Is this strictly related to the scope of Data Model?  This discussion seems to invoke protocol type details that we shouldn't be trying to solve at this point.

[2018-08-14 16:31] David-Chadwick commented on #105
I propose that the current issue is resolved by adding the following text

"Subjects SHOULD be able to easily control and own their own identifiers."

that both myself and @dlongley suggest is OK to add to the current document.

[2018-08-14 16:50] David-Chadwick commented on #207
@msporny. Could you please comment on the proposed new syntax for a VC, which keeps the concept of a claim, but also ensures that the subject is correctly identified, viz:

[code]
I will then produce a PR with this global edit to the examples. I suggest that this edit could be made without any changes to the accompanying text, but please correct me if I am wrong.

[2018-08-15 06:33] talltree commented on #125
Although I have not been able to be on the calls recently, I know this has
been the subject of a lot of discussion with @nage and with the Evernym
folks cc'd on this message (all of whom are now official VCWG members).

Ball over to them.

=Drummond

On Tue, Aug 14, 2018 at 7:15 AM, stone <notifications@github.com> wrote:

[2018-08-15 11:16] David-Chadwick commented on #203
@stonematt We already include protocol related content in both the VC and VP, for example, Terms of Use, which states what a verifier is expected to do when receiving the VC/VP. I guess we have two choices:
a) strip everything from the existing data model that relates to protocol and passing VCs and VPs between different entities, or
b) continue as we have been doing, and show how the data model c

[2018-08-15 14:54] stonematt commented on #203
@David-Chadwick @dlongley   I agree that there are elements of the data model spec that support the protocol work. But this seems to go beyond that. An issue like this could very well be identified in the issue tracker or in the specification as a problem that the protocol will solve.    This is particularly true since we decided to do for the delegation discussion.

[2018-08-15 15:11] lovesh commented on #125
@burnburn @stonematt We proposed our changes in a [PR here](https://github.com/w3c/vc-data-model/pull/208). Then it was suggested to split our changes in multiple PRs so we raised [213](https://github.com/w3c/vc-data-model/pull/213) and [214](https://github.com/w3c/vc-data-model/pull/214)

[2018-08-15 17:50] dhh1128 commented on #125
I am currently working on an additional PR that embodies a subset of PR 208. I expect that there will be several PRs in addition to 213 and 214, before we are done.

[2018-08-16 22:04] stonematt commented on #201
There are a couple items in the attached document that aren't addressed in pr #219. I'll follow up on those and open new issues if necessary.

[2018-08-17 15:21] stonematt opened #221 "Accessibility Impact Statement"
From email at: https://lists.w3.org/Archives/Public/public-vc-comments/2018JulSep/0001.html

2.)	We note that you provide extensive comments on the Security and
Privacy implications of your specification. We are confident
implementers of your specification can easily create accessibility
barriers if not careful when implementing this specification. We would,
therefore, request that we jointly dete

[2018-08-17 15:22] stonematt opened #222 "Coordinate with PING during review process"
we need a leader to stay in touch w/ PING and be a resource as they complete the review

[2018-08-20 17:26] dhh1128 opened #224 "need way to manage terms of use in ZKP verifiable presentations"
In PR 220, I proposed that holders should add issuer terms of use to a verifiable presentation. @msporny correctly pointed out that this violates the current data model design, because issuers are supposed to incorporate terms of use into the credential before signing; see  https://github.com/w3c/vc-data-model/pull/220#discussion_r210778306.

The problem is that the current model assumes that cred

[2018-08-21 07:33] David-Chadwick commented on #222
Please accept my apologies for today's meeting but I cannot attend.

As I am a member of the PING working group, I will be happy to take on
the leader role proposed below if no-one else volunteers at today's meeting

Kind regards

David

On 17/08/2018 16:22, stone wrote:

[2018-08-21 07:41] David-Chadwick commented on #105
@TallTed you are correct that in today's world, issuers control identifiers and assign to subjects whatever identifiers they want to. Subjects have no control over them.
But I thought that with VCs we were trying to move to a new world order in which the subject/holder was more in control - hence the title 'self sovereign'. Now it might be that this is an idealistic and unattainable objective. But

[2018-08-21 13:40] msporny commented on #105
This is not true for cryptographic identifiers, which is what 90%+ of the implementations are using. It is true that anything may make an assertion about a cryptographic identifier. However, you can certainly know with an incredibly high degree of reliability that a statement made by an entity in control of the private key material associated with a cryptographic identifier came from them and not

[2018-08-21 14:27] TallTed commented on #105
@David-Chadwick - To my mind, "self sovereign" in this context is meant to convey that everyone is their own "[certificate] authority" -- there is no need for any entity to go to anyone else (to appeal to a higher authority, an _other sovereign_) in order to make an authoritative assertion about any other entity.

To a lesser extent, "self sovereign" means that each entity is the master of their o

[2018-08-21 14:51] msporny commented on #105
@TallTed -- agree with everything you say above.

@David-Chadwick, @TallTed  -- can we boil this down to specific spec text? I suggest adding something to this effect in the spec:

NOTE: This specification RECOMMENDS the use of cryptographic identifiers for **subjects**, **holders**, and **issuers** in order to increase trust in the provenance of verifiable credentials and verifiable presentations

[2018-08-21 15:11] stonematt opened #225 "Image Descriptions requested by Accessibility Group"
Source email: https://lists.w3.org/Archives/Public/public-vc-comments/2018JulSep/0001.html

1.)	Please provide appropriate image descriptions throughout. Please
note that alt tags are not always sufficient. Guidance on describing
more complex images can be found at:

[2018-08-21 15:20] stonematt commented on #225
URL attached:
https://www.w3.org/WAI/tutorials/images/complex/

[2018-08-21 18:48] #212 closed

[2018-08-21 18:50] msporny commented on #212
Fixed, thank you for the report!

[2018-08-21 18:51] #211 closed

[2018-08-21 18:51] msporny commented on #211
Fixed, thank you!

[2018-08-21 19:12] msporny commented on #206
The URL for the credentials JSON-LD context has a number of requirements:

1. It's easy for developers to remember.
2. It can be dereferenced, and the file may be requested hundreds of millions to billions of times a day.
3. The hosting provider for the URL finds the second requirement acceptable.

When discussing this with W3C Staff before (I think we talked w/ @sandhawke the most), it was the th

[2018-08-21 19:53] ianbjacobs commented on #206
Hi @Msporny,

Thank you for enumerating requirements. I would add a fourth (if acceptable):

 * W3C should host the resource.

We have had experience with widely referenced resources (namely, DTDs) and managed them reasonably well despite rogue software that should have cached but didn't.

I recommend that the Working Group write a proposal for the Team Contact to bring to the management team, sin

[2018-08-21 20:31] msporny commented on #206
Thanks @ianbjacobs, that gives us a concrete next step.

@stonematt and @burnburn, can we put this on an upcoming VCWG agenda?

[2018-08-21 21:26] TallTed commented on #105
I have no particular issue with this "NOTE" paragraph.  Would the idea be to replace the current existing ["Holders are able to easily control and own their own identifiers"](https://w3c.github.io/vc-data-model/#x1-3-use-cases-and-requirements) text (with which I still strongly disagree)?

[2018-08-21 22:48] CipherQueen commented on #224
I'd like to add some comments, but am struggling to understand some new phrases. @dhh1128, let's define "The ZKP model" and "ZKP-style presentation." There are many ZKP-based models under construction in the identity landscape now, using different variations of ZKP (ranging from SNARKs to graph isomorphism flavors).

[2018-08-28 23:32] CipherQueen commented on #224
@dhh1128 @David-Chadwick the terms of use could easily be handled in a different manner, I'm still not convinced they need to be included in our VC Data Model.

Before delving into the nuances of ZKP-based models, which is a very slippery slope because they vary greatly (the Sovrin and Sedicii model are very different), let's reset the discussion to include other privacy-preserving methods, for ex

[2018-08-29 08:19] David-Chadwick opened #226 "Disputed credentials - who can issue them?"
I raised the following issue with the PR#185 on disputed credentials, but I do think it was addressed prior to the PR being pulled in. Please correct me if I am wrong.

There is another issue with this section, namely who is entitled to issue a "DisputeCredential". We must consider the case of an attacker issuing a false dispute credential. If we regard a "DisputeCredential" as being similar to a

[2018-08-29 08:30] David-Chadwick commented on #224
I am beginning to think that the data model for ZKP use and "transparent" use (by this I mean the original assumption of the VC data model - still reflected in the data flow in figure 1 - that the VC would be passed in whole and transparently from the issuer to the verifier via the holder) are so different that they may need separate data model documents. There are many fields in a VC that need to

[2018-08-29 13:42] msporny commented on #226
I agree with this language (with some minor editorial modifications). I don't know if the spec says this at present or not, but I can check and put it in if not. Feel free to suggest a PR to do so, if not, I'll try to do a PR in my next edit cycle.

[2018-08-29 14:45] David-Chadwick commented on #226
I have started to do the PR, but it turns out to be more complex than simply adding the above paragraph, due to the ambiguity of the current text. Consequently my PR will include more clarifying text for everyone to review

[2018-08-29 15:51] dlongley commented on #224
@David-Chadwick,

I'm not yet convinced. Before writing off the ability to keep things simple, can we explore whether or not the "non-attribute" data can be encoded as if it were attributes?

If the ZKP model translates terms of use, evidence, etc. to attributes that are signed like any others, then the verifier can likewise request these and reject a presentation that does not reveal them. In oth

[2018-08-29 16:15] burnburn commented on #106
PR #198 addressing this was merged.  Please reopen if needed.

[2018-08-29 16:15] #106 closed

[2018-09-04 15:31] msporny commented on #194
ACTION: @msporny to respond to Dan Brickely, no op, and suggested path forward, then close issue.

[2018-09-04 15:36] msporny commented on #133
ACTION: @msporny to bring this up with @jandrieu at RWoT7, we have addressed the issue by adding an identifier that is a specific profile/presentation identifier.

[2018-09-04 15:36] #133 closed

[2018-09-04 15:40] msporny commented on #200
Ping @jandrieu @stonematt -- the WG reviewed this issue today and marked it as stagnant, please try to make some progress on it.

[2018-09-05 04:09] ericprud commented on #76
This depends on graph continuity outlined in [json-ld-api issue 26](w3c/json-ld-api#26).

[2018-09-10 17:49] msporny commented on #206
ping -- Chairs of VCWG:

[2018-09-10 18:10] msporny commented on #194
Hey @danbri, the VCWG is starting to wrap up its work before CR and this issue hasn't moved forward in a long time. It also raises a variety of security concerns as a result of pulling in a huge JSON-LD Context file that the group is not going to have the time to resolve within the time period that we'd like when going into CR. That means that Verifiable Credentials will have their own JSON-LD con

[2018-09-10 18:17] msporny commented on #194
@David-Chadwick wrote:

The general answer is that a verifier can know by 1) seeing if there is a property that it doesn't understand as a part of the credential, or 2) seeing that there is a property that it understands as being an extension of the base set of attributes it expects, or 3) based on what you argued for in the group, it can check to see that the type used is an extended type (or a s

[2018-09-10 20:01] msporny commented on #136
There is a well-established way to do this already:

https://www.w3.org/TR/rdf-schema/#ch_seealso

If we wanted to be more specific, we could reuse:

https://schema.org/citation

At this point, we need to make a decision:

1. Add rdfs:seeAlso or schema:citation to the core VC Data Model JSON-LD Context and add a normative example to the specification, OR
2. Add a non-normative section on referenci

[2018-09-11 19:11] David-Chadwick commented on #105
I am also happy with the NOTE text.
Then we should say "Holders, issuers and subject are able to easily control and own their own cryptographic identifiers"

[2018-09-12 14:42] TallTed commented on #105
Again, only issuers are really able to control or own the cryptographic identifiers.  Requesters of such issuance, which might subsequently be holders and/or subjects, may *influence* but will neither control nor own those cryptographic identifiers.

[2018-09-12 14:54] David-Chadwick commented on #105
@TallTed I dont believe you are correct. I can create an asymmetric key pair, and I am totally in control of this (aka PGP). I can use the public key as my identifier.

[2018-09-12 19:32] burnburn commented on #72
Good discussion happening in PR #229.

[2018-09-12 20:59] TallTed commented on #105
@David-Chadwick -

If "create" does not equate to "issue", I'll need a more detailed explanation of what you mean, and why you disagree with my assertion.

_Your_ identifier-of-you, your self-created, self-issued, public key, may not be what anyone else uses to identify you, though their identifiers-of-you may be in `owl:sameAs` relations with your identifier-of-you, as they co-refer to the same r

[2018-09-13 14:51] David-Chadwick commented on #105
@TallTed
I think I might have misunderstood your use of the term issuer. I took it to mean the issuer of a VC. Is this what you meant?
You said "I understand any identifier used to identify me to be one of "my identifiers", because although they may not belong to me and I may have no control over them, they are nonetheless associated with me." Furthermore you may not even be aware of them. You hav

[2018-09-13 19:45] cwebber opened #231 "Context out of date"
As mentioned in #230, the context at https://w3id.org/credentials/v1 is out of date and doesn't have all the current terms, eg `Credential` instead of `VerifiableCredential`

[2018-09-14 12:11] Drabiv commented on #136
@msporny I agree that the 2nd, non-normative option is preferrable.

Saying this, I think usage of "rdfs:seeAlso" adds confusion and another layer of complexity.
First, the semantic meaning of "see also" is a bit different, than "reference" or "related data". "See also" sounds like afterthought, something less important. The meaning is different than in straightforward "related data". I know it ar

[2018-09-14 13:16] msporny commented on #136
Great, I'll create a PR for that approach, then. Thanks @Drabiv.

Yes, it can. Also, I suggest you read the RIPs paper wrt. your example:

https://github.com/WebOfTrustInfo/rwot7/blob/master/topics-and-advance-readings/resource-integrity-proofs.md

As far as this comment from you:

I think you can now see why we're so hesitant to call out a very specific way of doing this. While you are not famili

[2018-09-14 15:35] TallTed commented on #105
@David-Chadwick

Exactly!  You (the Issuer) have made an assertion (which might be in a Verifiable form if, for instance, you "spoke" in a note instead of vocally) about me (the Subject) to your wife (the Holder).  In such an electronic note, you may have visibly referenced me as "TallTed", but your software may have helpfully included a cryptographic Identifier so it's clear you're not talking ab

[2018-09-14 16:07] David-Chadwick commented on #105
@TallTed
"You may have visibly referenced me as "TallTed", but your software may have helpfully included a cryptographic Identifier so it's clear you're not talking about any other TallTed."

I think we are in agreement that the issuer can insert any identifier into a VC that it wants to, to identify the subject. In this example I could have used "VeryTallTed" to refer to you. And the subject had

[2018-09-14 16:51] jandrieu opened #233 "New section/paper: gap analysis"
By charter, the use case document needs a section on gap analysis.

We discussed on a call that this would probably be best as a separate note. This issue is here to flag the chairs to make that happen.

https://github.com/w3c/vc-use-cases/issues/51

[2018-09-14 17:51] gkellogg commented on #231
See comment https://github.com/w3c/vc-data-model/pull/230#issuecomment-421435187, the repo has it defined, but there may not be a mechanism to update the version on w3id.

Of course, there may be other terms that need to be updated in the context; please let me know and I'll do another update.

[2018-09-15 13:58] riannella opened #234 "Comments on Section 6.2 Terms of Use"
The ODRL Community group has made some comments on this section.

Please see: https://github.com/w3c/odrl/issues/4

[2018-09-18 15:13] David-Chadwick commented on #233
I am willing to work with you and others on this

[2018-09-18 15:14] dhh1128 commented on #224
I will create a PR that implements @dlongley's suggestion, and see if we like how it turns out. If we don't like it, perhaps we should close this issue as "unresolvable for now"?

[2018-09-18 15:37] dhh1128 commented on #207
I am in favor of the last suggestion from @David-Chadwick . Example 9 shows why this makes sense:

[code]

[2018-09-18 15:41] dhh1128 commented on #225
I think this is a good idea, but it can't be baked directly into the data model because the data model doesn't require any images, let along descriptions. Perhaps the best action would be to update the spec with a short paragraph noting that where images are embedded in a VC, we endorse the embodiment of accessibility recommendations at the specified URL.

[2018-09-18 15:46] burnburn commented on #93
Chairs will allocate time at TPAC 2018 to discuss this.

[2018-09-18 15:47] burnburn commented on #162
@dlongley ping.

[2018-09-18 15:48] burnburn commented on #47
@jandrieu ping again.

[2018-09-18 15:50] stonematt commented on #187
will work to either
1) integrate the example into the use case document or
2) make a separate example document that references the UC doc.

[2018-09-18 15:57] burnburn commented on #204
This needs TPAC time.  Chairs will schedule.

[2018-09-25 13:32] dlongley commented on #162
@burnburn, we'll have an update here after this week.

[2018-09-27 18:32] stonematt commented on #164
Agree that the TTL concept be deferred to v2.  Basic refreshService is addressed as an Advanced Concept in PR #210

The TTL concept may be served by something like a Terms of Use approach as well...

[2018-09-27 18:36] stonematt commented on #225
@dhh1128 my interpretation of the feedback is to include image descriptions of the images in the DM document itself.  I don't think it's a request to modify the data model.  Is that how you're reading it?

[2018-09-27 18:53] stonematt commented on #200
@msporny update is in UC pull request https://github.com/w3c/vc-use-cases/pull/87

I noticed the reference in the DM document is to <div data-include="./terms.html"

I'll update it as well.

[2018-09-28 16:06] TzviyaSiegman commented on #225
@stonematt is correct. The recommendation from WAI is to add image descriptions to the images that are included in the DM itself, no need to change the DM.

[2018-09-28 18:52] mikelodder7 opened #237 "Indy's needs for ZKPs"
I'm adding this as a reference for how indy credential and proof structures are serialized and processed.

[Credential Schemas](https://github.com/hyperledger/indy-sdk/blob/master/libindy/src/domain/anoncreds/schema.rs) are read by all to know what information can be stored in a given credential
[code]
[Credential definitions](https://github.com/hyperledger/indy-sdk/blob/master/libindy/src/domain/

[2018-10-08 14:51] David-Chadwick opened #239 "Inconsistency in description of identifier registry"
IN section 1.2, identifier registry is defined as:
identifier registry

   A role a system may perform by mediating the creation and
   verification of issuer identifiers, keys and other relevant data ....

Then in section 1.3 it says

Holders are able to easily control and own their own identifiers.

Then afterwards in section 2, identifier registry is defined as

identifier registry
   A role a

[2018-10-08 15:03] David-Chadwick opened #240 "Inconsistency in presentation"
In section 2 'presentation' is defined as follows

Data derived from one or more credentials, issued by one or more issuers, that is shared with a particular entity.

then 'verifier' is defined as follows

A role an entity may perform by receiving one or more verifiable presentations for processing.

These two definitions are inconsistent because presentation implies that any type of entity can re

[2018-10-08 16:19] David-Chadwick opened #241 "clarification of extensibility"
The current text in section 6.1 says:

This approach to data modelling is often called an "open world assumption," meaning that any entity can say anything about any other entity. This approach often feels in conflict with building simple and predictable software systems. Balancing extensibility with program correctness is always more challenging with an open world assumption than it is with close

[2018-10-08 17:59] jandrieu commented on #240
Hmmm... I like this. It is a modest correction that I believe improves readability and clarity.

However, our definitions are still a little off.

Technically the verifier is the one who verifies the integrity of the credential, which may or may not be the entity who receives the presentation from the presenter/holder. One could imagine needing to send a presentation through an intermediary for an

[2018-10-08 18:19] David-Chadwick opened #242 "More VC Type corrections"
In order for the examples to be consistent with the type text in section 5.1., we should not use the same values for the type of verifiable credential when different examples contain different properties  in the VC, nor should we use different types for credentials that contain the same properties. Consequently we should update the types in the following examples

Example 17,18, 19, 20, 21 change

[2018-10-08 18:22] David-Chadwick opened #243 "Minor typo"
Section 8.4 states

The value associated with the id property for each credential MUST identify a subject to the verifier.

This should actually state

The value associated with the id property for each claim MUST identify a subject to the verifier.

[2018-10-08 20:53] David-Chadwick opened #244 "Privacy issues"
A couple of privacy issues have been spotted whilst doing a review for PING

1. Section 9.3 mentions the claim ID but not the credential ID. I believe the credential ID could be used for correlation in the same way as the claim ID.

2. Section 8.9 states “All policy information expressed by the issuer in the verifiable credential MUST be enforced unless verifiers accept the risk of not enforcing t

[2018-10-09 14:25] cwebber opened #245 "Should terms like ageOver be in the context?"
(See also #231.)

We currently have examples using such terms as `ageOver` which are not currently in the context.  We could argue either way whether they they should or should not be:

* Maybe the credentials context should be minimal enough just include the base functionality.  In that case, we should define another context for common terms, or at least include some `example.org` type imaginary

[2018-10-09 14:35] msporny commented on #245
Yes, let's do this.

The WG should publish an "examples" context (https://www.w3.org/2018/vc-examples/v1), so all of the examples actually do work.

[2018-10-09 14:37] msporny commented on #245
If we do this, we will get it wrong. The set of use cases is just too broad for us to do a good job with king making "common terms". I suggest we defer to schema.org for "common terms". /cc @danbri

[2018-10-09 14:54] dlongley commented on #237
I think the flow, in general, for any ZKP/selective disclosure style credentials that must present "derived" credentials, rather than those received directly from the issuer, should be this:

1. The holder receives a VC `vc_from_issuer` from an issuer. This VC will have a proof of type `some_issuer_zkp_style_proof`. This type of proof includes all the cryptographic information necessary for a hold

[2018-10-09 15:16] stonematt commented on #240
Tactical approach: make a PR to incorporate @David-Chadwick input/suggestion here and open a discussion about the issues that @jandrieu raised in his response.

[2018-10-09 16:07] mikelodder7 commented on #237
I will take a look at COSE. I don't foresee any problems from a high level as long as the libraries are implemented correctly.

[2018-10-09 17:28] David-Chadwick commented on #240
Has anyone volunteered to do this PR?

[2018-10-09 17:37] David-Chadwick commented on #245
Perhaps we should go even further, as @msporny asked me to do when creating examples with addresses in them, and that is to use schema.org terms in all our examples as far as possible, instead of inventing similar terms that dont quite mesh with schema.org ones. So instead of having an example containing the address property, with address in the examples context, instead we use the address, street

[2018-10-09 18:04] David-Chadwick commented on #244
Yes it does, but it is in the wrong place. Can you move section 9.17 Avoid Disclosing Credential Identifier to be after section 9.3 Identifier-Based Correlation

[2018-10-10 07:35] David-Chadwick opened #247 "Mandatory or Optional?"
How does a verifier know if a property that is defined for a type is mandatory or optional?

For example, a verifiable credential contains a proof property and a terms of use property. The former is mandatory and the latter is optional. But how does the verifier know this?

[2018-10-10 11:12] RieksJ commented on #244
As a verifier, I would like to be able to check whether or not a credential/claim has been revoked. Does avoiding the disclosure of credential/claim identifiers prevent me from doing this?

[2018-10-10 11:30] RieksJ opened #248 "Add a summary text as meta information"
When a party in the role of holder uses an app in which to manage his credentials, this app is likely to have functionality that allows the holder to view the credentials that the app manages. Such functionality might benefit from VCs that have a short text that indicates what the VC is about - a 'summary text'.

For example, a credential that some government agency has issued attesting to my bein

[2018-10-10 16:38] David-Chadwick commented on #248
This is a GUI issue and as such needs to take I18N into account. I think the label that the app attaches to the VC should be determined by the end user when the VC is stored in the app, in just the same way that I can label my different credit cards that are stored by online stores. I use text in my own language that is meaningful to me (and that I can edit whenever I want to).
So I would not supp

[2018-10-10 17:11] ChristopherA commented on #248
-1

The issuer signs, not the bearer. Labels are a pet names for the
convenience of the bearer. Can be added to graph like any other graph data,
but do not belong in the credential, only pointed to.

— Christopher Allen [via iPhone]

On Wed, Oct 10, 2018 at 9:38 AM David Chadwick <notifications@github.com>
wrote:

[2018-10-11 11:31] RieksJ commented on #248
In my way of thinking, the number of VCs a holder will need to manage will not be limited to the number of creditcards (and other id-related cards/documents) that people have; rather, they will have to deal with hundreds of them, perhaps even thousands (which could e.g. come to pass when verifiers would issue VCs/attestations for entitlements the holder has such as the right to attend some event,

[2018-10-13 05:14] RieksJ commented on #248
Reading up on stuff, I noticed that this might be a simple way to satisfy #42, which says we should consider having something in the data model that specifies how to display a credential in a consistent way, but seems to seek the solution in third party Web Components for displaying VCs. Having a summary would get rid of the associated issues, as it is a simple line of plain text.

[2018-10-17 18:13] msporny commented on #247
The short answer is, the spec states MUST (mandatory) and SHOULD, MAY (optional).

For specific types of VCs, that is out of scope for the spec and for another spec to define (via a JSON Schema, for example).

One could argue that we should enable VC types to be able to express verification schema that would hang off of the vocabulary document for the type. For example:

[code]

[2018-10-17 18:47] David-Chadwick commented on #247
@msporny "the spec states MUST (mandatory) and SHOULD, MAY (optional)."

Unfortunately this is not the case. Take for example, IssuanceDate  where the definition states "The value of this property MUST be a string value ...." So the spec tells us what the property value MUST contain if it is present, but does not say whether the property must or should or may be present. I think you will find that

[2018-10-22 20:57] msporny commented on #105
@David-Chadwick and @TallTed -- I need a spec text proposal that both of you agree on to close this issue out. I can add the note I mentioned above to the spec, but it looks like both of you fundamentally disagree on one of the sentences.

[2018-10-22 21:01] msporny commented on #162
I suggest we make this addition in a "Implementation Guidelines" document and close this issue.

[2018-10-22 21:02] msporny commented on #125
This issue has moved to PRs and #237 -- closing issue so we don't have a duplicate.

[2018-10-22 21:02] #125 closed

[2018-10-22 21:04] dlongley commented on #224
@dhh1128, reminder that we're waiting for a PR here.

[2018-10-22 21:08] msporny commented on #129
We discussed this at W3C TPAC, agree that it would be a useful feature, but we are out of time to develop a solution for this. We do have an idea that would look something like this:

Create a `schemaVerification` property that links to an object. The object contains various different ways to verify a schema, including JSON Schema, SHEX, JSON-LD Frame, etc.

This should be deferred to a future ver

[2018-10-22 21:16] dlongley commented on #201
@stonematt, any updates here? Can we close this out?

[2018-10-22 21:19] dlongley commented on #19
Closed via #210.

[2018-10-22 21:19] #19 closed

[2018-10-22 21:19] dlongley commented on #139
Closed via #210.

[2018-10-22 21:19] #139 closed

[2018-10-22 21:20] msporny commented on #135
@kimdhamilton and @gannan worked on a paper at RWoT7 called Resource Integrity Proofs that enables this:

https://github.com/WebOfTrustInfo/rwot7/blob/master/draft-documents/resource-integrity-proofs.md

So the general problem is "solved", but there is not spec text, the RIP stuff is a separate document that's not a W3C spec yet, this WG has no charter deliverable for it, and thus all we would be

[2018-10-22 21:32] dlongley commented on #233
Closing and moving back to use cases document -- doesn't belong in data model spec.

[2018-10-22 21:32] #233 closed

[2018-10-22 21:33] stonematt commented on #136
Implementation guidance is a document that we need to start as a WG Note.
This seems like a good landing place to describe a “one of several” ways to
apprach the general problem of citations and/or ancillary content.

On Mon, Oct 22, 2018 at 15:26 Manu Sporny <notifications@github.com> wrote:

--
-stone

[2018-10-22 21:34] dlongley commented on #200
I believe this still needs a PR -- the previous PR did the wrong change and was closed without merging.

[2018-10-22 21:38] stonematt commented on #200
I think we are keeping the DM repo version as master and the use case
pointing at it (for now anyway). I’ll double check. Ultimate we probably
need a terminology repo for both to reference.

-stone
On Mon, Oct 22, 2018 at 15:34 Dave Longley <notifications@github.com> wrote:

--
-stone

[2018-10-23 01:10] stonematt commented on #200
I just confirmed.  the DM repo is still pointing at the local ./terms.html.  I propose we

1. let the data model hold the official terms.html
2. let the use-cases refer to the data model
3. close this issue

[2018-10-25 08:25] dmitrizagidulin opened #250 "Add brief section explaining relationship between DIDs and VCs"
From the VC WG meeting at TPAC, the question came up about the relationship between DIDs and VCs. As in, do DIDs depend on Verifiable Credentials (and conversely, do VCs depend on DIDs)?

I think this is going to be a common question, so I'm wondering if it's a good idea to add a paragraph or so of non-normative explanation:

* VCs need identifiers, which basically means URIs/URNs (although some i

[2018-10-25 13:18] stonematt commented on #203
Need to fix the title to represent this discussion

[2018-10-25 13:36] stonematt commented on #248
Discussion in TPAC didn't result in consensus.  Deferring to future spec.

[2018-10-25 14:57] msporny opened #251 "Refer to the threat model in the Use Cases document"
Refer to the threat model section in the Use Cases document.

[2018-10-26 09:28] ChristopherA opened #252 "Review & Clarify Trust Model Section re: No Transitive Trust & Delegated Keys"
Related regards to portions conversation at TPAC about "Terms of Use", issues of failures of CA-like transitive trust models and delegated key usage was brought up.

We should review the the Trust Model section and possibly clarify that no transitive trust is implied by the data model (validators only choose to trust an issuer or not, no CA-like delegation), and that it is responsibility of signat

[2018-10-26 14:32] burnburn commented on #93
From TPAC 2018:
- [ ] Publish RWoT guidelines document
- [ ] Create tooling for schema creation
- [ ] Create tooling for VC creation
- [ ] Blog post about JSON-LD vs. other alternatives

[2018-10-26 14:33] brentzundel commented on #237
Result from W3C TPAC:

- [ ] Need small changes to PR-217 and review (modify presentation image)
- [ ] Add examples and text to data model that highlights zkp and privacy issues.
- [ ] version of test suite working

[2018-10-26 14:37] burnburn commented on #207
From TPAC 2018:
- [ ] Document that Claim uses an `@graph` container
- [ ] Go through and find inconsistencies in examples

[2018-10-26 14:43] burnburn commented on #204
From TPAC:
- [ ] Text needs to be added to assert that the VC data model is not by itself an authorization framework
- [ ] Discuss and decide whether or not ToU is removed

Note related to issues #224, #234, #251, and #252.

[2018-10-26 14:46] burnburn commented on #72
From TPAC 2018:  This is not an authorization framework.  See #252 and #204.  Closing.

[2018-10-26 14:46] #72 closed

[2018-10-26 14:56] burnburn commented on #206
From TPAC 2018:
- [ ] Reference proposed URLs (https://w3.org/2018/credentials/v1 and https://w3.org/2018/credentials) in the specification
- [ ] Request proposed URLs above from W3C web team
- [ ] Document resource integrity proofs for these in the Implementation Guidance NOTE
- [ ] Document static caching for Credentials JSON-LD context

[2018-10-26 15:02] burnburn commented on #222
From TPAC 2018:
- [ ] Add more ZKP examples (everywhere, not just Data Model Spec).  See #237.
- [ ] Focus first on privacy-preserving examples
- [ ] Provide specific guidance for private browsing mode
- [ ] In Implementation Guidance NOTE, suggest how to do progressive trust or graceful degradation
- [ ] Verify with PING that the above is the complete list :)

[2018-10-26 15:06] burnburn commented on #245
From TPAC-2018:
- [ ] Create an example JSON-LD context for the spec.  Use example.{org,com} for this.
- [ ] Document that the context should not be used for anything other than examples

[2018-10-26 15:30] burnburn commented on #241
From TPAC 2018:
- [ ] Needs to go into Implementation Guidance NOTE

[2018-10-26 15:37] stonematt opened #253 "Decide if there should be an EOL date on the spec?"

[2018-10-28 14:34] msporny commented on #250
@dmitrizagidulin Can you check the PR above and make sure it covers everything you asked for?

[2018-10-28 14:35] msporny commented on #207
@jandrieu @David-Chadwick Can you check the PR directly above this comment to see if it addresses both of your concerns? We may add an example to note the sugar... but I didn't do that yet because I didn't know if the current text would be good enough.

[2018-10-28 14:36] msporny commented on #221
I think this is in the spec now... may need to move it to a11y section.

[2018-10-28 14:36] msporny commented on #224
@brentzundel @dhh1128 -- still waiting on PR.

[2018-10-28 14:38] msporny commented on #231
I expect that this will be addressed as we go into CR. We still need to make sure the context matches the spec... so someone needs to do that update. That might be best done by @cwebber since he put the test suite together and would have the most recent information in his head.

[2018-10-29 17:38] jandrieu commented on #207
It doesn't look like the implicit @graph is explained. This was the heart of the confusion for most of us discussing this at TPAC.

If you don't explain how the @graph is an implicit property of the claim object--and show examples about how you can use it explicitly to put additional kinds of statements in the "claim" value, which are NOT about the subject--then there's a hug gap for those trying

[2018-10-29 18:10] David-Chadwick commented on #207
I think it might be useful to draw an RDF graph of a VC. My opinion now is that there is no such thing as a claim inside a VC. Rather, an unsigned VC (or a simple credential) is actually a claim. I would say that the RDF for a credential or a  claim is:

Claim is about subject
Claim is claimed by issuer
Subject has property e.g. subject is aged 21, subject was born on date, subject holds passport

[2018-10-29 20:34] David-Chadwick opened #260 "Is a VC a tree or a graph?"
I would say that a VC is actually a tree and not a graph. In most cases (ideally all) there won't be any times where the same object occurs twice in a VC. If it does, it is probably not the same object, or the modelling is wrong.

Consider the following model of a VC. The issuer may issue a VC about a single subject or about several different subjects. But each of these RDF objects (i.e. VC subjec

[2018-10-29 21:49] dlongley commented on #260
Here's one such example (scroll down and click on the CSP exam credential):

http://www.credentialfinder.org/credential/1591/Certified_Safety_Professional%C2%AE_(CSP%C2%AE)

I'm sure you can find many more, there are thousands of credentials designed to be encapsulated in JSON-LD VCs here:

http://www.credentialfinder.org/

[2018-10-29 21:56] dlongley commented on #260
The other thing to note here is that many use cases would involve pulling in a VC and then merging/combining that data with other data in order to reason about it (in your application). The CTI (Credential Transparency Initiative) has a lot of data that helps convey this expectation.

[2018-10-30 08:44] David-Chadwick commented on #260
@dlongley

But this is out of scope of the VC data model, because the combined data is no longer a VC. There is nothing in what I have said to stop this. I only asserted that the VC itself should be a tree (which is a subset of a graph).

[2018-10-30 15:42] TzviyaSiegman commented on #221
Addressed by https://github.com/w3c/vc-data-model/pull/246

[2018-10-30 18:40] TallTed commented on #207
I appreciate the above effort, but I think that drawing a graph requires graphical imagery, not simple text.  I think that drawing such a graph would indeed help clarify things, and hopefully clarify both the differences and the similarities between verifiable and unverifiable claims/credentials/whatever-we-call-them.

To my mind, the differences between verifiable and unverifiable are all about v

[2018-10-30 20:06] David-Chadwick commented on #207
This is perhaps something we should have done a long time ago, because there are potentially several different ways in which we can model a VC and a claim. I believe that having an RDF diagram does help our understanding, but of course this discussion medium does not facilitate the diagramatic way of representing RDF. So unfortunately we will have to stick with text.

If you refer to Figure 4 in t

[2018-10-31 14:27] stonematt commented on #200
discussed w/ @dlongley at TPAC, closing.  PRs were complete.

[2018-10-31 14:27] #200 closed

[2018-11-01 16:01] #250 closed

[2018-11-01 18:31] #204 closed

[2018-11-01 19:52] TallTed commented on #207
A little refinement of my earlier text sketch --

[code]

I can have an Unverifiable Credential, which contains Unverifiable Assertions.  If you cannot tell that the laminated "license" I present to you was produced and issued by the relevant Department of Motor Vehicles (or whatever) of the jurisdiction named thereon -- it's still a Credential, containing Assertions.  None of those Assertions are

[2018-11-01 20:20] msporny commented on #207
That tool was Google Draw -- with export to SVG, which is what is used in the spec.

[2018-11-01 21:10] David-Chadwick commented on #207
@TallTed your message shows quite clearly to me how RDF diagrams help. Would you like to draw diagrams for your textual RDF, and then compare it to my diagram, which is fig 4 with the following mappings
Pat -> Claim
knows -> says
Sam -> Subject
jobTitle -> has
Professor -> Property
Ignore ageOver 21 as they are not needed.

[2018-11-01 21:13] David-Chadwick commented on #207
Actually you could add the following mapping
ageOver -> issuedBy
21 -> Issuer

[2018-11-06 10:39] awoie opened #266 "Provide support for JWT data format"
As per section 1.3 Use Cases and Requirements:

As per section 7.1.1 JSON Web Token:

This indicates that the JWT section is going to be disregarded. While JSON and JSON-LD are useful options in many cases, there would be a lack of supporting the well-known and mature JWT industry standard.

As per RFC 7519 JSON Web Token (JWT):

Consequently, the specification does not support other formats than

[2018-11-06 16:01] stonematt commented on #221
Closing based on Tzviya's comment.

[2018-11-06 16:01] #221 closed

[2018-11-06 16:33] msporny opened #268 "Explain data model in greater detail in Advanced Concepts section"
Add pretty pictures, add lots of prose to talk about graph containers, containment, etc.

[2018-11-06 16:34] TzviyaSiegman commented on #268
I can write the image descriptions.

[2018-11-06 17:05] stonematt opened #269 "Terms of Use Approach"
Let's stop conflating ideas when we say “Terms of Use”.  There are some TOU that are expressed by the issuer when the credential is issued and there are some TOU that are expressed by the holder when the credential is presented to a verifier.  To that end, I propose we differentiate these as “Issuer Terms of Use” and “Holder Terms of Use”

Here are some characteristics that my be true about each.

[2018-11-09 00:56] jandrieu commented on #252
@David-Chadwick I'll try to unpack this more thoroughly in the other issue, but I think there's still a disconnect.

VCs are not an authorization platform. They do not handle delegation. The semantics of creating a verifiable presentation DO NOT imply that the holder is the subject. The semantics could literally say anything. By design. If you look at the citizenship focal use case https://w3c.git

[2018-11-09 18:07] David-Chadwick commented on #252
The disconnect is that we are looking at different use cases. The Sam use case if fine by me. I have no problems with it. Here is a use case for you to consider. I get a discount voucher from Supermarket X which gives me a discount on a product. I am the subject of the discount VC. My daughter goes to the supermarket to do our family shopping for me. I give her my VC to take with her on her mobile

[2018-11-09 18:09] stonematt opened #270 "Validate requirements text matches test suite and current thinking"
Validate and/or update the requirements text in the data model to match tests in the test suite and the text/expectation in the Use Cases.

Working references:
- Test Suite spreadsheet: https://docs.google.com/spreadsheets/d/1MCIZghhT5xCTnBpqDMpeCqc0zBS2Lgwfoi0tONijZOQ/edit#gid=0
- Use Case/DM Text: https://docs.google.com/document/d/1glTChLU7tgwCE6jX66N7TqelTEUJ0KKihGnzA6THtTM/edit

[2018-11-09 19:19] jandrieu commented on #252
@David-Chadwick said

That's presuming that the manufacturer cares that she's your daughter. Who cares? Why is it part of the presentation?

In the manufacturer DOES care, they would have to construct a set of rules that could be evaluated at run time by the verifier to programmatically verify the acceptable relationships for redemption.

Manu suggests that this is more complicated than current ma

[2018-11-11 16:15] stonematt commented on #242
will the example context that's proposed in issue #254 address this?

[2018-11-11 18:45] stonematt commented on #234
@msporny @David-Chadwick this is a response from an external review, as such we should consider it a CR-Blocker.  The details of their comments look like editorial comments and tweaks in a couple examples. Any objection to making these modifications in the spec? (and adding "CR-Blocker" to the issues)

[2018-11-12 09:34] David-Chadwick commented on #269
It is true that there are ToUs specified by the issuer and ToUs
specified by the holder. This is why the former were placed inside the
VC and the latter inside the VP.

WRT Issuer ToUs.

I agree that it is generally true that VC ToUs will be applied to a
whole group of VCs. In real life we have many examples of tickets (a
bearer VC) that say "not transferrable", and they apply to all the
tickets t

[2018-11-12 11:46] David-Chadwick commented on #269
Here is a proposed resolution to ToU.

1. Issuer ToU are removed from VCs and are placed in a location where all verifiers can access them, such as a distributed ledger or @context definition.
Rationale: ToUs are necessarily constraints on the use of a VC. With selective disclosure and ZKP VCs the holder may wish to withhold these constraints. By placing the ToUs outside the VC, the holder cannot

[2018-11-12 12:48] David-Chadwick commented on #234
Can we say that this issue is subsumed by #269. Once we address #269, then we will know how to address this issue.

[2018-11-12 13:14] David-Chadwick commented on #252
@manu. Please do not dwell on the specifics of that use case. Since the data model is generic then we cannot envisage all the use case that VCs will be developed for. Consequently we have to write a specification that addresses all possible use cases (as far as practicable) i.e. the specification is written in the general, not the specific.  We have to have a general way of stopping the verifier f

[2018-11-12 13:16] David-Chadwick commented on #269
Since #257 has already been committed, I have repeated the comment in #252 as this is still live.

[2018-11-12 16:22] dlongley commented on #252
@David-Chadwick,

Can you give another example of use case 2? I feel uneasy about the one you've given.

I would think people would not want a thief/illegitimate holder to use their loyalty card, not because they wouldn't mind the free points, but because it wasn't them doing the purchase, which may have a whole variety of negative consequences. These consequences can range from the potentially mi

[2018-11-12 16:34] dlongley commented on #269
@David-Chadwick,

Rationale: ToUs are necessarily constraints on the use of a VC. With selective disclosure and ZKP VCs the holder may wish to withhold these constraints. By placing the ToUs outside the VC, the holder cannot prevent a verifier from accessing them.
Limitation: Issuer ToUs will typically have to be placed on the type of VC and not on each VC instance, so differentiation between subj

[2018-11-12 16:35] David-Chadwick commented on #242
I dont believe the context in #254 fixes this. But I note that 'Credential' has already been updated to 'VerifiableCredential' by someone else, so I have only changed the type in PR#274

[2018-11-12 16:42] David-Chadwick commented on #269
@dlongley We need a ZKP expert to comment on this, but I don't think it will work in general. For example, say there are two constraints in the ToU. The verifier says that I must reveal the ToU. I reveal just one of them (one that will not inhibit me with this verifier) and it is then unaware that I have another hidden ToU. Or I say that my ZKP VC does not contain any ToUs. The verifier cannot for

[2018-11-12 16:50] dlongley commented on #269
@David-Chadwick,

To my knowledge, that's not possible (or can be avoided), but we should get input from @nage or @brentzundel. My understanding is that the schema for the ZKP-based VC is well known (and must be), that includes which attributes are encoded. Therefore, any verifier can see which attributes are present on a given VC and request them. Without this information, the system doesn't work

[2018-11-12 17:02] David-Chadwick commented on #269
@dlongley
_I think the only statement the group is making is that VCs don't, on their own, constitute an authz framework. This doesn't preclude anyone from building something akin to the above on top of VCs. The concept of "delegation" just isn't something we will carve out a spot for in the core data model._

We have to say something about this in our core data model document, otherwise we leave

[2018-11-12 17:09] David-Chadwick commented on #252
@dlongley
I agree. There could be hidden negative consequences from the thief giving the subject the benefit. So I am happy to change 2. of the matrix to Reject. This was in fact my original idea, but then I thought, if the thief wants to continue giving me the benefit, then why not? More fool the thief. But you have pointed out why not.

So in fact this makes it easier for the verifier, because i

[2018-11-12 17:36] #245 closed

[2018-11-12 17:39] David-Chadwick commented on #207
Fantastic. How many +1s do you want?

[2018-11-12 17:53] msporny commented on #207
Well, you only get the one. :p

We will need to raise this on the call tomorrow to see if there are any objections and then I can do the PR for it.

[2018-11-12 18:34] jandrieu commented on #207
I hate to be the negative nelly, but what happens when there are multiple subjects? You just use [] and have each set of statements within each element in the array have a separate subject that must be independently reified within each?
`
subject : [
  {
    id : "abc",
    name : "Joe"
  },
  {
    id : "xyz",
    name : "David"
  }
]
`
I guess that works, actually. Is that what's intended?

[2018-11-12 19:05] msporny commented on #207
Yep, what you wrote is the most common way that you would achieve that use case (two subjects with no relation to one another).

[2018-11-12 19:14] msporny commented on #207
I've been anti-"let's call it subject" for a long time now because:

1. Everything is a subject.
2. It's really a hidden graph.
3. "subject" is a common word that someone else might want to use and that will definitely cause problems if overridden.
4. Credentials make "claim"s, so what does a credential do if it doesn't do that?

... but, changing a few things at the same time caused the following

[2018-11-12 19:44] dlongley commented on #207
Note that I'm pro using `subject` now because we're using a "hidden graph" for `proof` and a "hidden graph" for `verifiableCredential` when doing Verifiable Presentations (both of which we should still talk about in the advanced concepts section). This will ensure the integrity and boundaries we need for trusting what was said by whom.

We will lose the ability to encapsulate the "claims" made fro

[2018-11-12 20:32] TallTed commented on #207
Well... Speaking as one of the more RDF-oriented, I wouldn't say I'll flip out, but I would continue to argue strongly against using the ridiculously overloaded unqualified `subject`.  I am much more in favor of the qualified `credentialSubject` which is almost perfectly unloaded ([8 whole results found by Google](https://www.google.com/search?q="credentialSubject"&filter=0)!).

[2018-11-13 15:56] indrajra opened #275 "Creator value must be a pem or LD"
I'd like to seek clarification if the value in the "creator" field is an IRI to public LD document or an IRI that contains the public key only (say, pem file).
**1.** In _[issue32](https://github.com/w3c/vc-data-model/issues/32)_, there seems to be an impression that this field is a simple string although with a disclaimer comment that it may change.
**2.** Another variant of the _[spec here](http

[2018-11-13 16:51] ChristopherA commented on #252
I agree that VCs will be used as part of future authorization data formats protocols, but I believe that @David-Chadwick's concerns about VC used for authorization are out-of-scope for this data format WG. It is another layer.

[2018-11-13 16:52] jandrieu commented on #252
https://github.com/w3c/vc-data-model/commit/b4be87948040c784a678cd16c4835e14dd9259be#commitcomment-31277508

Extended conversation at that commit on this same distinction (about authorization being in scope or not).

[2018-11-13 19:36] dlongley commented on #275
The link from the LD Signatures spec is correct:

So, in more concrete terms, you'd expect `creator` to look something like this:

[code]

Or:

[code]

Dereferencing the `creator` link would yield a LD document like this (or one with this information in its graph):

[code]

Or:

[code]

Note that `owner` will very likely soon be changed to `controller` (with `owner` being backward compatible). Thi

[2018-11-13 20:22] msporny commented on #275
@indrajra, if you find @dlongley's response acceptable, we should close this issue. Let us know if he answered your questions/concerns.

[2018-11-14 07:56] simonstey opened #276 "Deontic concepts supported by termsOfUse"
(related to #269 #234)

<hr />

[6.3 Terms of Use](https://w3c.github.io/vc-data-model/#terms-of-use)

[Example 14](https://w3c.github.io/vc-data-model/#ex-14-usage-of-termsofuse-property-by-an-issuer) - _"the issuer is **prohibiting** a verifier from storing the data in an archive."_
[Example 15](https://w3c.github.io/vc-data-model/#ex-15-usage-of-termsofuse-property-by-a-holder) - _"the holder,

[2018-11-14 09:21] David-Chadwick commented on #276
Good catch. Given your correction, we should change the definition to say:

termsOfUse - The value of this property MUST be one or more terms of use that tell the verifier what actions it either MUST perform (i.e. an Obligation) or MUST NOT perform (i.e. a Prohibition) or MAY perform (i.e. a Permission) if it is to accept the verifiable credential or verifiable presentation.

And update the exampl

[2018-11-14 12:40] David-Chadwick commented on #252
Our data model has an architecture, and shows VCs passing from the issuer to the holder to the verifier. We do not specify a protocol for this, and we do not need to, because dozens of different protocols are feasible, and in a way, we do not care. But one thing is certain, regardless of the protocol, the data that will be carried in the protocol will necessarily contain VCs and VPs. In the genera

[2018-11-14 12:44] David-Chadwick commented on #252
I remind @jandrieu that he said the verifier needs to know when it can "reliably accept" a VC. I fully agree with this, and this is the nub of the issue that the DM model has to address.

[2018-11-14 17:21] jandrieu commented on #252
I'm not sure where I said that, but if I did, it was a moment of unrigorous chatter.

What a verifier needs to know is whether or not the credential remains a legitimate utterance of the issuer.

If what you mean by "accept" is that the verifier accepts the statement as an utterance of the issuer, then we're on the same page.

If what you mean by "accept" is that the verifier accepts the truth of

[2018-11-14 20:50] msporny commented on #275
Unfortunately, the Working Group Charter scope does not allow us to specify that in the specification. Yes, that's bad and sad and terrible, but some organizations in the W3C Membership felt that the scope of the group should not include how the underlying cryptography works.

So, what I can do is add these examples to the Linked Data Proofs / Linked Data Signatures specification. Would that be ac

[2018-11-15 02:40] msporny commented on #207
PR is in -- https://github.com/w3c/vc-data-model/pull/277 -- please review.

@TallTed What if we do `subject` in the JSON, but that maps to `credentialSubject` in the RDF? So, this:

[code]

translates to this:

[code]

Note that `subject` -> `https://w3.org/2018/credentials#credentialSubject`

How does that make you feel?

[2018-11-15 03:18] msporny commented on #252
The [Wikipedia definition of Authorization](https://en.wikipedia.org/wiki/Authorization) is very good, and suggests why VCs may be used in authorization systems, but do not (in and of themselves) constitute an authorization system. We have asserted something to this effect in the specification.

Specifically, authorization systems require you to define an access policy to a particular resource. Th

[2018-11-15 04:14] msporny commented on #247
Ping @nage - main spec is blocked going to CR until a PR for the last list item above "There is a desire..." is in.

[2018-11-15 04:16] msporny commented on #269
I suggest we do this:

... and use the "I'm picking up a prescription for my family member" use case as an example.

[2018-11-15 04:18] msporny commented on #226
This was fixed in #259, closing.

[2018-11-15 04:18] #226 closed

[2018-11-15 04:19] msporny commented on #240
This was fixed in #272, closing.

[2018-11-15 14:38] David-Chadwick commented on #269
I will do this PR

David

[2018-11-15 14:48] msporny commented on #247
@David-Chadwick does this PR help matters? -- https://github.com/w3c/vc-data-model/pull/280

One could say that the creators of a data vocabulary for a certain type of verifiable credential could also include a data verification schema using the feature suggested in #280 and that would make it crystal clear what is mandatory and what is optional. We only have a solution for JSON Schema at present,

[2018-11-15 15:42] David-Chadwick commented on #269
This is now in PR#281

[2018-11-15 15:53] David-Chadwick commented on #247
Ok. So we are effectively punting this issue to the definers of the schema. I am happy with that.

[2018-11-15 21:21] TallTed commented on #207
@msporny -

I think using `subject` in one place/serialization and `credentialSubject` in another, with the same semantic meaning, will inevitably cause trouble, especially as it seems these would not be true aliases but carry different (if not no) meaning in the other language.  Looking forward, what would happen if someone put `credentialSubject` (instead of `subject`) into their JSON?  Or if th

[2018-11-16 06:41] indrajra commented on #275
An example addition itself would be more than helpful. Thanks @msporny for asking.

[2018-11-16 22:31] TallTed commented on #207
@msporny - I don't know whether the following is better put here, or [on the PR](https://github.com/w3c/vc-data-model/pull/277)...

I'm with @dlongley on preferring consistency (so `credentialIssuer` would be preferred over `issuer`, given we're going with `credentialSubject` which I think is far preferred over `subject`).  If literal-length is more important than clarity (I don't think this), I w

[2018-11-20 16:53] stonematt commented on #252
@David-Chadwick  We've said we don't expect VC to be an authorization framework, using language like "access control policy" and "grant or denies ... access" is problematic.  For steps 7 and 8 we can reconcile it a bit like this:

7. The Verifier responds appropriately based on reasoning over the results fo the verification steps.

In other words, the Verifier decides how to respond based on busin

[2018-11-20 16:58] dmitrizagidulin commented on #252
I propose we phrase step 6. as "The verifier MAY wish to verify the right of the holder to possess the VC, depending on the application."

[2018-11-20 17:16] David-Chadwick commented on #252
@dmitrizagidulin @stonematt I will include your changes in the PR. thanks

[2018-11-23 16:01] David-Chadwick commented on #252
This has now been addressed in #291 (Mode of Operation)

[2018-11-23 16:04] David-Chadwick commented on #252
And in #283  (Remove Delegation)

[2018-11-25 22:15] #251 closed

[2018-11-27 05:02] msporny commented on #268
@TallTed -- I have tried to expand upon what a "Verifiable Credential" actually looks like in an attempt to address your concerns related to the oversimplification in [Section 3.2: Credentials](https://w3c.github.io/vc-data-model/#credentials). The idea is that this image below would be expanded upon in the "Syntactic Sugar" section OR at the end of the section 3.2.

https://docs.google.com/drawin

[2018-11-27 06:38] ChristopherA opened #292 "Just "registry" not "data verification registries""
In https://github.com/w3c/vc-data-model/pull/279 the changes added the term "data verification registries".

There are many possible registries that might be specific to various DID methods, schema registries, TOU registries, revocation or status registries, etc. So just call these "registries". And of course queries to ANY registry should anonymize or not have the issuer or subject.

[2018-11-27 06:40] ChristopherA commented on #292
After writing this I see an email from @msporny about a poll on this topic at https://docs.google.com/document/d/1dCPGKiW9uqVd1X_Ye6BCFt4qzRRGjPNfTuYEQKIZk6k

[2018-11-27 07:34] jandrieu opened #293 "Remove language about "accepting" credentials"
In the recent PR #282, in response to issue #276, the language for Terms of Use described "accepting" a VC.

This term of art, "accepting" is ill-defined, confusing, and IMO, out of scope since authorization is out of scope.

The specification should state what VCs can and cannot guarantee. That is, what "verification" means for a verifiable credential. What we should state clearly is how verifica

[2018-11-27 10:18] David-Chadwick opened #294 "What does conformance to the recommendation mean?"
The issue of conformance to the recommendation seems to be at the root of several issues, such as #293 and #282 and in fact all issues about Terms of Use.

So what do we mean by conformance to the VC standard? The W3C QA Framework can be found here:
https://www.w3.org/TR/2005/REC-qaframe-spec-20050817/

Copying from this document we have the following statements:
1. Conformance is the fulfillment

[2018-11-27 10:32] David-Chadwick commented on #268
I think this picture is very helpful.

However, I do believe that it could be turned into a tree by having VerifiableCredential as the root, with arcs labelled Proof and Credential emanating from the root to your Signature 456 and Credential 123 nodes.

[2018-11-27 13:55] msporny commented on #293
@jandrieu - I agree with your train of thought, please submit a PR as that's the only way we can make progress on the issue.

@David-Chadwick - clearly the "accept" language is problematic for a number of people... but we need those people to suggest an alternative in a PR to make progress.

[2018-11-27 15:59] msporny commented on #294
Just because we can do something doesn't mean we should. This is the 11th hour and this discussion about ToU is eating up a great deal of time that could be spent on other items in the specification. The specification text is also suffering wrt. the amount of detail we are going into wrt. ToU and authorization.

With specifications, sometimes less is more, and given the current trajectory of the P

[2018-11-27 16:18] jandrieu commented on #293
@David-Chadwick Um... I don't think we can test if a verifier accepts anything. The system has no idea what happens after a VC is in the hands of a verifier.

[2018-11-27 16:53] David-Chadwick commented on #268
One minor point. The subject should not be Pat, but rather an ID.

[2018-11-27 17:35] David-Chadwick commented on #294
Terms of Use that are advisory only, are not terms of use. They are pieces of advice only.
Therefore ToUs that are not mandatory should either be removed from the specification, or renamed to something which more accurately reflects what they are, such as AdvisoryNotice.

[2018-11-27 18:16] jandrieu commented on #294
All current terms of use that work today, that I know of, are legally enforced, not technically. Since conformance is technical and not legal, terms of use are--at the technical level--advisory only.

Attempts to create technically enforceable ToU are known as DRM, Digital Rights Management. DRM has proven to be an unsolved problem, potentially unsolvable. I don't think we should make the specific

[2018-11-27 20:46] TallTed commented on #268
@msporny - Capturing roughly what was said in the concall...  This is the direction I was looking for.  Changing the diagram from focusing on the magical "ProofOfAgeCredential" to a university-related credential will help real-world understanding, and this should then help lead to production of some generalized diagram(s) applicable to any VC.

[2018-11-28 10:13] David-Chadwick commented on #294
@jandrieu Since there are no standardised VCs today, then there are no standardised VC ToUs today. So your argument above is somewhat spurious. Can you please respond directly to the example below, which I believe is a technically enforcable ToU. If you think it is not, then please say why it is not. Thankyou

Can we write conformance tests to check if a verifier's code will accept a VC where the

[2018-12-04 20:50] msporny commented on #207
This was resolved in PR #277.

[2018-12-04 20:50] #207 closed

[2018-12-05 19:30] TomCJones opened #303 "How do we know if the subject of the claim is the one making the claim"
in issue #148 it seems to be that prevention of replay, or determining that the subject is the one making the claim is out of scope. That seems to be in conflict with the introduction which states that the point is to claim our status. Which is the case for the spec?

Driver's licenses are used to claim that we are capable of operating a motor vehicle, university degrees can be used to claim our e

[2018-12-05 19:52] David-Chadwick commented on #303
The current specification does support determining that the subject is the one making the claim, and it is within scope. Section 6.7.1 states

The most common case is when the subject is the holder. For example, the verifier can easily deduce that the subject is the holder if the verifiable presentation is digitally signed by the holder and all contained verifiable credentials are about a subject

[2018-12-05 20:31] jandrieu commented on #303
That section of the spec is simply wrong.

The verifier cannot "easily deduce that the subject is the holder". They can establish with one degree of assurance that the creator of the presentation controls the keys associated with the identifier used in both the presentation and the credential.

That is entirely different than "easily deducing that the subject is the holder".

Verifiers *will* use

[2018-12-05 20:40] TomCJones commented on #303
who gets to decide which interpretation is correct?

[2018-12-05 23:35] jandrieu commented on #303
There's a bunch of discussion over at https://github.com/w3c/vc-data-model/pull/298 on essentially the same topic. Hopefully some sort of consensus will emerge.

To my view, the spec for VCs should stop at verification: cryptographic proofs and procedural checks (for revocation).

David is right to point out that users / implementers of VC systems _will_ be using them for identity assurance. Altho

[2018-12-06 09:46] David-Chadwick commented on #303
I suggest this issue should be temporarily suspended, since the outcome of the discussion on #298 should resolve this issue.

[2018-12-06 21:50] TomCJones commented on #303
I tried to make sense of that thread before - I must say that it is very hard for me to interpret where this doc is headed, or what use I could make of a VC. It is unclear what statement a VC actually makes and to who. I hope that can be made clear before it is published again.

[2018-12-12 16:21] chaoxinhu opened #312 ""Verifiable Credential" which only contains limited uses"
We are currently investigating the possibilities to use Verifiable Credentials (VC) to measure the ticket-type Credentials, e.g. coupons and vouchers. One critical difference between them and normal VC, is that they should only contain limited uses and should be marked as depleted when the uses have ran out.

What we are preparing to do is to add a custom field to VC, **availableUses**. The VC can

[2018-12-12 16:37] agropper commented on #312
This is the prescription use-case. A prescription is issued by the issuer
but should only be dispensed by the verifier one or a specified number of
times. The count is to be decreased by the subject and verifier. The
subject MUST NOT be trusted to self-decrement their own refill counter and
the verifier SHOULD NOT be trusted to decrement the refills unless the
patient agrees (cosigns) that the pre

[2018-12-12 17:01] ChristopherA commented on #312
I think this is best as separate data — there is the issuer VC that there are max X uses available, but holder does not decrement it. Instead, the verifier accepts the VC if the claim's status is still valid (we don't precisely have revocation, it is status of which revocation is one kind of status), and the status method returns from issuer that there are uses available or not.

[2018-12-13 10:33] David-Chadwick commented on #312
I think "limited use" VCs will be quite common, and therefore it would be helpful if we could standardise this feature. But we have agreed that the current specification is for the data model only, and will not standardise usage (note that ToU is an extension point in the data model for future usage features, so this would be the natural place to insert a limited use feature). If there is a featur

[2018-12-14 04:33] chaoxinhu commented on #312
Guys, thanks a ton for your valuable responses!
I agree with all of you, especially @David-Chadwick that this should be a *usage* term instead of a *data-model* term. So far, it seems that we have two, maybe more, choices:
- Put into the Verifiable Claim part as an attribute of the specified "consumable" claims.
- Put into TermOfUse part as an attribute, which is in the Credential layer.
And yes,

[2018-12-15 22:47] burnburn opened #317 "Only DOCUMENT conformance matters"
TL;DR We need to ensure that only DOCUMENT conformance statements exist in the specification, rewriting or removing existing statements if necessary.

This is a specification for a data model and a few syntactic realizations of that data model.
We are not defining an API or a protocol, and thus there are no formal requirements on processors other than to state implementation of features of the dat

[2018-12-18 14:09] msporny opened #336 "JWTs encoding/decoding rules are not clear"
At present, JWT encapsulation of Verifiable Credentials strips values from VCs that are required for proper understanding by generalized verifiable credentials libraries. For example, the `id` field is stripped from vc.credentialSubject, which would result in an anonymous subject if processed by a JSON-LD processor.

The JWT section should have rules for encapsulating a VC in a JWT and transformin

[2018-12-18 15:06] burnburn commented on #317
Use cases are clearly there to demonstrate the entire ecosystem.
Requirements can be written either for the entire ecosystem (data model + protocol + ?) or for just the data model (and syntaxes)
Assuming we do the latter, the requirements can use RFC 2119 language, but only of the form "The data model MUST provide a means to represent digital signatures over a verifiable credential" or "A JSON-LD

[2018-12-18 16:52] burnburn commented on #317
@ashimura also gave another great example, the WoT spec.

IR: https://w3c.github.io/wot-thing-description/testing/report.html
Spec: https://www.w3.org/TR/wot-thing-description/

[2018-12-18 17:24] davidlehn commented on #336
Along with this it would be good to add notes or comments for the JWT examples pointing out where the data structure has changed.

[2018-12-18 19:18] burnburn commented on #266
PR merged, so I suggest closing.  Clearly other PRs (such as #366) are working on updates, but that's fine.

Please re-open if necessary.

[2018-12-18 19:18] #266 closed

[2018-12-23 09:19] Fak3 commented on #266
@burnburn there is no such pr

[2018-12-23 11:19] burnburn commented on #266
Weird.  I don’t know what that was supposed to  be referencing, but the
point was that edits can still continue. We no longer need an issue to tell
us to add JWT support now that initial text is in the spec.

On Sun, Dec 23, 2018 at 4:19 AM Evstifeev Roman <notifications@github.com>
wrote:

[2018-12-26 13:31] RieksJ commented on #247
'Mandatory' and 'Optional' do not cover all cases. Example include properties that can be multi-valued, such as phonenumbers.

This is a question of specifying the multiplicities (i.e. allowed cardinalities) of property-relations, which is the task of the schema publisher. Not all schema's come with multiplicities specified (e.g. schema.org). But there are good examples, e.g. http://www.oioubl.inf

[2019-01-02 05:11] ChristopherA opened #360 "Review from Credentials Community Group"
It was requested at our last CCG meeting that the W3C Credentials Community Group should do an independent review of the VC-Data-Model Spec. @ipatka is a member of the CCG but not a member of VCWG and volunteered to do so. The comments are at:

https://github.com/w3c-ccg/community/issues/28#issuecomment-450777534

Let us know if there is more review that you need from the CCG.

-- Christopher Alle

[2019-01-02 13:33] awoie commented on #336
From a storage perspective, it makes sense to save some bytes if you consider limited storage media such as smart cards, or visual encodings such as QR codes.

@msporny With regards to 2., it might not be feasible to transform the JWS implicit `proof` to an equivalent JSON-LD `proof` attribute and still keeping the signature value intact, right?

[2019-01-03 15:16] mwherman2000 opened #362 "[Identifiers] Clarify/be more explicit about where DIDs can be (optionally) used"
In https://w3c.github.io/vc-data-model/#identifiers, it states...

In the NOTE, can this paragraph clarify/be more explicit about where DIDs can be (optionally) used?
e.g. anywhere that a “id” attribute appears in a VC?

For example,
•	The id of the VC itself
•	The id of the verifiableCredential (most common use case in the VC data model document)
•	Other role-based id’s: owner, parent, child, hol

[2019-01-03 15:55] mwherman2000 opened #363 "[Mode of Operation] Is it necessary to specify only the *final* holder ..."
In https://w3c.github.io/vc-data-model/#mode-of-operation, it states

Is it necessary to specify that only the *final* holder a present its VCs to the verifier?  Why can't any holder in the chain present the VCs to a verifier vs. just the final holder?

[2019-01-03 16:36] David-Chadwick commented on #363
On 03/01/2019 15:55, Michael Herman (Toronto) wrote:

Of course any holder MAY present the VC, but in this case only the final
holder DID present the VC. So how to differentiate between the holder
that did and the holder that didnt?

David

[2019-01-08 12:54] awoie opened #364 "ZKP-Examples have different id values in credentialSchema"
In Example 19 and 20, the `id` in the `credentialSchema` of the verifiable credential does not match the id of the verifiable presentation. IMO, this should be the same:
`did:example:schema:3jf74yr7dsjw83jf`vs `did:sov:schema:3jf74yr7dsjw83jf`

[2019-01-08 15:03] msporny commented on #293
Marking this as resolved due to #298 being merged.

[2019-01-08 15:04] msporny commented on #270
This is in process, and about 50% of the spec is done at this point: https://github.com/w3c/vc-test-suite/pull/5

[2019-01-08 15:05] msporny commented on #269
PR #281 has been merged, resolving.

[2019-01-08 15:05] #269 closed

[2019-01-08 15:08] msporny commented on #268
This image is in the spec now: https://docs.google.com/drawings/d/1v293yj2Z4J9JHDTrTjnLEBs_D1zQTMp1ocgR8KF2DgI/edit

There is one more image for presentation that I need to add. The data model has also been simplified to remove certain graph containers, and where we use them, we explicitly state it and explain it (we don't dumb it down anymore). So, one more image and I think we can close this iss

[2019-01-08 15:13] msporny commented on #247
PR #280 is merged. That combined with the MUST statements in the spec make answering @David-Chadwick's question " How does a verifier know if a property that is defined for a credential type is mandatory or optional?" much easier. Closing this issue as I think we've done all we can in this iteration of the spec (and have put in a mechanism that enables entities to explicitly state a strict data co

[2019-01-08 15:13] #247 closed

[2019-01-08 15:24] msporny commented on #224
@brentzundel @dhh1128 -- ping, trying to resolve this PR. Given that we've figured out a generalized way to do ZKPs in VCs (and that mechanism is in the spec right now):

https://w3c.github.io/vc-data-model/#zero-knowledge-proofs

... and given that we've documented the algorithm to accomplish this:

https://docs.google.com/document/d/1D5Tc3-9dKpkl8Bp5Pisr-p-wlLlmSsFGPFkFNftEESg/edit

... and give

[2019-01-08 16:50] TzviyaSiegman commented on #270
https://w3c.github.io/vc-data-model/#use-cases-and-requirements needs to be updated as well.

[2019-01-10 16:59] stonematt commented on #237
@msporny and @mikelodder7 , as a review blocker, we need this done before we ask for wide review.  I can't tell if these referenced PRs complete this issue or not?  Can you review and help dispose of this issue.

thanks.

[2019-01-10 16:59] burnburn commented on #234
@burnburn ping myself to do the PR

[2019-01-13 21:06] msporny commented on #336
Addressed in PR #365, closing.

[2019-01-13 21:06] #336 closed

[2019-01-13 21:08] msporny commented on #268
Final image added for presentations in https://github.com/w3c/vc-data-model/commit/b608e721220fa7aae02f18173715359f27674b14. I believe that addresses all of the requests for more detail when introducing and describing credentials/presentations. Closing, re-open if you disagree that we're done here.

[2019-01-13 21:08] #268 closed

[2019-01-13 21:35] msporny commented on #270
I have made a complete pass through the specification and ensured that all MUSTs, RECOMMENDED, SHOULDs, MAYs (and their respective NOTs), specifically talk about document conformance and do not talk about issuer, holder, or verifier conformance.

[2019-01-13 21:38] msporny commented on #317
I have made a complete pass through the specification (commits https://github.com/w3c/vc-data-model/commit/175f07e1a10a6f8e6f9ee5242429d3360ccf2f06 and https://github.com/w3c/vc-data-model/commit/30591535e6efe7535cecadc18baa5c12cd8adc94) and ensured that all MUSTs, RECOMMENDED, SHOULDs, MAYs (and their respective NOTs), specifically talk about document conformance and do not talk about issuer, hol

[2019-01-13 21:38] #317 closed

[2019-01-13 22:35] msporny commented on #292
The poll resulted in the following outcome:

https://lists.w3.org/Archives/Public/public-vc-wg/2018Dec/0004.html

The specification has been updated to reflect the consensus of the group. Closing issue.

[2019-01-13 22:35] #292 closed

[2019-01-13 22:36] msporny commented on #294
The specification only talks about document conformance in a normative fashion (as described in this issue):

https://github.com/w3c/vc-data-model/issues/317

This position has achieved consensus in the group and as a result is the resolution to this issue. Closing.

[2019-01-13 22:36] #294 closed

[2019-01-13 22:46] msporny commented on #303
PR #298 has been merged and we have consensus and closure on at least part of this thread (discussion above).

To be clear, the question was: "How do we know if the subject of the claim is the one making the claim"

The answer to this question is: "If the digital signature of the issuer for the verifiable credential has the same subject identifier as the subject of the credential, you know that th

[2019-01-13 22:46] #303 closed

[2019-01-14 15:30] BigBlueHat opened #367 "Remove id related requirement in Presentations"
This requirement is stated earlier, and doesn't seem to directly effect the processing of a Presentation--so it feels repetitive and a bit confusing:

https://github.com/w3c/vc-data-model/blob/30591535e6efe7535cecadc18baa5c12cd8adc94/index.html#L1285-L1286

Suggestion is to remove it as it's handled in [6.2 Identifiers](https://w3c.github.io/vc-data-model/#identifiers).

[2019-01-14 15:47] BigBlueHat opened #368 "Remove example context URL from Example 9 in 7.1 Extensibility"
This series of examples starts with [example 9](https://w3c.github.io/vc-data-model/#ex-9-a-simple-credential) which includes an example extension context `https://example.com/examples/v1`, but it is not used (afaict) within that example and the follow-on examples ultimately replace it.

Suggestion is to remove the second context value (`https://example.com/examples/v1`) in [example 9](https://w3c

[2019-01-15 16:13] stonematt commented on #362
not CR blocker. will continue to work on clarification.

[2019-01-15 16:55] stonematt commented on #237
@brentzundel says we can remove "review blocker" tag.

[2019-01-15 17:03] BigBlueHat opened #371 "Defining expected order of credential `type` values"
In the [Semantic Interoperability](https://w3c.github.io/vc-data-model/#semantic-interoperability) section, this text is in the first bullet point:

However, it's not clear how the "expected order" is supposed to be expressed. The expected values would (by necessity) be described within the `@context`, but their preferred/required "ordering" can't be expressed there (afaik).

There's follow on tex

[2019-01-15 17:10] BigBlueHat commented on #371
Presumably "ensuring the expected values exist" involves checking the `@context` file (which is the primary thing in the MUST of that sentence) to be sure the values match. However, knowing and testing the "expected order" is still elusive.

[2019-01-16 14:37] msporny commented on #367
Agreed that it's repetitive and should be removed. Fixed in a080626539bf565046fd881a52568687af8f527d.

[2019-01-16 14:37] #367 closed

[2019-01-16 14:41] msporny commented on #368
In theory, `"name": "Jane Doe"` comes from the example context, so we can't remove it. The same goes for the other examples. The `credentials/v1` context only contains the bare minimum (typically almost all of the terms in `credentialSubject` are not defined in the `credentials/v1` context.

[2019-01-16 14:42] #368 closed

[2019-01-16 14:51] msporny commented on #371
We're trying to enforce sealed context behavior w/o having JSON-LD 1.1 done. So, we're stating what would need to happen today (extra things that JSON-LD processors would have to do today)... and then expecting future JSON-LD processors make the extra checks unnecessary.

So, we have to make sure JSON-LD processors throw errors when things are redefined (emulating sealed contexts) and make it such