[2022-11-11 02:59] jimschoening1 commented on #963
Ted,

               Thank you for submitting this.  If you don’t get a response by say Tues, I’ll find out which ontologist authored this and ask for their response.   Thanks for you input.

               The next monthly meeting will be the week of 12 Dec.  I’ll let you know when it gets scheduled for.  If your input get’s a thorough vetting on the issue tracker, it could be ready for the Dec a

[2022-11-11 10:37] Sakurann commented on #975
Could you please elaborate? wouldn't it be confusing to have two registries of the same items? unless note is what you meant per Tony's question.

There is a registry in CCG that is relevant to this WG. We need to clarify the relationship of that registry with this WG. and that should be discussed this is conjunction with issue #909 and a TPAC discussion.

[2022-11-11 12:05] nadalin commented on #975
Also does this mean that the WG would now be the sole process and content owners, full transfer from CCG ?

From: Kristina ***@***.***>
Sent: Friday, November 11, 2022 2:38 AM
To: w3c/vc-data-model ***@***.***>
Cc: Anthony Nadalin ***@***.***>; Comment ***@***.***>
Subject: Re: [w3c/vc-data-model] Move the VC Extension Registry to this Working Group (Issue #975)

This does not need eliminate the C

[2022-11-11 12:28] nadalin commented on #975
A very big -1 if the CCG does not want to completely turn over the registry and registry process to the WG as part of the submission.. I’m fine with CG’s incubating things but to continue after submission to a WG I don’t support.

From: Kristina ***@***.***>
Sent: Friday, November 11, 2022 2:38 AM
To: w3c/vc-data-model ***@***.***>
Cc: Anthony Nadalin ***@***.***>; Comment ***@***.***>
Subject: Re

[2022-11-11 17:15] decentralgabe commented on #975
@nadalin

I'm suggesting a new registry (is that a specification?) hosted and administered by this working group.

@Sakurann

As others have mentioned the CCG registry can be useful for incubation and may have less stringent requirements than the VCWG's registry. In this sense, I can see value in each group having their own registry.

I also understand this may be confusing and it could be better

[2022-11-11 18:03] nadalin commented on #975
Thanks for the clarification, I’m totally against this this approach with 2 registries and 2 different groups and processes

From: Gabe ***@***.***>
Sent: Friday, November 11, 2022 9:16 AM
To: w3c/vc-data-model ***@***.***>
Cc: Anthony Nadalin ***@***.***>; Mention ***@***.***>
Subject: Re: [w3c/vc-data-model] Move the VC Extension Registry to this Working Group (Issue #975)

@nadalin <https://git

[2022-11-11 18:05] decentralgabe commented on #975
@nadalin

I said...

Please share your thinking here if we were to go with a single registry.

[2022-11-11 19:18] TallTed commented on #975
@decentralgabe

I would suggest using a "status" or similar attribute, where one value might be "draft" or "feedback sought" or the like.  Best practice might be to advise registrants that their "draft" entries would become "withdrawn", "cancelled", or similar, after some period as "draft" — might be 3, 6, 12 months.....

[2022-11-11 19:23] decentralgabe commented on #947
Thanks Manu, I do appreciate the good faith effort being made on both sides to understand all points being raised and the discussion on whether there is a viable proposal we can come up with together. I certainly cannot make a robust proposal alone without the experience you and others have from this group and others long before I knew what a credential even was—that's something I appreciate and a

[2022-11-11 20:04] gkellogg commented on #947
With the renewed interest in Mastodon lately, my attention was brought to the excellent [ActivityPub Overview section](https://www.w3.org/TR/activitypub/#Overview) which has the following statement that I think goes to the heart of the utility of `@context` in specifications such as this:

(Emphasis mine).

The point being that `@context` enables interoperability and extensibility and can safely b

[2022-11-12 02:27] decentralgabe commented on #934
Draft here https://github.com/w3c/vc-data-model/pull/977

[2022-11-12 13:27] selfissued commented on #975
I support moving the registry to the working group.

I agree that there should only be one group administering the VC registry.  Therefore, at the time of the transfer, we should also work with the CCG to cause web references to the CCG registry to redirect to the working group registry.  That, or I'm fine with deleting it entirely.

[2022-11-12 16:03] msporny commented on #947
@decentralgabe wrote:

+1 to the concept of the above. Almost all, but not 100% of those engaged, fit into that category. :)

To, perhaps unnecessarily, belabor the point... it was that almost all of us are on team VC, need to understand each other at depth, and we want this stuff to succeed, but it's possible for all of that to be true and for us to still cause the ecosystem to fail due to one cr

[2022-11-14 15:47] OR13 opened #978 "Requesting content type for `credential` (without proof)."
### Update

I made 3 related proposals to the list:

- https://lists.w3.org/Archives/Public/public-vc-wg/2022Dec/0032.html
- https://lists.w3.org/Archives/Public/public-vc-wg/2022Dec/0011.html
- https://lists.w3.org/Archives/Public/public-vc-wg/2022Nov/0034.html

All 3 proposals request a JSON media type `application/credential+json`, based on the convention established by activity streams.

### P

[2022-11-14 15:54] mprorock commented on #978
Getting a content type like this would be awesome and very helpful in SCITT and elsewhere.

Perhaps the following as a starting place?
[code]

[2022-11-14 16:20] OR13 commented on #978
@mprorock following the convention from DID WG, we would have the following:

[code]

Both would be examples of "verifiable credentials with external proofs" similar to how VC-JWT is a "VC with external proof".

[2022-11-14 16:21] mprorock commented on #978
That make total sense and works for me

[2022-11-14 17:43] letmaik commented on #978
+1 though it seems like the media type would be for the credential itself, and the complete structure with signing envelope is the verifiable credential. I think it's important to distinguish this.

[2022-11-14 19:16] csuwildcat commented on #947
@msporny nice chess move being a collaborative person seemingly open to reasonable compromise - very suspicious! (kidding 😉)

[2022-11-14 19:54] decentralgabe opened #979 "Resolve discrepancies between specifications, vocabularies, schemas"
From https://github.com/w3c/vc-data-model/pull/977#issuecomment-1312473563:

@iherman wrote...

Also noting...

Some additional callouts:

[2022-11-15 03:40] msporny commented on #947
:chess_pawn: :woman_dancing: :hocho: :hocho: :hocho: :heart:

[2022-11-15 04:50] iherman opened #980 "Error in the JSON schema for `proof`"
The JSON schema in

https://github.com/w3c/vc-data-model/blob/cb0556463b58373afe94eed501eaeaff64764bf8/schema/verifiable-credential/verifiable-credential-schema.json#L73

is not correct. The `proof` property also allows for an array or proofs and not only a single one.

[2022-11-15 04:52] decentralgabe commented on #980
https://github.com/w3c/vc-data-model/blob/cb0556463b58373afe94eed501eaeaff64764bf8/schema/verifiable-credential/verifiable-credential-schema.json#L271

Believe this is fine. The def is not the properties...

[2022-11-15 04:56] iherman commented on #980
Oops, you are right @decentralgabe, I missed that. Sorry for the noise; closing.

[2022-11-15 04:56] #980 closed

[2022-11-15 14:43] OR13 commented on #978
@letmaik yes, thats what I proposed, but due to this language in the existing TR, that concept may be confusing to readers:

https://www.w3.org/TR/vc-data-model/#proofs-signatures

TLDR, the WG has defined "verifiable credentials" in a way that conflates them with "credentials" when an "external proof" is applied.

[2022-11-15 14:53] RieksJ commented on #959
@David-Chadwick: From what you say I get that the verifier (the department) first ensures that a particular party is delegated the right to see the specific personalised menu from that department, or to set a date/time of their next appointment, etc., on behalf of the patient (for which there are various ways of doing that), and then issues a VC to that party that has some modifications (which you

[2022-11-15 17:18] David-Chadwick commented on #959
@RieksJ Issuee is not there to provide delegation as you imply (although it may be used to good effect in delegated scenarios). Rather, Issuee is one of the fundamental roles of the VC ecosystem. It has always been so. It is just that currently it has not been documented. Instead the role of holder is documented and because different entities can hold this role for the same VC at different times,

[2022-11-15 17:57] OR13 commented on #971
AFAIK, `application/jose` would apply to all well formed compact JWS / JWE... and its already registered:

https://www.iana.org/assignments/media-types/media-types.xhtml

So we don't technically need a new media type that is specific to VCs.

We could write a small IETF RFC to request `application/jose+vc` or `application/jose+vp` if W3C cannot register for us, or we thought that was a really good

[2022-11-16 06:20] RieksJ commented on #959
I have no objections at all to using the term 'issuee' as a role (as I also do not object to having a role of 'presenter', which I can think of as being distinct from 'holder', but that's another discussion), and document such roles.

However, I will support having such properties in the data model only if there is a realistic/practical/relevant use-case that you can do if you have that property,

[2022-11-16 10:49] David-Chadwick commented on #959
We already have lots of use cases in which the "non-transferrable" property is required (as you will see by inspecting the plastic cards in your leather wallet). All of these (with plastic cards) refer to the subject of the card. So if the issuee = subject, and non-transferrable is set, the verifier can easily determine if the issuer's policy has been obeyed, by checking that holder=subject. And s

[2022-11-16 11:11] RieksJ commented on #959
For the example you gave, I showed that you can also do this without having the 'issuee' property (even in a more general fashion), so it doesn't qualify as a use-case that I am looking for. I agree there might be other examples that we have not yet thought of and that might qualify, but I would first like to see at least one of them before supporting the 'issuee' property. I'm not looking for use

[2022-11-16 16:15] msporny commented on #947
Just reporting out on the flurry of activity around this topic at IIW. At present, it looks like we're circling around the following compromises:

* Enable VCs to specify a "I want to be processed via JSON Schema", or "I am an ACDC".
* Don't break JSON-LD Processing,  but don't require it either.
* Keep the solution easy to implement.

This all builds off of @decentralgabe's proposal above.

At pr

[2022-11-16 17:08] TallTed commented on #971
`application/jose+vc` and `application/jose+vp` are backwards.  If something like these are to be pursued, they should be `application/vc+jose` and/or `application/vp+jose`.

[2022-11-16 22:50] OR13 commented on #947
Per:

https://github.com/w3c/vc-data-model/issues/947#issuecomment-1297816201

[code]

Even this one would still have a remote context...

However, It is possible to make the context not remote, and support private claims by doing something like this:

[code]

I remain opposed to making context optional or requiring multiple remote contexts.

[2022-11-18 01:18] jimschoening1 commented on #963
Ted, Did you see the response to your comment (on the definition of Biological Sex at https://opensource.ieee.org/cco/CommonCoreOntologies/-/issues/156 ?  It proposes some changes and seeks your feedback.

[2022-11-18 01:34] jimschoening1 commented on #963
At an Open Wallet Foundation (OWF) session on Tues, someone asked if the OWF wallet should hold personal data.  Daniel Goldscheider and Tracy Kuhrt said yes.
I emailed Tracy and we are in discussions on next steps.  I suggested we start an OWF slack channel or thread to collecte requirements and principles, then invite proposed solutions.
This is relevant to W3C VCs, since they include claim data

[2022-11-18 16:52] TallTed commented on #963
@jimschoening1 —

Thank you for the ping.  I received email notification of the comment, but hadn't yet reached it in my overflowing inboxes.  GitHub notifications are higher on my rotating review stack, so it got to me here first.  Feedback posted.  :-)

[2022-11-19 11:12] David-Chadwick commented on #971
See issue https://github.com/w3c/vc-jwt/issues/39 for why I think exp should not always be equated to expirationDate.
i) expirationDate is optional but exp should be mandatory as crypto does not last forever
ii) expirationDate could be decades in the future, but the crypto will most likely expire long before that

[2022-11-19 16:45] iherman commented on #947
I am not sure it is that simple; these two are not identical.

Using `@vocab` means that _all_ terms that are not expressed as full URL-s, are mapped against the _same_ base. Ie, for any term `"foo"` in

[code]

the result will be `https://www.w3.org/ns/credentials/foo`. Moreover, the value will always be considered as string, even if it says

[code]

 The current v1 context maps terms against at

[2022-11-19 17:45] msporny commented on #947
@OR13 wrote:

Yes, this is a part of where I think we got to consensus among a subset of the people that were at IIW. Now we just need to see if the rest of the WG agrees to the statement above.

There should be a mode where you MUST NOT load a few identified remote contexts from the Web ([loosely outlined above](https://github.com/w3c/vc-data-model/issues/947#issuecomment-1317275506)) and where w

[2022-11-19 18:53] iherman commented on #947
@msporny, could you explain what should be in the second context file in, eg,

[code]

I just want to understand how those context files would "work" in terms of json-ld? Or does in simply include a single, fixed `@vocab` statement?

[2022-11-19 19:51] tplooker commented on #947
Yes looks to have captured our discussion. I will note again as outlined in #953, my strong preference is for there to be only one context required that features a default vocab.

[2022-11-19 20:00] dhh1128 commented on #947
Hi, Manu. Thanks for the careful record-keeping and the efforts to find consensus.

I agree that what you've outlined does accomplish some important things. For those who were pushing for an optional `@context` simply because they wanted less burden on developers, perhaps it is enough. I didn't think most of us fit into this category, but perhaps you've proved me wrong. :-)

However, the summary y

[2022-11-19 20:27] msporny commented on #947
@iherman wrote:

Yes, it's expected that many of these static context files that the VCWG will define would just include a single `@vocab` statement. To be clear, other non-static context files may be full fledged JSON-LD Contexts or any variation from a single `@vocab` statement to a highly specific set of terms with highly precise definitions.

[2022-11-19 20:31] msporny commented on #947
Yes, noted. It's my hope that once we have broader consensus on the [four bullet items above](https://github.com/w3c/vc-data-model/issues/947#issuecomment-1320956878), that we can then shift our focus to discussing the remaining item that you strongly prefer.

@dhh1128 wrote:

Almost all of those efforts are thanks to @brentzundel who has been meeting w/ subgroups of us between IETF and IIW on an

[2022-11-19 21:14] msporny commented on #947
I don't think most of the implementations and deployments to date fit into this category, either, but there are people in this thread that are insisting otherwise. These proposals are being made against my better judgement -- they're making the ecosystem more complex (with questionable upsides)... we're just trying to compromise and get to a place where everyone is a bit happier (though I expect i

[2022-11-19 23:01] dlongley commented on #947
@dhh1128,

To add to Manu's comments above -- I think I also disagree with your argument pretty strongly ... given how I interpreted it anyway, which is: "It is harmful to people to be globally unambiguous about the semantics in their VCs". I not only disagree with that generally, but I think that data that includes a self-describing, disambiguating, decentralized registry (aka `@context`) both em

[2022-11-19 23:21] dhh1128 commented on #947
@dlongley and @msporny : Thank you for at least responding to the argument. To be clear, I didn't argue that `@context` harms human *identity*; I argued that it harms *humans* by reinforcing an already dysfunctional processing model that objectifies them. Separately, I asserted that local disambiguation was 99% of the value, and making that disambiguation global was 1%. We can agree to disagree on

[2022-11-20 03:52] AFlowOfCode opened #981 "ManualRefreshService2018 - what exactly is it?"
I hope it is not incorrect to ask this here - if so feel free to delete/close & I'll ask on one of the mailing lists.

The only information I can find anywhere is in the [vocabulary](https://www.w3.org/2018/credentials/): A type of refresh service that must be interacted with in a manual fashion.

However the specificity of the term (particularly the inclusion of the year) to me suggests that this

[2022-11-20 10:17] David-Chadwick commented on #947
The use of the same 3 lettered acronym to mean totally different things by different communities shows that local disambiguation is nowhere near 99% of the value on a world stage. Just look up BSA for example in google. What does it refer to? Many different things. So I agree with @dlongley that globally unambiguous semantics are much more likely to help people and applications than the opposite a

[2022-11-20 16:42] tlodderstedt commented on #947
I was hoping the VC spec would be the conceptual umbrella for different credential formats suited for different domains.

From what I read in this issue (and I just re-read it more or less completely) JSON-LD/ RDF graph model is at the heart of W3C VCs. I respect that (and I generally like passionate people). Given the strong desire to make W3C VCs a true interoperability spec, I think a single cr

[2022-11-20 17:16] David-Chadwick commented on #947
Having a JSON-LD credential does not mean using a JSON-LD proof, which your comment seems to imply. Using a JWT proof with a JSON-LD credential allows implementors to support keys in hardware and use government approved cryptographic algorithms and to support selective disclosure.

[2022-11-20 18:14] tlodderstedt commented on #947
@David-Chadwick as I stated. I have come to the conclusion this group is not interested to support different credential formats under the VC umbrella. Using JWTs with a `@context` to do some kind of JSON-LD processing on top of a JWT is in my opinion a non-sustainable compromise. This while issue is evidence to that. It also won't foster the kind of interoperability the group seems to be looking f

[2022-11-20 18:29] dlongley commented on #947
@tlodderstedt,

JSON-LD is already suitable for that (AFAICT) -- and if it's an LDP / Data Integrity Proof type you're looking for, someone just has to do the work to create what you want. If the incentives are there, it will happen. I know there's already some work around Merkletree-based Data Integrity proofs that can use NIST-approved crypto (the kind it sounds like you're looking for). The aut

[2022-11-20 19:36] msporny commented on #947
@tlodderstedt wrote:

I'd say the short answer to this is "yes, a subset of us do".

One of the challenges with a group as diverse as the VCWG is that there are groups of organizations that want to do different things. Some want pure JSON, others want JSON+JSON Schema, others want JSON-LD. So we're doing our best to accommodate everyone w/o creating an interoperability nightmare. Some say we're su

[2022-11-20 19:49] David-Chadwick commented on #947
On 20/11/2022 18:14, Torsten
      Lodderstedt wrote:

      @David-Chadwick as I stated. I have
        come to the conclusion this group is not interested to support
        different credential formats under the VC umbrella. Using JWTs
        with a @context to do some
        kind of JSON-LD processing on top of a JWT is in my opinion a
        non-sustainable compromise.

    I don't know ho

[2022-11-21 00:01] mark-moir commented on #947
@or13 @msporny

I think discussion [here](https://github.com/w3c/vc-data-model/issues/947#issuecomment-1317779501) and [here](https://github.com/w3c/vc-data-model/issues/947#issuecomment-1320933046) of "no remote context", whether they MUST or MUST NOT be "loaded", focus on who "hosts" them, etc. is a bit misguided.

The key issues are that the "remote context" is _uniquely identified_, _available

[2022-11-21 14:02] TallTed commented on #947
@dhh1128 -- Please re-edit your https://github.com/w3c/vc-data-model/issues/947#issuecomment-1320958319 and wrap each-and-every currently bare `@context` in single-backticks, as ``` `#context` ```, so that that GitHub user is no longer pinged for EVERY update to this endless thread, which they are only being drawn into by such pings.

[2022-11-21 14:17] dhh1128 commented on #947
@David-Chadwick wrote:

Of course there is tons of semantic overload. But I feel like your comment makes my point, because I don't believe that that overload is causing a lot of problems today. Why? Because 1) the people who care about the Boy Scouts of America and the people who talk about the Bank Secrecy Act are largely disjoint; and 2) even when these groups overlap, the verifiers that want to

[2022-11-21 14:27] dhh1128 commented on #947
@dlongley said:

The people you're talking about empowering here seem not to be the same people that I'm talking about. The people I'm trying to advocate for don't have any clue what a registry is, and have no interest in creating their own. They also have no clue what it means to debate semantics in VCs. What they know is that they have been issued a driver's license, and that a verifier wants pr

[2022-11-21 15:03] dhh1128 commented on #947
I said:

And @msporny replied:

Manu's list is totally accurate, but it makes my point, because nothing on that list touches the fundamental doctrine that perfect global disambiguation is non-negotiable. It is a list of maneuvers that make the disambiguation easier, on the premise that difficulty is the underlying concern. If the premise is wrong, the compromises will make LD proponents increasing

[2022-11-21 15:28] SmithSamuelM commented on #947
@dhh1128 +1

Lets just call it VC-LD and be done with it. Those who think that there should be a layered model where only the topmost layer may be an open world  model can then go build a layered model.

[2022-11-21 16:24] SmithSamuelM commented on #947
Much of the drag that we as a community experience (IMHO) is a result of the improper layering of the security concerns associated with the V in VC, and not due to the non-interoperability of an open-world set of claims. The triples in the claims can be conveyed in every case by a container layer to which the claims are opaque. The claims layer may of course, reference any meta-data in the contain

[2022-11-21 16:50] SmithSamuelM commented on #947
This layered model can be further extended to include the proof of presentation which is different from authentication of the Issuer and authorization by the Issuer.

A presentation exchange protocol then can include the details of graduated or  selective disclosure of the payload claims when appropriate. In many cases the payload of forensic information need only be conditionally disclosed especi

[2022-11-21 18:01] dlongley commented on #947
@dhh1128,

In the same way that you say the group is within its rights to decide X, it can also decide Y, where Y is a compromise position.

Ultimately, I continue to not be dissuaded by the argument that authors of data should be unclear about what they mean, leaving it up to recipients to guess based on the context in which *they believe* an interaction is occurring, is mutually understood, and

[2022-11-21 21:44] dhh1128 commented on #947
Yup.

You're constructing and destroying a straw man here.

I didn't say that authors of data "should be unclear about what they mean" -- I said that the combination of the schema, the issuer's ID, and the unglobalized field names constitutes excellent disambiguation already (my "99%" claim). A "bsa" field in credential X means exactly what issuer Y using schema Z intends it to mean in the context

[2022-11-21 23:09] dlongley commented on #947
@dhh1128,

If this is true, it seems to me that you're arguing that "we already have global disambiguation via X, Y, and Z" not "remove global disambiguation, it's bad". So is it bad or not? Do we have it already via one means or another ... or not? Something else?

Isn't this just "mapping to global terms" in more complex way? Instead of `bsa` we've got: `Y:Z:X:bsa`? And we had to do some non-sta

[2022-11-22 00:48] dhh1128 commented on #947
This is good. We're getting somewhere. We don't necessarily have *global* disambiguation, because I didn't say that the issuer has to publish knowledge *globally*. Just because you share something doesn't mean it's shared *globally*. This is the difference between sharing a picture of your new baby with close relatives and publishing that picture in the New York Times. Agreed?

Global and communit

[2022-11-22 03:06] OR13 commented on #971
Perhaps we should skip to COSE and HPKE?

https://github.com/WICG/mobile-document-request-api

[2022-11-22 04:45] dlongley commented on #947
@dhh1128,

You don't have to share something globally in order for it to be globally unambiguous either. If that were true, private keys wouldn't work. "Peer DIDs" wouldn't work. Is this the core of the confusion here? Because when I say "globally unambiguous", I do not mean "globally shared". Using `@context` does not mean that you must "publish knowledge globally". Hopefully this clears things u

[2022-11-22 09:12] David-Chadwick commented on #947
@dhh1128 The shared governance, policies and other rules that you talk about come from the trust federation that the VC eco-system participants are members of. This is at the administrative level of the VC eco-system and not at the technical level, which this `@context` discussion is about. So in a way you are talking at cross purposes by introducing governance into the technical `@context` discus

[2022-11-22 15:51] RieksJ commented on #973
@andorsk nice question. The standard says that an `id` property "is intended to unambiguously refer to an object, such as a person, product, or organization." The standard does not provide any ground whatsoever for recommending that it should be dereferenceable to some document/description, nor does it provide an example of why it might be useful.

I propose to remove this sentence in its entirety

[2022-11-22 15:54] dhh1128 commented on #947
I get that this is true, theoretically. But practically speaking, I don't think the distinction actually holds. There are various "SHOULDs" in normative and non-normative places, and there is plenty of tribal knowledge that assumes global publication. DID methods in common use with VCs demand it. There was a proposal on another issue here on Github that inline contexts should be disallowed. Etc. I

[2022-11-22 16:01] dhh1128 commented on #947
I agree that I've been talking about governance. But one of my assertions is that mandating `@context` creates a landscape that is unnecessarily difficult to govern. The distinction between `@context` as a technical topic and governance as a non-technical topic feels to me like something that is only reasonable once we acknowledge and explore the subtleties of that connection. If we simply divide

[2022-11-22 19:31] danbri commented on #947
@msporny - can you elaborate on this [comment](https://github.com/w3c/vc-data-model/issues/947#issuecomment-1320970694) you made recently:

Are you saying that JSON-LD's `@vocab` construct in general (aside from VC debates) was never intended to be used in production settings?

The JSON-LD 1.0 specification [said](https://www.w3.org/TR/2014/REC-json-ld-20140116/#default-vocabulary)

and

Giving an

[2022-11-22 22:42] OR13 commented on #953
Instructions for making the context immutable using IPFS, and examples of the changes requested in this issue to the v1 context:

https://github.com/transmute-industries/ns.transmute.org

[2022-11-22 22:55] OR13 commented on #947
For folks wanting the context to be immutable, here is a demo of that using IPFS and Cloudflare:

https://github.com/transmute-industries/ns.transmute.org

I'm very interested in leveraging W3C Verifiable Credentials in E-Commerce scenarios alongside schema.org.

https://www.w3.org/TR/vc-data-model/#example-a-simple-example-of-a-verifiable-credential

^ The example in spec has the exact error, tha

[2022-11-23 00:49] mark-moir commented on #947
@OR13 I am not sure if this is a response to [my comment here](https://github.com/w3c/vc-data-model/issues/947#issuecomment-1321282564) (you didn't `@mention` anyone or quote or link to any comment, and you characterize the "audience" as "folks wanting the context to be immutable", which is not the term I would use---it's not immutable, it's tamper-evident; in other words, you *can* give me a diff

[2022-11-23 00:50] SmithSamuelM opened #982 "W3C VC-LD Specification and Layered VC Specification: = interoperability at the application layer of layered spec"
I have copied my comments from issue #947 because they got lost in the general discussion.

# VD-LD and VCC
This a concrete proposal that IMHO resolves the primary conflict in the community. It has two features:

- Lets a **_VC-LD_** be pure unadulterated JSON-LD. No compromises. Open world model.
- Lets everyone else who believes VCs are best implemented as a layered protocol use a layered protoc

[2022-11-23 00:52] SmithSamuelM commented on #947
I have moved (copied) my proposal above for resolving the `@context` issue with a layered protocol to its own issue so it can be voted on independently.

https://github.com/w3c/vc-data-model/issues/982

[2022-11-23 04:14] decentralgabe commented on #982
before getting too deep into this proposal I think it's important we get to the heart of what "interoperability" means.
this is certainly a viable path, but one that has tradeoffs...more specifically this means more code implementers need to write to make Verifiable Credentials work.

I think the best solution allows a minimal shared set of code to "work" for most, if not all, Verifiable Credentia

[2022-11-23 06:14] iherman commented on #947
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-11-01-vcwg-topic#section1) on 2022-11-01

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

### 1. Make the usage of `@context` optional (issue vc-data-model#947)

_See github issue [vc-data-model#947](https://github.com/w3c/vc-data-model/issues/947)._

**Kristina Yasuda:**

[2022-11-23 08:01] RieksJ commented on #973
I would say that every property in a VC should serve a specifically stated purpose, i.e., serve an explicitly stated objective.

For `description`, I can see there is merit, but not a generic purpose for having it. Adding it might induce a risk that different people will use it for different purposes which might result in weird behaviours (as the issuers had something different in mind as the veri

[2022-11-23 14:19] jimschoening1 commented on #963
Open Wallet Foundation participants are agreeing an all-purpose wallet should store data, including VC claim data.  We're now discussing if a standard data model is needed for this data.  W3C-VCDM does a good job but stops at claim data, so such a personal data model would pick up there.  See this robust discussion on OWF Discord at https://discordapp.com/channels/1022962884864643214/1044329759347

[2022-11-23 14:58] TallTed commented on #963
@jimschoening1 — I think most if not all participants in this W3C VCDM work will agree with me when I say that we have made an active decision (and I encourage the OWF to adopt this same decision) *NOT* to create a "standard data model" for *claims* data, because at core, we believe that _anyone should be able to use VCs to say anything about anything_ without any need to convince gatekeepers of s

[2022-11-23 15:38] jimschoening1 commented on #963
This would be a voluntary personal data standard, so a VC could refer to its terms if desired, could reference any other vocabulary, or make up its own terms and define them.  Any other reasons this is not a good idea?

[2022-11-23 16:44] TallTed commented on #963
Ah, so just another ontology/vocabulary, which might be used anywhere. I am generally of the opinion that it's better to use existing ontologies/vocabularies wholesale than to try to reinvent them or to cherry-pick from them, and to contribute improvements to those existing ontologies/vocabularies when they don't satisfy the immediate need. Of course, when there's a complete gap — no-one's every b

[2022-11-23 21:17] SmithSamuelM commented on #982
@decentralgabe Not all layering is equivalent. The layering I am proposing is a function layering in the spirit of the ISO OSI protocol layering framework.  Authentication, Authorization, and Presentation are formally defined functions in such a framework. These may or may take advantage of other constructs such as schema and function specific terminology. Because they are security focused functio

[2022-11-25 09:50] vongohren commented on #947
My 5 cents. As an implementer I have had my fair share of struggle with JSON-LD, @context, and still do. I believe we can together make much better tooling to support this ecosystem of contextual data. I truely belive that contextual data can assist us in an open world paradigm. Having 5 implementers work together on a VC is not open world. That is closed world to those 5 implementers. Open world

[2022-11-28 07:37] RieksJ opened #983 "Terminology needs to be revised"
In a [message](https://lists.w3.org/Archives/Public/public-credentials/2022Nov/0148.html) to the W3C Credentials CG list, @msporny made a couple of statements, e.g.:

The bulk of his message is part of an argument that finds it roots in this 'imprecise simplification' of (in this case) the issuer. He concludes by saying:

I would not be surprised if Manu (and with him: many others) would have to s

[2022-11-28 10:13] mwherman2000 commented on #983
I hope it is OK to ask a clarifying question about the VC 3-role model? ...a perhaps naïve question about the Verifiers role...

Is the Verifier role
(a) a service that can be asked to verify the authenticity of a VC for someone? ...or...
(b) is the Verifier the someone who is seeking to have the authenticity of a VC verified?
...they're quite different.

...do you have link that explains your cho

[2022-11-28 10:56] RieksJ commented on #983
The fact that this question arises is yet another proof that revision of the terminology is needed, as a properly defined set of terms would definitely answer that question. Addressing the question itself is outside the scope of *this* issue (but could be raised as a separate one).

[2022-11-28 12:45] mwherman2000 opened #984 "Verifier Role Confusion"
I have a clarifying question about the VC 3-role model ...a perhaps naïve question about the Verifier role...

Is the Verifier role
(a) a "service" that can be asked to verify the authenticity of a VC for someone? ...or...
(b) is the Verifier the someone who is seeking to have the authenticity of a VC verified?
...they're quite different.

...do you have link that explains your choice (e.g. into t

[2022-11-28 17:03] mwherman2000 commented on #982
In reference to "interoperability" or "VC interoperability" or "interoperability with existing implementations of JSON-LD", which case are we talking about?

Are the JSON-LD enthusiasts primarily focused on VC interoperability? ...or interoperability/compatibility with some existing JSON-LD software implementations? ...for example, if there are JSON-LD implementations that can't or won't automatic

[2022-11-28 17:22] mwherman2000 commented on #973
I believe the `id` field should be interpreted as a unique reference or identifier to a real-life something (aka subject): a person, an organization, a business document (purchase order, invoice, etc.), an education credential, a car, a boat, a house, a software module, a deployed instance of a software module, etc.

Everything else in a decentralized identifier-based software system is addressed

[2022-11-28 18:18] TallTed commented on #947
@vongohren -- Please revisit your https://github.com/w3c/vc-data-model/issues/947#issuecomment-1327242691 and wrap all instances of `@context` and `@vocab` in backticks ("``` ` ```") (like ``` `@context` ``` and ``` `@vocab` ```) so that those GitHub users don't receive notifications of every update to this thread in which they are not participating of their own volition.

[2022-11-28 18:27] TallTed commented on #982
@mwherman2000 — Please revisit your https://github.com/w3c/vc-data-model/issues/982#issuecomment-1329440635 and wrap each and every instance of `@context` in backticks ("``` ` ```") like so, ``` `@context` ```, such that this GitHub user does not receive updates about this thread in which they are not participating of their own accord.

[2022-11-29 02:36] selfissued opened #985 "Enable CBOR Representation(s) of Verifiable Credentials"
Many parties have already created and deployed ad-hoc CBOR representations of Verifable Credentials.  Unfortunately, none of these are standards or standards-track at present.

One of CBOR's obvious advantages over JSON is size.  Binary data such as signatures doesn't pay the 33% size inflation that base64url-enoding binary data incurs in JSON.

The DID abstract data model succeeded in enabling CB

[2022-11-29 02:38] gobengo commented on #952
@dmitrizagidulin would it make sense to not reuse the 'digestMultibase' prop name and instead define a new one like 'cid'? - https://github.com/multiformats/cid#cidv1

Now that you're including a multicodec, I think you're basically just using a CID https://github.com/multiformats/cid#cidv1

[2022-11-29 02:42] dmitrizagidulin commented on #952
hmmm I'm not sure. One, `digest` is more descriptive than `cid`. But more importantly, `digestMultibase` is meant to go _alongside_ a URI in the `id`, not instead.

[2022-11-29 03:28] ChristopherA commented on #985
Blockchain Commons, and our financial sponsors from the cryptographic wallet & chip industry, have committed to moving to deterministic CBOR.

Why?

- unambiguous encoding
- reasonably compact serialization and easily streams
- works well in constrained environments (such as cryptographic silicon chips)
- extensible
- schema descriptions are not required
- doesn't require arcane ASN.1 descriptions

[2022-11-29 03:45] ChristopherA opened #986 "Separation of Cryptographic Verification from Business Process (and Semantic) Validation"
I’m not against schema & vocabularies. But I believe they can be a form of “layer violation” when they are used for cryptographic verification. Validation of a data set against a schema is a semantic & business process operation, not a cryptographic one. They should be separate.

If your business processes require a distinction between two different variant predicates, the business process can req

[2022-11-29 04:03] OR13 commented on #985
I'm against "defining W3C Verifiable Credentials data model in CBOR".

I don't believe W3C is the right place to "define a new data model for arbitrary claims in CBOR" especially if there is already plans to do that work at IETF.

(ACDCs and Gordian)

There are also a lot of incompatibilities, and politics between JOSE and COSE which make the idea of doing anything other than securing the W3C Veri

[2022-11-29 05:41] mwherman2000 commented on #985
What is the best link(s) to a primer on CBOR?

[2022-11-29 06:08] selfissued commented on #985
One other reason CBOR can be *a lot* more compact than JSON that people not currently using it may not be familiar with:  Instead of having to use string member names as JSON requires, like "credentialSubject", numeric member names can be used, including single-byte member names such as 3.  Yes, you would have to understand the mapping between "credentialSubject" and 3, but it's a significant savi

[2022-11-29 07:57] RieksJ commented on #973
@mwherman2000: I do not think that _the_ `id` field in a VC exists. There are multiple ones, of which only one represents the VC. Others represent, e.g., subjects of claims in the VC, or different entities. I also do not think that that a VC is an instantiation of a real-life object, because a VC is not a representation of a class (or: another abstraction) by a concrete individual (that is) an ele

[2022-11-29 12:02] David-Chadwick commented on #839
I have produced the PR for this as requested, but when I tried to push it to the repo it said I did not have write access, so did I want to fork the repo instead. Please advise

[2022-11-29 12:53] mwherman2000 commented on #973
Perhaps, "real-life" object is too strong an adjective.  Perhaps "concrete" object would be better.  The main point is that an `id` field is associated with or names the actual "thing" ...not its agent, not the service endpoint of its agent, not the VC itself, etc.

[2022-11-29 13:30] mprorock commented on #985
Agreed - i think timing will be important here - I also think that we should not start from scratch, but should leverage the VC data model as it exists in 1.1 as a starting place.

Hugely supportive of CBOR encoding for VCs and am willing to contribute time to this.

[2022-11-29 14:24] mwherman2000 commented on #982
@SmithSamuelM I've developed a layered architecture reference model for DIDComm Agents based solutions to make it easier to explain the options that are available to developers creating decentralized identifier-based agent software systems. Perhaps the DIDComm-ARM can be extended further in the directions you described above.

In the meantime, here's a preview: https://hyperonomy.com/2022/11/29/di

[2022-11-29 15:03] TallTed commented on #973
The word most often used (at least, in the W3C ecosphere) for this _actual "thing"_ or _"concrete" object_ or _"real-life" object_ is _**entity**_.  Some do use **_concept_** or **_thing_** for the same purpose.  There are years' worth of reading on the philosophical underpinnings of how and why these different words came to be used for the same (or very similar) things.

The value of an `id` fiel

[2022-11-29 16:11] decentralgabe commented on #839
@David-Chadwick I did add a VP schema to the repo here -- https://github.com/w3c/vc-data-model/tree/main/schema

is this sufficient to close out this issue?

[2022-11-29 17:04] jandrieu commented on #959
This continues to be a layer violation.

The VC itself has no place for a non-transferable property because we have no technical means of enforcing that. The credential is a data object that can, inevitably, be transferred. Even proof-of-control won't prevent transferring of the actual VC. If we add such a property, people will misuse it, believing that it means what it sounds like: a mechanism to

[2022-11-29 17:07] David-Chadwick commented on #839
My PR is simply adding text to the VCDM to describe this new property. It does not affect your schema but actually supports it

[2022-11-29 17:19] decentralgabe commented on #839
@David-Chadwick i was planning on another change to add text to support both the VP and VC schemas - happy to build off your work

[2022-11-29 17:21] jandrieu commented on #973
This is incorrect, but probably because there are multiple identifiers.
[code]

In that example
* `did:ex:id1` is the identifier of the verifiable credential. Full stop.
* `did:ex:id2` is the identifier, in this vc, of a subject of the VC
* `did:ex:id3` is the identifier, of the credential that subject has earned, as memorialized by this VC

The problem is one of understanding the data model of cl

[2022-11-29 17:24] David-Chadwick commented on #959
@jandrieu Putting the non-transferrable property to one side, as this is clearly a very contentious issue, returning to the issuee property, then I think you will acknowledge that the  issuer can make any statement it wants about anyone to anyone. The DM already contains "about anyone" but not "to anyone". So I am asserting that an issuer may want to insert into the VC both of these properties i.e

[2022-11-29 17:39] David-Chadwick commented on #973
@jandrieu

No its not. Full stop. It's the identifier of the credential.
It is part of the metadata of the credential as figure 5 clearly shows. Thankyou for pointing that out. It is not metadata of the verifiable credential as you wrongly assert.

Each proof that makes the credential into a verifiable credential will have its own parameters and metadata, such as validity time (of the signature -

[2022-11-29 17:42] David-Chadwick commented on #839
My current question is, how should I submit my PR so that you can build off it. Should I create a fork in the repo as Github desktop suggests I should do, or should I be given write access to the VCDM repo (which I believe I had for DCVM v1 and v1.1)

[2022-11-29 17:43] decentralgabe commented on #839
I'm not sure who controls write access maybe @iherman

In the meantime a fork should work - you'll be able to open up a pull request from your fork to this repo which I can build upon

[2022-11-29 17:48] David-Chadwick commented on #839
Thanks. Manu also suggested the same approach. So you should be able to see the PR now #987

[2022-11-29 20:33] dlongley commented on #985
It's worth noting that CBOR-LD does this programmatically and automatically for any JSON-LD contexts. IOW, it avoids the artisan-approach but still achieves semantic compression. CBOR-LD also already maps to / from the existing model and JSON-LD representation.

[2022-11-29 23:52] jandrieu commented on #973
@David-Chadwick Why do you think there is a "credential" separate from the "verifiable credential"? I'm honestly curious where that notion is based.

If you look at example 4 https://www.w3.org/TR/vc-data-model/#example-usage-of-the-id-property, you'll see that the Credential, Verifiable Credential (with proof), and the Verifiable Credential (As JWT) *all* use the same identifier. Because there is

[2022-11-30 09:06] David-Chadwick commented on #973
@jandrieu

Because we agreed during DM1.1 that if you take a credential, put different proofs on it, JWT or JSON-LD, then verify each VC and remove its proof, you will end up with the same credential that you started with.
Therefore it follows that credentials and verifiable credentials are different entities, and have their own lifetimes and metadata. Thus the id of the VC must be different from

[2022-11-30 11:32] vongohren commented on #947
@TallTed thanks for this notice, changed now.

[2022-11-30 12:01] David-Chadwick commented on #985
I think the discussion in issue #973
https://github.com/w3c/vc-data-model/issues/973#issuecomment-1331840515
is related (perhaps orthogonally) to this issue. Specifically taking a credential, and converting it into a verifiable credential by whatever rules we determine, then does this create a new object (i.e. a verifiable credential in whatever encoding format was determined by the proofing rules

[2022-11-30 12:46] awoie commented on #839
In general I'm supportive of that feature since I found `credentialSchema` in the VC useful. What I'm missing is whether the schema matches the VP with or without the embedded VCs. For VPs I expect the schema to just match VP without the embedded VCs. Matching embedded VCs might be also a bit difficult since JWTs can be included as b64-encoded strings.

[2022-11-30 13:04] David-Chadwick commented on #839
@awoie Good question. The presentationSchema should control the properties of the VP, not the VC. That being said, any instantiation of the presentationSchema will no doubt mandate that a verifiableCredential property must be present, without diving into the details of this property, as its credentialSchema will do that

[2022-11-30 13:33] awoie commented on #731
IMO, the `nonTransferable` property is too narrow in scope. The goal of the property is to allow only the holder (equals subject) to present the VC that contains that property, i.e., some people would refer this as holder binding. At least this is more or less what VCDM 1.1 says in a non-normative section. There are many cases where this relationship cannot be verified by simply checking whether `

[2022-11-30 13:50] awoie commented on #902
I also found the term holder a bit vague. We could try to run a non-binding poll on this and ask folks how they feel about introducing a new role `presenter` (I also feel that prover is too narrow in scope since it is not always about verification of cryptographic proofs).

- Issuer issues VCs
- Verifier verifies VPs/VCs
- Presenter presents VPs/VCs

I'm ok with keeping the term Holder in the VCDM

[2022-11-30 13:51] awoie commented on #902
Also note that `holder` has never been normatively defined in VCDM 1.1.

[2022-11-30 13:55] awoie commented on #923
I agree with @David-Chadwick. I think this issue is related to #731 and #942. In general I agree with @OR13 that this feature is important and I'm supportive of adding a mechanism like this to the VCDM 2.0.

[2022-11-30 14:40] msporny commented on #762
Agreed. This issue has been addressed via PR #970 and #976. Closing.

[2022-11-30 14:40] #762 closed

[2022-11-30 15:00] awoie commented on #960
Copying my answer partially from #731 (since I figured that #731 is about whether or not to add the property to the VCDM context) but the answer fits here better:

IMO, the `nonTransferable` property is too narrow in scope. The goal of the property is to allow only the holder (equals subject) to present the VC that contains that property, i.e., some people would refer this as holder binding. At le

[2022-11-30 15:01] awoie commented on #960
The `issuee` could also have properties that make references to other parts of the VC such as the `evidence`. Because there are many different ways of how such a binding could be established, I'd propose an extension mechanism for `issuee` with a type registry.

[2022-11-30 15:38] awoie commented on #923
IMO, this is also a duplicate of #789. I would continue all the discussions in #789.

[2022-11-30 15:55] awoie commented on #942
The proposal is about introducing a new role issuee that is inserted by the issuer at the time of issuance. IMO, this can be a part of the larger holder binding feature. imo, we could define such a new normative role including an optional property in the VC that can be used by the verifier to verify the link between the presenter, the VCs and the issuee of the VC. I'm supportive of this property a

[2022-11-30 15:59] awoie commented on #957
I agree that we should the Verifier perspective is important to Section C. However, the meta-question is if Section C should stay in the VCDM specification or will be part of the implementation guideline.

[2022-11-30 16:07] David-Chadwick commented on #942
I propose that the issuer is an object, in the same way that issuer and subject is. So in effect, it can contain any properties such as id, type etc

[2022-11-30 16:18] mwherman2000 commented on #973
I believe I concur with @jandrieu.  If we cast the `credentialSubject` as the "inner credential" or "business credential", then the entire credential (if it contains a proof) is the verifiable credential.  If we consider the verifiable credential minus the "inner credential", this is the `envelope` containing the "inner credential".

Further, two envelopes can be used to encase a copy of the same

[2022-11-30 16:36] SmithSamuelM commented on #982
@mwherman2000 Certainly DIDComm ARM is more aligned with what a layered protocol means. The differences are that the layering I am proposing is not a channel based or session based protocol but works in a zero-trust authentic data at rest model. DIDcomm does a lot, too much IMHO. But the discussion should not be: should we have layers? but what layers should there be? and what are the properties o

[2022-11-30 16:44] OR13 commented on #971
Here is a more recent draft that focuses only on securing the core data model with a JWS:

https://transmute-industries.github.io/vc-jws/

[2022-11-30 16:44] OR13 commented on #971
I will be developing a direct analog in COSE shortly.

[2022-11-30 16:47] mwherman2000 commented on #982
@SmithSamuelM I agree we're (you and I) are talking about different dimensions/sets of concepts in terms of an overall (broad and deep) model for decentralized identifier-based software systems (would welcome a better label).

I believe you're asking or are focused on: what are the dimensions/sets of concepts that can be used to layer a VC ARM. ...almost like a third axis (or set of axis) that ris

[2022-11-30 17:04] ChristopherA opened #988 "Holder-Binding: Needs Privacy & Correlation, Centralization/Lock-in Considerations"
I have a concern that some proposed holder-binding approaches may have unanticipated privacy & correlation issues and also that holder-binding may be an entree for parties to create centralization or lock-in, or worse, create human-rights issues.

I'd like to see any proposal for holder-binding to offer, in a clear and separate section, how their proposal addresses these concerns.

[2022-11-30 17:12] iherman commented on #923
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-11-30-vcwg#section3) on 2022-11-30

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

### 3. holder binding.

_See github issue [vc-data-model#789](https://github.com/w3c/vc-data-model/issues/789)._

**Oliver Terbu:** There's a lot of interest in this binding type so verifi

[2022-11-30 17:22] TallTed commented on #942
Probably that's meant to `propose that the issuee is an object`?

[2022-11-30 18:03] SmithSamuelM commented on #942
In ACDC we normatively define an optional Issuee identifier. The Issuer of an  ADCD is designating the Issuee by including the Issuee identifier. The semantics of what the Issuee represents is ACDC dependent. But the structure of having a normative Issuee enables delegation for example. ACDC chaining normatively recognizes a chain of Issuer to Issuee to Issuer and so forth via its normative edges.

[2022-11-30 21:04] David-Chadwick commented on #942
@SmithSamuelM Since issuer is already an object in the VCDM, then it makes sense that issuee is also an object. Getting their ids is not a problem. It is simply issuer.id and issuee.id. So I see no reason to separate the ids out from the objects.

[2022-11-30 21:23] David-Chadwick commented on #973
@mwherman2000 Your argument applies equally well to whatever construct is the inner credential. You appear to want the credential subject property to be the inner credential, whereas I want the credential object to be the inner credential. The difference of course lies in whether the credential metadata properties issuanceData, type, `@context` etc are part of the inner credential or not. Jo appea

[2022-11-30 21:25] SmithSamuelM commented on #942
@David-Chadwick Yes given that the Issuer is an object, consistency would say also make the Issuee an object. But you overlooked the fact that in ACDC, neither the Issuer or Issuee are objects. They are identifiers. A better response would be to make both identifiers not make the Issuee an object merely because the Issuer is also an object. This is just repeating the same layering violation.
 In a

[2022-11-30 21:29] David-Chadwick commented on #960
Using a type registry is not the normal VCDM way of handling extensibility. Rather the type is defined to be a URI, so that anyone can invent their own types and publish the meaning at the URL. This is the case for ToU, evidence, credentialSchema etc. If we accept this extensibility model, then of course the VCDM could standardise a few URIs in the base standard, whilst still allowing others to de

[2022-11-30 21:37] OR13 commented on #902
It's amazing how many critical issues there are for us to work on.

My guess is that "holder binding" would be far less contentious if we could define what a holder is first.

My sense is that "holder binding" might more accurately be titled "presenter binding".

[2022-11-30 22:23] msporny commented on #789
@awoie wrote:

The first option feels like it would be less prone to attack than the 2nd option. The 2nd option feels like one might be able to construct an attack by mixing/matching additional proofs w/ a credential that it might not be tied to. Can't say more without seeing more details, but that's an initial gut reaction on how difficult defending the first option would be vs. the 2nd option.

[2022-11-30 22:23] TallTed commented on #902
I continue to believe that "binding" is the wrong word for this association, this desired _restriction_ (which *might* be the right word for it).

[2022-11-30 22:28] OR13 commented on #789
I'm a +1 for figuring out how to make holder binding use `evidence`.

Another use case for evidence is a platform authenticator or passkey reference...

In that case, the evidence represents an authentication that happened for the subject at the time of credential issuance.

This kind of thing can leak data in ways that impact user privacy, see this section of webauth:

https://www.w3.org/TR/webau

[2022-11-30 22:30] OR13 commented on #902
Great point about the word binding, it makes you wonder if we are trying to relate "holder binding" to "token binding" or if that relationship is not what we are hoping to accomplish:

https://www.w3.org/TR/webauthn-2/#dom-collectedclientdata-tokenbinding

[2022-11-30 22:43] nadalin commented on #988
There's nothing wrong with parties that want to create centralization. There is nothing that says it has to be decentralized we should make this work for both without privacy concerns.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Christopher Allen ***@***.***>
Sent: Wednesday, November 30, 2022 9:04:22 AM
To: w3c/vc-data-model ***@***.***>
Cc: Subscribed

[2022-11-30 22:54] dlongley commented on #902
@OR13,

I think the "holding binding" issue(s) and related conversations started from the idea of creating a dependency of sorts on a proof of possession, but it's grown to encompass more than just that idea. Besides, that idea had some initial flaws when called "binding" that people mentioned early on as well.

I agree with @TallTed that we need a better word than "binding" -- but I'm hoping at t

[2022-11-30 22:54] David-Chadwick commented on #789
Just to remind folks that in our recently completed NGI-Atlantic project (Next Generation SSI Protocols) we defined using the Evidence field to signal the strength of authentication (or LoA) by integrating both the NIST standard and the eIDAS standard values. I copy it below in case others might find it useful

[code]

[2022-11-30 23:06] kdenhartog commented on #762
+1 I think this clarifies this and I agree with the outcome here

[2022-11-30 23:37] msporny commented on #789
Yes, and that approach is aligned with the intention of the `evidence` property (though the markup provided looks a bit questionable... it's in the right ballpark). I expect that we might be able to do something there wrt. "holder binding".