[2022-10-07 08:57] RieksJ commented on #942
I don't buy the argument, as it is of the form: I need X because there might be a  situation in which I need X, but that I do not specify.

Can you perhaps provide a realistic, real-world example, that demonstrates that actual (not theoretical) need of the proposal, and also some arguments that convincingly show there's no viable alternative?

[2022-10-07 09:01] RieksJ commented on #942
It seems to me as if we're leaping into all sorts of tech discussions to provide 'solutions' without taking the time to ponder what the actual problem is, what (other) solutions already exist or could be made to exist, and then make an informed decision.

For one: suppose a VC would contain an issuee field. As VCs can be moved around ad libitum (anyone can be the holder of such a VC), that might p

[2022-10-07 09:18] RieksJ commented on #942
At the start of the issue, @David-Chadwick wrote:

I think that this confusion is caused by
- the VCDM spec using ambiguous definitions (for example, it isn't clear whether `issuer`, `holder`, and `verifier` are roles that can be played by people/organizations (parties), or that they are technical roles performed by IT/digital components. This is relevant because a single party can use different/m

[2022-10-07 21:31] SmithSamuelM commented on #942
@RieksJ

The way we handle this privacy protection problem is to place the Issuee identifier (when there is one) in the attributes section of the ACDC. The attributes section may be privacy protected and selectively disclosable. This enables the Discloser (who may or may not have the same identifier as the Issuee) to first contractually protect the later disclosure of the Issuee identifier. If the

[2022-10-07 22:00] SmithSamuelM commented on #932
I am not sure I capture the meaningful difference between "an information exchange" and a "data exchange that represents information". ;)

In a layered protocol, the purpose of each layer is to isolate and encapsulate the information essential to the function of that layer. This enables the separation of concerns and avoids the leakage of information. The latter is an essential property of securit

[2022-10-07 22:01] SmithSamuelM commented on #932
Exactly why we should not be mixing the layers, which your example does.

[2022-10-07 22:09] SmithSamuelM commented on #932
Each Issuer should be empowered to define what a proof-of-issuance attributable to that Issuer means for a given issuance. This must be entirely contextualized to that issuance. The data model of the protocol stack, must then have a mechanism that enables the Issuer to express that definition in an interoperable way that enables verifiers to correctly evaluate the proof of issuance.    Multiiple s

[2022-10-07 23:00] SmithSamuelM commented on #932
So far with ACDC we only have identified the need for four roles. All the use cases we can think of are covered by those four roles because the typing system enables the semantics of the roles as used by a given ACDC to be adapted to the use case.

The four roles are:

ACDC Issuer
ACDC Issuee (the Issuee is optional and reflects a target identifier of an issuance. Not all issuances need a target i

[2022-10-08 14:30] msporny commented on #921
I've now been able to test this and it works as expected. +1 to implement these updates.

[2022-10-08 14:31] msporny commented on #921
I've now been able to test this and it works as expected. +1 to implement these updates.

[2022-10-09 17:25] dlongley commented on #921
+1 to the plan here.

[2022-10-09 21:29] msporny commented on #879
This was completed in PR #897 and w3c/vc-imp-guide#68. Closing.

[2022-10-09 21:29] #879 closed

[2022-10-09 21:31] msporny commented on #42
Progress was made at RWoT here: https://github.com/WebOfTrustInfo/rwot11-the-hague/blob/master/draft-documents/rendering-vcs-snapshot-9-27-22.md

[2022-10-09 21:43] msporny commented on #929
I've been thinking about this issue over the past couple of days and it seems like we're all conflating a number of things in this issue and perhaps reframing the threads of discussion as separate issues will help us make progress. Here are the two main paths that seem to be emerging:

1. There is interest from a group of individuals in making `@context` optional.
2. There is interest from a group

[2022-10-10 01:19] dwaite commented on #929
@dwaite wrote:

There are multiple confounding factors there which are related to the topic at hand (JSON-LD compatible JSON).

@OR13 mentioned earlier that he would be against limiting `@context` to be just URI and not objects, as 1.1 allows today. However, as the [Semantic Interoperability](https://www.w3.org/TR/vc-data-model/#semantic-interoperability) section mentions:

Is there a proposal on

[2022-10-10 01:36] OR13 commented on #929
IMO, it's JSON compatible JSON-LD when it verifies as a JWS payload. How it's processed after that is up the issuer and verifier.

I can provide examples of this working with and without the need to cache contexts by URI, and produce the same information.

As a verifier, I want to process structured data from issuers I trust.

As an issuer, I want to produce structured data that meets the requirem

[2022-10-10 07:08] RieksJ commented on #932
Reading through this thread increasingly resembles me walking into a swamp: lots of good points are being made, but I have no clue as to their cohesion. There's a topic on (the meaning) of proofs/signatures - very valid, should be clarified (e.g. as in pk-certs). There's a topic on transactions (exchanging messages the meaning of which is to a considerable extent implied by the transaction context

[2022-10-10 15:21] melvincarvalho commented on #929
@msporny +1 to this

It seems valuable on every level

We're close to plain old JSON then, with `@id` and `@type` as a way to tell a parser that an object has a certain URI and has a certain type.  That seems to be where much of the benefit of JSON-LD lies

How to deal with extensibility would be a great topic.  For example, you can guess what "controller" means, but it might be harder to guess wh

[2022-10-10 16:22] David-Chadwick commented on #942
@RieksJ "_Can you perhaps provide a realistic, real-world example, that demonstrates that actual (not theoretical) need of the proposal, and also some arguments that convincingly show there's no viable alternative_?" If you look through the plastic cards in your physical wallet you will see some of them that state "not transferrable" or similar. The inclusion of the issuee field, with the same id

[2022-10-10 16:56] decentralgabe commented on #929
+1

thank you @msporny -- we need this kind of distillations, and I agree with what you have written. both proposals make sense to me.

[2022-10-11 01:51] fabrii opened #945 "Some questions about implementation: URIs and verificationMethod"
Hi! I don't know if this is the proper place for this kind of question. If it isn't please let me know.

I have some questions related to the implementation of the W3C Verificable Credentials Model.
There are many attributes of a VC that can be described as URIs. Some containing an external URI or just a plain ID. For example: credential id, issuer, verification method. Throughout the post I will

[2022-10-11 05:18] Muthurajj opened #946 "what is attribute ID in the verifiable credential?"
1.what is the purpose of the id ?
2.How to create the id url?
3.If the id is refer to identity for the claims in VC then we have storage the claims in server to identify gobally?

[2022-10-11 06:26] RieksJ commented on #942
@David-Chadwick I understand your example of a card being "not transferrable" to be a situation in which a verifier can establish that the person presenting the card is the one from which the card should not be transferred. I don't see how that _necessarily_ implies that the card could not be transferred _to_ that person (i.e.: MUST have been issued to that person). It's perfectly ok for my wife t

[2022-10-11 07:46] agropper commented on #930
@joeandrieu, your point “If they can deliver the VC they are the holder.”
is essential. It also captures the difference between a statement and
(delegated) authorization. It may show us a way to mitigate confusion
around the normative use of “holder”.

By definition, the issuer “can deliver the VC,”. Logically, this makes them
a holder. Whether and how the issuer delivers a VC, you might agree, is

[2022-10-11 08:14] agropper commented on #860
I wonder how the "User-Centric Request Model" (UCRM) perspective fits into
this discussion.

Briefly, UCRM, assumes that one or more VCs are combined with a stated
purpose and scope of a transaction resulting in a capability /
authorization for the transaction. The party signing the request is held
accountable based on their signature on the request.

Aside from the VCs presented, interoperability

[2022-10-11 08:25] iherman commented on #921
I have updated .htaccess in /2018/credentials/. It looks like working now:-).

Closing the issue.

[2022-10-11 08:25] #921 closed

[2022-10-11 08:34] iherman opened #944 "Change the target file for "https://www.w3.org/2018/credentials/" (at some point...)"
This is more a note to ourselves and may not require immediate actions but, eventually, should be done...

Having changed the relevant `.htaccess` file (see #921) the vocabulary content negotiations now work for the vocabulary, see

[code]

They refer to `https://w3c.github.io/vc-data-model/vocab/credentials/credentials.{html,ttl,jsonld}`.

That vocabulary is the "historical" vocabulary, which als

[2022-10-11 08:39] iherman commented on #944
To give my personal opinion on the question: it may be done _now_.

- **Pro**: the v2 version of the vocabulary is backward compatible (and it must remain so!), ie, such a change should not harm any deployed application making direct use of those files.
- **Pro**: the v2 version is maintained, ie, past and future bugs are handled
- **Con**: the v2 version is maintained (😀), ie, new vocabulary item

[2022-10-11 09:21] nadalin commented on #929
The base model should be JSON, the extensibility is that you may use JSON-LD and the “@ context” is the trigger point for usage of JSON-LD, I’m in favor of a data model that only requires JSON but can be extensible to support JSON-LD if needed

@manu Can you explain why you would want to enforce the usage of “@ context”  for a JSON only VC

From: Manu Sporny ***@***.***>
Sent: Tuesday, October 4,

[2022-10-11 09:52] melvincarvalho commented on #929
@nadalin we came to a similar conclusion some time ago, leading to the creation of some notes, for something with the code name "Linked Objects"

https://linkedobjects.org/

Just a one-pager with some notes, not an implementation or production system (yet)

It's basically a JSON base, with extensibility to full JSON-LD.  This is not a proposal or suggestion, but hopefully on-topic, and some "food

[2022-10-11 13:38] David-Chadwick commented on #923
I do not believe that the issuer can bind a VC to a holder, since the holder is a transient role that is held by anyone who currently happens to hold the VC. Rather the issuer can bind the VC to the issuee, it being the persistent entity that the issuer issued the VC to. Regardless of who the subsequent holder might be, the issuee never changes. So I would suggest that we change the title of this

[2022-10-11 13:52] David-Chadwick commented on #929
Given that there will (hopefully) be thousands of issuers and millions of holders and verifiers, in which a verifier does not necessarily have a-priori knowledge about a VC issuer, it is important to me that we do not split the eco-system into two halves, the `@contexts` and the `not-@contexts`. I think an `@context` issuer should be able to have its VCs accepted by all `not-@contexts` verifiers a

[2022-10-11 17:20] msporny commented on #929
@nadalin wrote:

The base data model does not specify any market-specific properties. That is, if you're issuing a University Degree, there are no types/terms for a university degree in the base VC data model (by design). You have to extend the base data model to use market-specific properties and `@context` has been the mechanism used to do that since the very beginning.

For at least the reason

[2022-10-11 17:27] msporny commented on #929
@dwaite wrote:

No, there is not, which is why the following proposal was made:

This would ensure that we don't hit a case where a JSON-only encoding would hit an inline context object. It's a compromise that we are suggesting though there are others that want to keep inline contexts. Doing the above proposal would enable us to further be able to rely on NOT requiring JSON-LD processors for JSON-

[2022-10-11 17:31] msporny opened #947 "Make the usage of `@context` optional"
It [has been suggested](https://github.com/w3c/vc-data-model/issues/929#issuecomment-1267697526) that the use of `@context` should be made optional. This would be a normative change to the current specification, as the use of `@context` is required in both JSON and JSON-LD. This issue is to discuss if this is a good idea and the mechanism(s) that could be used to accomplish the task.

[2022-10-11 17:35] msporny opened #948 "Limit JSON-LD optionality to enhance developer experience"
It [has been suggested](https://github.com/w3c/vc-data-model/issues/929#issuecomment-1267030853) that there could be limits imposed on the use of JSON-LD for Verifiable Credentials that would enhance the developer experience. These changes would be normative changes to the current specification. This issue has been raised to discuss if this is a good idea and the mechanism(s) that could be used to

[2022-10-11 17:46] msporny commented on #948
To restate a set of concrete proposals from #929, here is a cut at some reasoning with concrete proposals that might help:

At present, the developer experience with Verifiable Credentials could be improved because:

* Developers think they need to start by creating a JSON-LD Context, which they don't need to do. Can we provide the developer with `@vocab` to get them started, but in a way that is

[2022-10-11 17:52] msporny commented on #929
I'm not seeing any objections to splitting this issue into two more focused issues, so here they are:

#947 Make the usage of @context optional
#948 Limit JSON-LD optionality to enhance developer experience

Closing this issue, please continue the discussion in the more focused issues above.

[2022-10-11 17:52] #929 closed

[2022-10-11 20:42] dlongley commented on #947
Since making `@context` optional is not ideal for interop (there being more than one way to do things), there must be good arguments for doing so.

First, in my view, any argument that makes a VC look and function just like a JWT (and uses the same centralized registry extensibility mechanism) is not a good argument -- because the JWT spec already exists and people can just use a JWT if that's wha

[2022-10-12 08:24] vongohren commented on #940
Just throwing out some thoughts that has been roaming the community.

### Group the issuers under a collaborative DID.
Not any work that I know of. Been discussed in conversations

### Multi signatures
An email discussing this: https://share.streak.com/4IYzN5hJAU90r5AUIjrkx9
Uses chaining and represented in data integrity: https://github.com/w3c/vc-data-integrity/issues/26

## Other issues discuss

[2022-10-12 09:28] David-Chadwick commented on #948
In order to understand the implications of the above, we have 3 cases to consider
1. Developers who do not want to use `@context` at all
2. Developers who want to use the standard `@context` but not define any new ones
3. Developers who are happy to define new `@context` values

Are the implications as follows?
1. These developers must use full URIs everywhere in their VCs, even for standard prope

[2022-10-12 11:23] melvincarvalho commented on #947
I was lead here by the interesting [post](https://forums.tbd.website/t/supporting-jwt-and-data-integrity-style-authentication/155) by @decentralgabe

The system being designed is of a decentralized nature

This comment is more of an observational nature, rather than a solution or proposal.  I would like to record it, but there isnt an expectation of a response here, so do not feel the need to repl

[2022-10-12 13:22] msporny commented on #948
@David-Chadwick wrote:

That is not what this issue is about. The discussion on NOT using `@context` is happening in #947.

However, on the topic of using full URLs everywhere -- no, we shouldn't do that, because that leads to non-idiomatic JSON (which we're trying to avoid). We want to promote the use of idiomatic JSON as much as possible, and the following is probably not going to go over very w

[2022-10-12 13:36] msporny commented on #947
@melvincarvalho wrote:

Yes, treat the values in `@context` as strings with known semantics, don't download them, don't cache them, hardcode against them. Done. :)

We had contemplated all that you say above in v1.0 and v1.1 and that is why the specification provides the entirety of the content and a hash for the base VC context. https://w3c.github.io/vc-data-model/#base-context -- and we'll conti

[2022-10-12 19:10] David-Chadwick commented on #948
@msporny I take your answer to the case 1 developers to be "if you dont want to use `@context` then do not use W3C VCs." I can live with that. But what I wanted to highlight in the current issue is that there appear to be a set of developers who want to use W3C VCs and not use `@context`. The definitive answer to these developers will be found in the resolution of issue #947

[2022-10-12 19:38] OR13 commented on #914
See also https://github.com/decentralized-identity/did-jose-extensions/blob/master/options.md

[2022-10-12 19:51] OR13 commented on #914
`proof.verificationMethod` MUST be an absolute IRI to a verificationMethod.

`kid` MUST be a relative IRI, relative to `iss`.

[2022-10-12 20:00] OR13 commented on #914
Related to the "controller" is "issuer" comment that Manu made regarding Data Integrity.

https://github.com/digitalbazaar/vc-js/blob/main/lib/CredentialIssuancePurpose.js#L72

[2022-10-12 20:01] dlongley commented on #914
One option is to make it so that if you dereference the issuer value, you get back a document that has verification relationships and verification methods. The `kid` must reference one of those verification methods under the appropriate verification relationship. This option would be in line with how things work with DIDs and how things work with Data Integrity.

[2022-10-12 22:00] TallTed commented on #945
@fabrii — Please edit your initial comment on this issue (#945), and wrap each instance of `@context` in backticks (like ``` `@context` ```), such that this GitHub user does not get pinged for each update to this thread, as they are not participating of their own volition.

[2022-10-12 22:48] TallTed commented on #929
@nadalin @melvincarvalho @msporny

Please edit your comments (detailed below), and —

1. remove all unnecessarily quoted content, which makes it harder to digest your own content

2. codefence (wrap in backticks) all remaining occurrences of `@context` (e.g., ``` `@context` ```), `@value`, and any other `@` entities — including those in quoted content — as it's well beyond unfriendly to constantly

[2022-10-13 08:52] stenreijers opened #949 "Zero-knowledge packed binary data format"
Following section 5.4 on `Data Schemas` the following example is shown:
[code]
According to the specification this "credentialSchema" `is pointing to a zero-knowledge packed binary data format that is capable of transforming the input data into a format, which can then be used by a [verifier](https://www.w3.org/TR/vc-data-model/#dfn-verifier) to determine if the proof provided with the [verifiable

[2022-10-13 10:10] melvincarvalho commented on #947
Thanks for the detailed explanation.  I think the trade-offs have been well expressed.  There remains some nuances and mitigations, but probably off-topic for this thread, at this point.

[2022-10-13 13:00] OR13 commented on #914
@dlongley your suggestion is the best I have heard so far... but... can we do better?

[2022-10-13 13:40] iherman commented on #914
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-10-12-vcwg#section6-1) on 2022-10-12

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 6.1. Dereferencing relative to `issuer` (issue vc-data-model#914)

_See github issue [vc-data-model#914](https://github.com/w3c/vc-data-model/issues/914)._

**Kristina Yasuda:** the

[2022-10-13 17:51] OR13 commented on #846
https://www.w3.org/TR/xmlschema11-2/#dateTime

- does not support leap seconds.
- 100% compatible with unix timestamps.

[2022-10-14 12:02] matthieubosquet opened #950 "Verification of multiple credential schemas"
In the [Data Schema section](https://www.w3.org/TR/vc-data-model-2.0/#data-schemas), the `credentialSchema` definition contains the following statement:

If more than one schema is provided, then verifiers should probably check the credential against every schema provided rather than making sure that at least one of the schemas provided conforms because it would allow for composability of schemas,

[2022-10-17 13:04] jan-forster-cognizone commented on #934
Dear All,

I tried to reach out regarding the schema definition in another issue (#941), and it was forwarded here.

From reading this issue and the #76 I understand that no formal schema for the VC model exists. Is there any non-standard schema available for sharing?

The current documentation, which relies on examples and textual descriptions of constraints, is not sufficiently clear for impleme

[2022-10-17 16:09] aljones15 commented on #934
These are bit early, but we have existing json schemas for Verifiable
Credentials and Verifiable Presentations here:

https://github.com/digitalbazaar/bedrock-validation/blob/main/schemas/verifiableCredential.js

and here:

https://github.com/digitalbazaar/bedrock-validation/blob/main/schemas/verifiablePresentation.js

We're also using `ajv: ^6.0.0` which does not conform to the latest version
of

[2022-10-17 19:00] gvelez17 commented on #948
hm @msporny I'm not sure making it more restrictive answers the concerns I would have as a new developer.

I may be missing large chunks of "context" here but my take woudl be that having a few standard templates (think `create-react-app`) would go a long way without necessarily laying down restrictions

If these defaults become widely used you could formalize them but it seems to me the thing nee

[2022-10-17 19:51] vdods opened #951 "About the optionality of the "kid" field in JWT-formatted VCs/VPs"
https://www.w3.org/TR/vc-data-model/#jwt-encoding shows:

I'd like some clarification on the optionality of the "kid" field.  My guess is that VCs/VPs are trying to be generic regarding issuers/holders, allowing for URIs, which precludes the possibility of giving any more details about how the "kid" field should be used.  Is that right?

I'm coming from a DID-centric ecosystem, and in that scenari

[2022-10-17 21:26] vdods commented on #951
Moved to: https://github.com/w3c/vc-jwt/issues/31

[2022-10-17 21:26] #951 closed

[2022-10-18 08:13] paulojorgeqferreira commented on #940
I did some additional research trying to find use cases and found additional approaches to the problem. I'm not familiar with the dynamics of w3c working groups and the relationship with the official recommendations. From the actual VCs data model, the suggestions below seem not aligned with One VC = One Issuer paradigm.

 - From the Modeling Educational Verifiable Credential draft report ([2021](

[2022-10-18 09:25] RieksJ commented on #940
@paulojorgeqferreira: while the first text claims a need for multiple issuers, their only argument is that a single issuer is being overly restrictive in some use-cases. The second text talks about some transcript being signed by multiple universities, which is not the same as needing VCs to have multiple issuers (you can put the transcript and its signatures in a single claim within a regular VC)

[2022-10-19 06:46] jan-forster-cognizone commented on #934
Dear @aljones15, many thanks for the files. At first glance, they seem quite small, but we will assess them further. Thank you again.

Best regards,
Jan Förster

[2022-10-19 08:58] nadalin commented on #929
Your reply assumes that IANA is not used, you do not need the context when you have a JWT as a VC and using a SD-JTW or JWT Proof. So your 3 points below are not valid at all.

From: Manu Sporny ***@***.***>
Sent: Tuesday, October 11, 2022 10:21 AM
To: w3c/vc-data-model ***@***.***>
Cc: Anthony Nadalin ***@***.***>; Mention ***@***.***>
Subject: Re: [w3c/vc-data-model] Tracking Issue from TPAC: Wh

[2022-10-19 09:33] David-Chadwick commented on #929
@nadalin "_Your reply assumes that IANA is not used_"
This is correct. `@context` is there precisely so that IANA is not needed.

[2022-10-19 10:03] nadalin commented on #929
Since JWT already uses IANA we don't need to burden the implementations that use JWT to have to implement context as it adds zero value other than complexity

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: David Chadwick ***@***.***>
Sent: Wednesday, October 19, 2022 11:33:18 AM
To: w3c/vc-data-model ***@***.***>
Cc: Anthony Nadalin ***@***.***>; Mention ***

[2022-10-19 15:21] dmitrizagidulin opened #952 "Proposal: Chaining VCs via links and digests"
(Extracted from issue https://github.com/w3c/vc-data-model/issues/831, which proposed two properties, `digestMultibase` and `anchoredResource`.)

### Motivation
1. Provide a mechanism with which to link multiple VCs together (as peers or as parent/child relationships).
2. Provide examples of a general purpose content hash mechanism (useful for linking VCs, but also for linking to external images,

[2022-10-19 15:23] dmitrizagidulin commented on #831
In the 2022-08-24 meeting, it was suggested that the two proposals in this issue should be extracted to separate issues.
These will be:

1. `digestMultibase` standalone proposal - issue https://github.com/w3c/vc-data-model/issues/952
2. `anchoredResource` standalone proposal - tbd

[2022-10-19 15:43] msporny commented on #709
We discussed this on the call today. It was suggested that we split this issue into two more focused issues as @OR13 has pointed out here https://github.com/w3c/vc-data-model/issues/709#issuecomment-1218401700 .

[2022-10-19 15:44] OR13 commented on #948
I'm a -1 to "developer contexts".... thats what community groups are for.

I'm also a -1 to requiring specific URLs, because it sets a precedent that is counter to developer expectations with respect to inlining and conversion to RDF without the need to either:

1. bundle large context files into every application that consumes them
2. make network requests to resolve contexts you have not bundled

[2022-10-19 15:50] OR13 commented on #762
PROPOSAL: Define a JSON Schema for credential subject that makes it clear, it MUST be either an Array or Object.

[2022-10-19 15:53] msporny commented on #862
I will raise a PR to address this issue.

[2022-10-19 16:10] iherman commented on #762
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-10-19-vcwg#section3-3) on 2022-10-19

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 3.3. Can a credentialSubject be only a string value? (issue vc-data-model#762)

_See github issue [vc-data-model#762](https://github.com/w3c/vc-data-model/issues/762)._

**Manu Spor

[2022-10-19 16:10] iherman commented on #839
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-10-19-vcwg#section3-5) on 2022-10-19

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 3.5. PresentationSchema for VPs (issue vc-data-model#839)

_See github issue [vc-data-model#839](https://github.com/w3c/vc-data-model/issues/839)._

**David Chadwick:** I haven't lo

[2022-10-19 16:10] iherman commented on #862
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-10-19-vcwg#section3-4) on 2022-10-19

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 3.4. [Tracking Issue - Proposed Corrections Feedback] URL to URI (issue vc-data-model#862)

_See github issue [vc-data-model#862](https://github.com/w3c/vc-data-model/issues/862)._

[2022-10-19 16:10] iherman commented on #947
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-10-19-vcwg#section3-1) on 2022-10-19

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 3.1. followup of the TPAC discussion on JSON/JSON-LD.

**Manu Sporny:** original issue has come from TPAC, but it seemed as if there were two separate issues..

_See github issue [v

[2022-10-19 16:10] iherman commented on #948
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-10-19-vcwg#section3-1) on 2022-10-19

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 3.1. followup of the TPAC discussion on JSON/JSON-LD.

**Manu Sporny:** original issue has come from TPAC, but it seemed as if there were two separate issues..

_See github issue [v

[2022-10-19 16:25] nadalin commented on #709
Please leave this open.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Manu Sporny ***@***.***>
Sent: Wednesday, October 19, 2022 5:44:10 PM
To: w3c/vc-data-model ***@***.***>
Cc: Anthony Nadalin ***@***.***>; Mention ***@***.***>
Subject: Re: [w3c/vc-data-model] Implementation Issues and under specification (#709)

We discussed this on the call today. It w

[2022-10-19 17:08] selfissued commented on #947
I'm obviously in favor of making `@context` optional to make lives easier for developers who don't need JSON-LD, being the author of the comment https://github.com/w3c/vc-data-model/issues/929#issuecomment-1267697526 that is the basis of this issue.

[2022-10-19 17:14] selfissued commented on #948
(Adding a comment so that I'm notified of discussion on this issue)

[2022-10-19 17:42] OR13 opened #953 "Add `@vocab` for `private claims` in `/credentials/v2` `@context`"
PROPOSAL: Add an `@vocab` to the `/credentials/v2` `@context`.

Reasoning:

We (as editors of the did spec registries, and reviewers of various VC-JWT implementations) have seen a consistent failure to leverage `@context` properly in DID Core and Verifiable Credentials... due to the "term not defined in the context" issue.

The problem is not that "people don't want to define semantics"... its the

[2022-10-19 17:48] OR13 commented on #953
Related issues:

- https://github.com/w3c/vc-data-model/issues/948
- https://github.com/w3c/vc-data-model/issues/935
- https://github.com/w3c/vc-data-model/issues/753

[2022-10-19 18:41] dlongley commented on #947
@selfissued,

If that is the goal, it sounds like it might be solvable in other ways which is the discussion in #948. Being specific about what is difficult should also be raised in that other issue so it can be more adequately discussed / addressed.

[2022-10-19 18:50] selfissued commented on #953
Orie's reasoning makes sense to me.

[2022-10-19 19:13] dmitrizagidulin commented on #953
:+1: from me, I agree with this reasoning.

[2022-10-19 19:30] nadalin commented on #948
I'm against adding anything over and above JWT processing, so a big -1 to this approach

[2022-10-19 19:47] dlongley commented on #948
@OR13,

I don't think this should be a "developer context", but rather one that clearly signals that you are opting into using undefined / ambiguous terms. We can come up with some name for it that is amenable to all.

I'm in agreement that we should help developers by having a context that defines an "undefined" `@vocab`, but we should not harm developers that do not want to use it by putting it

[2022-10-19 20:17] mprorock commented on #953
Very big fan of this!

[2022-10-19 20:26] mkhraisha commented on #953
Big +1 from me.

[2022-10-19 20:26] tplooker commented on #953
Strong support for this, for the reasons highlighted by @OR13

[2022-10-19 20:28] dlongley commented on #948
@nadalin,

I have to say that this doesn't make any sense to me. JWT is already a standard, so I would expect someone to just go use JWT if that's exactly what they want -- rather than trying to make VCs become the same thing with a different name.

[2022-10-19 20:41] David-Chadwick commented on #948
A bit of history might help. X.500 defined the schema for directory entries, so that every entry was well formed and software could check that the attributes that were present in an entry were allowed to be present. But developers (and administrators) got frustrated that they had to be continually changing the schema when they wanted to add a new attribute to a directory entry. So the unregistered

[2022-10-19 20:48] dlongley commented on #948
@David-Chadwick,

Yes, and this is a good reason to separate this feature into its own context so that people can opt into using it rather than making it in core -- where everyone has to use it. I think it's a good compromise for this group to specify that context (and its URL) so that everyone who chooses that approach does it the same way and it's easily detectable.

[2022-10-19 21:26] msporny commented on #948
@nadalin @Sakurann @selfissued:
[code]

[2022-10-19 21:31] David-Chadwick commented on #953
One question to Orie. Say Issuer 1 in the UK creates a credential of the type you suggest, but uses a specific property of "value":"20" instead of "claimName":"claimValue". Then you in the US produce a similar credential with "value":"20", and someone in Japan does a similar thing. A verifier is likely to think that all of these VC are the same, whereas in fact each issuer, oblivious of the other

[2022-10-19 22:48] gkellogg commented on #953
You might consider setting the default vocabulary to be document relative. https://www.w3.org/TR/json-ld11/#document-relative-vocabulary-mapping

This has the advantage of not having two documents use equivalent term forms and have them be semantically confused with each other.

[2022-10-19 22:52] mark-moir commented on #895
@SmithSamuelM  Hi, is there any recording or slideset available for this presentation?  Thanks.

[2022-10-19 23:37] brentzundel commented on #895
@mark-moir
Minutes are here: https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-09-15-vcwg#section11
slides are here: https://docs.google.com/presentation/d/1hrqozY2EGZ8i8y40abyEuJmIb6hCiRS-37pdj6bhBLY/edit#slide=id.g1482ccb90af_0_100

[2022-10-20 00:31] decentralgabe commented on #953
This seems to lower the barrier to 'compliant' LD, which I'm all in favor of!

My ignorance makes me wonder how is this any different than what is possible today? Couldn't the existing `@context` field be used to inline references? Or just adding an additional context URI that defines additional terms? Where in the spec is adding a `@vocab` prohibited?

[2022-10-20 01:49] dlongley commented on #953
For the reasons stated over here:

https://github.com/w3c/vc-data-model/issues/948#issuecomment-1284494429
https://github.com/w3c/vc-data-model/issues/948#issuecomment-1284549268
https://github.com/w3c/vc-data-model/issues/948#issuecomment-1284556691

There's a better solution -- which is to create another standard context anyone can use that includes `@vocab` that avoids the problems above and st

[2022-10-20 04:17] talltree commented on #947
I have not had the bandwidth to more fully participate in this WG, however since this particular issue received many months of discussion in the W3C DID WG — where it was ultimately decided that @context would not be required in the plain JSON representation of a DID document — I wanted to share some of those learnings here.

Although I am not a developer myself, in my discussions over the past fe

[2022-10-20 04:59] mfosterio commented on #953
👍 I'm on board with this because it opens more doors and flexibility for federated queries  with SPARQL and graph methodology for Cypher, GQL, and Labeled Property Graphs similar to RDF*(Star). There needs to be more features in VCs to increase adoption for new developers to have flexibility and overcome walled gardens and still meet requirements of the spec so we can build a more verifiable open

[2022-10-20 07:08] peacekeeper commented on #953
Maybe we should consider a slight variation of this where we use `@vocab` only in scoped contexts inside some of the properties, not for the whole document. Specifically, for the values of `credentialSubject` and `@type`, since here we really expect everyone to come up with their own custom terms. Maybe also for `issuer` if that is an object where people use custom terms.

Outside of those, especi

[2022-10-20 08:07] nadalin commented on #948
@manu as long as it is still OPTIONAL and only meant to be compatible w/JSON-LD

[2022-10-20 08:18] bumblefudge commented on #953
Thanks again to @vongohren for putting forth questions to tease out the ergonomics of proposed solutions.

This is a meta-question that I think deserves a separate tracking issue. Whatever functional solution is decided on by the group, the WG would do well to explain it thoroughly in non-normative text and implementation guidance, I would think! A good solution insufficiently documented might be

[2022-10-20 08:18] bumblefudge commented on #953
I also think Markus' suggestion of scoping laxity just to credentialSubject is an interesting one, although I wonder how many people are using undefined props outside of `credSubj` in the wild?).

Can anyone with LD experience speak to [Gregg's suggestion](https://github.com/w3c/vc-data-model/issues/953#issuecomment-1284650531) (which might have gotten lost in the mix) of using Base to change how

[2022-10-20 10:21] vongohren commented on #953
I support that we have to find a solution to giving some flexibility. But I also support the reasoning happening over here: https://github.com/w3c/vc-data-model/issues/948.

+1 to Markus suggestion of limiting it to credential subject, unless you want to have a VC development sanbox to test out new ideas that are being created. Such as holderBinding or rendering or whatever was cooked together dur

[2022-10-20 10:22] vongohren commented on #948
Im +1 for having a special context for opting in out on the JSON-LD. But I also feel that we should really have a clear message to the verifiers that this is not in global context, so handle the VC with care.

I hope these two issues will align on something: https://github.com/w3c/vc-data-model/issues/953

[2022-10-20 10:32] David-Chadwick commented on #953
@bumblefudge "_although I wonder how many people are using undefined props outside of credSubj in the wild_?"
The Open Badge 3 schema has several top level properties, which are defined, see
https://purl.imsglobal.org/spec/ob/v3p0/schema/json/ob_v3p0_achievementcredential_schema.json
But a less skilled developer might not define them properly

[2022-10-20 11:00] peacekeeper commented on #947
Yes, but I would add here that the goal of the DID WG was to support multiple representations that could be **losslessly converted**! Whether or not the DID WG succeeded in that, or how complex that process has become, is another story.

If the VC WG ends up deciding that additional representations (such as JSON without `@context`, ACDC, ISO mDL, Anoncreds, etc.) should all be supported by the VCD

[2022-10-20 11:13] peacekeeper commented on #947
That makes sense to me..

If someone wants to use plain JSON (without `@context`) as a data model, and use JWS for signing, why not just use good-old plain JWT/JWS/etc. which already exists, is mature, widely deployed, etc.?

What would a `VC-without-@context` actually look like, does anyone have an example?

[2022-10-20 14:59] dlongley commented on #953
@peacekeeper,

In my view, what we're trying to do here is give people an easy onramp to VCs where they don't have to absorb or understand everything all at once. So I think if we're going to give people (some who are struggling to create their own contexts) a common way to use `@vocab`, it would only add to their confusion when it only works on part of the VC. Therefore, I'm -1 to that idea.

@bu

[2022-10-20 15:13] dlongley commented on #947
I think that "saying there are a lot of other ways to do things out there in the wild" is not a good enough argument to make context optional -- it's an argument that will harm interoperability. Those other things "out there in the wild" aren't being standardized -- and if we say "you can pretty much do anything", then we're not standardizing anything here either.

[2022-10-20 15:41] msporny commented on #953
-1 (a very strong one), because it disables all undefined term error reporting for everyone in production, whether they want it disabled or not. It doesn't give a choice to implementers that want these sorts of errors to be caught by common tooling. There are implementers, such as ourselves, that want the common tooling to report errors, so that we can provide a better experience for our productio

[2022-10-20 15:43] mfosterio commented on #953
👍 I am for this, adding @vocab to the /credentials/v2 @context helps new comers create valid linked data by relying on the standards.

This will allow quicker adoption and prevent broken linked data. As certain developers learn more about the spec they can add more precise semantic purity as their knowledge and needs grow. This will help us broaden the community and create a larger Open Web Of Tru

[2022-10-20 17:30] talltree commented on #947
@dlongley Your comment goes to the very heart of the fundamental question for this WG: Is the goal of the W3C VC 2.0 standard to be:

1. The standard for JSON-LD-based digital credentials?
2. The standard for multiple representations of digital credentials?

If the former, then simply bite the bullet and require all W3C-conformant digital credentials to use JSON-LD, period. But recognize that mean

[2022-10-20 17:40] talltree commented on #947
@peacekeeper Lossless conversion of DID documents was possible because DID documents are not required to be digitally signed. VCs must be digitally signed. So that means lossless conversion is not an option with VCs (crypto engineers please correct me if I'm wrong).

However lossless conversion is not the only way to achieve semantic interoperability. The data in a a claim is still the data no mat

[2022-10-20 18:02] peacekeeper commented on #947
@talltree I think that's what I meant by "lossless conversion". Sorry if I didn't make it clear. Of course signatures and proofs only work on the original representation, but the question is whether or not it should be possible to map the actual claim data and semantics between representations.

[2022-10-20 20:11] msporny commented on #947
Defining multiple representations of the VC Data Model is not listed as "in scope" for the [Verifiable Credentials 2.0 Working Group Charter](https://www.w3.org/2022/06/verifiable-credentials-wg-charter.html).

[2022-10-20 20:12] TallTed commented on #953
@dlongley @msporny @mfosterio —

Each of you, please edit your most recent comment on #953, and put codefences around each instance of `@vocab` and/or `@context`. (Single backticks should do for all of these instances, i.e., ``` `@vocab` ``` or ``` `@context` ```.)

@msporny @dlongley — In your comments, the troublesome occurrences are within quote blocks.

@mfosterio — In your comment, the troubl

[2022-10-20 20:21] nadalin commented on #947
Neither is keeping only the exiting data model and there is no out of scope for multiple.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Manu Sporny ***@***.***>
Sent: Thursday, October 20, 2022 10:12:13 PM
To: w3c/vc-data-model ***@***.***>
Cc: Subscribed ***@***.***>
Subject: Re: [w3c/vc-data-model] Make the usage of ***@***.***` optional (Issue #947)

th

[2022-10-20 22:56] mprorock commented on #947
+1

Seriously opposed to making context optional.  There are other paths here that can preserve the semantics on a VC / VP while allowing for easier developer onboarding etc.  Notably [953](https://github.com/w3c/vc-data-model/issues/953)  would simplify the developer side, while ensuring that we keep semantics at the core data model level

[2022-10-21 00:15] tplooker commented on #953
The problem is that this proposal requires developers to explicitly bring in a second context in order to use this default terms feature. I'm a -1 for it being a seperate context that has to resolved, managed and educated upon by the community, `@vocab` needs to be in the core v2 context.

No it doesn't you could quite easily write an expansion map that

a) warns or errors on term expansion that i

[2022-10-21 00:24] talltree commented on #947
@mprorock I certainly understand your perspective — and that of many other members of the WG — that JSON-LD (and its underlying RDF graph model) is a fundamental component of the W3C VC standard and should not be compromised in any way.

I also understand the perspective of other members of the WG who feel that the W3C VC standard should support a plain JSON representation that does not use either

[2022-10-21 07:15] melvincarvalho commented on #947
@dlongley It might be helpful if you could elaborate on the issue with interop.  More than one way of doing *what*?

Given that `@context` in this spec is designed to be an immutable blob that never changes, and downloaded and cached, in, say, the parser.  What is its function?

Does it, for example, identify the thing you are parsing as a verifiable claim, in cases where the parser didnt know tha

[2022-10-21 08:32] David-Chadwick commented on #947
@talltree "_because they wish to use other solutions to semantic interoperability such as JSON Schema."_ I do not see using JSON schema, whilst keeping a nominal `@context` property, are incompatible. They serve different purposes and both can work together. The solution to have the equivalent of an 'unregistered context' present for those who do not wish to process JSON-LD seems to be a perfect c

[2022-10-21 10:02] peacekeeper commented on #947
I have to say, if I look at the example in https://github.com/w3c/vc-data-model/issues/947#issuecomment-1285489434, to me this looks like a good old JWT, not like a VC.

This example doesn't have the `issuer` and `issuanceDate` VC properties; instead it has the JWT equivalents.

It doesn't have a `@context`, and it doesn't have a `proof`, instead it does those things in JWT native ways.

Yes that

[2022-10-21 13:37] lrosenthol commented on #947
Most of this discussion about using `@context` seems to be around the base/default contexts - but that's not the point of having it.  The use case, IMO, is to provide the equivalent of namespacing for JSON(-LD) when adding additional/custom information, that may need to be processed/understood and/or validated downstream.

Without `@context`, I don't see a way to provide extensibility to a VC w/o

[2022-10-21 15:19] dlongley commented on #947
@melvincarvalho,

With respect to interoperability, it actually doesn't matter "what". Generally speaking, having more than one way to do something harms interoperability, so a good argument needs to be made that any optionality is worth it. Sometimes it is -- sometimes it isn't.

If `@context` becomes optional, then there are now two ways to do what it does -- which you were asking about. `@conte

[2022-10-21 15:37] dlongley commented on #953
@tplooker,

Having a pattern (which is already true today) that requires developers to bring in a second context to provide their VC-type-specific terms is consistent. I don't see it as harmful -- everyone needs to do this. The only question in v2, is whether the second context is the "undefined terms" context provided by the WG or a custom one provided (or otherwise selected) by the VC author. It

[2022-10-21 15:43] dlongley commented on #953
@vongohren,

To answer your first question:

IMO, the two camps started with:

1. No `@vocab` at all, semantic ambiguity is too dangerous / problematic.
2. Defining and hosting your own context is too much of a lift for some developers, so put `@vocab` into the core context.

So, the middle ground is already what has been proposed above:

"Ok, let's allow semantic ambiguity for developers that don

[2022-10-21 15:55] OR13 commented on #947
This is not true today, and it should not be true tomorrow.

You can't represent anything useful in v1.1. with only 1 context.... but that does not need to be true of 2.0.

[2022-10-21 15:58] dlongley commented on #947
@OR13,

To clarify, if you want to use idiomatic JSON, this is a requirement today. It is true that you can instead use full URLs for your JSON keys and type values otherwise.

[2022-10-21 16:02] OR13 commented on #947
Counter examples:

- [data integrity proof](https://api.did.actor/v/eJylkNFu2jAUht_FuyVgO0ASX7UUaAIrUChQmKbKOA4YQhJspyFUvPsckLZdb5JvjnX0f_93vsADSxPNzxqQH2CndaZIo1EURb2w66ncNjBEboNJHvJECxqrxicCP2tAhICAXCYkz0VI0MaBHnbbFoSIW02HuZaLI2w5zYhTx7aZ41BQA7rMeIVZcCkiQTcxf_odfAtVKufSBIcm88BLcmm_HLSYXU5973Aqwrm7OISd4bnV7q0u71G2TUaT-ePzJckEG4lllIB7Bk0Y71JtWMDUhxZE5r0hj2Cb4ObabP0RmuWbPWfG_uvuVKH5mR6zmBOEbXCtgUym

[2022-10-21 16:52] dlongley commented on #947
@OR13,

I don't think we need to continue discussing that you can make either useless, but legal VCs or non-idiomatic-JSON VCs in 1.1 when not adding a second context. That point has been readily conceded. However, I think that it's missing the forest for the trees. To make a useful or idiomatic-JSON VC in v1.1, you need a second context -- which is what mattered in my argument above.

[2022-10-21 17:07] OR13 commented on #947
You don't though... you can inline the second context.... and it's wise to do that in many cases where you don't know where processing will be done... because it has an impact on things like CORs, etc... There have been several long threads on this subject.

If the WG fails to include a vocabulary in the core context, expect everyone to recommend doing this:

https://github.com/OR13/did-jwk/blob/m

[2022-10-21 17:20] David-Chadwick commented on #947
a much simpler solution is that every JSON-only implementor always includes just two `@context`s, that are defined in the v2 standard, namely the v2 standard context and the 'unregistered' context which contains the`@vocab`.

[2022-10-21 17:25] dlongley commented on #947
@OR13,

I don't think your comment stands in contrast to mine... I added emphasis below:

It's a different argument to talk about inline vs. context referenced by URL, regardless, a second context is needed, which is what mattered in my argument above.

The rest of your comments -- please take to issue #953 because I think that's where that discussion is happening.

[2022-10-21 17:26] dlongley commented on #947
@David-Chadwick,

I agree with your last comment, but please make it in #953 because that's where that discussion is happening.

[2022-10-21 17:39] David-Chadwick commented on #953
@dlongley . I agree. The simplest solution is that every JSON-only implementor always includes just two `@context`s in every VC they issue, and these are defined in the v2 standard, namely: the v2 standard context and the 'unregistered' context which contains the `@vocab`.

[2022-10-21 18:46] melvincarvalho commented on #953
@OR13 nice idea of how to use unregistered JSON terms in JSON-LD

but it gets messy for a few reasons

- how do you catch terms which are errors?
- it introduces an http vocab which might now play well with pure dweb systems
- the http vocab might not contain the given term
- if lots of specs use this pattern, we'll have lots of different base vocabs clashing
- best practice document says to use t

[2022-10-22 10:45] nadalin commented on #953
-1 very bad idea as now parser has to change even more than before, I bet there will be far more implementations of pure JSON.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: David Chadwick ***@***.***>
Sent: Friday, October 21, 2022 7:39:28 PM
To: w3c/vc-data-model ***@***.***>
Cc: Subscribed ***@***.***>
Subject: Re: [w3c/vc-data-model] In support of addin

[2022-10-22 13:47] msporny commented on #843
This was done in https://github.com/w3c/vc-data-model/commit/d82b52a889df934300451ce922ee78b83407162e. Closing as resolved.

[2022-10-22 13:47] #843 closed

[2022-10-22 13:49] msporny commented on #248
The Verifiable Credential "name" and "description" properties were added in https://github.com/w3c/vc-data-model/commit/d82b52a889df934300451ce922ee78b83407162e. Closing as resolved.

[2022-10-22 13:49] #248 closed

[2022-10-22 13:57] msporny commented on #731
The `nonTransferable` example has now moved to the Implementation Guide. It does not seem as if we will achieve consensus for adding this property in the base vc/v2 context. There is a newer, more specific proposal for handling "credential delegation" in #930.

For those reasons, I'm marking this issue as pending close in 7 days unless there are objections. If there are objections, please provide

[2022-10-22 14:04] msporny commented on #753
This is now a duplicate of #953, closing in favor of the newer issue which is where it seems the discussion has moved to.

[2022-10-22 14:04] #753 closed

[2022-10-22 14:09] msporny commented on #756
`proofPurpose` is now handled by the [Data Integrity](https://w3c.github.io/vc-data-integrity/#proof-purposes) spec, which includes the proof purposes requested in the initial issue AND does not limit the addition of new proof purposes.

Marking this issue as pending close in 7 days unless there are objections.

[2022-10-22 14:20] msporny commented on #758
In an attempt to resolve this issue once and for all:

PROPOSAL: Update the location of the Verifiable Credentials Vocabulary files to https://www.w3.org/ns/vc and redirect the old Vocabulary URLs to the new location.

PROPOSAL: Place the new JSON-LD v2 Context at https://www.w3.org/ns/vc/v2.

(controversial) PROPOSAL: Move the old JSON-LD v1 Context to https://www.w3.org/ns/vc/v1 and redirect the

[2022-10-22 14:28] David-Chadwick commented on #731
The discussion in https://github.com/w3c/vc-data-model/issues/930 is not a replacement for this issue as it is a much broader discussion about delegation, and this issue is not.
This issue was raised because some plastic cards today (which are statements as Jo says) have the "not transferrable" property stamped on them. So this proposed VC property is simply a way of digitising today's physical pr

[2022-10-22 14:32] msporny commented on #762
The specification currently states that [`credentialSubject` is a set of objects](https://www.w3.org/TR/vc-data-model/#credential-subject). It says nothing about strings, so the spec is fairly clear on this point, but could be more clear.

A PR that provides a JSON Schema for a Verifiable Credential that makes this more clear would be helpful, and that is being handled in #934.

To resolve this is

[2022-10-22 14:39] msporny commented on #764
These links now exist: https://w3c.github.io/vc-data-model/vocab/credentials/v2/vocabulary.html#credentialStatus

We just need to update the vocabulary redirects to point to the new locations. This issue is ready for a PR that updates the vocabulary URLs to the updated VC vocabulary. Assigning to @iherman since he will be the one to do that once we have approval from the VCWG.

[2022-10-22 14:41] msporny commented on #778
Listing specific Data Integrity cryptosuites have been removed from the v2 context and are going to be replaced with `DataIntegrityProof`. This issue is no longer relevant since the v2 context will not specifically list `RsaSignature2018`. Marking as pending close.

[2022-10-22 14:46] msporny commented on #779
Related to https://github.com/w3c/vc-data-model/issues/948#issuecomment-1275058744, which would make expanded form VCs illegal.

[2022-10-22 14:50] msporny commented on #901
This is being addressed by PR #943.

[2022-10-22 14:53] msporny commented on #912
We need to add a normative reference to the Data Integrity specification from the VC Data Model specification. This issue is ready for a PR.

[2022-10-22 14:57] msporny commented on #925
Good catch. Yes, please submit a PR to fix this @richardbergquist!

[2022-10-22 15:00] msporny commented on #928
This issue is related to this RWOT11 [pre-reading paper](https://github.com/WebOfTrustInfo/rwot11-the-hague/blob/master/advance-readings/rendering-verifiable-credentials.md) and this [draft paper](https://github.com/WebOfTrustInfo/rwot11-the-hague/blob/master/draft-documents/rendering-vcs-snapshot-9-27-22.md).

[2022-10-22 15:09] msporny commented on #944
This is related to issue #758.

[2022-10-22 17:25] msporny commented on #953
@tplooker wrote:

As @dlongley [noted](https://github.com/w3c/vc-data-model/issues/953#issuecomment-1287139931), this presumes the JSON-LD implementation has such a facility available to the developer (most don't). This also ignores the "works with common JSON-LD tooling", as you're talking about writing something that goes above and beyond regular JSON-LD tooling. Yes, we can do that, but it adds

[2022-10-22 18:02] OR13 commented on #953
[code]

[2022-10-23 08:52] kdenhartog commented on #762
I believe the test cases for this would need to be updated to. The way this came up was that the BBS+ signature suite was outputting a string when the frame was done improperly so I wasn't certain if that should be an error case or not. When I looked into the test cases and other implementations it wasn't very clear what the acceptable behavior hence the question.

[2022-10-24 12:48] dhh1128 commented on #947
I am totally okay with the comment that @peacekeeper made about letting VCs be VCs -- but this seems at odds with the big tent strategy that I heard @brentzundel espouse as the preferred agenda for VC 2.0. We can't have it both ways -- big tent and `@context`. So I guess I'm agreeing with @talltree 's comment about coming to a Great Divide.

[2022-10-24 13:49] msporny commented on #947
@talltree's binary proposal is a false choice; the premise is rejected. There are options being discussed in #948 and #953 that are more reasonable compromises. Variations of those proposals would:

1. Enable JSON-only developers to digitally sign w/ VC-JWT, not have to create any JSON-LD Contexts, and perform zero JSON-LD processing. The downside being that what terms mean will have to be communi

[2022-10-24 13:59] talltree commented on #947
@msporny: given that I'm not a developer, can you explain to me in layman's terms what problem it solves for a plain JSON document that **doesn't** use JSON-LD to include an `@context` statement? The feedback I hear constantly is that, while it technically "doesn't hurt" the document because you can still apply JSON-only processing, at the same time doesn't make any sense — it feels wrong to devel

[2022-10-24 14:02] msporny commented on #953
Are you changing  [your original proposal](https://github.com/w3c/vc-data-model/issues/953#issue-1415360893), @OR13?

You had asserted that we would put "known terms" and "private claims" in the same namespace [in your original proposal](https://github.com/w3c/vc-data-model/issues/953#issue-1415360893). Now you seem to be asserting that they'd go in different namespaces, which is better, IMHO. Thi

[2022-10-24 14:32] OR13 commented on #953
@msporny This issue is about adding a `@vocab` to the v2 context.

If the only difference in n-quads are "IRIs".... that isn't a security issue, it's an information representation issue.

You can argue, and I will concede that adding additional contexts, might improve the information... and you are free to do that, by adding an additional context.

The point here is, the WG can make the v2 context

[2022-10-24 14:34] talltree commented on #947
@OR13, you didn't answer my question: why is it so important for a non-JSON-LD document to include an `@context` statement if does not actually use JSON-LD?

[2022-10-24 14:37] OR13 commented on #947
What do you think a JSON-LD document looks like?

To me, it looks like a JSON Document with an `@context`....

As I said at TPAC, and on pretty much every call I have ever been on, the Verifiable Credentials Data Model is over JSON-LD... not JSON.... The folks who want it to be over vanilla JSON have plenty of options that work today... why are those options not working for the use case of "signin

[2022-10-24 15:02] OR13 commented on #756
https://github.com/w3c/vc-data-model/blob/main/contexts/credentials/v2#L109

I'm going to close this, since I opened it.

[2022-10-24 15:02] #756 closed

[2022-10-24 15:04] dhh1128 commented on #947
That might be what it *looks* like, but that's not actually what it is. It must be JSON that matches certain documented but non-obvious constraints that the JSON developer has to discover (often, by trial and error) and accommodate and test in her/his code. Some come from the VC data model and the terms that its base context defines/requires. Others come from JSON-LD practicalities (e.g., the fact

[2022-10-24 15:12] talltree commented on #947
So @OR13, please understand, I'm not pushing back against JSON-LD. I totally get all the reasons for using it. The reason I'm bringing up "the Great Divide" is that there are members of the WG that do not plan to use JSON-LD and to them it looks like the message is, "You should go elsewhere." If that's the case, then all I'm suggesting is that the WG should recognize that fact and make an explicit

[2022-10-24 15:13] OR13 commented on #947
Actually, this is exactly what a JSON-LD Document is... speaking from a position of a painful amount of experience on this subject...

I add an `@context` to a JSON Document... to make it a JSON-LD Document.... and leverage the properties that come with that... such as graph translations / querying....

I remove an `@context` from a JSON document when I want to destroy the ability to leverage the

[2022-10-24 15:27] OR13 commented on #947
I'm not sure this framing is generous enough for my taste : )

Telling people to follow the standard as it is written today where `@context` is required, is not the same as telling people to go elsewhere.

Pointing out that there are existing standards that support what people are asking for that are outside of the W3C, is not the same as telling them to go away, its the correct response to an att

[2022-10-24 15:29] msporny commented on #953
The details matter, and that's what I'm trying to get clarity on. There are two important details that have changed [in your most recent](https://github.com/w3c/vc-data-model/issues/953#issuecomment-1287870831) comment, namely:

* The base URL that is used for `@vocab` changed in a way that is better than your original proposal.
* You introduced a new concept, which is to put JsonWebSignature2020

[2022-10-24 15:33] stenreijers commented on #947
Zero-knowledge based Verifiable Credentials (ZK based VCs) must be part of this discussion in my opinion, as they may be the most dominant use-case of VCs in the years that come, in line with the eIDAS 2.0 guidelines from the European Commission that state that the privacy of the holder is a very important topic.

In the context of ZK based VCs, there is a big problem that it requires solving and

[2022-10-24 15:41] OR13 commented on #947
You can do zero-knowledge proofs over JSON with arbitrary members... JWP for example, operates on JSON... not JSON-LD.

IMO, IETF is the right place to apply ZKPs to JSON, and JWP specifically.

I'm actually a huge fan of securing JSON-LD using boring JSON related standards, such as JWP, SD-JWT, JWS, JWT and JWE :)

[2022-10-24 15:44] OR13 commented on #953
This issue is just about:

The other stuff is just arguments showing why.... would you like me to close this issue and open another one so that folks don't get confused?

[2022-10-24 15:50] stenreijers commented on #947
@OR13
All I am trying to say is that JSON-LD is not the problem here, the problem some/most of the community is focussing on is: how to formalize zero-knowledge proofs and their corresponding anonymous credentials in easy to read specifications regrading and corresponding proof formats. Although I believe in the same semantic web vision, just forcing JSON-LD into the specification at all cost may

[2022-10-24 15:57] msporny commented on #953
It's your call. As an alternative, you could:

* Retitle the issue to "Add `@vocab` for private claims in `/credentials/v2 context`
* Use <strike>strike</strike> to modify parts of [your original proposal](https://github.com/w3c/vc-data-model/issues/953#issue-1415360893) in the first comment and (editorially) note the switch to the new private claims context.

The above would probably address the

[2022-10-24 16:02] msporny commented on #947
That was the strategic choice we made in the DID Core specification, and in hindsight, there are a non-trivial number of us that felt that move was a huge mistake that wasted a large chunk of the DID WGs time. It did not result in the outcomes that people were hoping for and made the specification many times more complex than it needed to be. We've run that experiment, and it was a failure. What's

[2022-10-24 16:02] OR13 commented on #947
Agreed, how JSON-LD is supported will cause adoptability issues for JSON-LD.

Details matter here a lot, there are other issues focusing on how we can improve things, without making context optional.

I don't think making things optional helps with interoperability.

Is this case, making `context` optional will 100% destroy interoperability we are aiming at... which is semantic interoperability.

[2022-10-24 16:09] dlongley commented on #953
@OR13,

First, let me say, I'm primarily interested in choosing "the best answer" here -- where that's defined by maximizing the "efficiency" where everyone is getting what they want without other people having to be overly burdened. Short of that, the answer will come down to priorities based on who we think is better able to shoulder any "inefficiency burdens".

Well, I suspect there is a disagr

[2022-10-24 16:26] talltree commented on #947
@David-Chadwick I'm afraid you've lost me completely. If an issuer intends to issue a JSON-LD-based credential, then of course the issuer would include the necessary `@context `statements. By why would an issuer who intends to issue a plain JSON credential (that does use JSON-LD) benefit in any way from adding `@context `statements? Isn't the opposite actually true: that verifiers would benefit fr

[2022-10-24 16:27] stenreijers commented on #947
Perhaps a hybrid solution as your suggestion in #953 makes sense. Instead of making "@context" optional, leave the choice to the implementator but at least give him a way out would be the suggestion. This could indeed be done by something that makes a default vocabulary possible for develops to still produce a valid LD document for the libraries that actually process the VC using JSON-LD.

[2022-10-24 16:30] OR13 commented on #953
You are a JSON-LD expert, so it seems easy to think in JSON-LD terms.

Most users of verifiable credentials are not JSON-LD experts, but they can benefit from JSON-LD if we do our job right.

In my opinion, the best job we can do is letting them copy paste JSON and add terms that they think they need... and still be able to process their new data using graph libraries.

Regarding specific question

[2022-10-24 16:40] David-Chadwick commented on #947
Footnote. There will be orders of magnitude more verifiers and wallets than issuers. The aim should be to reduce the burden of verifiers, not increase it. By issuing a VC that all verifiers can process reduces their burden

[2022-10-24 17:22] dlongley commented on #953
@OR13,

What did the burden, to a library author, of having to resolve two different URLs or compare two different values in an array (vs. just 1 each) have to do with JSON-LD? I could easily have constructed this JSON-LD-less library-writing scenario, where either I have to look for and resolve 1 URL or two:

[code]

[code]

While I agree with this statement, I think we need to better define "use

[2022-10-24 17:30] TallTed commented on #758
I think encouraging use of the terms in this vocabulary/ontology for all credentials, unverifiable as well as verifiable, would be a goodness, especially if people act on that encouragement.  Primarily for this reason, I'd rather `credentials` than `vc`, and would be fine with `creds` if a shorter string is more desirable than the technically incorrect lexical english interpretation.

[2022-10-24 17:47] TallTed commented on #731
Today's plastic cards are typically stamped "not transferrable" as a legal CYA maneuver by the issuers of those plastic cards, as shorthand for reminding the issuee that they cannot change the party responsible for the charges made on the associated credit line granted by the issuer, related to the requirement (by the card issuers) that selling parties accepting the plastic-based payment cannot as

[2022-10-24 18:39] TallTed commented on #947
@dhh1128 -- Please edit your https://github.com/w3c/vc-data-model/issues/947#issuecomment-1289177405 and put code fences around the unfenced `@context` instances in the second and fourth paragraphs.  Single backticks should suffice, as ``` `@context` ```.

[2022-10-24 18:48] gkellogg commented on #953
The problem with this is, even though you use `/private#`, two claims that both use something like "foo" would result in using the same term and could create correlations that are probably unintended `https://www.w3.org/ns/credentials/claims/private#foo`.

Elsewhere, I suggested using the document base as the default vocabulary, using something like `"@vocab": "#"` (defined in [Using the Document

[2022-10-24 18:49] TallTed commented on #947
Anyone who's both here and involved with the eIDAS 2.0 (and/or related) guidelines should please let them know that privacy of the *holder* (who/which just possesses the VC at some point in time) should be less their concern than privacy of the *subject* (about whom/which the statements in the VC are made).

[2022-10-24 18:59] peacekeeper commented on #953
Semantically, maybe the base and therefore the default `@vocab` should be the issuer's `id`, since the meaning of the claims is really determined by the issuer. But I'm not sure if there's an easy way to specify it like that in JSON-LD.

[2022-10-24 19:10] TallTed commented on #947
@stenreijers — Please edit your https://github.com/w3c/vc-data-model/issues/947#issuecomment-1289288005 and put code fences around the unfenced instances of `@vocab` and `@context`, as ``` `@vocab` ``` and ``` `@context` ```. Single-backticks will suffice in this case. Neither single nor double quotation marks serve the purpose. Failing to wrap `@`entities in code fences means those GitHub users w

[2022-10-24 19:33] stenreijers commented on #947
Indeed the privacy of the _subject_ is important, but typically the value of these statements are revealed to the verifier in plain text. So this is not always the case where privacy matters the most. In fact, the privacy of the actual _holder_ matters when a presentation is created and we should prevent that multiple presentations are linked to the same _holder_. Here, zero-knowledge proofs play

[2022-10-24 21:04] richardbergquist commented on #925
Thanks. PR submitted: https://github.com/w3c/vc-data-model/pull/955

[2022-10-24 22:14] mark-moir commented on #950
I agree that a) it must be clear whether the data is required to conform with *all* schemas or if just one is sufficient, and b) that the natural choice is "all".  In case more flexibility is required for a particular use case, this could be achieved using, for example, [Schema Composition](https://json-schema.org/understanding-json-schema/reference/combining.html) if the schema type is `JSONSchem

[2022-10-24 22:56] talltree commented on #947
@David-Chadwick Thank you, your explanation was very helpful. If I understand correctly, what you are describing is an approach that can be called "JSON-LD enveloping". If I have it right, this approach means an issuer would:

1. Start with a valid JSON-LD instance of a basic VC (so that JSON-LD validation could be run against the default JSON-LD context).
2. Add a second JSON-LD context statement

[2022-10-24 23:10] decentralgabe commented on #731
I keep seeing this line of reasoning in the working group and it always leaves me a little confused. Is an `expirationDate` an enforcement mechanism? What about a `credentialStatus`, or any other field? The point of the data model, and the specifications, are to define known and agreed upon terms and how they are to be interpreted. If we aren't creating enforcement mechanisms, what are we doing?

[2022-10-24 23:29] decentralgabe commented on #947
I am heartened by this conversation, which, over the past few years seems the most pragmatic in settling _the great divide_.

I agree with @talltree's analysis, specifically..

This is quite similar to what @selfissued mentioned (and I +1'd) stating that (heavily paraphrasing) **there are already two data models: broken, non-compliant LD because we have to include a context property, and LD**.

Th

[2022-10-24 23:49] talltree commented on #947
+1. CBOR for sure, given that's already the "native" format for ISO mDL, and also favored by the EU.

[2022-10-24 23:52] mark-moir opened #956 "Protecting integrity of `@context`"
[Section 8.2](https://w3c.github.io/vc-data-model/#content-integrity-protection) (Content Integrity Protection) highlights the dangers of depending on remote content that is not content-integrity protected, and suggests that developers use schemes such as [Cryptographic Hyperlinks](https://datatracker.ietf.org/doc/draft-sporny-hashlink/) or [IPFS](https://en.wikipedia.org/wiki/InterPlanetary_File_

[2022-10-25 01:37] msporny commented on #947
@decentralgabe wrote:

"Figure it out if we need to" sounds like quite a reckless way to proceed. "Let's have a registry" does not provide any details on one of the key questions of how decentralized extensibility will be supported without the `@context` mechanism.

In order for the group to rally behind a plan, there needs to be a plan. What is the plan to make `@context` optional. How are you go

[2022-10-25 07:48] RieksJ opened #957 ""Subject of a VC" does not exist"
In the VCDM, the term 'subject' is only **defined** in relation to claims, not in relation to credentials. Since a VC is a (non-empty) collection of claims, the phrase "subject of a VC" is generally indeterminate - it only makes sense if the VC contains a single claim.

I have witnessed many discussions in which people have assumed that every VC does have a subject, and it causes lots of confusion

[2022-10-25 08:09] David-Chadwick commented on #947
@talltree said "_So under this model, all verifiers would perform JSON-LD processing on a W3C VC_"
I don't think that is correct. Lets be clear about one thing. We are only talking about issuers who don't want to do JSON-LD processing on the VCs they issue. If all issuer's issue VCs with correct `@context`s then neither wallets nor verifiers need to do any JSON-LD processing because the `type`, `@

[2022-10-25 08:10] stenreijers commented on #947
@msporny said:

This is an interesting point you are trying to make, indirectly you argue that JSON-LD will provide a scalable way of giving thousands if not ten thousands of properties a meaningful vocabulary such that properties like (for example) `firstName` or `alumniOf` automatically have a meaning. Although I agree that JSON-LD already provides a vocabulary for a lot of properties, we have t

[2022-10-25 12:50] msporny commented on #947
This is already happening, and has been happening for a while now:

https://imsglobal.github.io/openbadges-specification/ob_v3p0.html

https://w3c-ccg.github.io/traceability-vocab/

https://w3c-ccg.github.io/citizenship-vocab/

https://json-ld.org/spec/latest/json-ld-api-best-practices/

https://w3c.github.io/vc-imp-guide/

There are market verticals that are adopting VCs and providing guidance. W

[2022-10-25 12:58] msporny commented on #947
@decentralgabe wrote:

JSON-LD formatted Verifiable Credentials can already be losslessly round-tripped to CBOR and back (via auto-translation to/from [CBOR-LD](https://docs.google.com/presentation/d/1ksh-gUdjJJwDpdleasvs9aRXEmeRvqhkVWqeitx5ZAE/edit)).

[YAML-LD](https://json-ld.github.io/yaml-ld/spec/) is currently being developed, which allows JSON-LD formatted VCs to be losslessly round-tripped

[2022-10-25 13:53] stenreijers commented on #947
@msporny
Agreed that some very nice to have features will disappear if we drop JSON-LD.

For the sake of argument, lets just say that we hypothetically drop `@context` from the VC specification. Let us just for a moment see how a new VC without JSON-LD could look like and what kind of new problems we would introduce by doing so...

If we drop `@context`, the least that we must do is the following:

[2022-10-25 13:57] OR13 commented on #953
@peacekeeper thats not how schema.org works, it doesn't use the base url of the website for terms, it uses schema.org for terms.

@gkellogg

Thank you for repeating this here!

The problem is that in a credential, the document base may not be defined, because `id` is optional... if `id` where required, your suggestion seems like a good one, assuming the syntax is possible.

[2022-10-25 14:04] dhh1128 commented on #947
Manu said:

ACDCs provide all of the things that you are enumerating here, Manu. There is schema formality and decentralized extensibility without a registry using autonomic namespaces, which are way more elegant. There is seamless transition between CBOR, JSON, and MsgPack -- with a single signature that is valid for all of them, meaning that anybody can render or transmit the credential in any o

[2022-10-25 14:33] OR13 commented on #947
If ACDCs, JWP and SD-JWT get published as IETF RFCs, they can be used to protect arbitrary data.

If W3C WG wants to define a mapping for JWP, SD-JWT or ACDCs to the W3C JSON-LD Verifiable Credentials model, that is for the working group to decide.

I don't think the working group will proceed well, in defining mappings if we allow both sides of the mapping to "be whatever we want'... folks are pr

[2022-10-25 15:02] dhh1128 commented on #947
Let me propose one other possible approach that might make @OR13 and some others happier:

* Decide that VC 2.0 is LD only. Rename it "VC-LD". We have JSON-LD and CBOR-LD; what's wrong with "VC-LD," especially if we are committed to LD-isms?
* Retain the stance that VC-LD is a standard, and encourage people to adopt it for that reason. However, stop dissing other approaches. Let them succeed or fa

[2022-10-25 16:04] stenreijers commented on #947
We are currently actively working on an Idemix Signature Suite in conformance with the [W3C Verifiable Credential Data Integrity v1.0](https://w3c.github.io/vc-data-integrity) specification. Such that Idemix proofs can be easily added as proof type in a VC that is conformant to the [Verifiable Credentials Data Model v2.0](https://w3c.github.io/vc-data-model). This new proof suite should allow for

[2022-10-25 17:34] OR13 commented on #947
I'm not sure this is a fair characterization of how standards work.

In JOSE, you sign JSON.
In COSE, you sign CBOR.

We don't accuse IETF of being a "little tent" for creating excellent interoperability between signing JSON or CBOR... by implementing standards that support securing JSON or CBOR.

If you want to secure arbitrary data that is JSON or CBOR... you should do that work at IETF, the JOS

[2022-10-25 18:02] OR13 commented on #953
A related issue we discussed on the traceability call today;

- https://github.com/w3c-ccg/traceability-vocab/issues/344

[2022-10-25 18:04] OR13 commented on #902
A related issue discussed on the traceability call today:

- https://github.com/w3c-ccg/traceability-vocab/issues/521

[2022-10-25 18:08] msporny commented on #947
@stenreijers wrote:

To be clear, Data Integrity does not require JSON-LD, JSON-LD Framing, or RDF Dataset Canonicalization. The cryptographic suite can use whatever transformation algorithm you want:

https://w3c.github.io/vc-data-integrity/#how-it-works

As Orie mentioned above, your rationale isn't resonating because of the reasons he highlights above.

With regard to [your proposal](https://gi

[2022-10-25 18:35] dmitrizagidulin commented on #947
As an implementer of both the JSON-LD and JWT VC serializations, and as someone who worked hard to convince the group in the VC 1.0 WG to make `@context` required, I'd like to weigh in here.

By now it's hopefully clear to the casual reader of this issue (and related issues https://github.com/w3c/vc-data-model/issues/948 and https://github.com/w3c/vc-data-model/issues/953), if the awe-some task of

[2022-10-25 19:01] dlongley commented on #947
Is the argument being made really "our precious electrons" (I did not think this was the case)? If so, I (and I expect many others) would consider that to be very far down on the priority list. In the case where payload size really matters, using CBOR-LD would make this a few bytes. Also, you would get *far better* compaction if you defined your terms, since you'd get semantic compression. IOW, I

[2022-10-25 19:02] dmitrizagidulin commented on #947
@dlongley the 'our precious electrons' is just a side effect. The argument is really that the two proposals ("lets require this base context" and "if a VC has no context, assume the base context") are functionally equivalent.

[2022-10-25 19:20] dmitrizagidulin commented on #947
@dlongley

Because nobody is complaining or arguing against the "VerifiableCredential" type. And so it remains a decent indication that this JSON object is a VC. (And before you say "That's content-sniffing!", so is looking at a `@context`. That's also content-sniffing.)

That's _one_ of the concerns. The other concern is quite literally, "we don't want to have to include a `@context` property".

[2022-10-25 19:27] dlongley commented on #947
@dmitrizagidulin,

No, actually, now people have to "be in the know" and write specific VC processing code to consume VC data. Even if I don't even read the VC spec today, I can absorb JSON-LD VC documents into a knowledge graph.

Think of it like this: We have a spectrum of JSON-LD data consumers. At one end, we have people who want to absorb any JSON-LD documents and build a knowledge graph. Thi

[2022-10-25 19:34] dmitrizagidulin commented on #947
@dlongley - yes, it puts a very small additional burden on JSON-LD processors. I feel that this is an acceptable trade-off (because the other option is to essentially lose the "we hate `@context`s" crowd).

I would further posit that the population of processors who want to do JUST json-ld processing, _without_ any VC-specific processing (such as verifying signature, validating expiration, etc) is

[2022-10-25 19:43] stenreijers commented on #947
@OR13 wrote:

`big tent` was a poor choice of words and I meant absolutely no disrespect to any other initiatives working on verifiable credentials. The contrary is true, I am aware of all the good work that is done to create a flourishing credential ecosystem on the web. I was referring to the fact that this specification aims to provide a standard way to express credentials on the Web in a way t

[2022-10-25 19:51] talltree commented on #947
@dmitrizagidulin Thank you for a very constructive proposal. If it can bridge the Great Divide, I am all for it.

I have participated in this (very lengthy) thread in large part because I personally (and Avast commercially) participate heavily in **both** JSON-LD and non-JSON-LD communities-of-practice.

Avast lives — and codes — on both sides of the Divide.

Since everyone seems to agree — no mat

[2022-10-25 20:06] dlongley commented on #947
@dmitrizagidulin,

No, there's still a misunderstanding here. We can't possibly expect people who write code to consume vanilla JSON-LD documents to read every spec looking for special rules that say which "default contexts" to add for certain types of data. They won't know about these specs, let alone know when to apply the rules. These aren't "VC-only consumers". The `@context` field says what t

[2022-10-25 20:10] vdods opened #958 "Clarification of the type of the "verifiableCredential" field in a VP"
https://www.w3.org/TR/vc-data-model/#presentations-0 states

Semantically speaking, "verifiableCredential" is singular, and I'd expect to be able to pass a verifiable credential directly in to this field, and by the spec, I'd understand that I could also pass in an array of VCs.  If it were "verifiableCredentials", I'd expect to have to pass in an array of VCs.

In VPs I've seen, this field can be

[2022-10-25 20:11] dmitrizagidulin commented on #947
@dlongley

I'd say that we _do_ understand each other. It's just that I'm claiming the opposite -- yes, we _can_ expect vanilla JSON-LD processors to add specific handling for VCs. That's the proposal. That's the ask.
And the reason for the ask is -- I don't think those groups (non-VC-processing JSON-LD processors) exist yet. Whereas the community of people who hate adding a `@context` to VCs does

[2022-10-25 20:18] dlongley commented on #947
@dmitrizagidulin,

I reject this. Eliminating the possibility for people to publish VCs to websites alongside the other JSON-LD that is already published today -- and have it crawled and consumed as linked data... just because people don't want to include an opaque field (to them) in their VCs is a mistake. There are any number of use cases from battling "fake news", to public business credentiali

[2022-10-25 20:27] dlongley commented on #947
We can define "big tent" / "small tent" based on data or cryptographic format -- or based on whether we interoperably solve more people's higher level use cases using the same technology. I vote for the latter.

Keep requiring `@context`. Let's just make sure you don't have to do any fancy processing in your applications (you don't need a JSON-LD library unless you're checking a Data Integrity Pro

[2022-10-25 21:00] gkellogg commented on #953
Yes, it making `@vocab` base-relative and there is no default document base, then it doesn't make sense. It's a useful paradigm when a document has a location which is used as the default document-base. `@base` has to be defined within the document, and not in a remote context, so it wouldn't make any sense to need to define `@base` just to get this feature.

Document base and `@id` are two differ

[2022-10-25 21:37] dlongley commented on #947
VCs provide a data model (graphs of subject-property-object triples) and a decentralized semantic disambiguity mechanism called `@context`.

If you're not using `@context` and you're not modeling your data as a graph, then you're not using VCs. That's ok. But we don't need to change VCs so that whatever you are doing is now also a VC. That's not what standards are for; that doesn't help interop.

[2022-10-25 21:44] dmitrizagidulin commented on #947
@dlongley

I mean, what I _want_ is a WYSIWYG data model builder, that compiles to both `@context` and JSON-Schema, with a pushbutton "save this newly created context to the cloud", like that one company demo'd during a previous IIW. (I should go dig that up again.)
And to standardize the usage of hashlinks with contexts. (To lock 'em down properly).

I think I see what you're saying, regarding th

[2022-10-25 21:51] dlongley commented on #947
@dmitrizagidulin,

I agree with this! :)

[2022-10-25 22:26] TallTed commented on #958
When you looked up `cred:verifiableCredential`, you stopped at its first occurrence in <https://www.w3.org/2018/credentials#>.  Take a look at its second occurrence, in [4. Term Definitions](https://www.w3.org/2018/credentials/#term-definitions), where it says —

It's perhaps also worth noting that <https://www.w3.org/2018/credentials#> is an RDFa document, readable by both humans and machines, an

[2022-10-25 22:35] jandrieu commented on #947
@stenreijers  wrote:

That statement is a fact. Today's specification requires `@context`. If you are not including it, you are not using VCs, which is a published W3C recommendation with specific requirements.

This shouldn't be controversial.

What many are saying is that they don't like `@context` and that we should remove it from the spec.

That's a legitimate proposal. However, it would chang

[2022-10-25 22:43] dmitrizagidulin commented on #947
@stenreijers

So let's clarify -- what is actually the VCDM? It's a handful of reserved properties, plus an extensibility model (JSON-LD).
What properties are reserved? Well, we have the issuer/subject/timestamps properties (that map to the reserved JWT properties). And besides those, the VCDM only talks about a couple fields -- credentialSchema, credentialStatus for revocation, and `evidence`. Th

[2022-10-25 22:52] stenreijers commented on #947
The way we are looking at the spec is not just a handful of reserved properties, but it provides clear directives how to specify a corresponding data integrity suite along side it. A proof suite combined with the credential and its attributes is all that gives it a value to start with, since it allows to proof the authenticity and integrity of the attributes that rest in the `credentialSubject` fi

[2022-10-25 22:55] dmitrizagidulin commented on #947
@stenreijers

That's a separate spec, though. (Two separate specs -- the Data Integrity spec, and the JWS spec.) Nothing to do with VCDM.

[2022-10-25 22:57] dmitrizagidulin commented on #947
@stenreijers

I think you misunderstand. The VC 1.1 spec _requires_ `@context` property for all serializations, even the JSON one from section 6.1.

[2022-10-25 23:12] stenreijers commented on #947
@dmitrizagidulin wrote:

The VCDM explicitly states a `proof` property that is to be used and is exactly what makes a VC verifiable. I understand there is a different specification on writing a new data integrity suite, called the Data Integrity spec. It is the combination of having a specification that allows one to write a new signature suite and a specification that allows one to define a unive

[2022-10-25 23:33] decentralgabe commented on #947
The most decentralized method also harms interoperability, because it is the recommend nothing approach. This results in multiple registries. Private registries. Or, a mix of private and public agreements on what certain properties mean in certain context. Maybe there are 20 other ideas that neither I nor anyone else in this group have thought about yet. This, is by definition, decentralization.

[2022-10-25 23:38] dmitrizagidulin commented on #947
@decentralgabe

But that IS the main contribution that the VC data model is concerned with. Like, that's its reason for existence. Signing JSON objects? JWT/JWS already does that. Issuer/subject/expiration/issuedat claims? JWT already reserves those.
The main problem that VCDM tries to solve is how to do decentralized extensibility.

[2022-10-25 23:41] decentralgabe commented on #947
Maybe this is a semantic difference, but I understood the purpose of the data model is to define what a _Verifiable Credential_ is with a set of well known terms, while also allowing for extensibility.

JSON-LD is _one way_ to solve decentralized extensibility. Registries are another. Independent of decentralized extensibility the specification itself still defines "what a Verifiable Credential is

[2022-10-26 01:35] msporny commented on #947
@decentralgabe wrote:

Yeah, it seems there is a big disconnect here.

The VC Data Model specification provides at least the following things:

1. A three-party model that decouples Identity Providers from Relying Parties (VC Ecosystem).
1. A way to express claims about a subject using a basic set of properties (VC Data Model).
1. A graph-based data model for expressing that information as part of

[2022-10-26 01:49] talltree commented on #947
@jandrieu wrote:

I am not a developer, so correct me if I'm wrong, but if 100% of VCs that are compliant under VC 1.0 (because they all include `@context`) are still compliant under VC 2.0 (if `@context` became optional), that's not a "breaking change", correct?

Everything that worked before under 1.0 will continue to work and continue to be compliant with 2.0, correct?

If that is correct, then

[2022-10-26 02:15] talltree commented on #947
@msporny wrote:

Manu, you are spot on. If fact I believe that's the very root of the problem. The W3C brand is a big one, and many stakeholders (both within the WG and outside of it) would like to fly under that flag for interoperability. My understanding is that even the ISO mDL/mDOC community would like to build a bridge to the W3C VC community for that reason.

You defined "W3C Verifiable Cred

[2022-10-26 03:32] TallTed commented on #947
@dmitrizagidulin

Today, your proposal is to assume a VC-focused `@context` and `@vocab`.

Tomorrow, there may well be another spec or two ... and in a few years, we've got a dozen or more "default" `@contexts` and `@vocabs` to "assume", and no way of being certain which if any were intended to be applied to the JSON-LD we're parsing.

JSON-LD that relies on an author-linked `@context` URI that de

[2022-10-26 04:06] TallTed commented on #947
@talltree

"I'll just take my ball and go home!"

uh... If you don't value that enough to take the small steps it takes to play the game we're designing (updating, now, really; the base design took a few years already)...  OK, I guess?

I mean, we've got a bunch of balls here; we're just asking that the ones we are _all_ playing with be the same size, density, hardness/elasticity, mass, contour, e

[2022-10-26 04:07] TallTed commented on #947
@dlongley
* https://github.com/w3c/vc-data-model/issues/947#issuecomment-1291075387 — `@contexts`
* https://github.com/w3c/vc-data-model/issues/947#issuecomment-1291181935 — `@context`

@stenreijers
* https://github.com/w3c/vc-data-model/issues/947#issuecomment-1291085771 — `@context`, `@contexts`, `@vocab`
* https://github.com/w3c/vc-data-model/issues/947#issuecomment-1291196770 — `@context`

@dm

[2022-10-26 04:20] talltree commented on #947
@TallTed So sorry. I have long known about that and try to be vigilant about always using backticks when using `@context`. What I forgot to do is check the same thing when I was quoting other posts. My bad! Fixed.

[2022-10-26 05:14] RieksJ opened #959 "Clarification needed on the ease of deducing that a subject is the holder."
[Section C.1 of the VCDM](https://www.w3.org/TR/vc-data-model/#subject-is-the-holder) says: "The most common relationship is when a [subject](https://www.w3.org/TR/vc-data-model/#dfn-subjects) is the [holder](https://www.w3.org/TR/vc-data-model/#dfn-holders). In this case, a [verifier](https://www.w3.org/TR/vc-data-model/#dfn-verifier) can easily deduce that a [subject](https://www.w3.org/TR/vc-da

[2022-10-26 05:36] RieksJ opened #960 "nonTransferable Property questions"
[Section C.1.1](https://www.w3.org/TR/vc-data-model/#nontransferable-property) of the VCDM says: "A [verifiable presentation](https://www.w3.org/TR/vc-data-model/#dfn-verifiable-presentations) that contains a [verifiable credential](https://www.w3.org/TR/vc-data-model/#dfn-verifiable-credentials) containing the nonTransferable [property](https://www.w3.org/TR/vc-data-model/#dfn-property), whose pr

[2022-10-26 05:44] RieksJ opened #961 "Verifier perspective needed on subject-holder relationships"
[Section C](https://www.w3.org/TR/vc-data-model/#subject-holder-relationships) of the VCDM (subject-holder relationships) informs readers that IF (a particular subject-holder relationship exists), THEN (some specific things can be done).

In practice, though, verifiers need to establish whether or not a particular subject-holder relation exists, which implies that they cannot rely on whether or no

[2022-10-26 06:17] Sakurann commented on #890
+1. different use-cases require different set of claims, which is why selective disclosure is important in the Issuer-Holder-Verifier model. The Issuer cannot predict all those use-cases and I do not understand why the Issuer would instruct the Holder to always release certain claims.

Verifier uses a schema that includes the subset of the claims that is can (legally, trust framework wise, etc.) r

[2022-10-26 13:42] OR13 commented on #947
@talltree

So 2.0 will be like 1.0 and 1.1? That seems like a great thing to me... It's why I joined this WG, to improve on the foundation we have built.

I have heard a few folks claim that the "3 party system" is the only innovation that W3C has created... This is false.

The 3 party system predates this work, in OpenPGP, people have been using multiparty cryptography outside of the OAuth 2 part

[2022-10-26 13:58] OR13 commented on #953
Yes, and despite my observations regarding "centralized registries" and WG consensus.

I think the W3C is already committed to doing this...

We are maintaining vocabulary and terms for the core data model, we have maintain a default vocabulary for unmapped terms as well...

And just to be clear, there is a big difference between allowing, and recommending unmapped terms and default vocabulary.

P

[2022-10-26 14:07] gannan08 commented on #947
I can put my developer hat on and answer this question. It is a breaking change.

The original specification VC 1.0 requires `@context`. Applications compliant to the spec must write their applications such that `@context` must always exist on the VC. If `@context` is not found, then the data is not a VC per the spec.

Making `@context` optional, means applications must be changed. Applications wi

[2022-10-26 15:18] dhh1128 commented on #947
@OR13 : this comment is technically true, and could be a good way to settle and summarize this issue. I've made my argument and am now intending to mostly sit back and see how the issue gets closed. However, I think your narrative invites a perspective that feels different from the way I experienced it, and that several of your other remarks (about gray areas and confusion) are worthy of comment a

[2022-10-26 15:40] jimschoening1 commented on #953
Could emerging ontology standards provide standard (and logically consistent) terms and definitions (via a PURL server)?

These are being developed as a hierarchy as follows:

Top-Level Ontology: ISO/IEC-JTC1-21838-2 Basic Formal Ontology (see https://ncorwiki.buffalo.edu/index.php/BFO_2020) provides sturcture only (not useful terms), and is imported by a standard mid-level ontology.

Mid-Level On

[2022-10-26 16:11] OR13 commented on #953
@jimschoening1 Yes, once you have made your claims... the natural next question is, can you make your claims / evidence clearer or less ambiguous.

I did a review of vocabulary related to https://github.com/ietf-scitt recently, and I was surprised at the ambiguity and overlap between certain terms.

Here are a couple examples:

- https://vocabulary.transmute.industries/ns/attestation/
- https://vo

[2022-10-26 16:56] TallTed commented on #959
fwiw, I also take issue with the first sentence of the quoted segment.  I believe that the assertion that "The most common relationship is when a [subject](https://www.w3.org/TR/vc-data-model/#dfn-subjects) is the [holder](https://www.w3.org/TR/vc-data-model/#dfn-holders)" is entirely baseless (beyond the belief of the writer), and should be changed to *at least* start with "A common relationship.

[2022-10-26 16:58] TallTed commented on #960
Regrettably, this is business logic (validitation) bleeding over into technology (verification), and I believe the sentence should be (and should have been) deleted.

[2022-10-26 17:06] TallTed commented on #890
@David-Chadwick

You want verifiers to test whether they're allowed to receive the information that has been presented to them, and then ignore the stuff that they're not allowed to know?

This is a broken process.  The cat is already out of the bag.  If anything, the presenter must be prevented from including bank details in an academic credential, but I'm not sure even this is viably or generall

[2022-10-26 18:12] David-Chadwick commented on #959
If we introduce the role of issuee, which is a genuine role that currently exists in the eco-system but is not described in the VCDM (but it is in ACDC) then we can remove the concept of tying the credential subject to the holder as the holder can change, whereas the issuee can never change.

[2022-10-26 18:20] David-Chadwick commented on #890
@TallTed What is the purpose of the credentialSchema property?

[2022-10-26 18:22] David-Chadwick commented on #960
@TallTed How do you regard TermsOfUse processing. Is this veriification or validation?

[2022-10-26 19:07] dmitrizagidulin commented on #947
@dhh1128  Thank you so much for such a sincere and thoughtful writeup.

So, I'm super curious - how come? Why no interest in the extensibility part especially? You've always been _so_ careful about power dynamics that are often subtly hidden in the VC ecosystem. The extensibility thing, ensuring that VCs can continue to evolve and interop without the reliance on centralized registries, is so cruci

[2022-10-26 19:14] TallTed commented on #959
I'm not fully convinced about `issuee`.  I'm wondering whether the role of VC `issuee` is basically the same as VP `presentee`, and if so, whether these should be defined and named the same.

If WG decides to make these one role, I'd suggest the role *and* the associated property be VC/VP `receiver`

If WG decides to keep these distinct as now, I'd suggest the associated properties to be VC `issue

[2022-10-26 19:26] TallTed commented on #890
@David-Chadwick

A fine question.

I didn't introduce the `credentialSchema` property.  Dim memory suggest you did?

If its purpose is not clear in current documents, then some research would seem to be in order, to see what purpose it was intended to serve.

You've suggested that restricted information — e.g., banking information — from a VC may be included in a selective disclosure VP, and that

[2022-10-26 19:27] TallTed commented on #960
`TermsOfUse` processing is, I hope, indisputably business logic.

[2022-10-26 19:55] msporny commented on #913
Based on the call on 2022-10-26:

RESOLVED: Rename issuanceDate in the VC Data Model to validFrom.
RESOLVED: Rename expirationDate in the VC Data Model to validUntil.

[2022-10-26 20:15] David-Chadwick commented on #960
I think it is both. Verification will check that it is correctly formed with the right syntax, with a type and id (and anything else that the definition requires), whilst checking the semantics will be done as validation at the business level.

[2022-10-26 20:15] OR13 opened #962 "Should `validFrom` and `validUntil` change to ISO8601 or Unix Time Stamp, or remain XML Date Time Strings?"
[code]

Is this legal?

### Option A - ISO8601

[code]

### Option B - W3C / XML Date Time

[code]

### Option C - Unix Time Stamp

[code]

Related:

- https://github.com/digitalbazaar/vc-js/blob/main/lib/index.js#L262
- https://github.com/digitalbazaar/jsonld-signatures/blob/main/lib/util.js#L23

[2022-10-26 20:17] David-Chadwick commented on #960
I think the same is true for nonTransferrable. Verification will check the syntax, whilst validation will check if the subject==holder

[2022-10-26 20:25] David-Chadwick commented on #890
In my opinion credentialSchema is there to check that the credential is well formed. JSON schemas say which properties must or may be present in the credential and what their syntaxes are. So a parser can differentiate between integers, string, URLs, images etc. and know that a credential is wrong if a mandatory property is missing (such as the type).
But of course this does not work with SD becau

[2022-10-26 20:32] David-Chadwick commented on #959
I think they are entirely different. The issuee is the entity the issuer is communicating with. The presentee is the entity the holder is communicating with. Note these are roles that entities take, and entities may take on different roles at different times

[2022-10-26 20:33] David-Chadwick commented on #959
I can agree that issuedTo is clearer than issuee. But in the same vane, the role of issuer would then become issuedBy

[2022-10-26 20:34] TallTed commented on #947
@dhh1128

The "big tent" figures in the foreground, never mind the background, of *every* W3C TR.

It's in the no royalty, no license, no permission required to use these standards.

It's in the open-world expectation of expansion and extension, built in via things like `@context` which allow full semantic meaning of new terms to be communicated without a central registry, allowing anyone to clear

[2022-10-26 20:48] jandrieu commented on #959
I'm sorry, I think this is still trying to solve the problem at the wrong layer.

A statement is a statement, regardless of the initial recipient. The veracity of the utterance and the issuer's willingness to stand by that utterance have nothing to do with the initial or intended recipient.

IssuedTo is a non-starter. If you want to issue it to the subject, then do so. If not, don't. But adding a

[2022-10-26 20:51] mark-moir commented on #890
I've been thinking about #895 and about what specifically would prevent ACDC from complying with VCDM.  As @SmithSamuelM  mentions in the meeting summarised [here](https://github.com/w3c/vc-data-model/issues/890#issuecomment-1233737149), ACDC uses composable JSON schema, so implementing ACDC to conform with the VCDM would use `credentialSchema` with type `JsonSchemaValidator*`.

I also thought `cr

[2022-10-26 20:58] dmitrizagidulin commented on #947
Ok, so on reading the arguments on why having a _default_ context applied to VCs (meaning, if a VC has no context, have processors automatically inject the default one) is NOT the same as "this base context + vocab is required for VCs", from @TallTed, @dlongley, @OR13 and others, I think I agree with these arguments, and I'd like to change my mind, with regards to my earlier.

I was coming at it f

[2022-10-26 21:28] dhh1128 commented on #947
In the mid 90s, I worked on a couple ISO standards (12200, 12620) that involved ontology and curated knowledge. I encountered RDF and the Semantic Web in its infancy and found it intriguing. I wrote a Masters Thesis about some aspects of the problem domain (though not about RDF specifically). I even invented a database structure similar to RDF triple encoding that I was all excited about. However,

[2022-10-26 21:42] dmitrizagidulin commented on #947
@dhh1128 I see. (And I deeply appreciate your experience, there.)

I think I agree with you. That we don't need to over-standardize at this point.  This VC 2.0 spec could be kind of lightweight and perfect -- a few required fields of envelope plus an extensibility model for the contents that gets out of a developer's way (the `@vocab` thing). And that's it.

[2022-10-26 22:25] dhh1128 commented on #947
I agree with all the examples you gave, Ted, and I agree that the W3C accomplishes some of those goals well. But that's not the kind of "big tent" I was asking about. I was asking about the big tent that comes from standardizing more narrowly (ruling more things out of scope, so that the number of things that require consensus goes down, and the agreement on the remaining items is stronger). This

[2022-10-27 01:42] jimschoening1 commented on #953
@OR13,
	Thank you for saying, "Referring to a well established ontology is one of the best ways to provide better semantic precision."

	While the Common Core Ontology I mentioned above is not yet an approved standard, it is very mature and will only see perhaps 5% of its 1600 classes/terms changed during standardization.   It includes the classes/terms commonly used accross multiple domains.  Any

[2022-10-27 07:14] David-Chadwick commented on #947
I would suggest one additional requirement to those JSON-only processors who include the required "this VC contains local terms" `@context`, namely, that the `type` that they define for this VC should be a full URI and not a local string. In this way all JSON-only issuers can act independently and verifiers will never be confused by two issuers who have inserted the same local type string for diff

[2022-10-27 08:05] BenjaminMoe commented on #962
My vote goes towards **Option A** (`YYYY-MM-DDTHH:mm:ss.SSSZ`). When working with credentials it makes it much easier to work with being able call `new Date().toISOString()`, instead of having to write extra steps to account for the lack of milliseconds on XML Date Time.

Fix: For **Option B**, the [current examples from the vc-data-model](https://www.w3.org/TR/vc-data-model/#example-a-simple-exam

[2022-10-27 10:05] David-Chadwick commented on #959
@jandrieu Good point. So the issuee/issuedTo claim should be part of the proof (external or internal).

[2022-10-27 10:15] nissimsan commented on #962
The `Z` of option A implies that timezone offsets are allowed, meaning that for example `"validFrom": "2020-10-26T20:10:59-01:00"` would also be possible. My vote goes towards **Option A** on that argument.

[2022-10-27 12:12] iherman commented on #913
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-10-26-vcwg#section4-1) on 2022-10-26

List of resolutions:

- ***[Resolution No. 3](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-10-26-vcwg#resolution3):  Rename issuanceDate in the VC Data Model to validFrom..***
- ***[Resolution No. 4](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-10-26-vcwg#r

[2022-10-27 12:16] BenjaminMoe commented on #962
Also note that for **Option C**, i've done this a few times where I've used a unix timestamp in databases to track time. It's really easy for engineers, but it destroys human readability. And it creates a ton of issues where you have to constantly change the `int` back to a readable string for product or anyone else to read.

[2022-10-27 13:10] TallTed commented on #962
Please change the title of this issue from a nonsensical statement to the question —
```Should `validFrom` and `validUntil` change to ISO8601 or Unix Time Stamp, or remain XML Date Time Strings?```

[2022-10-27 13:19] OR13 opened #963 "IEEE Ontology Standards Working Group Credential Example"
Can we develop an example that leverages the IEEE Ontology work?

What claims would be best described by this ontology?

Let's start by getting a JSON example of a credential with some claims that we can look for good definitions for...

For example:

- https://github.com/w3c/vc-data-model/issues/935

[code]

[2022-10-27 13:19] OR13 commented on #953
I'm happy to explore an example, and if the working group approves, we can include it in the next version of the TR.

I've added a separate issue to track that, please provide a JSON example on https://github.com/w3c/vc-data-model/issues/963.

[2022-10-27 14:30] jimschoening1 commented on #963
Thank you @OR13.  Great example.

Let's start with just "Person" above, which would be replaced with the full line:

 "type": ["http://www.ontologyrepository.com/CommonCoreOntologies/Person", "JobType"],

Some benefits:
1. The developer doesn't need to define this term, but rather only find it in Common Core Ontology.
2. It is well defined.
3. It resolves (try it), so a human or machine in any eco

[2022-10-27 15:13] dlongley commented on #962
I worry, from the comments, that it's not clear that the differences between the options are easily understood. I know that I don't know all the differences either, but it's clear that at least some people are looking at the examples and inferring differences that might not be reflective of what's actually in the specs, which aren't linked in the OP.

For example, I think the first example (listed

[2022-10-27 15:19] msporny commented on #947
@dhh1128 wrote:

I've been reading what @dhh1128 and @talltree have been writing over the past few days and pondering what we could do differently... it's taken me all the way down the rabbit hole to adding features to the core of JSON-LD that would make it more permissive (in some handwavey way) without losing what we have today. After going through a handful of iterations, nothing is surfacing a

[2022-10-27 17:06] jandrieu commented on #959
How would the issuee change the proof in a VC?

A statement is a statement regardless of the initial recipient.

[2022-10-27 17:17] David-Chadwick commented on #959
It would not. The issuer issues the VC to the issuee and places the id of the issuee in the LD proof section or as a JWT claim.

Clearly we have it wrong by thinking that the VC subject is either the holder of the issuee. It may be neither. e.g. dog=subject and dog owner=issuee.

So the subject/holder binding is the wrong paradigm. It should be issuee/holder binding at presentation time.

[2022-10-27 22:15] SmithSamuelM commented on #890
Its difficult to decide where to start to voice the security concerns of a json-ld document with an @context. Unless in every case the @context is to be ignored, (which defeats the extensibility reasons for using json-ld in the first place). We are faced with a conundrum. To avoid being accused of creating a text wall, I will only list a couple of concerns.

1) @context is normatively dynamic
http

[2022-10-27 23:53] decentralgabe commented on #925
Fixed in #955

[2022-10-27 23:53] #925 closed

[2022-10-28 00:18] dhh1128 commented on #947
Thank you for the thoughtful and good-willed response, @msporny .

I started a long, meditative response and then stopped.

Short answer: For me (and maybe only for me) I don't think the processing of the JSON is really the core issue, so I don't think wording changes or minimizing friction by optimizing with `@vocab` will move the needle. This begs the question, "well, if that's not the core issu

[2022-10-28 00:42] SmithSamuelM commented on #890
I want to add one other comment which I think is relevant.
There are two approaches to cryptographic authenticity i.e secure attribution of data transmitted over the internet.
1) Cryptographically verifiable commitments to immutable data serializations that are securely attributable to a digital identifier. Essential digital signatures of some type (this includes ZKPs)

2) Cryptographically verifi

[2022-10-28 00:58] AlexAndrei98 commented on #890
Does this mean one cannot simply "convert" a "Verifiable Credential" to an "AnonCred" and vice versa but must perform some one way function to do so?

[2022-10-28 07:29] stenreijers commented on #947
I felt that I had to respond to this topic once more, because the discussion is changing the way how I look at W3C VCDM today verses how I looked at it before this discussion.

Me and others in my community share a pragmatic view on W3C VCDM. For us, it needs to solve a core problem, namely: a standard way to express credentials on the Web in a way that is cryptographically secure, privacy respect

[2022-10-28 08:36] iherman opened #965 "'issued' vs. 'validFrom' (formerly 'issuanceDate')"
These two properties [`issued`](https://w3c.github.io/vc-data-model/vocab/credentials/v2/vocabulary.html#issued) and [`validFrom`](https://w3c.github.io/vc-data-model/vocab/credentials/v2/vocabulary.html#validFrom) have a strictly identical description. Is that normal? Shouldn't we differentiate these in the vocabulary description?

[2022-10-28 08:42] iherman opened #966 "Redirect the vocabulary to v2"
(The relevant file (ie, `.htaccess`) is not on the repository, so this cannot be submitted as a PR.)

PROPOSAL: change the redirections in the `.htaccess`, currently pointing at

[code]

to

[code]

Rationale. The v2 version of the vocabulary is backward compatible with the old one: all properties in v1 are retained in v2 (albeit, possibly, explicitly deprecated), so such a change would have no ef

[2022-10-28 14:14] jimschoening1 commented on #963
@OR13   Your thoughts on this, pro or con?    Is this in-scope for #953?  Could we move it back there?

[2022-10-28 14:36] pchampin opened #967 "In Example 1, `value` and `lang` are not aliased to `@value` and `@language`"
... and therefore, the two schema:name's of the example university are empty objects, and rendered in RDF as blank nodes.
Example 1:
* [in the spec](https://www.w3.org/TR/vc-data-model/#example-a-simple-example-of-a-verifiable-credential)
* [on the playground](https://json-ld.org/playground/#startTab=tab-expanded&json-ld=%7B%22%40context%22%3A%5B%22https%3A%2F%2Fwww.w3.org%2F2018%2Fcredentials%2Fv

[2022-10-28 15:17] msporny commented on #967
Yes, good catch, we should fix that. We might also consider that we probably don't want to have the first example have a complex language thing in it, so we might want to remove the `lang` and `value` stuff altogether in the examples and only introduce those in a part of the spec that focuses on multilingual issues.

[2022-10-28 15:19] msporny commented on #966
+1, we should do this as soon as possible given that the new vocabulary is in better shape than the old one.

[2022-10-28 15:23] msporny commented on #965
I think we had contemplated adding an `issued` property. Yes, they should be different, but it's debatable if we need `issued` at all. One could argue that the `created` date on the digital signature *is* the issued date and so we don't need an `issued` property at all.

I'm slightly leaning towards getting rid of `issued` as it's not clear what value it provides if we have both `validFrom` and th

[2022-10-28 15:37] msporny commented on #956
It's debatable if it does or not. :)

Ideally, yes, everything would be content protected all the way down to the human readable text... but we're just not there yet (from an infrastructure standpoint).

The security vocabulary has been brought under the purview of the VCWG: https://github.com/w3c/vc-data-integrity/tree/main/vocab/security

So, the sorts of attacks we're talking about are attacks

[2022-10-28 15:50] OR13 commented on #963
@jimschoening1 Its not in scope for the vocab thread imo, because these are terms you want to explicitly define in an interoperable way, here is a JSON-LD version of what you are suggestion.

[code]

https://v.jsld.org/M2ZuC5j7ApNV2CKd6nzobQzzvkSuUx9s7PUYfCigJCCPbWPkyLnYSyXsJsqriE19EM1cURjv9vmyDDjD3Z2Ghr2SQGw9A3U27vva9uSWM75XQtD3caKxJbj4kijLbbt94wm9x8krnTcPU6a51Q2EKzY9p6AtTXdxxpjGLQbvv1uedsQ5harpq

[2022-10-28 15:53] OR13 commented on #963
We can expand the example by including specific claims that are consistent with `Person`... for example, using https://schema.org/taxID ...

[code]

https://v.jsld.org/Cww2WQeUftssmeL7PSGGtbn6x1BBRwAqh7CyAEn3hpeEErX5njx3W4jvS1eRGkBCWNCAhAbXSjbK2Tbd7hsHXhNbMPNBdMhd2CFTVuHiEfnDeZwVHFKT6PwNQPEgdaXMjLCjZxwv4t7dUjcRvUyGjFxawCnvRNwPRavKQbSuDeY2tiBTUGAQyDQABjWJf7eUCp72xWzHMKF12xaCNtgvYrVgv4KqXy3SoEbP4AG

[2022-10-28 15:53] OR13 commented on #963
Can you propose some additional semantic structures from `CommonCoreOntologies` that we can use to design a credential?

[2022-10-28 16:35] jimschoening1 commented on #963
Let first try to resolve this one item.

Today, developers choose terms from many models and standards (all siloed), or define their own terms, or use terms they don't define.   Other applications can only process such data if mapped in advance, and such mappings grow at a rate of n squared, which doesn't scale.

Wouldn't it be better if the world had a standard for these terms, so disparate data

[2022-10-28 19:01] msporny commented on #962
@OR13 wrote:

Yes, it is. :)

Remember that we started off with RFC3339, considered ISO8601, and went with XML Schema 1.1 because it was a reasonable subset of ISO8601 and was the newest, openly available spec we could choose from:

https://github.com/w3c/vc-data-model/issues/782#issuecomment-916601353

-1 for Unix time... it doesn't support subsecond precision (unless we use one of the newer, non

[2022-10-28 21:57] tplooker commented on #953
Even with explicitly defined terms this issue doesn't go away, developers can pull in a bad mix of context URL's into a credential and find themselves in a situations where the IRI for a term isn't what they expected (that is if they even check). Semantics should be viewed as a useful feature that can be scaled into as the ecosystem needs it more. It shouldn't be table stakes to understand JSON-LD

[2022-10-28 23:06] dlongley commented on #956
No, I don't think so. But if you think so, you should draw out a concrete scenario where it's a significant issue so that it could be discussed and mitigations could be considered if it seems worthwhile to do so.

There's only so much that cryptographic primitives can provide; a false sense of security might be thinking that you are totally safe if the natural language content behind a link was pr

[2022-10-29 15:26] jimschoening1 commented on #963
@OR13 Orrie, would you care to get on a video call to synch up?

[2022-10-30 13:36] msporny commented on #953
Now that @OR13 has modified the initial proposal, the following concerns have been address:

1. It doesn't provide an option to opt-out of undefined/private properties. There is no "safe default" to say "I want every property to be defined."
1. Everyone has to buy into "undefined/private properties by default". Verifiable Credentials in the financial services industry are one place where you don't

[2022-10-30 17:19] David-Chadwick commented on #953
+1 to 2 `@contexts`
-1 to 1 `@context`
The latter disadvantages every wallet and verifier regardless of the issuer. The former only disadvantages JSON-LD verifiers and wallets that want to interwork with pure JSON issuers, providing the type is always globally unique.

[2022-10-31 00:05] jandrieu commented on #953
@David-Chadwick You can only ever have one `@context`, it can always have multiple values.

However, I want to push back on the term "private" to describe any of this. Private v public is a red herring of a distinction that I have written about for over a decade now. The word itself has almost no meaning in this context (no pun intended).

If someone wants to define a new context (perhaps the exac

[2022-10-31 04:10] dlongley commented on #953
@jandrieu,

I think what is meant by "private" here is something along the lines of "issuer-dependent". That is, you cannot tell what such a term actually maps to without the issuer telling you via some out-of-band mechanism. The URL such a term maps to (via `@vocab`) will not reveal its meaning nor will it disambiguate it when the same term (same as a "homonym") is used by a different issuer -- o

[2022-10-31 05:59] mark-moir commented on #956
Fair enough, but I think it would be preferable to defend against "creating a false sense of security" by addressing this point explicitly in Section B.1.  As it stands, the section provides no hint that it doesn't fully address the issue, or what would be required in future to do so.

They'd still need to be confident that they have the correct static copy, just as for the Base context, right?  S

[2022-10-31 06:01] mark-moir commented on #956
@dlongley I agree regarding spectrum and especially "need to be understood as such".  My "false sense of security" question asks whether the current spec is clear enough in this regard.  See above response to @msporny, in which I say I think not yet.

Thanks.

[2022-10-31 07:08] David-Chadwick commented on #953
@jandrieu Thankyou. Fixed my comment now.

[2022-10-31 13:04] awoie commented on #957
I agree that this text is confusing. We also had the discussion on whether without a `credentialSubject.id`, i.e. an explicit identifier, can also have an implicit subject. This is for example important for people that don't use unique identifiers for identifying the subject -> e.g., anoncreds and potentially others such as BBS+.

[2022-10-31 13:09] RieksJ commented on #957
VCDM says that a claim without a `credentialSubject.id` is a 'bearer-claim'.

[2022-10-31 13:24] OR13 commented on #963
@jimschoening1 sure, send me an email orie@transmute.industries.

[2022-10-31 13:29] OR13 commented on #962
Since this is legal, I am proposing to close this issue;

[code]

We probably want to update the example in the next version to use better date strings...

[code]

[2022-10-31 13:29] #962 closed

[2022-10-31 14:19] OR13 commented on #953
I am arguing that this proposal is the "safe default".

Advanced processors can detect terms that are expanded using this default.

The chances of developers creating valid (processable) JSON-LD goes up, this leads to the ability ingest more data albeit at a "lower" semantic quality.

If you think about it, the data you get from a single context with a default vocab is always better than the data

[2022-10-31 15:01] RieksJ commented on #959
@jandrieu wrote:

I guess that a DID would qualify as a cryptographic identifier (which by the way is NOT the subject, but a subject identifier), and that this text means to say that if the creator of the VP can show it controls the identifier (has the private key material), the verifier should conclude it is the subject of the claim.

I would say that the issuer must be the authority regarding th

[2022-10-31 20:25] TallTed commented on #890
@SmithSamuelM Please edit your https://github.com/w3c/vc-data-model/issues/890#issuecomment-1294163332 and put code fences (single backticks, i.e., ``` ` ```, are best for this) around each and every instance of `@context` (making it ``` `@context` ```), such that that poor GitHub user ceases to be pinged for every interaction with this thread, in which they are only participating by force.

[2022-10-31 23:35] jyasskin commented on #947
We discussed this briefly inside of Google, with the following conclusions:
1) We share the WG's uncertainty about whether it's better to represent credentials as RDF or not.
2) We think remote `@context` values are unwise, especially while validating credentials. https://docs.google.com/document/d/1Jo4-dTDo1osL3Mr9-THqwKywWu-NiFGagFTQV5mr-N8/edit proposes a way to make the documents self-containe

[2022-10-31 23:54] selfissued commented on #947
@msporny wrote:

To the contrary, I believe that enabling DIDs without `@context` was one of the working group's finest hours.  We listened to developers and kept things simple by allowing non-mission-critical functionality to be optional.  It's a success that we would do well to emulate.

[2022-11-01 00:05] selfissued commented on #947
@dlongley wrote:

While I think JWTs are great 😉, by themselves they aren't ready for the issuer/holder/verifier model.  That's why the VC spec defined the `vc` and `vp` claims.  With them, JWTs can represent Verifiable Credentials and be used in the three-party model.

[2022-11-01 00:24] jandrieu commented on #959
@RieksJ

Yes, but it is the presenter who gets to explain to the verifier what their relationship is to the VC in question. This is a necessary (and underspecified) part of the Verifiable Presentation.

Unfortunately, the only hack we have in common use is assuming that if a VC's subject id == the VP creator id, then the presenter is the subject of the credential. This deserves better distinctions

[2022-11-01 00:32] nadalin commented on #947
@selfissued wrote:

While I think JWTs are great 😉, by themselves they aren't ready for the issuer/holder/verifier model. That's why the VC spec defined the vc and vp claims. With them, JWTs can represent Verifiable Credentials and be used in the three-party model.

While I agree with you on the greatness of the JWTs. As you know the ekyc wg in OpenID has created the verified credentials which can

[2022-11-01 00:45] nadalin commented on #947
@selfissued wrote:

To the contrary, I believe that enabling DIDs without @context was one of the working group's finest hours. We listened to developers and kept things simple by allowing non-mission-critical functionality to be optional. It's a success that we would do well to emulate.

I would agree, one of the best choices made in the WG, now if only the name would be changed to eliminate the

[2022-11-01 06:02] RieksJ commented on #959
@jandrieu

There is a subtle, but nevertheless important difference between how you phrase this and the statement "Yes, but it is the presenter who gets to answer the request of the verifier regarding what it needs to know about the various subjects in the claim for which it is requesting a presentation".

The difference is similar as with the issuer not caring who the holder is as it is expressin

[2022-11-01 06:21] RieksJ commented on #959
@jandrieu

I contend that you do not prove that you are the entity about which the issuer made a claim just by proving that you control (the private key material associated with) the identifier. Here are two examples:

In a [previous comment](https://github.com/w3c/vc-data-model/issues/959#issuecomment-1297221530), I showed that an issuer can make a claim about Alice using a cryptographic identifi

[2022-11-01 09:06] peacekeeper commented on #947
As a side note regarding JWTs and VCs, it occurs to me that both use the term "claims". This means:

[code]

The JWT spec says: _"The claims in a JWT are normally statements about the subject."_
The VC spec says: _"claim = An assertion made about a subject."_

So there are two places for claims. What's there difference, where should developers put their claims about the subject? It feels like mixi

[2022-11-01 09:58] vongohren commented on #953
Just to shoot in that if the info is clearly documented places in the spec, we create an issue on stackexchange related to invalid JSON-LD and answere it ourselves with the solution, add this to vocab.

I dont think this will be such a hinder. I start making a VC, and it fails in the lib. Future libs can help to say want dev capabilities, do this. One will search for solutions and if done right th

[2022-11-01 11:11] David-Chadwick commented on #959
Handing over "your" VCs to someone who is not the subject is a validation issue, not a verification issue, and a property such as Non Transferrable can be added to the VC to indicate this is not allowed. But just as is the case with credit cards (giving it and the PIN to someone else) passing on VCs cannot be prevented technically at the moment. Even if the VC is locked to the phone I can still gi

[2022-11-01 13:54] tlodderstedt commented on #947
From reading this thread I perceive people care about interoperability. So do I. I would like to share my perspective as a long term identity practitioner, spec writer (OAuth, OpenID, …) and believer in the value of interoperability.

**I believe the proposed change will result in better interoperability.**

To me interoperability means the same piece of code can process things from different sour

[2022-11-01 14:04] TallTed commented on #947
@David-Chadwick — Please edit https://github.com/w3c/vc-data-model/issues/947#issuecomment-1293094056 and put code fences (single backticks will suffice) around each instance of `@context`, so they become ``` `@context` ```.

@msporny — Please edit https://github.com/w3c/vc-data-model/issues/947#issuecomment-1293694566 and put code fences (single backticks will suffice) around each instance of `@c

[2022-11-01 14:12] dlongley commented on #947
@tlodderstedt,

This is a misunderstanding of the meaning of "JSON-LD processing". What the text in the spec means is that an application that receives a VC that has been verified does not need to use a JSON-LD library on the VC -- it only needs to check the *string values* of the `@context` field for expected and supported values.

This leads to, today, allowing for just one way for applications

[2022-11-01 14:26] dlongley commented on #947
@tlodderstedt,

To further clarify, here is how applications process VCs today:

1. Use a service or a library to verify the proof. The proof is either JWT or DI-based. JWT based proofs do not require a JSON-LD library and neither do DI proofs that use JCS canonicalization. Only DI proofs that use RDF canonicalization require a JSON-LD library (such a library is only used to perform transforms on

[2022-11-01 14:38] tlodderstedt commented on #947
Correct me if I'm wrong but a JSON-LD library would expand all claims in a JSON object and the "types" array values to its respective context, which makes all of them fully qualified and unambiguous. You are saying this isn't needed in the case of JWTs?

[2022-11-01 14:39] msporny commented on #947
To be clear, there is no "WG uncertainty" at present... we're trying to get to consensus on this. There are certain WG Members that are uncertain about the current normative requirements of the spec around the `@context` value, but none have proposed viable alternatives. That is, all alternatives proposed to date fail to deliver on key features of the specification AND harm interoperability by mul

[2022-11-01 14:40] dlongley commented on #947
@tlodderstedt,

That's right. You don't need a JSON-LD library unless you're performing transforms like RDF canonicalization for certain types of DI proofs. There's no reason to expand the VC, just check the context string values and use it as regular JSON. A lot of work went into VC 1.0 and the JSON-LD `@protected` feature to ensure this could be done.

[2022-11-01 14:43] tlodderstedt commented on #947
@dlongley

thanks for the explanation. So what I get is the spec's intention is that implementations processing a JWT can use JSON LD if they want, but they MUST check the context array content to be matching its expectations? Can you please shed some light on what problems that solves? I would have assumed the verifier to check the types array values to make sure it is receiving a credential comp

[2022-11-01 14:55] dlongley commented on #947
@tlodderstedt,

In practice, the applications that use DI proofs do the same thing because you want a separation of layers. You want a layer (typically provided by a separate library or service) that will check the proof and then you use the VC after that. So, the application itself typically runs some JSON schema and checks the `@context` field for the URLs it understands and then uses the VC --

[2022-11-01 14:56] nadalin commented on #947
There is absolutely no need to use context when you use JWT, it should not be required at all if using just JWTs.

From: Torsten Lodderstedt ***@***.***>
Sent: Tuesday, November 1, 2022 7:44 AM
To: w3c/vc-data-model ***@***.***>
Cc: Anthony Nadalin ***@***.***>; Mention ***@***.***>
Subject: Re: [w3c/vc-data-model] Make the usage of ***@***.***` optional (Issue #947)

@dlongley <https://github.com

[2022-11-01 14:58] dlongley commented on #947
@nadalin,

Totally agree. My view is that if you're just using JWTs you should go do that, don't use VCs. Use the JWT claims registry and add whatever you want, it's already there. VCs provide a decentralized registry mechanism and a graph-based data model -- they are a different technology.

[2022-11-01 15:01] nadalin commented on #947
There is nothing in the charter that restricts us to decentralized, we should allow VCs to use a registry and non registry approaches.

From: Dave Longley ***@***.***>
Sent: Tuesday, November 1, 2022 7:58 AM
To: w3c/vc-data-model ***@***.***>
Cc: Anthony Nadalin ***@***.***>; Mention ***@***.***>
Subject: Re: [w3c/vc-data-model] Make the usage of ***@***.***` optional (Issue #947)

@nadalin <https

[2022-11-01 15:03] dlongley commented on #947
@nadalin,

In the spirit of keeping simple things simple, if JWT and a centralized registry solves your problem, you should use that. We should not try to change another technology into what JWT already does -- that's not simple.

[2022-11-01 15:15] tlodderstedt commented on #947
@dlongley

It seems to me you see JWTs as another proof representation not a different VC format. Is that correct? I'm asking since my feeling is there are (again ;-)) two different way to look onto VCs as JWTs.

1) If JWT is just a proof mechanism, I think, you are better served putting a JSON object into a JWS container. That would be cleaner then having different claim names for the same concep

[2022-11-01 15:15] nadalin commented on #947
In the spirit of keeping simple things simple, if JWT and a centralized registry solves your problem, you should use that. We should not try to change another technology into what JWT already does -- that's not simple

With that in mind, you have already changed how we have to process JWTs, with the context and remapping the JWT claims, that is not simple for sure. You also seem to imply that VC h

[2022-11-01 15:19] tlodderstedt commented on #947
I agree with @nadalin. To me the value of JWTs as VCs is not a new type system but to have a definition of the additional syntax and processing rules required to represent credentials as JWTs, including holder binding, presentation vs credential, .....

[2022-11-01 15:40] dhh1128 commented on #947
In my last comment on the thread, I said I would do my best to explain my core objection better, without cluttering this thread. I've now written something coherent: https://docs.google.com/document/d/1BmAswkEVkEWJrDsaSfXbDB24tV_nKClj8Cg0hBKja6o/edit#

I'll probably publish this somewhere better than a google doc. If I do, I'll try to update this comment with a better link.

[2022-11-01 16:06] dlongley commented on #947
@tlodderstedt,

Yes.

I think these ideas should be brought into the VC-JWT work.

[2022-11-01 16:26] iherman commented on #947
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-11-01-vcwg#section1) on 2022-11-01

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

### 1. Make the usage of `@context` optional (issue vc-data-model#947)

_See github issue [vc-data-model#947](https://github.com/w3c/vc-data-model/issues/947)._

**Kristina Yasuda:** This

[2022-11-01 17:04] iherman commented on #947
@jyasskin

just a technical comment

The solution proposed in the google doc works perfectly well with schema.org and, in general, it would also work well with any JSON-LD application that uses a single vocabulary with a simple structure. Ie, where the goal of the `@context` is to map all terms into URL-s that share a same base, and they do not have any extra complications (like requiring the valu

[2022-11-01 18:50] jandrieu commented on #947
As I proposed in the call, we should close this issue because we are not going to get consensus on this proposed change to the spec.

I appreciate that the JWT folks want many of the features and branding success of Verifiable Credentials. However, there has not been a compelling enough case made to reverse the decentralized foundation of `@context` (and JSON-LD). In part, because there has not be

[2022-11-01 19:01] nadalin commented on #947
I’m not in favor of this approach so -1, there were also many -1 on the chat today, I’m not sure you would get consensus to close this issue also, but the consensus call is up to the chairs as consensus is not a unanimous choice. I think we need to keep discussing this issue

[2022-11-01 20:16] msporny commented on #947
@nadalin wrote:

If you would like to keep doing that, and for anyone that would like to see `@context` become optional: Please produce a workable technical proposal, that has the possibility of achieving consensus, to what we have with the VC specification today.

If we can't get to a place where we have consensus on "Making the usage of `@context` optional", then we cannot put that in the spec.

[2022-11-01 20:34] nadalin commented on #947
There is no requirement to have what we have in the VC specification today, just a requirement to achieve consensus determined by the chairs.

[2022-11-01 21:57] David-Chadwick commented on #947
@jandrieu As I said on the call today, I am in the JSON-only camp, using JWTs to proof our VCs, and I have absolutely no problem with incorporting `@context` into either the VCs we issue or the VCs our wallet and verifier consume. We do not do any JSON-LD processing or use any JSON-LD libraries. I have not heard any cogent technical argument from anyone who is in the same camp as me, and who has i

[2022-11-02 01:34] selfissued commented on #947
@jandrieu wrote:

For what it's worth, from a quick scan of today's call minutes, it appears to me more people spoke in favor of making `@context` optional than to continue requiring it (7 for optionality, 6 to require it).  No, that's not consensus either way, but there is a significant number of people with experience with W3C Verifiable Credentials as they exist today who are voting with their

[2022-11-02 11:41] melvincarvalho commented on #947
From the minutes: **Michael Jones**

This resonates with me.  You could go further.  The spec could say that `@context` SHOULD be present.  But if it's not, it could assume something like the suggestion from @gkellogg

https://github.com/w3c/vc-data-model/issues/953#issuecomment-1284650531

[code]

[2022-11-02 12:38] dhh1128 commented on #947
@David-Chadwick said:

I feel compelled to comment because it seems there is still at least a little "talking past each other" going on. I would love it if everyone who likes the spec's current requirements thumbs down this comment so I know that at least my message has been heard and understood. Then I will know I can be quiet and let the thread die. :-)

I am in the JSON-only camp, and I am clai

[2022-11-02 13:16] msporny commented on #947
Just a reminder to everyone that this is not a popularity contest. A standard has technical requirements that must be met and an architecture that meets those requirements. We have a consistent set of requirements and an architecture that has been put in place over the last 8+ years. The argument to make `@context` optional is being made without a clear, workable plan on how a VC is to be processe

[2022-11-02 13:23] selfissued commented on #947
@dhh1128 hits the nail on the head here:

His smart IoT turnstile example illustrates that there are plenty of use cases where the context is known contextually. 😊 Global disambiguation is totally unnecessary.

XML had namespaces.  Developers prefer JSON, which doesn't.  If you need them, great - use JSON-LD.  Many use cases don't.

[2022-11-02 13:36] nadalin commented on #947
Just a reminder to everyone that this is not a popularity contest. A standard has technical requirements that must be met and an architecture that meets those requirements. We have a consistent set of requirements and an architecture that has been put in place over the last 8+ years. The argument to make @context optional is being made without a clear, workable plan on how a VC is to be processed

[2022-11-02 13:37] msporny commented on #947
@melvincarvalho wrote:

We explored that and it doesn't work without also specifying `@base`, which I can't imagine the people arguing against `@context` would be happy with because it would take everyone further in the direction of JSON-LD than away from it. VCs are secured with a particular BASE_URL in mind (but that BASE_URL isn't used at present, by design). That BASE_URL can change because a

[2022-11-02 15:09] selfissued commented on #947
It's not that it's hard.  It's that it's unnecessary.

[2022-11-02 15:32] OR13 commented on #887
I am coming around to the idea of using "issue" for both "VC" and "VP".

[2022-11-02 15:35] shigeya commented on #887
I saw a discussion at RWoT to use "render" to create a human-readable output (HTML).
I think we may use "render" for machine-readable output.

[2022-11-02 15:35] selfissued commented on #887
-1 to "derive", as it's not intuitive usage of the word in context.

[2022-11-02 15:35] longpd commented on #887
I'm offering compose: "1) write or create (a work of art, especially music or poetry); and 2) (of elements) constitute or make up (a whole). e.g., "the system is composed of a group of machines"

[2022-11-02 15:36] mprorock commented on #887
-0.5 to derive for potential confusion with other operations

+1 to "issue" or "create" to create a presentation prior to presenting

[2022-11-02 15:37] mprorock commented on #909
this seems extremely sane to me

[2022-11-02 15:39] talltree commented on #947
@msporny wrote:

I have been befuddled by this "requirement" ever since this issue began. JSON has a standard set of processing rules implemented by any JSON parser. JSON-LD adds **additional** processing rules on top of the standard JSON processing rules.

So if `@context` is not present in a VC expressed in JSON, all it means is that **standard JSON processing rules apply** and **JSON-LD process

[2022-11-02 15:40] mccown commented on #887
When we explain this process to non-identity industry users, we often say "create/submit a verifiable credential proof".  It may not be perfect, but it is an easily understandable phrase that gets the point across.

[2022-11-02 15:48] jandrieu commented on #919
It would also be possible to embed the VC directly.

[2022-11-02 15:51] David-Chadwick commented on #947
_"Why is this issue any more complicated than that?"_
Because the issuer does not know whether the verifier will be a JSON-LD processor or a JSON-only processor. If it is the former, then which `@context` should it assume should be added? Since v1 and v2 (and presumably v3) DMs have different `@context` definitions then it cannot know. So, even though the issuer may be JSON-only, it should out of

[2022-11-02 15:55] OR13 commented on #952
Should we include `VerifiableEvidence` in v2 context?

[2022-11-02 15:56] David-Chadwick commented on #947
One further point. A JSON-only issuer may have a customer requirement to issue a JFF plugfest conformant credential to its users, which requires the `@context` property to be present. Will this issuer refuse to do this? If it does  refuse then it may lose this business opportunity. If it concedes, then why should it not concede to do this for all the VCs it issues.

[2022-11-02 16:20] iherman commented on #887
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-11-02-vcwg#section2-1) on 2022-11-02

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 2.1. What is the action associated with issuing/creating a Verifiable Presentation? (issue vc-data-model#887)

_See github issue [vc-data-model#887](https://github.com/w3c/vc-data-m

[2022-11-02 16:20] iherman commented on #909
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-11-02-vcwg#section2-2) on 2022-11-02

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 2.2. Define policies for VC Extension Registry (issue vc-data-model#909)

_See github issue [vc-data-model#909](https://github.com/w3c/vc-data-model/issues/909)._

**Manu Sporny:**

[2022-11-02 16:20] iherman commented on #919
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-11-02-vcwg#section2-3) on 2022-11-02

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 2.3. Evidence as a Related Credential (issue vc-data-model#919)

_See github issue [vc-data-model#919](https://github.com/w3c/vc-data-model/issues/919)._

**Brent Zundel:** Can you

[2022-11-02 16:23] nadalin commented on #947
Could the requirement be driven from the requirement in the speciation, if so maybe this discussion will result in a change in the specification and the a change in the pluggest requirements, just saying could work both ways.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: David Chadwick ***@***.***>
Sent: Wednesday, November 2, 2022 8:56:43 AM
To: w3c/vc-da

[2022-11-02 17:19] decentralgabe commented on #947
There are processing differences _all over the place_. A verifier may not support LD processing. A verifier may not support a certain key type and signing mechanism.

If a verifier comes across a JSON-LD credential that specifies a Data Integrity proof with `Ed25519Signature2020` and they have no support for verifying such a credential they will detect this and stop processing. Similarly, if a ver

[2022-11-02 17:26] dlongley commented on #947
@talltree,

As an implementer, I'm aware that the presence of `@context` is not a signal for having to include a JSON-LD library. @David-Chadwick knows this too -- because he has implemented. I am very concerned that non-implementers are making statements about how they think things work and are ignoring the implementers that are explaining that they don't actually work that way. That is a major f

[2022-11-02 17:45] OR13 opened #971 "Securing the VC Data Model with JOSE"
I created this draft a while ago for discussion:

https://github.com/OR13/draft-osteele-vc-jose

The key point of this document was to clarify the boundary between the "Core Data Model" and the "Securing the Core Data Model".

In particular, I think that securing a JSON data model is best accomplished with JSON Web Signatures... not JSON Web Tokens.

Similarly, I think Verifiable Presentations are

[2022-11-02 17:46] OR13 commented on #971
I would like to develop an experimental spec for `vc-jws` and `vp-jwe` to pair with the open source implementation we have developed here: https://github.com/transmute-industries/verifiable-credentials

[2022-11-02 17:53] nadalin commented on #947
I feel just the opposite, I have implemented and wrote up all my issues on implementaion and this was one of them, so I know how things work also and have expressed my views and issues.  So we are not ignoring.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Dave Longley ***@***.***>
Sent: Wednesday, November 2, 2022 10:26:15 AM
To: w3c/vc-data-model ***@***

[2022-11-02 17:54] dlongley commented on #947
@nadalin,

In order to use a VC with a well-known context, what did you need to use a JSON-LD library for?

[2022-11-02 19:23] mprorock commented on #971
I am a big fan of this approach - it seems well formed enough already that we will likely get started on an implementation in go to test viability

[2022-11-02 19:44] David-Chadwick commented on #971
I also like this approach. In particular it clearly differentiates between a credential and a signed (verifiable) credential and further confirms the VCDM view that a credential can be proofed in many different ways.

In our current NGI Atlantic project we have said we will develop a mechanism for sending encrypted VCs to the verifier, and this draft does this for us. (My original thought was to e

[2022-11-02 20:15] talltree commented on #947
@dlongley wrote:

Ok, Dave, I fully admit I'm a non-implementer. But I do have to read and understand technical specifications. So I just spent 20 minutes checking [the JSON-LD 1.1 specification](https://www.w3.org/TR/json-ld11/#the-context) about the rules for using `@context` statements and could not find any clear guidance there. So help me understand: if `@context` is not a signal that the con

[2022-11-02 20:42] dlongley commented on #947
@talltree,

The only time you definitely need a JSON-LD library is when you're verifying a Data Integrity Proof that uses RDF canonicalization. So that's the signal -- a specific DI proof type.

So, you either accept those types of proof or you don't. And, most people handle proof verification with an external library or service anyway. It's a different layer from their actual consumption of the V

[2022-11-03 01:38] jimschoening1 commented on #963
@OR13 Orie,

	Here are a few ontology classes from Common Core Ontology, which resolve to an interim server.

http://www.ontologyrepository.com/CommonCoreOntologies/designativename
http://www.ontologyrepository.com/CommonCoreOntologies/biologicalsex
http://www.ontologyrepository.com/CommonCoreOntologies/citizen
http://www.ontologyrepository.com/CommonCoreOntologies/bus

The IEEE interim PURL serve

[2022-11-03 01:43] jimschoening1 commented on #963
All are invited to this open meeting Wed 9th:

IEEE Ontology Standards Working Group Kick-Off Meeting

Meeting Link: https://ieeesa.webex.com/ieeesa/j.php?MTID=m0a1580902fd731e8a143c652bdf97a15

Wednesday, Nov 9, 2022 1:00 pm | 1 hour | (UTC-04:00) Eastern Time (US & Canada)
Meeting number: 2338 835 9801
Password: kUQ2J8Dquf6
Agenda: 1.	Call to Order
2.	Introductions and Affiliation Declarations
a

[2022-11-03 14:12] OR13 commented on #953
Here is an example of exactly the problem that this proposal will address:

- https://github.com/microsoft/VerifiableCredentials-Verification-SDK-Typescript/blob/master/tests/TokenGenerator.ts#L62

`EcdsaSecp256k1VerificationKey2019` is not defined in `https://w3id.org/did/v1`

Also, the context is not correct, it should be `https://www.w3.org/ns/did/v1`

Notice that `www.w3.org` is W3C controllin

[2022-11-03 14:20] OR13 commented on #947
I fear folks advocating for removing `@context` in the next W3C TR for Verifiable Credentials may not have considered the alternatives, or I have not yet heard from the folks arguing to destroy semantic interoperability why they cannot achieve their current desires with the standards that are available today, and have been in use by industry for years.

Why is a new standard needed to "secure JWTs

[2022-11-03 17:55] mprorock commented on #947
This seems very sane to me - we utilize JOSE especially in areas where we do not require linked data and semantics along side a well defined version and structure for the signed data - everywhere else we use VCs as defined in the spec

[2022-11-03 18:07] decentralgabe commented on #947
The VCDM defines a set of terms that are useful, that's why we use it. The point is to alter the definition of "what a VC is" to include those using the terms in the VCDM without `@context`.

[2022-11-03 18:18] OR13 commented on #947
I can read the issue title :)

My point is that this is a bad idea, and that you can already sign JWTs that don't include a context today.

I don't see this issue doing anything helpful for interoperability or users, or W3C Standards... Because its asking for permission to do something that you can already do today.

Also, checkout this cool video about how graph analysis is helping secure softwar

[2022-11-03 18:20] decentralgabe commented on #947
I can sign a JWT today, but will it be considered a VC? That's the key part. A Verifiable Credential is a Verifiable Credential because of the terms in it, and the implications of how it should be handled and processed, whether or not there is a `@context` property.

[2022-11-03 18:22] OR13 commented on #947
I think you are missing the point.

A W3C Verifiable Credential is a set of claims an issuer makes about a subject that is secured with a proof format.

`@context` is required to help provide semantic interoperability.

A JWT is a set of claims an issuer makes about a subject that is secured with a JSON Web Signature.

`@context` is optional.

[2022-11-03 18:26] decentralgabe commented on #947
and I think it's a better world with

A W3C Verifiable Credential is a set of claims an issuer makes about a subject that is secured with a proof format. (VC-JWT or Data Integrity Proof)

@context is an optional to enable semantic interoperability.

[2022-11-03 18:32] dlongley commented on #947
@decentralgabe,

First, I think names are free -- people call things whatever they want, but that doesn't change what those things are. A rose by any other name would smell as sweet, etc. Why is "the name you call it" what matters to you?

My view is that names are used to enable better communication. So if something functions in a different way, it should probably be given a different name.

[2022-11-03 18:34] OR13 commented on #947
Why is it important to be allowed to call a vanilla JWT a "W3C Verifiable Credential" ?

How is using 2 different words for the same thing helping?

[2022-11-03 18:52] jimschoening1 commented on #963
@OR13 Casey Rock (who took over the US Army Ontology Program when I retired) and I agree your code can point to anything we can post.   The IEEE interim PURL server should be ready for testing any day now, so we will set up things up there so it works for this type of use.   Also, the ontologies will probably be switching to opaque identities (but where the ontology tools provide the labels in var

[2022-11-03 18:52] peacekeeper commented on #947
Let's be honest.. The term "Verifiable Credential", unlike "JWT", currently has high marketing and business value. So there's some non-technical incentive to call all kinds of technologies "Verifiable Credential".

I am not insinuating that this is the only factor in play here. If there is actually some solid explanation how non-@context-VCs and ACDC-VCs and ISO-mdoc-VCs and Anoncreds-VCs and othe

[2022-11-03 19:07] decentralgabe commented on #947
Let's not harp on the name alone. It's a motivation, but not the only one. The more important motivation is what I said earlier, and what the name means:

The VCDM tells me what a `credentialSubject` is, how to construct it, and how to process it. the VCDM tells me what an `expirationDate` is how to construct it, and how to process it. Same for each and every other normative and non-normative prop

[2022-11-03 20:45] gannan08 commented on #947
@decentralgabe

Agreed. We shouldn't only harp on the marketing value of "Verifiable Credential".  However, it is an important dimension that is in play and should not be ignored.

A Verifiable Credential is a Verifiable Credential because it adheres to the normative requirements found in the specification. Sure, one could remove the `@context` property and assert it's similar to a VC, but they wo

[2022-11-03 20:56] decentralgabe commented on #947
Just as others have said: it advocates for a method of semantic processing and extensibility that some find unnecessary. Those that don't wish to use it shouldn't need to include such a property.

[2022-11-03 23:03] nadalin commented on #947
I think that the automotive manufacturers would  so totally disagree. Many cars have failed in countries where the name matters.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Dave Longley ***@***.***>
Sent: Thursday, November 3, 2022 11:32:43 AM
To: w3c/vc-data-model ***@***.***>
Cc: Anthony Nadalin ***@***.***>; Mention ***@***.***>
Subject: Re: [w3c/vc-d

[2022-11-03 23:12] gannan08 commented on #947
@decentralgabe

1. Semantic Processing

I agree that if the spec required all implementers, both JSON-LD and JSON-only, to pull in a JSON-LD library into all of their implementations, then that would be unnecessary. That is not the case. We have an implementer earlier state that the inclusion of `@context` does not encumber their JSON-only implementation.

What I fail to understand is how the foll

[2022-11-03 23:37] mark-moir commented on #947
@OR13 says:

From what I can tell, [RFC7515](https://www.rfc-editor.org/rfc/rfc7519) says nothing about enabling Selective Disclosure.  This may be addressed to some degree by [Selective Disclosure for JWTs (SD-JWT)](https://www.ietf.org/id/draft-ietf-oauth-selective-disclosure-jwt-01.html).  However, unlinkability is [explicitly out of scope](https://www.ietf.org/id/draft-ietf-oauth-selective-dis

[2022-11-03 23:41] decentralgabe commented on #947
Great, if it's not necessary I won't include `@context`, cool?

I agree extensibility is necessary, I don't think requiring `@context` to do it is the only way to do it. I don't even think the spec needs to provide all possibilities for extensibility -- it already doesn't! There are a number of ecosystems that utilize properties not defined in the spec (that work), and others that can rely on regi

[2022-11-03 23:45] OR13 commented on #947
The section of the VCDM you are referring to was written at a time when only Hyperledger Indy Anonymous Credentials were considered... And as you can see, the associated proof format never made it into the spec... It doesn't really reflect the state of the art now that sd-jwt and jwp and the new JOSE WG might improve on what JOSE supports... I am eager to ensure the JOSE WG at IETF applies these m

[2022-11-04 00:33] mark-moir commented on #947
@OR13

The argument seems to have shifted from "what you want already exists and works well" to "what you want might exist in future, and I hope so", which is less compelling :smile:.

Furthermore, unlinkable selective disclosure is an aspect I see as important, but maybe other aspects are most important to others.  For another example, the VCDM has explicit treatment of [Presentations](https://ww

[2022-11-04 00:39] OR13 commented on #947
I'm not sure I understand your point.

JWTs don't support selective disclosure or unlinkability.

SD-JWT adds support without requiring a context.

You don't need to use sd-jwt or jwp with verifiable credentials, and you won't be able to unless the WG adopts support for them, similar to how we support vc-jwt today.

The layering of IETF standards on W3C standards is best when the layers are clear,

[2022-11-04 01:56] decentralgabe commented on #947
The exact point of a new _major version_ of any specification is to have the ability to make breaking changes.

This is a nonsensical argument. With this line of reasoning you'd expect every payload on the internet to have a `@context` property, but that's clearly not the case and things work fine, right? Even at the W3C, how many specifications require a `@context` property? I'm guessing less tha

[2022-11-04 03:29] gannan08 commented on #947
Noted.

No, I do not expect every payload on the internet to have `@context`. The explanation given was the answer to: _Why can't LD processors add in a `@context` property to enable interop with JSON only credentials if they want this capability?_

In short, it doesn't work.

What is your solution for LD processors that works?

I don't want to mischaracterize your position. You are saying that th

[2022-11-04 03:52] mark-moir commented on #947
Thanks  @OR13

Indeed.  My initial comment responded to you asking the following question, which is specifically about JWT ([RFC7515](https://www.rfc-editor.org/rfc/rfc7519)):

I raised unlinkable selective disclosure as a potential answer to that question.

Yes, but not unlinkable selective disclosure, so I still don't see a compelling argument that anyone who's interested in the VCDM but (for wh

[2022-11-04 03:53] decentralgabe commented on #947
@gannan08

Given that there are already credentials that add `@context` because the spec requires it, but do not wish to do JSON processing, then it seems like forcing "interop" by adding a `@context` is a fraught effort. It would be simpler to not have credentials that do not intend to be processed as LD not include the `@context` property.

Yes, not only that a sub-group won't use it (and alread

[2022-11-04 15:37] dlongley commented on #947
@decentralgabe,

"If some people don't want to use feature X, it should be optional" is an argument that fails to consider the trade offs of making things optional. Optionality harms interoperability. If the people who don't want to use `@context` and refuse to explore a compromise where the WG provides an `@context` for them where their VC can be read without a JSON-LD library, then it seems to m

[2022-11-04 17:24] David-Chadwick commented on #947
@decentralgabe `"it seems like forcing "interop" by adding a @context is a fraught effort. `
Either you want interop or you do not. I am not sure what your position is, so it would be helpful if you could state it please.
If you do not want interop then why are you in this working group?
If you do want interop (which I would hope is the case) then can you please suggest an alternative technical so

[2022-11-04 19:59] melvincarvalho commented on #947
Fully understanding how `@context` works is quite a heavy lift for a developer.  Probably 1000 pages of reading, to understand everything, any maybe even several 1000 pages

It can also introduce http dependencies which might not suit some systems

For those that want to JSON, then they have to explain how they will canonicalize that json, before signing

I wonder: would a simple solution of using

[2022-11-04 20:15] decentralgabe commented on #947
@dlongley

I'm getting mixed messages. Some [are saying](https://github.com/w3c/vc-data-model/issues/947#issuecomment-1302910494) that adding a `@context` to a non-LD credential does not work, and you're saying it does. Let's distinguish between _forcing_ interoperability in a _specific_ manner and _enabling_ interoperability in a generic manner. The current specification allows for those who do n

[2022-11-04 21:08] msporny commented on #947
@decentralgabe, thank you for taking the time to put the previous post together. I know it must have taken quite a bit of effort to get all the references and think through the points you were making. Thank you, also, for ending with a set of technical proposals (even if re-stated) for how the `make @context optional` portion of your proposal would work. :)

I will start by noting that these are a

[2022-11-04 21:39] msporny commented on #947
@decentralgabe wrote:

Great! Wonderful! Concrete proposals we can analyze! I'll just ask questions on how you intend to solve certain problems and see where this takes us.

## A W3C registry or An IANA registry

* Are these two different things or the same thing? That is, do they function in any meaningfully different way?
* Can we just call this "A registry that humans read to understand how to

[2022-11-04 22:03] dlongley commented on #947
@decentralgabe,

Thank you very much for your response. I know you invested considerable time into writing it. I'll have more to say later, but you mentioned this:

All of the above comments have either already been responded to or they are restatements of comments previously made (in this thread) and responded to already. This is the point I was making in my previous comment: In order for the con

[2022-11-05 03:09] decentralgabe commented on #947
Thank you both @msporny and @dlongley for your replies. At the least I'm gaining a better understanding of both of your positions and how context works in the VCDM, I appreciate you both breaking it down for me. I'm going to do a bit more learning about JSON-LD and how semantic operability works before I form my next response to the great questions Manu raised in response to my proposal.

Before I

[2022-11-05 04:38] dlongley commented on #947
@decentralgabe,

Thanks again for the response! I'll take each numbered item as I have time. Here's the first:

Since the 1.0 work, we've discovered that the term "JSON-LD processing" has led to confusion. I have raised this myself in some issues and on some WG calls. Using a definition that is different from what the authors intended leads to contradiction within the spec -- as you mentioned. So,

[2022-11-05 20:49] selfissued commented on #947
@decentralgabe wrote:

and:

I believe both of these comments get to the heart of the matter.  `@context` isn't necessary for a data structure to be a Verifiable Credential.  For the benefit of developers and to increase the reach of Verifiable Credentials, we should decouple whether something is a Verifiable Credential and whether it uses JSON-LD.  It's a simple change that it's time to make.

[2022-11-05 22:21] David-Chadwick opened #972 "Strawman for Increasing Interop"
There are considerable discussions about whether the `@context` property should be mandatory or not. Regardless of the outcome of this, I believe that both camps would like to achieve interop between their products if at all possible. This issue proposes one way forward. Its a stawman that can easily be shot down in flames, or propped up with metal scaffolding, as you wish. Constructive criticism

[2022-11-05 22:56] jandrieu commented on #947
I agree that this is the crux of the matter: confusion about what a Verifiable Credential is and potentially confusion about W3C process.

VCs today require `@context`. As such, your statement that "`@context isn't necessary for a data structure to be a Verifiable Credential" is false. Verifiable Credentials ARE necessary for a data structure to be a Verifiable Credential.

Please note the proper

[2022-11-06 00:18] talltree commented on #972
@David-Chadwick Interestingly, I was talking with Sam Smith yesterday and he suggested a very similar solution. He called it a "two layer data model". The first layer, as you described, consisted of a set of fixed properties that would appear in all types (or what you call "interop models") of VCs. The second layer would have type-specified properties and use type-specified extensibility models, j

[2022-11-06 00:28] selfissued commented on #972
Thanks for the thoughtful contribution to the discussion, @David-Chadwick . This has significant merit.

[2022-11-06 00:40] talltree commented on #947
@jandrieu The definition of "verifiable credential" from the VC 1.0 and 1.1 specs:

So, to be completely accurate:

1. The term "verifiable credential" is a generic noun (meaning not capitalized) that can (and does) apply to any credential meeting that definition.
2. The only legitimate way to turn it into a proper noun would be to prefix it with the brand "W3C", i.e., "W3C Verifiable Credential".

[2022-11-06 01:41] decentralgabe commented on #947
Agreed, interoperability is the crux of the issue.

We can’t remove `@context` because the spec mandates semantic interoperability, and LD is the tool to do that. The spec mandates LD or context processing, which relies on LD’s mechanisms existing in every part of the ecosystem. Removing context gives us no reasonable option to fulfill the specification’s current requirements.

Before we can remov

[2022-11-06 12:41] melvincarvalho commented on #947
@decentralgabe I like the direction you are heading with this, but it probably requires more detail to become a workable solution.  eg answering some of Manu's specific questions

As a Linked Data evangelist for over 10 years, I have a lot of experience helping developers get started and working with RDF.  The devX is a hard one, and there are quite a few pain points.  One of the major one is crea

[2022-11-06 16:11] jandrieu commented on #947
@talltree said:

I hate to be the grammar police here, Drummond, but in English, words are only capitalized when they are either the first word in a sentence or a proper noun. As such "Verifiable Credential" is a proper noun, with or without the term W3C.

If you are in a context where there are other, specific, recognized definitions of a different kind of formally defined "Verifiable Credential"

[2022-11-06 16:31] talltree commented on #947
@jandrieu I find it fascinating that you are arguing the exact opposite of the definition — and even the _capitalization_ — [contained in very specification you are citing](https://www.w3.org/TR/vc-data-model/#terminology). See section 2, second definition:

[2022-11-06 16:33] jandrieu commented on #947
That's a fine definition for a "verifiable credential".

That's not a proper noun.

"Verifiable Credential" is a proper noun. And is defined by the specification, not by that glossary entry for the generic term.

That definition makes my case, @talltree.

[2022-11-06 17:05] msporny commented on #947
@talltree wrote:

The specification is meant to be interpreted as a whole, not by choosing sentences in it that support an argument and ignoring other sentences that work against an argument. Cherry-picking sentences from the specification, out of context, rarely leads to a compelling argument.

For the others in this thread that might be new to "how to interpret specifications", there is usually

[2022-11-06 19:18] dhh1128 commented on #947
@dlongley wrote:

I accept that this is an accurate summary of the intentions of the preponderance of the authors -- and in fact, it matches what I always assumed. However, I want to point out that what Dave is asserting here is tribal knowledge, not spec text. Given that we don't have spec text that embodies the clarification, that's the best we can do at present. Fair enough. However, I want to

[2022-11-06 21:37] dlongley commented on #947
These terms, IMO, create a false narrative. For example, it could also be said that the way to build the "biggest tent" is to say "anything goes, do whatever you want". After all, if you don't do that, you're leaving someone out of the tent.

So just talking about the tent doesn't get into how anything practically functions -- and talking that way risks coming across as just virtue-signaling about

[2022-11-06 23:05] melvincarvalho commented on #947
@dlongley to clarify:  personally I see JSON-LD and JSON being the serializations of interest.  I interpret your feedback as saying that we cant make too drastic changes to an existing system.  If so, hearing you loud and clear.

What I'm personally tracking in this issue is an improved devX for JSON based systems.  Any incremental simplifications are something, I'll follow with interest.

[2022-11-07 02:50] andorsk opened #973 "more clarity around the `id` field in the VC data model"
The example https://www.w3.org/TR/vc-data-model/#identifiers gives the following description for id:

with an example `http://example.edu/credentials/3732` which doesn't dereference into anything meaningful.

As an implementer, I'm struggling to figure out exactly what type of data the ID field should dereference to and what the recommendation is on it.

It would be helpful to provide more clarity

[2022-11-07 15:14] melvincarvalho commented on #972
When I first looked at this, I thought it a slightly unusual approach.  But the more I stare at it, the more it grows on me.

JSON-LD parsers would need to change how they fetch the context e.g.

[code]
becomes

[code]
This *might* be a big ask.  I am unsure.

Slight nit is that "type" is traditionally used to be a Thing.  And here it's pointing to a document.  The naming and the exact values migh

[2022-11-07 15:26] Sakurann commented on #844
I think this can be closed in light of #913

[2022-11-07 15:26] #844 closed

[2022-11-07 15:41] brentzundel commented on #778
No comments since marked pending close, closing

[2022-11-07 19:51] decentralgabe commented on #947
@msporny some starting answers to your questions. I'd like to note I'm certainly not an expert on most of these points so I need some help refining them and improving my understanding.

## A W3C registry or An IANA registry

For the sake of the proposal let's consider them the same thing. Where the registry is hosted can be viewed as an implementation detail.

I imagine the registry follows a simi

[2022-11-08 00:13] bumblefudge commented on #973
Note also [this example](https://github.com/WebOfTrustInfo/rwot11-the-hague/blob/master/draft-documents/verifiable-endorsements-from-linked-claims.md#combined-linked-claim---a-verifiable-endorsement) of a URN (in this case a UUID) rather than a URL `id` prop.  If you really wanted to get 🌶️ spicy 🌶️  you could even use an IPFS CID for that identifier, whether as a URN or as an [ipfs:// URL](https:

[2022-11-08 02:01] andorsk commented on #973
yea..thanks @bumblefudge. To your point, if it just said: provide an ID for the VC, I wouldn't have raised this issue.

My 🌶️  take is that an id field makes sense, but the id field being used as a descriptor to me makes less sense 🙇 . I would almost think you need to break this out into two fields:

1. an id which is just a unique identifier. with a recommendation that the id be a did. ( after al

[2022-11-08 05:08] iherman commented on #947
Just a minor remark, @decentralgabe, related on JSON Schemas.

It is great that there is now an IETF draft for schemas, but it is still a draft. This means we cannot normatively rely on them for now. (B.t.w., I have recently worked with JSON Schema, and it made me realize that the latest draft has breaking changes in them, which is a red flag.) Much as I like schemas, at this moment I would sugges

[2022-11-08 10:41] melvincarvalho commented on #973
I may be wrong here, but from a simple reading of the text:  In the example given there is some JSON and an HTTP URI

HTTP URI: `http://example.edu/credentials/3732`

json:

[code]
Would it make sense to just return the JSON above from that HTTP URI?

[2022-11-08 11:47] melvincarvalho commented on #972
@David-Chadwick possible refinement?

[code]

[2022-11-08 12:50] David-Chadwick commented on #972
In your example the type serves no useful purpose as it is always the same. It is the info that is now being used to differentiate. So I do not see any value in your changes. Furthermore the VC DM says that types must be a URI

[2022-11-08 13:30] aljones15 commented on #973
For revocation lists the id must return the list itself. Quite often the id
of a VC should be a did that when resolved returns the block the VC is in
on a ledger.

On Tue, Nov 8, 2022, 05:42 Melvin Carvalho ***@***.***> wrote:

[2022-11-08 16:44] andorsk commented on #973
@melvincarvalho thanks for the thoughts, but I agree with @aljones15 that it shouldn't be dereferencing to the actual document. I would suggest a change to the language of the document, and still possibly a new `description` field.

The language to me should be probably something like this:

Instead of:

a suggestion would be something along the lines of this:

Unless there's some enforceable prop

[2022-11-08 18:29] TallTed commented on #966
+1

[2022-11-08 18:38] TallTed commented on #957
I would call that a bug.  Such a claim *might* be a "bearer-claim", but I do not think the bearer is the only possible implicit subject.  I can conceive of, for instance, a scenario where the VC says (in pseudo code) "the entity with value `x` for property `y` also has value `q` for property `r`" where each value of property `y` is only ever associated with a single individual.

[2022-11-08 19:30] TallTed commented on #962
@OR13 -- That needs an open issue (could reopen this one) and/or a PR so it happens, rather than just a note in a now-closed issue.

[2022-11-08 19:48] TallTed commented on #959
I submit that this issue is less about "Clarification needed on the ease of deducing that a subject is the holder" and more about "Clarification needed on how a verifier can deduce whether the holder/presenter is a/the subject of a VC/VP; and when/whether an issuer should rely on such verifier deduction or should use explicit identifiers for all statements/claims in a VC" (possibly needing some fu

[2022-11-08 20:08] TallTed commented on #971
This implies that there is only ever one VC holder, who presents a VP to a verifier.  There is no allowance in this framing for holder-(or issuee)-to-holder-...-to-holder-(or presenter) transfer, which has been discussed and agreed to be a legitimate part of the VC/VP ecosystem many times.

I'm confident you'll immediately agree that my complicated transfer is legit.

I hope you'll also agree that

[2022-11-08 21:36] handrews commented on #947
Please note that there are other [W3C projects](https://json-schema.org/blog/posts/w3c-wot-case-study) using JSON Schema, so you may wish to look at how they have dealt with this.  The JSON Schema release process is [changing](https://json-schema.org/blog/posts/future-of-json-schema) which will get some parts (the media type registration) to IETF RFC status in the near future, and other parts mana

[2022-11-08 22:00] csuwildcat commented on #947
I'll just say this: the notion we can't use/reference one of the most universally accepted schema definition/evaluation mechanisms due to process nits is not compelling in the least. JSON Schema is used and relied upon by the vast majority of the Fortune 1000 in mission critical production deployments, and I mean literally: NASA even uses JSON Schema in its codebases. If anything, this indicates a

[2022-11-08 22:16] TallTed commented on #953
Not quite. `w3id.org` is controlled by the [W3ID Consortium](https://w3id.org/#management).  Lots more details are at <https://w3id.org/>, such as —

[2022-11-08 22:32] TallTed commented on #963
Boy-oh-boy (no pun intended), is `biologicalsex` fraught with peril.  How are `F` and whatever alternative values exist defined?  I'm pretty sure they planned to handle entities assigned "Female" (XX) or "Male" (XY) at birth (though I bet they don't actually require that the chromosomes be checked), but what about [XXY, X](https://www.scientificamerican.com/article/q-a-mixed-sex-biology/), and oth

[2022-11-08 22:42] tplooker commented on #953
Yes there is it just requires a JSON-LD processor able to detect that the term expansion is using this default vocab

Kind of, just because the default exists, it doesn't mean everyone has to use the default. There are many standards that can be cited that have used this strategy to great affect. See OpenID Connect Core and FAPI as one such example, the constrains applied by FAPI to the protocol r

[2022-11-08 23:52] handrews commented on #947
@csuwildcat this is really an artifact of the kind-of bizarre history of JSON Schema.  The group that started it appears to have mostly handed off to a second group after draft-03.  That group collapsed acrimoniously after draft-04, leaving the project nearly abandoned for several years.  The current team (myself included) picked it up in 2016 and then had a bit of a learning curve to figure out w

[2022-11-09 01:24] jimschoening1 commented on #963
Ted,

        Yes, this is a sensitive topic, so let’s seek consensus using the standardization process.  Here’s how:

1.	Review how IEEE P3195.1 Common Core Ontology (in draft) defines ‘biological sex’ at www.ontologyrepository.com/CommonCoreOntologies/biologicalsex <http://www.ontologyrepository.com/CommonCoreOntologies/biologicalsex>
2.	Propose your edits by creating a Gitlab issue at https://o

[2022-11-09 03:57] mark-moir commented on #947
[I'm following up on previous discussion with @OR13, starting with [this comment](https://github.com/w3c/vc-data-model/issues/947#issuecomment-1302792573) and ending with [this one](https://github.com/w3c/vc-data-model/issues/947#issuecomment-1302925253).  I think we talked past each other a bit, and I haven't seen any response to the last comment.  However, after more reading and thinking, I hope

[2022-11-09 05:27] decentralgabe commented on #933
I've made some significant changes to the latest draft, and opened up a number of issues which I could use help with. Those interested please take a look at the draft and issues and consider making a contribution: https://w3c-ccg.github.io/vc-json-schemas/

Some thoughts / questions:
- How is this specification progressed? Is the CCG still the right place?
- How do we refer to this and other speci

[2022-11-09 05:32] msporny commented on #947
@handrews wrote:

Yes, and this is exactly the point. No standards body is built to easily cope with referencing a spec that has been abandoned multiple times AND has multiple variations of it out in the wild (no matter how much "market uptake" it has). I think it's great that @handrews and team has picked up the flag and is running with it -- more power to those brave folks and best of luck to th

[2022-11-09 05:58] msporny commented on #947
@decentralgabe wrote:

Gabe, I'm going to take your response in parts to hopefully focus on each approach you're outlining.

Ok, so with this proposal, so far we have some human readable document on the Internet that developers are going to read and write code based upon what is said in the registry (or the specifications it points to). A few more questions:

* Is there one registry or more than o

[2022-11-09 06:33] msporny commented on #947
Why do you think we are not supportive of private uses of Verifiable Credentials? There are multiple active proposals on doing just that in #953.

To put this another way, you say "it's important to capture that two or more parties agree on terms and use them", so how does one party signal to the other party that they're using a specific type of Verifiable Credential?

Do you think the problem tha

[2022-11-09 07:45] RieksJ commented on #957
I agree. The formal semantics for claims without a `credentialSubject.id` is that the claim is made about some (further unspecified) entity that the issuer knows to exist. Whether or not that would be the bearer is pure speculation.

[2022-11-09 07:47] RieksJ commented on #959
The RWOT paper that @awoie and some others (including me) are writing will have some. Perhaps @awoie can make a (reviewable) version of the document available?

[2022-11-09 08:05] RieksJ commented on #919
Can anyone provide a convincing case in which a piece of evidence could NOT be expressed as (a set of) regular claims, which could therefore be placed in the section that contains these claims (rather than in a separate `evidence` section)?

[2022-11-09 12:20] David-Chadwick commented on #971
Of course I agree that any entity can pass on a VC to any other entity. But the point is that an entity that never presents a VC to anyone else is never known by the outside world to be the holder. i.e. it never performs the holder role. So the holder (role) is always the role played by the entity that presents the VC to the verifier (role) and the only entity that ever plays this role. Likewise t

[2022-11-09 12:27] David-Chadwick commented on #959
@RieksJ "deducing that a subject is the holder" is not always the best (or correct) thing to do.
What a verifier needs to know primarily is, "Is the current holder the same entity (the issuee) that the issuer originally gave the VC to". If you only concentrate on subject=holder then you omit use cases of animal lover holding the VC of their pet, parent holding the VC of their child etc. After chec

[2022-11-09 12:32] David-Chadwick commented on #957
I agree. There are many ways of binding a VC to a subject without needing a cryptographic ID. The issuer might include the name and address and passport number of the subject in the subject's properties, which might require the holder to present their passport to the verifier at the same time as the VC.

[2022-11-09 13:54] RieksJ commented on #959
@David-Chadwick, I very much agree that "deducing that a subject is the holder" is not always the best (or correct) thing to do.  In fact, I think that from the perspective of a holder this is what (s)he thinks that the verifier is doing (e.g. Alice wants to enroll for a course that Bob gives), but if you look at it from the verifier's perspective, (s)he usually couldn't care less about who the ho

[2022-11-09 13:55] melvincarvalho commented on #947
@msporny quick question:  hypothetically speaking, could such work, referencing JSON Schema, be suitable for the [note track](https://www.w3.org/standards/types#notes)?

[2022-11-09 14:49] msporny commented on #947
@melvincarvalho wrote:

Yes, because there is nothing normative in a NOTE track document. I'll also mention that there is no Intellectual Property protection nor consensus required for a NOTE track document. So, the "alternative" mechanism wouldn't carry any normative weight.

[2022-11-09 16:14] decentralgabe commented on #919
@RieksJ to flip the question - what in your mind would necessitate a new section? why not put `issuer`, `credentialStatus`, or `expiryDate` in the claims section too?

[2022-11-09 16:47] handrews commented on #947
@msporny I'll address more points and lay out how I (personally, not speaking for the JSON Schema org) recommend thinking about JSON Schema standardization for the next few months later today, but I want to note one thing immediately:

There has only been one abandonment, which was between `draft-zyp-json-schema-04` (Jan 2013) and `draft-wright-json-schema-00` (Oct 2016).  After that point, it's b

[2022-11-09 17:24] handrews commented on #947
BTW this is what IETF "Informational" RFCs are for.  We have considered publishing JSON Schema that way, and may eventually publish parts of it in that format.  It would be suitable for something like [`"$ref"` and closely related functionality](https://github.com/json-schema-org/referencing) that has interoperability considerations well beyond JSON Schema, and therefore would benefit from the gre

[2022-11-09 17:38] iherman commented on #947
(Again, more of an admin comment).

Can we, please, put the JSON Schema question aside (possibly into a separate issue)? This is already a mega-thread with around 200 comments on a single question: should we make the `@context` optional in VCs. The possibility of using JSON Schemas as an alternative is _**not**_ part of the original question, it was only mentioned in https://github.com/w3c/vc-data

[2022-11-09 17:43] msporny commented on #947
@csuwildcat wrote:

It wasn't a "chess move" -- it was attempting to articulate some of the problems that will be thrust upon the VCWG if we try to take one of the paths that @decentralgabe is proposing, SOMEONE and possibly quite a few of us will have to fight for this, on top of everything else we're doing in the group. It will require A LOT of work w/o a stable JSON Schema reference. OR, we cou

[2022-11-09 17:53] decentralgabe commented on #947
@msporny: a reply to [your comment here](https://github.com/w3c/vc-data-model/issues/947#issuecomment-1308249221)

Yes!

One. I'm going to pre-empt the "but this is centralized" argument by stating that you could make the same case for the VCDM being centralized. If the registry is done right, it can enable decentralization. By this I mean the registry should have a simple set of rules so that _an

[2022-11-09 18:10] decentralgabe commented on #947
@msporny: a reply to [your comment here](https://github.com/w3c/vc-data-model/issues/947#issuecomment-1308249221)

I'm glad to see these proposals. Let's go back to ice cream. Telling cone-eaters that you support them eating ice cream cones as long as they use a spoon does _tecnically_ support them eating their cone, but really they would rather not use a spoon. There are multiple types of "suppor

[2022-11-09 19:29] longpd commented on #919
Evidence can take many forms. It could be simply an example of code written or a paper published relevant to credential. In an education/training use case the credential would be an achievement (a diploma in k12, a degree in HE, etc). In a self-asserted credential it may be a capability that has been learned on-the-job, and evidence, again self-asserted included, or [hashlinked ](https://github.co

[2022-11-09 19:55] TallTed commented on #972
s/`stawman`/[`strawman`](http://dbpedia.org/resource/Straw_man)/g

[2022-11-09 20:16] msporny opened #974 "Adopt and publish StatusList2021 as an `credentialStatus` extension"
During the 2022-11-09 telecon,[ it was suggested](https://www.w3.org/2022/11/09-vcwg-minutes.html) that we need to reference a concrete extension specification for the `credentialStatus` property. It was suggested that we do the following things:

1. Adopt the [Status List 2021](https://w3c-ccg.github.io/vc-status-list-2021/) specification from the Credentials Community Group as the first of many

[2022-11-09 20:18] decentralgabe opened #975 "Move the VC Extension Registry to this Working Group"
There is an existing [VC Extension Registry](https://w3c-ccg.github.io/vc-extension-registry/) in the CCG.

It could be beneficial to move this registry in the VCWG to give it an elevated status, resulting in the registry being an official method of extension for the WG. This does not need eliminate the CCG registry, but could open a path for CCG registered items to 'advance'.

[2022-11-09 20:35] sbutterfield commented on #934
+1 to this
Happy to help you if needed @decentralgabe

[2022-11-09 20:43] sbutterfield commented on #933
Interesting. Thus, requiring an array of schemas for a credential, right?

Some other open thoughts -
Should any schema be allowed to be a remote schema? How or should there be a guarantee of the integrity of the schema definitions relative to the properties that it's meant to describe?

Maybe this is not relevant for this idea you have here, @decentralgabe?

I'd be happy to help with this as well

[2022-11-09 20:52] decentralgabe commented on #934
thanks @sbutterfield I will put out a draft PR and add you as a reviewer with @David-Chadwick

[2022-11-09 21:01] decentralgabe commented on #933
yes! this would require a change here

What do you mean by remote? I imagine it points to a URI, which is likely always remote. For integrity....can you expand on what you mean a bit? the draft I have has a section on signing over the credentials. There is a section on interop with JSON-ld which may speak to the interop you're referring to.

[2022-11-09 21:07] Sakurann commented on #890
@David-Chadwick to review PR on issue #934 in the light of this requirement and propose a concrete text in schemas advanced concepts section if any. once those are done, will mark pending-close

[2022-11-09 21:08] David-Chadwick commented on #933
I think the credentialSchema property should be an array because there is no one standard JSON schema validation language. So each element in the array will point to one JSON schema definition and will name the JSON schema language that is used to validate it.

[2022-11-09 22:02] sbutterfield commented on #933
Yes, I was thinking remote = URI in my head. Maybe it was a better question in my head than said out loud. Certainly, a property `credentialSchema` that is an array of URIs makes logistical sense. One reason for the 'remote' question lends itself to my second question about schema integrity....
It seems like a desirable security feature (to me) to have a schema(s) referral via URI be an immutable

[2022-11-09 22:19] TallTed commented on #890
@SmithSamuelM -- Please return once more to https://github.com/w3c/vc-data-model/issues/890#issuecomment-1294163332 and edit it to wrap ***each and every*** instance of `@context` in backticks (``` ` ```), becoming ``` `@context` ``` in your edit panel, so that that GitHub user ceases to receive pings for every update to this thread in which they are not a willing participant.  (You've already don

[2022-11-09 22:30] decentralgabe commented on #950
Related to #933 agree this should be adjusted to support multiple schemas

[2022-11-09 22:45] decentralgabe commented on #972
This nicely addresses the concerns and suggestions I've raised in #947. I like the proposal and am supportive of it.

[2022-11-09 23:31] msporny commented on #975
+1 to move the VC Extension Registry to this group. There is no need to have two registries, this group should be managing the registry from now on. /cc CCG Chairs @mprorock @man4prez @kwlinson

[2022-11-09 23:45] msporny commented on #971
Digital Bazaar is supportive of vc-jose, feels like a much cleaner mapping than vc-jwt. There are some questions we have -- such as what signing algorithm is used, if there is a canonicalization step, how many values are allowed in the signature field, whether the entire payload is base64-encoded, etc. There are also a few concerns we have, such as the media-types needing a `+jose` extension (or s

[2022-11-10 01:33] decentralgabe commented on #933
@sbutterfield

Agreed

Yes also agreed. I intend for [this spec](https://w3c-ccg.github.io/vc-json-schemas/#credential_schema_proof) to be used to sign schemas which are remote.

[2022-11-10 07:00] RieksJ commented on #959
@David-Chadwick It's clear enough that there are lots of cases where a verifier needs to establish that 'holder=subject'. I'm looking for cases where the verifier needs to establish 'holder=issuee'.

In your example, hospital departments issue VCs that I gather contain claims of which the subject-id is the same as that in the NHC patient VC. Even if they would issue such VCs only to the patient, I

[2022-11-10 09:01] iherman commented on #839
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-11-09-vcwg#section2-3) on 2022-11-09

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 2.3. PresentationSchema for VPs (issue vc-data-model#839)

_See github issue [vc-data-model#839](https://github.com/w3c/vc-data-model/issues/839)._

**Kristina Yasuda:** lets tackle

[2022-11-10 09:01] iherman commented on #934
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-11-09-vcwg#section2-1) on 2022-11-09

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 2.1. Define JSON Schemas for all objects in the VCDM (issue vc-data-model#934)

_See github issue [vc-data-model#934](https://github.com/w3c/vc-data-model/issues/934)._

**Gabe Cohe

[2022-11-10 09:01] iherman commented on #890
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-11-09-vcwg#section2-4) on 2022-11-09

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 2.4. credentialSchema and Selective Disclosure (issue vc-data-model#890)

_See github issue [vc-data-model#890](https://github.com/w3c/vc-data-model/issues/890)._

**Kristina Yasuda

[2022-11-10 09:01] iherman commented on #933
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-11-09-vcwg#section2-2) on 2022-11-09

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 2.2. Define a standard way to use Credential Schemas for Credential Subjects (issue vc-data-model#933)

_See github issue [vc-data-model#933](https://github.com/w3c/vc-data-model/is

[2022-11-10 11:32] David-Chadwick commented on #959
@RieksJ You are correct for the hospital use case that I provided above. But if we extend the use case to that of a patient being incapacitated or unable to use the Internet and/or smart phone, and delegates this to a trusted person to act on their behalf, then in this case the issuer would validate that the trusted person is allowed to receive the patient's VC (e.g. by power of attorney in the UK

[2022-11-10 14:11] msporny commented on #966
We could call for objections on the next call, and if there aren't any, implement the new redirect.

[2022-11-10 14:25] awoie commented on #975
+1

[2022-11-10 14:57] nadalin commented on #975
Are you suggesting that this be a note or a specification, was not clear from your suggestion.

From: Gabe ***@***.***>
Sent: Wednesday, November 9, 2022 12:19 PM
To: w3c/vc-data-model ***@***.***>
Cc: Subscribed ***@***.***>
Subject: [w3c/vc-data-model] Move the VC Extension Registry to this Working Group (Issue #975)

There is an existing VC Extension Registry <https://w3c-ccg.github.io/vc-exten

[2022-11-10 22:56] TallTed commented on #963
I might have thought what I wrote above would be sufficient for anyone already involved with the IEEE Onotology work to raise such an issue, but I've now done [that work for you](https://opensource.ieee.org/cco/CommonCoreOntologies/-/issues/156).

[2022-11-10 23:07] TallTed commented on #963
@jimschoening1

The page you linked does not say anything about future meetings.  Please confirm whether by "1300 EDT and monthly" you mean "1300 ET, the second Wednesday of every month"?